Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

improve table styling, add outbound links
  ab-testing/frontend/src/lib/components/OphanLink.svelte
  ab-testing/frontend/src/lib/components/TestVariants.svelte
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
Owners: none

fix formatting issues
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/lib/components/OphanLink.svelte
  ab-testing/frontend/src/lib/components/TestVariants.svelte
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

fix file naming
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

prettier fixes
  ab-testing/abTest.ts
  ab-testing/frontend/src/lib/components/table.svelte
Owners: none

delete unused files, update README
  .gitignore
  ab-testing/abTest.ts
  ab-testing/frontend/.gitignore
  ab-testing/frontend/.npmrc
  ab-testing/frontend/README.md
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/lib/index.ts
  ab-testing/frontend/static/favicon.png
  ab-testing/types.ts
Owners: @guardian/dotcom-platform

Add xcust param containing referrer to skimlinks
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
Owners: none

fix style lint, remove duplication, hide logo and vert line less than leftCol
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

used unusual media query to ensure older mobiles accommodated, reduce padding on old cta
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

move layout of old button up a layer, tweaks to make work
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth

Create a `MainMediaGallery` component (#13992)
  dotcom-rendering/src/components/MainMediaGallery.stories.tsx
  dotcom-rendering/src/components/MainMediaGallery.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/image.ts
  dotcom-rendering/src/types/article.ts
Owners: none

tidy - move around and rename
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

add padding to close button after tablet, tweak to header with image to line up
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

new release
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

fix old button container background, tidy and move
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

lock
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

move all css into svelte files for single file build
  .gitignore
  ab-testing/frontend/deno.lock
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/routes/+layout.svelte
  ab-testing/frontend/src/routes/+layout.ts
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
  ab-testing/frontend/svelte.config.js
Owners: @guardian/dotcom-platform

Override idUrl config via loadPageWithOverrides
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Throw error if IDAPI_CLIENT_ACCESS_TOKEN env var not available
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Setup local server profile.thegulocal.com
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

CI secure server setup
  .github/workflows/playwright.yml
  dotcom-rendering/scripts/nginx/nginx-mappings-ci.yaml
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Add IDAPI_CLIENT_ACCESS_TOKEN env var lookup to GHA
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

e2e sign in
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Check secure server status in workflow step
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Set identity domain depending on the environment
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Sign in test goes back to original article
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

Signed in e2e test
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: none

Add useSecure flag to page-load
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: @guardian/dotcom-platform

Move BASE_URL into playwright.config
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
Owners: @guardian/dotcom-platform

Fix CI nginx setup script
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/setup-ci.sh
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Use fetchAndLoadPageWithOverrides to override idUrl
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
Owners: @guardian/dotcom-platform

Add editions app docs to dev server (#13974)
  dotcom-rendering/src/devServer/docs/available.tsx
  dotcom-rendering/src/devServer/docs/editionsCrosswords.tsx
  dotcom-rendering/src/devServer/routers/editionsApp.ts
Owners: none

add MastHead to the GalleryLayout (#13988)
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Reset error and preview body.
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Owners: none

handle missing main media on gallery articles
  dotcom-rendering/src/frontend/feArticle.ts
  dotcom-rendering/src/types/article.ts
Owners: none

update article schema
  dotcom-rendering/src/frontend/schemas/feArticle.json
Owners: none

Add xcust param containing referrer to skimlinks
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
Owners: none

Pass through 'none' if referrer is empty
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Improve ticker animation (#13973)
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Adds the rendering set up for the HideMobileHighlights test.
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Owners: none

Fix video container size to video size
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
