Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

identify unused another banner component
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
Owners: @guardian/growth

Update the button state colours
  dotcom-rendering/src/components/ListenToArticleButton.tsx
Owners: none

moving the article design check outside of div for sindication button
  dotcom-rendering/src/components/SubMeta.tsx
Owners: none

squash commits
  .github/workflows/ab-testing.yml
  ab-testing/frontend/src/lib/components/TableFixed.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: @guardian/dotcom-platform

improve validation
  .github/workflows/ab-testing.yml
  ab-testing/scripts/validation/validExpiration.ts
Owners: @guardian/dotcom-platform

change riffraff project name
  .github/workflows/ab-testing.yml
Owners: @guardian/dotcom-platform

Bump,libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

initial migration of current server-side tests
  ab-testing/existingAbTests.ts
Owners: none

add sole current client-side test
  ab-testing/existingAbTests.ts
Owners: none

add gallery story for sub meta
  dotcom-rendering/src/components/SubMeta.stories.tsx
Owners: none

fix typo
  dotcom-rendering/src/components/SubMeta.tsx
Owners: none

use transparentColour for rgba colouring
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix background color for stories
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
  dotcom-rendering/src/components/SubMeta.stories.tsx
Owners: none

Remove links to specific cricket pages
  dotcom-rendering/src/devServer/docs/cricketScorecard.tsx
Owners: none

Add Cricket Docs To Dev Server (#14097)
  dotcom-rendering/src/devServer/docs/cricketScorecard.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add editions crosswords to pages router (#14095)
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

docs updates, workflow permissions fix
  .github/workflows/ab-testing.yml
  ab-testing/README.md
Owners: @guardian/dotcom-platform

update ui readme
  ab-testing/frontend/README.md
Owners: none

add footer to gallery layout
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Delete `ImmersiveLayout`
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Owners: none

Address PR comments
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/Picture.tsx
Owners: none

Playwright: balance shards on CI with fullParallel
  dotcom-rendering/playwright.config.ts
Owners: @guardian/dotcom-platform

vite@7.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

set type:module in package.json
  dotcom-rendering/package.json
Owners: @guardian/dotcom-platform

wip
  dotcom-rendering/package.json
  dotcom-rendering/src/server/lib/get-content-from-url.ts
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.ts
  dotcom-rendering/stub-empty.js
  dotcom-rendering/vite.config.js
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

fix the background colours for gallery
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

WIP
  dotcom-rendering/.vscode/settings.json
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/lib/decideTrail.ts
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Bump @guardian/libs to latest version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

mark as unused, highlight potential keeper sections
  dotcom-rendering/src/components/marketing/banners/common/PaymentCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardsSupportCta.tsx
Owners: @guardian/growth

Console statement
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Owners: @guardian/growth

also notice this is not used anywhere - marked as unused
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
Owners: @guardian/growth

Update bridget version
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Pass the pageId to meta component
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: none

Include the listen to article button
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
Owners: none

Update the stories
  dotcom-rendering/src/components/ListenToArticleButton.stories.tsx
Owners: none

Run linter
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
Owners: none

flag more unused
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Owners: @guardian/growth

Football nav atom for euros
  dotcom-rendering/src/components/FootballNavAtom.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/footballNavAtom.ts
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/feFootballNavAtom.ts
  dotcom-rendering/src/frontend/feFootballTablesPage.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Bump @guardian/libs to latest version (#14153)
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none
