Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Ran prettier which should fix build
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

add atom to football matches list
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/lib/unifyPageContent.tsx
Owners: none

re generate schema to include the atom in football matches and tables data
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
Owners: none

Add link name tracking on buttons and component tracking on the video container
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Hide button when paused
  dotcom-rendering/src/components/ListenToArticleButton.stories.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
Owners: none

Update to express@5.1.0 @types/express@5.0.1
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Use named pattern match for GET requests
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

add style to the content of euro 2025 atom
  dotcom-rendering/src/components/FootballNavAtom.tsx
  dotcom-rendering/src/lib/unifyPageContent.tsx
Owners: none

Fix apps-rendering README.md install dependencies instructions
  apps-rendering/README.md
Owners: @guardian/dotcom-platform

Upgrade apps-rendering express compression
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update apps-rendering to express@5.1.0 @types/express@5.0.1
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix apps-rendering deleted express handler methods
  apps-rendering/src/server/server.ts
Owners: @guardian/dotcom-platform

Fix dev routes
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Fix apps-rendering routes
  apps-rendering/src/server/server.ts
Owners: @guardian/dotcom-platform

move interface to more uesful place before deleting otherwise unused file
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
Owners: @guardian/growth

delete unused code
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardsSupportCta.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Owners: @guardian/growth

add story for table with euro atom
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
Owners: none

refactor to address pr comments
  dotcom-rendering/src/components/FootballNavAtom.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
Owners: none

Bump libs
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Revert "Football nav atom for women's euros 2025"
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/components/FootballNavAtom.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/footballNavAtom.ts
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/feFootballNavAtom.ts
  dotcom-rendering/src/frontend/feFootballTablesPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Tidy up
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
  dotcom-rendering/src/components/ListenToArticleButton.stories.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
Owners: none

move headline css override into component and use source typography equivalent
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
Owners: @guardian/growth

chore(storybook): add missing stories for sign in gate auxia
  dotcom-rendering/fixtures/manual/sign-in-gate.ts
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
Owners: none

Add a nav for football competitions
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/FootballCompetitionNav.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionNav.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
Owners: @guardian/dotcom-platform

Pass media atom ID through via loop video model
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/mainMedia.ts
Owners: none

Add component event view tracking when the video first comes into view
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Use atom id rather than video id
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

embed separate margins into existing, remove style lint issues
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
Owners: @guardian/growth

fix mobile headline size
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
Owners: @guardian/growth

rename DesignableBannerCtasV2 to DesignableBannerCtas and fix import
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
Owners: @guardian/growth

delete files for PaymentCards and useReminders as unused
  dotcom-rendering/src/components/marketing/banners/common/PaymentCards.tsx
  dotcom-rendering/src/components/marketing/hooks/useReminder.ts
Owners: @guardian/growth

Remove incorrect apostrophe
  dotcom-rendering/src/components/FootballCompetitionNav.tsx
Owners: none

setup to fetch from localhost
  dotcom-rendering/src/components/TagPageAI.importable.tsx
  dotcom-rendering/src/components/TagPageHeader.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Owners: none

Make video ophan web tracker more agnostic
  dotcom-rendering/src/components/YoutubeAtom/eventEmitters.ts
Owners: none

Track first play of the video to indicate that the autoplay has begun
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Add missing video context indicator
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Owners: none

add missing dependencies to use effect
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

generate schemas
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
Owners: none

Remove hide trails experiment
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/types/front.ts
Owners: none

Rename Youtube video event name
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
