Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Fix padding above ads on fronts
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/front.ts
Owners: none

Move from img to background url on div for svg images on gutter support ask (#14056)
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
  dotcom-rendering/src/components/marketing/gutters/utils/storybook.ts
Owners: @guardian/growth

Tidy up. Removing redundant code
  .github/workflows/playwright-secure.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: @guardian/dotcom-platform

Revert "Tidy up. Removing redundant code"
  .github/workflows/playwright-secure.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: @guardian/dotcom-platform

container hash
  .github/workflows/playwright-secure.yml
Owners: @guardian/dotcom-platform

add light and dark mode support for article meta web
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

remove choice card config from main image story
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

remove choice card config from main image story (#14080)
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

Extend text content width of immersive youtube cards
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
Owners: none

adds default story
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

adds default story (#14083)
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

Add article docs to dev server
  dotcom-rendering/src/devServer/docs/article.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

fix branding colouring for light and dark Co-authored-by: Jamie B <53781962+JamieB-gu@users.noreply.github.com>
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix comment count colouring for gallery Co-authored-by: Jamie B <53781962+JamieB-gu@users.noreply.github.com>
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Added meta component to galleries for apps
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Use `colourSchemeBackground` parameter
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
Owners: none

Add fronts docs to dev server
  dotcom-rendering/src/devServer/docs/front.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
Owners: none

Add tag page docs to dev server
  dotcom-rendering/src/devServer/docs/tagPage.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add front docs to pages router
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add interactive docs to dev server
  dotcom-rendering/src/devServer/docs/interactive.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Lint fix
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add newsletters docs to dev server
  dotcom-rendering/src/devServer/docs/newsletters.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add editions crosswords to pages router
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add football docs to dev server
  dotcom-rendering/src/devServer/docs/footballFixtures.tsx
  dotcom-rendering/src/devServer/docs/footballLive.tsx
  dotcom-rendering/src/devServer/docs/footballMatchSummary.tsx
  dotcom-rendering/src/devServer/docs/footballResults.tsx
  dotcom-rendering/src/devServer/docs/footballTables.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add cricket docs to dev server
  dotcom-rendering/src/devServer/docs/cricketScorecard.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Address PR review comments
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
Owners: none

Fix CI nginx setup script
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/setup-ci.sh
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

CI secure server setup
  .github/workflows/playwright.yml
  dotcom-rendering/scripts/nginx/nginx-mappings-ci.yaml
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Add useSecure flag to page-load
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: @guardian/dotcom-platform

e2e sign in
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Add IDAPI_CLIENT_ACCESS_TOKEN env var lookup to GHA
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Signed in e2e test
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: none

Move BASE_URL into playwright.config
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
Owners: @guardian/dotcom-platform

Throw error if IDAPI_CLIENT_ACCESS_TOKEN env var not available
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Set identity domain depending on the environment
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Separate signed-in and signed-out tests
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
  dotcom-rendering/playwright/tests/signed-out.e2e.spec.ts
Owners: none

Setup local server profile.thegulocal.com
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Use fetchAndLoadPageWithOverrides to override idUrl
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
Owners: @guardian/dotcom-platform

Expand isSignedIn test
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

load-page fetches article json if not present in overrides
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none
