Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

remove commented out section
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

dependency tweak
  ab-testing/frontend/package.json
Owners: none

CI speedup: turn off mandb updates as they can take up to ~30s
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

forgot some details in config example
  ab-testing/README.md
Owners: none

propose initial AB test shape
  ab-testing/README.md
  ab-testing/abTest.ts
Owners: none

add example of config output
  ab-testing/README.md
Owners: none

separate types, replicate examples from current client- and server-side tests
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

We don't need the offset as the build step can manage allocation/overlaps
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

basic deno setup and variant overlap check
  ab-testing/.vscode/settings.json
  ab-testing/abTest.ts
  ab-testing/scripts/validation.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
Owners: none

Expand on the readme and add the VCL (#13823)
  ab-testing/README.md
  ab-testing/ab-test.vcl
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

draft the readme
  ab-testing/README.md
Owners: none

delete unused files, update README
  .gitignore
  ab-testing/abTest.ts
  ab-testing/frontend/.gitignore
  ab-testing/frontend/.npmrc
  ab-testing/frontend/README.md
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/lib/index.ts
  ab-testing/frontend/static/favicon.png
  ab-testing/types.ts
Owners: @guardian/dotcom-platform

Add working details to README
  ab-testing/README.md
  ab-testing/docs/config-build-example.md
Owners: none

further validations and tests
  ab-testing/scripts/validation.ts
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/limitServerSide.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/validExpiration.ts
  deno.lock
Owners: @guardian/dotcom-platform

[AB Testing PoC] Build ab-testing config into key-values (#13897)
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/docs/config-build-example.md
  ab-testing/scripts/build/build-ab-tests-dict.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/build/index.ts
  ab-testing/scripts/lib.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: @guardian/dotcom-platform

initial svg graph
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

tweak build process, trim unused files
  .gitignore
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.d.ts
  ab-testing/frontend/svelte.config.js
Owners: @guardian/dotcom-platform

overhaul svg structure
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
Owners: none

basic audience breakdown as table
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

prettier fixes
  ab-testing/abTest.ts
  ab-testing/frontend/src/lib/components/table.svelte
Owners: none

fix deno version issue
  .github/workflows/ab-testing.yml
Owners: @guardian/dotcom-platform

improve table styling, add outbound links
  ab-testing/frontend/src/lib/components/OphanLink.svelte
  ab-testing/frontend/src/lib/components/TestVariants.svelte
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
Owners: none

improve chart layout
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

css overhaul and general cleanup
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/src/lib/components/OphanLink.svelte
  ab-testing/frontend/src/lib/components/TestVariants.svelte
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
Owners: none

deployment setup
  .github/workflows/ab-testing.yml
  ab-testing/frontend/package.json
  ab-testing/riff-raff.yaml
Owners: @guardian/dotcom-platform

[AB Testing PoC] Add script to upload dictionaries (#13861)
  .github/workflows/ab-testing.yml
  .vscode/settings.json.required
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/deploy/env.ts
  ab-testing/scripts/deploy/fastly-api.test.ts
  ab-testing/scripts/deploy/fastly-api.ts
  ab-testing/scripts/deploy/index.ts
  ab-testing/scripts/deploy/read-built-dictionaries.ts
  deno.lock
Owners: @guardian/dotcom-platform

restore lost files, use new ab test shape
  ab-testing/abTest.ts
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/types.ts
Owners: none

set up sveltekit, very initial data setup
  ab-testing/frontend/.gitignore
  ab-testing/frontend/.npmrc
  ab-testing/frontend/README.md
  ab-testing/frontend/deno.lock
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.d.ts
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/lib/index.ts
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/favicon.png
  ab-testing/frontend/static/styles.css
  ab-testing/frontend/svelte.config.js
  ab-testing/frontend/tsconfig.json
  ab-testing/frontend/vite.config.ts
Owners: none

move all css into svelte files for single file build
  .gitignore
  ab-testing/frontend/deno.lock
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/routes/+layout.svelte
  ab-testing/frontend/src/routes/+layout.ts
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
  ab-testing/frontend/svelte.config.js
Owners: @guardian/dotcom-platform

fix file naming
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

fix formatting issues
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/lib/components/OphanLink.svelte
  ab-testing/frontend/src/lib/components/TestVariants.svelte
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

set up github actions to run initial test validation flows
  .github/workflows/ab-testing.yml
  ab-testing/.vscode/settings.json
  ab-testing/abTest.ts
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
Owners: @guardian/dotcom-platform

dependency tweak
  ab-testing/frontend/package.json
Owners: none

show test segment on bar hover
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/static/styles.css
Owners: none

fix test name issues
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/validExpiration.test.ts
Owners: none

fix failing steps
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
Owners: @guardian/dotcom-platform

improve build action
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
Owners: @guardian/dotcom-platform

set width as minmax doesnt have the desired effect
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Resume video when it comes back into view
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Refactor to use player state instead of multiple state variables.
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none
