Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Set liveUpdatesPosition to be inner and liveUpdatesAlignment to be vertical for boosted and megaboosted standard cards in a flexible general
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

add MastHead to the GalleryLayout
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Allow POST routes in the dev server for local frontend to communicate with local DCR (#13975)
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

vertical line in fixed position relative to standard article
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

install newly released versions of libs and commercial
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Include survey ad slots in other pages (#13953)
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
Owners: none

Disable AMP if either of the switches are off
  dotcom-rendering/src/components/Elements.amp.tsx
Owners: none

remove Prebid vendor (#13894)
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

main layout done, remove comments, just tweaks now
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Fix comparison
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Add ratePlan to choice cards ids
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

fix selected check
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

add bottom margin to article count, comments
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Update ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
Owners: none

update error message
  ab-testing/scripts/build/build-mvt-dict.ts
Owners: none

use 'A' and 'B' for audienceSpace
  ab-testing/abTest.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: none

Update ab-testing/types.ts
  ab-testing/types.ts
Owners: none

use number to id test spaces
  ab-testing/abTest.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: none

better module names
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/build/build-ab-tests-dict.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/build/index.ts
Owners: none

update tests
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
Owners: none

update test
  ab-testing/deno.lock
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
Owners: none

build step
  ab-testing/abTest.ts
  ab-testing/scripts/build/ab-tests.ts
  ab-testing/scripts/build/index.ts
  ab-testing/scripts/build/mvts.ts
  ab-testing/scripts/build/mvts2.test.ts
  ab-testing/scripts/lib.ts
  deno.lock
Owners: @guardian/dotcom-platform

update expiry
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
  ab-testing/deno.json
  deno.lock
Owners: @guardian/dotcom-platform

adjust how tests can overlap
  ab-testing/abTest.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: none

rework to use audienceOffset
  ab-testing/abTest.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: none

update test comment
  ab-testing/scripts/build/build-mvt-dict.test.ts
Owners: none

update example config
  ab-testing/docs/config-build-example.md
Owners: none

[AB Testing PoC] Build ab-testing config into key-values (#13897)
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/docs/config-build-example.md
  ab-testing/scripts/build/build-ab-tests-dict.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/build/index.ts
  ab-testing/scripts/lib.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: @guardian/dotcom-platform

MainMediaGallery uses Picture component
  dotcom-rendering/src/components/MainMediaGallery.tsx
  dotcom-rendering/src/components/Picture.tsx
Owners: none

Revert dcr.code-snippets
  .vscode/dcr.code-snippets
Owners: @guardian/dotcom-platform

MainMediaGallery PortraitImage story
  dotcom-rendering/src/components/MainMediaGallery.stories.tsx
Owners: none

Dont show more on beta containers as this feature is deprecated
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
Owners: none

set up sveltekit, very initial data setup
  ab-testing/frontend/.gitignore
  ab-testing/frontend/.npmrc
  ab-testing/frontend/README.md
  ab-testing/frontend/deno.lock
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.d.ts
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/lib/index.ts
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/favicon.png
  ab-testing/frontend/static/styles.css
  ab-testing/frontend/svelte.config.js
  ab-testing/frontend/tsconfig.json
  ab-testing/frontend/vite.config.ts
Owners: none

restore lost files, use new ab test shape
  ab-testing/abTest.ts
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/types.ts
Owners: none

overhaul svg structure
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
Owners: none

css overhaul and general cleanup
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/src/lib/components/OphanLink.svelte
  ab-testing/frontend/src/lib/components/TestVariants.svelte
  ab-testing/frontend/src/lib/components/table.svelte
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
Owners: none

initial svg graph
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

show test segment on bar hover
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/static/styles.css
Owners: none

basic audience breakdown as table
  ab-testing/frontend/src/lib/components/AudienceBreakdown.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

improve chart layout
  ab-testing/frontend/src/lib/components/AudienceBreakdownSVG.svelte
  ab-testing/frontend/src/routes/+page.svelte
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
