Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Playwright lib sign-in.ts to perform sign
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

signed-in test
  dotcom-rendering/playwright/lib/secure-server.ts
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: none

nginx configuration for CI secure server
  dotcom-rendering/scripts/nginx/nginx-mappings-ci.yaml
  dotcom-rendering/scripts/nginx/setup-ci.sh
Owners: @guardian/dotcom-platform

Set window.guardian.isDev to true in all non-prod environments i.e. also in CI
  dotcom-rendering/src/model/guardian.ts
Owners: none

Add r.thegulocal.com to valid development hosts so assets load from the correct path
  dotcom-rendering/src/client/decidePublicPath.ts
Owners: none

Configure existing playwright workflow to filter on all non secure tests i.e *.e2e.spec.ts
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

playwright-secure workflow
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Explicitly set canPlayInline to false when the video is looping.
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Owners: none

Set if looping videos can play inline on a front (#14107)
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Owners: none

Add FallbackContainer component to group and render front cards in a fallback layout when the container type is not supported.
  dotcom-rendering/src/components/FallbackContainer.tsx
Owners: none

Hide trail text on small screens when in Hide Trail AB test
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/types/front.ts
Owners: none

wip
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FallbackContainer.tsx
Owners: none

set reminder text input to email input for validation
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminderSignedOut.tsx
Owners: @guardian/growth

set reminder text input to email input for validation (#14110)
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminderSignedOut.tsx
Owners: @guardian/growth

Run `disableArticleSwipe` Bridget function on DCAR app interactives
  dotcom-rendering/src/components/InteractivesDisableArticleSwipe.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

Mock Bridget function
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
Owners: @guardian/dotcom-platform

Fix imports
  dotcom-rendering/src/components/InteractivesDisableArticleSwipe.importable.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

Rejig interactives `disableArticleSwipe` implementation
  dotcom-rendering/src/components/InteractivesDisableArticleSwipe.importable.tsx
Owners: none

Remove touchend parts
  dotcom-rendering/src/components/InteractivesDisableArticleSwipe.importable.tsx
Owners: none

Use libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Temporarily fixing test
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none

Add a fallback container that renders 25% width cards in a rows of 4
  dotcom-rendering/src/components/FallbackContainer.tsx
Owners: none

Remove fixed/video and relevant rendering code
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/lib/renderElement.tsx
Owners: none

Remove mediapalette which was used exclusively with the fixed/video container
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/Kicker.stories.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.stories.tsx
  dotcom-rendering/src/components/StaticMediumFour.stories.tsx
  dotcom-rendering/src/lib/cardHelpers.ts
  dotcom-rendering/src/types/front.ts
Owners: none

Remove Podcast palette as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/Kicker.stories.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.stories.tsx
  dotcom-rendering/src/components/StaticMediumFour.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/cardHelpers.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/types/front.ts
Owners: none

Remove the fixed/small/slow-V-half container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallSlowVHalf.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVHalf.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove the dynamic/slow-mpu container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/model/groupCards.ts
Owners: none

Remove the fixed/medium/fast-XII container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXII.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove the dynamic/package container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/model/groupCards.ts
Owners: none

Remove the fixed/small/fast-VIII container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallFastVIII.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
Owners: none

Remove the fixed/small/slow-V-mpu container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove the dynamic/slow container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/components/DynamicSlow.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/model/groupCards.ts
Owners: none

Remove the dynamic/fast container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicFast.stories.tsx
  dotcom-rendering/src/components/DynamicFast.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/model/groupCards.ts
Owners: none

Remove unused slices, card types and dynamo styling as dynamic containers have has been deprecated and so these are no longer required by editorial.
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardCommentCount.importable.tsx
  dotcom-rendering/src/components/LatestLinks.importable.stories.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/Slideshow.stories.tsx
  dotcom-rendering/src/components/Slideshow.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
  dotcom-rendering/src/lib/dynamicSlices.tsx
Owners: none

Remove fixed/large/slow-XIV container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove fixed/small/slow-V-third container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove fixed/small/slow-I container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowI.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove fixed/small/slow-III container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove fixed/small/slow-IV container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove fixed/medium/slow-VI container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none
