Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Upgrade apps-rendering express compression
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update apps-rendering to express@5.1.0 @types/express@5.0.1
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix apps-rendering deleted express handler methods
  apps-rendering/src/server/server.ts
Owners: @guardian/dotcom-platform

Fix dev routes
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Fix apps-rendering routes
  apps-rendering/src/server/server.ts
Owners: @guardian/dotcom-platform

Use named pattern match for GET requests
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

remove DesignableBannerv2 references (#14184)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
Owners: @guardian/growth

updated to use LinkButton instead
  dotcom-rendering/src/components/ProductLinkButton.tsx
Owners: none

Hide trails on fronts on small screens
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
Owners: none

remove switch logic for DesignableBannerV2
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Owners: none

Update mediaAtom schema to match frontend (#14185)
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
Owners: none

Add link name tracking on buttons and component tracking on the video container
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

explicitly call clickComponent events on looping videos
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

add explicit clickComponent tracking for play and mute buttons on looping videos
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

update ophan tracker-js version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

feat(wip): new sign in gate auxia v1
  dotcom-rendering/src/components/AuthProviderButtons/AuthProviderButtons.tsx
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxiaV1.tsx
  dotcom-rendering/src/lib/routeUtils.ts
Owners: none

Naming fix
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Owners: none
