Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Remove legacy build
  .github/workflows/bundle-analyser.yml
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/client.web.legacy.mjs
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/makefile
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
Owners: @guardian/dotcom-platform

Limit banner height to 60vh if ios banner detected
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Alias React to Preact in client-side bundle only
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Fix Storybook play function
  dotcom-rendering/src/components/Crosswords.editions.stories.tsx
Owners: none

Remove network calls from validate tests
  dotcom-rendering/src/model/validate.test.ts
Owners: none

Shorten choice card benefits on desktop
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Add support for React bundle when in variant test
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Revert separate React built variant and use existing build variant
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

fix ticker in Storybook for DesignableBannerV2
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

Do not alias React to Preact in build variant
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

DEBUG: display React version for testing
  dotcom-rendering/src/components/TopBar.importable.tsx
Owners: none

dont need types or constants
  ab-testing/scripts/deploy/constants.ts
  ab-testing/scripts/deploy/types.d.ts
Owners: none

rename api module
  ab-testing/scripts/deploy/fastly-api.test.ts
  ab-testing/scripts/deploy/fastly-api.ts
Owners: none

read dict files from cli arg
  ab-testing/deno.json
  ab-testing/scripts/deploy/index.ts
  ab-testing/scripts/deploy/read-built-dictionaries.ts
  deno.lock
Owners: @guardian/dotcom-platform

fix weird array encode test
  ab-testing/scripts/deploy/fastly-api.test.ts
Owners: none

Remove legacy build
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
Owners: @guardian/dotcom-platform

Rename babelExclude to transpileExclude
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Remove Babel dependencies for dotcom-rendering
  dotcom-rendering/docs/resources.md
  dotcom-rendering/package.json
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/tsconfig.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Remove Babel cofiguration for dotcom-rendering
  dotcom-rendering/babel.config.js
Owners: @guardian/dotcom-platform

lint
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
Owners: @guardian/dotcom-platform

update libs and ophan dependencies
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix preview.code.dev-gutools.co.uk display of CODE Grid images
  dotcom-rendering/src/lib/image.ts
Owners: none

add pageId to frontend sports models (#13855)
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/fixtures/generated/football-live.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
Owners: @guardian/dotcom-platform

update libs and ophan dependencies (#13896)
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Alias React to Preact in client-side bundle only (#13893)
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Convert `get-content-from-url` to TypeScript (#13853)
  dotcom-rendering/src/server/lib/get-content-from-url.ts
Owners: @guardian/dotcom-platform

Backfilled cards should be treated according to their allocated group
  dotcom-rendering/src/model/groupCards.ts
Owners: none

WIP
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

fix long headline before desktop, image butting choice cards
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

implement football more button for when js is disabled
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Temporarily remove validation to allow new crossword data model
  dotcom-rendering/src/server/handler.editionsCrossword.ts
Owners: @guardian/dotcom-platform

Use newCrosswords data model
  dotcom-rendering/src/components/EditionsCrosswordPage.tsx
  dotcom-rendering/src/model/editions-crossword-schema.json
  dotcom-rendering/src/server/handler.editionsCrossword.ts
  dotcom-rendering/src/types/editionsCrossword.ts
Owners: @guardian/dotcom-platform

Switch back to Preact for server-side rendering
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Switch back to Preact for server-side rendering (#13901)
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

e2e sign in
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Editions crossword refactor
  dotcom-rendering/fixtures/manual/editionsCrossword.ts
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/client/main.editionsCrossword.tsx
  dotcom-rendering/src/components/Crosswords.editions.tsx
  dotcom-rendering/src/components/EditionsCrosswordPage.tsx
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/render.editionsCrossword.tsx
  dotcom-rendering/src/types/editionsCrossword.ts
Owners: @guardian/dotcom-platform

Show standfirst in youtube immersive feature cards
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

Adding new Filter Button component. The link opens in a new tab
  dotcom-rendering/src/components/ProductLinkButton.stories.tsx
  dotcom-rendering/src/components/ProductLinkButton.tsx
Owners: none

Remove not needed props
  dotcom-rendering/src/components/ProductLinkButton.tsx
Owners: none

Add byline to feature cards
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
