Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Main media
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/CaptionText.tsx
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/GalleryMainMedia.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/lib/image.ts
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Add merch ads, most viewed, and onwards upper
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Add submeta
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/GalleryMainMedia.tsx
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

additional deny url
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

refactoring
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Submeta and border styling tweaks
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

refactoring
  dotcom-rendering/src/components/SignInGate/displayRule.test.ts
  dotcom-rendering/src/components/SignInGate/displayRules.test.ts
  dotcom-rendering/src/components/SignInGate/displayRules.ts
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-control.tsx
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-guardian-live.tsx
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-saturday-edition.tsx
  dotcom-rendering/src/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-control.ts
  dotcom-rendering/src/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Refactor Flexible General stories
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
Owners: none

Run Chromatic for Dependabot PRs if `run_chromatic` label is present
  .github/workflows/dcr-chromatic.yml
Owners: @guardian/dotcom-platform

change format of build
  ab-testing/scripts/fastly/index.ts
  ab-testing/scripts/fastly/json.ts
Owners: none

improve test url assertions
  ab-testing/scripts/fastly/api.test.ts
Owners: none

rename script to deploy
  .github/workflows/ab-testing.yml
  ab-testing/deno.json
  ab-testing/scripts/deploy/api.test.ts
  ab-testing/scripts/deploy/api.ts
  ab-testing/scripts/deploy/constants.ts
  ab-testing/scripts/deploy/env.ts
  ab-testing/scripts/deploy/index.ts
  ab-testing/scripts/deploy/json.ts
  ab-testing/scripts/deploy/types.d.ts
Owners: @guardian/dotcom-platform

Fix issue with copy above heading and image in mobile breakpoints
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Replicate prior work
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
Owners: none

Update dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
Owners: none

Render labs header for DCAR interactive immersives
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
Owners: none

Legacy global stylings on web and apps
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
Owners: none

ab-testing action working-directory
  .github/workflows/ab-testing.yml
  ab-testing/deno.json
Owners: @guardian/dotcom-platform

Add "pages" and "targets" to dev server
  dotcom-rendering/src/devServer/docs/doc.tsx
  dotcom-rendering/src/devServer/docs/pages.tsx
  dotcom-rendering/src/devServer/docs/targets.tsx
  dotcom-rendering/src/devServer/routers/pages.ts
  dotcom-rendering/src/devServer/routers/targets.ts
  dotcom-rendering/src/devServer/send.tsx
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Add "targets" docs to dev server
  dotcom-rendering/src/devServer/docs/amp.tsx
  dotcom-rendering/src/devServer/docs/dotcom.tsx
  dotcom-rendering/src/devServer/docs/editionsApp.tsx
  dotcom-rendering/src/devServer/docs/liveApps.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/editionsApp.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/targets.ts
Owners: none

Changes to support configurable goal copy
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

Use latest react crossword for editions
  dotcom-rendering/fixtures/manual/editionsCrossword.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/client/main.editionsCrossword.tsx
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  dotcom-rendering/src/components/CrosswordLinks.tsx
  dotcom-rendering/src/components/Crosswords.editions.tsx
  dotcom-rendering/src/components/EditionsCrosswordPage.tsx
  dotcom-rendering/src/frontend/feArticle.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/render.editionsCrossword.tsx
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/editionsCrossword.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix numbers
  dotcom-rendering/fixtures/manual/editionsCrossword.ts
  dotcom-rendering/src/components/Crosswords.editions.stories.tsx
Owners: none

generate schemas
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/model/editions-crossword-schema.json
Owners: @guardian/dotcom-platform

Handle `<br>` elements in subheadings
  dotcom-rendering/src/components/SubheadingBlockComponent.tsx
Owners: none

Handle `<br>` elements in subheadings (#13874)
  dotcom-rendering/src/components/SubheadingBlockComponent.tsx
Owners: none

Add webm story for loops
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

dotcom-rendering @guardian/cdk@61.4.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Align DCR cdk peer deps aws-cdk@2.1007.0 aws-cdk-lib@2.189.0 constructs@10.4.2
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Align AR cdk peer deps aws-cdk@2.1007.0 aws-cdk-lib@2.189.0 constructs@10.4.2
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update apps-rendering snapshot
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
Owners: @guardian/dotcom-platform

Update user data to new API
  dotcom-rendering/cdk/lib/userData.ts
Owners: @guardian/dotcom-platform

set bash -ev options as cdk now creates the shebang
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/userData.ts
Owners: @guardian/dotcom-platform

apps-rendering @guardian/cdk@61.4.0
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update apps-rendering user data to new API
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
Owners: @guardian/dotcom-platform

Update snapshot
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
Owners: @guardian/dotcom-platform

rspack wip
  dotcom-rendering/package.json
  dotcom-rendering/src/server/lib/get-content-from-url.js
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.dev-server.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix typo
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Use express router in dev server (#13851)
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/webpack/webpack.config.dev-server.js
Owners: @guardian/dotcom-platform

hide the CTA container button between phablet and desktop
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
