Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Create AB test
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/stacked-carousels.ts
Owners: none

Fix banner url
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

remove log
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Merge pull request #14018 from guardian/tf-banner-url
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Added Invalid_chars to list of error codes
  dotcom-rendering/src/lib/discussion.ts
Owners: none

Update to @playwright/test@1.52.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Remove legacy perf test routes and handlers
  dotcom-rendering/makefile
  dotcom-rendering/scripts/perf/perf-test.js
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Remove redundant links on prod server default page
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Refactor dateline text colour
  dotcom-rendering/src/components/Dateline.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

figma might mean min width, fix position close button phablet
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

add padding-left to push out close button from leftCol
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Create function to parse preview response
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
Owners: none

Update handleError to accommodate preview request
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Owners: none

remove unnecessary, shift from ids to css parameters
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

tested and removed unnecessary comments
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

added bottom margin from phablet, removed top
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Prelude to the Ireland opening
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Banner layout simplification (#13959)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth

remove extraneous ids, duplication
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Fix burger menu to sub nav test
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
Owners: none

remove extraneous ids, duplication (#14026)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Update header levels to better distinguish test types (sever/client)
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
Owners: none

fix podcast image size flex gen
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

Remove the highlights test as this test has concluded
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

update article schema
  dotcom-rendering/src/frontend/schemas/feArticle.json
Owners: none

fix gallery grid layout for headline until tablet
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

handle missing main media on gallery articles
  dotcom-rendering/src/frontend/feArticle.ts
  dotcom-rendering/src/types/article.ts
Owners: none

add gallery headline
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

add grid-row to gallery headline and main media
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/MainMediaGallery.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

update gallery fixture
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Owners: @guardian/dotcom-platform

add dark mode colour for gallery headline
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Reset error and preview body. (#14002)
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
Owners: none

Remove fixed/video/vertical container from DCR
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Husky v9 migration changes
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  package.json
Owners: @guardian/dotcom-platform

Remove show/hide for users that are not signed in
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/ShowHideButton.tsx
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Remove fixed/video/vertical container from DCR (#14037)
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove the highlights test as this test has concluded (#14033)
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

avoid changing grid for smaller viewports
  dotcom-rendering/src/components/ArticleHeadline.tsx
Owners: none

Add gallery standfirst - in progress
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

apply dark mode for gallery standfirst and fix layout
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none
