Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Loop video fixes (#13966)
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

extract audio src into source element
  dotcom-rendering/src/components/AudioPlayer/AudioPlayer.tsx
Owners: none

Use template literal
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Only hide the highlights container on the uk front
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Owners: none

Add conditional `data-rendering-target="apps"` attribute
  dotcom-rendering/src/server/htmlPageTemplate.ts
Owners: @guardian/dotcom-platform

Limit to interactive articles on apps
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.article.apps.tsx
Owners: @guardian/dotcom-platform

Add ampersand
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Add the rendering set up for the HideMobileHighlights test (#14008)
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Owners: none

Retrieve abtests from config instead of lib
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Fix linting errors
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Owners: none

Hide mobile highlights test (#14012)
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

refactoring: renaming
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

update signature of decideAuxiaProxyReaderPersonalData
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

update AuxiaProxyGetTreatmentsPayload with hasConsented attribute
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Simplify SignInGateSelector
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Update link to React context ADR
  dotcom-rendering/README.md
Owners: @guardian/dotcom-platform

Dont show more on beta containers as this feature is deprecated (#13993)
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
Owners: none

Allow replacement videos on fronts (#13978)
  dotcom-rendering/fixtures/manual/highlights-trails.ts
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Owners: none

Update dotcom-rendering/src/components/InteractivesNativePlatformWrapper.importable.tsx
  dotcom-rendering/src/components/InteractivesNativePlatformWrapper.importable.tsx
Owners: none

Use official Bridget release, reduce scope
  dotcom-rendering/package.json
  dotcom-rendering/src/components/InteractivesNativePlatformWrapper.importable.tsx
  dotcom-rendering/src/components/NativePlatformWrapper.importable.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/lib/useNativePlatform.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update naming
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/NativePlatformWrapper.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  dotcom-rendering/src/lib/useNativePlatform.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Slightly less rough second pass
  dotcom-rendering/src/components/NativePlatformWrapper.importable.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/lib/useNativePlatform.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
Owners: @guardian/dotcom-platform

Rough first pass
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/getNativePlatform.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Add to `FullPageInteractiveLayout.tsx`
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
Owners: none

Fix Storybook interactive client mock API call
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
Owners: @guardian/dotcom-platform

tidying, removing unnecessary items
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Make choice cards pill colours configurable
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

tweak build process, trim unused files
  .gitignore
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.d.ts
  ab-testing/frontend/svelte.config.js
Owners: @guardian/dotcom-platform

Create affiliateLinksUtils file and move isSkimlink in there
  dotcom-rendering/src/components/TextBlockComponent.tsx
  dotcom-rendering/src/lib/affiliateLinksUtils.ts
Owners: none

Add check for invalid characters
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Owners: none

Use isSkimlink function in EnhanceAffiliateLinks
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Amend preview request response to get clearer error feedback.
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
Owners: none

Add maxLength to text area.
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Owners: none

Only add EnhanceAffiliateLinks island when affiliate links are present on page
  dotcom-rendering/src/components/ArticlePage.tsx
Owners: none

tidying, fix button alignment, simplify
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Use url from RRCP in banner
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Revert error for preview
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Owners: none

remove unnecessary comment, prettier fix
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Login via CODE and set GU_U cookie
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

add gallery headline
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none
