Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Skip commercial.e2e.spec.ts
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Owners: none

Update commercial.e2e.spec.ts
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Owners: none

Disable choice cards on banner if not VAT compliant
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Adapt solution to use CODE image-resizing service
  dotcom-rendering/src/lib/image.ts
Owners: none

Update CODE image domain
  dotcom-rendering/src/lib/image.ts
Owners: none

fix commercial playwright test
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Owners: none

fix commercial playwright test (#13911)
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Owners: none

Insert an extra ad on desktop fronts in certain conditions
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/frontsBannerAdExclusions.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Add mobile functionality and tests
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Replace unshift with early return
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Crop immersive youtube images to 5:3 with a top center offset
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
Owners: none

Don't show the main video if toggled off
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Add maybe byline to immersive youtube cards
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Owners: none

Add maybe byline to immersive youtube cards (#13914)
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Owners: none

remove test switch from highlights
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

remove test switch from highlights (#13917)
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Update hardcoded list of container ids.
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Owners: none

Add root view transition
  dotcom-rendering/src/lib/rootStyles.ts
Owners: none

Update hardcoded list of container ids. (#13915)
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Owners: none

Crop immersive youtube images to 5:3 with a top center offset (#13912)
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
Owners: none

Add view-transition-name: hero-image to Picture
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/rootStyles.ts
Owners: none

Add disclaimer below standfirst on mobile instead of inserting it inline
  dotcom-rendering/src/components/AffiliateDisclaimer.tsx
  dotcom-rendering/src/components/BodyArticle.amp.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhance-disclaimer.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Hash alt text to make image unique
  dotcom-rendering/package.json
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Add product details styling for some Filter articles
  dotcom-rendering/src/components/FilterProductDetailsComponent.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhance-filter-product-details.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/types/content.ts
Owners: none

Add disclaimer below standfirst on mobile instead of inserting it inline
  dotcom-rendering/src/components/AffiliateDisclaimer.tsx
  dotcom-rendering/src/components/BodyArticle.amp.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhance-disclaimer.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Styling
  dotcom-rendering/src/components/FilterProductDetailsComponent.tsx
Owners: none

Schemas
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/model/block-schema.json
Owners: none

Linting - use source colours
  dotcom-rendering/src/components/FilterProductDetailsComponent.tsx
Owners: none

Added product carousel
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/ProductCard.tsx
  dotcom-rendering/src/components/ProductCarousel.stories.tsx
Owners: none

Formatting for At a Glance
  dotcom-rendering/src/components/FilterAtAGlanceComponent.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhance-filter-at-a-glance.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/types/content.ts
Owners: none

Add placeholder element for Filter carousel
  dotcom-rendering/src/components/FilterCarouselComponent.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhance-H2s.ts
  dotcom-rendering/src/model/enhance-filter-carousel.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/types/content.ts
Owners: none

Added product carousel
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/ProductCard.tsx
  dotcom-rendering/src/components/ProductCarousel.stories.tsx
Owners: none

Insert ProductCarousel into Filter articles
  dotcom-rendering/src/components/FilterCarouselComponent.tsx
  dotcom-rendering/src/model/enhance-filter-carousel.ts
Owners: none

update expiry
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
  ab-testing/deno.json
  deno.lock
Owners: @guardian/dotcom-platform

update tests
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
Owners: none

build step
  ab-testing/abTest.ts
  ab-testing/scripts/build/ab-tests.ts
  ab-testing/scripts/build/index.ts
  ab-testing/scripts/build/mvts.ts
  ab-testing/scripts/build/mvts2.test.ts
  ab-testing/scripts/lib.ts
  deno.lock
Owners: @guardian/dotcom-platform

update test
  ab-testing/deno.lock
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
Owners: none

use number to id test spaces
  ab-testing/abTest.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: none

better module names
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/build/build-ab-tests-dict.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/build/index.ts
Owners: none

adjust how tests can overlap
  ab-testing/abTest.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
