Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Remove light font from opinion and cartoon cards, prefering the default medium weight instead.
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Owners: none

Improve ticker animation
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Add editions app docs to dev server
  dotcom-rendering/src/devServer/docs/available.tsx
  dotcom-rendering/src/devServer/docs/editionsCrosswords.tsx
  dotcom-rendering/src/devServer/routers/editionsApp.ts
Owners: none

Remove light font from opinion and cartoon cards, prefering the default medium weight instead. (#13972)
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Owners: none

remove acast url rewrite
  dotcom-rendering/src/components/AudioPlayerWrapper.importable.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
Owners: none

desktop and leftCol layout mostly working - needs tidy
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

some style lint fixes
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Update FE type to include an optional mediaSelect field containing showMainVideo: boolean; imageSlideshowReplace: boolean; videoReplace: boolean;
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
Owners: none

Support both models in enhance cards
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Prefer showVideo to showMainVideo to better represent the 2 variants (mainmedia video and replacement video)
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/types/front.ts
Owners: none

Update trail fixtures to use showVideo
  dotcom-rendering/fixtures/manual/highlights-trails.ts
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/fixtures/manual/trails.ts
Owners: none

modernise show-more-trails fixtures
  dotcom-rendering/fixtures/manual/show-more-trails.ts
Owners: none

Update logic that determines the value of media select properties
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Cooerce booleans for optional operator
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Prevent LogTreatmentInteraction with default gate
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

align grid-template-areas for ease of understanding
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

draft the readme
  ab-testing/README.md
Owners: none

fix deno version issue
  .github/workflows/ab-testing.yml
Owners: @guardian/dotcom-platform

forgot some details in config example
  ab-testing/README.md
Owners: none

further validations and tests
  ab-testing/scripts/validation.ts
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/limitServerSide.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/validExpiration.ts
  deno.lock
Owners: @guardian/dotcom-platform

Expand on the readme and add the VCL (#13823)
  ab-testing/README.md
  ab-testing/ab-test.vcl
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

fix test name issues
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/validExpiration.test.ts
Owners: none

basic deno setup and variant overlap check
  ab-testing/.vscode/settings.json
  ab-testing/abTest.ts
  ab-testing/scripts/validation.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
Owners: none

separate types, replicate examples from current client- and server-side tests
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

set up github actions to run initial test validation flows
  .github/workflows/ab-testing.yml
  ab-testing/.vscode/settings.json
  ab-testing/abTest.ts
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
Owners: @guardian/dotcom-platform

We don't need the offset as the build step can manage allocation/overlaps
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

propose initial AB test shape
  ab-testing/README.md
  ab-testing/abTest.ts
Owners: none

add example of config output
  ab-testing/README.md
Owners: none

[AB Testing PoC] Add script to upload dictionaries (#13861)
  .github/workflows/ab-testing.yml
  .vscode/settings.json.required
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/deploy/env.ts
  ab-testing/scripts/deploy/fastly-api.test.ts
  ab-testing/scripts/deploy/fastly-api.ts
  ab-testing/scripts/deploy/index.ts
  ab-testing/scripts/deploy/read-built-dictionaries.ts
  deno.lock
Owners: @guardian/dotcom-platform

remove override on colour of headline
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

remove unused brand import
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Update Elements.amp.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
Owners: none

Add 'type/crossword', 'type/audio', 'type/podcast',
  dotcom-rendering/src/components/Elements.amp.tsx
Owners: none

Fix banner headline colour override (#13985)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Disable amp link if amp switches are off
  dotcom-rendering/src/components/Elements.amp.tsx
Owners: none

Add working details to README
  ab-testing/README.md
  ab-testing/docs/config-build-example.md
Owners: none

reduce repetition of routes by using for all methods combined with regex of zero or more wildcards
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

add POST routes to allow local frontend to communicate with local DCR
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Revert "reduce repetition of routes by using for all methods combined with regex of zero or more wildcards"
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

remove Clippy :'(
  dotcom-rendering/src/components/ProductCard.tsx
Owners: none
