Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Remove fixed/medium/slow-VII container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove fixed/medium/fast-XI && fixed/medium/slow-XIIMPU container as this has been deprecated and is no longer required by editorial.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Remove unused card card wrappers and move card helper into cardWrappers
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
  dotcom-rendering/src/lib/dynamicSlices.test.ts
  dotcom-rendering/src/lib/dynamicSlices.tsx
Owners: none

Fix choice cards when same product listed twice (#13984)
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Remove show more as this is no longer required on collections
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
Owners: none

Bump libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

reorder preference of media atoms so that we try for maybeContent?.elements.mainMediaAtom first then mediaAtom and then mediaAtoms[0]
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

bump libs
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

round play percentage to 2 decimal places.
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
Owners: none

Remove default height and width
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Fix height and width for stories.
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Ensure video not display:inline, to correct height
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

adds in for loop to fetch the Skimlinks account id from the existing url to help data design with being able to tell the prod and test data apart
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Prevent content from shrinking
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
Owners: none

Use display::block for video
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Fix up some React keys in Flexible General
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

Revert content wrapper flex-shrink. Add flex-grow to loop video wrapper
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Owners: none

add gallery design for age warning
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Remove meda meta as this is no longer part of the design system and roll out pills to non-beta containers
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
Owners: none

Remove betaContainer check for waveform on podcast cards as this can be rolled out to all cards
  dotcom-rendering/src/components/Card/Card.tsx
Owners: none

Remove betaContainer check for waveform on podcast cards as this can be rolled out to all cards (#14124)
  dotcom-rendering/src/components/Card/Card.tsx
Owners: none

remove the trail that has branding from trail list if user is ad free
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Owners: none

Make default Loop Video story 5:4 aspect ratio. Rejig stories
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

include ad-slot-container class on apps ad slots
  dotcom-rendering/src/components/AdSlot.apps.tsx
  dotcom-rendering/src/components/AdSlot.web.tsx
Owners: @guardian/commercial-dev

Rejig DecideLayout for parity between DCAR immersives
  dotcom-rendering/src/layouts/DecideLayout.tsx
Owners: none

do not boost the headline when the live links are added
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Owners: none

image size should always be jumbo on flex special splash
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Owners: none

Remove unused type
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Owners: none

sign-in gate: update event value for sign-in link event
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
Owners: none

Correct the story name
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
Owners: none

feat: Update load balancer access logs prefix
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/renderingStack.ts
Owners: @guardian/dotcom-platform

Add article docs to dev server (#14084)
  dotcom-rendering/src/devServer/docs/article.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add Fronts Docs To Dev Server (#14091)
  dotcom-rendering/src/devServer/docs/front.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Add tag page docs to dev server (#14092)
  dotcom-rendering/src/devServer/docs/tagPage.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Flexible special design tweaks (#14128)
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Owners: none

removing the accountID as this isn't working on code
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Disable touch events on apps for interactive blocks
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

fixing build
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

inherit background colour on the choice cards
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
Owners: @guardian/growth

fix width of choice card container, remove lr margin
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth
