Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

mobile settings
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/utils/storybook.ts
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
  dotcom-rendering/src/components/marketing/lib/storybook.ts
Owners: @guardian/growth

fix test
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.test.tsx
Owners: @guardian/growth

html
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/lib/storybook.ts
Owners: @guardian/growth

Remove duplicate type
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/types/layout.ts
Owners: none

feature card imageSize prop should not be optional
  dotcom-rendering/src/components/FeatureCard.tsx
Owners: none

Send GU_mvt_id to SDC
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

correct copy
  dotcom-rendering/src/components/marketing/lib/storybook.ts
Owners: @guardian/growth

use mvtId
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Bump immersive card headline size from small to medium on desktop (#13819)
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

move logo to logical position
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

update copy
  dotcom-rendering/src/components/marketing/lib/storybook.ts
Owners: @guardian/growth

Remove benefitsLabel from recurring contribution on choice cards
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
Owners: @guardian/growth

Check secure server status in workflow step
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

fix showTicks
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Merge pull request #13940 from guardian/tf-fix-cc-copy
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

add mvtId to get-treatments payload
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

rename some things
  ab-testing/deno.json
  ab-testing/scripts/deploy/fastly-api.test.ts
  ab-testing/scripts/deploy/fastly-api.ts
  ab-testing/scripts/deploy/index.ts
Owners: none

update test expiration
  ab-testing/abTest.ts
Owners: none

liveblog storybook
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
Owners: @guardian/growth

[AB Testing PoC] Add script to upload dictionaries (#13861)
  .github/workflows/ab-testing.yml
  .vscode/settings.json.required
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/deploy/env.ts
  ab-testing/scripts/deploy/fastly-api.test.ts
  ab-testing/scripts/deploy/fastly-api.ts
  ab-testing/scripts/deploy/index.ts
  ab-testing/scripts/deploy/read-built-dictionaries.ts
  deno.lock
Owners: @guardian/dotcom-platform

enable bold on liveblog
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Owners: @guardian/growth

Update Audio Icon styles
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Update opacity of icons. Refactor progress bar
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Update new front dark mode: highlights container and feature cards
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

should_show_legacy_gate_tmp
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Dispatch non auxia audience legacy gate with a new selector
  dotcom-rendering/playwright/tests/sign-in-gate.e2e.spec.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Owners: none

Bump @guardian/libs to 22.4.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Bump commercial
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

remove extra padding on desktop
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
Owners: @guardian/growth

fix highlight text font-weight removed with text override
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/BannerText.tsx
Owners: @guardian/growth

make className more unique
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/BannerText.tsx
Owners: @guardian/growth

Update InteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

Designable banner refactor (#13795)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/BannerText.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

fix new stories
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

Make progress bar background opaque
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Only show progress bar and audio controls when video is playable
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

set up sveltekit, very initial data setup
  ab-testing/frontend/.gitignore
  ab-testing/frontend/.npmrc
  ab-testing/frontend/README.md
  ab-testing/frontend/deno.lock
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.d.ts
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/lib/index.ts
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/favicon.png
  ab-testing/frontend/static/styles.css
  ab-testing/frontend/svelte.config.js
  ab-testing/frontend/tsconfig.json
  ab-testing/frontend/vite.config.ts
Owners: none

Remove crossword dependency exception
  dotcom-rendering/scripts/env/check-deps.js
Owners: @guardian/dotcom-platform

decide_should_show_legacy_gate
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

linting
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none
