Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Color instead of colour
  dotcom-rendering/src/components/ProductCard.tsx
Owners: none

WIP
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
Owners: none

Update Flexible Special height. Loosen rules on inserting ad after first container.
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Assign a random hash for missing alt text
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
Owners: none

Don't show the scrollable highlights container
  dotcom-rendering/src/components/DecideContainer.tsx
Owners: none

Remove unsed root styles
  dotcom-rendering/src/lib/rootStyles.ts
Owners: none

Move view transition styles to lib
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/view-transition.ts
Owners: none

Add example keyframe animations
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/lib/rootStyles.ts
  dotcom-rendering/src/lib/view-transition.ts
Owners: none

WIP - auto populate
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
Owners: none

SPIN
  dotcom-rendering/src/lib/rootStyles.ts
  dotcom-rendering/src/lib/view-transition.ts
Owners: none

Added `ValuesWithChange` component
  dotcom-rendering/src/components/ElectionTrackers/StackedProgress.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Get buttons in right place
  dotcom-rendering/src/components/Carousel.importable.tsx
Owners: none

update error message
  ab-testing/scripts/build/build-mvt-dict.ts
Owners: none

fix ticker, copy below CTA below mobile breakpoints
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

`ChangeBars` election trackers component
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Finishing touches
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/FilterCarouselComponent.tsx
  dotcom-rendering/src/components/ProductCard.tsx
  dotcom-rendering/src/components/ProductCarousel.stories.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Owners: none

Use image hash instead of alt test
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/MostViewedRightItem.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/components/Picture.tsx
Owners: none

fade in
  dotcom-rendering/src/lib/rootStyles.ts
  dotcom-rendering/src/lib/view-transition.ts
Owners: none

update test comment
  ab-testing/scripts/build/build-mvt-dict.test.ts
Owners: none

WI
  dotcom-rendering/src/lib/rootStyles.ts
Owners: none

fix headline below body main image, remove extraneous parentheses, test svh over vh
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

bump commercial canary version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

use most up to date version of ophan-tracker-js
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

install canary version of libs
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

install beta commercial package with beta libs installed as sub dep
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

update commercial with latest libs canary
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

bump ophan-tracker-js dependency in dcr
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

bump version of support-dotcom-components
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

use types directly from ophan-tracker-js instead of from libs
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/LiveblogGutterAskWrapper.importable.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicArticleCountAboveWithOptOut.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicSignInCta.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminder.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
  dotcom-rendering/src/components/marketing/epics/utils/ophan.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  dotcom-rendering/src/components/marketing/shared/ArticleCountOptOutPopup.tsx
Owners: @guardian/growth

convert OphanAction, OphanComponentType and OphanComponent usage to TAction, TComponentType and ComponentEvent['component'] from ophan-tracker-js
  dotcom-rendering/src/components/Dropdown.importable.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/lib/acquisitions.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
Owners: @guardian/growth

remove unnecessary void statements
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Owners: none

fix linting
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
Owners: @guardian/growth

install new canary versions of libs and commercial
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix banner layout issues (#13889)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Fix banner cta stickiness
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

`Versus` election trackers component
  dotcom-rendering/src/components/ElectionTrackers/Versus.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/Versus.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

create duplicate cta file and remove Payment Cards
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth

use duplicate cta to not break existing, ensure sticky
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Update InteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

remove comment
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth
