Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Switch to object styles for fonts
  dotcom-rendering/src/components/ElectionTrackers/Versus.tsx
Owners: none

`Versus` Election Trackers Component (#13927)
  dotcom-rendering/src/components/ElectionTrackers/Versus.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/Versus.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

`ChangeBars` Election Trackers Component (#13921)
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Increases the size of the overlay on immersive cards to 268px and adjusts the content padding-right to 48px.
  dotcom-rendering/src/components/FeatureCard.tsx
Owners: none

Increases the size of the overlay on immersive cards to 268px and adjusts the content padding-right to 48px. (#14048)
  dotcom-rendering/src/components/FeatureCard.tsx
Owners: none

Testing proof of concept
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

insert a placeholder consent email element using the newletter placement function, if article has a magic tag
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/types/content.ts
Owners: none

get format from gallery type instead of props in gallery layout
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Add gallery standfirst - in progress
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

apply dark mode for gallery standfirst and fix layout
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix conflict after rebase
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

add gallery series
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

sign up block elements take a emailType prop. Can render a marketting version of the email signup wrapper
  dotcom-rendering/src/components/EmailSignUpWrapper.tsx
  dotcom-rendering/src/components/EmailSignup.stories.tsx
  dotcom-rendering/src/components/EmailSignup.tsx
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
  dotcom-rendering/src/components/MarketingEmailSignUpWrapper.tsx
  dotcom-rendering/src/components/NewsletterPrivacyMessage.stories.tsx
  dotcom-rendering/src/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicNewsletterSignup.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/types/content.ts
Owners: @guardian/growth

Fix storybook dependencies
  apps-rendering/package.json
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Fix `Toast` stories
  dotcom-rendering/src/components/Toast.stories.tsx
Owners: none

Update live block datetime colour (#14047)
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

add stories
  dotcom-rendering/src/components/EmailSignUpWrapper.stories.tsx
  dotcom-rendering/src/components/EmailSignup.stories.tsx
  dotcom-rendering/src/components/MarketingEmailSignUpWrapper.stories.tsx
Owners: none

Try another way to configure playwright to ignore https errors
  dotcom-rendering/playwright.config.ts
Owners: @guardian/dotcom-platform

move the list of marketing emails and find by tags function
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/marketing-emails.ts
Owners: none

update schemas and tests
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
Owners: none

Try adding an rss <link> to all pages
  dotcom-rendering/src/server/htmlPageTemplate.ts
Owners: @guardian/dotcom-platform

lint
  dotcom-rendering/src/components/EmailSignup.tsx
  dotcom-rendering/src/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/marketing-emails.ts
Owners: none

Only add RSS <link> on fronts and tag pages
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.front.web.tsx
Owners: @guardian/dotcom-platform

Remove unused webpack config
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/README.md
  dotcom-rendering/configs/webpack/base.mjs
  dotcom-rendering/configs/webpack/client.apps.mjs
  dotcom-rendering/configs/webpack/client.web.mjs
  dotcom-rendering/configs/webpack/client.web.variant.mjs
  dotcom-rendering/configs/webpack/server.dev.mjs
  dotcom-rendering/configs/webpack/server.mjs
  dotcom-rendering/configs/webpack/utils/env.mjs
  dotcom-rendering/webpack.config.mjs
Owners: @guardian/dotcom-platform

Fix formatting with prettier
  dotcom-rendering/src/server/htmlPageTemplate.ts
Owners: @guardian/dotcom-platform

Pass env variable to playwright
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

Bump libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

fix format in gallery layout
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Bump libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

move from img to background url for svg
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
Owners: @guardian/growth

add article title story for galleries
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
Owners: none

Wires up loop video to Card component. Includes code for testing purposes.
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/layout.ts
  dotcom-rendering/src/types/mainMedia.ts
Owners: none

Enable looping videos if the video platform is url
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

remove unnecessary css
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
Owners: @guardian/growth

add dark mode support for series in gallery
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Update storybook with newer image
  dotcom-rendering/src/components/marketing/gutters/utils/storybook.ts
Owners: @guardian/growth

Add gallery headline (#14019)
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/MainMediaGallery.tsx
  dotcom-rendering/src/frontend/feArticle.ts
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/types/article.ts
Owners: @guardian/dotcom-platform

add gallery headline
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

fix gallery grid layout for headline until tablet
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

add grid-row to gallery headline and main media
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
