Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Add FE schema and parser for cricket match data (#13733)
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/CricketScorecard.tsx
  dotcom-rendering/src/cricketMatch.test.ts
  dotcom-rendering/src/cricketMatch.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/model/validate.ts
Owners: @guardian/dotcom-platform

Render stacked 2x2 cards on the scrollable small container
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Add justify-content: space between to correctly align cards
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

WIP
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballDataPage.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/components/FootballTablesCompetitionSelect.importable.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/cricketMatch.ts
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Display top lines above the second row
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Add option to visibly split the left border
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Prefer grid and add an option to stack rows on top of one another
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

linting
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Add support for React bundle when in variant test
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Do not alias React to Preact in build variant
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Revert separate React built variant and use existing build variant
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Apply padding to immersive interactive captions
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

Adapt layout for cricket
  dotcom-rendering/src/components/CricketScorecardPage.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableList.tsx
  dotcom-rendering/src/components/FootballTablesCompetitionSelect.importable.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/components/SportDataPageComponent.tsx
  dotcom-rendering/src/cricketMatch.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/layouts/SportDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

add datalayout stories
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.stories.tsx
Owners: none

Initial changes
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Owners: @guardian/growth

fix namespacing of custom jsx elements
  dotcom-rendering/index.d.ts
Owners: @guardian/dotcom-platform

bump storybook
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Toast.stories.tsx
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Create separate kind for football matches vs sport pages
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/SportDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

rename `footballData` to `sportData` in files
  dotcom-rendering/src/server/handler.sportDataPage.web.test.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Changes to update the CTA and the choice cards to annual if there is a discount
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Owners: @guardian/growth

Clean up
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
Owners: @guardian/growth

bump react in apps-rendering
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Remove legacy build
  .github/workflows/bundle-analyser.yml
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/client.web.legacy.mjs
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/makefile
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
Owners: @guardian/dotcom-platform

Rename babelExclude to transpileExclude
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Remove Babel dependencies for dotcom-rendering
  dotcom-rendering/docs/resources.md
  dotcom-rendering/package.json
  dotcom-rendering/tsconfig.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Remove Babel cofiguration for dotcom-rendering
  dotcom-rendering/babel.config.js
Owners: @guardian/dotcom-platform

prefer should in naming convention
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

add ts-expect-error to Toast story
  dotcom-rendering/src/components/Toast.stories.tsx
Owners: none

Apply padding to immersive interactive captions (#13742)
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

use decorators in meta
  dotcom-rendering/src/components/Toast.stories.tsx
Owners: none

Align live update vertically at boost and mega boost for flexible special
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Owners: none

Suggested changes
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Update dotcom-rendering/src/components/CricketScorecardPage.tsx
  dotcom-rendering/src/components/CricketScorecardPage.tsx
Owners: none

Update dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
Owners: @guardian/dotcom-platform

fix review suggestion
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
Owners: @guardian/dotcom-platform

Create Cricket Match Page Layout and dev endpoint (#13780)
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/CricketScorecardPage.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableList.tsx
  dotcom-rendering/src/components/FootballTablesCompetitionSelect.importable.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/components/SportDataPageComponent.tsx
  dotcom-rendering/src/cricketMatch.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/layouts/FootballDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.test.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Add a script to summarise garbage collection reports using `node --trace-gc`
  dotcom-rendering/scripts/perf/gc/gc-report.js
Owners: @guardian/dotcom-platform

Add a k6 script to load test fronts. Convenience for testing on prod boxes.
  dotcom-rendering/scripts/perf/k6/k6-article.mjs
  dotcom-rendering/scripts/perf/k6/k6-front.mjs
Owners: @guardian/dotcom-platform

if there is less than 2 columns, let cards take full width on desktop
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Add latest links to mock api storybook calls
  dotcom-rendering/src/lib/mockRESTCalls.ts
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
