Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Throw error if IDAPI_CLIENT_ACCESS_TOKEN env var not available
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Move BASE_URL into playwright.config
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
Owners: @guardian/dotcom-platform

Signed in e2e test
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: none

Add useSecure flag to page-load
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: @guardian/dotcom-platform

e2e sign in
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

CI secure server setup
  .github/workflows/playwright.yml
  dotcom-rendering/scripts/nginx/nginx-mappings-ci.yaml
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Add IDAPI_CLIENT_ACCESS_TOKEN env var lookup to GHA
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Separate regular and secure Playwright GHA workflows
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Fix CI nginx setup script
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/setup-ci.sh
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Refactor load-page to centralise override handling
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none

Sign in test goes back to original article
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

load-page fetches article json if not present in overrides
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none

Override all config required to force auth libraries to point to CODE endpoints when running in e2e tests
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Override idUrl and mmaUrl for signed in test
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: none

Setup local server profile.thegulocal.com
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Login via CODE and set GU_U cookie
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Add r.thegulocal.com to dev hosts for webpack public path
  dotcom-rendering/src/client/decidePublicPath.ts
Owners: none

Check secure server status in workflow step
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Expand isSignedIn test
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Override idUrl config via loadPageWithOverrides
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Use fetchAndLoadPageWithOverrides to override idUrl
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
Owners: @guardian/dotcom-platform

Set identity domain depending on the environment
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Separate signed-in and signed-out tests
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
  dotcom-rendering/playwright/tests/signed-out.e2e.spec.ts
Owners: none

Configure playwright to ignore cert errors
  dotcom-rendering/playwright.config.ts
Owners: @guardian/dotcom-platform

Render medium carousels as stacked cards if in AB test
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Update test to include replacing small carousels
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Reinstate scrollable/small design above tablet breakpoint
  dotcom-rendering/src/components/DecideContainer.tsx
Owners: none

Use buttontheme instead of cssoverrides
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCountOptOut.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/styles/buttonStyles.ts
Owners: @guardian/growth

deployment setup
  .github/workflows/ab-testing.yml
  ab-testing/frontend/package.json
  ab-testing/riff-raff.yaml
Owners: @guardian/dotcom-platform

tweak build process, trim unused files
  .gitignore
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.d.ts
  ab-testing/frontend/svelte.config.js
Owners: @guardian/dotcom-platform

move all css into svelte files for single file build
  .gitignore
  ab-testing/frontend/deno.lock
  ab-testing/frontend/package.json
  ab-testing/frontend/src/app.html
  ab-testing/frontend/src/routes/+layout.svelte
  ab-testing/frontend/src/routes/+layout.ts
  ab-testing/frontend/src/routes/+page.svelte
  ab-testing/frontend/static/styles.css
  ab-testing/frontend/svelte.config.js
Owners: @guardian/dotcom-platform

Update light and dark text colour
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

AB test is web only
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Update live block datetime colour
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

add gallery series
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Try restart docker container
  .github/workflows/playwright-secure.yml
Owners: @guardian/dotcom-platform

Refactor Dateline Text Colour (#14035)
  dotcom-rendering/src/components/Dateline.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Install Playwright browsers before creating the secure server so the local CA is added to the Chromium trust store
  .github/workflows/playwright-secure.yml
Owners: @guardian/dotcom-platform

Calculate `maxChange` less often
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.tsx
Owners: none

Use relative units for `flex-basis`
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.tsx
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
