Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Ensure thumbnail image is full size of video
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Refactor useIsInView to know whether the element is out of view
  dotcom-rendering/src/lib/useIsInView.ts
Owners: none

Mute video when out of view
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Fix choice card width from desktop (#14132)
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

fix linting following useIsInView refactor
  dotcom-rendering/src/components/Lazy.tsx
Owners: none

reinstating my changes to get the account id
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Add gallery body image component
  dotcom-rendering/src/components/CaptionText.tsx
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix gutter image missing issue
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
Owners: @guardian/growth

fix style lint error on background-color
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
Owners: @guardian/growth

make sure images always fit within the viewport without being cropped
  dotcom-rendering/src/components/Picture.tsx
Owners: none

Add gallery sub meta
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Fix gutter image missing in preview (#14136)
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
Owners: @guardian/growth

Rejig Datawrapper dark mode flag check
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

Disable touch events on interactive atom blocks
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

Update dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

Update dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

Fix boolean check mistake
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Owners: none

Add playwright workflow permissions
  .github/workflows/playwright-secure.yml
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Add interactive docs to dev server (#14093)
  dotcom-rendering/src/devServer/docs/interactive.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Fix "resolve conflicts" bug
  dotcom-rendering/src/devServer/routers/dotcom.ts
Owners: none

Add Newsletters Docs To Dev Server (#14094)
  dotcom-rendering/src/devServer/docs/newsletters.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

formatting change
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

export under both names till can rename
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

identify unused banner components as step towards removal
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/hooks/useReminder.ts
Owners: @guardian/growth

reverting formatting changes as build failing
  dotcom-rendering/src/components/EnhanceAffiliateLinks.importable.tsx
Owners: none

Rename Youtube video event name
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
Owners: none

Use a progress bar transition timing that's closer to browser timeupdate frequency
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
Owners: none

First pass at the listen to article button
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

identify unused banner component
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
Owners: @guardian/growth

WIP
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
Owners: none

Pass a unique card ID down to Card component in flexible containers
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/types/front.ts
Owners: none

Mute other loop audio when one loop is playing audio
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Update stories
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

First pass at the listen to article button
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Remove hello text
  dotcom-rendering/src/components/ListenToArticleButton.tsx
Owners: none

Fix keys in Flexible General
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

typo
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Add football docs to dev server (#14096)
  dotcom-rendering/src/devServer/docs/footballFixtures.tsx
  dotcom-rendering/src/devServer/docs/footballLive.tsx
  dotcom-rendering/src/devServer/docs/footballMatchSummary.tsx
  dotcom-rendering/src/devServer/docs/footballResults.tsx
  dotcom-rendering/src/devServer/docs/footballTables.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Owners: none

Show play and pause button
  dotcom-rendering/src/components/ListenToArticleButton.tsx
Owners: none

Place after the grid
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticleWrapper.importable.tsx
Owners: none
