Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

avoid changing grid for smaller viewports
  dotcom-rendering/src/components/ArticleHeadline.tsx
Owners: none

get format from gallery type instead of props in gallery layout
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

apply dark mode for gallery standfirst and fix layout
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix conflict after rebase
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Add gallery standfirst - in progress
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix rebase conflicts
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
Owners: none

add gallery standfirst
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

marking email wrapper uses a link button to mma instead of a sign-up form
  dotcom-rendering/src/components/EmailSignUpWrapper.tsx
  dotcom-rendering/src/components/EmailSignup.stories.tsx
  dotcom-rendering/src/components/MarketingEmailSignUpWrapper.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicNewsletterSignup.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
Owners: @guardian/growth

provide mma url
  dotcom-rendering/src/components/Timeline.stories.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Owners: none

Generate new schemas
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
Owners: none

Wrap looping video inside the loopingVideo 0% server side test
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/server/handler.front.web.ts
Owners: @guardian/dotcom-platform

Remove width restriction on looping video container so that it respects the grid
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Update dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Update Standfirst for galleries to control the with using grid
  dotcom-rendering/src/components/Standfirst.tsx
Owners: none

Wire up loop video to the Card component (#13852)
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/types/layout.ts
  dotcom-rendering/src/types/mainMedia.ts
Owners: @guardian/dotcom-platform

Change from class to data attribute
  dotcom-rendering/src/components/InteractivesNativePlatformWrapper.importable.tsx
Owners: none

replace gallery fixture article with one that has series
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Owners: @guardian/dotcom-platform

add series for gallery
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

match gallery series dark mode to AR
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

clean up gallery layout props usages
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

dont let image supression boost headline size on standard cards in a flexible general.
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

add web meta for gallery
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Testing proof of concept
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

Use promoCodes field in support message links
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

comment
  dotcom-rendering/src/components/marketing/lib/tracking.ts
Owners: @guardian/growth

Bump gu-libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

unit tests
  dotcom-rendering/src/components/marketing/lib/tracking.test.ts
Owners: @guardian/growth

tidy comment
  dotcom-rendering/src/components/marketing/lib/tracking.ts
Owners: @guardian/growth

fix test names
  dotcom-rendering/src/components/marketing/lib/tracking.test.ts
Owners: @guardian/growth

Further changes
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCountOptOut.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCloseButton.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerReminderSignedOut.tsx
Owners: @guardian/growth

dont let image supression boost headline size on standard cards in a flexible general. (#14067)
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Rename loopVideo -> loopingVideo to match serverside test name
  dotcom-rendering/src/server/handler.front.web.ts
Owners: @guardian/dotcom-platform

Limit interactives body copy colour override to apps
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

Use promoCodes field in support message links (#14071)
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/components/marketing/lib/tracking.test.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

Move override to right place
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Owners: none

Rename loopVideo -> loopingVideo to match serverside test name (#14073)
  dotcom-rendering/src/server/handler.front.web.ts
Owners: @guardian/dotcom-platform

Increase mobile card images width to a 465 so that they are already slightly higher resolution than the lowest breakpoint
  dotcom-rendering/src/components/CardPicture.tsx
Owners: none

Increase feature large tablet card picture to width of image
  dotcom-rendering/src/components/CardPicture.tsx
Owners: none

changed to using new scaled Not For Sale image in story
  dotcom-rendering/src/components/marketing/gutters/utils/storybook.ts
Owners: @guardian/growth

Increase image widths on front cards (#14077)
  dotcom-rendering/src/components/CardPicture.tsx
Owners: none
