Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Expand on the readme and add the VCL (#13823)
  ab-testing/README.md
  ab-testing/ab-test.vcl
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

Remove heatphan carousel tracking for the scrollablecarousel
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Remove heatphan carousel tracking for the scrollablecarousel (#13833)
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Add tables and match summary to prod server
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Clarify why we use a local payload file
  dotcom-rendering/scripts/perf/k6/README.md
Owners: @guardian/dotcom-platform

Make score optional for match summaries (#13816)
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/feFootballTablesPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
Owners: @guardian/dotcom-platform

Update husky troubleshooting link
  scripts/env/check-node
Owners: @guardian/dotcom-platform

add football tables endpoint in production server
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

basic deno setup and variant overlap check
  ab-testing/.vscode/settings.json
  ab-testing/abTest.ts
  ab-testing/scripts/validation.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
Owners: none

Update husky troubleshooting link (#13835)
  scripts/env/check-node
Owners: @guardian/dotcom-platform

Add tables and match summary to prod server (#13834)
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Only add Match nav scoreboard placeholders for articles
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
Owners: none

Update SDC to 6.2.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

further validations and tests
  ab-testing/scripts/validation.ts
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/limitServerSide.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/validExpiration.ts
  deno.lock
Owners: @guardian/dotcom-platform

Update tests for tickerSettings change
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
Owners: @guardian/growth

Update tests for tickerSettings change
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
Owners: @guardian/growth

Update SDC to 6.2.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Revert "Remove heatphan carousel tracking for the scrollablecarousel (#13833)"
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Revert "Remove heatphan carousel tracking for the scrollablecarousel (#13833)" (#13840)
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Add text for following my guardian
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
Owners: none

Refactor loop video logic out of presentation
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Add accessibility feature to progress bar
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
Owners: none

Add Loop Video component
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/lib/useIsInView.ts
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Make play icon call responsible for positioning
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
Owners: none

Pass in fallback image. Remove poster image.
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Fix typo. make videoId mandatory
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Add dimensions to story
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Use transitions for progress bar. Stop using <progress />.
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
Owners: none

Don't autoplay if user prefers reduced motion
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Add in my guardian to the follow cta
  dotcom-rendering/src/components/FollowButtons.tsx
Owners: none

Poster image must be provided
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Update browser-support.md to mention ES6 module support
  dotcom-rendering/docs/principles/browser-support.md
Owners: none

Update the tests
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
Owners: none

Update endpoint that serves football match list pages
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

spacing for main image looking good across breakpoints and I don't think it's broken any existing tests
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Remove height, width from video container.
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

set up github actions to run initial test validation flows
  .github/workflows/ab-testing.yml
  ab-testing/.vscode/settings.json
  ab-testing/abTest.ts
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
Owners: @guardian/dotcom-platform

rename posterImage to thumbnailImage
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

fix test name issues
  ab-testing/scripts/validation/index.ts
  ab-testing/scripts/validation/validExpiration.test.ts
Owners: none

fix deno version issue
  .github/workflows/ab-testing.yml
Owners: @guardian/dotcom-platform
