Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Separate regular and secure Playwright GHA workflows
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Check secure server status in workflow step
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Override idUrl config via loadPageWithOverrides
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Login via CODE and set GU_U cookie
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/nginx-profile-ci.conf
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Sign in test goes back to original article
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

Add r.thegulocal.com to dev hosts for webpack public path
  dotcom-rendering/src/client/decidePublicPath.ts
Owners: none

Refactor load-page to centralise override handling
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none

Override idUrl and mmaUrl for signed in test
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: none

Try restart docker container
  .github/workflows/playwright-secure.yml
Owners: @guardian/dotcom-platform

Pass env variable to playwright
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

Override all config required to force auth libraries to point to CODE endpoints when running in e2e tests
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Install Playwright browsers before creating the secure server so the local CA is added to the Chromium trust store
  .github/workflows/playwright-secure.yml
Owners: @guardian/dotcom-platform

Configure playwright to ignore cert errors
  dotcom-rendering/playwright.config.ts
Owners: @guardian/dotcom-platform

Tidy up. Removing redundant code
  .github/workflows/playwright-secure.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: @guardian/dotcom-platform

Try another way to configure playwright to ignore https errors
  dotcom-rendering/playwright.config.ts
Owners: @guardian/dotcom-platform

Re-enable container workflow
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
Owners: @guardian/dotcom-platform

Remove Stacked Carousels AB test
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Narrow overrides
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Fix typo on looping video test
  dotcom-rendering/src/server/handler.front.web.ts
Owners: @guardian/dotcom-platform

Fix typo on looping video test (#14101)
  dotcom-rendering/src/server/handler.front.web.ts
Owners: @guardian/dotcom-platform

capture animated header story
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

move ThreeTierChoiceCards from epic to shared directory
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/shared/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Use `colourSchemeBackground` parameter
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

fix comment count colouring for gallery Co-authored-by: Jamie B <53781962+JamieB-gu@users.noreply.github.com>
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix branding colouring for light and dark Co-authored-by: Jamie B <53781962+JamieB-gu@users.noreply.github.com>
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix branding link dark for gallery
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

add web meta for gallery
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Added meta component to galleries for apps
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

remove gallery from the default formats in article meta stories
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
Owners: none

add light and dark mode support for article meta web
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Rename visibleCardsOnMobile for better clarity
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Scroll carousel to card when focused
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Make use of the canPlayInline card property to dictate if looping videos can play on a front
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
Owners: none

tmp
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

semi-revert of load-page
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none

Remove uneeded configuration
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

minor tidy up. enable full CI again
  .github/workflows/cicd.yml
  .github/workflows/playwright-secure.yml
  dotcom-rendering/playwright/tests/signed-in.e2e.secure.spec.ts
Owners: @guardian/dotcom-platform

fix gallery meta for labs theme
  dotcom-rendering/fixtures/generated/fe-articles/GalleryLabs.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: @guardian/dotcom-platform

add gallery design for age warning
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Refactor existing test `signedin.e2e.spec.ts` Rename to `signed-out.e2e.spec.ts`
  dotcom-rendering/playwright/tests/signed-out.e2e.spec.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
