Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

use shouldHideAds rather than renderAds
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: @guardian/commercial-dev

bump gu libs beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

remove isSensitive check from renderAds logic
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/renderElement.tsx
Owners: none

prevent ad placeholder elements being inserted for articles where shouldHideAds is true
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/pinnedPost.ts
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/article.ts
Owners: @guardian/dotcom-platform

add ImageCaption context to share button component
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/ShareButton.importable.tsx
Owners: none

add footer to gallery articles
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

add gallery lightbox
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/LightboxLink.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

feat: info box, terms, external link and themed link components
  dotcom-rendering/src/components/ExternalLink/ExternalLink.tsx
  dotcom-rendering/src/components/InformationBox/InformationBox.stories.tsx
  dotcom-rendering/src/components/InformationBox/InformationBox.tsx
  dotcom-rendering/src/components/Terms/Terms.stories.tsx
  dotcom-rendering/src/components/Terms/Terms.tsx
  dotcom-rendering/src/components/ThemedLink/ThemedLink.stories.tsx
  dotcom-rendering/src/components/ThemedLink/ThemedLink.tsx
Owners: none

add gallery lightbox
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Tidy unused DesignableBanner code (#14141)
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/common/PaymentCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCloseButton.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardsSupportCta.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/components/marketing/hooks/useReminder.ts
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
  dotcom-rendering/src/components/marketing/shared/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

ensure adportals only rendered if renderAds is truthy
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: none

prevent placeholder inclusion if article shouldHideAds is true
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Owners: @guardian/commercial-dev

include renderAds prop in portals component and only convert to placeholders if renderAds is true
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: @guardian/commercial-dev

use shouldHideAds rather than renderAds
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: @guardian/commercial-dev

only render adportals component if is false
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: @guardian/commercial-dev

remove isSensitive check from renderAds logic
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/renderElement.tsx
Owners: none

include shouldHideAds in article body ad rendering decisions
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/MiniProfiles.stories.tsx
  dotcom-rendering/src/components/MiniProfiles.tsx
  dotcom-rendering/src/components/MultiBylines.stories.tsx
  dotcom-rendering/src/components/MultiBylines.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
  dotcom-rendering/src/components/Timeline.stories.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/frontend.ts
Owners: @guardian/dotcom-platform

prevent ad placeholder elements being inserted for articles where shouldHideAds is true
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/pinnedPost.ts
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/article.ts
Owners: @guardian/dotcom-platform

remove DesignableBannerv2 references
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
Owners: @guardian/growth

change linkElementType to LinkType
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Owners: none

fix: remove unused react imports
  dotcom-rendering/src/components/ExternalLink/ExternalLink.tsx
  dotcom-rendering/src/components/InformationBox/InformationBox.stories.tsx
  dotcom-rendering/src/components/Terms/Terms.stories.tsx
  dotcom-rendering/src/components/Terms/Terms.tsx
  dotcom-rendering/src/components/ThemedLink/ThemedLink.tsx
Owners: none

Update mediaAtom schema to match frontend
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
Owners: none

Listen to article button (#14154)
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
  dotcom-rendering/src/components/ListenToArticleButton.stories.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Set start time to 1ms so safari autoplays
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Move side effects into useEffect's
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Only set hasBeenInView once
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Update mediaAtom schema to match frontend
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
Owners: none

Return null if mainImage is an empty string so that the front can still render.
  dotcom-rendering/src/components/CardPicture.tsx
Owners: none

Convert the images array on the video media types to a string.
  dotcom-rendering/src/types/mainMedia.ts
Owners: none

Refactor mediaAtom image handling by extracting `getLargestImageUrl` helper and replacing inline transformations with reusable logic.
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Rename `thumbnailImage` prop to `image` in `LoopVideo` component for consistency and update references accordingly.
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Determine media image during enhancement
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

Remove image tranformation as this now happens during the enhancement step
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Owners: none

Fix typos
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Owners: none

Remove transformation as this happens during the enhancement step
  dotcom-rendering/src/components/Card/Card.tsx
Owners: none

Fix types
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

generate new schemas
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
Owners: none

Remove override images as we are deciding the image during the enhancement
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
Owners: none

Enable L2A button
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
Owners: none

Update to express@5.1.0 @types/express@5.0.1
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform
