Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

reinstate accidentally deleted curly brace
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth

Testing beta libs
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Finishing touches
  dotcom-rendering/.storybook/decorators/configContextDecorator.tsx
  dotcom-rendering/src/components/FilterCarouselComponent.tsx
  dotcom-rendering/src/components/ProductCard.tsx
  dotcom-rendering/src/static/logos/clippy_bouncing.gif
Owners: @guardian/dotcom-platform

Remove network calls from validate tests (#13891)
  dotcom-rendering/src/model/validate.test.ts
Owners: none

Remove legacy build
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
Owners: @guardian/dotcom-platform

Rename babelExclude to transpileExclude
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Remove Babel dependencies for dotcom-rendering
  dotcom-rendering/docs/resources.md
  dotcom-rendering/package.json
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/tsconfig.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

lint
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
Owners: @guardian/dotcom-platform

Remove Babel cofiguration for dotcom-rendering
  dotcom-rendering/babel.config.js
Owners: @guardian/dotcom-platform

implement football more button for when js is disabled
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

use state jsEnabled to decide how to looad the more matches
  dotcom-rendering/src/components/FootballMatchList.tsx
Owners: none

Add "pages" And "targets" To Dev Server (#13868)
  dotcom-rendering/src/devServer/docs/doc.tsx
  dotcom-rendering/src/devServer/docs/pages.tsx
  dotcom-rendering/src/devServer/docs/targets.tsx
  dotcom-rendering/src/devServer/routers/pages.ts
  dotcom-rendering/src/devServer/routers/targets.ts
  dotcom-rendering/src/devServer/send.tsx
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Revert "Switch back to Preact for server-side rendering (#13901)"
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Revert "Switch back to Preact for server-side rendering (#13901)" (#13931)
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

fix the play test in ErrorGettingMore story
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
Owners: none

use hydrated hook to decide if js is disabled in the client
  dotcom-rendering/src/components/FootballMatchList.tsx
Owners: none

fix the more button layout
  dotcom-rendering/src/components/FootballMatchList.tsx
Owners: none

Use types from `ophan-tracker-js` instead of `libs` (#13902)
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Dropdown.importable.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/LiveblogGutterAskWrapper.importable.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicArticleCountAboveWithOptOut.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicSignInCta.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminder.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
  dotcom-rendering/src/components/marketing/epics/utils/ophan.ts
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  dotcom-rendering/src/components/marketing/shared/ArticleCountOptOutPopup.tsx
  dotcom-rendering/src/lib/acquisitions.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

layout fixes for cta alignment
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth

fix image alignment
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
Owners: @guardian/growth

fix style lint issue
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Signed in e2e test
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: none

Sign in test goes back to original article
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: @guardian/dotcom-platform

e2e sign in
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Move BASE_URL into playwright.config
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
Owners: @guardian/dotcom-platform

Fix CI nginx setup script
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
  dotcom-rendering/scripts/nginx/setup-ci.sh
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Set identity domain depending on the environment
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: none

Add IDAPI_CLIENT_ACCESS_TOKEN env var lookup to GHA
  .github/workflows/playwright.yml
Owners: @guardian/dotcom-platform

Throw error if IDAPI_CLIENT_ACCESS_TOKEN env var not available
  dotcom-rendering/playwright/lib/sign-in.ts
Owners: none

Add useSecure flag to page-load
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/lib/secure.ts
  dotcom-rendering/playwright/lib/sign-in.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Owners: @guardian/dotcom-platform

CI secure server setup
  .github/workflows/playwright.yml
  dotcom-rendering/scripts/nginx/nginx-mappings-ci.yaml
  dotcom-rendering/scripts/nginx/setup.sh
Owners: @guardian/dotcom-platform

Addressing comments from PR review - remove the preventDefault from button click handler - update the nextPageNoJsUrl value in fixtures
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
Owners: @guardian/dotcom-platform

Enable build variant
  dotcom-rendering/webpack/bundles.js
Owners: @guardian/dotcom-platform

Do not alias React to Preact in build variant
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Test client-side rendering with React (#13774)
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Fix benefits for recurring contributions on choice cards
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
Owners: @guardian/growth

banner
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

WIP - use choiceCardsSettings in epic
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/utils/storybook.ts
Owners: @guardian/dotcom-platform, @guardian/growth

lock
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

tidy
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Owners: @guardian/growth
