Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Update comment
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Add a few more keyboard options
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Use express router in dev server
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/webpack/webpack.config.dev-server.js
Owners: @guardian/dotcom-platform

Convert `get-content-from-url` to TypeScript
  dotcom-rendering/src/server/lib/get-content-from-url.ts
Owners: @guardian/dotcom-platform

mobile image sorted
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

removing unused reminder component
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Only add Match nav scoreboard placeholders for articles (#13837)
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
Owners: none

Update endpoint that serves football match list pages (#13846)
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Remove duplicate MainMedia type out of /types/layout
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/types/layout.ts
Owners: none

Add a few more keyboard options
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Wire up Loop Video to Card component
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/types/layout.ts
  dotcom-rendering/src/types/mainMedia.ts
Owners: none

further tweaks
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
Owners: @guardian/growth

remove old endpoint
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Bump @guardian/libs to 22.3.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

remove old Football match list endpoint (#13847)
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Alias React to Preact in client bundles only
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Alter logic for desktop size bump for opinion cards and no image
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

typo
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

Add story
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
Owners: none

Add comment
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

Alias React to Preact in client bundles only (#13806)
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Revert "Alias React to Preact in client bundles only (#13806)"
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Revert "Alias React to Preact in client bundles only (#13806)" (#13859)
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Close ToC when it sticks
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

ToC should always be sticky
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

add pageId to frontend sports models
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
Owners: none

update fixture files for football live and cricket
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/fixtures/generated/football-live.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/footballMatches.test.ts
Owners: @guardian/dotcom-platform

Add in My Guardian to Follow Buttons (#13844)
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
Owners: none

Shorten choice cards copy on banner
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
Owners: @guardian/growth

Show ticks
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Better way to hide ticks
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

add upload script
  .vscode/settings.json.required
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/fastly/api.test.ts
  ab-testing/scripts/fastly/api.ts
  ab-testing/scripts/fastly/constants.ts
  ab-testing/scripts/fastly/env.ts
  ab-testing/scripts/fastly/index.ts
  ab-testing/scripts/fastly/json.ts
  ab-testing/scripts/fastly/types.d.ts
Owners: @guardian/dotcom-platform

Update link to React context ADR
  dotcom-rendering/README.md
Owners: @guardian/dotcom-platform

Merge pull request #13860 from guardian/tf-shorter-cc-copy
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

deny /tips from being gated
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: @guardian/dotcom-platform

Header styling
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/Dateline.tsx
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Main media caption
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/GalleryMainMediaCaption.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

Add subgrid and use on gallery images
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/grid.ts
Owners: none

Labs header
  dotcom-rendering/src/components/GalleryMainMedia.tsx
  dotcom-rendering/src/components/LabsHeaderFull.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Add gallery layout
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/GalleryImage.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/components/ShareButton.importable.tsx
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/lib/articleFormat.ts
  dotcom-rendering/src/lib/image.ts
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
