Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

remove top above nav ad slot for all newsletters page (#13963)
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
Owners: none

use correct url in gen-fixture for gallery and generate gallery fixture
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Owners: @guardian/dotcom-platform

remove bottom margin and padding from cta and overall container
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

fix style lint issue
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Add Gallery Layout (#13962)
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: @guardian/dotcom-platform

Bump @guardian/commercial to 26.1.1
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

added new button and element to the schema
  dotcom-rendering/src/components/ProductLinkButton.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Owners: none

added new button and element to the schema
  dotcom-rendering/src/components/ProductLinkButton.stories.tsx
Owners: none

set outer banner background to bottom
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Initial changes to use automatic cta hover colours from source
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/styles/buttonStyles.ts
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

add alternative max-height to container
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Add stories snippet to dcr.code-snippets
  .vscode/dcr.code-snippets
Owners: @guardian/dotcom-platform

Add main media to gallery model
  dotcom-rendering/src/types/article.ts
Owners: none

Add a basic hello world story for MainMediaGallery component
  dotcom-rendering/src/components/MainMediaGallery.stories.tsx
  dotcom-rendering/src/components/MainMediaGallery.tsx
Owners: none

try background inherit
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Bump beta
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

remove age warning from filter articles
  dotcom-rendering/src/lib/age-warning.ts
Owners: none

Bump @guardian/libs to 22.4.0 (#13947)
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update loop video props. Prevent keys from triggering default event actions
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Prevent hover styles applying to card when video hovered
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Prevent CLS
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Update comment
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
Owners: none

Update test to get location of runner.
  .github/workflows/playwright.yml
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/article.embeds.e2e.spec.ts
Owners: @guardian/dotcom-platform

remove commented out line
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Revert changes in storybooks
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
Owners: @guardian/growth

remove age warning from filter articles (#13965)
  dotcom-rendering/src/lib/age-warning.ts
Owners: none

Fix build failure
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

fix style linting errors on comments
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Add updated pnpm lockfile
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

remove inappropriate value
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Wires up loop video to Card component. Includes code for testing purposes.
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/layout.ts
  dotcom-rendering/src/types/mainMedia.ts
Owners: none

Fix for CTA unsticking from bottom of screen in smaller mobile devices (#13964)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Update query param
  dotcom-rendering/playwright/lib/load-page.ts
Owners: none

MainMediaGallery renders picture sources
  dotcom-rendering/src/components/MainMediaGallery.stories.tsx
  dotcom-rendering/src/components/MainMediaGallery.tsx
  dotcom-rendering/src/lib/image.ts
Owners: none

Use choiceCardsSettings in epic and banner (#13935)
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.test.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
  dotcom-rendering/src/components/marketing/lib/storybook.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/growth

Bump libs
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Formatter
  dotcom-rendering/src/frontend/feFront.ts
Owners: none

`ValuesWithChange` Election Trackers Component (#13920)
  dotcom-rendering/src/components/ElectionTrackers/StackedProgress.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

Switch to object styles for fonts
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.tsx
Owners: none

`ValuesWithChange` Election Trackers Component (#13920)
  dotcom-rendering/src/components/AudioPlayerWrapper.importable.tsx
  dotcom-rendering/src/components/ElectionTrackers/StackedProgress.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none
