Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Use a progress bar transition timing that's closer to browser timeupdate frequency
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
Owners: none

Pass a unique card ID down to Card component in flexible containers
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/types/front.ts
Owners: none

Mute other loop audio when one loop is playing audio
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

Update stories
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Owners: none

Fix keys in Flexible General
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Owners: none

typo
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Clean up event listener on unmount
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Bump libs
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Add ophan attention tracking to looping video
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

Extract visibility threshold into a const so that its explict that the in view threshold and attention tracking threshold are coupled.
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Owners: none

remove cssoverride for close button as unused
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCloseButton.tsx
Owners: @guardian/growth

Add deprecated label to MPU containers
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.tsx
Owners: none

Comment out carrot
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Owners: none

Refactor ListenToArticle
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
Owners: none

Add a react key for treats
  dotcom-rendering/src/components/Treats.tsx
Owners: none

remove extra headline bottom border to fix chromatic changes
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
Owners: @guardian/growth

Fix dark mode
  dotcom-rendering/src/components/ListenToArticleButton.tsx
Owners: none

Pause Youtube video when looping video sound enabled. Mute looping video when Youtube video played.
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/lib/video.ts
Owners: none

include query param in local request
  dotcom-rendering/src/components/TagPageAI.importable.tsx
  dotcom-rendering/src/components/TagPageHeader.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Owners: none

remove unused import
  dotcom-rendering/src/components/TagPageAI.importable.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Owners: none

Change "Tables" link to point to the overview page
  dotcom-rendering/src/components/FootballCompetitionNav.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
Owners: none

Add A Nav For Football Competitions (#14170)
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/FootballCompetitionNav.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionNav.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
Owners: @guardian/dotcom-platform

Introduce shouldNotServeNonDismissible
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

decideShouldNotServeNonDismissible
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Introduce shouldNotServeNonDismissible
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

Use promise all
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
Owners: none

Ensure listen to article stays hidden until ready.
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
Owners: none

explicitly call clickComponent events on looping videos
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

add explicit clickComponent tracking for play and mute buttons on looping videos
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Owners: none

feat: add auth provider buttons component
  dotcom-rendering/src/components/AuthProviderButtons/AuthProviderButtons.stories.tsx
  dotcom-rendering/src/components/AuthProviderButtons/AuthProviderButtons.tsx
  dotcom-rendering/src/components/AuthProviderButtons/types.ts
  dotcom-rendering/src/lib/routeUtils.ts
Owners: none

reduce top margin on headline if image exists to fix chromatic error
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
Owners: @guardian/growth

reduce top margin on headline if image exists to fix chromatic error one more time
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
Owners: @guardian/growth

rename DesignableBannerV2 to DesignableBanner across the board, duplicate import in ReaderRevenueBanner till fixed in SDC
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
Owners: @guardian/growth

decideShouldNotServeNonDismissible
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

default to false for the moment
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Owners: none

only render adportals component if is false
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: @guardian/commercial-dev

ensure adportals only rendered if renderAds is truthy
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: none

include shouldHideAds in article body ad rendering decisions
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/MiniProfiles.stories.tsx
  dotcom-rendering/src/components/MiniProfiles.tsx
  dotcom-rendering/src/components/MultiBylines.stories.tsx
  dotcom-rendering/src/components/MultiBylines.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
  dotcom-rendering/src/components/Timeline.stories.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/frontend.ts
Owners: @guardian/dotcom-platform

prevent placeholder inclusion if article shouldHideAds is true
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Owners: @guardian/commercial-dev

include renderAds prop in portals component and only convert to placeholders if renderAds is true
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
