Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Close ToC when it sticks
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

ToC should always be sticky
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

Update correct discount active period
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Owners: @guardian/growth

Add FE type and match summary parser
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatch.ts
Owners: none

make code facia instance type same as prod
  dotcom-rendering/cdk/bin/cdk.ts
Owners: @guardian/dotcom-platform

Keep megaboost live updates as horizontal
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Owners: none

Add Observer footer
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Owners: none

Add ability to stack cards into 2 rows in the scrollable carousel
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Always stack cards on mobile and stack cards on desktop if there are more than 2 cards
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Display a top bar on desktop and mobile for the cards in the bottom row
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Abandon feature switch
  dotcom-rendering/src/components/ArticleBody.tsx
Owners: none

Target tag by `id` instead of `name`
  dotcom-rendering/src/components/ArticleBody.tsx
Owners: none

Round up carousel column card such that 3 cards === 2 columns and 1 card === 1 column
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

use column auto-flow from tablet and above if the consumer does not want to stack cards
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Owners: none

Upgrade node
  .nvmrc
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update correct promoCode
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Owners: @guardian/growth

--amend
  dotcom-rendering/scripts/perf/k6/k6.mjs
Owners: @guardian/dotcom-platform

Add fronts zip file
  dotcom-rendering/scripts/perf/k6/fronts.zip
Owners: @guardian/dotcom-platform

Add gc report script
  dotcom-rendering/scripts/perf/gc/gc-report.js
Owners: @guardian/dotcom-platform

add cricket sports page to server.prod.ts
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Do not alias React to Preact in build variant
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

Add support for React bundle when in variant test
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

DEBUG: display React version for testing
  dotcom-rendering/src/components/TopBar.importable.tsx
Owners: none

Revert separate React built variant and use existing build variant
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Owners: @guardian/dotcom-platform

Add `data-gu-name` attrib to pullquote and callout
  dotcom-rendering/src/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/components/PullQuoteBlockComponent.tsx
Owners: none

Remove multicard story as this is not longer relevant as the container cannot have more than 4 cards
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Owners: none

Flexible Special : Align live update vertically at boost and mega boost (#13784)
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
Owners: none

Scrollable small stacked redesign (#13789)
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Owners: none

add cricket sports page to server.prod.ts (#13792)
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

Add "in my Guardian"
  apps-rendering/src/components/FollowStatus/index.tsx
Owners: @guardian/dotcom-platform

add page type and schema
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Append "in MyGuardian" to `FollowButtons` text
  dotcom-rendering/src/components/FollowButtons.tsx
Owners: none

storybooks for existing banner components
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

fix the build
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

update noStats story
  dotcom-rendering/src/components/MatchStats.stories.tsx
Owners: none

propose initial AB test shape
  ab-testing/README.md
  ab-testing/abTest.ts
Owners: none

ts-node
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Update node ami and containerfile
  apps-rendering/riff-raff.yaml
  dotcom-rendering/Containerfile
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Owners: @guardian/dotcom-platform

Remove comment and change grid-row rule
  dotcom-rendering/src/components/FootballTablesPage.tsx
Owners: none

renamed storybooks adjusted width of the header image
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Owners: @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
