Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

Add option to provide an image crop offset to fastly image resizer
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/image.ts
Owners: none

separate types, replicate examples from current client- and server-side tests
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

draft the readme
  ab-testing/README.md
Owners: none

moved main image to replcae choice cards and moved the close button on the desktop breakpoint so it's to the left of the image. tablet looks weird still..
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Fix US Annual Discount for April
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Owners: @guardian/growth

fix match array error
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
Owners: none

We don't need the offset as the build step can manage allocation/overlaps
  ab-testing/abTest.ts
  ab-testing/types.ts
Owners: none

Football Match Summary parser (#13797)
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/MatchStats.stories.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

Add FE type and match summary parser
  dotcom-rendering/src/frontend/feFootballMatch.ts
Owners: none

Add handler function
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/server/server.dev.ts
Owners: @guardian/dotcom-platform

Add layout and expand sportDataPage type
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/components/MatchStats.stories.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

add page type and schema
  dotcom-rendering/src/frontend/feFootballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
Owners: none

add example of config output
  ab-testing/README.md
Owners: none

forgot some details in config example
  ab-testing/README.md
Owners: none

Alias React to Preact in client bundles only
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Owners: @guardian/dotcom-platform

allow more ads on fronts with beta collections
  dotcom-rendering/src/lib/commercial-constants.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

add test for increasing maximum number of ads on desktop fronts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
Owners: none

replace isEvenIndex with reducer for identifying consecutive ad slot positioning and use for beta container front logic
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/lib/getTagPageAdPositions.ts
Owners: none

revert original logic for isEven to avoid affecting existing fronts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/lib/getTagPageAdPositions.ts
Owners: none

Remove comment and change grid-row rule (#13801)
  dotcom-rendering/src/components/FootballTablesPage.tsx
Owners: none

fix story
  dotcom-rendering/src/components/FootballMatchSummary.stories.tsx
Owners: none

fix conflict
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
Owners: none

regen schema
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
Owners: none

Update comment -> comments
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
Owners: none

Make play icon call responsible for positioning
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
Owners: none

Refactor page kinds to remove duplication
  dotcom-rendering/src/sportDataPage.ts
Owners: none

Update CODE facia-rendering instances to c8g to match PROD
  dotcom-rendering/cdk/bin/cdk.ts
Owners: @guardian/dotcom-platform

adjusted header image width on tablet and phablet
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
Owners: @guardian/growth

Allow more ads on fronts with beta collections (#13800)
  dotcom-rendering/src/lib/commercial-constants.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Seperate left border carousel styles so that can be applied differently when the carousel has stacked rows or not.
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Allow consumers to control the column and row gap sizing based on a small, medium, large model.
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Owners: none

Set secondary level font size to text sans 20 on tablet and desktop but keep mobile at text sans 17
  dotcom-rendering/src/components/ContainerTitle.tsx
Owners: none

Add reducer to remove consecutive ad slots for fronts with secondary level containers (#13796)
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Update height of scrollable small in getFrontsAdPositions.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Add second europe beta test. This uses the naming convention europeBetaFrontTest2 to align with apps.
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

Make score optional for match summary page
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
Owners: none

Update height of scrollable small in getFrontsAdPositions.ts (#13815)
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Owners: none

Add second europe beta test. This uses the naming convention europeBetaFrontTest2 to align with apps. (#13809)
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Owners: none

fix schema
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
Owners: none

Support scores above ten in the match nav
  dotcom-rendering/src/components/Score.stories.tsx
  dotcom-rendering/src/components/Score.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform
