Repository guardian/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/supporter-revenue-stream, @guardian/commercial-dev, @guardian/growth

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Files at the root of the project
/*                                              @guardian/dotcom-platform

/.github/                                       @guardian/dotcom-platform
/.husky/                                        @guardian/dotcom-platform
/.vscode/                                       @guardian/dotcom-platform
/apps-rendering/                                @guardian/dotcom-platform

# Files at the root of `/dotcom-rendering`
/dotcom-rendering/*                             @guardian/dotcom-platform

/dotcom-rendering/.storybook/                   @guardian/dotcom-platform
/dotcom-rendering/cdk/                          @guardian/dotcom-platform
/dotcom-rendering/configs/                      @guardian/dotcom-platform
/dotcom-rendering/scripts/                      @guardian/dotcom-platform
/dotcom-rendering/src/client/islands/           @guardian/dotcom-platform
/dotcom-rendering/src/client/userFeatures/      @guardian/supporter-revenue-stream
/dotcom-rendering/src/components/AdBlock*       @guardian/commercial-dev
/dotcom-rendering/src/components/AdSlot*        @guardian/commercial-dev
/dotcom-rendering/src/components/AdP*           @guardian/commercial-dev
/dotcom-rendering/src/components/marketing/     @guardian/growth
/dotcom-rendering/src/server/                   @guardian/dotcom-platform
/dotcom-rendering/webpack/                      @guardian/dotcom-platform
/scripts/                                       @guardian/dotcom-platform

Remove comment
  dotcom-rendering/scripts/env/check-deps.js
Owners: @guardian/dotcom-platform

Set secondary level font size to text sans 20 on tablet and desktop but keep mobile at text sans 17 (#13814)
  dotcom-rendering/src/components/ContainerTitle.tsx
Owners: none

use auxia gate component for non auxia audience
  dotcom-rendering/playwright/tests/sign-in-gate.e2e.spec.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Owners: none

Add "targets" Docs To Dev Server (#13869)
  dotcom-rendering/src/devServer/docs/amp.tsx
  dotcom-rendering/src/devServer/docs/dotcom.tsx
  dotcom-rendering/src/devServer/docs/editionsApp.tsx
  dotcom-rendering/src/devServer/docs/liveApps.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/editionsApp.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/targets.ts
Owners: none

Test geolocation
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

prevent survey slot appearing below desktop breakpoint
  dotcom-rendering/src/components/AdSlot.web.tsx
Owners: @guardian/commercial-dev

Increased timeout.
  dotcom-rendering/playwright/lib/cmp.ts
Owners: none

WIP
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
Owners: none

WIP
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Owners: none

WIP
  apps-rendering/.storybook/preview-head.html
  apps-rendering/src/components/CaptionIcon/index.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/image/sizes.ts
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/Picture.tsx
Owners: @guardian/dotcom-platform

Revert "Bump commercial"
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform

Remove code text from chromatic snapshot
  dotcom-rendering/fixtures/manual/discussion.ts
Owners: none

WIP
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/static/images/iceberg-moving.jpeg
Owners: none

Don't show grey bounding box around sublinks under avatar
  dotcom-rendering/src/components/Card/Card.tsx
Owners: none

Change inline kicker display to inline
  dotcom-rendering/src/components/Kicker.tsx
Owners: none

WIP
  dotcom-rendering/src/paletteDeclarations.ts
Owners: none

WIP
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
Owners: none

WIP
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/model/enhanceCards.ts
Owners: none

WIP
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/layout.ts
  dotcom-rendering/src/types/mainMedia.ts
Owners: none

prevent survey slot appearing below desktop breakpoint (#13948)
  dotcom-rendering/src/components/AdSlot.web.tsx
Owners: @guardian/commercial-dev

remove newsletters page from updates
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/model/newsletter-page-schema.json
  dotcom-rendering/src/types/newslettersPage.ts
Owners: none

add survey slots to other non front and non tag pages
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/types/newslettersPage.ts
Owners: none

generate schemas
  dotcom-rendering/src/model/newsletter-page-schema.json
Owners: none

Remove flex basis from podcast image
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Owners: none

Responsive colour scheme for DCAR interactive apps
  dotcom-rendering/src/server/render.article.apps.tsx
Owners: @guardian/dotcom-platform

Update ticker colour
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
Owners: @guardian/growth

move items to same level, name, define grid-template-areas
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

fix issue with alignment of older CTAs at desktop and above
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Owners: @guardian/growth

rename, remove extraneous, add padding, comments
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Close ToC when it sticks
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

ToC should always be sticky
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Owners: none

remove spaces for consistency, locating weird left margin
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Owners: @guardian/growth

Add galleries to the article model
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/article.ts
Owners: @guardian/dotcom-platform

ensure background colour inherits from designable banner set on container
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

ensure background colour inherits from designable banner set on container (#13960)
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Owners: @guardian/growth

Add galleries to the article model (#13961)
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/article.ts
Owners: @guardian/dotcom-platform

Switch to object styles for fonts
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.tsx
Owners: none

Add gallery layout
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Owners: none

implement football more button for when js is disabled (#13903)
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Owners: @guardian/dotcom-platform

remove top above nav ad slot for all newsletters page
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
Owners: none
