Repository guardian/dotcom-rendering, pull requests merged in 2020-08, with the labels that each got.

#1710 AMP⚡TCFv2 CMP w/ Sourcepoint
  src/amp/components/AdConsent.tsx
  src/amp/components/Analytics.tsx
  src/lib/footer-links.ts
Labels: :zap:AMP, commercial :moneybag:

#1827 [CMP] DCR Hotfix
  package.json
  yarn.lock
Labels: bug, commercial :moneybag:

#1560 Update babel packages
  package.json
  yarn.lock
Labels: 🥒WiP
