Repository guardian/dotcom-rendering, pull requests merged in 2020-07, with the labels that each got.

#1686 Ad slots relative positioning
  docs/commercial/overview.md
  src/web/components/AdSlot.tsx
Labels: commercial :moneybag:

#1579 Callout form
  package.json
  src/web/components/Callout/CheckboxSelect.tsx
  src/web/components/Callout/FieldLabel.tsx
  src/web/components/Callout/FileUpload.tsx
  src/web/components/Callout/Form.stories.tsx
  src/web/components/Callout/Form.test.tsx
  src/web/components/Callout/Form.tsx
  src/web/components/Callout/MultiSelect.tsx
  src/web/components/Callout/RadioSelect.tsx
  src/web/components/Callout/Select.tsx
  src/web/components/Callout/TextArea.tsx
  src/web/components/Callout/TextInput.tsx
  yarn.lock
Labels: needs review

#1571 Callout layout component
  src/static/icons/minus.svg
  src/web/components/Callout/Callout.stories.tsx
  src/web/components/Callout/Callout.tsx
  src/web/components/Callout/Form.tsx
Labels: needs review

#1693 Label styles should apply to scroll, too
  src/web/components/AdSlot.tsx
Labels: commercial :moneybag:

#1694 Relative positioning for ads in articles, too.
  src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:

#1706 full width top ad
  src/web/layouts/StandardLayout.tsx
Labels: commercial :moneybag:

#1703 SVG optimisation
  src/amp/components/Ad.tsx
  src/web/components/GoalAttempts.tsx
  src/web/components/Lineup.tsx
Labels: enhancement

#1713 Callout File Upload
  package.json
  src/web/components/Callout/FileUpload.tsx
  src/web/components/Callout/Form.test.tsx
  src/web/lib/stringifyFileBase64.ts
  yarn.lock
Labels: needs review

#1718 CSS Typo: Height =/= Width
  src/amp/components/Sidebar.tsx
Labels: :zap:AMP, ready to merge

#1722 reversed sections array of donut
  src/web/components/MatchStats.tsx
Labels: enhancement

#1730 Implement dailyArticleCount functionality
  scripts/jest/setup.ts
  src/web/components/App.tsx
  src/web/lib/dailyArticleCount.test.ts
  src/web/lib/dailyArticleCount.ts
  src/web/lib/getCountryCode.test.ts
Labels: enhancement
