Repository guardian/dotcom-rendering, pull requests merged in 2020-11, with the labels that each got.

#2043 Switch PR Deployments to working on demand
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-deployment.yml
  .prbuilds/cleanup.playbook.yml
  .prbuilds/config.yml
  .prbuilds/setup.playbook.yml
Labels: PR Deployment

#1645 Update browser-support.md
  docs/principles/browser-support.md
Labels: good first issue, help wanted, 🥒WiP

#2071 Update browser.js webpack to use preset-env instead of preset-modules
  scripts/webpack/browser.js
Labels: PR Deployment

#2093 Aus bump cmp
  package.json
  yarn.lock
Labels: commercial :moneybag:, ready to merge

#1992 ⚡ AMP : Opt-out CMP in Australia
  src/amp/components/AdConsent.tsx
Labels: :zap:AMP, commercial :moneybag:, ⚠️DONOTMERGE⚠️

#2109 Revert "MJ - Add Goal Reached Behaviour to AMP Ticker"
  src/amp/components/AmpAnimation.tsx
  src/amp/components/Epic.tsx
  src/amp/components/Ticker.tsx
  src/amp/components/moustache.tsx
  src/amp/server/document.tsx
Labels: PR Deployment

#2150 Cypress Intercept Improvements
  cypress/integration/e2e/article.e2e.spec.js
Labels: ready to merge

#2126 Carousel improvements
  src/web/components/Onwards/Carousel/Carousel.tsx
Labels: ready to merge

#2136 Correct path of static assets
  scripts/deploy/build-riffraff-bundle.js
Labels: PR Deployment
