Repository guardian/dotcom-rendering, pull requests merged in 2020-02, with the labels that each got.

#1115 William/star review
  .storybook/config.js
  fixtures/CAPI/CAPI.ts
  fixtures/CAPI/review/showcaseReview.ts
  fixtures/CAPI/review/standardReview.ts
  fixtures/article.ts
  index.d.ts
  src/amp/server/document.test.tsx
  src/lib/ad-targeting.test.ts
  src/model/extract-ga.test.ts
  src/web/components/ArticleContainer.tsx
  src/web/components/ArticleHeadline.tsx
  src/web/components/Card/Card.tsx
  src/web/components/Counts.stories.tsx
  src/web/components/MainMedia.tsx
  src/web/components/Picture.tsx
  src/web/components/StarRating/StarRating.stories.tsx
  src/web/components/StarRating/StarRating.tsx
  src/web/components/YouTubeEmbed.tsx
  src/web/components/elements/ImageComponent.tsx
  src/web/components/elements/RichLinkComponent.tsx
  src/web/components/elements/YouTubeComponent.tsx
  src/web/layouts/DecideLayout.tsx
  src/web/layouts/Layouts.stories.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.stories.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.tsx
  src/web/layouts/StandardLayout/StandardLayout.stories.tsx
  src/web/layouts/StandardLayout/StandardLayout.tsx
  src/web/server/document.test.tsx
Labels: Ready to merge

#1135 Onwards description text
  fixtures/onwards.mocks.ts
  index.d.ts
  src/web/components/Onwards/Onwards.stories.tsx
  src/web/components/Onwards/OnwardsLayout.tsx
  src/web/components/Onwards/OnwardsTitle.tsx
  src/web/components/lib/useComments.ts
Labels: Need Review

#1136 Onwards with urls
  fixtures/onwards.mocks.ts
  index.d.ts
  src/web/components/Onwards/Onwards.stories.tsx
  src/web/components/Onwards/OnwardsLayout.tsx
  src/web/components/Onwards/OnwardsTitle.tsx
  src/web/components/lib/useComments.ts
Labels: Need Review, dependencies

#1133 Move nested lib to own folder
  fixtures/series.ts
  src/web/components/ArticleBody.tsx
  src/web/components/Card/Card.tsx
  src/web/components/Card/components/CardAge.tsx
  src/web/components/Card/components/LI.tsx
  src/web/components/Card/components/UL.tsx
  src/web/components/CardCommentCount.tsx
  src/web/components/Counts.test.tsx
  src/web/components/Counts.tsx
  src/web/components/Kicker.tsx
  src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.test.tsx
  src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.tsx
  src/web/components/MostViewed/MostViewedRight/MostViewedRight.test.tsx
  src/web/components/MostViewed/MostViewedRight/MostViewedRight.tsx
  src/web/components/MostViewed/MostViewedRight/MostViewedRightItem.tsx
  src/web/components/Onwards/Onwards.tsx
  src/web/components/Onwards/OnwardsLayout.tsx
  src/web/components/ReaderRevenueLinks.tsx
  src/web/components/SlotBodyEnd.tsx
  src/web/components/elements/RichLinkComponent.tsx
  src/web/layouts/DecideLayout.tsx
  src/web/layouts/Layouts.stories.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.stories.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.tsx
  src/web/layouts/StandardLayout/StandardLayout.stories.tsx
  src/web/layouts/StandardLayout/StandardLayout.tsx
  src/web/lib/ArticleRenderer.tsx
  src/web/lib/AsyncClientComponent.tsx
  src/web/lib/api.tsx
  src/web/lib/dateTime.test.tsx
  src/web/lib/dateTime.ts
  src/web/lib/decidePillarLight.ts
  src/web/lib/formatCount.ts
  src/web/lib/joinUrl.test.ts
  src/web/lib/joinUrl.ts
  src/web/lib/layoutHelpers.ts
  src/web/lib/useComments.ts
  src/web/lib/useHover.tsx
  src/web/lib/verticalDivider.ts
Labels: enhancement, question

#1144 Add some padding to the bottom of the article
  src/web/components/SubMeta.tsx
Labels: Ready to merge

#1143 Update merchandising styling
  src/web/layouts/CommentLayout.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.tsx
  src/web/layouts/StandardLayout/StandardLayout.tsx
Labels: Ready to merge

#1145 Fix rich link edge case logic
  fixtures/CAPI/richLink.ts
  fixtures/card.ts
  src/web/components/Caption.tsx
  src/web/components/elements/RichLinkComponent.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.stories.tsx
  src/web/layouts/StandardLayout/StandardLayout.stories.tsx
  src/web/lib/mockRESTCalls.ts
Labels: Need Review

#1132 Show contributor avatar in headline for comment articles
  fixtures/CAPI/comment.ts
  index.d.ts
  src/lib/content.d.ts
  src/web/components/Border.tsx
  src/web/components/ContributorAvatar.tsx
  src/web/components/GridItem.tsx
  src/web/layouts/CommentLayout/CommentLayout.stories.tsx
  src/web/layouts/CommentLayout/CommentLayout.tsx
  src/web/layouts/DecideLayout.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.tsx
  src/web/layouts/StandardLayout/StandardLayout.tsx
Labels: Ready to merge

#1152 Epic attributes are now nested under a data key
  src/web/components/SlotBodyEnd.tsx
Labels: Ready to merge

#1153 Accept CodeBlockElement with isMandatory flag
  src/lib/content.d.ts
  src/model/json-schema.json
Labels: Ready to merge

#1156 Refactor adslot
  index.d.ts
  src/model/advertisement.ts
  src/web/components/AdSlot.tsx
  src/web/components/HeaderAdSlot.tsx
  src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.tsx
  src/web/components/StickyAd.tsx
  src/web/layouts/CommentLayout/CommentLayout.tsx
  src/web/layouts/ShowcaseLayout/ShowcaseLayout.tsx
  src/web/layouts/StandardLayout/StandardLayout.tsx
Labels: Ready to merge

#1151 Support preset-modules for reduced bundle size
  package.json
  scripts/webpack/browser.js
  scripts/webpack/frontend.js
  scripts/webpack/server.js
  src/lib/assets.ts
  src/web/server/document.tsx
  src/web/server/htmlTemplate.ts
  yarn.lock
Labels: Need Review

#1157 Preact spike
  babel.config.js
  docs/architecture/020-react-to-preact.md
  package.json
  scripts/webpack/frontend.js
  yarn.lock
Labels: Ready to merge, ⚠️DONOTMERGE⚠️

#1166 Active pillar
  src/web/layouts/CommentLayout.tsx
  src/web/layouts/ShowcaseLayout.tsx
  src/web/layouts/StandardLayout.tsx
  src/web/lib/layoutHelpers.ts
Labels: Ready to merge

#1171 Document portal decision
  docs/architecture/021-react-portals.md
Labels: Ready to merge

#1183 Fix star reviews
  src/web/components/StarRating/StarRating.stories.tsx
  src/web/components/StarRating/StarRating.tsx
Labels: Need Review

#1184 Webpack: symlinks: false
  scripts/webpack/frontend.js
Labels: Ready to merge

#1185 Rename SrcSet to SrcSetItem, because it's not a set but the element of a set
  src/amp/components/MainMedia.tsx
  src/amp/components/elements/Image.tsx
  src/amp/lib/image-fit.ts
  src/lib/content.d.ts
  src/web/components/elements/ImageComponent.tsx
Labels: Ready to merge

#1194 Country Code
  src/web/browser/App.tsx
  src/web/lib/getCountryCode.test.ts
  src/web/lib/getCountryCode.ts
Labels: Ready to merge
