Repository guardian/dotcom-rendering, pull requests merged in 2020-05, with the labels that each got.

#1390 Add amp-experiment component
  docs/commercial/amp-ab-testing.md
  src/amp/components/Experiment.tsx
  src/amp/components/Header.tsx
  src/amp/experimentConfigs.ts
  src/amp/lib/experiment.test.tsx
  src/amp/lib/experiment.ts
  src/amp/pages/Article.tsx
  src/amp/server/document.test.tsx
  src/amp/server/document.tsx
  src/amp/server/render.tsx
Labels: enhancement, needs review

#1476 Dynamic imports foundations
  babel.config.js
  index.d.ts
  package.json
  scripts/frontend/dev-server.js
  scripts/webpack/frontend.js
  src/lib/assets.ts
  src/model/window-guardian.ts
  src/web/browser/ga/init.ts
  src/web/browser/initPerf.ts
  src/web/browser/lotame/init.ts
  src/web/browser/ophan/init.ts
  src/web/browser/react/init.ts
  src/web/browser/startup.ts
  src/web/browser/webpackPublicPath.ts
Labels: needs review

#1494 removes condition limiting amp epic to single test article
  src/amp/components/BodyArticle.tsx
Labels: ⚠️DONOTMERGE⚠️

#1492 Dynamic imports
  package.json
  scripts/webpack/browser.js
  src/web/components/App.tsx
  src/web/components/CMP.test.tsx
  src/web/components/CMP.tsx
  src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.tsx
  src/web/components/MostViewed/MostViewedRight/MostViewedRightWrapper.tsx
  src/web/components/Onwards/OnwardsLower.tsx
  src/web/components/Onwards/OnwardsUpper.tsx
  yarn.lock
Labels: needs review
