Repository guardian/dotcom-rendering, pull requests merged in 2021-11, with the labels that each got.

#3578 Extend Prebid timeout AB test until 2021-11-08
  dotcom-rendering/src/web/experiments/tests/prebid-timeout-test.ts
Labels: dotcom-rendering

#3571 Use Core Web Vitals from `@guardian/libs`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/browser/coreVitals/coreVitals.ts
  dotcom-rendering/src/web/browser/coreVitals/init.ts
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  yarn.lock
Labels: dotcom-rendering

#3577 Rename `canShow` functions
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
  dotcom-rendering/src/web/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
Labels: dotcom-rendering

#3580 Support youtube short-urls in AMP
  dotcom-rendering/src/amp/components/elements/VideoYoutubeBlockComponent.tsx
  dotcom-rendering/src/amp/lib/get-video-id.test.ts
  dotcom-rendering/src/amp/lib/get-video-id.ts
Labels: dotcom-rendering

#3576 Apply AMP regional classes to containers instead of `amp-` elements
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
Labels: ⚠️DONOTMERGE⚠️, dotcom-rendering

#3573 Wire Up The Live Layout In AR
  apps-rendering/src/components/layout/index.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.test.ts
  apps-rendering/src/item.ts
  apps-rendering/src/lib.ts
  apps-rendering/src/server/csp.ts
Labels: apps-rendering

#3584 Revert standfirst max width 80%
  dotcom-rendering/src/amp/lib/get-video-id.test.ts
  dotcom-rendering/src/amp/lib/get-video-id.ts
  dotcom-rendering/src/web/components/Standfirst.stories.tsx
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#3561 Bump `consent-management-platform` to v9
  dotcom-rendering/package.json
  yarn.lock
Labels: PR Deployment, dotcom-rendering

#3587 Revert "Bump `consent-management-platform` to v9"
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3582 More logging in `App.tsx`
  dotcom-rendering/src/web/components/App.tsx
Labels: dotcom-rendering

#3545 Use browserId for epic if consented
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/lib/contributions.ts
Labels: dotcom-rendering

#3585 Add Blocks To Live Fixtures
  apps-rendering/src/fixtures/live.ts
Labels: apps-rendering

#3579 Stop calling IDAPI GET /user/me on every article page
  dotcom-rendering/cypress/integration/parallel-2/braze.spec.js
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  dotcom-rendering/src/web/lib/contributions.test.ts
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/getBrazeUuid.test.ts
  dotcom-rendering/src/web/lib/getBrazeUuid.ts
  dotcom-rendering/src/web/lib/getIdapiUserData.ts
Labels: dotcom-rendering

#3591 Fix issue with caption icon on iOS
  dotcom-rendering/src/web/components/Caption.tsx
Labels: dotcom-rendering

#3592 Remove obsolete tracking
  dotcom-rendering/src/amp/components/Analytics.tsx
  dotcom-rendering/src/amp/server/document.test.tsx
  dotcom-rendering/src/amp/server/render.tsx
  dotcom-rendering/src/web/browser/ga/ga.ts
Labels: dotcom-rendering

#3574 Send section and tag ids to banner service
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
Labels: dotcom-rendering

#3596 Remove Padding To Stop Captions Being Too Far Left On Immersives
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering

#3392 Storybook fixes & cleanup
  .storybook/default-css.ts
  .storybook/preview-head.html
  .storybook/preview.js
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/editions/byline/index.tsx
  apps-rendering/src/components/editions/shareIcon/index.tsx
  apps-rendering/src/components/editions/styles.ts
  apps-rendering/src/components/richLink.tsx
  apps-rendering/src/server/editionsPage.tsx
  apps-rendering/src/server/page.tsx
  common-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/server/document.tsx
  dotcom-rendering/src/lib/reset-css.js
  dotcom-rendering/src/web/server/htmlTemplate.ts
  package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering, common-rendering

#3604 Revert call to google analytics
  dotcom-rendering/src/web/browser/ga/ga.ts
Labels: dotcom-rendering

#3606 Extend Prebid timeout AB test until 2021-11-15
  dotcom-rendering/src/web/experiments/tests/prebid-timeout-test.ts
Labels: dotcom-rendering

#3607 Adding break-word property in order to avoid page display issues
  dotcom-rendering/src/web/components/elements/TextBlockComponent.tsx
Labels: dotcom-rendering

#3543 live blog AR metadata
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/commentCount.tsx
  apps-rendering/src/components/dateline.stories.tsx
  apps-rendering/src/components/dateline.tsx
  apps-rendering/src/components/headerImage.tsx
  apps-rendering/src/components/headline.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/media/byline.tsx
  apps-rendering/src/components/metadata.stories.tsx
  apps-rendering/src/components/metadata.tsx
  apps-rendering/src/components/series.tsx
  apps-rendering/src/components/standfirst.tsx
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/styles.ts
  package.json
  yarn.lock
Labels: apps-rendering

#3603 Remove `AnniversaryAtomComponent`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/json-schema.json
  dotcom-rendering/src/web/components/AnniversaryAtomComponent.tsx
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
Labels: dotcom-rendering

#3615 Update braze components for down to earth epic
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3597 Add video icon for video captions
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/elements/GuVideoBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/VideoFacebookBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/VimeoBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/YoutubeBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/YoutubeEmbedBlockComponent.tsx
Labels: dotcom-rendering

#3620 AR Live Layout Refactor, Part One: Top Half Of Header
  apps-rendering/src/components/headline.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/series.tsx
  package.json
  yarn.lock
Labels: apps-rendering

#3617 Interactive contents block element fix
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/elements/InteractiveContentsBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/elements/InteractiveContentsBlockComponent.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#3599 More semantic HTML structure
  dotcom-rendering/src/web/components/ArticleContainer.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Format.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Layout.stories.tsx
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/components/Figure.stories.tsx
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/GridItem.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/LeftColumn.stories.tsx
  dotcom-rendering/src/web/components/MatchNav.stories.tsx
  dotcom-rendering/src/web/components/MatchStats.stories.tsx
  dotcom-rendering/src/web/components/MatchStats.tsx
  dotcom-rendering/src/web/components/MostViewed/MostViewedRight/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#3626 fix: Issue where width wasn't being set well for these articles
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering

#3619 AR metadata deadblog stylings
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/commentCount.tsx
  apps-rendering/src/components/dateline.tsx
  apps-rendering/src/components/layout/live.stories.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/metadata.stories.tsx
  apps-rendering/src/components/metadata.tsx
  apps-rendering/src/fixtures/live.ts
Labels: apps-rendering

#3625 Remove Source's palette object from dotcom-rendering
  apps-rendering/src/components/anchor.tsx
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/labsLogo.tsx
  apps-rendering/src/components/series.tsx
  apps-rendering/src/components/shared/card.tsx
  apps-rendering/src/renderer.ts
  apps-rendering/src/themeStyles.ts
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/BodyLiveblog.tsx
  dotcom-rendering/src/amp/components/Expandable.tsx
  dotcom-rendering/src/amp/components/Footer.tsx
  dotcom-rendering/src/amp/components/Header.tsx
  dotcom-rendering/src/amp/components/KeyEvents.tsx
  dotcom-rendering/src/amp/components/MainMedia.tsx
  dotcom-rendering/src/amp/components/OnwardContainer.tsx
  dotcom-rendering/src/amp/components/Pagination.tsx
  dotcom-rendering/src/amp/components/ReaderRevenueButton.tsx
  dotcom-rendering/src/amp/components/ShowMoreButton.tsx
  dotcom-rendering/src/amp/components/Sidebar.tsx
  dotcom-rendering/src/amp/components/StarRating.tsx
  dotcom-rendering/src/amp/components/SubMeta.tsx
  dotcom-rendering/src/amp/components/elements/CommentBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/PullquoteBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/RichLinkBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/SubheadingBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/TextBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/TimelineBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/TwitterBlockComponent.tsx
  dotcom-rendering/src/amp/components/topMeta/PaidForBand.tsx
  dotcom-rendering/src/amp/components/topMeta/Standfirst.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaAnalysis.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaLiveblog.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaNews.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaOpinion.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaPaidContent.tsx
  dotcom-rendering/src/amp/pages/Article.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/MatchNav.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/shared.tsx
  dotcom-rendering/src/web/components/elements/CommentBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/TableBlockComponent.tsx
Labels: apps-rendering, dotcom-rendering

#3616 Add pagination styling
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Pagination.stories.tsx
  dotcom-rendering/src/web/components/Pagination.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3627 Pass styling to Editions hydrated share icon
  apps-rendering/src/components/editions/byline/index.tsx
  apps-rendering/src/components/editions/shareIcon/index.tsx
  apps-rendering/src/components/editions/standfirst/index.tsx
Labels: apps-rendering

#3633 Set logged STAGE based on GU_STAGE
  dotcom-rendering/src/app/logging.ts
Labels: dotcom-rendering

#3631 Fixing the display of the contents block at narrow breakpoints
  dotcom-rendering/src/web/components/elements/InteractiveContentsBlockComponent.tsx
Labels: dotcom-rendering

#3624 Remove `palette` from `App.tsx`
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/Discussion.stories.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.stories.tsx
  dotcom-rendering/src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.tsx
  dotcom-rendering/src/web/components/SubNav/SubNav.tsx
  dotcom-rendering/src/web/components/elements/CalloutBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/elements/CalloutBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/InteractiveBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/elements/InteractiveBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/MapEmbedBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/SpotifyBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/VideoFacebookBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/elements/VideoFacebookBlockComponent.tsx
  dotcom-rendering/src/web/components/elements/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/elements/YoutubeBlockComponent.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#3637 refactor live block and remove header element
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering

#3632 `buildAdTargeting` no longer accepts `CAPI`
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/lib/ad-targeting.test.ts
  dotcom-rendering/src/lib/ad-targeting.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3643 update standfirst bullet styling for deadblogs
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Standfirst.stories.tsx
  dotcom-rendering/src/web/components/Standfirst.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3642 move firstPublished and lastUpdated to common
  common-rendering/src/components/FirstPublished.stories.tsx
  common-rendering/src/components/FirstPublished.tsx
  common-rendering/src/components/LastUpdated.stories.tsx
  common-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering, common-rendering

#3638 Make sure strong elements return a bold font weight
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#3646 LIVE-3078: Updates sbt-scrooge-typescript plugin version for resolving from non-bintray repo
  apps-rendering/README.md
  apps-rendering/project/plugins.sbt
Labels: apps-rendering

#3647 update liveblog & deadblog background colour
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3634 AR: Use Palette For Standfirst
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/standfirst.tsx
  apps-rendering/src/editorialPalette.ts
Labels: apps-rendering

#3648 Add support for amazon ads on AMP pages via RTC
  dotcom-rendering/src/amp/components/Ad.test.tsx
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
Labels: dotcom-rendering

#3645 Increase caption bottom padding if display is Showcase and design is Review
  dotcom-rendering/src/web/components/Caption.stories.tsx
  dotcom-rendering/src/web/components/Caption.tsx
Labels: dotcom-rendering

#3635 More explicit props for the SignIn Gate
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/SignInGate/SignInGateSelector.tsx
  dotcom-rendering/src/web/components/SignInGate/displayRule.test.ts
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
  dotcom-rendering/src/web/components/SignInGate/gates/main-control.ts
  dotcom-rendering/src/web/components/SignInGate/types.ts
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  dotcom-rendering/src/web/lib/useSignInGateWillShow.ts
Labels: dotcom-rendering

#3653 Use `@guardian/libs` for cookie functions
  .storybook/preview.js
  dotcom-rendering/src/web/browser/cookie.ts
  dotcom-rendering/src/web/browser/ga/cookie.ts
  dotcom-rendering/src/web/browser/ga/ga.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/BootReact.tsx
  dotcom-rendering/src/web/components/Links.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/SignInGate/SignInGateSelector.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/lib/contributions.test.ts
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/getCountryCode.ts
  dotcom-rendering/src/web/lib/readerRevenueDevUtils.ts
Labels: dotcom-rendering

#3657 remove duration from cypress test
  dotcom-rendering/cypress/integration/parallel-3/article.interactivity.spec.js
Labels: dotcom-rendering

#3650 Refactor title and headline in liveblogs to use HeadlineGrid
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
Labels: dotcom-rendering

#3636 Lift Editorial Palette
  apps-rendering/src/components/editions/styles.ts
  apps-rendering/src/components/headline.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/shared/card.tsx
  apps-rendering/src/components/standfirst.tsx
  apps-rendering/src/editorialPalette.ts
  apps-rendering/src/editorialStyles.ts
  common-rendering/src/components/figCaption.tsx
  common-rendering/src/editorialPalette.ts
Labels: apps-rendering, common-rendering

#3654 YouTube Documentation
  dotcom-rendering/docs/youtube/youtube-variations-2020-06-23.md
  dotcom-rendering/docs/youtube/youtube-variations-2021-11-17.md
  dotcom-rendering/docs/youtube/youtubeimages/embedcapijson.png
  dotcom-rendering/docs/youtube/youtubeimages/embedcomposerscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages/embeddcrjson.png
  dotcom-rendering/docs/youtube/youtubeimages/embedscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages/mediaatomcapijson.png
  dotcom-rendering/docs/youtube/youtubeimages/mediaatomcomposerscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages/mediaatomdcrjson.png
  dotcom-rendering/docs/youtube/youtubeimages/mediaatomscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages/structuredataembedscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages/structureddataembedcapijson.png
  dotcom-rendering/docs/youtube/youtubeimages/structureddataembedcomposer.png
Labels: dotcom-rendering

#3664 Fix series kicker not showing in 980 breakpoint
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3660 Add another contents block
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
Labels: dotcom-rendering

#3665 `make gen-fixtures`
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Article.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/match-report.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/extract-ga.test.ts
Labels: dotcom-rendering

#3668 update ticker styling for us eoy appeal
  dotcom-rendering/src/amp/components/Epic.tsx
Labels: dotcom-rendering

#3669 Remove `CAPI` from `StickyBottomBanner`
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
Labels: dotcom-rendering

#3630 Refactor props for `LeftColumn`
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Format.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Layout.stories.tsx
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/Figure.stories.tsx
  dotcom-rendering/src/web/components/LeftColumn.stories.tsx
  dotcom-rendering/src/web/components/LeftColumn.tsx
  dotcom-rendering/src/web/components/MatchNav.stories.tsx
  dotcom-rendering/src/web/components/MatchStats.stories.tsx
  dotcom-rendering/src/web/components/MostViewed/MostViewedFooter/MostViewedFooter.tsx
  dotcom-rendering/src/web/components/MostViewed/MostViewedRight/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/Onwards/Carousel/Carousel.tsx
  dotcom-rendering/src/web/components/Onwards/OnwardsLayout.tsx
  dotcom-rendering/src/web/components/elements/CaptionBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/elements/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3658 Add Criteo AB test
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/integrate-criteo-test.ts
Labels: commercial :moneybag:, dotcom-rendering

#3673 Adds webPublicationDate in RelatedItem
  apps-rendering/api-models/scala/version.sbt
  apps-rendering/api-models/thrift/src/main/thrift/appsRendering.thrift
Labels: apps-rendering

#3672 Ma/matchtabs in standard layout
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3662 Liveblogs: make key events sticky on desktop
  common-rendering/src/components/keyEvents.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering, common-rendering

#3675 LIVE-3078: Uses webPublicationDate instead of lastModified for rendering relatedItems
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/components/shared/card.tsx
  apps-rendering/src/relatedContent.test.ts
  apps-rendering/src/relatedContent.ts
Labels: apps-rendering

#3670 Update live layout grid to fix right column
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3678 Fix live layout header alignment
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3623 Send sectionId for epic targeting
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  yarn.lock
Labels: dotcom-rendering

#3666 Move accordion into separate component for sharing
  common-rendering/src/components/accordion.stories.tsx
  common-rendering/src/components/accordion.tsx
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#3682 Remove blank space on deadblogs
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3683 zero padding on standfirst livelayouts until desktop
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
Labels: dotcom-rendering

#3401 New Immersive Interactive template, legacy one now known as FullPageInteractive (merge 1 of 5)
  apps-rendering/src/components/layout/interactiveimmersive.tsx
  apps-rendering/src/components/shared/articleBody.tsx
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/decideDesign.ts
Labels: apps-rendering, dotcom-rendering

#3655 DCR - fix metadata layout and styling for small breakpoints
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/Dateline.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/ShareIcons.stories.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3694 Add `maincontent` id for liveblogs
  dotcom-rendering/src/web/components/ArticleBody.tsx
Labels: dotcom-rendering

#3693 `SkipToKeyEvents`
  common-rendering/src/components/keyEvents.tsx
  dotcom-rendering/src/web/components/SkipTo.tsx
  dotcom-rendering/src/web/server/document.tsx
  dotcom-rendering/src/web/server/htmlTemplate.ts
Labels: dotcom-rendering, common-rendering

#3688 Add padding to video caption on mobile breakpoints
  dotcom-rendering/src/web/components/Caption.stories.tsx
  dotcom-rendering/src/web/components/Caption.tsx
Labels: dotcom-rendering

#3697 fix: Only render MatchNav for MatchReports
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3641 Picture/Image Optimisations - The DPR Problem (Part 1/?)
  dotcom-rendering/docs/architecture/027-pictures.md
  dotcom-rendering/src/web/components/Picture.test.tsx
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering

#3681 AB test for new Smart bidder integration
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/integrate-smart-test.ts
Labels: commercial :moneybag:, dotcom-rendering

#3680 New Immersive Interactive Layout, post CAPI changes (merge 3/5)
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
Labels: dotcom-rendering

#3684 use non strict sanctions check when getting the discussion profile
  dotcom-rendering/cypress/integration/parallel-4/signedin.spec.js
  dotcom-rendering/src/web/lib/getUser.ts
Labels: dotcom-rendering

#3701 Identity | Sign In Gate | Extend the sign in gate test expiry date
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-control.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#3700 Remove Prebid Timeout AB test
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/prebid-timeout-test.ts
Labels: dotcom-rendering

#3699 Only merge if necessary: Revert "New Immersive Interactive Layout, post CAPI changes (merge 3/5)"
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
Labels: dotcom-rendering

#3685 show 'wide' LeftColumn after leftCol breakpoint for live layouts
  dotcom-rendering/src/web/components/LeftColumn.tsx
Labels: dotcom-rendering

#3704 Relative time
  common-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/browser.js
  dotcom-rendering/src/web/browser/relativeTime/init.ts
  dotcom-rendering/src/web/browser/relativeTime/updateTimeElements.test.tsx
  dotcom-rendering/src/web/browser/relativeTime/updateTimeElements.ts
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering, common-rendering

#3706 feat: Use an absolute Date for KeyEvents
  apps-rendering/src/components/layout/live.tsx
  common-rendering/src/components/keyEvents.stories.tsx
  common-rendering/src/components/keyEvents.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.test.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
Labels: apps-rendering, dotcom-rendering, common-rendering

#3708 Create a new WazuhSecurityGroup with another name
  apps-rendering/config/cloudformation.yaml
Labels: apps-rendering

#3710 Remove the WazuhSecurityGroup (with the old name)
  apps-rendering/config/cloudformation.yaml
Labels: apps-rendering
