Repository guardian/dotcom-rendering, pull requests merged in 2021-09, with the labels that each got.

#3360 FIX: `top-above-nav` flex styling
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
Labels: bug, commercial :moneybag:

#3338 Add picnic ad size to amp ads
  dotcom-rendering/src/amp/components/Ad.tsx
Labels: ⚠️DONOTMERGE⚠️

#3372 Fix Bonzai TrueSkin page skin
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: commercial :moneybag:

#3384 Enable prebid on mobile sticky ads
  dotcom-rendering/src/amp/components/Ad.tsx
Labels: ⚠️DONOTMERGE⚠️

#3425 WIP - Update AR dependancies
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: PR Deployment

#3471 Fix JS assets path issues in `frontend`
  dotcom-rendering/cypress/integration/parallel-3/article.metaAndOphan.e2e.spec.js
  dotcom-rendering/scripts/frontend/dev-server.js
  dotcom-rendering/src/lib/assets.ts
Labels: needs review, commercial :moneybag:
