Repository guardian/dotcom-rendering, pull requests merged in 2021-06, with the labels that each got.

#3041 Enable sticky ads in US
  src/amp/components/BodyArticle.tsx
  src/amp/components/StickyAd.tsx
  src/amp/server/document.tsx
Labels: ⚠️DONOTMERGE⚠️

#3059 Collapse ad slots
  src/web/components/ArticleContainer.tsx
  src/web/components/Section.tsx
Labels: commercial :moneybag:

#3140 Fix `AUS` privacy banner on AMP
  src/amp/components/AdConsent.tsx
Labels: :zap:AMP, bug

#3142 CMP: rollback to v6.11.5
  package.json
  yarn.lock
Labels: bug, commercial :moneybag:
