Repository guardian/dotcom-rendering, pull requests merged in 2021-12, with the labels that each got.

#3687 fix: Bump @guardian/atoms-rendering to v22.0.1
  dotcom-rendering/package.json
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: dotcom-rendering

#3705 AR Live Layout With Grid
  apps-rendering/src/components/gridItem.tsx
  apps-rendering/src/components/headerImage.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/metadata.tsx
  common-rendering/src/components/accordion.tsx
Labels: apps-rendering, common-rendering

#3717 Show liveblock share icons and last updated time below phablet breakpoints
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering

#3715 Move stories from layouts to their components
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
Labels: dotcom-rendering

#3713 Bump `@guardian/commercial-core` to v0.31
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3709 Show AMP mobile sticky ad slot in all regions
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/components/RegionalAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
Labels: dotcom-rendering

#3707 Live 2801 use gu cdk
  .github/workflows/ar-nodejs.yml
  apps-rendering/artifact.json
  apps-rendering/cdk/.editorconfig
  apps-rendering/cdk/.eslintignore
  apps-rendering/cdk/.gitignore
  apps-rendering/cdk/README.md
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/cdk/cdk.json
  apps-rendering/cdk/jest.config.js
  apps-rendering/cdk/jest.setup.js
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/cdk/package-lock.json
  apps-rendering/cdk/package.json
  apps-rendering/cdk/script/ci
  apps-rendering/cdk/script/diff
  apps-rendering/cdk/script/setup
  apps-rendering/cdk/script/start
  apps-rendering/cdk/script/test
  apps-rendering/cdk/tsconfig.eslint.json
  apps-rendering/cdk/tsconfig.json
  apps-rendering/config/jest.config.js
  apps-rendering/riff-raff.yaml
  scripts/ci-ar.sh
  yarn.lock
Labels: apps-rendering

#3679 Initial addition of MatchNavs and better placement of MatchTabs
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3723 Revert "Initial addition of MatchNavs and better placement of MatchTabs"
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3721 YouTube Lite using `@guardian/atoms-rendering@22.1.1`
  dotcom-rendering/cypress/integration/parallel-5/atom.video.spec.js
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/HydrateOnce.tsx
  yarn.lock
Labels: dotcom-rendering

#3716 Apps rendering liveblocks skeleton
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/liveBlocks.tsx
  apps-rendering/src/components/richLink.tsx
  common-rendering/src/components/liveBlockContainer.tsx
Labels: apps-rendering, common-rendering

#3725 update ansi-regex 5.0.0 to 5.0.1
  apps-rendering/package-lock.json
Labels: apps-rendering

#3726 Fix match nav spacing
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3720 Fix metadata date format
  apps-rendering/src/components/dateline.stories.tsx
  apps-rendering/src/components/dateline.tsx
  apps-rendering/src/date.test.ts
  apps-rendering/src/date.ts
Labels: apps-rendering

#3729 YouTube documentation update
  dotcom-rendering/docs/youtube/youtube-variations-2020-06-23.md
  dotcom-rendering/docs/youtube/youtube-variations-2021-11-17.md
  dotcom-rendering/docs/youtube/youtubeimages-2020/embedcapijson.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/embedcomposerscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/embeddcrjson.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/embedscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/mediaatomcapijson.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/mediaatomcomposerscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/mediaatomdcrjson.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/mediaatomscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/structuredataembedscreenshot.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/structureddataembedcapijson.png
  dotcom-rendering/docs/youtube/youtubeimages-2020/structureddataembedcomposer.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-embed-dialog.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-embed-menu.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-generic-embed-code.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-video-menu.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-youtube-embed-atom.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-youtube-embed-generic.png
  dotcom-rendering/docs/youtube/youtubeimages-2021/composer-youtube-embed.png
Labels: dotcom-rendering

#3692 Add accordion to liveblog feed on smaller breakpoints
  common-rendering/src/components/accordion.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/components/MainMedia.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering, common-rendering

#3661 `bootCmp`
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/browser.js
  dotcom-rendering/src/web/browser/bootCmp/init.ts
  dotcom-rendering/src/web/browser/ga/ga.ts
  dotcom-rendering/src/web/browser/ga/init.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/elements/YoutubeBlockComponent.tsx
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3718 Picture/Image Optimisations - Desktop immersive main-media (Part 2/?)
  dotcom-rendering/docs/architecture/027-pictures.md
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering

#3689 fix dcr dead/live blog styling for metadata V2
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/CommentCount.test.tsx
  dotcom-rendering/src/web/components/CommentCount.tsx
  dotcom-rendering/src/web/components/Counts.stories.tsx
  dotcom-rendering/src/web/components/Counts.tsx
  dotcom-rendering/src/web/components/ShareCount.test.tsx
  dotcom-rendering/src/web/components/ShareCount.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3737 chore: Update READMEs
  README.md
  dotcom-rendering/README.md
Labels: dotcom-rendering

#3736 Refactor how we decide the `CDN` url (also call it `ASSET_URL`)
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/web/server/document.tsx
  dotcom-rendering/src/web/server/htmlTemplate.ts
Labels: dotcom-rendering

#3738 feat: Add another legacy interactive class for the count icons container
  dotcom-rendering/docs/contracts/003-extra-classes-for-interactives.md
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/layouts/lib/interactiveLegacyStyling.ts
Labels: dotcom-rendering

#3676 AR: Handle related content opinion card styles
  apps-rendering/src/components/shared/bylineCard.tsx
  apps-rendering/src/components/shared/card.tsx
  apps-rendering/src/relatedContent.ts
Labels: apps-rendering

#3741 Reintroduce server-side tests in config
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/window-guardian.ts
Labels: bug, dotcom-rendering

#3733 Add border to bottom of Container
  common-rendering/src/components/liveBlockContainer.tsx
Labels: common-rendering

#3730 Fixed width for comment ad element
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: dotcom-rendering

#3745 Refactor `buildBrazeMessages`
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/lib/braze/buildBrazeMessages.ts
Labels: dotcom-rendering

#3734 Add highlighting of underline on hover
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Standfirst.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3744 Refactor `<ContributionSlot>`
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ContributionSlot.tsx
Labels: dotcom-rendering

#3746 Add sticky key events for apps rendering live layout
  apps-rendering/src/components/layout/live.tsx
Labels: apps-rendering

#3735 Reduce `App.tsx` state
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/components/SignInGate/SignInGateSelector.tsx
  dotcom-rendering/src/web/components/SignInGate/types.ts
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  dotcom-rendering/src/web/lib/braze/buildBrazeMessages.ts
Labels: dotcom-rendering

#3753 fix: Remove duplicate declaration
  dotcom-rendering/src/web/lib/braze/buildBrazeMessages.ts
Labels: dotcom-rendering

#3743 Refactor `countryCode` in `App.tsx`
  .github/workflows/compress.yml
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  dotcom-rendering/src/web/lib/braze/buildBrazeMessages.ts
Labels: dotcom-rendering

#3755 Upgrades SBT version to 1.5.6
  apps-rendering/.gitignore
  apps-rendering/api-models/scala/version.sbt
  apps-rendering/build.sbt
  apps-rendering/project/build.properties
  apps-rendering/project/plugins.sbt
  apps-rendering/version.sbt
Labels: apps-rendering

#3756 feat: Reduce the length of the relative time string for key events
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#3751 Move liveblock header into common-rendering
  apps-rendering/src/components/liveBlocks.tsx
  apps-rendering/src/lib.ts
  common-rendering/src/components/liveBlockContainer.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: apps-rendering, dotcom-rendering, common-rendering

#3761 fix: Don't hide standfirst in print view
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#3763 Fix banner geolocation targeting
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
Labels: dotcom-rendering

#3748 Upgrade @guardian/braze-components to v5.1.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3742 Make culture deadblogs accessible
  common-rendering/src/components/keyEvents.tsx
  common-rendering/src/fixtures/article.ts
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/web/components/Pagination.stories.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/components/SubMeta.stories.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering, common-rendering

#3765 Update sbt version in AR
  apps-rendering/project/build.properties
Labels: apps-rendering

#3629 🏝 React Islands
  dotcom-rendering/docs/architecture/027-better-partial-hydration.md
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/browser.js
  dotcom-rendering/src/web/browser/hydration/doHydration.ts
  dotcom-rendering/src/web/browser/hydration/getName.ts
  dotcom-rendering/src/web/browser/hydration/getProps.ts
  dotcom-rendering/src/web/browser/hydration/init.ts
  dotcom-rendering/src/web/browser/hydration/whenIdle.ts
  dotcom-rendering/src/web/browser/hydration/whenVisible.ts
  dotcom-rendering/src/web/components/Hydrate.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3760 Remove AB test for Smart Prebid Integration
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/integrate-smart-test.ts
Labels: dotcom-rendering

#3766 Documentation For Common-Rendering `lib` Functions
  common-rendering/src/lib.ts
Labels: common-rendering

#3762 Update to Ophan v1.3.29 to fix Attention Time clock-update susceptibility
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3768 fix: Disable Chromatic for these third party embeds
  apps-rendering/src/components/embedWrapper.stories.tsx
Labels: apps-rendering

#3770 feat: Added make cmd for running without logging
  dotcom-rendering/makefile
Labels: dotcom-rendering

#3772 Update match tabs logic to display at the correct time
  dotcom-rendering/src/web/components/GetMatchTabs.tsx
  dotcom-rendering/src/web/components/MatchTabs.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3774 Upgrade to SBT version 1.6.0-RC2
  apps-rendering/project/build.properties
Labels: apps-rendering

#3771 Fix accessibility issue in navbar where id was duplicate
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/browser/react/init.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/BootReact.tsx
  dotcom-rendering/src/web/components/SubNav.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3777 Bump `doctoc` to `v2.1.0`
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3791 Upgrades to log4j 2.17.1
  apps-rendering/project/build.properties
Labels: apps-rendering
