Repository guardian/dotcom-rendering, pull requests merged in 2022-12, with the labels that each got.

#6627 Fix Express production server error handler
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering

#6632 Yarn script to run percy tests in a real browser
  dotcom-rendering/package.json
Labels: dotcom-rendering

#6642 Upgrade braze-components
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6636 feat: add mock promoted newsletter if article contains newsletter tag
  apps-rendering/src/capi.ts
  apps-rendering/src/server/server.ts
Labels: apps-rendering

#6652 fix: determine if article is recipe before feature check
  apps-rendering/src/item.ts
Labels: apps-rendering

#6659 Dblatcher app sign up visual fix
  apps-rendering/src/components/NewsletterSignup/EmailSignupForm.tsx
Labels: apps-rendering

#6449 'Full' Most viewed container on Fronts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/FrontMostViewed.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.stories.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#6621 Header design amends
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/makefile
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.stories.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/web/components/HeaderTopBarMyAccount.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/web/components/HeaderTopBarPrintSubscriptions.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearch.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearch.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearchJobs.tsx
  dotcom-rendering/src/web/components/Logo.tsx
  dotcom-rendering/src/web/lib/mockRESTCalls.ts
Labels: dotcom-rendering

#6549 fix: Correct AU headlines container in Onwards
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
Labels: dotcom-rendering

#6656 Add new `exclusion` ad slot to all pages
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
Labels: dotcom-rendering

#6663 Fix Cypress slowdown on Apple Silicon
  dotcom-rendering/cypress.config.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  scripts/ci-dcr.sh
Labels: dotcom-rendering

#6664 Mute all YouTube players in e2e tests
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
Labels: dotcom-rendering

#6554 Dblatcher newsletter layout mobile order
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
Labels: dotcom-rendering

#6248 feat: Allow container dividers to be controllable through the palette
  dotcom-rendering/src/web/components/Card/components/LI.tsx
  dotcom-rendering/src/web/components/Card/components/UL.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
  dotcom-rendering/src/web/lib/verticalDivider.ts
  dotcom-rendering/src/web/lib/verticalDividerWithBottomOffset.ts
Labels: dotcom-rendering

#6628 Ad labels refactor
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/ArticleContainer.tsx
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6673 bump `@guardian/libs` to `10.0.0`
  apps-rendering/package.json
  apps-rendering/yarn.lock
  common-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/web/lib/countryCodes.ts
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#6616 Image Subtypes And Transparent Backgrounds
  apps-rendering/src/components/ImgAlt/index.tsx
  apps-rendering/src/components/editions/avatar/avatar.stories.tsx
  apps-rendering/src/components/editions/byline/byline.stories.tsx
  apps-rendering/src/components/editions/headline/headline.stories.tsx
  apps-rendering/src/components/editions/layout/layout.stories.tsx
  apps-rendering/src/contributer.test.ts
  apps-rendering/src/contributor.ts
  apps-rendering/src/fixtures/galleryBody.ts
  apps-rendering/src/fixtures/galleryImage.ts
  apps-rendering/src/fixtures/image.ts
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/fixtures/newsletterSignUpContent.ts
  apps-rendering/src/fixtures/relatedContent.ts
  apps-rendering/src/image.test.ts
  apps-rendering/src/image.ts
  apps-rendering/src/image/image.ts
  apps-rendering/src/renderer.test.ts
Labels: apps-rendering

#6674 fix: shrink spacing on top nav my account
  dotcom-rendering/src/web/components/HeaderTopBarMyAccount.tsx
Labels: dotcom-rendering

#6671 Layout Story Refactor
  apps-rendering/src/articleFormat.test.ts
  apps-rendering/src/articleFormat.ts
  apps-rendering/src/components/Layout/Layout.stories.tsx
Labels: apps-rendering

#6660 Add AB test for outstream on desktop inline2+ on liveblogs
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/liveblog-desktop-outstream.ts
  dotcom-rendering/src/web/experiments/utils.ts
Labels: commercial :moneybag:, dotcom-rendering

#6679 Handle headline quotes on Cards
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/MostViewed.mocks.ts
Labels: dotcom-rendering, Fronts :newspaper:

#6678 Remove ad-slot__label styles
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6683 lower LatencyAlarmThreshold to 0.2
  dotcom-rendering/cloudformation.yml
Labels: dotcom-rendering

#6555 Simplify `renderElement` syntax
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering, Health

#6629 feat: add HeaderTopBarSearchCapi
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.stories.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearchCapi.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#6688 Fix `HeaderTopBar.stories` TypeScript error
  dotcom-rendering/src/web/components/HeaderTopBar.stories.tsx
Labels: dotcom-rendering

#6685 Remove Prebid AMP AB test and use Pubmatic
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#6617 Dblatcher/ar newsletter signup layout component form
  apps-rendering/src/client/newsletterSignupForm.ts
  apps-rendering/src/components/EmailSignupForm/index.tsx
  apps-rendering/src/components/InPageNewsletterSignup/InPageNewsletterSignup.stories.tsx
  apps-rendering/src/components/InPageNewsletterSignup/NotSupportedMessage.tsx
  apps-rendering/src/components/InPageNewsletterSignup/index.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/components/NewsletterSignup/SvgNewsletter.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
Labels: apps-rendering

#6704 No incremental `tsc` build
  dotcom-rendering/package.json
Labels: dotcom-rendering, Health

#6682 Make the first space in a headline non-breaking when following a short word
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: question, dotcom-rendering

#6713 DCR Storybook uses main Webpack loader configuration
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  yarn.lock
Labels: dotcom-rendering

#6631 Fronts: Introduce card wrappers & `supportingContentAligment`
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/Kicker.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6705 Bump commercial-core and CMP
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, DO NOT MERGE

#6194 Add support for `nav/media-list` container
  dotcom-rendering/fixtures/manual/trails-nav.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/MiniCard.tsx
  dotcom-rendering/src/web/components/NavList.stories.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#6717 Bump @guardian/libs to v10.1.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6729 fix: Top bar CAPI search UI optimisations
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearchCapi.tsx
Labels: dotcom-rendering

#6722 Add validation errors to form fields for callouts
  dotcom-rendering/src/web/components/Callout/CheckboxSelect.tsx
  dotcom-rendering/src/web/components/Callout/FieldLabel.tsx
  dotcom-rendering/src/web/components/Callout/FileUpload.tsx
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Callout/MultiSelect.tsx
  dotcom-rendering/src/web/components/Callout/RadioSelect.tsx
  dotcom-rendering/src/web/components/Callout/Select.tsx
  dotcom-rendering/src/web/components/Callout/TextArea.tsx
  dotcom-rendering/src/web/components/Callout/TextInput.tsx
Labels: dotcom-rendering

#6727 Remove `Result`s From Body
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/components/ArticleBody/index.tsx
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/GalleryLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/InteractiveLayout.tsx
  apps-rendering/src/components/Layout/LabsLayout.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/LetterLayout.tsx
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/LiveBlock/index.tsx
  apps-rendering/src/components/editions/layout/index.tsx
  apps-rendering/src/fixtures/galleryBody.ts
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/fixtures/newsletterSignUpContent.ts
  apps-rendering/src/item.test.ts
  apps-rendering/src/item.ts
  apps-rendering/src/liveBlock.ts
  apps-rendering/src/newsletter.test.ts
  apps-rendering/src/newsletter.ts
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
  apps-rendering/src/server/csp.ts
  apps-rendering/src/server/page.tsx
  apps-rendering/src/testsHelper.ts
Labels: apps-rendering, Health

#6740 Prevent Repeated Config Lookup
  apps-rendering/src/server/ssmConfig.ts
Labels: bug, apps-rendering

#6743 Add support for description in containers
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#6750 Revert to last deployed
  dotcom-rendering/fixtures/manual/trails-nav.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearchCapi.tsx
  dotcom-rendering/src/web/components/MiniCard.tsx
  dotcom-rendering/src/web/components/NavList.stories.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#6738 Send VIEW and INSERT events to Ophan for header notifications
  dotcom-rendering/src/web/components/Dropdown.stories.tsx
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/lib/linkNotificationCount.test.ts
  dotcom-rendering/src/web/lib/notification.test.ts
  dotcom-rendering/src/web/lib/notification.ts
Labels: dotcom-rendering

#6730 Add a 0% test to share with teads
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/teads-cookieless.ts
Labels: dotcom-rendering

#6720 Spike: billboard adverts in merchandising slots
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/billboards-in-merch.ts
Labels: commercial :moneybag:, dotcom-rendering

#6748 Fix dotcom-rendering kinesis stream
  dotcom-rendering/cloudformation.yml
  dotcom-rendering/src/server/lib/logging.ts
Labels: dotcom-rendering

#6753 Remove Canada Prebid/A9 AB test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/remove-prebid-a9-canada.ts
Labels: commercial :moneybag:, dotcom-rendering

#6745 Migrate `standfirst` To `Optional`
  apps-rendering/src/components/MainMediaCaption/MainMediaCaption.stories.tsx
  apps-rendering/src/components/Standfirst/GalleryStandfirst.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
  apps-rendering/src/components/Standfirst/Standfirst.defaults.tsx
  apps-rendering/src/components/editions/standfirst/index.tsx
  apps-rendering/src/components/editions/standfirst/standfirst.stories.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/fixtures/newsletterSignUpContent.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#6736 Track header notification clicks
  dotcom-rendering/src/web/components/Dropdown.tsx
Labels: dotcom-rendering

#6764 Remove unused Card100 component and fix Card100Media75 trail text logic
  dotcom-rendering/src/web/lib/cardWrappers.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6739 Migrate `series` To `Optional`
  apps-rendering/src/capi.ts
  apps-rendering/src/components/Series/GallerySeries.tsx
  apps-rendering/src/components/Series/ImmersiveSeries.tsx
  apps-rendering/src/components/Series/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#6574 Server side ad slots on liveblogs. 0% AB test.
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/web/lib/liveblogAdSlots.ts
Labels: dotcom-rendering

#6770 fix(zip): remove AR before zipping
  dotcom-rendering/package.json
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.js
  yarn.lock
Labels: bug, dotcom-rendering, Health

#6744 Add href to containers
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#6772 Add .importable to InteractiveContentsBlockComponent
  dotcom-rendering/src/web/components/InteractiveContentsBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/InteractiveContentsBlockComponent.stories.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#6719 Make 'single front door' header the default
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/src/web/components/Header.stories.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/web/components/HeaderTopBarPrintSubscriptions.tsx
  dotcom-rendering/src/web/components/Links.importable.test.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#6785 fix: typescript errors in HeaderTopBarEdition dropdown
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
Labels: dotcom-rendering

#6747 Pass description to front html template
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#6711 a11y: Refactor MostViewed tabbed container
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/FrontMostViewed.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
Labels: dotcom-rendering

#6762 Make lab headers sticky for entirety of immersive articles
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6789 fix: typo in headerTopBarSearchCapi
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#6761 Explicit list of Formats to test on Layouts and Cards in Chromatic
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/stories/generated/Card.stories.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering

#6676 Duplicate `common-rendering` code inside `dotcom-rendering`
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/Accordion.stories.tsx
  dotcom-rendering/src/web/components/Accordion.tsx
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/web/components/FirstPublished.stories.tsx
  dotcom-rendering/src/web/components/FirstPublished.tsx
  dotcom-rendering/src/web/components/KeyEvents.stories.tsx
  dotcom-rendering/src/web/components/KeyEvents.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/LiveBlockContainer.tsx
  dotcom-rendering/src/web/components/Pagination.stories.tsx
  dotcom-rendering/src/web/components/Pagination.tsx
  dotcom-rendering/src/web/components/SubMeta.stories.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/format.ts
Labels: 🥒WiP, dotcom-rendering, Health

#6786 More consistent use of `DropdownLinkType`
  dotcom-rendering/src/types/header.ts
  dotcom-rendering/src/web/components/Dropdown.stories.tsx
  dotcom-rendering/src/web/components/Dropdown.test.tsx
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
Labels: bug, dotcom-rendering

#6728 Add `NoCarrotAdsNearNewsletterSignupBlocks` test
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/no-carrot-ads-near-newsletter-signup-blocks.ts
Labels: dotcom-rendering

#6578 SWC compiler for `server` and `browser.variant` builds
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/.swcrc.json
  dotcom-rendering/scripts/webpack/browser-targets.js
  dotcom-rendering/scripts/webpack/browser-targets.test.ts
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  yarn.lock
Labels: dotcom-rendering

#6672 fix(Avatar): optimised images
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Avatar.stories.tsx
  dotcom-rendering/src/web/components/Avatar.tsx
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardPicture.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/MiniCard.tsx
  dotcom-rendering/src/web/components/MostViewed.mocks.ts
  dotcom-rendering/src/web/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/Picture.tsx
  dotcom-rendering/src/web/components/RichLink.stories.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
  dotcom-rendering/src/web/lib/getSourceImageUrl_temp_fix.ts
Labels: bug, dotcom-rendering, Fronts :newspaper:

#6759 Fix “show more” trails
  dotcom-rendering/fixtures/manual/show-more-trails.ts
Labels: dotcom-rendering, Health

#6773 Dblatcher add newsletter properties
  apps-rendering/package.json
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/fixtures/newsletterSignUpContent.ts
  apps-rendering/yarn.lock
Labels: apps-rendering

#6810 feat(enhanceCards): use replacement images
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering, Fronts :newspaper:

#6712 Feat: add design tag to review
  apps-rendering/src/components/DesignTag/index.tsx
  apps-rendering/src/components/Headline/ReviewHeadline.tsx
  apps-rendering/src/components/Standfirst/ReviewStandfirst.tsx
  dotcom-rendering/src/web/components/DesignTag.tsx
  dotcom-rendering/src/web/components/StarRating/StarRating.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: apps-rendering, dotcom-rendering, DO NOT MERGE

#6771 feat: Add support for "Breaking news" toggle
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering

#6769 Check readText function exists in dev-index
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#6760 Only relative paths in module imports
  .vscode/settings.json
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/web/browser/ophan/ophan.test.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
  dotcom-rendering/src/web/components/Callout/CheckboxSelect.tsx
  dotcom-rendering/src/web/components/Callout/FieldLabel.tsx
  dotcom-rendering/src/web/components/Callout/MultiSelect.tsx
  dotcom-rendering/src/web/components/Callout/RadioSelect.tsx
  dotcom-rendering/src/web/components/Callout/Select.tsx
  dotcom-rendering/src/web/components/Callout/TextArea.tsx
  dotcom-rendering/src/web/components/Callout/TextInput.tsx
  dotcom-rendering/src/web/components/Card/components/LI.tsx
  dotcom-rendering/src/web/components/Card/components/UL.tsx
  dotcom-rendering/src/web/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/MiniCard.tsx
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
  dotcom-rendering/src/web/components/TableOfContents.stories.tsx
  dotcom-rendering/src/web/components/TableOfContents.tsx
  dotcom-rendering/src/web/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/web/lib/liveblogAdSlots.ts
  dotcom-rendering/src/web/lib/verticalDivider.ts
  dotcom-rendering/src/web/lib/verticalDividerWithBottomOffset.ts
  dotcom-rendering/tsconfig.json
Labels: dotcom-rendering, Health

#6815 Support SVG images on Fronts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
Labels: dotcom-rendering, Fronts :newspaper:

#6790 Add a Deadline component
  apps-rendering/src/components/Deadline/index.test.ts
  apps-rendering/src/components/Deadline/index.tsx
  apps-rendering/src/components/Deadline/styles.ts
Labels: apps-rendering

#6791 Replace the FileInput with the version in source-react-components-development-kitchen
  apps-rendering/package.json
  apps-rendering/src/components/CalloutForm/index.tsx
  apps-rendering/src/components/FileInput/index.tsx
  apps-rendering/yarn.lock
Labels: apps-rendering

#6814 Refactor Storybook static directories
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/package.json
Labels: dotcom-rendering, Health

#6821 Remove @guardian/ab-react
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, DCR Dependency, dotcom-rendering, Health

#6822 Fix metric sampling for teads cookieless test
  dotcom-rendering/src/web/experiments/tests/teads-cookieless.ts
Labels: commercial :moneybag:, dotcom-rendering

#6820 chore(deps): bump @guardian/core-web-vitals
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, DCR Dependency, dotcom-rendering

#6823 Extend IntegrateIma AB test
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering

#6839 Update paid.content.cy.js fixture
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
Labels: dotcom-rendering

#6844 Skip paid.content test if run from makefile
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
  dotcom-rendering/cypress/paid.content.cy.js
  dotcom-rendering/makefile
Labels: dotcom-rendering
