Repository guardian/dotcom-rendering, pull requests merged in 2022-04, with the labels that each got.

#4473 Update lazy load margin test
  dotcom-rendering/src/web/experiments/tests/commercial-lazy-load-margin.ts
Labels: dotcom-rendering

#4369 Render byline image in blocks with correct size, use `editorialPalette` to decide the background
  apps-rendering/src/contributor.ts
  common-rendering/src/components/liveBlockContainer.tsx
  common-rendering/src/editorialPalette/background.ts
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: apps-rendering, common-rendering, Liveblogs, Deadblogs, dotcom-rendering

#4510 Poll for latest stats
  dotcom-rendering/src/web/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/web/components/GetMatchStats.importable.tsx
Labels: dotcom-rendering

#4518 Allow interviews to be rendered by Apps Rendering
  apps-rendering/src/components/layout/index.tsx
Labels: apps-rendering

#4526 Rename files to be more articlely
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/server/articleTemplate.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4528 chore(deps): bump @guardian/consent-management-platform from 10.3.1 to 10.4.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4527 Rename `CAPI` to be more articlely
  dotcom-rendering/docs/architecture/025-click-to-view.md
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
  dotcom-rendering/docs/important-files.md
  dotcom-rendering/docs/patterns/enhance-capi.md
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Article.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/amp/server/document.test.tsx
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/amp/types/ArticleModel.tsx
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/extract-ga.test.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/web/components/SignInGate/README.md
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/layoutHelpers.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4531 feat: colours in Fronts JSON data
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering, Fronts

#4502 Bump `atoms-rendering` to v23.0.2
  dotcom-rendering/cypress/integration/parallel-5/atom.video.spec.js
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: ⚠️DONOTMERGE⚠️, dotcom-rendering

#4498 Remove 'stick' and 'close' tracking from `YoutubeBlockComponent`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#4535 refactor: infer palette from format
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/ShareIcons.stories.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
Labels: dotcom-rendering

#4532 `FrontType`
  dotcom-rendering/index.d.ts
  dotcom-rendering/makefile
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4530 Bump braze components dependency to 7.2.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4543 A basic Front page
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/server/frontTemplate.ts
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4557 More front types
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/front-schema.json
Labels: dotcom-rendering

#4537 Fix share icons links
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
Labels: bug, dotcom-rendering

#4562 Force collection of core web vitals for users in mega test
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
Labels: dotcom-rendering

#4559 adjust margin
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#4565 Added `enhanceCollections` pattern for Fronts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4450 Display facebook and twitter links on subnav until desktop
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/MoreColumn.tsx
Labels: dotcom-rendering

#4572 `FixedLargeSlowXIV`
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
Labels: dotcom-rendering

#4581 Fix margins on `DynamicFast`
  dotcom-rendering/src/web/components/DynamicFast.tsx
Labels: dotcom-rendering

#4595 docs(useIsInView): add documentation for hook
  dotcom-rendering/src/web/lib/useIsInView.ts
Labels: dotcom-rendering, documentation

#4513 feat(web-vitals): load web-vitals async
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  yarn.lock
Labels: enhancement, dotcom-rendering

#4598 Remove `isliveblog`
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/MostViewed.mocks.ts
  dotcom-rendering/src/web/components/Onwards.mocks.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/lib/useComments.test.tsx
Labels: dotcom-rendering

#4616 Bump atoms-rendering version to 23.1.2
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, dotcom-rendering

#4625 refactor(toast): scroll with JS only
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/server/articleTemplate.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: dotcom-rendering

#4626 Defer tweet enhancement
  dotcom-rendering/cypress/integration/parallel-5/liveblog.interactivity.spec.js
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/src/model/enhance-tweets.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/TweetBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/TweetBlockComponent.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/articleTemplate.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: dotcom-rendering

#4630 refactor(ophan): use conditional chaining
  dotcom-rendering/src/web/browser/ophan/ophan.ts
Labels: dotcom-rendering

#4582 refactor(enhanceCards): use type predicate
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#4504 use blockFirstPublishedDisplayNoTimezone and delete hotfix
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/json-schema.json
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering

#4544 Refactor Main Media
  apps-rendering/src/capi.ts
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/components/editions/headline/index.tsx
  apps-rendering/src/components/immersiveCaption.tsx
  apps-rendering/src/components/layout/comment.tsx
  apps-rendering/src/components/layout/interactiveimmersive.tsx
  apps-rendering/src/components/layout/labs.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/layout/media.tsx
  apps-rendering/src/components/layout/standard.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.ts
  apps-rendering/src/mainMedia.tsx
  apps-rendering/src/server/server.ts
Labels: apps-rendering

#4640 fix(email): replace + with %20 in email shares
  dotcom-rendering/src/web/components/ShareIcons.tsx
Labels: dotcom-rendering

#4639 Dev server: Improve suggestions from clipboard
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#4601 Remove left padding in meta in Liveblogs and Deadblogs
  dotcom-rendering/src/web/components/ArticleMeta.tsx
Labels: dotcom-rendering

#4641 Make culture liveblog subMeta accessible
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4646 fix: Fixes odd alignment of bullets on keyEvents in firefox.
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#4643 Decide `LiveBlogEpic` position based on if there is a permalink
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#4650 Better stories for `Card`
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/components/Caption.tsx
  dotcom-rendering/src/amp/components/OnwardContainer.tsx
  dotcom-rendering/src/amp/components/moustache.tsx
  dotcom-rendering/src/web/components/Card/Card.Designs.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Displays.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Format.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.Layout.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.mocks.tsx
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/examples/Example.mocks.ts
  dotcom-rendering/src/web/examples/Front.stories.tsx
  dotcom-rendering/src/web/examples/Newsletters.stories.tsx
  dotcom-rendering/src/web/examples/Sections.stories.tsx
  dotcom-rendering/src/web/examples/Writers.stories.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering

#4660 Follow up to the Card refactor PR
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
Labels: dotcom-rendering

#4637 feat: Add margin to liveblog main media captions when on a tablet display
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/GuVideoBlockComponent.tsx
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/MapEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/SpotifyBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/VideoFacebookBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/VimeoBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/VimeoBlockComponent.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/YoutubeEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/YoutubeEmbedBlockComponent.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4546 replace IntersectionObservor in pinned post importable by useInView hook
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#4656 Fix twitter handle colour in liveblogs below desktop
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4628 Fix dev server query url
  dotcom-rendering/src/server/lib/get-content-from-url.js
  dotcom-rendering/src/server/lib/get-content-from-url.test.ts
Labels: dotcom-rendering

#4647 Refactor `DynamicFast` columns
  dotcom-rendering/src/web/components/DynamicFast.tsx
Labels: dotcom-rendering

#4663 Refactor how we link to pinned posts
  apps-rendering/src/components/liveBlocks.tsx
  common-rendering/src/components/FirstPublished.stories.tsx
  common-rendering/src/components/FirstPublished.tsx
  common-rendering/src/components/liveBlockContainer.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/PinnedPost.tsx
Labels: apps-rendering, common-rendering, dotcom-rendering

#4648 Align cards better
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/Card/components/LI.tsx
  dotcom-rendering/src/web/components/Card/components/UL.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
Labels: dotcom-rendering

#4652 Reveal Onwards
  dotcom-rendering/src/web/browser/islands/doStorybookHydration.js
  dotcom-rendering/src/web/components/DefaultRichLink.tsx
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/components/OnwardsData.tsx
  dotcom-rendering/src/web/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4670 Pulsing Dot – Remove diameter
  dotcom-rendering/src/web/components/ArticleTitle.tsx
  dotcom-rendering/src/web/components/PulsingDot.importable.tsx
Labels: dotcom-rendering

#4681 Fix ad label max-height
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: dotcom-rendering

#4627 Custom headline for Interview design in AR
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/headline.tsx
  apps-rendering/src/components/headlineByline.stories.tsx
  apps-rendering/src/components/headlineByline.tsx
  apps-rendering/src/components/headlineTag.stories.tsx
  apps-rendering/src/components/headlineTag.tsx
  apps-rendering/src/item.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#4674 Drop caps
  apps-rendering/src/components/blockquote.stories.tsx
  apps-rendering/src/components/layout/standard.tsx
  apps-rendering/src/components/paragraph.stories.tsx
  apps-rendering/src/components/paragraph.tsx
  apps-rendering/src/renderer.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#4685 Pass ad slot props down into `<TopRightAdSlot />`
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: dotcom-rendering

#4644 Trail text on fronts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  yarn.lock
Labels: dotcom-rendering

#4689 chore(deps): bump @guardian/consent-management-platform from 10.4 to 10.5.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4688 Apply 300px `max-width` to ad slot containers
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering

#4691 Changes leftCol on Comments layout to use wide size on Liveblogs
  dotcom-rendering/src/web/components/DiscussionLayout.tsx
Labels: dotcom-rendering

#4671 reduce mobile immersive header to 80vh
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
Labels: dotcom-rendering

#4697 Update ad slot copy
  apps-rendering/src/ads.tsx
Labels: apps-rendering

#4701 change to textSans to improve legibility
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#4695 fix: Change analysis underlines to use the line heights provided by S…
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering

#4702 Card SubLinks
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/web/components/Card/components/TopBar.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering, Fronts :newspaper:

#4708 Move `EmailEmbed` caption from underneath to above
  dotcom-rendering/src/web/components/EmbedBlockComponent.importable.tsx
Labels: dotcom-rendering

#4711 Rename `Topbar` to `CardWrapper`
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
Labels: dotcom-rendering

#4713 Show which container types we don't support
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#4712 Fix `o` on fronts
  dotcom-rendering/src/web/components/Card/Card.tsx
Labels: dotcom-rendering

#4669 Reveal `Discussion`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/Discussion.stories.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/DiscussionLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#4396 Auto accept any chromatic diffs on main builds
  .github/workflows/chromatic.yml
Labels: Suggestion

#4719 Only render key event toggle if some exist
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/Liveblog.stories.tsx
Labels: dotcom-rendering

#4529 Prebid price granularity AB test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/prebid-price-granularity.ts
Labels: commercial :moneybag:, dotcom-rendering

#4694 Don't render drop cap if the first character of a paragraph is "I"
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#4707 Remove `SpacefinderOkrMegaTest`
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-mega-test.ts
Labels: dotcom-rendering

#4589 add front to lighthouse
  dotcom-rendering/lighthouserc.js
Labels: dotcom-rendering

#4750 Track epic events in liveblog
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
Labels: dotcom-rendering

#4751 fix: resolve git.io link
  dotcom-rendering/scripts/env/check-node.js
Labels: dotcom-rendering

#4739 Replace hex code with imported source-foundation code
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4693 Ophan Components parity tracking
  .github/workflows/fronts.yml
  .vscode/extensions.json
  .vscode/settings.json
  scripts/ci-ophan.sh
  scripts/deno/ophan-components.ts
Labels: 📊 Data

#4755 `DynamicSlow` adjustments
  dotcom-rendering/src/web/components/DynamicSlow.tsx
Labels: dotcom-rendering

#4761 Allow images to be hidden on mobile
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

#4754 feat: add Ophan component data to fronts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#4767 feat: Add support for fixed/small/slow-IV container type
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#4753 Single front door v3 updates
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#4774 Revert "Single front door v3 updates"
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#4769 Increase size of Prebid price granularity test to 5%
  dotcom-rendering/src/web/experiments/tests/prebid-price-granularity.ts
Labels: commercial :moneybag:, dotcom-rendering

#4703 refactor(Lines): use new SVG lines
  apps-rendering/src/components/editions/lines.tsx
  apps-rendering/src/components/layout/comment.tsx
  apps-rendering/src/components/layout/interactiveimmersive.tsx
  apps-rendering/src/components/layout/labs.tsx
  apps-rendering/src/components/layout/standard.tsx
  apps-rendering/src/components/metadata.tsx
  apps-rendering/src/styles.ts
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/GuardianLabsLines.tsx
  dotcom-rendering/src/web/components/MostViewedRight.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#4771 Added `FEContainerPalette` & `DCRContainerPalette`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#4778 Added @guardian/discussion-rendering `v10.1.0`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering
