Repository guardian/dotcom-rendering, pull requests merged in 2022-09, with the labels that each got.

#5841 Ar table of content component
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/List/List.stories.tsx
  apps-rendering/src/components/ListItem/ListItem.stories.tsx
  apps-rendering/src/components/ListItem/index.tsx
  apps-rendering/src/components/OrderedList/OrderedList.stories.tsx
  apps-rendering/src/components/OrderedList/index.tsx
  apps-rendering/src/components/TableOfContents/TableOfContents.stories.tsx
  apps-rendering/src/components/TableOfContents/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/renderer.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5916 remove table of content for explainer
  apps-rendering/src/components/Layout/StandardLayout.tsx
Labels: apps-rendering

#5919 `WitnessBlockComponent` may not have a caption
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/WitnessBlockComponent.tsx
Labels: bug, dotcom-rendering

#5892 Support groups & boosting on `dynamic/slow`
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#5920 Hide epic if sign-in gate is visible
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
Labels: dotcom-rendering

#5921 Add explainer to supported article designs
  apps-rendering/src/components/editions/layout/index.tsx
Labels: apps-rendering

#5893 Iain/galleries byline
  apps-rendering/src/components/Byline/GalleryByline.tsx
  common-rendering/src/editorialPalette/border.ts
Labels: apps-rendering, common-rendering

#5915 Change AR To `t4g.small`
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
Labels: apps-rendering

#5922 YoutubeAtom Update
  dotcom-rendering/cypress.config.js
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#5933 Stop adding AMP link if it is unsupported
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: bug, dotcom-rendering, Health

#5936 Always show tab titles
  dotcom-rendering/src/web/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.stories.tsx
Labels: dotcom-rendering

#5901 Iain/interactive size fix
  apps-rendering/src/components/Interactive/index.tsx
  apps-rendering/src/renderer.test.ts
Labels: apps-rendering

#5923 Migrate `Result`
  apps-rendering/src/atoms.test.ts
  apps-rendering/src/atoms.ts
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/client/article.ts
  apps-rendering/src/client/atoms.tsx
  apps-rendering/src/client/liveblog.ts
  apps-rendering/src/client/parser.ts
  apps-rendering/src/components/Byline/Byline.stories.tsx
  apps-rendering/src/components/EmbedWrapper/EmbedWrapper.test.tsx
  apps-rendering/src/components/EmbedWrapper/index.tsx
  apps-rendering/src/components/HeadlineByline/HeadlineByline.stories.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/LiveBlock/index.tsx
  apps-rendering/src/components/editions/byline/byline.stories.tsx
  apps-rendering/src/components/editions/layout/index.tsx
  apps-rendering/src/components/editions/standfirst/standfirst.stories.tsx
  apps-rendering/src/embed.ts
  apps-rendering/src/fixtures/galleryBody.ts
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/image/srcsets.ts
  apps-rendering/src/item.test.ts
  apps-rendering/src/item.ts
  apps-rendering/src/lib.ts
  apps-rendering/src/liveBlock.ts
  apps-rendering/src/parser.test.ts
  apps-rendering/src/parser.ts
  apps-rendering/src/renderer.ts
  apps-rendering/src/result.ts
  apps-rendering/src/server/csp.ts
  apps-rendering/src/server/footballContent.ts
  apps-rendering/src/server/server.ts
Labels: apps-rendering

#5934 Add tweaks from review
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/Dateline/index.tsx
  apps-rendering/src/components/Headline/GalleryHeadline.tsx
  apps-rendering/src/components/MainMedia/GalleryCaption.tsx
  apps-rendering/src/components/Metadata/GalleryMetadata.tsx
  apps-rendering/src/components/Standfirst/GalleryStandfirst.tsx
  apps-rendering/src/renderer.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5947 Add changes from design review
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/Byline/GalleryByline.tsx
  apps-rendering/src/components/Headline/GalleryHeadline.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/GalleryMainMediaImage.tsx
  apps-rendering/src/components/Standfirst/GalleryStandfirst.tsx
Labels: apps-rendering

#5953 Remove Husky From AR
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#5956 Set colour to gallery's neutral[86] for follow link
  common-rendering/src/editorialPalette/text.ts
Labels: common-rendering

#5957 Gallery Image Sizes
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
Labels: apps-rendering

#5963 chore(deps): update yarn.lock
  yarn.lock
Labels: bug, dependencies

#5686 `getHttp3Url()` catch malformed URL exception
  dotcom-rendering/src/web/lib/getHttp3Url.ts
Labels: dotcom-rendering

#5938 feat: support AMP immersives
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: dotcom-rendering

#5937 Stop Rendering Dinkus Paragraphs
  apps-rendering/src/renderer.ts
Labels: bug, apps-rendering

#5965 fix: Use two columns on mobile, the same as we do for blogs
  dotcom-rendering/src/web/components/MatchStats.tsx
Labels: dotcom-rendering

#5961 Use `elementId` for h2 ids if there's not an existing TOC on the page
  dotcom-rendering/src/model/enhance-H2s.ts
Labels: dotcom-rendering

#5969 chore: double the min/max ASG sizes
  apps-rendering/cdk/bin/cdk.ts
Labels: apps-rendering

#5968 Hide merch slots on labs articles
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5974 fix: add class .js-native-video to MainMediaVideo wrapper for client script
  apps-rendering/src/client/nativeCommunication.ts
  apps-rendering/src/components/MainMedia/MainMediaVideo/index.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#5981 Revert "chore: double the min/max ASG sizes"
  apps-rendering/cdk/bin/cdk.ts
Labels: apps-rendering

#5982 Revert "Scale up servers from 9 > 18"
  dotcom-rendering/cloudformation.yml
Labels: dotcom-rendering

#5912 Upgrade AR to GuCDK@47.3
  .github/dependabot.yml
  apps-rendering/artifact.json
  apps-rendering/cdk.json
  apps-rendering/cdk/README.md
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/riff-raff.yaml
  apps-rendering/scripts/ci.sh
Labels: apps-rendering

#5986 fix: Labs header overlapping right advert
  dotcom-rendering/src/web/components/LabsHeader.importable.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/lib/labs-constants.ts
Labels: commercial :moneybag:, dotcom-rendering

#5829 Use `@guardian/tsconfig`
  dotcom-rendering/package.json
  dotcom-rendering/tsconfig.json
  yarn.lock
Labels: dotcom-rendering, Health

#5988 Fix `<li>` padding when adjacent to floating images
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#5983 fix(riff-raff): repository is dotcom-rendering, not apps-rendering
  apps-rendering/artifact.json
Labels: apps-rendering

#5990 Remove `aria-label` from navigation links
  dotcom-rendering/src/web/components/Pillars.tsx
  scripts/deno/iframe-titles.ts
Labels: dotcom-rendering, Accessibility Audit

#5997 feat: enforce recommended a11y jsx
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/amp/components/Epic.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/CollapseColumnButton.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ShowMoreMenu.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/VeggieBurgerMenu.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/web/components/SubNav.importable.tsx
Labels: dotcom-rendering, Accessibility Audit

#5970 chore (deps): bump @guardian/consent-management-platform from 10.7.1 to 10.11.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#5949 chore(deps): @guardian/discussion-rendering@10.2.1
  dotcom-rendering/package.json
  yarn.lock
Labels: DCR Dependency, dotcom-rendering

#5765 Fixes body scrolling when side nav is open and burger button displaying above top ad slots
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/VeggieBurgerMenu.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
Labels: dotcom-rendering

#6000 Update iframe titles
  scripts/ci-deno.sh
Labels: github_actions, Accessibility Audit, 📊 Data

#5714 Integrate Interactive Media Ads to first party video players as 0% test
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
  yarn.lock
Labels: dotcom-rendering

#6007 Catch more multiple contributors
  dotcom-rendering/src/lib/byline.test.ts
  dotcom-rendering/src/lib/byline.ts
Labels: bug, dotcom-rendering

#6013 Revert "Revert "Scale up servers from 9 > 18""
  dotcom-rendering/cloudformation.yml
Labels: dotcom-rendering

#5812 Thrift And Scrooge Updates
  apps-rendering/api-models/scala/version.sbt
  apps-rendering/build.sbt
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/project/plugins.sbt
Labels: apps-rendering

#5839 Removed unused exports
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/components/elements/TwitterBlockComponent.tsx
  dotcom-rendering/src/amp/lib/sanitise-html.test.ts
  dotcom-rendering/src/amp/lib/sanitise-html.ts
  dotcom-rendering/src/amp/server/ampExperimentCache.ts
  dotcom-rendering/src/lib/fetchTickerData.ts
  dotcom-rendering/src/lib/identity-component-event.ts
  dotcom-rendering/src/lib/pillars.ts
  dotcom-rendering/src/model/article-sections.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/server/lib/aws/aws-metrics.ts
  dotcom-rendering/src/web/browser/bootCmp/init.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
  dotcom-rendering/src/web/browser/startup.ts
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/Nav/config.ts
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/Pillars.tsx
  dotcom-rendering/src/web/components/SecureSignup.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/web/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/web/components/SignInGate/signInGate.ts
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/WhenAdBlockInUse.tsx
  dotcom-rendering/src/web/experiments/utils.ts
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/lib/acquisitions.ts
  dotcom-rendering/src/web/lib/braze/initialiseAppboy.ts
  dotcom-rendering/src/web/lib/getUser.ts
  dotcom-rendering/src/web/lib/messagePicker.ts
  dotcom-rendering/src/web/lib/useDocumentHidden.ts
  yarn.lock
Labels: dotcom-rendering, Health

#6005 Add the labs traffic driver shady pie
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/LabsShadyPie.tsx
  dotcom-rendering/src/web/components/ShadyPie.stories.tsx
  dotcom-rendering/src/web/components/ShadyPie.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5890 Feature table of contents
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceTableOfContents.test.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5985 refactor(cdk): use GuAsgCapacity type
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
Labels: apps-rendering

#6018 Revert "Revert "Revert "Scale up servers from 9 > 18"""
  dotcom-rendering/cloudformation.yml
Labels: dotcom-rendering

#6019 chore(deps): bump apps-rendering-api-models
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: AR Dependency, apps-rendering

#6015 refactor(editorialPalette): remove unused palette exports
  common-rendering/src/editorialPalette/index.ts
Labels: common-rendering

#6017 refactor(themeStyles): use editorialPalette
  apps-rendering/src/components/editions/byline/index.tsx
  apps-rendering/src/components/editions/galleryImage/index.tsx
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/components/editions/headline/index.tsx
  apps-rendering/src/components/editions/pullquote/index.tsx
  apps-rendering/src/components/editions/series/index.tsx
  apps-rendering/src/components/editions/shareIcon/shareIcon.stories.tsx
  apps-rendering/src/components/editions/standfirst/index.tsx
  apps-rendering/src/themeStyles.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#6026 Bump @guardian/braze-components to v7.4.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#5904 refactor(gap): use css flex gap property
  dotcom-rendering/src/web/components/Card/components/LI.tsx
  dotcom-rendering/src/web/components/Card/components/UL.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/ExtraCardsContainer.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
  dotcom-rendering/src/web/lib/verticalDividerWithBottomOffset.ts
Labels: enhancement, Design, dotcom-rendering, Health

#5891 Adds test run for new AB test long-running trial implementation using localStorage participations
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/src/web/components/SignInGate/signInGate.ts
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.test.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.ts
  dotcom-rendering/src/web/experiments/lib/ab-localstorage.test.ts
  dotcom-rendering/src/web/experiments/lib/ab-localstorage.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-testrun.ts
Labels: dotcom-rendering

#6027 Update the API AR models version and release to 1.1.1
  apps-rendering/api-models/scala/version.sbt
Labels: apps-rendering

#5992 Pass 'imageAlt' to quiz atom in AR & DCR
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/atoms.ts
  apps-rendering/src/quizAtom.ts
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/KnowledgeQuizAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/PersonalityQuizAtomWrapper.importable.tsx
Labels: apps-rendering, dotcom-rendering

#6029 Cypress runs headless Chrome locally and mutes audio
  dotcom-rendering/cypress.config.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
Labels: dotcom-rendering

#6034 Revert "Cypress runs headless Chrome locally and mutes audio"
  dotcom-rendering/cypress.config.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
Labels: dotcom-rendering

#5994 chore(deps): Bump winston@3.8.2
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/logger/server/index.ts
Labels: apps-rendering

#6039 Cypress runs headless Chrome locally and mutes audio
  dotcom-rendering/cypress.config.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  scripts/ci-dcr.sh
Labels: dotcom-rendering

#6040 Add `canonical` link to `pageTemplate`
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering

#6048 use template strings
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: bug, dotcom-rendering

#6050 Use `canonicalUrl`
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering

#6042 Snapshot using fewer breakpoints
  apps-rendering/src/components/Layout/Layout.stories.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/FilterButton.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/web/components/PinnedPost.stories.tsx
  dotcom-rendering/src/web/components/Section.stories.tsx
Labels: apps-rendering, dotcom-rendering

#5363 Refactor : Remove key events carousel switch
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#6047 Run native element positioning on 'load'
  apps-rendering/src/client/article.ts
  apps-rendering/src/client/nativeCommunication.ts
Labels: apps-rendering

#5900 Table of contents component
  apps-rendering/src/components/TableOfContents/index.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceTableOfContents.test.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/components/TableOfContents.stories.tsx
  dotcom-rendering/src/web/components/TableOfContents.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: apps-rendering, dotcom-rendering

#5995 Upgrade Permutive SDK
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Analytics.tsx
  dotcom-rendering/src/amp/components/Permutive.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
  dotcom-rendering/src/amp/pages/Article.tsx
  dotcom-rendering/src/amp/server/document.test.tsx
  dotcom-rendering/src/amp/server/document.tsx
  dotcom-rendering/src/amp/server/index.tsx
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#6054 Revert "Upgrade Permutive SDK"
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Analytics.tsx
  dotcom-rendering/src/amp/components/Permutive.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
  dotcom-rendering/src/amp/pages/Article.tsx
  dotcom-rendering/src/amp/server/document.test.tsx
  dotcom-rendering/src/amp/server/document.tsx
  dotcom-rendering/src/amp/server/index.tsx
Labels: dotcom-rendering

#6025 Fix vertical dividers on Fronts
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.test.ts
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: bug, enhancement, Design, dotcom-rendering

#6057 Actually serve smallest image on fallback
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering

#6049 Switch off setParticipationsFlag for SignInGate mandatory long test run
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-testrun.ts
Labels: dotcom-rendering

#6060 Add support for Fixed/Medium/FastXII container
  dotcom-rendering/src/web/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#6059 Fix inline merch slot positioning
  dotcom-rendering/src/web/components/ArticleContainer.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6068 Edit mostpop height when ad block is in use
  dotcom-rendering/src/web/components/MostViewedRightWrapper.importable.tsx
Labels: dotcom-rendering

#5598 Varying webpack bundles for tests
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/web/browser/ophan/ophan.test.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
  dotcom-rendering/src/web/browser/sentryLoader/sentry.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  yarn.lock
Labels: dotcom-rendering, 📊 Data

#6067 Add shady pie clickthrough test
  dotcom-rendering/src/web/components/ShadyPie.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/shady-pie-click-through.ts
Labels: commercial :moneybag:, dotcom-rendering

#6051 Add AdSlot component to deadblogs
  apps-rendering/src/components/LiveBlocks/index.tsx
Labels: apps-rendering

#6079 fix(video): unwrap media atom duration from `option`
  apps-rendering/src/client/nativeCommunication.ts
  apps-rendering/src/components/MainMedia/MainMediaVideo/index.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#6086 Capitalise test id
  dotcom-rendering/src/web/experiments/tests/shady-pie-click-through.ts
Labels: commercial :moneybag:, dotcom-rendering

#6085 Upgrade Permutive SDK (again!)
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Analytics.tsx
  dotcom-rendering/src/amp/components/Permutive.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
  dotcom-rendering/src/amp/pages/Article.tsx
  dotcom-rendering/src/amp/server/document.test.tsx
  dotcom-rendering/src/amp/server/document.tsx
  dotcom-rendering/src/amp/server/index.tsx
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#6052 Unsalted pictures 🖼️🙅🧂
  dotcom-rendering/docs/architecture/029-signing-image-urls.md
  dotcom-rendering/scripts/secrets.js
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering, Fronts :newspaper:

#6096 Revert "Dc subnav add editions switch"
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
Labels: dotcom-rendering

#6098 Update SDC
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  yarn.lock
Labels: dotcom-rendering

#6090 Remove ExtraCardsContainer
  dotcom-rendering/src/web/components/ExtraCardsContainer.stories.tsx
  dotcom-rendering/src/web/components/ExtraCardsContainer.tsx
Labels: dotcom-rendering
