Repository guardian/dotcom-rendering, pull requests merged in 2022-07, with the labels that each got.

#5289 useApi: return 'loading=false' if url undefined
  dotcom-rendering/src/web/lib/useApi.tsx
Labels: dotcom-rendering

#5228 Bypass metric sampling in AB test definition
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/tests/commercial-end-of-quarter-2-test.ts
  dotcom-rendering/src/web/experiments/utils.ts
Labels: dotcom-rendering

#5290 Ensure selected topic is always available in ui
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.stories.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5254 Card meta placement
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
Labels: dotcom-rendering

#5225 Display `img` as block
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering

#5298 Fix Island performance logs
  dotcom-rendering/src/web/browser/islands/doHydration.ts
Labels: dotcom-rendering

#5219 RFC: Replace Storybook `storiesOf` with a generator script
  .github/workflows/stories-check.yml
  .storybook/main.js
  dotcom-rendering/makefile
  dotcom-rendering/scripts/gen-stories/check-stories.js
  dotcom-rendering/scripts/gen-stories/gen-stories.js
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/stories/generated/Card.stories.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering

#5300 Swap out ab test to switch
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5301 Fix spacing for pinned post and key events carousel
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/web/components/PinnedPost.tsx
Labels: dotcom-rendering

#5270 Basic support for `dynamo/package`
  apps-rendering/package-lock.json
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: apps-rendering, dotcom-rendering

#5303 Don't default kicker to 'Live' on sublinks
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

#5304 Extend `CommercialLazyLoadMarginReloaded` experiment
  dotcom-rendering/src/web/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Labels: dotcom-rendering

#5285 fix: Hydration of components when rendered through Frontend
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/web/browser/decidePublicPath.test.ts
  dotcom-rendering/src/web/browser/decidePublicPath.ts
  dotcom-rendering/src/web/browser/webpackPublicPath.ts
Labels: dotcom-rendering

#5308 Increase multi-sticky audience to `30%`
  dotcom-rendering/src/web/experiments/tests/multi-sticky-right-ads.ts
Labels: commercial :moneybag:, dotcom-rendering

#5310 Fix: Only show padding bottom if carousel length is greater than 6 on desktop
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
Labels: dotcom-rendering

#5306 AR `getBranding`
  apps-rendering/src/capi.test.ts
  apps-rendering/src/capi.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#5313 Fix: Line height in key event cards
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#5307 Dblatcher/footer promotes daily newsletter
  dotcom-rendering/src/web/components/Footer.tsx
Labels: dotcom-rendering

#5312 Updated top right ad size reference
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
Labels: dotcom-rendering

#5184 Add SlotBodyEnd (epic) to interactive layout
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
Labels: dotcom-rendering

#5128 DCR signs urls ✍️
  .storybook/main.js
  dotcom-rendering/docs/architecture/027-pictures.md
  dotcom-rendering/docs/architecture/029-signing-image-urls.md
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/Picture.test.tsx
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering

#5330 Revert "DCR signs urls ✍️ "
  .storybook/main.js
  dotcom-rendering/docs/architecture/027-pictures.md
  dotcom-rendering/docs/architecture/029-signing-image-urls.md
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/Picture.test.tsx
  dotcom-rendering/src/web/components/Picture.tsx
Labels: dotcom-rendering

#5328 Docs: Add instructions for running CI server locally
  dotcom-rendering/docs/testing.md
Labels: dotcom-rendering

#5287 RFC: Use Percy/Cypress for integration-style visual regression testing
  dotcom-rendering/docs/architecture/030-use-percy-for-e2e-visual-regression-testing.md
Labels: dotcom-rendering

#5311 Fix sponsor logo sizes
  dotcom-rendering/src/model/enhanceCommercialProperties.test.ts
  dotcom-rendering/src/model/enhanceCommercialProperties.ts
  dotcom-rendering/src/web/components/Branding.importable.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: bug, dotcom-rendering

#5324 Fix: hidden scrollbar on narrow desktop breakpoint for key events carousel
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
Labels: dotcom-rendering

#5329 fix: align to the centre of the dot
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#5338 DCR signs urls ✍️ (again)
  .storybook/main.js
  dotcom-rendering/docs/architecture/027-pictures.md
  dotcom-rendering/docs/architecture/029-signing-image-urls.md
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/Picture.test.tsx
  dotcom-rendering/src/web/components/Picture.tsx
  scripts/ci-dcr.sh
Labels: dotcom-rendering

#5314 Add tooltip to `FilterKeyEventsToggle`
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering

#5334 update case for the key events title in filter bank
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
Labels: dotcom-rendering

#5345 fix: explicit grid column width
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: bug, dotcom-rendering

#5346 Bump Cypress to v10.3.0
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/server/document.test.tsx
  yarn.lock
Labels: dotcom-rendering

#5305 Smaller Islands - Re-enable code splitting for webpack chunks
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
Labels: dotcom-rendering

#5357 Revert "Change multi-sticky audience size to 20%"
  dotcom-rendering/src/web/experiments/tests/multi-sticky-right-ads.ts
Labels: commercial :moneybag:, dotcom-rendering

#5342 Remove AB test `commercialLazyLoadMarginReloaded`
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Labels: dotcom-rendering

#5350 update polling latest block id when it's different from the renderJson response
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#5294 Inject test recipe schema tags into specified articles
  dotcom-rendering/src/web/server/articleTemplate.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/temporaryRecipeStructuredData.ts
Labels: dotcom-rendering

#5359 add missing colon for the automatic filters title
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
Labels: dotcom-rendering

#5360 move colon to after the BETA styling is applied
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
Labels: dotcom-rendering

#5358 Card headlines can now be `ginormous`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  yarn.lock
Labels: dotcom-rendering

#5371 Add check to recipeMarkup to avoid undefined json-ld
  dotcom-rendering/src/web/server/articleTemplate.ts
Labels: dotcom-rendering

#5380 Add `/FrontJSON` to view enhanced json for fronts
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5381 Updates `match-nav` fixture url
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/match-report.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/model/article-schema.json
Labels: dotcom-rendering

#5392 Increase timeout for visibility assertion on liveblog new block test
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
Labels: dotcom-rendering

#5395 Fail pre-push if `main` branch
  .husky/pre-push
  .vscode/settings.json
  dotcom-rendering/src/model/front-schema.json
Labels: enhancement, dotcom-rendering, Health

#5291 Dblatcher/consume newsletter data
  .storybook/main.js
  dotcom-rendering/__mocks__/SecureSignupMock.tsx
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/EmailSignup.stories.tsx
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/components/SecureSignup.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#5382 Add containers to all inline ad slots and refactor slot css
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5376 Replace triangle icon on captions with camera
  common-rendering/src/components/figCaption.tsx
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/text.ts
Labels: common-rendering

#5385 Immersive Layout - Tags
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/InteractiveImmersiveLayout.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/Tags/ImmersiveTags.tsx
  apps-rendering/src/components/Tags/Tags.defaults.tsx
  apps-rendering/src/components/Tags/Tags.stories.tsx
  apps-rendering/src/components/Tags/Tags.test.tsx
  apps-rendering/src/components/Tags/index.tsx
Labels: apps-rendering

#5242 Remove all usages of `getThemeStyles` from Apps Rendering (excluding Editions)
  apps-rendering/src/components/Avatar/index.tsx
  apps-rendering/src/components/Bullet/index.tsx
  apps-rendering/src/components/Byline/Byline.defaults.tsx
  apps-rendering/src/components/Byline/DeadBlogByline.tsx
  apps-rendering/src/components/Byline/LiveBlogByline.tsx
  apps-rendering/src/components/Byline/index.tsx
  apps-rendering/src/components/BylineCard/index.tsx
  apps-rendering/src/components/CalloutForm/index.tsx
  apps-rendering/src/components/Card/index.tsx
  apps-rendering/src/components/CommentCount/index.tsx
  apps-rendering/src/components/InteractiveAtom/index.tsx
  apps-rendering/src/components/Layout/MediaLayout.tsx
  apps-rendering/src/components/ListItem/index.tsx
  apps-rendering/src/components/Metadata/index.tsx
  apps-rendering/src/components/Pullquote/index.tsx
  apps-rendering/src/components/Series/index.tsx
  apps-rendering/src/components/Standfirst/Standfirst.defaults.tsx
  apps-rendering/src/components/media/articleBody.tsx
  apps-rendering/src/components/media/articleSeries.tsx
  apps-rendering/src/renderer.ts
  apps-rendering/src/styles.test.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5403 Reduce Comment byline width between mobile and phablet breakpoints
  apps-rendering/src/components/Byline/CommentByline.tsx
Labels: apps-rendering

#5364 refactor: Add a `FrontCard` component that provides sensible defaults for Cards being used on Fronts
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
Labels: Suggestion, dotcom-rendering

#5405 Move Tag Colours To Editorial Palette
  apps-rendering/src/components/Tags/Tags.defaults.tsx
  common-rendering/src/components/figCaption.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5383 `isBoosted`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
Labels: dotcom-rendering

#5419 Replace `Card` with `FrontCard` after merge issue
  dotcom-rendering/src/web/components/DynamicPackage.tsx
Labels: dotcom-rendering

#5411 Fix fluid ad width on mobile
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5409 docs: Remove unnecessary types from FrontCard JSDocs
  dotcom-rendering/src/web/components/FrontCard.tsx
Labels: dotcom-rendering

#5425 fix: Height of flexbox ad slot
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering

#5396 [DevTime]: Extract types out of ambient declaration file
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/enhanceSnaps.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Avatar.tsx
  dotcom-rendering/src/web/components/Byline.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/web/components/CardCommentCount.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/ExtraCardsContainer.tsx
  dotcom-rendering/src/web/components/FetchCommentCounts.importable.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/Snap.tsx
  dotcom-rendering/src/web/components/Spotlight.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: enhancement, help wanted, Suggestion, dotcom-rendering

#5424 Set blog byline line-height to 115% (tight)
  apps-rendering/src/components/Byline/DeadBlogByline.tsx
  apps-rendering/src/components/Byline/LiveBlogByline.tsx
Labels: apps-rendering

#5420 Remove `OnwardsLower`
  dotcom-rendering/src/lib/joinUrl.test.ts
  dotcom-rendering/src/web/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/Onwards.mocks.ts
  dotcom-rendering/src/web/components/Onwards.stories.tsx
  dotcom-rendering/src/web/components/Onwards.test.tsx
  dotcom-rendering/src/web/components/OnwardsContainer.tsx
  dotcom-rendering/src/web/components/OnwardsLayout.tsx
  dotcom-rendering/src/web/components/OnwardsLower.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/Spotlight.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#5430 Replace hardcoded colour with Source colour in sports match headers
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5384 Use Braze to power `My Account` notifications
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/BrazeMessaging.importable.tsx
  dotcom-rendering/src/web/components/Dropdown.stories.tsx
  dotcom-rendering/src/web/components/Dropdown.test.tsx
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.test.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/web/lib/braze/types.ts
  dotcom-rendering/src/web/lib/linkNotificationCount.test.ts
  dotcom-rendering/src/web/lib/notification.test.ts
  dotcom-rendering/src/web/lib/notification.ts
  dotcom-rendering/src/web/lib/useBraze.ts
  yarn.lock
Labels: dotcom-rendering

#5414 Reposition headline for Interview articles
  apps-rendering/src/components/Headline/InterviewHeadline.tsx
  apps-rendering/src/components/HeadlineTag/index.tsx
  apps-rendering/src/components/Standfirst/InterviewStandfirst.tsx
  apps-rendering/src/components/Standfirst/index.tsx
Labels: apps-rendering

#5433 `/Onwards`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/OnwardsData.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/server/index.ts
  dotcom-rendering/src/web/server/onwardsToHtml.tsx
Labels: dotcom-rendering

#5438 Immersive Layout - Onward Content
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/LabsLayout.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/Layout/MediaLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/RelatedContent/ImmersiveRelatedContent.tsx
  apps-rendering/src/components/RelatedContent/RelatedContent.defaults.tsx
  apps-rendering/src/components/RelatedContent/index.tsx
Labels: apps-rendering

#5426 Fix sport liveblog header text colour
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5447 Older richllinks don't always have `imageAsset`
  dotcom-rendering/src/web/components/RichLinkComponent.importable.tsx
Labels: dotcom-rendering

#5429 Add min-height to liveblog inline ads to reduce CLS
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering

#5443 Standfirsts & Sublinks
  apps-rendering/package-lock.json
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
Labels: apps-rendering, dotcom-rendering

#5441 Dblatcher/sign up styling
  dotcom-rendering/__mocks__/SecureSignupMock.tsx
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/components/NewsletterFrequency.tsx
  dotcom-rendering/src/web/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/web/components/SecureSignup.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#5448 Jest v28
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/atoms.test.ts
  apps-rendering/src/components/EmbedWrapper/EmbedWrapper.test.tsx
  apps-rendering/src/components/Follow/Follow.test.tsx
  apps-rendering/src/components/Tags/Tags.test.tsx
  apps-rendering/src/date.test.ts
  apps-rendering/src/image/sizes.test.tsx
  apps-rendering/src/lib.test.tsx
  apps-rendering/src/renderer.test.ts
Labels: apps-rendering

#5256 SPIKE: Percy & Cypress
  .github/workflows/percy.yml
  dotcom-rendering/cypress.config.js
  dotcom-rendering/cypress/snapshot/standard-layout.e2e.cy.js
  dotcom-rendering/cypress/support/commands.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#5461 Remove colon from key events header in KeyEventsCarousel
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
Labels: dotcom-rendering

#5460 Reduce live/deadblog dateline line height
  apps-rendering/src/components/Dateline/index.tsx
  apps-rendering/src/components/Metadata/index.tsx
Labels: apps-rendering

#4905 DCR Fronts Show/Hide containers
  dotcom-rendering/src/web/components/ContainerLayout.stories.tsx
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/components/ShowHideButton.tsx
  dotcom-rendering/src/web/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/hiddenStyles.tsx
Labels: dotcom-rendering

#5378 Fix author / contributor edge cases
  apps-rendering/package-lock.json
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/topMeta/TopMetaAnalysis.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaLiveblog.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaNews.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaOpinion.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaPaidContent.tsx
  dotcom-rendering/src/amp/types/ArticleModel.tsx
  dotcom-rendering/src/lib/byline.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleMeta.test.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/BylineLink.tsx
  dotcom-rendering/src/web/components/Contributor.test.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/HeadlineByline.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  yarn.lock
Labels: bug, apps-rendering, dotcom-rendering

#5471 fix: Only wrap layout content if toggleable
  dotcom-rendering/src/web/components/ContainerLayout.tsx
Labels: dotcom-rendering

#5467 Refactor FECollectionConfigType as separate type
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#5394 Use HTTP3 for downloading Assets if part of HTTP3 experiment
  dotcom-rendering/src/web/lib/getHttp3Url.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#5464 Set min-height to smallest inline ad height
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering

#5440 Dblatcher/sign up tracking
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#5483 fix 0 for filterbank when no caresoul
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5480 Use larger font for key event times
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#5499 Set multi-sticky AB test audience to 0%
  dotcom-rendering/src/web/experiments/tests/multi-sticky-right-ads.ts
Labels: dotcom-rendering

#5481 feat(eslint): catch falsy JSX fragments
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/Caption.tsx
  dotcom-rendering/src/amp/components/Expandable.tsx
  dotcom-rendering/src/amp/components/MainMedia.tsx
  dotcom-rendering/src/amp/components/elements/ImageBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/InteractiveAtomBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/TimelineBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/TwitterBlockComponent.tsx
  dotcom-rendering/src/amp/components/topMeta/TopMetaOpinion.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Callout/FieldLabel.tsx
  dotcom-rendering/src/web/components/Callout/FileUpload.tsx
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/components/EmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/FilterButton.importable.tsx
  dotcom-rendering/src/web/components/GuVideoBlockComponent.tsx
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/MatchNav.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
  dotcom-rendering/src/web/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/web/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/PinnedPost.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/web/components/SpotifyBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/VideoFacebookBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/VimeoBlockComponent.tsx
  dotcom-rendering/src/web/components/VineBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/YoutubeEmbedBlockComponent.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  yarn.lock
Labels: bug, dotcom-rendering

#5477 Support for FixedSmallSlowVThird container
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5497 Make deadblog standfirst bullets darker
  apps-rendering/src/components/Standfirst/DeadBlogStandfirst.tsx
Labels: apps-rendering

#5502 Fix earliest key event bullet alignment
  common-rendering/src/components/keyEvents.tsx
Labels: apps-rendering, Liveblogs, Deadblogs

#5509 Ensure `index` is unique when`UnsafeEmbedBlockcomponent`s exist in pinned posts
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/UnsafeEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#5495 Hover styles for cards inside palette containers
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
Labels: dotcom-rendering

#5473 Server render 'More on this Story'
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/OnwardsData.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/server/onwardsToHtml.tsx
Labels: dotcom-rendering

#5457 Iain/gallery layout
  apps-rendering/src/components/BodyImage/BodyImage.defaults.tsx
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/BodyImage/index.tsx
  apps-rendering/src/components/Dateline/index.tsx
  apps-rendering/src/components/Headline/GalleryHeadline.tsx
  apps-rendering/src/components/Headline/index.tsx
  apps-rendering/src/components/Layout/GalleryLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/MainMedia/GalleryCaption.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/GalleryMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/index.tsx
  apps-rendering/src/components/MainMedia/index.tsx
  apps-rendering/src/components/Metadata/GalleryMetadata.tsx
  apps-rendering/src/components/Metadata/index.tsx
  apps-rendering/src/components/Series/GallerySeries.tsx
  apps-rendering/src/components/Series/index.tsx
  apps-rendering/src/components/Standfirst/GalleryStandfirst.tsx
  apps-rendering/src/components/Standfirst/index.tsx
  common-rendering/src/components/figCaption.tsx
Labels: apps-rendering, common-rendering

#5508 Upgrade webpack-manifest-plugin@5.0.0
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/webpack.config.ts
Labels: apps-rendering

#5522 Eslint refactor: no-fallthough
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/tsconfig.json
Labels: dotcom-rendering

#5527 Move overflow hidden to interscroller specific class
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5530 Replace article in cypress test
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
Labels: dotcom-rendering

#5484 Card avatars
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
Labels: dotcom-rendering

#5536 Use an article that will expire on 31/12/2022 in paid.content cypress test
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
Labels: dotcom-rendering

#5462 Create `PinnedPost` in apps rendering
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/LiveBlock/index.tsx
  apps-rendering/src/components/LiveBlocks/index.tsx
  apps-rendering/src/components/PinnedPost/PinnedPost.stories.tsx
  apps-rendering/src/components/PinnedPost/index.tsx
  apps-rendering/src/fixtures/item.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
Labels: apps-rendering, common-rendering

#5526 Fix contrasts for branding on liveblogs mobile
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Branding.importable.tsx
Labels: dotcom-rendering

#4857 Sign in after checkout prompts (header / banner)
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/lib/contributions.test.ts
  dotcom-rendering/src/web/lib/contributions.ts
  yarn.lock
Labels: dotcom-rendering

#5544 Revert: Fix contrasts for branding on liveblogs mobile #5526
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Branding.importable.tsx
Labels: dotcom-rendering

#5538 Immersive Layout - Footer
  apps-rendering/src/components/Footer/Footer.defaults.tsx
  apps-rendering/src/components/Footer/ImmersiveFooter.tsx
  apps-rendering/src/components/Footer/index.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/RelatedContent/ImmersiveRelatedContent.tsx
Labels: apps-rendering

#5546 Fix: contrast logo on branded liveblogs
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Branding.importable.tsx
Labels: dotcom-rendering
