Repository guardian/dotcom-rendering, pull requests merged in 2022-11, with the labels that each got.

#6293 Bump @guardian/discussion-rendering to v11
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/DiscussionContainer.importable.tsx
  package.json
  yarn.lock
Labels: dependencies, dotcom-rendering

#6329 Revert "Bump @guardian/discussion-rendering to v11"
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/DiscussionContainer.importable.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering

#6330 fix: spell “cannot” properly
  dotcom-rendering/src/web/components/DiscussionContainer.importable.tsx
Labels: dotcom-rendering, Health

#6335 Add SpecialReportAltPalette
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
Labels: dotcom-rendering

#6331 feat: bump discussion-rendering to v11
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, dotcom-rendering, Health

#5993 Dblatcher/apps email sign up placement 2
  apps-rendering/src/newsletter.test.ts
  apps-rendering/src/newsletter.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#6342 Revert "Dblatcher/apps email sign up placement 2"
  apps-rendering/src/newsletter.test.ts
  apps-rendering/src/newsletter.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#6345 Revert "Revert "Dblatcher/apps email sign up placement 2""
  apps-rendering/src/newsletter.test.ts
  apps-rendering/src/newsletter.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#6287 Only include amp tag if we support amp
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: dotcom-rendering

#6313 Add articles styles for SpecialReportAlt
  apps-rendering/package-lock.json
  apps-rendering/package.json
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/web/components/BlockquoteBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/Counts.tsx
  dotcom-rendering/src/web/components/Dateline.tsx
  dotcom-rendering/src/web/components/PullQuoteBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/PullQuoteBlockComponent.tsx
  dotcom-rendering/src/web/components/Standfirst.stories.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/decideTheme.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#6351 refactor: use new deno action
  .github/workflows/scheduled.yml
Labels: Health

#6314 Add cards styles for SpecialReportAlt
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#6369 Handle long `srcdoc` in iframes
  scripts/deno/iframe-titles.ts
Labels: bug, 📊 Data

#6339 Convert AR to Yarn
  .github/workflows/ar-nodejs.yml
  .github/workflows/ar-pr-deployment.yml
  README.md
  apps-rendering/README.md
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/yarn.lock
  package.json
  scripts/ci-ar.sh
Labels: apps-rendering

#6352 Improve accessibility of advertisement labels
  apps-rendering/src/adSlot.tsx
Labels: apps-rendering

#6349 Add Logo variation on Edition
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Logo.stories.tsx
  dotcom-rendering/src/web/components/Logo.tsx
Labels: dotcom-rendering

#6337 Add Europe edition in DCR
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/region-classes.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCommercialProperties.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/edition.ts
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/edition.ts
Labels: dotcom-rendering

#6382 Fix indexing: take first 10 trails for Most Viewed container
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#6128 Add CONTRIBUTING as to make our contributing docs more discoverable
  CONTRIBUTING.md
  dotcom-rendering/docs/contributing/README.md
Labels: dotcom-rendering

#6389 Bump `@guardian/atoms-rendering@^23.8.1`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#6399 Add Australia acknowledgement of Country
  dotcom-rendering/src/types/edition.ts
  dotcom-rendering/src/web/components/Footer.stories.tsx
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Logo.stories.tsx
Labels: dotcom-rendering

#6408 refactor: remove CAPI ambiguity in article type
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/scripts/json-schema/get-schema.js
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/components/ArticlePage.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/layoutHelpers.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: question, dotcom-rendering

#6398 disables 'Shady Pie' for new product launch
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6407 Mj update hard coded amp ctas in line with new product spec
  dotcom-rendering/src/amp/components/Footer.tsx
  dotcom-rendering/src/amp/components/Header.tsx
Labels: dotcom-rendering, DO NOT MERGE

#6409 Rename CalloutBlockComponent to CalloutEmbed
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#6413 temporarily shows subs link to everyone, regardless of supporter status
  dotcom-rendering/src/web/components/Links.importable.tsx
Labels: dotcom-rendering

#6334 Add AB test for skipping Prebid in Canada
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/consentless-ads.ts
  dotcom-rendering/src/web/experiments/tests/remove-prebid-a9-canada.ts
Labels: commercial :moneybag:, dotcom-rendering

#6420 Header top nav redesign (support update)
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/src/static/icons/newspaper.svg
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.stories.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/web/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/web/components/HeaderTopBarPrintSubscriptions.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearch.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearchJobs.tsx
  dotcom-rendering/src/web/components/LabsHeader.importable.tsx
  dotcom-rendering/src/web/components/Logo.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/web/components/Nav/Nav.test.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/components/SupportTheG.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/getZIndex.test.tsx
  dotcom-rendering/src/web/lib/getZIndex.tsx
  yarn.lock
Labels: dotcom-rendering

#6414 Update `ReaderRevenueEpic` to send isSignedIn data
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
Labels: dotcom-rendering

#6425 Dropdown ul styles fix
  dotcom-rendering/src/web/components/HeaderTopBarMyAccount.tsx
Labels: dotcom-rendering

#6427 fix: correct headerTopNav switch
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
Labels: dotcom-rendering

#6429 Fix an issue with the epic on amp pages served from Google cache
  dotcom-rendering/src/amp/components/Epic.tsx
Labels: dotcom-rendering

#6431 Print subscriptions for all
  dotcom-rendering/src/web/components/HeaderTopBarPrintSubscriptions.tsx
Labels: dotcom-rendering

#6434 Fix `MyAccount` z-index
  dotcom-rendering/src/web/components/HeaderTopBarMyAccount.tsx
Labels: dotcom-rendering

#6411 Refactor Tag types
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/components/Onward.tsx
  dotcom-rendering/src/amp/components/topMeta/Byline.tsx
  dotcom-rendering/src/amp/components/topMeta/SeriesLink.tsx
  dotcom-rendering/src/amp/lib/byline-tokens.ts
  dotcom-rendering/src/amp/lib/tag-utils.ts
  dotcom-rendering/src/amp/types/ArticleModel.tsx
  dotcom-rendering/src/lib/age-warning.ts
  dotcom-rendering/src/lib/byline.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/find-pillar.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/tag.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/ArticleTitle.tsx
  dotcom-rendering/src/web/components/BylineLink.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/web/components/HeadlineByline.tsx
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
  dotcom-rendering/src/web/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
  dotcom-rendering/src/web/components/SignInGate/types.ts
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/useSignInGateWillShow.ts
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: dotcom-rendering

#6286 Dateline spacing
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
Labels: dotcom-rendering

#6439 Refactor newspaper icon
  dotcom-rendering/src/static/icons/newspaper.svg
Labels: dotcom-rendering

#6418 DCR FrontsDont show trail text on 25% cards in 75/25 slices
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6442 Remove Several Unused Date Functions
  apps-rendering/src/date.test.ts
  apps-rendering/src/date.ts
Labels: apps-rendering

#6438 Added `toResult` Method To `Optional`
  apps-rendering/src/optional.ts
Labels: apps-rendering

#6432 Optional Image And Video Parsing
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/capi.ts
  apps-rendering/src/image.test.ts
  apps-rendering/src/image.ts
  apps-rendering/src/item.ts
  apps-rendering/src/relatedContent.ts
  apps-rendering/src/video.test.ts
  apps-rendering/src/video.ts
Labels: apps-rendering

#6441 Use `Optional` In `contributor.ts`
  apps-rendering/src/contributor.ts
Labels: apps-rendering

#6262 Show more island
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
  dotcom-rendering/src/web/components/ShowMore.stories.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#6453 Migrate Football To `Optional`
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/football.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#6461 Delete Media Layout
  apps-rendering/src/components/Layout/MediaLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
Labels: apps-rendering

#6467 Use h3 for `CardHeadline`
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
Labels: dotcom-rendering, a11y

#6391 Parse Report From Campaigns
  apps-rendering/package.json
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/campaign.test.ts
  apps-rendering/src/campaign.ts
  apps-rendering/src/components/CalloutForm/index.tsx
  apps-rendering/src/item.ts
  apps-rendering/src/liveBlock.ts
  apps-rendering/src/optional.ts
  apps-rendering/src/renderer.ts
  apps-rendering/yarn.lock
Labels: apps-rendering

#6479 Update braze-components dependency to v8.1.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6478 Fix flakey `article.e2e.cy` AB tests
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
Labels: dotcom-rendering

#6480 Refactor Ophan component event without action type to use the `Omit`
  dotcom-rendering/src/web/components/SignInGate/componentEventTracking.tsx
Labels: dotcom-rendering, Health

#6477 Be more leanient on where Storybook is ran from
  dotcom-rendering/package.json
Labels: dotcom-rendering, Health

#6469 a11y: Add a title to the `Back to homepage` SVG
  dotcom-rendering/src/web/components/GuardianRoundel.tsx
Labels: dotcom-rendering

#6482 `parseIntOpt` To `Optional`
  apps-rendering/src/embed.ts
  apps-rendering/src/lib.ts
Labels: apps-rendering

#6397 Dblatcher upgrade bridget
  apps-rendering/package.json
  apps-rendering/src/client/article.ts
  apps-rendering/src/client/newsletterSignupForm.ts
  apps-rendering/src/client/requestEmailSignUp.ts
  apps-rendering/src/native/nativeApi.ts
  apps-rendering/yarn.lock
Labels: apps-rendering

#6481 Expand `useAB`
  .storybook/preview.js
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/SetABTests.importable.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/experiments/lib/ab-localstorage.ts
  dotcom-rendering/src/web/experiments/lib/ab-participations.test.ts
  dotcom-rendering/src/web/experiments/lib/ab-participations.ts
  dotcom-rendering/src/web/lib/useAB.ts
  dotcom-rendering/src/web/lib/useSignInGateSelector.ts
Labels: dotcom-rendering

#6491 a11y: Add a maincontent anchor to Fronts
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#6384 fix: Pass correct pillar values for storybook layout stories
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering

#6498 Cypress `article.e2e` flaky fixes
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
Labels: dotcom-rendering

#6464 Dblatcher sign ups check bridget version
  apps-rendering/src/client/article.ts
  apps-rendering/src/client/bridgetVersion.ts
  apps-rendering/src/client/newsletterSignupForm.ts
  apps-rendering/src/components/NewsletterSignup/NewsletterSignup.stories.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
Labels: apps-rendering

#6508 Make `isLight` type-safe
  dotcom-rendering/src/web/lib/isLight.ts
Labels: dotcom-rendering, Health

#6512 Make `contribution` test type-safe
  dotcom-rendering/src/web/lib/contributions.test.ts
Labels: dotcom-rendering, Health

#6517 Install `common-rendering` as a dependecy of `apps-rendering`
  apps-rendering/package.json
  apps-rendering/yarn.lock
  common-rendering/package.json
  yarn.lock
Labels: apps-rendering, common-rendering

#6507 Update braze-components dependency to v8.1.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6468 Remove `dotenv`
  dotcom-rendering/docs/architecture/028-dotenv.md
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/dotenv/gen-dotenv.js
  dotcom-rendering/scripts/dotenv/get-aws-ssm-parameters.js
  dotcom-rendering/scripts/secrets.js
  dotcom-rendering/scripts/webpack/@types/dotenv-webpack/index.d.ts
  dotcom-rendering/src/server/index.ts
  yarn.lock
Labels: dotcom-rendering, Health

#6522 docs(dotenv): link to removal PR
  dotcom-rendering/docs/architecture/028-dotenv.md
Labels: dotcom-rendering

#6521 refactor: use `joinUrl` from @guardian/libs
  dotcom-rendering/src/lib/joinUrl.test.ts
  dotcom-rendering/src/lib/joinUrl.ts
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/ShareCount.importable.tsx
  dotcom-rendering/src/web/lib/getCommentContext.ts
  dotcom-rendering/src/web/lib/getIdapiUserData.ts
Labels: dotcom-rendering, Health

#6523 Remove generation of dotenv step in CI
  scripts/ci-dcr.sh
Labels: bug

#6513 Make `edition` type-safe
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/topMeta/Branding.tsx
  dotcom-rendering/src/amp/types/ArticleModel.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/enhanceTreats.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/types/commercial.ts
  dotcom-rendering/src/types/config.ts
  dotcom-rendering/src/types/edition.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
  dotcom-rendering/src/web/components/Footer.stories.tsx
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/HeaderSingleFrontDoor.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/web/components/HeaderTopBarPrintSubscriptions.tsx
  dotcom-rendering/src/web/components/Logo.stories.tsx
  dotcom-rendering/src/web/components/Logo.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/web/components/Section.tsx
  dotcom-rendering/src/web/components/SupportTheG.importable.tsx
  dotcom-rendering/src/web/lib/edition.ts
Labels: dotcom-rendering, Health

#6525 Increase ASG Capacity
  apps-rendering/cdk/bin/cdk.ts
Labels: apps-rendering

#6526 Skip article.e2e AB tests
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
Labels: dotcom-rendering

#6516 Fix show more focus behaviour
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
Labels: dotcom-rendering

#6503 feat: support recipes
  apps-rendering/src/components/Layout/index.tsx
Labels: apps-rendering

#6470 Document `FetchCommentCounts`’s expected attribute `data-discussion-id`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/FetchCommentCounts.importable.tsx
Labels: dotcom-rendering, Health

#6527 YouTube IMA Ads integration uses full page targeting and passes ab test participations
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#6534 Mobile sticky ad uses `getZIndex`
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/lib/getZIndex.test.tsx
  dotcom-rendering/src/web/lib/getZIndex.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6533 refactor(grid): use the API directly
  apps-rendering/src/grid/grid.ts
Labels: apps-rendering, Health

#6496 Extend expiry on sign in gate ab test
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-control.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#6505 Always fetch RR banner if force-banner present
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering

#6541 Update sentry sdk 5.30.0->6.19.7
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6540 Increase YouTube IMA integration AB test to 5%
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering

#6545 feat: Bump prettier version and enable --cache
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, dotcom-rendering

#6515 Move repo storybook to a new `storybooks` application
  .gitignore
  apps-rendering/package.json
  apps-rendering/yarn.lock
  common-rendering/package.json
  dotcom-rendering/package.json
  package.json
  storybooks/.storybook/main.js
  storybooks/.storybook/mocks/jsdom.js
  storybooks/.storybook/mocks/log4js.js
  storybooks/.storybook/preview-head.html
  storybooks/.storybook/preview.js
  storybooks/package.json
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#6559 IntegrateIma AB test fix
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering

#6536 Bump atoms rendering version
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6333 Add element type Callout to AR model
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/campaign.test.ts
  apps-rendering/src/campaign.ts
  apps-rendering/src/components/CalloutForm/index.tsx
Labels: apps-rendering

#6562 Add Recipe multiplier
  dotcom-rendering/babel.config.js
  dotcom-rendering/cypress/e2e/parallel-2/banner.e2e.cy.js
  dotcom-rendering/cypress/support/commands.js
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/model/enhance-recipes.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/web/browser/islands/doStorybookHydration.js
  dotcom-rendering/src/web/browser/islands/initHydration.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/components/RecipeMultiplier.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/index.ts
  yarn.lock
Labels: 🔬 R&D 🔬, dotcom-rendering

#6566 Remove E2E test for the puzzles banner
  dotcom-rendering/cypress/e2e/parallel-2/banner.e2e.cy.js
Labels: dotcom-rendering

#6565 Delete code related to sign in gate long mandatory test
  dotcom-rendering/src/web/components/SignInGate/signInGate.ts
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.test.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.ts
  dotcom-rendering/src/web/experiments/lib/ab-localstorage.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-test.ts
Labels: dotcom-rendering

#6484 Refactor design tags
  apps-rendering/src/components/DesignTag/DesignTag.stories.tsx
  apps-rendering/src/components/DesignTag/index.tsx
  apps-rendering/src/components/Headline/InterviewHeadline.tsx
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/LetterLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#6483 Feat: Add design tag to obituary articles
  dotcom-rendering/src/web/components/DesignTag.tsx
Labels: dotcom-rendering, DO NOT MERGE

#6471 feat: separate island loading and hydration
  dotcom-rendering/src/web/browser/islands/doHydration.ts
Labels: dotcom-rendering

#6571 Fix: Obituary Typo
  dotcom-rendering/src/web/components/DesignTag.tsx
Labels: dotcom-rendering

#6572 fix: import CAPIElement type explicity
  dotcom-rendering/src/model/enhance-recipes.ts
Labels: bug, dotcom-rendering

#6556 Update header notifications design
  dotcom-rendering/src/web/components/Dropdown.tsx
Labels: dotcom-rendering

#6576 feat: redirect article and fronts
  dotcom-rendering/src/server/dev-server.ts
Labels: dotcom-rendering

#6485 Minimum cards in a container
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6580 Improve 'my account' notification style
  dotcom-rendering/src/web/components/Dropdown.tsx
Labels: dotcom-rendering

#6560 Read the S3 bucket for deployments from SSM
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#6577 Fix LinkedIn embeds
  apps-rendering/src/server/csp.ts
Labels: apps-rendering

#6586 Add integrate-ima ab test control
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering

#6589 Refactor abTest usage
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
Labels: dotcom-rendering

#6588 Fix H2s on Immersives in darkmode
  apps-rendering/package.json
  apps-rendering/src/components/HeadingTwo/ImmersiveHeadingTwo.tsx
  apps-rendering/yarn.lock
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#6539 handle CalloutBlockElementV2 element type
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#6594 refactor: `decideContainerOverrides` to use palette from source
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
Labels: dotcom-rendering

#6598 feat: Add dynamo sublink styling
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

#6600 import and use the insertNewsletterIntoItem function
  apps-rendering/src/server/page.tsx
Labels: apps-rendering

#6601 refactor(eslint): @guardian config only
  .prettierrc
  .prettierrc.json
  common-rendering/.prettierrc
  common-rendering/.prettierrc.json
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/.prettierrc
  dotcom-rendering/.prettierrc.json
  dotcom-rendering/package.json
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering, Health

#6610 Add eslint-plugin-source-react-components to AR
  apps-rendering/package.json
  apps-rendering/yarn.lock
Labels: apps-rendering

#6611 Rename sublink styles
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering, Health

#6591 Create individual AR storybook and chromatic
  .github/workflows/chromatic.yml
  apps-rendering/.storybook/fonts-css.ts
  apps-rendering/.storybook/main.js
  apps-rendering/.storybook/mocks/jsdom.js
  apps-rendering/.storybook/preview-head.html
  apps-rendering/.storybook/preview.js
  apps-rendering/package.json
  apps-rendering/yarn.lock
  package.json
  storybooks/.storybook/main.js
  storybooks/.storybook/mocks/log4js.js
  storybooks/.storybook/preview.js
  storybooks/Readme.stories.jsx
  storybooks/package.json
  storybooks/readme.mdx
  yarn.lock
Labels: apps-rendering

#6614 Remove recipeEnhancer from enhanceBlocks
  dotcom-rendering/src/model/enhanceBlocks.ts
Labels: bug, dotcom-rendering

#6223 Dblatcher/ar newsletter sign design variants
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/NewsletterSignupMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/index.tsx
  apps-rendering/src/components/Standfirst/NewsletterSignupStandfirst.tsx
  apps-rendering/src/components/Standfirst/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/newsletterSignUpContent.ts
Labels: apps-rendering
