Repository guardian/dotcom-rendering, pull requests merged in 2022-06, with the labels that each got.

#5109 tighter lineheight
  dotcom-rendering/src/web/components/Card/components/TrailTextWrapper.tsx
Labels: dotcom-rendering

#5117 Filter image caption location for strings without any characters
  apps-rendering/src/components/editions/galleryImage/index.tsx
Labels: apps-rendering

#5101 Review Stars Padding Fix
  apps-rendering/src/components/StarRating/index.tsx
Labels: apps-rendering

#5111 Fix email embeds when rendering alongside a rich link
  dotcom-rendering/src/web/components/EmbedBlockComponent.importable.tsx
Labels: dotcom-rendering

#5118 Change byline avatar positioning
  apps-rendering/src/components/editions/byline/index.tsx
Labels: apps-rendering

#5099 Send card position on key event click
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
Labels: dotcom-rendering

#5085 Refactor `MainMedia`
  apps-rendering/src/components/HeaderImage/index.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/InteractiveImmersiveLayout.tsx
  apps-rendering/src/components/Layout/LabsLayout.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/Layout/MediaLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/BlogMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/CommentMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/ImmersiveMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/InterviewMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/MainMediaImage.defaults.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/index.tsx
  apps-rendering/src/components/MainMedia/MainMediaVideo/index.tsx
  apps-rendering/src/components/MainMedia/index.tsx
  apps-rendering/src/mainMedia.ts
Labels: apps-rendering

#5095 Standfirst restructure
  apps-rendering/src/components/Standfirst/DeadBlogStandfirst.tsx
  apps-rendering/src/components/Standfirst/ImmersiveLabsStandfirst.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
  apps-rendering/src/components/Standfirst/LabsStandfirst.tsx
  apps-rendering/src/components/Standfirst/LiveBlogStandfirst.tsx
  apps-rendering/src/components/Standfirst/MediaStandfirst.tsx
  apps-rendering/src/components/Standfirst/ReviewStandfirst.tsx
  apps-rendering/src/components/Standfirst/Standfirst.defaults.tsx
  apps-rendering/src/components/Standfirst/index.tsx
Labels: apps-rendering

#5001 Add front link to dev server index
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#5157 Move email embed caption above iframe
  apps-rendering/src/components/EmailSignup/index.tsx
Labels: apps-rendering

#5158 Cypress v10
  .github/workflows/cypress.yml
  apps-rendering/package-lock.json
  dotcom-rendering/cypress.config.js
  dotcom-rendering/cypress.json
  dotcom-rendering/cypress/e2e/PLACE-SPECS-IN-ONE-OF-THESE-FOLDERS
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/article.elements.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/e2e/parallel-2/banner.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.metaAndOphan.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/epic.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/commercial.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/consent.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
  dotcom-rendering/cypress/support/e2e.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/SignInGate/README.md
  dotcom-rendering/tsconfig.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#4963 ESLint warn on rules to review
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/MostViewedRight.tsx
  dotcom-rendering/src/web/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/readerRevenueDevUtils.ts
Labels: dotcom-rendering

#5098 Add key events carousel to layout
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/web/components/SkipTo.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5163 Update Relevant Yield AMP script
  dotcom-rendering/docs/commercial/overview.md
  dotcom-rendering/src/amp/components/Ad.tsx
Labels: dotcom-rendering

#5041 Small accessibility fix
  dotcom-rendering/src/web/components/SubNav.importable.tsx
Labels: dotcom-rendering

#4994 refactor(deps): use @testing-library/jest-dom
  dotcom-rendering/package.json
  dotcom-rendering/scripts/jest/setup.ts
  yarn.lock
Labels: dependencies, DCR Dependency, dotcom-rendering

#5171 docs(lighthouse): explain "pull_request" event
  .github/workflows/lighthouse.yml
Labels: documentation

#5152 Add role attribute to unordered lists
  apps-rendering/config/.eslintrc.js
  apps-rendering/src/components/List/index.tsx
  apps-rendering/src/components/RelatedContent/index.tsx
  apps-rendering/src/components/Tags/index.tsx
  apps-rendering/src/components/TeamScore/index.tsx
  apps-rendering/src/components/editions/teamScore/index.tsx
  apps-rendering/src/components/media/tags.tsx
Labels: apps-rendering

#4961 feat(eslint): script to report on top problems
  .gitignore
  dotcom-rendering/eslint-guardian.js
  scripts/deno/eslint.ts
Labels: dotcom-rendering

#4840 Dblatcher/add newsletter signup layout file
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/web/components/NewslettersBadge.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
Labels: dotcom-rendering

#5168 Begone, react 'key' warnings 👋
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/components/topMeta/Branding.tsx
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/MainMedia.tsx
  dotcom-rendering/src/web/components/Picture.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#5176 Small typo fixes
  dotcom-rendering/docs/architecture/001-dotcom-rendering.md
  dotcom-rendering/docs/architecture/004-emotion.md
  dotcom-rendering/docs/architecture/010-storybook.md
  dotcom-rendering/docs/architecture/017-javascript-loading.md
  dotcom-rendering/docs/architecture/020-react-to-preact.md
  dotcom-rendering/docs/architecture/027-better-partial-hydration.md
Labels: dotcom-rendering

#4986 ESLint enforce rules
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/lib/enhance.test.ts
  dotcom-rendering/src/lib/escapeData.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#5097 Remove Ozone Prebid price granularity test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/prebid-price-granularity.ts
Labels: commercial :moneybag:, dotcom-rendering

#5183 Move Key Events Carousel behind A/B Test and Switch
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5187 Don't focus on `ShadyPie`
  dotcom-rendering/src/web/components/ShadyPie.tsx
Labels: dotcom-rendering

#5165 Add Fronts container: fixed/small/slow-III
  dotcom-rendering/src/web/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5175 Immersive Layout - Header
  apps-rendering/src/components/Headline/ImmersiveHeadline.tsx
  apps-rendering/src/components/Headline/index.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/MainMedia/MainMedia.defaults.ts
  apps-rendering/src/components/MainMedia/MainMediaImage/ImmersiveMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/index.tsx
  apps-rendering/src/components/MainMedia/index.tsx
  apps-rendering/src/components/Series/ImmersiveSeries.tsx
  apps-rendering/src/components/Series/index.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
  apps-rendering/src/components/Standfirst/Standfirst.defaults.tsx
  apps-rendering/src/components/Standfirst/index.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5192 ESLint: `explicit-module-boundaries`
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/lib/enhance.ts
  dotcom-rendering/src/amp/lib/get-video-id.ts
  dotcom-rendering/src/lib/fonts-css.ts
  dotcom-rendering/src/lib/identity-component-event.ts
  dotcom-rendering/src/lib/joinUrl.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/lib/aws/aws-metrics.ts
  dotcom-rendering/src/server/lib/aws/metrics-baseline.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/browser/ga/ga.ts
  dotcom-rendering/src/web/browser/islands/doHydration.ts
  dotcom-rendering/src/web/browser/islands/initHydration.ts
  dotcom-rendering/src/web/browser/islands/whenIdle.ts
  dotcom-rendering/src/web/browser/islands/whenVisible.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
  dotcom-rendering/src/web/components/Lazy.tsx
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
  dotcom-rendering/src/web/components/WitnessBlockComponent.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/numbers/Eight.tsx
  dotcom-rendering/src/web/components/numbers/Three.tsx
  dotcom-rendering/src/web/components/numbers/Two.tsx
  dotcom-rendering/src/web/components/numbers/Zero.tsx
  dotcom-rendering/src/web/experiments/cypress-switches.ts
  dotcom-rendering/src/web/experiments/tests/commercial-end-of-quarter-2-test.ts
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/alreadyVisited.ts
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/getDataLinkName.ts
  dotcom-rendering/src/web/lib/getPrivacyFramework.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/lib/setAutomat.ts
  dotcom-rendering/src/web/lib/stringifyFileBase64.ts
  dotcom-rendering/src/web/lib/useAB.ts
  dotcom-rendering/src/web/lib/useAdBlockInUse.ts
  dotcom-rendering/src/web/lib/useDiscussion.ts
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: Suggestion, dotcom-rendering

#5204 fix(deno): explicit exit
  scripts/deno/ophan-components.ts
Labels: bug

#5199 Add fronts container: fixed/medium/slow-vi
  dotcom-rendering/src/web/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5190 fix: Add a title to InteractiveBlockElement iframes
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#5210 Use Relevant Yield for Prebid Server
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#5191 Apply default card styles to analysis pieces
  apps-rendering/src/components/Card/index.tsx
Labels: apps-rendering

#5211 Removed Emotion 10 As Direct Dependency
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#5209 Typescript 4.7.3, `ts-loader` 9.3.0 And `ts-node` 10.8.1
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#5185 Introduce `CommercialLazyLoadMarginReloaded` test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Labels: dotcom-rendering

#5229 Migrate Image Code From `common-rendering` To AR
  apps-rendering/src/components/BodyImage/BodyImage.stories.tsx
  apps-rendering/src/components/BodyImage/index.tsx
  apps-rendering/src/components/Card/index.tsx
  apps-rendering/src/components/ImgAlt/ImgAlt.stories.tsx
  apps-rendering/src/components/ImgAlt/index.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/BlogMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/ImmersiveMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/MainMediaImage.defaults.tsx
  apps-rendering/src/components/editions/avatar/index.tsx
  apps-rendering/src/components/editions/galleryImage/index.tsx
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/contributor.ts
  apps-rendering/src/fixtures/image.ts
  apps-rendering/src/image.ts
  apps-rendering/src/image/__snapshots__/sizes.test.tsx.snap
  apps-rendering/src/image/image.ts
  apps-rendering/src/image/lightbox.ts
  apps-rendering/src/image/sizes.test.tsx
  apps-rendering/src/image/sizes.ts
  apps-rendering/src/image/srcsets.test.ts
  apps-rendering/src/image/srcsets.ts
  apps-rendering/src/renderer.ts
  common-rendering/src/components/bodyImage.stories.tsx
  common-rendering/src/components/img.stories.tsx
  common-rendering/src/fixtures/image.ts
  common-rendering/src/image.ts
  common-rendering/src/lightbox.ts
  common-rendering/src/sizes.test.tsx
  common-rendering/src/srcsets.ts
Labels: apps-rendering, common-rendering

#5223 Immersive Layout - Caption And Metadata
  apps-rendering/src/components/ImmersiveCaption/index.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/MainMedia/index.tsx
  apps-rendering/src/components/Metadata/ImmersiveMetadata.tsx
  apps-rendering/src/components/Metadata/index.tsx
Labels: apps-rendering

#5224 Card footer ❤️
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/web/components/CardCommentCount.tsx
Labels: dotcom-rendering

#5244 Don't underline headline for `Analysis` if a palette exists
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering

#5208 Add topics to types
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
Labels: dotcom-rendering

#5239 Remove `is-ci` As Direct Dependency
  apps-rendering/package.json
Labels: apps-rendering

#5232 Add link to design.theguardian.com
  dotcom-rendering/README.md
Labels: dotcom-rendering

#5169 chore(deps): bump @guardian/consent-management-platform from 10.5.0 to 10.7.0
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#5251 Bump atoms-rendering to get "was this useful" labels
  dotcom-rendering/package.json
Labels: dotcom-rendering

#5255 Add aria-label and data-link-name
  dotcom-rendering/src/web/components/FilterButton.importable.tsx
  dotcom-rendering/src/web/components/FilterButton.stories.tsx
Labels: dotcom-rendering

#5240 Move accordion behind auto filter feature switch
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5257 Add padding to live feed when header is removed
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5262 Migrate Data Types To AR
  apps-rendering/src/option.ts
  apps-rendering/src/result.test.ts
  apps-rendering/src/result.ts
Labels: apps-rendering

#4999 Front container date header (& `edition` > `editionId` refactor)
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/BodyLiveblog.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/components/RegionalAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
  dotcom-rendering/src/amp/components/topMeta/Branding.tsx
  dotcom-rendering/src/amp/lib/edition.ts
  dotcom-rendering/src/amp/types/ArticleModel.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/web/components/Nav/Nav.test.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.stories.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
  dotcom-rendering/src/web/lib/edition.ts
Labels: dotcom-rendering

#5264 Add active topic to CAPIArticle model and use in url construction
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5266 Update `topics` naming
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5265 bump commercial-core to v4.3.0
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/AdSlot.tsx
  yarn.lock
Labels: dotcom-rendering

#5233 Remove squiggly lines & Refactor decide lines
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/DecideLines.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/layoutHelpers.ts
Labels: dotcom-rendering

#4899 🏝 Add "expediteLoading" pattern to Islands
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/extractIslands.ts
  yarn.lock
Labels: dotcom-rendering

#5278 Add key events to filter bank
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.stories.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5241 Dropdown notification badge support
  dotcom-rendering/src/web/components/Dropdown.stories.tsx
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/lib/linkNotificationCount.test.ts
  dotcom-rendering/src/web/lib/linkNotificationCount.ts
Labels: dotcom-rendering

#5281 Add missing params to mobile
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5182 Adds `fixed/thrasher` support to DCR Fronts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceSnaps.ts
  dotcom-rendering/src/web/components/Snap.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: PR Deployment, dotcom-rendering

#5248 Immersive Layout - Body
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/Metadata/ImmersiveMetadata.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
  apps-rendering/src/grid/LeftCentreBorder.tsx
Labels: apps-rendering

#5194 `0%` AB test for sticky right-hand ads
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/multi-sticky-right-ads.ts
Labels: commercial :moneybag:, dotcom-rendering

#5273 Extra cards container
  dotcom-rendering/src/web/components/Card/components/LI.tsx
  dotcom-rendering/src/web/components/ExtraCardsContainer.stories.tsx
  dotcom-rendering/src/web/components/ExtraCardsContainer.tsx
  dotcom-rendering/src/web/lib/verticalDividerWithBottomOffset.ts
Labels: dotcom-rendering

#5276 Configure all interactives to load on page idle
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering
