Repository guardian/dotcom-rendering, pull requests merged in 2022-05, with the labels that each got.

#4781 Series colour for match features
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4787 `standfirst` > `trailText`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#4800 Set chromatic params first
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
Labels: dotcom-rendering

#4696 Create new KeyEventsCards for carousel
  dotcom-rendering/fixtures/manual/key-events.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4788 Choose the right cards
  dotcom-rendering/src/web/components/DynamicSlow.tsx
Labels: dotcom-rendering

#4777 Restore "Single front door v3 updates"
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#4758 Liveblogs - Cricket Scoreboard
  dotcom-rendering/cypress/fixtures/manual/cricket-match.js
  dotcom-rendering/cypress/integration/parallel-5/liveblog.interactivity.spec.js
  dotcom-rendering/fixtures/manual/cricket-scoreboard.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/json-schema.json
  dotcom-rendering/src/web/components/CricketScoreboard.stories.tsx
  dotcom-rendering/src/web/components/CricketScoreboard.test.tsx
  dotcom-rendering/src/web/components/CricketScoreboard.tsx
  dotcom-rendering/src/web/components/GetCricketScoreboard.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4798 Nested links
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
  dotcom-rendering/src/web/lib/getZIndex.test.tsx
  dotcom-rendering/src/web/lib/getZIndex.tsx
Labels: dotcom-rendering

#4789 Hide sublinks on small cards
  dotcom-rendering/src/web/components/DynamicSlow.tsx
Labels: dotcom-rendering

#4664 docs(ophan): add Ophan tracking information and logs
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
  dotcom-rendering/src/web/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering, documentation, 📊 Data

#4773 feat: Surface Lighthouse results
  .github/workflows/lighthouse.yml
  .gitignore
  dotcom-rendering/lighthouserc.js
  scripts/deno/surface-lighthouse-results.ts
Labels: dotcom-rendering, 📊 Data

#4805 Revert "feat: Surface Lighthouse results"
  .github/workflows/lighthouse.yml
  .gitignore
  dotcom-rendering/lighthouserc.js
  scripts/deno/surface-lighthouse-results.ts
Labels: bug, dotcom-rendering

#4806 feat(lighthouse): surface scores on every PR
  .github/workflows/lighthouse.yml
  .gitignore
  dotcom-rendering/lighthouserc.js
  scripts/deno/surface-lighthouse-results.ts
Labels: dotcom-rendering

#4797 Fix `inline1ContainerSizing` float right CSS
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering

#4801 Import ad size mappings from comm-core
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/AdSlot.tsx
  yarn.lock
Labels: commercial :moneybag:, dotcom-rendering

#4772 Refactor Interview headline, add dark mode
  apps-rendering/src/components/headerImage.tsx
  apps-rendering/src/components/headline.tsx
  apps-rendering/src/components/headlineByline.tsx
  apps-rendering/src/components/headlineTag.tsx
  apps-rendering/src/components/series.tsx
  common-rendering/src/editorialPalette/background.ts
Labels: apps-rendering, common-rendering

#4809 `decideSubLinkFormat`
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#4818 Footer position
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
Labels: dotcom-rendering

#4827 Add `data-link-name` to Front Cards
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/lib/getDataLinkName.ts
Labels: dotcom-rendering, Fronts :newspaper:, 📊 Data

#4824 Split Up Media Designs - Stage One: Temporarily Parse New Designs To `Design.Media`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/lib/decideDesign.ts
Labels: dotcom-rendering

#4690 Ab sb/remove anniversary logo
  dotcom-rendering/src/amp/components/Header.tsx
  dotcom-rendering/src/static/logos/guardian-anniversary-logo-uk.svg
  dotcom-rendering/src/static/logos/guardian-anniversary-logo.svg
  dotcom-rendering/src/static/logos/the-guardian.svg
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Logo.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering

#4821 Bump `commercial-core`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#4783 Remove headline fontSize restriction
  apps-rendering/src/components/headline.tsx
Labels: apps-rendering

#4561 Hide key events heading on mobile when empty
  apps-rendering/src/components/layout/live.tsx
  common-rendering/src/components/keyEvents.tsx
Labels: apps-rendering, common-rendering

#4807 feat(github): add octokit abstraction
  scripts/deno/github.ts
  scripts/deno/ophan-components.ts
  scripts/deno/surface-lighthouse-results.ts
Labels: 📊 Data

#4849 feat(KeyEventsContainer): add type predicate
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
Labels: dotcom-rendering

#4830 Refactor image width decisions
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
Labels: dotcom-rendering

#4796 `FrontPalette`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Avatar.stories.tsx
  dotcom-rendering/src/web/components/Avatar.tsx
  dotcom-rendering/src/web/components/Byline.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/web/components/CardCommentCount.stories.tsx
  dotcom-rendering/src/web/components/CardCommentCount.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
  dotcom-rendering/src/web/components/Spotlight.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4861 Fix `KeyEventCard` widths
  dotcom-rendering/src/web/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#4763 Ad placeholder as a React component
  apps-rendering/src/adSlot.stories.tsx
  apps-rendering/src/adSlot.tsx
  apps-rendering/src/ads.test.ts
  apps-rendering/src/ads.ts
  apps-rendering/src/client/nativeCommunication.ts
  apps-rendering/src/components/articleBody.tsx
  apps-rendering/src/components/layout/index.tsx
  apps-rendering/src/components/media/articleBody.tsx
  apps-rendering/src/styles.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: commercial :moneybag:, apps-rendering, common-rendering

#4858 Display the toast over a wider area
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4865 `Footer` on fronts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#4867 Don't show toast over headline
  dotcom-rendering/cypress/integration/parallel-5/liveblog.interactivity.spec.js
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4819 Create README for Deno setup
  dotcom-rendering/README.md
  dotcom-rendering/docs/images/logo-deno.svg
  scripts/deno/README.md
Labels: dotcom-rendering

#4872 Add em handler to editions image caption
  apps-rendering/src/components/editions/galleryImage/index.tsx
Labels: apps-rendering

#4873 Remove drop cap styles from editions
  apps-rendering/src/components/editions/layout/index.tsx
Labels: apps-rendering

#4875 Fix overflow on header image caption
  apps-rendering/src/components/editions/headerMedia/index.tsx
Labels: apps-rendering

#4842 Unify sanitisation
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/packages/frontend/lib/sanitise-html.ts
  dotcom-rendering/src/amp/components/elements/TextBlockComponent.tsx
  dotcom-rendering/src/amp/lib/sanitise-html.test.ts
  dotcom-rendering/src/lib/sanitise-html.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/sanitise.test.ts
  dotcom-rendering/src/model/sanitise.ts
  dotcom-rendering/src/model/strip-html.ts
  dotcom-rendering/src/web/components/Standfirst.tsx
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
  yarn.lock
Labels: dotcom-rendering

#4844 Add `mailto` hrefs to in body links
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#4853 Fix drop cap alignment in Firefox
  apps-rendering/src/components/paragraph.tsx
Labels: apps-rendering

#4884 Update DCR Schemas
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/json-schema.json
  dotcom-rendering/src/web/lib/decideDesign.ts
Labels: dotcom-rendering

#4883 Refactor Card Footer
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

#4887 Extend Prebid price granularity AB test
  dotcom-rendering/src/web/experiments/tests/prebid-price-granularity.ts
Labels: commercial :moneybag:, dotcom-rendering

#4882 Revert single front door v3 AB test
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#4856 Add `KeyEventCard` click tracking
  dotcom-rendering/src/web/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#4890 Do not render generic embeds in Editions
  apps-rendering/src/components/embed.tsx
  apps-rendering/src/renderer.test.ts
Labels: apps-rendering

#4892 Do not render drop caps in Editions
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#4874 Module Implementing Guardian Grid Using CSS Grid
  apps-rendering/src/grid/grid.ts
Labels: apps-rendering

#4880 Observer Opinion series title - show 'Observer'
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
Labels: dotcom-rendering

#4897 Add "schema check" action
  .github/workflows/schema-check.yml
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/json-schema/check-schema.js
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/scripts/json-schema/get-schema.js
  yarn.lock
Labels: dotcom-rendering

#4888 Remove lazy load advert tests
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/commercial-gpt-lazy-load.ts
  dotcom-rendering/src/web/experiments/tests/commercial-lazy-load-margin.ts
Labels: dotcom-rendering

#4870 Better line height for sublinks
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

#4901 Rename "json-schema.json" to "article-schema.json"
  dotcom-rendering/makefile
  dotcom-rendering/scripts/json-schema/check-schema.js
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/validate.ts
Labels: dotcom-rendering

#4898 Bump discussion-rendering version
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4893 Stop relying on star rating to parse Design.Review
  apps-rendering/src/capi.ts
  apps-rendering/src/components/editions/starRating/index.tsx
  apps-rendering/src/components/editions/starRating/starRating.stories.tsx
  apps-rendering/src/components/headline.stories.tsx
  apps-rendering/src/components/starRating.stories.tsx
  apps-rendering/src/components/starRating.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
  apps-rendering/src/relatedContent.test.ts
  apps-rendering/src/relatedContent.ts
Labels: apps-rendering

#4878 Extract Caption From Renderer
  apps-rendering/src/components/caption/caption.tsx
  apps-rendering/src/components/caption/index.tsx
  apps-rendering/src/components/immersiveCaption.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#4906 Fix standfirst background colour for Editorial and Letter designs
  common-rendering/src/editorialPalette/background.ts
Labels: common-rendering

#4885 Inline fluid slots can take full width
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#4876 Liveblogs - SpecialReport palette
  common-rendering/src/editorialPalette/background.ts
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: common-rendering, dotcom-rendering

#4920 Fix missing gallery image location
  apps-rendering/src/components/editions/galleryImage/index.tsx
Labels: apps-rendering

#4866 Add summary styling to `KeyEventCard`
  dotcom-rendering/fixtures/manual/key-events.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4911 Fix `PinnedPost` content height with long embeds
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#4917 Labs liveblogs in DCR
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4860 Fix `FilterKeyEventsToggle` scroll issue
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4937 Make source optional for trial picture
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/front-schema.json
Labels: dotcom-rendering

#4939 Add assertion matrix to lighthouserc
  dotcom-rendering/lighthouserc.js
Labels: dotcom-rendering

#4940 Lighhouse Action: Fixed passed assertions
  dotcom-rendering/lighthouserc.js
Labels: dotcom-rendering

#4929 Increase spacing between header image and text in Comment, Letter, Editorial designs
  apps-rendering/src/components/HeaderImage/index.tsx
Labels: apps-rendering

#4936 Remove wavy lines from Feature and Recipe designs in AR
  apps-rendering/src/components/layout/standard.tsx
Labels: apps-rendering

#4950 Reinstall `aws-cdk`
  apps-rendering/package-lock.json
Labels: apps-rendering

#4947 ESLint @guardian: no default export
  .git-blame-ignore-revs
  dotcom-rendering/eslint-guardian.js
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/webpack/@types/webpack-filter-warnings-plugin/index.d.ts
  dotcom-rendering/scripts/webpack/@types/webpack-messages/index.d.ts
  dotcom-rendering/src/server/index.ts
  dotcom-rendering/src/web/components/ClickToView.test.tsx
  dotcom-rendering/src/web/components/DocumentBlockComponent.test.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/web/components/ShareCount.test.tsx
Labels: dotcom-rendering

#4921 Fix top padding on cards on fronts
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/HeadlineWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering

#4954 Default sublink kicker text
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#4962 Fix the decision logic for which format we use for presenting sublinks
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering

#4958 ESLint reoganise and fix rules
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/amp/components/AdConsent.tsx
  dotcom-rendering/src/amp/components/Epic.tsx
  dotcom-rendering/src/amp/components/elements/ContentAtomBlockComponent.tsx
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/model/enhance-dots.ts
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/HeadlinesContainer.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/lib/isLight.ts
Labels: dotcom-rendering

#4957 Don't always show card age
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/components/Spotlight.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#4699 Add headline refactor
  apps-rendering/src/components/BodyImageHalfWidth/index.tsx
  apps-rendering/src/components/BodyImageThumbnail/index.tsx
  apps-rendering/src/components/Byline/Byline.defaults.tsx
  apps-rendering/src/components/Byline/CommentByline.tsx
  apps-rendering/src/components/Byline/DeadBlogByline.tsx
  apps-rendering/src/components/Byline/LabsByline.tsx
  apps-rendering/src/components/Byline/LiveBlogByline.tsx
  apps-rendering/src/components/Byline/index.tsx
  apps-rendering/src/components/Headline/AnalysisHeadline.tsx
  apps-rendering/src/components/Headline/BlogHeadline.tsx
  apps-rendering/src/components/Headline/CommentHeadline.tsx
  apps-rendering/src/components/Headline/FeatureHeadline.tsx
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Headline/ImmersiveHeadline.tsx
  apps-rendering/src/components/Headline/InterviewHeadline.tsx
  apps-rendering/src/components/Headline/LabsHeadline.tsx
  apps-rendering/src/components/Headline/MediaHeadline.tsx
  apps-rendering/src/components/Headline/ReviewHeadline.tsx
  apps-rendering/src/components/Headline/index.tsx
Labels: apps-rendering

#4977 Fix Lighthouse results for Dependabot
  scripts/deno/github.ts
  scripts/deno/ophan-components.ts
  scripts/deno/surface-lighthouse-results.ts
Labels: bug, 📊 Data

#4978 ESLint fix import order
  .git-blame-ignore-revs
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4745 Access Parameter store config locally via Dotenv
  dotcom-rendering/docs/architecture/028-dotenv.md
  dotcom-rendering/docs/principles/lines-in-the-sand.md
  dotcom-rendering/docs/values/README.md
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/dotenv/gen-dotenv.js
  dotcom-rendering/scripts/dotenv/get-aws-ssm-parameters.js
  dotcom-rendering/scripts/secrets.js
  dotcom-rendering/scripts/webpack/@types/dotenv-webpack/index.d.ts
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/server/lib/aws/aws-parameters.ts
  dotcom-rendering/src/server/prod-server.ts
  yarn.lock
Labels: dotcom-rendering, Fronts :newspaper:, Platform

#4850 Support Jest VSCode extension
  .vscode/settings.json
Labels: enhancement

#4987 Add block attributes to DCR
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Article.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/fixtures/manual/block-meta-data.ts
  dotcom-rendering/fixtures/manual/liveBlock.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/enhance-dividers.test.ts
  dotcom-rendering/src/model/enhance-dots.test.ts
  dotcom-rendering/src/model/enhance-embeds.test.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/web/components/KeyEventsContainer.test.tsx
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
Labels: dotcom-rendering

#4980 RiffRaff `allowedStages`
  apps-rendering/riff-raff.yaml
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: apps-rendering, dotcom-rendering

#4985 Filter out invalid liveblocks
  apps-rendering/src/components/LiveBlocks/index.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/liveBlock.ts
  apps-rendering/src/pagination.test.ts
Labels: apps-rendering

#4984 Made Analysis `Headline` Look Like Standard
  apps-rendering/src/components/Headline/AnalysisHeadline.tsx
  apps-rendering/src/components/Headline/index.tsx
Labels: apps-rendering

#4992 use non-deprecated waitFor method
  dotcom-rendering/src/web/components/ReaderRevenueLinks.test.tsx
Labels: dotcom-rendering

#5010 Hide dateline arrow
  dotcom-rendering/src/web/components/Dateline.tsx
Labels: dotcom-rendering

#5020 Fix PinnedPost content height check
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#5019 Remove BodyImage component
  apps-rendering/src/components/BodyImage/index.tsx
Labels: apps-rendering

#5018 Set caption line height to 1.35
  common-rendering/src/components/figCaption.tsx
Labels: common-rendering

#5021 Capitalise Layout dir
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/InteractiveImmersiveLayout.tsx
  apps-rendering/src/components/Layout/InteractiveLayout.tsx
  apps-rendering/src/components/Layout/LabsLayout.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/Layout/MediaLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/server/page.tsx
Labels: apps-rendering

#5015 Render email signup locally
  dotcom-rendering/src/web/components/Footer.tsx
Labels: dotcom-rendering

#4896 Add key event carousel
  dotcom-rendering/fixtures/manual/key-events.ts
  dotcom-rendering/fixtures/manual/live-blog-key-events.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.stories.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4932 Make rich links accessible
  apps-rendering/src/components/RichLink/index.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5027 Increase Comment headline padding
  apps-rendering/src/components/Headline/CommentHeadline.tsx
Labels: apps-rendering

#4959 Remove `SlotBodyEnd` from blogs
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#5028 set colour for tabs so it doesn't use browser default
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
Labels: dotcom-rendering

#5035 Less trail text
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
Labels: dotcom-rendering

#4942 Load interactives on page idle
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#5043 Add Google to `frame-src` policy directive
  apps-rendering/src/server/csp.ts
Labels: apps-rendering

#5042 chore(chromatic): ignore Obituaries
  dotcom-rendering/src/web/components/SubNav.importable.tsx
Labels: dotcom-rendering

#5032 Bold headline with container palettes
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering

#5016 Use Log4js for server-side logging
  .storybook/main.js
  .storybook/mocks/log4js.js
  dotcom-rendering/package.json
  dotcom-rendering/src/server/lib/logging.ts
  dotcom-rendering/src/web/components/RewrappedComponent.tsx
  dotcom-rendering/src/web/lib/logging.ts
  yarn.lock
Labels: dotcom-rendering

#5087 Replace article link in Cypress test
  dotcom-rendering/cypress/integration/parallel-6/paid.content.spec.js
Labels: dotcom-rendering

#5090 Render email signup embed caption with dangerouslySetInnerHTML
  dotcom-rendering/src/web/components/EmbedBlockComponent.importable.tsx
Labels: dotcom-rendering

#5089 chore(prettier): unify @guardian config v1
  apps-rendering/package-lock.json
  apps-rendering/package.json
  dotcom-rendering/package.json
  package.json
  yarn.lock
Labels: dependencies, DCR Dependency, AR Dependency, apps-rendering, dotcom-rendering

#5091 `FetchCommentCounts`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardCommentCount.tsx
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FetchCommentCounts.importable.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/OnwardsLayout.tsx
  dotcom-rendering/src/web/components/Spotlight.tsx
  dotcom-rendering/src/web/lib/useComments.test.tsx
  dotcom-rendering/src/web/lib/useComments.ts
Labels: dotcom-rendering

#5031 Handle multiple container palettes
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: PR Deployment, dotcom-rendering
