Repository guardian/dotcom-rendering, pull requests merged in 2022-08, with the labels that each got.

#5543 Remove size mapping data attrs from ad slots
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5555 Extend `ab-multi-sticky-right-ads` experiment
  dotcom-rendering/src/web/experiments/tests/multi-sticky-right-ads.ts
Labels: dotcom-rendering

#5553 Spell “overlaid” correctly
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/Caption.stories.tsx
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/CaptionBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/CaptionBlockComponent.tsx
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#5524 ESLint: `restrict-template-expressions`
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/eslint-guardian.js
  dotcom-rendering/src/amp/components/Analytics.tsx
  dotcom-rendering/src/amp/components/Footer.tsx
  dotcom-rendering/src/amp/components/OnwardContainer.tsx
  dotcom-rendering/src/amp/server/ampExperimentCache.ts
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/lib/fetchTickerData.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/browser/bootCmp/init.ts
  dotcom-rendering/src/web/browser/islands/getProps.ts
  dotcom-rendering/src/web/browser/sentryLoader/init.ts
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.stories.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/components/UnsafeEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/web/lib/getCommentContext.ts
  dotcom-rendering/src/web/lib/getZIndex.tsx
  dotcom-rendering/src/web/lib/injectPrivacySettingsLink.ts
  dotcom-rendering/src/web/lib/isLight.test.ts
  dotcom-rendering/src/web/lib/isLight.ts
  dotcom-rendering/src/web/lib/messagePicker.ts
  dotcom-rendering/src/web/lib/readerRevenueDevUtils.ts
  dotcom-rendering/src/web/server/articleTemplate.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontTemplate.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5557 `Treats`
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/enhanceTreats.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/ContainerLayout.stories.tsx
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/LeftColumn.tsx
  dotcom-rendering/src/web/components/Treats.stories.tsx
  dotcom-rendering/src/web/components/Treats.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#5550 `onwardsType`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/OnwardsData.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/server/index.ts
  dotcom-rendering/src/web/server/onwardsToHtml.tsx
Labels: dotcom-rendering

#5548 Immersive Layout - Dark Mode
  apps-rendering/src/components/Footer/Footer.defaults.tsx
  apps-rendering/src/components/Footer/ImmersiveFooter.tsx
  apps-rendering/src/components/Headline/ImmersiveHeadline.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/Paragraph/index.tsx
  apps-rendering/src/components/RelatedContent/ImmersiveRelatedContent.tsx
  apps-rendering/src/components/RelatedContent/index.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
  apps-rendering/src/components/caption/caption.tsx
  apps-rendering/src/grid/LeftCentreBorder.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5573 Remove `editorialStyles` module
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/LiveblogHeader/index.tsx
  apps-rendering/src/components/Standfirst/Standfirst.defaults.tsx
  apps-rendering/src/components/editions/headline/index.tsx
  apps-rendering/src/editorialStyles.ts
Labels: apps-rendering

#5535 Refactor decide palette to use type convention & remove unneeded if statements
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5500 Improve sole contributor
  dotcom-rendering/src/lib/byline.test.ts
  dotcom-rendering/src/lib/byline.ts
Labels: dotcom-rendering

#5576 Remove `@types/webpack-node-externals`
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#5559 Key Events Carousel: underline links on hover
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#5427 `dynamic/fast` refactor - groups, layouts & boosting
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Card/components/LI.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5578 A more flexible `onwards`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/web/components/DecideOnwards.tsx
  dotcom-rendering/src/web/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#5572 Override commercial bundle URL with an environment variable
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: commercial :moneybag:, Suggestion, dotcom-rendering

#5561 Reserve space for merchandising & merchandising-high ad slots
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#5581 Reduce Percy snapshot breakpoints to stay under monthly limit
  dotcom-rendering/cypress/snapshot/standard-layout.e2e.cy.js
Labels: dotcom-rendering

#5582 Refactor `extract-nav`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/components/Header.tsx
  dotcom-rendering/src/amp/components/MainMedia.tsx
  dotcom-rendering/src/amp/components/SubMeta.tsx
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/amp/types/ArticleModel.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/Pillars.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/components/SubNav.importable.tsx
Labels: dotcom-rendering

#5586 Fix Editions Paragraph Dark Mode
  apps-rendering/src/components/Blockquote/Blockquote.stories.tsx
  apps-rendering/src/components/Paragraph/Paragraph.stories.tsx
  apps-rendering/src/components/Paragraph/index.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#5475 DCR: 🛠 Debug bookmarklet 🛠 (10% time)
  dotcom-rendering/README.md
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.dev-server.js
  dotcom-rendering/src/web/browser/debug/README.md
  dotcom-rendering/src/web/browser/debug/debug.css
  dotcom-rendering/src/web/browser/debug/init.ts
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#5589 AR - replace hv by rem to make it work in android
  apps-rendering/src/components/PinnedPost/index.tsx
Labels: apps-rendering

#5574 Use type predicates in enhance-image
  dotcom-rendering/src/model/enhance-images.ts
Labels: enhancement, dotcom-rendering, Health

#5592 Remove StarRating from default Headline
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Headline/ReviewHeadline.tsx
Labels: apps-rendering

#5410 Feat:enhance newsletter element
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/web/components/EmailSignup.stories.tsx
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5601 limit filters for topics with counts of 3 and more
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.stories.tsx
Labels: dotcom-rendering

#5591 Show more trail text in `DynamicFast`
  dotcom-rendering/src/web/components/DynamicFast.tsx
Labels: dotcom-rendering

#5606 Remove `DCRServerDocumentData`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5608 `FixedSmallSlowVMPU`
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5610 Better sublink colours
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering

#5611 ESLint: stop warning on danger
  dotcom-rendering/.eslintrc.js
Labels: javascript, Health

#5605 Add star rating to DCR frontCards
  dotcom-rendering/docs/patterns/switch-on-display-design.md
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
Labels: dotcom-rendering

#5619 Resize key event carousel button
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
Labels: dotcom-rendering

#5614 Caption Component Now Handles Missing Caption
  apps-rendering/src/components/MainMedia/GalleryCaption.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/caption/caption.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#5404 Add styling to <span> wrapper on byline date
  dotcom-rendering/src/web/components/Dateline.tsx
Labels: dotcom-rendering

#5618 A slightly smaller avatar
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/components/AvatarContainer.tsx
Labels: dotcom-rendering

#5609 Class-Based Data Types
  apps-rendering/src/components/LiveBlocks/index.tsx
  apps-rendering/src/option.ts
  apps-rendering/src/optional.ts
  apps-rendering/src/result.test.ts
  apps-rendering/src/result.ts
Labels: apps-rendering

#5613 Reduce email signup sizing
  dotcom-rendering/__mocks__/SecureSignupMock.tsx
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/components/NewsletterFrequency.tsx
  dotcom-rendering/src/web/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/web/components/SecureSignup.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#5503 Copy newsletter icon from source
  dotcom-rendering/src/web/components/NewsletterCategory.tsx
  dotcom-rendering/src/web/components/NewsletterFrequency.tsx
  dotcom-rendering/src/web/components/SvgNewsletter.tsx
Labels: dotcom-rendering

#5377 Feat: hide pinned post when filtering
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5625 Fix padding in `KeyEventCard`
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#5620 Bug fix: EmailSignUp timestamps
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#5621 Add a new class for blog rich links
  dotcom-rendering/src/web/components/RichLink.tsx
Labels: dotcom-rendering

#5626 Adds `headlineSizeOnMobile` parameter to Cards
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering

#5624 Use `neutral.100` for liveblog cards metadata
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5617 `DynamicSlowMPU`
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5595 Add edition to RenderingRequest model
  apps-rendering/api-models/scala/version.sbt
  apps-rendering/api-models/thrift/src/main/thrift/appsRendering.thrift
Labels: apps-rendering

#5636 Inline ads on fronts
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5632 Show `HeaderAdSlot` above front pages
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#5641 Add `merchandising` (lower) slot to fronts
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#5505 feat(#5136): Add support for fixed/small/slow-I
  dotcom-rendering/src/web/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5642 Dblatcher/newsletter sign up copy tweaks
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/components/NewsletterPrivacyMessage.tsx
Labels: dotcom-rendering

#5637 Bump @guardian/apps-rendering-api-models@1.0.0
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#5635 Cards: Only set `discussionId` if `isCommentable`
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering

#5669 Accessibility colour improvements on special comment cards
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5533 Use `String.prototype.padStart` to pad minutes
  apps-rendering/src/date.ts
  apps-rendering/src/server/footballContent.ts
Labels: apps-rendering

#5670 textCardFooter for media cards returns neutral.86
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5644 Refactor: Add focus styling to Fronts Cards
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
Labels: dotcom-rendering

#5630 Dblatcher/define apps rendering signup component
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/bodyElementKind.ts
  apps-rendering/src/components/EmailSignup/index.tsx
  apps-rendering/src/components/NewsletterSignup/EmailSignupForm.tsx
  apps-rendering/src/components/NewsletterSignup/NewsletterSignup.stories.tsx
  apps-rendering/src/components/NewsletterSignup/PrivacyWording.tsx
  apps-rendering/src/components/NewsletterSignup/SvgNewsletter.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
Labels: apps-rendering

#5679 Remove Merchandising min-height AB test. Roll out min-height change
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#5682 fix pinned post bug on twitter posts
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#5684 fix: Remove unused WitnessBlockElement prop, fixes #5593
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
Labels: dotcom-rendering

#5656 fix: Don't show images on cards that have images disabled
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
Labels: dotcom-rendering

#5676 Remove Multi Sticky Right Hand Column AB Test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/multi-sticky-right-ads.ts
Labels: dotcom-rendering

#5651 `FixedMediumSlowXIIMPU`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5693 Add webstories to CSP
  apps-rendering/src/server/csp.ts
Labels: apps-rendering

#5697 Bug fix: newsletter signup next to adslot
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/web/components/EmailSignup.tsx
Labels: dotcom-rendering

#5607 Bug fix: provide fonts css to signup iframe
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#5694 `dynamic/package` - support snap
  dotcom-rendering/src/web/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5690 Immersive Header Layout Tweaks
  apps-rendering/src/components/Headline/ImmersiveHeadline.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/ImmersiveMainMediaImage.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
Labels: apps-rendering

#5701 Consistent container padding
  dotcom-rendering/src/web/components/ContainerLayout.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/components/MatchNav.stories.tsx
  dotcom-rendering/src/web/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
Labels: dotcom-rendering

#5549 Iain/gallery footer
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/Footer/index.tsx
  apps-rendering/src/components/Layout/GalleryLayout.tsx
  apps-rendering/src/components/RelatedContent/GalleryRelatedContent.tsx
  apps-rendering/src/components/RelatedContent/RelatedContent.defaults.tsx
  apps-rendering/src/components/RelatedContent/index.tsx
  apps-rendering/src/components/Tags/GalleryTags.tsx
  apps-rendering/src/components/Tags/index.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5506 Turn On Square Ads Flag
  apps-rendering/src/client/nativeCommunication.ts
Labels: apps-rendering

#5675 Remove horizontal lines of expanded pillar sections and update background colours
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
Labels: dotcom-rendering

#5705 Datetime Module
  apps-rendering/src/datetime.ts
Labels: apps-rendering

#5597 Revert "AR - replace hv by rem to make it work in android"
  apps-rendering/src/components/PinnedPost/index.tsx
Labels: apps-rendering

#5717 Remove legacy key events container from live layout
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#5720 Feat: Hardcode "Analysis" title above standfirst on DCR
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#5721 remove underline from header in analysis design
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
Labels: dotcom-rendering

#5719 Fix viewability tracking on interscroller native ads
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5723 Upgrade `node-fetch` To 3.2.10
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#5727 Remove underline styles from card headlines
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering

#5724 Analysis byline
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/BylineLink.test.tsx
  dotcom-rendering/src/web/components/BylineLink.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/HeadlineByline.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5731 Add Analysis standfirst styling
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#5729 AR: Create Analysis standfirst
  apps-rendering/src/components/Standfirst/AnalysisStandfirst.tsx
  apps-rendering/src/components/Standfirst/Standfirst.stories.tsx
  apps-rendering/src/components/Standfirst/index.tsx
Labels: apps-rendering

#5700 Dynamic Package refactor
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
Labels: dotcom-rendering

#5736 Fix `main` branch merge error in DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
Labels: dotcom-rendering

#5738 fix pinned post overlay visibilitty
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#5728 AR analysis design tweaks
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  common-rendering/src/editorialPalette/background.ts
Labels: apps-rendering, common-rendering

#5737 a11y: Don't use an empty link to wrap Cards.
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
Labels: dotcom-rendering

#5706 Add client-side AB test for consentless / Opt Out ads
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/consentless-ads.ts
Labels: dotcom-rendering

#5689 Email signup frequency detail text
  dotcom-rendering/src/web/components/EmailSignup.stories.tsx
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/lib/buildNewsletterSignUpText.test.tsx
  dotcom-rendering/src/web/lib/buildNewsletterSignUpText.tsx
Labels: dotcom-rendering

#5600 Remove stale comment to deleted document
  dotcom-rendering/src/web/components/StarRating/StarRating.tsx
Labels: dotcom-rendering

#5756 Increment apps-rendering-api-models version to 1.1.0
  apps-rendering/api-models/scala/version.sbt
Labels: apps-rendering

#5758 Add h2 enhancer
  apps-rendering/package-lock.json
  dotcom-rendering/src/model/enhance-H2s.test.ts
  dotcom-rendering/src/model/enhance-H2s.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
Labels: apps-rendering, dotcom-rendering

#5726 Bump `nwsapi` To v2.2.1
  apps-rendering/package-lock.json
Labels: apps-rendering

#5643 Don't render ad slots at all if we're not serving them
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#5563 Add an edition path parameter when serving locally
  apps-rendering/src/server/server.ts
Labels: apps-rendering

#5754 Adds `tableOfContents`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceTableOfContents.test.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5750 update libs to introduce explainer type
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/item.ts
  common-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/web/lib/countryCodes.ts
  dotcom-rendering/src/web/lib/getCountryCode.ts
  dotcom-rendering/stories/generated/Card.stories.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#5716 `PLATFORM_TREATS`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/enhanceTreats.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Section.stories.tsx
  dotcom-rendering/src/web/components/SvgCrossword.tsx
  dotcom-rendering/src/web/components/Treats.stories.tsx
  dotcom-rendering/src/web/components/Treats.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#5763 Make Analysis headline medium weight
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
Labels: apps-rendering, dotcom-rendering

#5747 AR Analysis Template
  apps-rendering/src/components/Byline/AnalysisByline.tsx
  apps-rendering/src/components/Byline/Byline.stories.tsx
  apps-rendering/src/components/Byline/index.tsx
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/Metadata/Metadata.stories.tsx
  apps-rendering/src/components/Metadata/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5770 A smaller and less square treat image
  dotcom-rendering/src/model/enhanceTreats.ts
  dotcom-rendering/src/web/components/Treats.tsx
Labels: dotcom-rendering

#5771 Add best paperbacks to nugget
  dotcom-rendering/src/model/enhanceTreats.ts
Labels: dotcom-rendering

#5753 Extract `Palette` type
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/ArticleLastUpdated.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Avatar.tsx
  dotcom-rendering/src/web/components/BlockquoteBlockComponent.tsx
  dotcom-rendering/src/web/components/Branding.importable.tsx
  dotcom-rendering/src/web/components/Byline.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/Caption.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/web/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/web/components/CardCommentCount.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/CommentCount.importable.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/Contributor.tsx
  dotcom-rendering/src/web/components/CricketScoreboard.tsx
  dotcom-rendering/src/web/components/Dateline.tsx
  dotcom-rendering/src/web/components/DropCap.tsx
  dotcom-rendering/src/web/components/FilterButton.importable.tsx
  dotcom-rendering/src/web/components/HeadlineByline.tsx
  dotcom-rendering/src/web/components/HeadlineTag.tsx
  dotcom-rendering/src/web/components/ImageComponent.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/KeyEventCard.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/web/components/MatchTabs.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/web/components/NumberedTitleBlockComponent.tsx
  dotcom-rendering/src/web/components/Pillars.tsx
  dotcom-rendering/src/web/components/PinnedPost.tsx
  dotcom-rendering/src/web/components/PullQuoteBlockComponent.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
  dotcom-rendering/src/web/components/ShareCount.importable.tsx
  dotcom-rendering/src/web/components/ShareIcons.tsx
  dotcom-rendering/src/web/components/SignedInAs.tsx
  dotcom-rendering/src/web/components/Standfirst.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/components/SubNav.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  dotcom-rendering/src/web/components/WitnessBlockComponent.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5773 Replace `news.400` with `news.300` for Analysis articles
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5772 Tidy Lockfile
  apps-rendering/package-lock.json
Labels: apps-rendering

#5779 `Explainer` design type
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
Labels: dotcom-rendering

#5529 Add fixed/medium/slow-vii container
  dotcom-rendering/src/web/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#5781 add analysis tag to articles with tone `Analysis`
  apps-rendering/src/components/DesignTag/index.tsx
  apps-rendering/src/components/HeadlineTag/index.tsx
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
Labels: apps-rendering

#5784 Ar explainer layout
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
Labels: apps-rendering

#5762 Add H3 Enhancer
  dotcom-rendering/src/model/enhance-H3s.test.ts
  dotcom-rendering/src/model/enhance-H3s.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
Labels: dotcom-rendering

#5787 Revert "Add H3 Enhancer"
  dotcom-rendering/src/model/enhance-H3s.test.ts
  dotcom-rendering/src/model/enhance-H3s.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
Labels: dotcom-rendering

#5707 Email signup style changes
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/components/SecureSignup.tsx
Labels: dotcom-rendering

#5730 Dblatcher/apps darkmode newsletter signup
  apps-rendering/src/components/NewsletterSignup/EmailSignupForm.tsx
  apps-rendering/src/components/NewsletterSignup/PrivacyWording.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/hover.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#5788 Clickable `DesignTag`
  dotcom-rendering/src/web/components/DesignTag.tsx
Labels: dotcom-rendering

#5793 Analysis tiny tweaks
  dotcom-rendering/src/web/components/DesignTag.tsx
  dotcom-rendering/src/web/components/HeadlineByline.tsx
Labels: dotcom-rendering

#5785 update explainer headline
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/lib/decideDesign.ts
Labels: dotcom-rendering

#5800 Add global h3 styles
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#5757 Add idle-loading of interactives to `CommercialEndOfQuarterMegaTest`
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#5804 fix: coerce switches to boolean
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/web/components/Article.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering, Health

#5789 Add labels to consentless ads
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: commercial :moneybag:, dotcom-rendering

#5809 Ar small tweaks analysis
  apps-rendering/src/components/Byline/AnalysisByline.tsx
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/HeadlineTag/index.tsx
Labels: apps-rendering

#5803 Add Explainer standfirst
  apps-rendering/src/components/Standfirst/ExplainerStandfirst.tsx
  apps-rendering/src/components/Standfirst/index.tsx
  dotcom-rendering/src/web/components/Standfirst.stories.tsx
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: apps-rendering, dotcom-rendering

#5806 feat: add type-guards for filtering arrays
  dotcom-rendering/src/web/components/InteractiveContentsBlockComponent.stories.tsx
  dotcom-rendering/src/web/lib/notification.ts
Labels: dotcom-rendering

#5813 Create explainer type
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#5816 Design tag margin
  dotcom-rendering/src/web/components/DesignTag.tsx
Labels: apps-rendering, common-rendering, dotcom-rendering

#5805 Dblatcher/signup placement tweak
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
Labels: dotcom-rendering

#5819 fix(types): import ServerSideTests from config
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering, Health

#5818 Ar explainer headline bold
  apps-rendering/src/components/Headline/Headline.defaults.tsx
Labels: apps-rendering

#5695 Better behaviour around Braze switch
  dotcom-rendering/src/web/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/web/lib/braze/checkBrazeDependencies.test.ts
  dotcom-rendering/src/web/lib/braze/checkBrazeDependencies.ts
Labels: dotcom-rendering

#5795 Rename `OnwardsSource` type
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/onwards.ts
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/DecideOnwards.tsx
  dotcom-rendering/src/web/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/server/index.ts
  dotcom-rendering/src/web/server/onwardsToHtml.tsx
Labels: dotcom-rendering, "in Sprint focus"

#5827 Revert "Subnav: until desktop add search bar and style reader revenue links"
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
Labels: dotcom-rendering

#5778 Add byline to letter when present
  apps-rendering/src/components/editions/byline/index.tsx
  apps-rendering/src/components/editions/header/index.tsx
Labels: apps-rendering

#5830 refactor: use Object.entries()
  dotcom-rendering/src/lib/sharing-urls.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
Labels: dotcom-rendering, Health

#5831 refactor(loadScript): use @guardian/libs version
  dotcom-rendering/src/web/browser/bootCmp/init.ts
  dotcom-rendering/src/web/lib/loadScript.ts
Labels: dotcom-rendering, Health

#5838 refactor: remove `any` type from article-section
  dotcom-rendering/src/model/article-sections.ts
Labels: dotcom-rendering, Health

#5840 Remove images from rich links
  apps-rendering/src/components/RichLink/index.tsx
Labels: apps-rendering

#5808 Dblatcher/apps rendering data model with newsletter
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/components/NewsletterSignup/NewsletterSignup.stories.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
  apps-rendering/src/item.ts
Labels: apps-rendering

#5849 fix: safe `performance.getEntriesByType`
  dotcom-rendering/src/web/browser/islands/doHydration.ts
Labels: dotcom-rendering, Health

#5852 Add top margin to blog series
  apps-rendering/src/components/Series/index.tsx
Labels: apps-rendering

#5854 Fix the hover colour for standfirst links
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#5833 Update signin gate display rule to use CMP canTarget
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
Labels: dotcom-rendering

#5855 Don't always stack the byline on Analysis pieces
  dotcom-rendering/src/web/components/BylineLink.tsx
  dotcom-rendering/src/web/components/HeadlineByline.tsx
Labels: dotcom-rendering

#5832 Add 4px margin to AR headline tag
  apps-rendering/src/components/HeadlineTag/index.tsx
Labels: apps-rendering

#5859 use Option<Newsletter> instead of optional Newsletter
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#5837 Refactor Object.keys => Object.entries
  apps-rendering/src/components/EmbedWrapper/index.tsx
Labels: apps-rendering

#5861 `pageTemplate`
  dotcom-rendering/src/web/components/ArticlePage.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontTemplate.ts
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering

#5865 refactor(types): extract Switches to config
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/ContentABTest.tsx
  dotcom-rendering/src/lib/content.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhance-switches.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/types/config.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/MainMedia.tsx
  dotcom-rendering/src/web/components/SetABTests.importable.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#5857 Thrasher tracker
  .github/workflows/scheduled.yml
  scripts/ci-deno.sh
  scripts/deno/github.ts
  scripts/deno/iframe-titles.ts
  scripts/deno/json.ts
  scripts/deno/ophan-components.ts
  scripts/deno/surface-lighthouse-results.ts
  scripts/deno/thrasher-tracker.ts
Labels: 📊 Data
