Repository guardian/dotcom-rendering, pull requests merged in 2022-03, with the labels that each got.

#4106 feat(cmp): add a dummy for the server bundle
  dotcom-rendering/cypress/integration/parallel-3/liveblog.interactivity.spec.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/server/cmp-dummy.ts
Labels: dotcom-rendering

#4116 Increase `SpacefinderOkr3RichLinks` to 20% test
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-3-rich-links.ts
Labels: dotcom-rendering

#4115 Use `getContentFromURLMiddleware` everywhere
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering

#4100 Sticky toast
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/Toast.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4125 Fix `StickyVideo` isSticky conditional
  dotcom-rendering/src/web/components/StickyVideo.importable.tsx
Labels: dotcom-rendering

#4109 Remove palette.fill.cardIcon in favour of explicit colours
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/CardCommentCount.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4119 feat: use Source icons in MediaMeta
  dotcom-rendering/src/static/icons/audio.svg
  dotcom-rendering/src/static/icons/photo.svg
  dotcom-rendering/src/static/icons/video.svg
  dotcom-rendering/src/web/components/MediaMeta.tsx
Labels: dotcom-rendering

#4127 Update `StickyVideo` button styles
  dotcom-rendering/src/web/components/StickyVideo.importable.tsx
Labels: dotcom-rendering

#4084 Epic click handling support for `@guardian/braze-components`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
  yarn.lock
Labels: dotcom-rendering

#4134 Fix broken ab-test readme links
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
Labels: dotcom-rendering

#3954 Send today's article count and contentType in banner requests
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/article-count.ts
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  dotcom-rendering/src/web/lib/dailyArticleCount.test.ts
  dotcom-rendering/src/web/lib/dailyArticleCount.ts
  dotcom-rendering/window.guardian.d.ts
  yarn.lock
Labels: dotcom-rendering

#4137 Identity | Sign In Gate | Make dismiss button accessible through keyboard
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateMain.tsx
Labels: dotcom-rendering

#4145 chore(deps): bump @guardian/consent-management-platform from 10.1.2 to 10.2.2
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4120 Move Pagination component to common-rendering
  common-rendering/.prettierrc
  common-rendering/src/components/Pagination.stories.tsx
  common-rendering/src/components/Pagination.tsx
  common-rendering/src/editorialPalette.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering, common-rendering

#4177 Ensure the block link is valid
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering

#4108 fix initPerf to clear all marked keys and measures when clear is called
  dotcom-rendering/src/web/browser/initPerf.ts
Labels: dotcom-rendering

#4146 Bump @guardian/braze-components to v6.1.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4098 Fix GLabs sponsor logo tracking
  .gitignore
  dotcom-rendering/cypress/integration/parallel-6/paid.content.spec.js
  dotcom-rendering/src/web/browser/ga/ga.ts
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Branding.importable.tsx
  dotcom-rendering/src/web/components/Card/components/CardBranding.tsx
Labels: dotcom-rendering

#4111 Capture CCPA consent data through Ophan
  dotcom-rendering/src/web/browser/bootCmp/init.ts
Labels: dotcom-rendering

#4185 Add `SpacefinderOkrMegaTest`
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-1-filter-nearby.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-2-images-loaded.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-mega-test.ts
Labels: dotcom-rendering

#4176 Refactor editorialPalette.ts into dir with index.ts
  common-rendering/src/editorialPalette.ts
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/hover.ts
  common-rendering/src/editorialPalette/index.ts
  common-rendering/src/editorialPalette/text.ts
Labels: common-rendering

#4183 Use the same relative time format everywhere
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#4189 fix: spelling of “attribute”
  dotcom-rendering/src/web/browser/islands/getName.ts
Labels: dotcom-rendering

#4192 chore(deps): bump @guardian/consent-management-platform from 10.2.2 to 10.3.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4186 Bump `aws-cdk` To 1.147.0 And `@guardian/cdk` To 37.0.0
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#4135 Add more stories to the Standard Display section in Storybook (AR Layouts)
  apps-rendering/src/components/layout/standard.stories.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#4110 AB testing by content on AMP
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/components/ContentABTest.test.tsx
  dotcom-rendering/src/amp/components/ContentABTest.tsx
  dotcom-rendering/src/amp/components/Footer.tsx
  dotcom-rendering/src/amp/pages/Article.tsx
  yarn.lock
Labels: dotcom-rendering

#4196 fix: update link to files dotcom-rendering
  dotcom-rendering/docs/patterns/enhance-capi.md
Labels: dotcom-rendering

#4147 Simplify `getZIndex`
  dotcom-rendering/src/web/layouts/lib/stickiness.tsx
  dotcom-rendering/src/web/lib/getZIndex.tsx
Labels: dotcom-rendering

#4197 `Dateline` clickability
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/Dateline.tsx
Labels: dotcom-rendering

#4202 Thumbnail images in blogs
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/Figure.stories.tsx
  dotcom-rendering/src/web/components/Figure.tsx
  dotcom-rendering/src/web/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
  dotcom-rendering/src/web/components/RichLink.stories.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4175 Add pagination component to LiveBlogs on AR
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/pagination.test.ts
  apps-rendering/src/pagination.ts
Labels: apps-rendering

#4201 Compute realtime config within AMP `Ad` component
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/RegionalAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
Labels: :zap:AMP, dotcom-rendering

#4114 refactor(cmp): revert dummy for the server bundle
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/server/cmp-dummy.ts
Labels: dotcom-rendering

#4204 Refactor `MatchStats`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/GoalAttempts.stories.tsx
  dotcom-rendering/src/web/components/GoalAttempts.tsx
  dotcom-rendering/src/web/components/MatchStats.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4195 Darker backgrounds
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4217 Don't skip this test anymore
  dotcom-rendering/cypress/integration/parallel-3/liveblog.interactivity.spec.js
Labels: dotcom-rendering

#4077 Fix interactive embeds
  dotcom-rendering/cypress/integration/parallel-1/article.elements.spec.js
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/components/elements/InteractiveBlockComponentAMP.tsx
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/HydrateOnce.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.stories.tsx
  dotcom-rendering/src/web/layouts/lib/interactiveLegacyStyling.test.ts
  dotcom-rendering/src/web/layouts/lib/interactiveLegacyStyling.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#4219 Ignore elements causing false positives
  apps-rendering/src/components/layout/live.tsx
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
Labels: apps-rendering, dotcom-rendering

#4213 Bump TypeScript In AR To 4.5.5
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#4231 `CustomEvent('liveblog:blocks-updated')`
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#4230 feat: Change cursor to indicate that the acordions are clickable
  common-rendering/src/components/accordion.tsx
Labels: common-rendering

#4229 No RichLink images in blogs
  dotcom-rendering/src/web/components/DefaultRichLink.tsx
  dotcom-rendering/src/web/components/RichLink.stories.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
  dotcom-rendering/src/web/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4233 Signed in subscribers get the wrong header links
  dotcom-rendering/cypress/integration/parallel-4/signedin.spec.js
  dotcom-rendering/src/web/components/Links.importable.tsx
Labels: dotcom-rendering

#4216 Show `ContributionsLiveblogEpic` in blogs
  dotcom-rendering/cypress/integration/parallel-3/epic.interactivity.spec.js
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/server/blocksToHtml.tsx
Labels: dotcom-rendering

#3970 Audio atom as an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/AudioAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/MainMedia.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/blocksToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4141 Add tracking to sticky video
  .storybook/preview.js
  apps-rendering/package-lock.json
  apps-rendering/package.json
  common-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/StickyVideo.importable.tsx
  dotcom-rendering/src/web/components/StickyVideo.stories.tsx
  yarn.lock
Labels: apps-rendering, dotcom-rendering, common-rendering

#4240 `SignInGate` island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/web/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/web/components/SignInGate/types.ts
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#4207 AB test for Prebid server on AMP
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/components/RegionalAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
  dotcom-rendering/src/amp/lib/region-classes.ts
Labels: :zap:AMP, dotcom-rendering

#4248 Reader revenue dev utils as an Island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Page.tsx
  dotcom-rendering/src/web/components/ReaderRevenueDev.importable.tsx
Labels: dotcom-rendering

#4126 Move `SlotBodyEnd`, `StickyBottomBanner` & `ReaderRevenueLinks` to Islands
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/BootReact.tsx
  dotcom-rendering/src/web/components/BrazeMessaging.importable.tsx
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Page.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.stories.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/web/components/WithABProvider.tsx
  dotcom-rendering/src/web/examples/Front.stories.tsx
  dotcom-rendering/src/web/examples/Newsletters.stories.tsx
  dotcom-rendering/src/web/examples/Sections.stories.tsx
  dotcom-rendering/src/web/examples/Writers.stories.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/lib/stickiness.tsx
  dotcom-rendering/src/web/lib/braze/buildBrazeMessages.ts
  dotcom-rendering/src/web/lib/getCmp.ts
  dotcom-rendering/src/web/lib/useBraze.ts
Labels: dotcom-rendering

#4250 `ArticleCount`
  dotcom-rendering/src/web/components/AlreadyVisited.importable.tsx
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Page.tsx
Labels: dotcom-rendering

#4245 Remove `SpacefinderOkr3RichLinks` test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-3-rich-links.ts
Labels: dotcom-rendering

#4203 Subnav fixes: add vertical lines
  dotcom-rendering/docs/architecture/022-NoJS-navigation-and-accessibility.md
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
Labels: dotcom-rendering

#4214 Remove Emotion Server From AR
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#4265 Add back captions to interactive block element
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4262 👋 `App.tsx`
  .storybook/preview-body.html
  dotcom-rendering/babel.config.js
  dotcom-rendering/docs/development/loadable-components.md
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/@types/@loadable/webpack-plugin/index.d.ts
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/browser/ga/ga.ts
  dotcom-rendering/src/web/browser/react/init.ts
  dotcom-rendering/src/web/browser/sentryLoader/sentry.ts
  dotcom-rendering/src/web/browser/webpackPublicPath.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/BootReact.tsx
  dotcom-rendering/src/web/components/HydrateOnce.tsx
  dotcom-rendering/src/web/components/Page.tsx
  dotcom-rendering/src/web/components/Portal.tsx
  dotcom-rendering/src/web/components/SignInGate/README.md
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
  dotcom-rendering/src/web/lib/useSignInGateWillShow.ts
  dotcom-rendering/src/web/server/document.tsx
  dotcom-rendering/src/web/server/htmlTemplate.ts
  dotcom-rendering/window.guardian.d.ts
  yarn.lock
Labels: dotcom-rendering

#4246 Amp: Lines going through byline
  dotcom-rendering/src/amp/components/topMeta/TopMetaOpinion.tsx
Labels: dotcom-rendering

#4271 Add top margin to `Upgrade to Premium` button
  apps-rendering/src/styles.ts
Labels: apps-rendering

#4278 change padding to margin – geo popular images
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
Labels: dotcom-rendering

#4252 fix: Force twitter embed to respect container size
  dotcom-rendering/src/web/components/TweetBlockComponent.tsx
Labels: dotcom-rendering

#4281 Border colours
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4287 feat: Explicit Island chunk names
  dotcom-rendering/src/web/browser/islands/doHydration.ts
  dotcom-rendering/src/web/browser/islands/doStorybookHydration.js
Labels: dotcom-rendering

#4298 Fix broken date links in individual blocks
  apps-rendering/src/components/liveBlocks.tsx
  apps-rendering/src/server/page.tsx
Labels: apps-rendering

#4277 Add Branding Logo To Blogs
  apps-rendering/src/components/logo.tsx
  apps-rendering/src/components/metadata.tsx
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#4315 Correct path string for `run-if-changed`
  dotcom-rendering/package.json
Labels: dotcom-rendering

#4312 Fix getArticleCountToday
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/lib/dailyArticleCount.ts
Labels: dotcom-rendering

#4073 Add darkmode styles to Liveblog/Deadblog
  apps-rendering/src/components/blockquote.tsx
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/commentCount.tsx
  apps-rendering/src/components/follow.tsx
  apps-rendering/src/components/footer.stories.tsx
  apps-rendering/src/components/footer.tsx
  apps-rendering/src/components/lastUpdated.tsx
  apps-rendering/src/components/layout/comment.tsx
  apps-rendering/src/components/layout/index.tsx
  apps-rendering/src/components/layout/interactive.tsx
  apps-rendering/src/components/layout/interactiveimmersive.tsx
  apps-rendering/src/components/layout/labs.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/layout/media.tsx
  apps-rendering/src/components/layout/standard.tsx
  apps-rendering/src/components/list.stories.tsx
  apps-rendering/src/components/list.tsx
  apps-rendering/src/components/liveBlocks.tsx
  apps-rendering/src/components/liveblogHeader.tsx
  apps-rendering/src/components/metadata.tsx
  apps-rendering/src/components/series.tsx
  apps-rendering/src/components/standfirst.tsx
  apps-rendering/src/components/tags.tsx
  apps-rendering/src/editorialStyles.ts
  apps-rendering/src/renderer.ts
  common-rendering/src/__snapshots__/sizes.test.tsx.snap
  common-rendering/src/components/FirstPublished.stories.tsx
  common-rendering/src/components/FirstPublished.tsx
  common-rendering/src/components/keyEvents.tsx
  common-rendering/src/components/liveBlockContainer.tsx
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/text.ts
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: apps-rendering, dotcom-rendering, common-rendering

#4319 Some Small Dark Mode Fixes On Standard Articles
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/text.ts
Labels: common-rendering

#4318 refactor: extract island name as const
  dotcom-rendering/src/web/browser/initDiscussion/init.ts
Labels: dotcom-rendering

#4211 NoJS version of Pinned Post
  apps-rendering/src/components/liveBlocks.tsx
  common-rendering/src/components/FirstPublished.stories.tsx
  common-rendering/src/components/FirstPublished.tsx
  common-rendering/src/components/liveBlockContainer.tsx
  dotcom-rendering/cypress/integration/parallel-3/liveblog.interactivity.spec.js
  dotcom-rendering/fixtures/manual/liveBlock.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/json-schema.json
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/PinnedPost.stories.tsx
  dotcom-rendering/src/web/components/PinnedPost.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/server/index.ts
  yarn.lock
Labels: ⚠️DONOTMERGE⚠️, apps-rendering, dotcom-rendering, common-rendering

#4348 Fix key event links in paginated blogs
  apps-rendering/src/components/layout/live.tsx
Labels: apps-rendering

#4347 Add bylines to blocks
  apps-rendering/src/components/liveBlocks.tsx
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.ts
  apps-rendering/src/liveBlock.ts
  apps-rendering/src/pagination.test.ts
  common-rendering/src/components/liveBlockContainer.tsx
Labels: apps-rendering, common-rendering

#4355 Refactor expansion in `Discussion`
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/DiscussionLayout.tsx
Labels: dotcom-rendering

#4242 Add tracking to dcr no-js pinned post
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/web/components/PinnedPost.tsx
Labels: dotcom

#4342 Fix padding of liveblocks on mobile
  apps-rendering/src/components/layout/live.tsx
  common-rendering/src/components/liveBlockContainer.tsx
Labels: apps-rendering, common-rendering

#4361 Fix broken date link in blocks
  apps-rendering/src/components/liveBlocks.tsx
Labels: apps-rendering, Liveblogs, Deadblogs

#4359 Added `page` param to LiveBlock permalinks
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering

#4354 Remove `data-spacefinder-component` attribute
  dotcom-rendering/docs/contracts/001-commercial-selectors.md
  dotcom-rendering/src/web/components/Figure.tsx
Labels: commercial :moneybag:, dotcom-rendering

#4313 Rename `dcr:page:article:redisplayed`
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
Labels: dotcom

#4374 BUGFIX: Interactive articles using iframes when not required
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4289 Update colours for Bullets & Standfirst link border in liveblogs
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom, dotcom-rendering

#4376 Add support for SDC_URL back in
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/contributions.ts
Labels: dotcom-rendering

#4373 Remove some false negatives from Chromatic
  dotcom-rendering/src/web/components/VideoFacebookBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/VimeoBlockComponent.stories.tsx
Labels: dotcom-rendering

#4288 feat: Force Core Web Vitals sampling for users in certain AB tests
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/src/web/browser/coreVitals/init.ts
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/components/Page.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom

#4140 Implement `StickyVideo` wrapper in `YoutubeBlockComponent` with feature switch
  apps-rendering/package-lock.json
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/StickyVideo.importable.tsx
  dotcom-rendering/src/web/components/StickyVideo.stories.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: apps-rendering, dotcom, dotcom-rendering

#4344 Use browserId for banner targeting
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  yarn.lock
Labels: dotcom

#4379 refactor: infer palette from format
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Border.tsx
  dotcom-rendering/src/web/components/SubMeta.stories.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
Labels: dotcom-rendering

#4380 Add Spacefinder attribute to interactive blocks
  dotcom-rendering/docs/contracts/001-commercial-selectors.md
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
Labels: commercial :moneybag:, dotcom-rendering

#4198 Updates KeyEvents to re-add interactivity and expand link area
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#4388 Ab/fix pinned post scroll
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#4392 Remove top padding on liveblog timestamp
  common-rendering/src/components/FirstPublished.tsx
Labels: common-rendering

#4390 Allow a single Doughnut section
  dotcom-rendering/src/web/components/Doughnut.stories.tsx
  dotcom-rendering/src/web/components/Doughnut.test.tsx
  dotcom-rendering/src/web/components/Doughnut.tsx
  dotcom-rendering/src/web/components/MatchStats.tsx
Labels: dotcom-rendering

#4397 Position `MatchStats` a bit better
  dotcom-rendering/src/web/components/MatchStats.tsx
Labels: dotcom-rendering

#4393 `position: sticky` in Safari
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/Toast.stories.tsx
  dotcom-rendering/src/web/components/Toast.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4398 Remove blank space in standfirst lists
  apps-rendering/src/components/standfirst.tsx
Labels: apps-rendering

#4345 AB test margin values for lazily-loaded ads
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/commercial-lazy-load-margin.ts
Labels: commercial :moneybag:, dotcom, dotcom-rendering

#4404 Refactor web server
  dotcom-rendering/src/model/enhance-dots.ts
  dotcom-rendering/src/model/enhanceStandfirst.ts
  dotcom-rendering/src/model/transformDots.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#4317 chore: Islands style improvements
  dotcom-rendering/src/web/browser/initDiscussion/init.ts
  dotcom-rendering/src/web/components/Island.tsx
Labels: dotcom

#4406 `Placeholder` can be different colours
  dotcom-rendering/src/web/components/Placeholder.stories.tsx
  dotcom-rendering/src/web/components/Placeholder.tsx
Labels: dotcom-rendering

#4407 fix: spell startsWith correctly
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#4200 feat: useAB with SWR (no Context or Provider)
  .storybook/preview.js
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.stories.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/web/components/Page.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.stories.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/web/components/SetABTests.importable.tsx
  dotcom-rendering/src/web/components/SignInGate/README.md
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/WithABProvider.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/useAB.ts
  dotcom-rendering/src/web/lib/useSignInGateSelector.ts
  dotcom-rendering/src/web/lib/useSignInGateWillShow.ts
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: question, dotcom, Suggestion, dotcom-rendering

#4408 Remove certain ad sizes from `comments` and `mostpop` slots
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: dotcom-rendering

#4417 Cypress Consistency - Remove pre-hydration checks for "idle" loading rich links
  dotcom-rendering/cypress/integration/parallel-3/article.interactivity.spec.js
Labels: dotcom-rendering

#4421 fix: sentryLoader file typo
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/web/server/document.tsx
Labels: bug, dotcom-rendering

#4261 Bump @guardian/braze-components to v7.1.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom, dotcom-rendering

#4401 Fix show more button not hiding when content fits container
  dotcom-rendering/src/web/components/EnhancePinnedPost.importable.tsx
Labels: dotcom-rendering

#4428 Small refactors in document.tsx
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/web/server/document.tsx
Labels: Suggestion, dotcom-rendering

#4427 Align standfirst bullets
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#4368 Add pinned icon to original post
  common-rendering/src/components/FirstPublished.stories.tsx
  common-rendering/src/components/FirstPublished.tsx
  common-rendering/src/components/liveBlockContainer.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: common-rendering, dotcom-rendering

#4403 Filter AB Tests Props
  dotcom-rendering/docs/patterns/enhance-capi.md
  dotcom-rendering/src/model/enhance-switches.ts
  dotcom-rendering/src/web/components/Page.tsx
Labels: dotcom-rendering

#4305 Refactor Action: Preact compressed size
  .editorconfig
  .github/workflows/compress.yml
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
Labels: dotcom, github_actions

#4430 direct to first page on toggling the filter
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
Labels: dotcom-rendering

#4432 feat: add a `/Front` endpoint
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering, Fronts

#4433 Fix: prevent default scroll on `show more` button
  dotcom-rendering/src/web/components/PinnedPost.tsx
Labels: dotcom-rendering

#4436 feat: add type checking to `getContentFromURL`
  dotcom-rendering/src/server/lib/get-content-from-url.js
Labels: dotcom-rendering

#4441 Set maximum width on `inline` ads after `inline1`
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering

#4443 fix: only add chunk hash in prod
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
Labels: bug, dotcom-rendering

#4431 Refactor `ArticleHeadline` to include age warning
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: Liveblogs, dotcom-rendering, Sportblogs

#4444 Only stick videos on liveblogs
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#4445 Revert "Single front door test v2"
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/examples/Front.stories.tsx
  dotcom-rendering/src/web/examples/Newsletters.stories.tsx
  dotcom-rendering/src/web/examples/Sections.stories.tsx
  dotcom-rendering/src/web/examples/Writers.stories.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#4426 Update `atoms-rendering` to `22.6.2`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#4453 Add subnav pillar styling on focus
  dotcom-rendering/src/web/components/Pillars.tsx
Labels: dotcom-rendering

#4449 Cypress Consistency - Use mocks on article.e2e AB tests tests
  dotcom-rendering/cypress/integration/parallel-1/article.e2e.spec.js
Labels: dotcom-rendering

#4283 replace more dropdown box with chevron icon from source
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ShowMoreMenu.tsx
Labels: dotcom, dotcom-rendering

#4387 AB test GPT lazy loading
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/commercial-gpt-lazy-load.ts
Labels: dotcom-rendering

#4394 Update Blockquote component
  apps-rendering/src/components/blockquote.stories.tsx
  apps-rendering/src/components/blockquote.tsx
  apps-rendering/src/components/pullquote.stories.tsx
Labels: apps-rendering

#4466 Add scrolling to pagination
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/pagination.test.ts
  apps-rendering/src/pagination.ts
Labels: apps-rendering

#4476 fix: Render key event bullets in the correct place in Firefox
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#4479 Carousel margins at tablet
  dotcom-rendering/src/web/components/Carousel.tsx
Labels: dotcom-rendering

#4465 Remove Xandr Prebid Server
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
Labels: commercial :moneybag:, :zap:AMP
