Repository guardian/dotcom-rendering, pull requests merged in 2022-01, with the labels that each got.

#3795 Remove the need for global state when expanding comments
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/CommentCount.stories.tsx
  dotcom-rendering/src/web/components/CommentCount.test.tsx
  dotcom-rendering/src/web/components/CommentCount.tsx
  dotcom-rendering/src/web/components/Counts.stories.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  yarn.lock
Labels: dotcom-rendering

#3793 Update riff-raff aws-s3 publicReadAcl
  apps-rendering/riff-raff.yaml
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: apps-rendering, dotcom-rendering

#3801 Hydrate Storybook Islands
  dotcom-rendering/src/web/browser/islands/doStorybookHydration.js
  dotcom-rendering/src/web/layouts/Immersive.stories.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersive.stories.tsx
  dotcom-rendering/src/web/layouts/Showcase.stories.tsx
  dotcom-rendering/src/web/layouts/Standard.stories.tsx
Labels: dotcom-rendering

#3757 Fix colours for Series and Standfirst in Deadblogs in apps-rendering
  apps-rendering/src/components/series.stories.tsx
  apps-rendering/src/components/series.tsx
  apps-rendering/src/components/standfirst.stories.tsx
  apps-rendering/src/components/standfirst.tsx
  apps-rendering/src/renderer.ts
  common-rendering/src/editorialPalette.ts
Labels: apps-rendering, common-rendering

#3776 Pass ophan component id to Braze banner. If not available use component name.
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
Labels: dotcom-rendering

#3802 Upgrade cmp version 10
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3810 Remove Criteo AB test
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/integrate-criteo-test.ts
Labels: dotcom-rendering

#3811 `EditionDropdown` as an Island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3814 Revert "Temporarily remove sign up and log in option when discussion is disab…"
  dotcom-rendering/src/web/components/SignedInAs.tsx
Labels: dotcom-rendering

#3752 Create the mobile and mobile-preview stacks in CDK. Map DNS to the new stacks. CDK migration stage 2
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/cdk/package-lock.json
  apps-rendering/cdk/package.json
  apps-rendering/config/cloudformation.yaml
  apps-rendering/riff-raff.yaml
Labels: apps-rendering

#3794 Better Follow icon for apps-rendering
  apps-rendering/src/components/follow.test.tsx
  apps-rendering/src/components/follow.tsx
  apps-rendering/src/components/followStatus.tsx
Labels: help wanted, apps-rendering

#3798 Isolate `CommentCount`
  .storybook/main.js
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleMeta.test.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/CommentCount.importable.tsx
  dotcom-rendering/src/web/components/CommentCount.stories.tsx
  dotcom-rendering/src/web/components/CommentCount.test.tsx
  dotcom-rendering/src/web/components/Counts.stories.tsx
  dotcom-rendering/src/web/components/Discussion.stories.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/SignedInAs.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/formatCount.test.ts
  dotcom-rendering/src/web/lib/useDiscussion.ts
Labels: dotcom-rendering

#3809 Bump @guardian/braze-components to 5.2.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3815 `GetMatchStats` as an Island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3825 Remove unused babel plugins `preval` and `prismajs`
  dotcom-rendering/babel.config.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3828 Use modular AWS SDK for faster build times, send CloudWatch metrics with correct stage
  dotcom-rendering/package.json
  dotcom-rendering/src/app/aws/aws-metrics.ts
  dotcom-rendering/src/app/aws/aws-parameters.ts
  dotcom-rendering/src/app/aws/metrics-baseline.ts
  yarn.lock
Labels: dotcom-rendering

#3812 `MostViewedRight` as an Island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/MostViewedRight.test.tsx
  dotcom-rendering/src/web/components/MostViewedRight.tsx
  dotcom-rendering/src/web/components/MostViewedRightIsland.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightWrapper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3773 Run Spacefinder on deadblogs
  common-rendering/src/components/liveBlockContainer.tsx
  dotcom-rendering/docs/contracts/001-commercial-selectors.md
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: dotcom-rendering, common-rendering

#3724 AR - show liveblocks last updated time
  apps-rendering/src/client/article.ts
  apps-rendering/src/client/liveblog.ts
  apps-rendering/src/components/lastUpdated.stories.tsx
  apps-rendering/src/components/lastUpdated.tsx
  apps-rendering/src/components/liveBlocks.tsx
  apps-rendering/src/date.test.ts
  apps-rendering/src/date.ts
  apps-rendering/src/server/page.tsx
  common-rendering/src/components/LastUpdated.stories.tsx
  dotcom-rendering/src/web/components/LastUpdated.stories.tsx
  dotcom-rendering/src/web/components/LastUpdated.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: apps-rendering, dotcom-rendering, common-rendering

#3829 `SpotifyBlockComponent` as an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/SpotifyBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/SpotifyBlockComponent.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3827 Remove reference to adomik switch
  dotcom-rendering/fixtures/config.js
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Article.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/match-report.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
Labels: dotcom-rendering

#3797 Remove `border-bottom` from dark mode standfirst links
  apps-rendering/src/components/standfirst.stories.tsx
  apps-rendering/src/components/standfirst.tsx
  apps-rendering/src/fixtures/item.ts
  common-rendering/src/editorialPalette.ts
Labels: apps-rendering, common-rendering

#3836 Always return `DefaultRichLink` if there's no client side data
  dotcom-rendering/src/web/components/RichLinkComponent.tsx
Labels: dotcom-rendering

#3838 Allow fetch options to be passed to `useApi`
  dotcom-rendering/src/web/lib/useApi.tsx
Labels: dotcom-rendering

#3837 Don't include AWS modules in the development bundle
  dotcom-rendering/scripts/webpack/server.js
Labels: dotcom-rendering

#3841 Refactor Links.tsx to use react islands
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Header.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/examples/Front.stories.tsx
  dotcom-rendering/src/web/examples/Sections.stories.tsx
  dotcom-rendering/src/web/examples/Writers.stories.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3833 Default to `SpecialReport` instead of `News` for more greys
  dotcom-rendering/src/web/components/DefaultRichLink.tsx
Labels: dotcom-rendering

#3816 Always show `Onwards` above comments
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3842 Update to latest Source versions
  apps-rendering/src/components/metadata.tsx
  package.json
  yarn.lock
Labels: apps-rendering

#3843 Upgrade @guardian/braze-components to v5.3.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3844 fix: Observer tag showing when publication tag is not set to observer
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
Labels: dotcom-rendering

#3830 `RichLinkComponent` as an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
  dotcom-rendering/src/web/components/MainMedia.tsx
  dotcom-rendering/src/web/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/layouts/headers/ImmersiveHeader.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3839 `Discussion` as an island
  dotcom-rendering/cypress/integration/parallel-1/article.elements.spec.js
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Discussion.stories.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/web/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#3851 Move onwards components to the root
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/Carousel.tsx
  dotcom-rendering/src/web/components/ExactlyFive.tsx
  dotcom-rendering/src/web/components/FourOrLess.tsx
  dotcom-rendering/src/web/components/HeadlinesContainer.tsx
  dotcom-rendering/src/web/components/MoreThanFive.tsx
  dotcom-rendering/src/web/components/Onwards.mocks.ts
  dotcom-rendering/src/web/components/Onwards.stories.tsx
  dotcom-rendering/src/web/components/Onwards.test.tsx
  dotcom-rendering/src/web/components/OnwardsContainer.tsx
  dotcom-rendering/src/web/components/OnwardsData.tsx
  dotcom-rendering/src/web/components/OnwardsLayout.tsx
  dotcom-rendering/src/web/components/OnwardsLower.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.tsx
  dotcom-rendering/src/web/components/Spotlight.tsx
Labels: dotcom-rendering

#3832 Single front door AB test updates
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
Labels: dotcom-rendering

#3852 Remove unused code
  dotcom-rendering/src/web/components/App.tsx
Labels: dotcom-rendering

#3610 Fix epic when there is a floating element above
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
Labels: dotcom-rendering

#3859 Bump CMP for Prebid ID
  dotcom-rendering/package.json
  yarn.lock
Labels: bug, dependencies, dotcom-rendering

#3850 Set publicReadAcl to false for mobile-apps-rendering-assets bucket
  apps-rendering/riff-raff.yaml
Labels: apps-rendering

#3823 Fix deadblog colours for metadata and liveblock
  apps-rendering/src/components/anchor.stories.tsx
  apps-rendering/src/components/anchor.tsx
  apps-rendering/src/components/blockquote.tsx
  apps-rendering/src/components/byline.stories.tsx
  apps-rendering/src/components/byline.tsx
  apps-rendering/src/components/commentCount.stories.tsx
  apps-rendering/src/components/commentCount.tsx
  apps-rendering/src/components/follow.stories.tsx
  apps-rendering/src/components/follow.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/liveBlocks.tsx
  common-rendering/src/components/keyEvents.stories.tsx
  common-rendering/src/components/keyEvents.tsx
  common-rendering/src/editorialPalette.ts
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
Labels: apps-rendering, dotcom-rendering, common-rendering

#3853 Live 3586 remove redundant AWS resources from original cloudformation template
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/config/cloudformation.yaml
  apps-rendering/riff-raff.yaml
Labels: apps-rendering

#3848 Report DCR dev build stats
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/browser.js
  dotcom-rendering/scripts/webpack/frontend.js
  dotcom-rendering/scripts/webpack/gu-stats-report-plugin.js
  dotcom-rendering/scripts/webpack/server.js
Labels: dotcom-rendering

#3861 Added "modern" To Footer To Distinguish AR
  apps-rendering/src/components/footerContent.tsx
Labels: apps-rendering

#3858 `defer` > `deferuntil`
  dotcom-rendering/cypress/integration/parallel-3/article.interactivity.spec.js
  dotcom-rendering/cypress/integration/parallel-4/signedin.spec.js
  dotcom-rendering/src/web/browser/islands/init.ts
  dotcom-rendering/src/web/components/MostViewed/MostViewedFooter/MostViewedFooterData.tsx
Labels: dotcom-rendering

#3864 Update gu-stats-report-plugin to use prod API
  dotcom-rendering/scripts/webpack/gu-stats-report-plugin.js
Labels: dotcom-rendering

#3871 Fix the ASG value for PROD
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  yarn.lock
Labels: apps-rendering

#3872 Only Hydrate Once
  dotcom-rendering/cypress/integration/parallel-3/article.interactivity.spec.js
  dotcom-rendering/cypress/integration/parallel-4/signedin.spec.js
  dotcom-rendering/cypress/integration/parallel-5/atom.video.spec.js
  dotcom-rendering/src/web/browser/islands/doHydration.ts
  dotcom-rendering/src/web/components/HydrateOnce.tsx
Labels: dotcom-rendering

#3865 More tests checking hydration
  dotcom-rendering/cypress/integration/parallel-3/article.interactivity.spec.js
  dotcom-rendering/cypress/integration/parallel-4/signedin.spec.js
  dotcom-rendering/src/web/components/Discussion.tsx
Labels: dotcom-rendering

#3876 Fix Follow Status
  apps-rendering/src/client/article.ts
  apps-rendering/src/components/follow.tsx
  apps-rendering/src/components/followStatus.tsx
Labels: apps-rendering

#3877 fix: Disables warnings on previously disabled errors
  apps-rendering/src/components/embedWrapper.stories.tsx
Labels: apps-rendering

#3875 Make map embed element an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/MapEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3874 SWR v1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3873 `initDiscussion` (to fix permalinks)
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/browser.js
  dotcom-rendering/src/web/browser/initDiscussion/init.ts
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3868 `Onwards` as islands
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/OnwardsLower.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3879 Make vine block element an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/VineBlockComponent.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3846 Add `urlkw` and `sens` to amp ad targeting
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/BodyLiveblog.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/components/RegionalAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
  dotcom-rendering/src/lib/ad-targeting.test.ts
  dotcom-rendering/src/lib/ad-targeting.ts
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
Labels: dotcom-rendering

#3819 Use SDC npm library
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  yarn.lock
Labels: dotcom-rendering

#3880 `enhanceCAPI` > `enhanceBlocks`
  dotcom-rendering/docs/interactives/working-with-interactives.md
  dotcom-rendering/src/model/add-dividers.test.ts
  dotcom-rendering/src/model/add-dots.test.ts
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/enhance-blockquotes.ts
  dotcom-rendering/src/model/enhance-dividers.test.ts
  dotcom-rendering/src/model/enhance-dividers.ts
  dotcom-rendering/src/model/enhance-dots.test.ts
  dotcom-rendering/src/model/enhance-dots.ts
  dotcom-rendering/src/model/enhance-embeds.test.ts
  dotcom-rendering/src/model/enhance-embeds.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhance-placeholders.test.ts
  dotcom-rendering/src/model/enhance-placeholders.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/enhanceCAPI.ts
  dotcom-rendering/src/model/enhanceStandfirst.ts
  dotcom-rendering/src/model/set-is-dev.ts
  dotcom-rendering/src/model/transforDots.ts
  dotcom-rendering/src/web/components/InteractiveContentsBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/web/server/render.ts
  yarn.lock
Labels: dotcom-rendering

#3817 DCR: Remove legacy build from dev server
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/makefile
  dotcom-rendering/scripts/webpack/frontend.js
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3866 Modernise related content section
  apps-rendering/src/components/footer.tsx
  apps-rendering/src/components/shared/bylineCard.tsx
  apps-rendering/src/components/shared/card.tsx
  apps-rendering/src/components/shared/relatedContent.tsx
Labels: apps-rendering

#3888 Track errors in the Supporter Revenue header links
  dotcom-rendering/src/web/components/ReaderRevenueLinks.tsx
Labels: dotcom-rendering

#3754 AR pagination logic
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.test.ts
  apps-rendering/src/item.ts
  apps-rendering/src/pagination.test.ts
  apps-rendering/src/pagination.ts
  apps-rendering/src/server/editionsPage.tsx
  apps-rendering/src/server/page.tsx
  apps-rendering/src/server/server.ts
Labels: apps-rendering

#3893 fix: Changes cypress test for soundcloud to not look for specific content in the Soundcloud widget
  dotcom-rendering/cypress/integration/parallel-1/article.elements.spec.js
Labels: dotcom-rendering
