Repository guardian/dotcom-rendering, pull requests merged in 2022-10, with the labels that each got.

#6093 Immersive Subheading Styles
  apps-rendering/src/components/HeadingTwo/HeadingTwo.defaults.tsx
  apps-rendering/src/components/HeadingTwo/ImmersiveHeadingTwo.tsx
  apps-rendering/src/components/HeadingTwo/LabsHeadingTwo.tsx
  apps-rendering/src/components/HeadingTwo/index.tsx
  apps-rendering/src/lib.ts
Labels: apps-rendering

#6066 refactor(Card): extract image
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardLayout.tsx
Labels: dotcom-rendering, Health

#6095 Immersive Series Styles
  apps-rendering/src/components/Series/ImmersiveSeries.tsx
Labels: apps-rendering

#6106 Migrate Editions Page To Same Emotion Cache As Apps Page
  apps-rendering/src/server/editionsPage.tsx
  package.json
  yarn.lock
Labels: apps-rendering

#6030 refactor: remove /Onwards route
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/index.ts
  dotcom-rendering/src/web/server/onwardsToHtml.tsx
Labels: dotcom-rendering

#6113 Add 0% ab test for Confiant SDK update
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/confiant-sdk-update.ts
Labels: commercial :moneybag:, dotcom-rendering

#6124 fix: deadblog standfirst & metadata colours in dark mode
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/LiveDateline/index.tsx
  apps-rendering/src/components/Standfirst/Standfirst.defaults.tsx
Labels: apps-rendering

#6132 fix: optionally support darkmode on pagination position
  apps-rendering/src/components/Layout/LiveLayout.tsx
  common-rendering/src/components/Pagination.stories.tsx
  common-rendering/src/components/Pagination.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: bug, apps-rendering, common-rendering, dotcom-rendering

#6134 fix: add dark mode text styles for `Card` times
  apps-rendering/src/components/Card/index.tsx
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#6138 Update the article used on the labs shady pie
  dotcom-rendering/src/web/components/ShadyPie.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6011 feat: Don't disable Turbosnap when package.json changes
  .github/workflows/chromatic.yml
Labels: 🥒WiP, 🔬 R&D 🔬

#6088 Liveblog epic fixes
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/lib/articleCount.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/web/lib/contributions.ts
  dotcom-rendering/src/web/lib/useSDC.ts
  dotcom-rendering/src/web/server/blocksToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#6137 docs: fix spelling - adundance => abundance
  dotcom-rendering/docs/contributing/code-style.md
Labels: dotcom-rendering

#6148 Remove confiant ab test
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/confiant-sdk-update.ts
Labels: commercial :moneybag:, dotcom-rendering

#6136 Add AB test to test two-stage test bucketing
  dotcom-rendering/src/web/components/SignInGate/signInGate.ts
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.test.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.ts
  dotcom-rendering/src/web/experiments/lib/ab-localstorage.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-testrun.ts
Labels: dotcom-rendering

#6147 fix: use video icon for video figCaption
  apps-rendering/src/renderer.ts
  common-rendering/src/components/figCaption.stories.tsx
  common-rendering/src/components/figCaption.tsx
Labels: apps-rendering, common-rendering

#6143 fix: add darkmode styling for ClickToView
  apps-rendering/src/components/ClickToView/index.tsx
Labels: apps-rendering

#6151 Turn off bucketing for Long Mandatory Sign In Gate AB debug test run
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-testrun.ts
Labels: dotcom-rendering

#6156 Remove `CommercialEndOfQuarterMegaTest`
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#6064 Prevent hiding headlines in network fronts and 1st container in non-network fronts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#6162 Stop Rendering Empty Bylines
  apps-rendering/src/item.ts
Labels: bug, apps-rendering

#6105 Exhaustiveness check in switch statements
  dotcom-rendering/.eslintrc.js
Labels: Health

#6102 Sign-in gate fixes
  dotcom-rendering/src/web/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/shared.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/us-mandatory-control.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/us-mandatory-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/types.ts
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#5899 feat(bundle): use @guardian/browserslist-config
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  yarn.lock
Labels: javascript, dotcom-rendering, 📊 Data

#6167 Add `AssetHash` type guard
  dotcom-rendering/src/lib/assets.ts
Labels: dotcom-rendering

#6168 Serve DCR Javascript Bundle variants
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering, 📊 Data

#6183 Fix Sign-in Gate gradient
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/shared.tsx
Labels: bug, dotcom-rendering

#6180 Shady pie test updates
  dotcom-rendering/src/web/components/ShadyPie.stories.tsx
  dotcom-rendering/src/web/components/ShadyPie.tsx
  dotcom-rendering/src/web/experiments/tests/shady-pie-click-through.ts
Labels: commercial :moneybag:, dotcom-rendering

#6031 Sign In Gate / Long mandatory sign in AB test dcr
  dotcom-rendering/src/web/components/SignInGate/displayRule.ts
  dotcom-rendering/src/web/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/us-mandatory-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/signInGate.ts
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-test.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-testrun.ts
Labels: dotcom-rendering

#6169 Change gallery caption container to div
  apps-rendering/src/components/MainMedia/GalleryCaption.tsx
Labels: apps-rendering

#6163 Grey-on-pink pull quotes and epics on DCR analysis
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/PullQuoteBlockComponent.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#6175 Remove overflow:hidden from bylineLarge avatars on Opinion pages
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
Labels: dotcom-rendering

#6171 fix: master asset fallback
  apps-rendering/src/image.ts
Labels: apps-rendering

#6189 Update Logos On Article Layouts
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/GalleryLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Logo/index.tsx
  apps-rendering/src/components/Tags/ImmersiveTags.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  common-rendering/src/editorialPalette/text.ts
Labels: apps-rendering, common-rendering

#6043 chore: remove apps-rendering-api-models
  apps-rendering/.gitignore
  apps-rendering/README.md
  apps-rendering/api-models/scala/version.sbt
  apps-rendering/api-models/thrift/src/main/thrift/appsRendering.thrift
  apps-rendering/build.sbt
  apps-rendering/project/build.properties
  apps-rendering/project/plugins.sbt
  apps-rendering/version.sbt
Labels: apps-rendering

#6179 Fix Sentry tag
  dotcom-rendering/src/web/browser/sentryLoader/sentry.ts
Labels: bug, dotcom-rendering

#6170 Remove floating promises linting rule
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
Labels: dotcom-rendering, Health

#5959 refactor `dynamic/fast` - use 'slices'
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6187 Adds `FixedMediumFastXI` container
  dotcom-rendering/src/web/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6204 fix: use 5:3 crop for Card stories
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
Labels: dotcom-rendering

#6166 If no keyEvents or availableTopics, don't show the filters or the filter heading in FilterTopicBank
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#6208 Bump @guardian/atoms-rendering@23.7.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6065 Add `CardPicture` and use in in `Card`
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/web/components/CardPicture.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/Carousel.stories.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/Picture.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
Labels: dotcom-rendering, Fronts :newspaper:

#6217 fix: link the Interview headline tag to the Interview tone listing
  apps-rendering/src/components/Headline/InterviewHeadline.tsx
Labels: apps-rendering

#6233 feat: hide client-only islands in noscript
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering, Health

#6178 Update Source packages
  .storybook/preview-head.html
  apps-rendering/src/components/Metadata/index.tsx
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/DesignTag.tsx
  dotcom-rendering/src/web/components/FilterButton.importable.tsx
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
  package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#6238 chore: remove unneeded desktop font-size on Key Event
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#6249 Stop bucketing for mandatory long ab test
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-mandatory-long-test.ts
Labels: dotcom-rendering

#6250 Fix focus ring on filter button
  dotcom-rendering/src/web/components/FilterButton.importable.tsx
Labels: dotcom-rendering

#6251 Update Minimatch To v3.1.2
  apps-rendering/package-lock.json
Labels: apps-rendering

#6257 Support 1, 2, 3 & 4 cards on fixed/small/slow-V-MPU
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
Labels: dotcom-rendering

#6258 Fix `subdued` on buttons adding underlines
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/ShowHideButton.tsx
  dotcom-rendering/src/web/components/Treats.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
Labels: dotcom-rendering

#6184 Update node version manager recommendations
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/scripts/env/check-node.js
Labels: dotcom-rendering

#6231 Look up artifact bucket name from SSM
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/riff-raff.yaml
Labels: apps-rendering

#6174 Bump `@guardian/libs@9.0.1`
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/src/themeStyles.ts
  apps-rendering/webpack.config.ts
  common-rendering/package.json
  common-rendering/src/editorialPalette/background.ts
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/fill.ts
  common-rendering/src/editorialPalette/hover.ts
  common-rendering/src/editorialPalette/text.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/pillars.ts
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/stories/generated/Layout.stories.tsx
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#6235 Hides the Topic Filter Bank if there are no availableTopics (with count > 2)
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.stories.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.test.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#6265 fix: Don't enhance H2s if theres a Table Of Contents
  dotcom-rendering/src/model/enhance-H2s.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/isLegacyTableOfContents.ts
Labels: dotcom-rendering

#6267 Handle static guim domain images
  dotcom-rendering/src/web/components/Carousel.importable.tsx
Labels: bug, dotcom-rendering

#6270 Fix timeline `KeyEventCard` underline height
  dotcom-rendering/src/web/components/KeyEventCard.tsx
Labels: dotcom-rendering

#6216 Replace `themeStyles` With `format` Module
  apps-rendering/src/articleFormat.ts
  apps-rendering/src/client/article.ts
  apps-rendering/src/components/Card/index.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/item.ts
  apps-rendering/src/renderer.ts
  apps-rendering/src/themeStyles.ts
Labels: apps-rendering

#6172 Add support for `nav/list` container type
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/web/components/NavList.stories.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#6230 🏝️ Islands: deferUntil="interaction"
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/browser/initDiscussion/init.ts
  dotcom-rendering/src/web/browser/islands/doHydration.ts
  dotcom-rendering/src/web/browser/islands/initHydration.ts
  dotcom-rendering/src/web/browser/islands/onInteraction.ts
  dotcom-rendering/src/web/components/Island.tsx
Labels: dotcom-rendering

#6280 Fix typo
  dotcom-rendering/src/web/experiments/lib/ab-exclusions.test.ts
Labels: dotcom-rendering

#6281 Better page titles
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#6205 Break up metadata
  apps-rendering/src/components/LiveblogMetadataLines/index.tsx
  apps-rendering/src/components/Metadata/ExtendedMetadata.tsx
  apps-rendering/src/components/Metadata/LiveBlogMetadata.tsx
  apps-rendering/src/components/Metadata/Metadata.defaults.tsx
  apps-rendering/src/components/Metadata/ShortMetadata.tsx
  apps-rendering/src/components/Metadata/index.tsx
Labels: apps-rendering

#6282 Remove shady pie test and labs shady pie
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/LabsShadyPie.tsx
  dotcom-rendering/src/web/components/ShadyPie.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/shady-pie-click-through.ts
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6268 Make Analysis quote text black in DCR
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#6294 Ditch the facebook pixel
  dotcom-rendering/src/amp/components/Analytics.tsx
  dotcom-rendering/src/amp/server/document.test.tsx
  dotcom-rendering/src/amp/server/index.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6225 Adds support for Fixed/Small/FastVIII container
  dotcom-rendering/src/web/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#6285 Use @guardian-browserlist-config
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
Labels: dotcom-rendering, Health

#6300 chore(deps): bump @guardian/bridget@1.11.2
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: AR Dependency, apps-rendering

#6291 Capture CWV & Commercial metrics on fronts
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
Labels: dotcom-rendering, 📊 Data

#6308 Added `toOption` Method To `Optional`
  apps-rendering/src/optional.ts
Labels: apps-rendering

#6306 `ImageDetails` To `MainMediaCaption`
  apps-rendering/src/components/MainMedia/MainMediaImage/MainMediaImage.defaults.tsx
  apps-rendering/src/components/MainMediaCaption/Caption.tsx
  apps-rendering/src/components/MainMediaCaption/MainMediaCaption.defaults.tsx
  apps-rendering/src/components/MainMediaCaption/MainMediaCaption.stories.tsx
  apps-rendering/src/components/MainMediaCaption/MainMediaCaption.test.tsx
  apps-rendering/src/components/MainMediaCaption/index.tsx
  apps-rendering/src/fixtures/item.ts
  common-rendering/src/components/imageDetails.stories.tsx
  common-rendering/src/components/imageDetails.test.tsx
Labels: apps-rendering, common-rendering

#6310 Migrate `articleFormat` Module To Optional
  apps-rendering/src/articleFormat.ts
  apps-rendering/src/client/article.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#6321 SDC 1.0.6
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/ReaderRevenueLinks.importable.tsx
  yarn.lock
Labels: dotcom-rendering
