Repository guardian/dotcom-rendering, pull requests merged in 2022-02, with the labels that each got.

#3889 Fix deadblog colours for DCR
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#3895 feature: Mark old PR's as Stale and eventually close them
  .github/workflows/stale.yml
Labels: Suggestion

#3885 Make document block component an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/DocumentBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/DocumentBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/DocumentBlockComponent.test.tsx
  dotcom-rendering/src/web/components/DocumentBlockComponent.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3894 Fix related content margins
  apps-rendering/src/components/shared/relatedContent.tsx
  apps-rendering/src/styles.ts
Labels: apps-rendering

#3901 fix toggle styling regression
  apps-rendering/src/components/metadata.tsx
Labels: apps-rendering

#3881 `/Blocks`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/app/server.ts
  dotcom-rendering/src/web/server/blocksToHtml.tsx
  dotcom-rendering/src/web/server/render.ts
Labels: dotcom-rendering

#3902 CAPIElement type safety!
  dotcom-rendering/src/web/components/App.tsx
Labels: enhancement, dotcom-rendering

#3904 refactor: Migrate VideoFacebookBlockComponent to Islands
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/VideoFacebookBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/VideoFacebookBlockComponent.stories.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3908 webpack-dev-server 4.7.3
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/webpack.config.ts
Labels: apps-rendering

#3905 rename dev server files
  .storybook/main.js
  dotcom-rendering/cypress/plugins/index.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/dev-server/index.html
  dotcom-rendering/scripts/dev-server/index.js
  dotcom-rendering/scripts/env/check-node.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
Labels: dotcom-rendering

#3911 declaration-no-important: true
  dotcom-rendering/.stylelintrc
  dotcom-rendering/src/web/components/ArticleContainer.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.tsx
  dotcom-rendering/src/web/components/DocumentBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/EmbedBlockComponent.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/shared.tsx
  dotcom-rendering/src/web/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#3912 Atoms as islands
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ChartAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/GuideAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/KnowledgeQuizAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/PersonalityQuizAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/ProfileAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/QandaAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/TimelineAtomWrapper.importable.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: dotcom-rendering

#3906 Improve dev server logging & Fix webpack externals
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  yarn.lock
Labels: dotcom-rendering

#3916 `InteractiveContentsBlockElement` as an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
Labels: dotcom-rendering

#3917 We should be using the wrapper, not the atom directly
  dotcom-rendering/cypress/integration/parallel-4/atom.interactivity.spec.js
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#3788 Display football match stats on liveblog pages
  dotcom-rendering/src/web/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/web/components/Lineup.tsx
  dotcom-rendering/src/web/components/MatchStats.stories.tsx
  dotcom-rendering/src/web/components/MatchStats.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3924 `getCmp`
  dotcom-rendering/src/web/lib/getCmp.ts
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering

#3926 Wombat poo problem
  dotcom-rendering/cypress/integration/parallel-4/atom.interactivity.spec.js
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#3913 Revert "Track errors in the Supporter Revenue header links"
  dotcom-rendering/src/web/components/ReaderRevenueLinks.tsx
Labels: dotcom-rendering

#3919 Add `SpacefinderOkr1FilterNearby` test
  dotcom-rendering/src/web/components/CommercialMetrics.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-1-filter-nearby.ts
Labels: dotcom-rendering

#3786 Filter key events
  apps-rendering/src/components/metadata.tsx
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Article.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/json-schema.json
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.test.tsx
  dotcom-rendering/src/web/components/KeyEventsContainer.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#3929 Reorganise server files
  dotcom-rendering/makefile
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/server/index.ts
  dotcom-rendering/src/server/lib/aws/aws-metrics.ts
  dotcom-rendering/src/server/lib/aws/aws-parameters.ts
  dotcom-rendering/src/server/lib/aws/metrics-baseline.ts
  dotcom-rendering/src/server/lib/logging.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#3928 Fix caption svg alignment
  dotcom-rendering/src/web/components/Caption.tsx
Labels: dotcom-rendering

#3943 Smaller toggle click area
  dotcom-rendering/src/web/components/FilterKeyEventsToggle.importable.tsx
Labels: dotcom-rendering

#3945 `WithABProvider`
  dotcom-rendering/src/web/components/BootReact.tsx
  dotcom-rendering/src/web/components/WithABProvider.tsx
Labels: dotcom-rendering

#3951 fix alignment of bulleted standfirst list
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#3950 More abstraction of AB test code
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/BootReact.tsx
  dotcom-rendering/src/web/components/WithABProvider.tsx
Labels: dotcom-rendering

#3869 `Liveness`
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/useApi.tsx
Labels: dotcom-rendering

#3937 `CommercialMetrics` as an island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/Page.tsx
Labels: dotcom-rendering

#3942 `MostViewedFooter` as an island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/MostViewed.mocks.ts
  dotcom-rendering/src/web/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.stories.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/web/components/MostViewedFooterData.tsx
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/web/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/web/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/web/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/MostViewedRight.test.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3918 Small refactors in Live Layout
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#3958 `GetMatchNav` as an island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#3959 `ShareCount` as an island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleMeta.test.tsx
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3930 Email signups in AR should take caption from the alt field instead of the caption field
  apps-rendering/src/components/emailSignup.tsx
Labels: apps-rendering

#3920 Add kickers and fix styling of live blog related cards
  apps-rendering/src/components/kicker.tsx
  apps-rendering/src/components/shared/card.tsx
  apps-rendering/src/components/shared/relatedContent.tsx
  common-rendering/src/editorialPalette.ts
Labels: apps-rendering, common-rendering

#3969 Stick `MostViewedRight` longer
  dotcom-rendering/src/web/components/ContributionSlot.tsx
  dotcom-rendering/src/web/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/MostViewedRight.test.tsx
  dotcom-rendering/src/web/components/MostViewedRight.tsx
  dotcom-rendering/src/web/components/MostViewedRightWrapper.importable.tsx
  dotcom-rendering/src/web/components/ShadyPie.tsx
Labels: dotcom-rendering

#3973 Bump Apps Rendering Api Model version
  apps-rendering/package-lock.json
  apps-rendering/package.json
Labels: apps-rendering

#3971 Renamed Editions `Article` To `Layout`
  apps-rendering/src/components/editions/galleryImage/galleryImage.stories.tsx
  apps-rendering/src/components/editions/layout/index.tsx
  apps-rendering/src/components/editions/layout/layout.stories.tsx
  apps-rendering/src/server/editionsPage.tsx
Labels: apps-rendering

#3934 Bump content API models version
  apps-rendering/api-models/scala/version.sbt
  apps-rendering/build.sbt
Labels: apps-rendering

#3972 Deprecate `themeStyles`
  apps-rendering/src/themeStyles.ts
Labels: apps-rendering

#3976 Fix the way we remove placeholders post-render
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/browser/islands/doHydration.ts
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/components/Placeholder.tsx
  dotcom-rendering/src/web/components/Portal.tsx
Labels: dotcom-rendering

#3963 `Embeds` as islands
  dotcom-rendering/cypress/integration/parallel-1/article.elements.spec.js
  dotcom-rendering/cypress/integration/parallel-6/commercial.spec.js
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/components/elements/EmbedBlockComponentAMP.tsx
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ClickToView.stories.tsx
  dotcom-rendering/src/web/components/EmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/UnsafeEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/UnsafeEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/UnsafeEmbedBlockComponent.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#3977 Added `dcr` param to liveblog polling call
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#3968 `TopRightAdSlot`
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/ContributionSlot.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3981 `ShareCount` should be named using importable
  dotcom-rendering/src/web/components/ArticleMeta.tsx
  dotcom-rendering/src/web/components/Counts.stories.tsx
  dotcom-rendering/src/web/components/ShareCount.importable.tsx
  dotcom-rendering/src/web/components/ShareCount.test.tsx
Labels: dotcom-rendering

#3978 Move the `mostpop` ad slot out of its island
  dotcom-rendering/src/web/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.stories.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/web/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.stories.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3727 Merge cdk into parent package
  .github/workflows/ar-nodejs.yml
  apps-rendering/.eslintignore
  apps-rendering/.gitignore
  apps-rendering/artifact.json
  apps-rendering/cdk.json
  apps-rendering/cdk/.editorconfig
  apps-rendering/cdk/.eslintignore
  apps-rendering/cdk/.gitignore
  apps-rendering/cdk/jest.config.js
  apps-rendering/cdk/jest.setup.js
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/cdk/package-lock.json
  apps-rendering/cdk/package.json
  apps-rendering/cdk/script/ci
  apps-rendering/cdk/script/diff
  apps-rendering/cdk/script/setup
  apps-rendering/cdk/script/start
  apps-rendering/cdk/script/test
  apps-rendering/cdk/tsconfig.eslint.json
  apps-rendering/config/jest.config.js
  apps-rendering/config/jestSetup.js
  apps-rendering/config/tsconfig.cdk.json
  apps-rendering/package-lock.json
  apps-rendering/package.json
  apps-rendering/scripts/ci.sh
  scripts/ci-ar.sh
Labels: apps-rendering

#3982 Revert single front door test
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/Links.importable.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
Labels: dotcom-rendering

#3975 Move dev dependencies to `devDependencies`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#3974 Remove `@babel/preset-modules`
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  yarn.lock
Labels: dotcom-rendering

#3996 Render caption on email signup embeds
  apps-rendering/src/components/emailSignup.tsx
Labels: apps-rendering

#3993 Remove filters from Webpack configs
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
Labels: dotcom-rendering, Suggestion

#4001 Put all npm dependencies in `dependencies`
  apps-rendering/package-lock.json
  apps-rendering/package.json
  dotcom-rendering/package.json
  package.json
Labels: apps-rendering, dotcom-rendering

#4009 Inline `setupMiddlewares`
  dotcom-rendering/scripts/webpack/dev/setup-middlewares.js
  dotcom-rendering/scripts/webpack/dev/webpack.config.dev-server.js
  dotcom-rendering/scripts/webpack/webpack.config.dev-server.js
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: dotcom-rendering

#4014 Make GetMatchTabs an island
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/GetMatchTabs.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#3952 Add `SpacefinderOkr2ImagesLoaded` test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-2-images-loaded.ts
Labels: dotcom-rendering

#4010 Handle backgrounded liveblogs
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#4017 Add JSDoc types to webpack config
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/@types/@loadable/webpack-plugin/index.d.ts
  dotcom-rendering/scripts/webpack/@types/fs/index.d.ts
  dotcom-rendering/scripts/webpack/@types/webpack-filter-warnings-plugin/index.d.ts
  dotcom-rendering/scripts/webpack/@types/webpack-messages/index.d.ts
  dotcom-rendering/scripts/webpack/plugins/gu-stats-report-plugin.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.dev-server.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  package.json
  yarn.lock
Labels: dotcom-rendering

#4019 Set a min height for email embed iframes
  apps-rendering/src/components/emailSignup.tsx
  dotcom-rendering/src/web/components/EmbedBlockComponent.importable.tsx
Labels: apps-rendering, dotcom-rendering

#4028 Wrong folder for dev server
  dotcom-rendering/scripts/webpack/webpack.config.dev-server.js
Labels: bug, dotcom-rendering

#4030 Increase timeout in Cypress click to view embed test
  dotcom-rendering/cypress/integration/parallel-1/article.elements.spec.js
Labels: dotcom-rendering

#4021 Add LiveDateline component for liveblogs/deadblogs
  apps-rendering/src/components/liveDateline.tsx
  apps-rendering/src/components/liveblogHeader.tsx
Labels: apps-rendering

#4034 feat: Create a PR thread every day and announce all un-reviewed PR's …
  .github/workflows/prannouncer.yml
Labels: Suggestion

#4031 Animate new posts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#4037 Split dev url manually
  dotcom-rendering/src/server/lib/get-content-from-url.js
Labels: dotcom-rendering

#4032 `onFirstPage`
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4043 Split live and dead blogs in `LinkHeadline`
  dotcom-rendering/src/web/components/LinkHeadline.stories.tsx
Labels: dotcom-rendering

#4046 Fix special reports cards text colour
  dotcom-rendering/src/web/components/OnwardsData.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering

#4047 Update YoutubeAtom
  dotcom-rendering/cypress/integration/parallel-5/atom.video.spec.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4051 Add related content fixture to Storybook
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/relatedContent.ts
Labels: apps-rendering

#4050 Collapse all npm packages into dependencies
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#4058 Vimeo element url
  dotcom-rendering/src/amp/components/elements/VideoVimeoBlockComponent.tsx
Labels: dotcom-rendering

#4029 `Span` Module - Calculating Widths By Guardian Grid Columns
  common-rendering/src/span.test.ts
  common-rendering/src/span.ts
Labels: common-rendering

#4052 Fix `KeyEvents` width
  common-rendering/src/components/keyEvents.tsx
Labels: common-rendering

#4064 Remove The `components/shared` Directory
  apps-rendering/src/client/article.ts
  apps-rendering/src/components/articleBody.tsx
  apps-rendering/src/components/bylineCard.tsx
  apps-rendering/src/components/card.tsx
  apps-rendering/src/components/epic.tsx
  apps-rendering/src/components/epicContent.tsx
  apps-rendering/src/components/layout/comment.tsx
  apps-rendering/src/components/layout/interactiveimmersive.tsx
  apps-rendering/src/components/layout/labs.tsx
  apps-rendering/src/components/layout/live.tsx
  apps-rendering/src/components/layout/media.tsx
  apps-rendering/src/components/layout/standard.tsx
  apps-rendering/src/components/logo.test.tsx
  apps-rendering/src/components/logo.tsx
  apps-rendering/src/components/relatedContent.tsx
Labels: apps-rendering

#4061 Remove Redundant `max-width` In `Standfirst`
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: dotcom-rendering

#4065 GridItem `info`
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4074 remove true value from data-block-on-consent
  dotcom-rendering/src/amp/components/elements/VideoYoutubeBlockComponent.tsx
  dotcom-rendering/src/amp/components/elements/YoutubeBlockComponent.tsx
Labels: dotcom-rendering

#3988 feat: Adds Last updated to liveblogs and deadblogs
  dotcom-rendering/src/web/browser/relativeTime/updateTimeElements.ts
  dotcom-rendering/src/web/components/ArticleLastUpdated.stories.tsx
  dotcom-rendering/src/web/components/ArticleLastUpdated.tsx
  dotcom-rendering/src/web/components/Kicker.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/PulsingDot.importable.tsx
  dotcom-rendering/src/web/components/PulsingDot.test.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4038 Poll more frequently
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#4066 Update `atom.video.spec` to check consent is sent to YouTube
  dotcom-rendering/cypress/integration/parallel-5/atom.video.spec.js
Labels: dotcom-rendering

#4033 Narrower types for `unwrapHtml`
  dotcom-rendering/src/model/unwrapHtml.test.ts
  dotcom-rendering/src/model/unwrapHtml.ts
  dotcom-rendering/src/web/components/RewrappedComponent.tsx
Labels: dotcom-rendering

#4022 Update Quote icon alignment
  dotcom-rendering/src/web/components/BlockquoteBlockComponent.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/components/PullQuoteBlockComponent.tsx
  dotcom-rendering/src/web/components/QuoteIcon.tsx
  dotcom-rendering/src/web/components/RichLink.tsx
Labels: dotcom-rendering

#4024 update webpack-messages type declaration
  dotcom-rendering/scripts/webpack/@types/webpack-messages/index.d.ts
Labels: dotcom-rendering

#4036 Log unwrapping errors
  dotcom-rendering/src/web/components/RewrappedComponent.tsx
  dotcom-rendering/src/web/lib/logging.ts
  dotcom-rendering/src/web/lib/mockRESTCalls.ts
Labels: dotcom-rendering, Suggestion

#4082 `mockLiveUpdate`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering

#3887 Make youtube block component an island
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/components/MainMedia.tsx
  dotcom-rendering/src/amp/components/elements/YoutubeBlockComponentAMP.tsx
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
  dotcom-rendering/src/web/server/document.tsx
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering

#4062 Add `cardTextByline` to palette
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/Byline.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: bug, dotcom-rendering

#4087 Use correct standfirst background colour for comment design
  common-rendering/src/editorialPalette.ts
Labels: common-rendering

#4070 refactor: Remove dependency on shared article count state in App.tsx
  dotcom-rendering/src/lib/article-count.ts
  dotcom-rendering/src/web/components/App.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/SlotBodyEnd.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/StickyBottomBanner.tsx
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering

#4085 `useIsInView`
  dotcom-rendering/src/web/components/Lazy.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/web/lib/useIsInView.ts
Labels: dotcom-rendering

#4088 Smaller click area for `FirstPublishedDate`
  common-rendering/src/components/FirstPublished.tsx
Labels: common-rendering

#4083 Change `sign-in-gate` placeholder to `div`
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#4091 `mostRecentBlockId`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#4000 Update commercial metrics to work with refactor in commercial-core
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering

#4086 Check devDependencies in package.json
  dotcom-rendering/makefile
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/env/check-node.js
  dotcom-rendering/scripts/env/check-yarn.js
Labels: dotcom-rendering

#4068 Repurpose `data-spacefinder-ignore` attribute
  dotcom-rendering/docs/contracts/001-commercial-selectors.md
  dotcom-rendering/src/web/components/Figure.tsx
Labels: dotcom-rendering

#4075 Add `SpacefinderOkr3RichLinks` test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/spacefinder-okr-3-rich-links.ts
Labels: dotcom-rendering

#4097 `BlockByline`
  common-rendering/src/components/liveBlockContainer.tsx
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/LiveBlock.stories.tsx
  dotcom-rendering/src/web/components/LiveBlock.tsx
Labels: dotcom-rendering, common-rendering

#4102 Only insert new blocks when on the first page
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#4094 Use Source's `Hide` For `Pagination`
  dotcom-rendering/src/web/components/Pagination.tsx
Labels: dotcom-rendering

#4048 feat: add colourful underline for `CardHeadline` & `ArticleHeadline`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/Card/components/HeadlineWrapper.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/transparentColour.test.ts
  dotcom-rendering/src/web/lib/transparentColour.ts
Labels: dotcom-rendering

#4103 Upgrade commercial core v3.0.0
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#4105 Integration tests for live blogs
  dotcom-rendering/cypress/fixtures/manual/tweet-block.js
  dotcom-rendering/cypress/integration/parallel-3/liveblog.interactivity.spec.js
  dotcom-rendering/src/web/components/Toast.tsx
Labels: dotcom-rendering

#4099 Observe `topOfBlog` when not on first page
  dotcom-rendering/src/web/components/Liveness.importable.tsx
Labels: dotcom-rendering

#4107 fix card icon colour in Special Reports
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardAge.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering
