Repository guardian/dotcom-rendering, pull requests merged in 2023-09, with the labels that each got.

#8724 fix: bump minCapacity from 15 => 30
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#8721 Fix Editions Avatar Background Colour In Dark Mode
  apps-rendering/src/components/editions/avatar/index.tsx
Labels: apps-rendering, Editions app, run_chromatic

#8725 Allow native templates to be served in fronts-banner ad slots
  dotcom-rendering/src/components/AdSlot.tsx
Labels: dotcom-rendering, run_chromatic

#8727 Support "add to dock" in mac OS sonoma
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/static/icons/homescreen/apple-touch-icon-120.png
  dotcom-rendering/src/static/icons/homescreen/apple-touch-icon-240.png
  dotcom-rendering/src/static/icons/homescreen/apple-touch-icon-360.png
  dotcom-rendering/src/static/icons/homescreen/apple-touch-icon-512.png
  dotcom-rendering/src/static/icons/homescreen/apple-touch-icon.svg
  dotcom-rendering/src/static/icons/homescreen/roundel-114x114.png
  dotcom-rendering/src/static/icons/homescreen/roundel-152x152.png
  dotcom-rendering/src/static/icons/homescreen/roundel-192x192.png
  dotcom-rendering/src/static/icons/homescreen/roundel-256x256.png
  dotcom-rendering/src/static/icons/homescreen/roundel-512x512.png
  dotcom-rendering/src/static/icons/homescreen/roundel.svg
  dotcom-rendering/src/static/manifest.json
Labels: dotcom-rendering, run_chromatic

#8720 Fix indexing of ad slots on AMP
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/src/components/Blocks.amp.tsx
  dotcom-rendering/src/components/BodyArticle.amp.tsx
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering, run_chromatic

#8736 Fronts: Use `mainMediaAtom` field if it exists
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8737 Remove custom webpack message logger
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: dotcom-rendering, Health, run_chromatic

#8703 Add fronts-banners to section fronts when in `sectionFrontsBannerAds` test
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#8754 Allow RiffRaff To Update DCR's AMI
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.test.ts
  dotcom-rendering/cdk/lib/dotcom-rendering.ts
  dotcom-rendering/cdk/lib/types.ts
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  scripts/check-node-versions.mjs
Labels: dotcom-rendering, run_chromatic

#8757 Exclude more folders from TS compilation
  dotcom-rendering/tsconfig.json
Labels: dotcom-rendering, Health, run_chromatic

#8759 Only hide merch-high on desktop when in the fronts banners test
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8761 Remove lodash (again)
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/lib/sendTargetingParams.apps.ts
  yarn.lock
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism, run_chromatic

#8760 Remove stats reports
  dotcom-rendering/scripts/webpack/plugins/gu-stats-report-plugin.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
Labels: dotcom-rendering, Health, run_chromatic

#8748 ESLint: no unused prop types
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/__mocks__/SecureSignupMock.tsx
  dotcom-rendering/src/components/Callout/Callout.tsx
  dotcom-rendering/src/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLink.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8749 Compute expiration once
  dotcom-rendering/src/components/CalloutBlockComponent.importable.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8762 Remove the AB test to limit the inline merch
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/limit-inline-merch.ts
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#8712 Make Okta a feature switch, not an experiment
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/lib/useAuthStatus.ts
Labels: dotcom-rendering, run_chromatic

#8763 Only prefetch non-legacy scripts
  dotcom-rendering/src/server/index.allEditorialNewslettersPage.web.ts
  dotcom-rendering/src/server/index.article.apps.ts
  dotcom-rendering/src/server/index.article.web.ts
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8776 Add Standard article fixture for Cypress
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
Labels: dotcom-rendering, run_chromatic

#8593 feat(ophan): test ESM beta version
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  yarn.lock
Labels: dependencies, dotcom-rendering, 📊 Data, Ophan, run_chromatic

#8780 Update article fixtures
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
Labels: dotcom-rendering, run_chromatic

#8773 Target us and au versions of selected section fronts
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#8677 Dblatcher mobile newsletters page privacytext
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
Labels: dotcom-rendering, run_chromatic

#8502 Feat: update designs of topics in submeta links
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#8787 `CardCommentCount` can run on the server
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, run_chromatic

#8701 Hide Share and syndication buttons for apps articles
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8764 Fix "Supported By" container badge
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8797 Fix context usage
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8801 fix: Do not show Sponsored by when we shouldn't
  dotcom-rendering/src/model/decideCollectionBranding.ts
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering, run_chromatic

#8692 Bridget environment hook
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/useIsBridgetCompatible.test.ts
  dotcom-rendering/src/lib/useIsBridgetCompatible.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8802 Fix Dynamo Sublink Backgrounds
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/lib/decideContainerOverrides.ts
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/types/palette.ts
Labels: bug, dotcom-rendering, run_chromatic

#8788 Restyle mostpop ad slots and containers
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/MostViewedFooterLayout.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#8766 Run the sign gate copy test with 90% audience
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/src/components/SetABTests.importable.tsx
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateCopyTestRepeatSept2023.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-jan2023.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-repeat-sept2023.tsx
  dotcom-rendering/src/components/SignInGate/signInGate.ts
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/cypress-switches.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-copy-test-variants.ts
Labels: dotcom-rendering, run_chromatic

#8798 Use new Europe Edition switch for DCR.
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8813 Split editorial and commercial badge logic
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/decideBadge.test.ts
  dotcom-rendering/src/model/decideBadge.ts
  dotcom-rendering/src/model/decideCollectionBranding.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8819 Memoize asset manifest retrieval
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/lib/memoize.test.ts
  dotcom-rendering/src/lib/memoize.ts
Labels: dotcom-rendering, run_chromatic

#8824 Memoize function improvements
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/lib/memoize.test.ts
  dotcom-rendering/src/lib/memoize.ts
Labels: dotcom-rendering, run_chromatic

#8708 Implement Bridget version check for newsletters
  dotcom-rendering/src/components/AppEmailSignUp.importable.tsx
  dotcom-rendering/src/components/EmailSignUpSwitcher.tsx
  dotcom-rendering/src/components/EmailSignup.stories.tsx
  dotcom-rendering/src/components/EmailSignup.tsx
  dotcom-rendering/src/components/SecureReCAPTCHASignup.tsx
  dotcom-rendering/src/components/WebEmailSignup.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#8818 Do not show sponsor if not in front branding
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/decideSponsoredContentBranding.test.ts
  dotcom-rendering/src/model/decideSponsoredContentBranding.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic

#8666 AB test: Insert two sets of inline ad slots server-side on liveblogs
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/lib/liveblogAdSlots.ts
Labels: dotcom-rendering, run_chromatic

#8655 Deploy DCR using GHA
  .github/workflows/cicd.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  dotcom-rendering/Containerfile
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/userData.ts
  dotcom-rendering/makefile
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.mjs
  dotcom-rendering/scripts/deploy/publish-assets.sh
Labels: dotcom-rendering, run_chromatic

#8796 Updated ordering in All Newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#8853 Tweak section front ab test banner placements
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#8855 Hide fronts banner slots when a pageskin is running
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8858 Don't show EU modal if the user will see the CMP banner
  dotcom-rendering/src/components/EuropeLandingModal.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8860 Add empty string for alt tag as fallback if alt prop is undefined
  dotcom-rendering/src/components/CardPicture.tsx
Labels: dotcom-rendering, run_chromatic

#8839 Added ophan event to showing modal and data links for when the button…
  dotcom-rendering/src/components/EuropeLandingModal.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8852 blur the initial focus of the modal
  dotcom-rendering/src/components/EuropeLandingModal.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8854 Account for Europe edition in AMP
  dotcom-rendering/src/components/AdConsent.amp.tsx
  dotcom-rendering/src/components/Branding.amp.tsx
  dotcom-rendering/src/components/InlineAd.amp.tsx
  dotcom-rendering/src/lib/real-time-config.amp.ts
  dotcom-rendering/src/lib/region-classes.amp.ts
Labels: :zap:AMP, dotcom-rendering, run_chromatic

#8867 Ash/europe front switch
  dotcom-rendering/src/components/EuropeLandingModal.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8868 Remove ab test for public good and set live behind switch
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/public-good.ts
Labels: dotcom-rendering, run_chromatic

#8864 Style: updates fronts tags
  dotcom-rendering/src/components/TrendingTopics.tsx
Labels: dotcom-rendering, run_chromatic

#8865 Filter `null` Ad Slot Refs
  dotcom-rendering/src/components/AdPortals.importable.tsx
Labels: dotcom-rendering

#8859 Remove the liveblog right column ads AB test
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/LiveblogRightAdSlots.tsx
  dotcom-rendering/src/components/LiveblogRightMultipleAdSlots.importable.tsx
  dotcom-rendering/src/components/LiveblogRightMultipleAdSlots.test.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/liveblog-right-column-ads.ts
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/liveblog-right-ad-constants.ts
Labels: dotcom-rendering, run_chromatic

#8834 Inserts and updates ads on DCR rendered apps articles.
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/components/AdSlot.apps.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#8561 Add fetchEmail callback to Braze components
  dotcom-rendering/package.json
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.stories.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.stories.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8879 Delete references to simpleReach switch
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
  dotcom-rendering/fixtures/config.js
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
Labels: dotcom-rendering, run_chromatic

#8881 Add `DCRArticle` type to model an enhanced article
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/Layout.stories.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/layoutHelpers.ts
  dotcom-rendering/src/model/addImageIDs.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/server/index.article.web.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering, run_chromatic

#8873 Remove checks on participation in Europe experiment
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8893 Remove checks on europe feature switch
  dotcom-rendering/src/components/Header.stories.tsx
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/components/HeaderTopBar.stories.tsx
  dotcom-rendering/src/components/HeaderTopBarEditionDropdown.stories.tsx
  dotcom-rendering/src/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/edition.ts
Labels: dotcom-rendering, run_chromatic

#8896 No mocked `Config` context provider
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8886 Migrate AR to Github Actions
  .github/workflows/ar-ci.yml
Labels: run_chromatic

#8904 Improve naming in the AR build
  .github/workflows/ar-ci.yml
Labels: run_chromatic

#8901 Banner: give braze higher priority than RRCP
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8895 fix logic for displaying sponsored branding
  dotcom-rendering/src/components/FrontSection.tsx
Labels: dotcom-rendering, run_chromatic

#8848 Lightbox for Cartoons
  dotcom-rendering/src/components/CartoonComponent.mocks.ts
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/addImageIDs.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#8925 Always run the AR build
  .github/workflows/ar-ci.yml
Labels: run_chromatic

#8918 newsletters page docs and add headlines-europe
  dotcom-rendering/docs/email-newsletters-page.md
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#8836 Migrate YoutubeAtom to DCR
  dotcom-rendering/package.json
  dotcom-rendering/src/components/YoutubeAtom/Picture.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlaceholder.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomSticky.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubePlayer.ts
  dotcom-rendering/src/components/YoutubeAtom/ima.d.ts
  dotcom-rendering/src/components/YoutubeAtom/loadYouTubeIframeApi.ts
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/formatTime.ts
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/window.guardian.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8936 Remove dependency `rimraf` and `@types/rimraf`
  dotcom-rendering/package.json
Labels: run_chromatic

#8910 chore(deps): upgrade PM2
  package.json
  yarn.lock
Labels: run_chromatic

#8940 Update `yarn.lock` following removing `rimraf`
  yarn.lock
Labels: run_chromatic

#8913 Enhance Fixtures
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/makefile
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/lib/image.ts
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/server/index.article.apps.ts
  dotcom-rendering/src/server/index.article.web.ts
  dotcom-rendering/tsconfig.json
Labels: dotcom-rendering, run_chromatic

#8917 Add a class for full width fronts banners
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#8945 Remove an accidental comma on Fronts
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8905 Use the scheduler everywhere (but passthru outside the adaptive test)
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/client/index.scheduled.ts
  dotcom-rendering/src/client/index.ts
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/client/startup.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/window.guardian.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8929 pm2 cluster mode uses max cpus
  dotcom-rendering/makefile
Labels: dotcom-rendering, run_chromatic

#8942 Deprecate Article Share Counts
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
  dotcom-rendering/cypress/lib/mocks.js
  dotcom-rendering/fixtures/config.js
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/Counts.stories.tsx
  dotcom-rendering/src/components/Counts.tsx
  dotcom-rendering/src/components/ShareCount.importable.tsx
  dotcom-rendering/src/components/ShareCount.test.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/mockRESTCalls.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic
