Repository guardian/dotcom-rendering, pull requests merged in 2023-07, with the labels that each got.

#8095 Share AdTargeting between Islands
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/components/RecipeMultiplier.importable.tsx
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/components/SetAdTargeting.importable.tsx
  dotcom-rendering/src/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/lib/ad-targeting.ts
  dotcom-rendering/src/lib/isServer.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/lib/useAdTargeting.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/server/index.article.web.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/config.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/newslettersPage.ts
  yarn.lock
Labels: commercial :moneybag:, dotcom-rendering, Fronts :newspaper:, run_chromatic, 50% test

#8112 Add `decideAdSlot` to fronts `fixed/video` container
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/getAdPositions.test.ts
Labels: dotcom-rendering, run_chromatic

#8092 Apply width: 100% to thrashers first element
  dotcom-rendering/src/components/Snap.tsx
Labels: dotcom-rendering, run_chromatic

#8086 Fix some Ophan component IDs
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/lib/getDataLinkName.ts
Labels: dotcom-rendering, run_chromatic

#8096 Create `WeatherWidget`
  dotcom-rendering/makefile
  dotcom-rendering/src/components/Weather.stories.tsx
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/static/icons/external-link.svg
  dotcom-rendering/src/static/icons/weather/weather-1.svg
  dotcom-rendering/src/static/icons/weather/weather-11.svg
  dotcom-rendering/src/static/icons/weather/weather-12.svg
  dotcom-rendering/src/static/icons/weather/weather-13.svg
  dotcom-rendering/src/static/icons/weather/weather-14.svg
  dotcom-rendering/src/static/icons/weather/weather-15.svg
  dotcom-rendering/src/static/icons/weather/weather-16.svg
  dotcom-rendering/src/static/icons/weather/weather-17.svg
  dotcom-rendering/src/static/icons/weather/weather-18.svg
  dotcom-rendering/src/static/icons/weather/weather-19.svg
  dotcom-rendering/src/static/icons/weather/weather-2.svg
  dotcom-rendering/src/static/icons/weather/weather-20.svg
  dotcom-rendering/src/static/icons/weather/weather-21.svg
  dotcom-rendering/src/static/icons/weather/weather-22.svg
  dotcom-rendering/src/static/icons/weather/weather-23.svg
  dotcom-rendering/src/static/icons/weather/weather-24.svg
  dotcom-rendering/src/static/icons/weather/weather-25.svg
  dotcom-rendering/src/static/icons/weather/weather-26.svg
  dotcom-rendering/src/static/icons/weather/weather-29.svg
  dotcom-rendering/src/static/icons/weather/weather-3.svg
  dotcom-rendering/src/static/icons/weather/weather-30.svg
  dotcom-rendering/src/static/icons/weather/weather-31.svg
  dotcom-rendering/src/static/icons/weather/weather-32.svg
  dotcom-rendering/src/static/icons/weather/weather-33.svg
  dotcom-rendering/src/static/icons/weather/weather-34.svg
  dotcom-rendering/src/static/icons/weather/weather-35.svg
  dotcom-rendering/src/static/icons/weather/weather-36.svg
  dotcom-rendering/src/static/icons/weather/weather-37.svg
  dotcom-rendering/src/static/icons/weather/weather-38.svg
  dotcom-rendering/src/static/icons/weather/weather-39.svg
  dotcom-rendering/src/static/icons/weather/weather-4.svg
  dotcom-rendering/src/static/icons/weather/weather-40.svg
  dotcom-rendering/src/static/icons/weather/weather-41.svg
  dotcom-rendering/src/static/icons/weather/weather-42.svg
  dotcom-rendering/src/static/icons/weather/weather-43.svg
  dotcom-rendering/src/static/icons/weather/weather-44.svg
  dotcom-rendering/src/static/icons/weather/weather-5.svg
  dotcom-rendering/src/static/icons/weather/weather-6.svg
  dotcom-rendering/src/static/icons/weather/weather-7.svg
  dotcom-rendering/src/static/icons/weather/weather-8.svg
Labels: dotcom-rendering, run_chromatic

#8115 Suppress `sanitize-html` warnings
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#8078 Use correct layouts when ad-free for `dynamic/slow-mpu`
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicFast.tsx
  dotcom-rendering/src/components/DynamicSlow.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/lib/dynamicSlices.tsx
Labels: dotcom-rendering, run_chromatic

#8133 Bump @babel/core to 7.22.6
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#7972 Update video card design
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/MediaDuration.tsx
  dotcom-rendering/src/components/MediaMeta.test.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
Labels: dotcom-rendering, run_chromatic

#8127 Create a new Island for WeatherWidget and hook it up to our Weather API
  dotcom-rendering/src/components/Weather.stories.tsx
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherData.importable.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8126 Parity for merchandising-high and mobile ad slot positions
  dotcom-rendering/src/lib/getAdPositions.test.ts
  dotcom-rendering/src/lib/getAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#8056 Ads for Tag Fronts & respect speed
  dotcom-rendering/src/components/DecideContainerByTrails.stories.tsx
  dotcom-rendering/src/components/DecideContainerByTrails.tsx
  dotcom-rendering/src/components/TagFrontFastMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontFastMpu.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/getAdPositions.ts
  dotcom-rendering/src/lib/tuple.test.ts
  dotcom-rendering/src/lib/tuple.ts
  dotcom-rendering/src/model/groupTrailsByDates.ts
  dotcom-rendering/src/model/injectMpuIntoGroupedTrails.ts
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/types/tagFront.ts
Labels: dotcom-rendering, run_chromatic

#8160 Remove rogue log
  dotcom-rendering/src/client/ophan/index.ts
Labels: dotcom-rendering, run_chromatic

#8132 fix: remove references to visitId and vsid cookie
  dotcom-rendering/src/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8162 Respect curated kicker in sublinks liveblogs
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering, run_chromatic

#8075 Support embedded Youtube Atom in Card
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/makefile
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/mainMedia.ts
  dotcom-rendering/src/types/trails.ts
Labels: dotcom-rendering, run_chromatic, Fronts Go-live 1%, 50% test

#8165 Picture quality is optional
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8167 Hide Weather till Desktop until a viable Mobile version is made
  dotcom-rendering/src/components/Weather.tsx
Labels: dotcom-rendering, run_chromatic

#8118 Favour `Array.prototype.map` over mutation with `Array.prototype.forEach`
  dotcom-rendering/src/model/enhance-H2s.ts
  dotcom-rendering/src/model/enhance-blockquotes.ts
  dotcom-rendering/src/model/enhance-dividers.ts
  dotcom-rendering/src/model/enhance-dots.ts
  dotcom-rendering/src/model/enhance-embeds.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhance-tweets.ts
Labels: dotcom-rendering, Health, run_chromatic

#7129 Lightbox
  dotcom-rendering/cypress/e2e/parallel-2/lightbox.cy.js
  dotcom-rendering/cypress/support/e2e.js
  dotcom-rendering/docs/lightbox.md
  dotcom-rendering/package.json
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/client/islands/onNavigation.ts
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Lightbox.stories.tsx
  dotcom-rendering/src/components/LightboxCaption.tsx
  dotcom-rendering/src/components/LightboxHash.importable.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/LightboxJavascript.importable.tsx
  dotcom-rendering/src/components/LightboxLayout.tsx
  dotcom-rendering/src/components/LightboxLink.tsx
  dotcom-rendering/src/components/LightboxLoader.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/addImageIDs.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/server/index.article.web.ts
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/palette.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8178 Upgrade braze-components to v14
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8185 Don't show the weather widget when there's a page skin
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: run_chromatic

#8188 Fix use of isSignedIn in header
  dotcom-rendering/src/components/SupportTheG.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8166 Remove getProfile()
  dotcom-rendering/src/discussion-rendering/lib/api.tsx
Labels: dotcom-rendering, run_chromatic

#8187 fix: skip lightbox tests
  dotcom-rendering/cypress/e2e/parallel-2/lightbox.cy.js
Labels: dotcom-rendering, run_chromatic

#8196 Braze handling on DCR fronts
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8190 Simplify extraction of images for Lightbox
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhance-images.ts
Labels: dotcom-rendering, Health, run_chromatic

#8191 Remove hiring message
  README.md
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8137 feat: include credentials on reportAbuse method in discussion
  dotcom-rendering/src/discussion-rendering/lib/api.tsx
Labels: PR Deployment, dotcom-rendering, run_chromatic

#8210 Enable refreshing every 30s on AMP adverts
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#8204 Lightbox refactors
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/LightboxCaption.tsx
  dotcom-rendering/src/components/LightboxHash.importable.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/lightbox.ts
  dotcom-rendering/src/model/buildLightboxImages.ts
Labels: dotcom-rendering, Health, run_chromatic

#8219 use `StorybookConfig` type from `@storybook/react-webpack5`
  dotcom-rendering/.storybook/main.js
Labels: run_chromatic

#8223 Only render a page skin layout if can render ads
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8222 Rename sectionName to sectionId
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SignInGate/gates/main-control.ts
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/lib/useSignInGateWillShow.ts
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#8228 fix: add altText to fronts cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8098 New self-serve styleable Braze banner
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.stories.tsx
  yarn.lock
Labels: Guardian Dependency, dotcom-rendering, run_chromatic

#8119 Refactor previous implementation of identity-auth library
  dotcom-rendering/package.json
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.stories.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/discussion-rendering/lib/api.tsx
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/getBrazeUuid.ts
  dotcom-rendering/src/lib/useAuthStatus.ts
  dotcom-rendering/src/lib/useBraze.ts
  dotcom-rendering/src/lib/useSignedInAuthState.ts
  dotcom-rendering/src/lib/useSignedInStatus.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8242 Add badge when branding exists in edition
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8100 Dblatcher newsletter illustrations
  dotcom-rendering/src/components/CarouselForNewsletters.importable.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/newsletter-page-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#8213 Fix HTML boolean attribute `clientOnly`
  dotcom-rendering/src/client/islands/doHydration.tsx
  dotcom-rendering/src/components/Island.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8245 Remove dependency `qs`
  dotcom-rendering/package.json
Labels: dotcom-rendering, run_chromatic

#8253 Update Chromatic untraced glob
  .github/workflows/ar-chromatic.yml
  .github/workflows/dcr-chromatic.yml
Labels: run_chromatic

#8256 Drop integrate-ima test to zero audience
  dotcom-rendering/src/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering, run_chromatic

#8248 Remove Percy
  .github/workflows/percy.yml
  dotcom-rendering/cypress/snapshot/standard-layout.e2e.cy.js
  dotcom-rendering/docs/architecture/030-use-percy-for-e2e-visual-regression-testing.md
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8259 Bump `@guardian/cdk` to 50.10.1, and associated peer dependencies
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, dotcom-rendering, run_chromatic

#8263 Hide fronts mobile and desktop inline slots
  dotcom-rendering/src/components/AdSlot.tsx
Labels: run_chromatic

#8229 Move AudioAtom to DCR
  dotcom-rendering/src/components/AudioAtom/AudioAtom.stories.tsx
  dotcom-rendering/src/components/AudioAtom/AudioAtom.test.tsx
  dotcom-rendering/src/components/AudioAtom/AudioAtom.tsx
  dotcom-rendering/src/components/AudioAtomWrapper.importable.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#8264 Set Cypress config `numTestsKeptInMemory`
  dotcom-rendering/cypress.config.js
Labels: dotcom-rendering, run_chromatic

#8266 Temporarily disable cypress checks from `ci-dcr.sh`
  scripts/ci-dcr.sh
Labels: run_chromatic

#8262 Enable Reader Revenue utils on fronts
  dotcom-rendering/src/components/FrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#8211 Identity auth in discussion rendering
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/discussion-rendering/App.stories.tsx
  dotcom-rendering/src/discussion-rendering/App.tsx
  dotcom-rendering/src/discussion-rendering/components/AbuseReportForm/AbuseReportForm.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/AbuseReportForm/AbuseReportForm.test.tsx
  dotcom-rendering/src/discussion-rendering/components/AbuseReportForm/AbuseReportForm.tsx
  dotcom-rendering/src/discussion-rendering/components/Comment/Comment.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/Comment/Comment.tsx
  dotcom-rendering/src/discussion-rendering/components/CommentContainer/CommentContainer.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/CommentContainer/CommentContainer.test.tsx
  dotcom-rendering/src/discussion-rendering/components/CommentContainer/CommentContainer.tsx
  dotcom-rendering/src/discussion-rendering/components/CommentForm/CommentForm.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/CommentForm/CommentForm.tsx
  dotcom-rendering/src/discussion-rendering/components/RecommendationCount/RecommendationCount.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/RecommendationCount/RecommendationCount.tsx
  dotcom-rendering/src/discussion-rendering/components/TopPick/TopPick.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/TopPick/TopPick.tsx
  dotcom-rendering/src/discussion-rendering/components/TopPicks/TopPicks.stories.tsx
  dotcom-rendering/src/discussion-rendering/components/TopPicks/TopPicks.tsx
  dotcom-rendering/src/discussion-rendering/discussionTypes.ts
  dotcom-rendering/src/discussion-rendering/lib/api.tsx
Labels: dotcom-rendering, run_chromatic

#8269 Fix Cypress tests in TeamCity
  dotcom-rendering/package.json
  scripts/ci-dcr.sh
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8261 Bump `tough-cookie` To 4.1.3
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8279 Perfectly crisp contributor avatars
  dotcom-rendering/src/components/ContributorAvatar.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering, run_chromatic

#8283 Rename `frontend.server.js` to `server.js`
  .github/workflows/pr-deployment.yml
  dotcom-rendering/Containerfile
  dotcom-rendering/docs/development/run-prod-bundle-locally.md
  dotcom-rendering/lighthouserc.js
  dotcom-rendering/makefile
  dotcom-rendering/scripts/webpack/webpack.config.dev-server.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
Labels: dotcom-rendering, run_chromatic

#8303 Increase RR header slot width on tablet
  dotcom-rendering/src/components/SupportTheG.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8292 Refactor and simplify manifest lookup logic
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8304 Remove degradation experiments
  dotcom-rendering/src/bork/fcp.ts
  dotcom-rendering/src/bork/fid.ts
  dotcom-rendering/src/bork/remap.test.ts
  dotcom-rendering/src/bork/remap.ts
  dotcom-rendering/src/client/ophan/index.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8335 CI Fixes
  .github/workflows/permissions-advisor.yml
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
Labels: dotcom-rendering, run_chromatic

#8341 bump commercial 10.6.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8311 fix: use flex-grow to allow snaps to take up all the available space
  dotcom-rendering/src/components/SnapCssSandbox.tsx
Labels: dotcom-rendering, run_chromatic

#8340 Fix slideshow caption bug
  dotcom-rendering/src/components/Slideshow.tsx
Labels: dotcom-rendering

#8339 Mark DocumentBlockElement props as optional
  dotcom-rendering/src/components/DocumentBlockComponent.importable.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#8337 Node 18.17.0
  .nvmrc
  apps-rendering/package.json
  apps-rendering/riff-raff.yaml
  apps-rendering/yarn.lock
  dotcom-rendering/Containerfile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  yarn.lock
Labels: apps-rendering, dotcom-rendering, run_chromatic

#8085 refactor(types): FEMediaAtom is singular
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, Health, run_chromatic

#8331 Prettify `index.d.ts`
  dotcom-rendering/.prettierignore
  dotcom-rendering/index.d.ts
Labels: dotcom-rendering, Health, run_chromatic

#8344 Change slideshow caption position only when `isDynamo`
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Slideshow.tsx
Labels: dotcom-rendering, run_chromatic

#8305 Restore AB test for billboards in `merchandising-high`
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/billboards-in-merch-high.ts
  dotcom-rendering/src/experiments/tests/billboards-in-merch.ts
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#8306 Rename `initPerf` to `measureDuration`
  dotcom-rendering/src/client/islands/doHydration.tsx
  dotcom-rendering/src/client/measureDuration.ts
  dotcom-rendering/src/client/startup.ts
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-jan2023.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/messagePicker.ts
Labels: dotcom-rendering, run_chromatic

#8297 Move `GuideAtom` and `ExpandableAtom` to DCR
  dotcom-rendering/fixtures/manual/guideAtom.ts
  dotcom-rendering/src/components/ExpandableAtom/Body.tsx
  dotcom-rendering/src/components/ExpandableAtom/Container.tsx
  dotcom-rendering/src/components/ExpandableAtom/Footer.tsx
  dotcom-rendering/src/components/ExpandableAtom/Summary.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.stories.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.tsx
  dotcom-rendering/src/components/GuideAtomWrapper.importable.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#8349 Fix type errors from `GuideAtom` migration
  dotcom-rendering/src/lib/decidePalette.ts
Labels: dotcom-rendering, run_chromatic

#8358 fix: change deferUntil to visible for AustralianTerritorySwitcher
  dotcom-rendering/src/components/FrontSection.tsx
Labels: dotcom-rendering, run_chromatic

#8353 Navigating between liveblog pages is anchored to the pagination’s location
  dotcom-rendering/src/components/Pagination.stories.tsx
  dotcom-rendering/src/components/Pagination.tsx
Labels: bug, dotcom-rendering, Health, run_chromatic

#8357 bump braze-components dependency to v14.1.1
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.stories.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8289 Liveblog right hand ad test
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/components/LiveblogRightAdSlots.importable.tsx
  dotcom-rendering/src/components/LiveblogRightMultipleAdSlots.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/components/TopRightAdSlot.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/liveblog-right-column-ads.ts
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/liveblog-right-ad-constants.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8374 Use `@guardian/libs` new `startPerformanceMeasure` for unified duration measurements
  dotcom-rendering/package.json
  dotcom-rendering/src/client/islands/doHydration.tsx
  dotcom-rendering/src/client/startup.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8343 Load privacy settings link when page load interactive or complete
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/lib/injectPrivacySettingsLink.ts
Labels: dotcom-rendering, run_chromatic

#8366 Stop page jumping to top on "Privacy settings" link click
  dotcom-rendering/src/lib/injectPrivacySettingsLink.ts
Labels: dotcom-rendering, run_chromatic

#8377 Ensure liveblog right island is rendered on the server
  dotcom-rendering/docs/architecture/027-better-partial-hydration.md
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8398 Add support for `ArticleDesign.Timeline` in Editions
  apps-rendering/src/components/editions/layout/index.tsx
Labels: apps-rendering, run_chromatic

#8334 PoC for a scheduler that can orchestrate tasks by priority
  .vscode/settings.json
  dotcom-rendering/src/lib/scheduler.test.ts
  dotcom-rendering/src/lib/scheduler.ts
  dotcom-rendering/window.scheduler.d.ts
Labels: dotcom-rendering, run_chromatic

#8387 Discussion’s `Comment` refactors and bugfixes
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/discussion-rendering/Comments.stories.tsx
  dotcom-rendering/src/discussion-rendering/Comments.test.tsx
  dotcom-rendering/src/discussion-rendering/Comments.tsx
  dotcom-rendering/src/discussion-rendering/discussionTypes.ts
  dotcom-rendering/src/discussion-rendering/test-page.tsx
Labels: bug, dotcom-rendering, Health, run_chromatic

#8406 Dblatcher soccer treat
  dotcom-rendering/src/model/enhanceTreats.ts
Labels: dotcom-rendering, run_chromatic

#8397 Filter out palette styles to fix container numbering on DCR fronts
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#8392 Video container on DCR
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8413 Use latest source-foundations in DCR
  dotcom-rendering/package.json
  dotcom-rendering/src/components/TextBlockComponent.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8415 Update guardian packages in DCR
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8416 AR `guardian/libs` v15.4.0
  apps-rendering/package.json
  apps-rendering/src/articleFormat.ts
  apps-rendering/src/components/Anchor/index.tsx
  apps-rendering/src/components/CaptionIcon/index.tsx
  apps-rendering/src/components/Credit/index.tsx
  apps-rendering/src/components/FigCaption/index.tsx
  apps-rendering/src/components/Headline/index.tsx
  apps-rendering/src/components/Img/index.tsx
  apps-rendering/src/components/ImgAlt/index.tsx
  apps-rendering/src/components/MainMedia/MainMediaVideo/index.tsx
  apps-rendering/src/components/PinnedPost/PinnedPost.stories.tsx
  apps-rendering/src/components/Standfirst/index.tsx
  apps-rendering/src/components/caption/caption.tsx
  apps-rendering/src/components/editions/byline/index.tsx
  apps-rendering/src/components/editions/header/index.tsx
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/components/editions/headline/index.tsx
  apps-rendering/src/components/editions/layout/index.tsx
  apps-rendering/src/components/editions/standfirst/index.tsx
  apps-rendering/src/components/editions/styles.ts
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/border.ts
  apps-rendering/src/palette/text.ts
  apps-rendering/src/renderer.ts
  apps-rendering/src/server/page.tsx
  apps-rendering/yarn.lock
Labels: apps-rendering, run_chromatic
