Repository guardian/dotcom-rendering, pull requests merged in 2023-11, with the labels that each got.

#9372 Remove `source-map-support`
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/package.json
  apps-rendering/src/server/server.ts
  apps-rendering/yarn.lock
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/package.json
Labels: apps-rendering, dotcom-rendering, run_chromatic, Pick me up

#9361 Improve algorithm for calculating `fronts-banner` ad slot positions
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/DynamicPackage.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/layouts/lib/decideAdSlots.test.ts
  dotcom-rendering/src/layouts/lib/decideAdSlots.tsx
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
  dotcom-rendering/src/lib/frontsBannerExclusions.ts
  dotcom-rendering/src/lib/getAdPositions.test.ts
  dotcom-rendering/src/lib/getAdPositions.ts
  dotcom-rendering/src/lib/getFrontsBannerAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsBannerAdPositions.ts
  dotcom-rendering/src/lib/liveblogAdSlots.ts
Labels: dotcom-rendering, run_chromatic

#9364 add Wellness treat
  dotcom-rendering/src/model/enhanceTreats.ts
Labels: dotcom-rendering, DO NOT MERGE, run_chromatic

#9369 Decrease `minCapacity` of instances to 27
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#9383 Make `RecipeMultiplier` Island server safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/RecipeMultiplier.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9384 Demonstrate some Islands are server-safe
  dotcom-rendering/src/components/Island.test.tsx
Labels: dotcom-rendering, run_chromatic

#9379 Add data-lazy-fetch="true" to AMP ads
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9386 Bump @guardian/commercial@11.19.0
  dotcom-rendering/package.json
  yarn.lock
Labels: run_chromatic

#9387 Bump cypress 13.4.0
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/article.elements.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/cypress/support/commands.js
  dotcom-rendering/cypress/support/e2e.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9391 Move Wellness treat to the Spotlight container
  dotcom-rendering/src/model/enhanceTreats.ts
Labels: dotcom-rendering, run_chromatic

#9392 Reverse recent AMP ad changes
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: dotcom-rendering, run_chromatic

#9393 Follow our coding style and remove index files
  dotcom-rendering/docs/contributing/where-should-my-code-live.md
  dotcom-rendering/docs/patterns/enhance-capi.md
  dotcom-rendering/makefile
  dotcom-rendering/scripts/env/check-files.js
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/client/debug/debug.ts
  dotcom-rendering/src/client/ga/ga-with-consent.ts
  dotcom-rendering/src/client/islands/islands.ts
  dotcom-rendering/src/client/main.apps.ts
  dotcom-rendering/src/client/main.web.ts
  dotcom-rendering/src/client/sentryLoader/sentryLoader.test.ts
  dotcom-rendering/src/client/sentryLoader/sentryLoader.ts
  dotcom-rendering/src/server/handler.allEditorialNewslettersPage.web.ts
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
  dotcom-rendering/src/server/server.ts
Labels: dotcom-rendering, run_chromatic

#8962 Use Apps Algorithm For Liveblog And Deadblog Ads
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering, run_chromatic

#9380 Remove eager Prebid AB test
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/eager-prebid.ts
Labels: dotcom-rendering, run_chromatic

#9395 Set a minimum height for client-side inserted inline adverts on articles
  dotcom-rendering/src/components/ArticleContainer.tsx
Labels: dotcom-rendering, run_chromatic

#9403 Make targeting Islands server-safe
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SendTargetingParams.importable.tsx
  dotcom-rendering/src/components/SetAdTargeting.importable.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#9404 Some server-safe Islands are no longer client-side only
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#9407 Set width in AMP `Branding` image
  dotcom-rendering/src/components/Branding.amp.tsx
Labels: dotcom-rendering, run_chromatic

#9378 Remove `frontsBannerAds` switch
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/layouts/lib/decideAdSlots.test.ts
  dotcom-rendering/src/layouts/lib/decideAdSlots.tsx
  dotcom-rendering/src/lib/getAdPositions.test.ts
  dotcom-rendering/src/lib/getAdPositions.ts
  dotcom-rendering/src/lib/getFrontsBannerAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#9390 Nav/Subnav broken UI with PageSkins for leftCol and wide breakpoints.
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/components/Pillars.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9412 Don't refresh ad-1 and ad-2 AMP ads
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9413 Enable Split Theme decorator to receive multiple formats
  dotcom-rendering/.storybook/decorators/splitThemeDecorator.tsx
  dotcom-rendering/src/components/Accordion.stories.tsx
  dotcom-rendering/src/components/AdSlot.apps.stories.tsx
  dotcom-rendering/src/components/AppsFooter.importable.stories.tsx
  dotcom-rendering/src/components/Avatar.stories.tsx
  dotcom-rendering/src/components/BlockquoteBlockComponent.stories.tsx
  dotcom-rendering/src/components/ClickToView.stories.tsx
  dotcom-rendering/src/components/Discussion/Pagination.stories.tsx
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/Standfirst.stories.tsx
  dotcom-rendering/src/components/StarRating/StarRating.stories.tsx
  dotcom-rendering/src/components/StarRatingBlockComponent.stories.tsx
  dotcom-rendering/src/components/TableOfContents.stories.tsx
Labels: dotcom-rendering, run_chromatic, DCR for Apps

#9415 Fronts ads refactor
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/DecideFrontsAdSlots.test.ts
  dotcom-rendering/src/components/DecideFrontsAdSlots.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/commercial-constants.ts
  dotcom-rendering/src/lib/getAdPositions.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/lib/getFrontsBannerAdPositions.test.ts
  dotcom-rendering/src/lib/getTagFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getTagFrontsAdPositions.ts
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#9414 Implement darkmode in caption 🌚 🌞
  dotcom-rendering/src/components/Caption.stories.tsx
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/CaptionBlockComponent.stories.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#9424 Prettify suitable files across the repo (not just in DCR) 💄🌍
  .husky/pre-commit
  .prettierignore
  dotcom-rendering/package.json
  package.json
Labels: DevX, dotcom-rendering, run_chromatic

#9400 Rationalise DCR's env checking scripts
  dotcom-rendering/makefile
  dotcom-rendering/scripts/check-node-versions.mjs
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.mjs
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/env/check-files.js
  dotcom-rendering/scripts/env/check-node.js
  dotcom-rendering/scripts/env/check-yarn.js
  dotcom-rendering/scripts/env/ensure.js
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/scripts/perf/perf-test.js
  scripts/env/check-node
  scripts/env/check-yarn
  scripts/log.js
Labels: dotcom-rendering, run_chromatic

#9422 Remove legacy key events component and endpoint
  dotcom-rendering/src/components/KeyEvents.stories.tsx
  dotcom-rendering/src/components/KeyEvents.tsx
  dotcom-rendering/src/components/KeyEventsContainer.test.tsx
  dotcom-rendering/src/components/KeyEventsContainer.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering, run_chromatic

#9428 Tweak link colours and area alignment in picture (cartoons) layout
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: run_chromatic

#9435 Simplify CSS styles and Add Chromatic tests to Nav with PageSkins
  dotcom-rendering/src/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/Pillars.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9438 Rationalise DCR's env checking scripts (take 2)
  dotcom-rendering/makefile
  dotcom-rendering/scripts/check-node-versions.mjs
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.mjs
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/env/check-files.js
  dotcom-rendering/scripts/env/check-node.js
  dotcom-rendering/scripts/env/check-yarn.js
  dotcom-rendering/scripts/env/ensure.js
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/scripts/perf/perf-test.js
  scripts/env/check-node
  scripts/env/check-yarn
  scripts/log.js
Labels: DevX, dotcom-rendering, run_chromatic

#9433 replace Teleporter link
  dotcom-rendering/docs/youtube/youtube-variations-2021-11-17.md
Labels: dotcom-rendering, run_chromatic

#9430 Fix `splitTheme` decorator’s arguments and simplify stories using it
  dotcom-rendering/.storybook/decorators/splitThemeDecorator.tsx
  dotcom-rendering/src/components/Caption.stories.tsx
  dotcom-rendering/src/components/ClickToView.stories.tsx
  dotcom-rendering/src/components/Standfirst.stories.tsx
  dotcom-rendering/src/components/TableOfContents.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9444 Be liberal in what `splitTheme` accept
  dotcom-rendering/.storybook/decorators/splitThemeDecorator.tsx
Labels: run_chromatic

#9442 Add headline container overrides stories
  dotcom-rendering/src/components/CardHeadline.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9434 Add dark mode to key events 🌞 🌚
  dotcom-rendering/src/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/components/KeyEventsCarousel.stories.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#9446 Add some overlooked prettier changes 💄🔍
  .github/workflows/prettier.yml
  .prettierignore
  apps-rendering/package.json
  apps-rendering/yarn.lock
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/.prettierignore
  dotcom-rendering/.prettierrc.json
  dotcom-rendering/README.md
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  package.json
  yarn.lock
Labels: apps-rendering, DevX, dotcom-rendering, run_chromatic

#9454 Rename ads in merch test
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
  dotcom-rendering/package.json
  dotcom-rendering/playwright/fixtures/manual/standard-article.js
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/ads-in-merch-high.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9460 Default to desktop images in Cartoons when mobile images are absent
  dotcom-rendering/src/components/CartoonComponent.mocks.ts
  dotcom-rendering/src/components/CartoonComponent.stories.tsx
  dotcom-rendering/src/components/CartoonComponent.tsx
Labels: dotcom-rendering, run_chromatic

#9463 EpicAmp ChoiceCard container Single renamed One-time
  dotcom-rendering/src/components/Epic.amp.tsx
Labels: dotcom-rendering, run_chromatic

#9475 Override `crypto-js` resolution
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9455 Simplify `Parser` Type In The `parser` Module
  apps-rendering/src/parser.ts
Labels: apps-rendering, run_chromatic

#9441 Enable container overrides with CSS custom properties
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering, run_chromatic

#9450 fix: Sort containers for tag fronts
  dotcom-rendering/src/model/groupTrailsByDates.test.ts
  dotcom-rendering/src/model/groupTrailsByDates.ts
Labels: dotcom-rendering

#9492 Use CSF StoryObj type explicitely
  dotcom-rendering/.storybook/decorators/splitThemeDecorator.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9483 Add Type-Checking To Dev Server JS
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#9487 Separate Out The Two Parts Of `make fix`
  dotcom-rendering/makefile
Labels: dotcom-rendering, run_chromatic

#9470 Add darkmode to the standard article layout
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9489 Remove pm2
  dotcom-rendering/.snyk
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/userData.ts
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/resources.md
  dotcom-rendering/docs/testing.md
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/src/server/lib/logging.ts
  yarn.lock
Labels: dotcom-rendering

#9519 Add Labs layout stories
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering

#9525 Bump start-server-and-test package to `2.0.2`
  dotcom-rendering/package.json
  package.json
  yarn.lock
Labels: dotcom-rendering

#9499 Simplify label styles
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#9503 refactor(SVG): use SVGR instead of desvg
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/svg.cjs
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/static/logos/the-guardian-labs.svg
  yarn.lock
Labels: dotcom-rendering, Pick me up

#9527 Make `CommentCount` Island server-safe
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/CommentCount.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
Labels: dotcom-rendering, Pick me up

#9501 Link Node versions everywhere
  .prettierignore
  dotcom-rendering/.nvmrc
Labels: enhancement, Pick me up

#9537 Bump start-server-and-test to `2.0.3`
  dotcom-rendering/package.json
  package.json
  yarn.lock
Labels: dotcom-rendering

#9532 Add new ad slot centring class
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
Labels: dotcom-rendering

#9542 Filter trails
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/components/MostViewedRight.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decideTrail.ts
  dotcom-rendering/src/server/handler.front.web.ts
Labels: dotcom-rendering

#9416 Render cartoon elements in the Editions app
  apps-rendering/package.json
  apps-rendering/src/capi.ts
  apps-rendering/src/cartoon.test.ts
  apps-rendering/src/cartoon.ts
  apps-rendering/src/components/MainMedia/GalleryCaption.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/MainMedia/index.tsx
  apps-rendering/src/components/editions/cartoon/cartoon.stories.tsx
  apps-rendering/src/components/editions/cartoon/index.tsx
  apps-rendering/src/components/editions/headerMedia/headerMedia.stories.tsx
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/components/editions/layout/index.tsx
  apps-rendering/src/components/editions/layout/layout.stories.tsx
  apps-rendering/src/fixtures/cartoon.ts
  apps-rendering/src/helperTest.ts
  apps-rendering/src/item.test.ts
  apps-rendering/src/item.ts
  apps-rendering/src/mainMedia.ts
  apps-rendering/src/parserContext.ts
  apps-rendering/src/server/editionsPage.tsx
  apps-rendering/yarn.lock
Labels: apps-rendering, run_chromatic

#9544 Bump @types/uuid from 9.0.6 to 9.0.7 in /dotcom-rendering
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#9536 Remove ads-in-merch ab test
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
  dotcom-rendering/playwright/fixtures/manual/standard-article.js
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/ads-in-merch-high.ts
Labels: dotcom-rendering

#9495 Add Dev Server Input For Adding URLs
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#9362 add user features logic to dotcom
  dotcom-rendering/cypress/e2e/parallel-6/user.features.cy.js
  dotcom-rendering/src/client/main.web.ts
  dotcom-rendering/src/client/userFeatures/user-features-lib.ts
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
Labels: dotcom-rendering, run_chromatic

#9482 Respect the follow status returned from bridget
  apps-rendering/src/client/article.ts
Labels: apps-rendering

#9548 Revert "Filter trails"
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/components/MostViewedRight.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decideTrail.ts
  dotcom-rendering/src/server/handler.front.web.ts
Labels: dotcom-rendering

#9567 Revert "Respect the follow status returned from bridget"
  apps-rendering/src/client/article.ts
Labels: apps-rendering

#9488 Add darkmode to submeta 🌔
  dotcom-rendering/src/components/SubMeta.stories.tsx
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#9570 Update submeta hover state
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#9543 Add margin-bottom to merch-high and merch in Fronts and Articles
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9535 Make `DiscussionMeta` Island no longer client-side only
  dotcom-rendering/src/components/DiscussionLayout.tsx
  dotcom-rendering/src/components/Island.test.tsx
Labels: dotcom-rendering

#9540 Hide merchandising slots from desktop breakpoints when there is a page skin
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/DecideFrontsAdSlots.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
Labels: dotcom-rendering

#9583 Use `--cache` when running eslint
  apps-rendering/package.json
  dotcom-rendering/package.json
Labels: apps-rendering, DevX, dotcom-rendering

#9579 Move `webpack` configs out of `scripts`
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/cypress.config.js
  dotcom-rendering/jest.config.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/client/sentryLoader/sentryLoader.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/.swcrc.json
  dotcom-rendering/webpack/@types/webpack-filter-warnings-plugin/index.d.ts
  dotcom-rendering/webpack/@types/webpack-messages/index.d.ts
  dotcom-rendering/webpack/browser-targets.js
  dotcom-rendering/webpack/browser-targets.test.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/svg.cjs
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.dev-server.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
Labels: dotcom-rendering

#9593 Allow `frame-src` from `https://apps.enformant.com`
  apps-rendering/src/server/csp.ts
Labels: apps-rendering

#9541 Replace `data-cy` with `data-testid`
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/article.elements.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/e2e/parallel-2/lightbox.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/components/ClickToView.tsx
  dotcom-rendering/src/components/CommentCount.importable.tsx
  dotcom-rendering/src/components/DisclaimerBlockComponent.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/DocumentBlockComponent.importable.tsx
  dotcom-rendering/src/components/Dropdown.tsx
  dotcom-rendering/src/components/EmbedBlockComponent.importable.tsx
  dotcom-rendering/src/components/InstagramBlockComponent.importable.tsx
  dotcom-rendering/src/components/InteractiveAtomBlockComponent.amp.tsx
  dotcom-rendering/src/components/InteractiveBlockComponent.amp.tsx
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/LightboxLayout.tsx
  dotcom-rendering/src/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/CollapseColumnButton.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ShowMoreMenu.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/VeggieBurgerMenu.tsx
  dotcom-rendering/src/components/SignInGate/README.md
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.tsx
  dotcom-rendering/src/components/SoundcloudBlockComponent.tsx
  dotcom-rendering/src/components/SpotifyBlockComponent.importable.tsx
  dotcom-rendering/src/components/SubNav.importable.tsx
  dotcom-rendering/src/components/TableBlockComponent.tsx
  dotcom-rendering/src/components/Toast.tsx
  dotcom-rendering/src/components/UnsafeEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomSticky.tsx
Labels: dotcom-rendering

#9590 Set body colour in darkmode
  dotcom-rendering/src/components/ArticlePage.tsx
Labels: dotcom-rendering, run_chromatic

#9595 Fix rendering of videos in apps
  apps-rendering/src/capi.ts
Labels: apps-rendering

#9409 DCAR - Update the Follow button icon and text to "Notifications on/off"
  dotcom-rendering/src/components/BylineLink.tsx
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/FollowButton.test.tsx
  dotcom-rendering/src/components/FollowButton.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#8920 AR: Add ability to follow MyGuardian tags from Article webviews in native apps
  apps-rendering/package.json
  apps-rendering/src/client/article.ts
  apps-rendering/src/components/CommentCount/index.tsx
  apps-rendering/src/components/Follow/Follow.stories.tsx
  apps-rendering/src/components/Follow/Follow.test.tsx
  apps-rendering/src/components/Follow/index.tsx
  apps-rendering/src/components/FollowStatus/index.tsx
  apps-rendering/src/native/nativeApi.ts
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/fill.ts
  apps-rendering/src/palette/text.ts
  apps-rendering/yarn.lock
Labels: apps-rendering, run_chromatic

#9494 Darkmode support Byline ✍️
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/components/HeadlineByline.stories.tsx
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/components/LinkHeadline.stories.tsx
  dotcom-rendering/src/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: Design, dotcom-rendering, run_chromatic

#9600 Use `PaletteFunction` type explicitely
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#9576 👋 `yarn@1`: remove use of `@yarnpkg/lockfile` from `check-deps`
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  yarn.lock
Labels: Dependencies, DevX, dotcom-rendering

#9559 👋 `yarn@1`: set `max-old-space-size` size for chromatic in CI config
  .github/workflows/ar-chromatic.yml
  .github/workflows/dcr-chromatic.yml
  apps-rendering/package.json
  dotcom-rendering/package.json
Labels: apps-rendering, DevX, dotcom-rendering

#9580 Bump AMI recipe to v2 with pm2 removed
  dotcom-rendering/scripts/check-node-versions.mjs
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#9603 Culture Live Blog has breaking news banner
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering

#9598 Add darkmode to showcase layout
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9612 Run `doctoc` when committing markdown files in DCR
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/code-style.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/contributing/how-to.md
  dotcom-rendering/docs/contributing/where-should-my-code-live.md
  dotcom-rendering/package.json
  package.json
Labels: DevX, dotcom-rendering, documentation

#9625 Make `ReaderRevenueLinks` Island server-safe
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/lib/usePageViewId.ts
Labels: dotcom-rendering

#9617 Make the `MostViewedFooterData` Island server-safe
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/playwright/tests/parallel-1/article.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#9633 Darkmode: support Article Meta ℹ️
  dotcom-rendering/cypress/e2e/parallel-3/article.metaAndOphan.e2e.cy.js
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/BylineLink.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/components/Dateline.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/static/icons/twitter.svg
  dotcom-rendering/src/types/palette.ts
Labels: Design, dotcom-rendering

#9638 Make `SupportTheG` Island server safe
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
Labels: dotcom-rendering

#9639 Demonstrate `AppsEpic` Island is server-safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#9411 chore: migrate AWS SDK for JavaScript v2 APIs to v3
  apps-rendering/package.json
  apps-rendering/src/server/aws.ts
  apps-rendering/src/server/ssmConfig.ts
  apps-rendering/yarn.lock
Labels: Dependencies, apps-rendering, run_chromatic

#9613 [internal]: run actions on external contributor’s PR
  apps-rendering/package.json
  apps-rendering/src/server/aws.ts
  apps-rendering/src/server/ssmConfig.ts
  apps-rendering/yarn.lock
Labels: apps-rendering, run_chromatic

#9641 Prove remaining Islands are server-safe
  dotcom-rendering/cypress/e2e/parallel-3/epic.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  dotcom-rendering/playwright/tests/parallel-1/article.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/EmailSignUpSwitcher.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#9640 Make `AdPortals` Island server safe
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/useMatchMedia.ts
Labels: dotcom-rendering

#9648 Remove `RecipeMultiplier` Island 🧆
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/RecipeMultiplier.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#9646 Make `StickyBottomBanner` no longer client-side only
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#9651 Make `Lightbox` no longer client-side only
  dotcom-rendering/src/components/ArticlePage.tsx
Labels: dotcom-rendering

#9649 Make the `Metrics` Island no longer client-side only
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering

#9650 Make `SetABTests` no longer client-side only
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering

#9627 Add dark mode to most viewed right and footer 🌞 🌚
  dotcom-rendering/src/components/LinkHeadline.stories.tsx
  dotcom-rendering/src/components/LinkHeadline.tsx
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/components/MostViewedFooterLayout.stories.tsx
  dotcom-rendering/src/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/components/MostViewedRightItem.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#9637 Add ophan record to set abtests
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SetABTests.importable.tsx
Labels: dotcom-rendering

#9642 hide mostpop ad slot
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#9661 Revert "Upgrade Yarn to v4"
  .github/workflows/amp.yml
  .github/workflows/ar-chromatic.yml
  .github/workflows/ar-ci.yml
  .github/workflows/ar-nodejs.yml
  .github/workflows/ar-pr-deployment.yml
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyser.yml
  .github/workflows/cypress.yml
  .github/workflows/dcr-chromatic.yml
  .github/workflows/jest.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-deployment.yml
  .github/workflows/prettier.yml
  .github/workflows/schema-check.yml
  .github/workflows/stories-check.yml
  .github/workflows/typescript.yml
  .gitignore
  .husky/post-merge
  .yarnrc
  .yarnrc.yml
  apps-rendering/package.json
  apps-rendering/src/client/article.ts
  apps-rendering/src/client/callouts.ts
  apps-rendering/src/client/editions.ts
  apps-rendering/src/components/EmbedWrapper/EmbedWrapper.test.tsx
  apps-rendering/src/components/Follow/Follow.test.tsx
  apps-rendering/src/components/PinnedPost/index.tsx
  apps-rendering/yarn.lock
  dotcom-rendering/makefile
  package.json
  scripts/ci-ar.sh
  scripts/postinstall.sh
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#9602 Add canonical link to apps articles
  dotcom-rendering/src/server/render.article.apps.tsx
Labels: dotcom-rendering

#9665 Refactor CalloutBlockComponent with immutable and better stories
  dotcom-rendering/src/components/Callout/Callout.tsx
  dotcom-rendering/src/components/CalloutBlockComponent.stories.tsx
Labels: dotcom-rendering

#9669 Migrate `epic.interactivity` to Playwright
  dotcom-rendering/cypress/e2e/parallel-3/epic.interactivity.cy.js
  dotcom-rendering/playwright/lib/islands.ts
  dotcom-rendering/playwright/tests/parallel-3/epic.interactivity.e2e.spec.ts
Labels: dotcom-rendering

#9677 Delete Cypress tests migrated to Playwright
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-2/banner.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/commercial.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/consent.cy.js
Labels: dotcom-rendering

#9423 DCAR: Add ability to follow MyGuardian tags from Article webviews in native apps
  dotcom-rendering/package.json
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/FollowButton.test.tsx
  dotcom-rendering/src/components/FollowButton.tsx
  dotcom-rendering/src/components/FollowButtons.stories.tsx
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  dotcom-rendering/src/lib/useIsMyGuardianEnabled.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9686 Revert " DCAR: Add ability to follow MyGuardian tags from Article webviews in native apps "
  .github/workflows/cypress.yml
  dotcom-rendering/package.json
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/FollowButton.test.tsx
  dotcom-rendering/src/components/FollowButton.tsx
  dotcom-rendering/src/components/FollowButtons.stories.tsx
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  dotcom-rendering/src/lib/useIsMyGuardianEnabled.ts
  yarn.lock
Labels: dotcom-rendering

#9671 refactor how we pass the css in `QuoteIcon`
  dotcom-rendering/src/components/QuoteIcon.tsx
Labels: dotcom-rendering

#9690 DCAR: Add ability to follow MyGuardian tags from Article webviews in native apps - FIX
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/FollowButton.test.tsx
  dotcom-rendering/src/components/FollowButton.tsx
  dotcom-rendering/src/components/FollowButtons.stories.tsx
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  dotcom-rendering/src/lib/useIsMyGuardianEnabled.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9697 Delete GEM AB test definition
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/elements-manager.ts
Labels: dotcom-rendering

#9668 Remove Teamcity traces
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  dotcom-rendering/jest.config.js
  dotcom-rendering/package.json
  scripts/ci-ar.sh
  scripts/ci-dcr.sh
  yarn.lock
Labels: dotcom-rendering

#9656 Make `EnhancedPinnedPost` no longer client-side only
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
Labels: dotcom-rendering

#9679 Migrate `paid.content` to Playwright
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
  dotcom-rendering/playwright/lib/islands.ts
  dotcom-rendering/playwright/tests/parallel-6/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#9705 Extend IMA AB test
  dotcom-rendering/src/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering

#9674 refactor validateResponse function
  dotcom-rendering/src/client/userFeatures/user-features.ts
Labels: dotcom-rendering

#9701 Refactor Apps Lightbox
  dotcom-rendering/src/components/AppsLightboxImage.importable.tsx
  dotcom-rendering/src/components/AppsLightboxImageStore.importable.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering, DCAR: First Production Release

#9687 Remove `default` Case From `pillarPalette` Function
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#9712 Un-drill `imagesForAppsLightbox` prop
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#9711 DCAR: Fix Bridget TagClient follow/unfollow to respect native success…
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
Labels: dotcom-rendering
