Repository guardian/dotcom-rendering, pull requests merged in 2023-05, with the labels that each got.

#7564 Align treats to bottom of the container
  dotcom-rendering/src/web/components/FrontSection.tsx
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
  dotcom-rendering/src/web/components/ShowMore.stories.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#7658 Remove `eager-prebid` test
  dotcom-rendering/src/web/components/Metrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/eager-prebid.ts
Labels: dotcom-rendering

#7648 Simplify nav types by removing MoreLinkType
  dotcom-rendering/src/amp/components/Header.tsx
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/web/components/Footer.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/web/components/Nav/Nav.mock.tsx
  dotcom-rendering/src/web/components/Pillars.tsx
Labels: dotcom-rendering

#7639 Enable synthetically delaying FID
  dotcom-rendering/src/web/bork/fid.ts
  dotcom-rendering/src/web/server/allEditorialNewslettersPageToHtml.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering, run_chromatic

#7641 Enable synthetically delaying FCP
  dotcom-rendering/src/web/bork/fcp.ts
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering, run_chromatic

#7675 Bump @guardian/consent-management-platform and commercial-core
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#7640 Fix the height of the right column content
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/web/browser/islands/initHydration.ts
  dotcom-rendering/src/web/browser/islands/whenVisible.ts
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/web/components/MostViewedRight.test.tsx
  dotcom-rendering/src/web/components/MostViewedRight.tsx
  dotcom-rendering/src/web/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/web/components/MostViewedRightWrapper.importable.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7671 Edition selector: Tidy-up & fixes
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/web/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/web/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/web/components/Nav/Nav.test.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/edition.ts
Labels: dotcom-rendering, run_chromatic

#7677 Apps StandardLayout
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/src/apps/server/articleToHtml.tsx
  dotcom-rendering/src/apps/server/pageTemplate.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/ArticlePage.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/DecideLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/server/allEditorialNewslettersPageToHtml.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#7670 feat: Request Logger & Logging context
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/apps/server/index.ts
  dotcom-rendering/src/server/lib/logging-middleware.ts
  dotcom-rendering/src/server/lib/logging-store.ts
  dotcom-rendering/src/server/lib/logging.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering, run_chromatic

#7683 remove flexbox fallback for ie11
  dotcom-rendering/src/web/components/MainMedia.tsx
Labels: dotcom-rendering, run_chromatic

#7699 Remove `ad` from the most viewed container attribute
  dotcom-rendering/src/web/components/MostViewedRightWithAd.tsx
Labels: dotcom-rendering, run_chromatic

#7698 Dependabot: ignore @types/node major & minor
  .github/dependabot.yml
Labels: run_chromatic

#7704 add favicon and title to dev server index
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#7679 Delete two expired AB tests
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/newsletter-merch-unit-test.ts
Labels: dotcom-rendering, run_chromatic

#7708 IntegrateIma test to 5%
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering, run_chromatic

#7705 docs: testing apps articles with device simulators
  dotcom-rendering/docs/development/apps-testing.md
  dotcom-rendering/docs/development/assets/android-clear-cache.png
  dotcom-rendering/docs/development/assets/local-ar-android.png
  dotcom-rendering/docs/development/assets/local-ar-ios.png
Labels: dotcom-rendering, documentation, run_chromatic

#7712 Delete `dotcom-rendering/.codeclimate.json`
  dotcom-rendering/.codeclimate.json
Labels: run_chromatic

#7710 Don't add merchandising slots for DCR network fronts in the fronts banner test
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7726 Fix labeller job permissions
  .github/workflows/labeler.yml
Labels: run_chromatic

#7655 feat: pin packages & enforce it
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  yarn.lock
Labels: help wanted, dotcom-rendering, Health, run_chromatic

#7719 Add Profile article support for Editions
  apps-rendering/src/components/editions/layout/index.tsx
Labels: apps-rendering, Editions app, run_chromatic

#7727 Cypress v12
  dotcom-rendering/cypress/e2e/parallel-6/consent.cy.js
  dotcom-rendering/cypress/plugins/index.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#7729 feat: Support `fixed/small/slow-V-half` container
  dotcom-rendering/src/web/components/FixedSmallSlowVHalf.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVHalf.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering, run_chromatic

#7730 Install exact versions by default
  .yarnrc
Labels: run_chromatic

#7736 Fix scheduled jobs permissions
  .github/workflows/scheduled.yml
Labels: run_chromatic

#7735 Revert "Don't add merchandising slots for DCR network fronts in the fronts banner test"
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7737 feat(datawrapper-embed): add `https://datawrapper.dwcdn.net` to CSP
  apps-rendering/src/server/csp.ts
Labels: apps-rendering, run_chromatic

#7711 Test impact of degraded web vitals
  dotcom-rendering/src/apps/server/articleToHtml.tsx
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/bork/fcp.ts
  dotcom-rendering/src/web/bork/fid.ts
  dotcom-rendering/src/web/browser/ophan/index.ts
  dotcom-rendering/src/web/server/allEditorialNewslettersPageToHtml.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering, run_chromatic

#7740 Hide section from "less <section>" button on fronts for non-screen-reader users
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
Labels: dotcom-rendering, run_chromatic

#7742 Handle uncaught error from consentless ads script
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
Labels: dotcom-rendering, run_chromatic

#7750 Add label styles for merchandising slots
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7754 Change card kicker teal to labs.200 from labs.400
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering, run_chromatic

#7731 Support full width thrashers
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/ElementContainer.tsx
  dotcom-rendering/src/web/components/SnapCssSandbox.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7757 Temporarily Make Lighthouse Workflow Manual Only
  .github/workflows/lighthouse.yml
Labels: run_chromatic

#7753 Show logo in front cards when the content is paid
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/FrontSection.tsx
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering, run_chromatic

#7746 Exclude `storybook-static` From TS Program
  dotcom-rendering/tsconfig.json
Labels: dotcom-rendering, run_chromatic

#7762 Make Braze messaging respect `shouldHideReaderRevenue` flag
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
Labels: dotcom-rendering, run_chromatic

#7787 build(cypress): Fix Cypress test failures with `cypress-io/gitub-action@v5`
  .github/workflows/cypress.yml
Labels: run_chromatic

#7769 AR `ImmersiveLayout`: Add darkmode text styles
  apps-rendering/src/components/ArticleBody/index.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
Labels: apps-rendering, run_chromatic

#7788 Fix `make fix` Command
  dotcom-rendering/.eslintignore
  dotcom-rendering/makefile
  dotcom-rendering/package.json
Labels: dotcom-rendering, run_chromatic

#7765 Guardian Labs: All article designs should use labs[200] unless otherwise specified
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: dotcom-rendering, run_chromatic

#7798 build: add permissions for the compressed size action
  .github/workflows/compress.yml
Labels: run_chromatic

#7747 fix: Pass href to a tags for subheading block component
  dotcom-rendering/src/web/components/SubheadingBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#7802 Run lint in DCR CICD
  .github/workflows/cicd.yml
  .github/workflows/lint.yml
Labels: run_chromatic

#7801 fix width issue for lozenges tag
  dotcom-rendering/src/web/components/ArticleTitle.tsx
Labels: dotcom-rendering, run_chromatic

#7805 Run AMP Validation in DCR CICD
  .github/workflows/amp.yml
  .github/workflows/cicd.yml
  dotcom-rendering/makefile
Labels: dotcom-rendering, run_chromatic

#7803 Run jest in DCR CICD
  .github/workflows/cicd.yml
  .github/workflows/jest.yml
Labels: run_chromatic

#7804 Run prettier in DCR CICD
  .github/workflows/cicd.yml
  .github/workflows/prettier.yml
Labels: run_chromatic

#7800 Don't install dependencies when running Cypress step
  .github/workflows/cypress.yml
Labels: run_chromatic

#7755 Remove unused labs colours
  dotcom-rendering/src/lib/pillars.ts
Labels: dotcom-rendering, run_chromatic

#7795 Restructure server files to divide by purpose & better support multiple rendering targets
  dotcom-rendering/src/amp/components/AmpArticlePage.tsx
  dotcom-rendering/src/amp/server/index.article.tsx
  dotcom-rendering/src/amp/server/render.article.test.tsx
  dotcom-rendering/src/amp/server/render.article.tsx
  dotcom-rendering/src/apps/server/index.article.ts
  dotcom-rendering/src/apps/server/render.article.tsx
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/server/blocksToHtml.tsx
  dotcom-rendering/src/web/server/htmlPageTemplate.ts
  dotcom-rendering/src/web/server/index.allEditorialNewslettersPage.ts
  dotcom-rendering/src/web/server/index.article.ts
  dotcom-rendering/src/web/server/index.front.ts
  dotcom-rendering/src/web/server/keyEventsToHtml.tsx
  dotcom-rendering/src/web/server/render.allEditorialNewslettersPage.tsx
  dotcom-rendering/src/web/server/render.article.tsx
  dotcom-rendering/src/web/server/render.front.tsx
Labels: dotcom-rendering, run_chromatic

#7780 AB test to limit inline merchandising slots
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/types/config.ts
  dotcom-rendering/src/web/components/Metrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/limit-inline-merch.ts
  dotcom-rendering/src/web/server/render.article.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7628 Ensure ad content is centred
  dotcom-rendering/src/web/components/ArticleContainer.tsx
Labels: Stale, dotcom-rendering, run_chromatic

#7816 Use arcs for Doughnout segments
  dotcom-rendering/src/web/components/Doughnut.tsx
Labels: bug, dotcom-rendering, run_chromatic

#7819 Doughnut holes
  dotcom-rendering/src/web/components/Doughnut.stories.tsx
  dotcom-rendering/src/web/components/Doughnut.tsx
Labels: dotcom-rendering, Health, run_chromatic

#7820 Add 0% test to remove epics from business liveblog
  dotcom-rendering/src/web/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/remove-business-liveblog-epics.ts
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7826 Cypress will retry 5 times before erroring
  dotcom-rendering/cypress.config.js
Labels: dotcom-rendering, run_chromatic

#7830 Move all of 'apps' directory into 'web'
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/web/lib/bridgetApi.ts
  dotcom-rendering/src/web/lib/thrift/nativeConnection.ts
  dotcom-rendering/src/web/lib/thrift/protocols.ts
  dotcom-rendering/src/web/server/index.allEditorialNewslettersPage.web.ts
  dotcom-rendering/src/web/server/index.article.apps.ts
  dotcom-rendering/src/web/server/index.article.web.ts
  dotcom-rendering/src/web/server/index.front.web.ts
  dotcom-rendering/src/web/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/web/server/render.article.apps.tsx
  dotcom-rendering/src/web/server/render.article.web.tsx
  dotcom-rendering/src/web/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic
