Repository guardian/dotcom-rendering, pull requests merged in 2023-01, with the labels that each got.

#6741 Callouts in DCR - PR 1/5 - Add deadline component and separate new/legacy components into two folders
  dotcom-rendering/src/web/components/Callout/Deadline.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.stories.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.test.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/CheckboxSelect.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/FieldLabel.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/FileUpload.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/MultiSelect.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/RadioSelect.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/Select.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/TextArea.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/TextInput.tsx
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.importable.tsx
Labels: dotcom-rendering

#6840 FixedMediumFastXII sublinks: Use Card25Media25 for top row
  dotcom-rendering/src/web/components/FixedMediumFastXII.tsx
Labels: dotcom-rendering

#6831 Extend Teads Cookieless AB test
  dotcom-rendering/src/web/experiments/tests/teads-cookieless.ts
Labels: dotcom-rendering

#6838 Add total-blocking-time to Lighthouse assertions
  dotcom-rendering/lighthouserc.js
Labels: dotcom-rendering

#6869 Update the links to the emotion docs
  dotcom-rendering/docs/contributing/code-style.md
Labels: dotcom-rendering

#6811 Liveblog server side ads: improve element height approximations
  dotcom-rendering/docs/commercial/liveblog-server-side-ad-slots.md
  dotcom-rendering/src/web/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/web/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/web/lib/liveblogAdSlots.ts
Labels: dotcom-rendering

#6755 Fix: FixedSmallSlow1 sublinks
  dotcom-rendering/src/web/components/FixedSmallSlowI.tsx
Labels: dotcom-rendering

#6758 Fix: FixedSlowSmallVThird Sublinks
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
Labels: dotcom-rendering

#6528 ShowMore button design tweaks
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
Labels: dotcom-rendering

#6865 Bump atoms rendering to 25.0.3
  apps-rendering/package.json
  apps-rendering/yarn.lock
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#6833 Callouts in DCR - PR 3/5 - Add new form
  dotcom-rendering/fixtures/manual/calloutCampaignV2.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/Callout/Form.stories.tsx
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Callout/FormField.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.stories.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/FormFields/FileUpload.tsx
  yarn.lock
Labels: dotcom-rendering

#6871 Move from @storybook/addon-knobs to @storybook/addon-controls
  common-rendering/package.json
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/EmailSignup.stories.tsx
  dotcom-rendering/src/web/components/NewsletterPrivacyMessage.stories.tsx
  storybooks/package.json
  yarn.lock
Labels: common-rendering, dotcom-rendering

#6887 AR: Fix padding under block quotes
  apps-rendering/src/components/Blockquote/index.tsx
Labels: apps-rendering

#6886 AR: Fix pull quote padding on dark mode
  apps-rendering/src/components/ArticleBody/index.tsx
Labels: apps-rendering

#6731 MostViewedRightItem shouldn't pass `link` prop
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
Labels: dotcom-rendering

#6847 Callouts in DCR - PR 5/5 - Add honey pot to form
  dotcom-rendering/fixtures/manual/calloutCampaignV2.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/Callout/Form.tsx
Labels: dotcom-rendering

#6891 Use `en-GB` For Paris
  apps-rendering/src/datetime.ts
Labels: apps-rendering

#6890 Make `outline` Field Required
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/TableOfContents/TableOfContents.stories.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#6812 Enforce JSX keys for arrays of elements
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/web/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/web/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/web/components/BigNumber/BigNumber.tsx
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Doughnut.tsx
  dotcom-rendering/src/web/components/Dropdown.tsx
  dotcom-rendering/src/web/components/Footer.stories.tsx
  dotcom-rendering/src/web/components/HeaderTopBarSearchCapi.tsx
  dotcom-rendering/src/web/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/InteractiveContentsBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/web/components/KeyEvents.stories.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/web/components/KeyEventsCarousel.stories.tsx
  dotcom-rendering/src/web/components/Lineup.tsx
  dotcom-rendering/src/web/components/LiveBlockContainer.tsx
  dotcom-rendering/src/web/components/Logo.stories.tsx
  dotcom-rendering/src/web/components/MatchNav.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/components/Pagination.stories.tsx
  dotcom-rendering/src/web/components/SubMeta.stories.tsx
  dotcom-rendering/src/web/components/TableOfContents.tsx
  dotcom-rendering/src/web/components/Treats.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering, Health

#6643 feat: custom CAPI key
  .github/workflows/scheduled.yml
  scripts/ci-deno.sh
  scripts/deno/iframe-titles.ts
Labels: Health

#6901 Callouts : add flag and 0% AB test
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#6809 add table of contents to article body
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/TableOfContents.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#6896 IntegrateIma test back to 0% opt in
  dotcom-rendering/src/web/experiments/tests/integrate-ima.ts
Labels: dotcom-rendering

#6904 Tweak position type in `AdSlot.tsx`
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6897 Only build the browser variant if in production mode
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: dotcom-rendering

#6902 Do not show author's avatar in 2nd column `fixed/small/slow-V-mpu`
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
Labels: dotcom-rendering

#6910 Change metric bypass sampling method for Teads cookieless test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
Labels: commercial :moneybag:, dotcom-rendering

#6872 Callouts in DCR - PR 4/5 - Add message us tab and house in block component
  dotcom-rendering/fixtures/manual/calloutCampaignV2.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/Callout/Callout.tsx
  dotcom-rendering/src/web/components/Callout/CalloutComponents.tsx
  dotcom-rendering/src/web/components/Callout/Form.stories.tsx
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Callout/FormField.tsx
  dotcom-rendering/src/web/components/Callout/MessageUs.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.stories.tsx
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: dotcom-rendering

#6928 Correct Deno script flag syntax
  scripts/ci-deno.sh
Labels: bug

#6888 Use emotion cache for blocks requests & islands
  dotcom-rendering/src/web/browser/initDiscussion/init.ts
  dotcom-rendering/src/web/browser/islands/doHydration.tsx
  dotcom-rendering/src/web/browser/islands/emotion.ts
  dotcom-rendering/src/web/browser/islands/initHydration.ts
  dotcom-rendering/src/web/lib/emotion.tsx
  dotcom-rendering/src/web/lib/extractIslands.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/blocksToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering

#6906 Fix sublinks for `FixedLargeSlowXIV`
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
Labels: dotcom-rendering

#6813 Enable SWC browser variant AB test
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/src/web/browser/sentryLoader/init.test.ts
  dotcom-rendering/src/web/browser/sentryLoader/init.ts
  dotcom-rendering/src/web/browser/sentryLoader/loadSentry.ts
  yarn.lock
Labels: dotcom-rendering

#6929 Treats text xsmall -> xxsmall
  dotcom-rendering/src/web/components/Treats.tsx
Labels: dotcom-rendering

#6784 Remove getCountryCodeSync and handle SecurityErrors better
  dotcom-rendering/src/web/lib/countryCodes.ts
  dotcom-rendering/src/web/lib/getCountryCode.test.ts
  dotcom-rendering/src/web/lib/getCountryCode.ts
  dotcom-rendering/src/web/lib/readerRevenueDevUtils.ts
Labels: dotcom-rendering

#6914 add tracking for dcr table of contents
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/TableOfContents.importable.tsx
  dotcom-rendering/src/web/components/TableOfContents.stories.tsx
Labels: dotcom-rendering

#6931 Fix sublinks in `FixedSmallFastVIII`
  dotcom-rendering/src/web/components/FixedSmallFastVIII.tsx
Labels: dotcom-rendering

#6938 Bump atoms-rendering and fix types imports
  apps-rendering/package.json
  apps-rendering/src/atoms.ts
  apps-rendering/src/bodyElement.ts
  apps-rendering/yarn.lock
  dotcom-rendering/package.json
  dotcom-rendering/src/amp/components/elements/TimelineBlockComponent.tsx
  dotcom-rendering/src/web/components/ChartAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/GuideAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/KnowledgeQuizAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/ProfileAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/QandaAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/TimelineAtomWrapper.importable.tsx
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#6944 Revert "chore(deps): bump react-dom from 17.0.2 to 18.2.0 in /dotcom-rendering"
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6936 Fix: Image overlay should fit to image
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering

#6935 Align-self: flex-start for horizontal images
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering

#6952 Move `Pagination` Component To AR
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/Pagination/Pagination.stories.tsx
  apps-rendering/src/components/Pagination/index.tsx
Labels: apps-rendering

#6956 Use kicker colour for card media icons
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/MediaMeta.test.tsx
  dotcom-rendering/src/web/components/MediaMeta.tsx
Labels: dotcom-rendering

#6937 fix: Support sublinks on `fixed/small/slow-IV`
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIVsubLinks.stories.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#6960 AR - render table of contents only when outline has 3 items
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
Labels: apps-rendering

#6963 chore(deps): bump atoms-rendering from 25.1.0 => 25.1.1
  apps-rendering/package.json
  apps-rendering/yarn.lock
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#6957 DCR & AR - Improve table of contents styles
  apps-rendering/src/components/TableOfContents/TableOfContents.stories.tsx
  apps-rendering/src/components/TableOfContents/index.tsx
  common-rendering/src/editorialPalette/border.ts
  common-rendering/src/editorialPalette/text.ts
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/components/TableOfContents.importable.tsx
  dotcom-rendering/src/web/components/TableOfContents.stories.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: apps-rendering, common-rendering, dotcom-rendering

#6964 Add `fromOption` And `maybeRender` To `Optional`
  apps-rendering/src/optional.ts
Labels: apps-rendering

#6967 Use React 17 types in DCR
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/cypress/support/commands.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/browser-targets.js
  dotcom-rendering/scripts/webpack/browser-targets.test.ts
  dotcom-rendering/src/amp/components/ContentABTest.tsx
  dotcom-rendering/src/amp/components/elements/GuVideoBlockComponent.tsx
  dotcom-rendering/src/amp/lib/region-classes.ts
  dotcom-rendering/src/web/components/RecipeMultiplier.importable.tsx
  dotcom-rendering/src/web/components/Treats.tsx
  dotcom-rendering/src/web/lib/edition.ts
  dotcom-rendering/src/web/lib/getZIndex.tsx
  package.json
  yarn.lock
Labels: dotcom-rendering

#6927 Callouts in DCR: add signal to list of phone contacts, change formatting
  dotcom-rendering/package.json
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/Callout/Callout.tsx
  dotcom-rendering/src/web/components/Callout/CalloutComponents.tsx
  dotcom-rendering/src/web/components/Callout/Form.stories.tsx
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Callout/FormField.tsx
  dotcom-rendering/src/web/components/Callout/MessageUs.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/renderElement.tsx
  yarn.lock
Labels: dotcom-rendering

#6972 Move `KeyEvents` Component To AR
  apps-rendering/src/components/KeyEvents/KeyEvents.stories.tsx
  apps-rendering/src/components/KeyEvents/index.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  common-rendering/src/components/keyEvents.stories.tsx
Labels: apps-rendering, common-rendering

#6975 Bump `@guardian/libs` to `v11.2.0` across platforms
  apps-rendering/package.json
  apps-rendering/src/articleFormat.ts
  apps-rendering/yarn.lock
  common-rendering/package.json
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#6969 DCR - refactor style and fix toc click handling bug
  dotcom-rendering/src/web/components/TableOfContents.importable.tsx
Labels: dotcom-rendering

#6955 Move `FigCaption` Component To AR
  apps-rendering/src/components/BodyImage/BodyImage.defaults.tsx
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/FigCaption/FigCaption.stories.tsx
  apps-rendering/src/components/FigCaption/index.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#6979 Revert "Bump `@guardian/libs` to `v11.2.0` across platforms"
  apps-rendering/package.json
  apps-rendering/src/articleFormat.ts
  apps-rendering/yarn.lock
  common-rendering/package.json
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#6933 Fix `FixedMediumFastXI` sublinks
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#6954 Letters shouldn't have quote marks
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
Labels: dotcom-rendering

#6985 Bump `@guardian/libs` to v12 across all platforms
  apps-rendering/package.json
  apps-rendering/src/articleFormat.ts
  apps-rendering/yarn.lock
  common-rendering/package.json
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#6977 Move `LiveBlockContainer` To AR
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/LiveBlock/index.tsx
  apps-rendering/src/components/LiveBlockContainer/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/liveBlock.ts
  apps-rendering/src/pagination.test.ts
Labels: apps-rendering

#6982 fix: Duplicated comment count on Cards
  dotcom-rendering/src/web/components/FetchCommentCounts.importable.tsx
Labels: dotcom-rendering

#6686 AR - add age warning component
  apps-rendering/src/components/Byline/GalleryByline.tsx
  apps-rendering/src/components/DesignTag/index.tsx
  apps-rendering/src/components/Headline/GalleryHeadline.tsx
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Headline/ImmersiveHeadline.tsx
  apps-rendering/src/components/Headline/InterviewHeadline.tsx
  apps-rendering/src/components/Headline/index.tsx
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/GalleryLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/LabsLayout.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/LetterLayout.tsx
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/LiveblogHeader/index.tsx
  apps-rendering/src/components/MainMedia/GalleryCaption.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/GalleryMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/ImmersiveMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/InterviewMainMediaImage.tsx
  apps-rendering/src/components/Metadata/GalleryMetadata.tsx
  apps-rendering/src/components/Series/GallerySeries.tsx
  apps-rendering/src/components/Series/ImmersiveSeries.tsx
  apps-rendering/src/components/Series/index.tsx
  apps-rendering/src/components/Standfirst/GalleryStandfirst.tsx
  apps-rendering/src/components/Standfirst/ImmersiveStandfirst.tsx
  apps-rendering/src/components/Tags/Tags.test.tsx
  apps-rendering/src/components/WithAgeWarning/WithAgeWarning.test.tsx
  apps-rendering/src/components/WithAgeWarning/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
Labels: apps-rendering

#6949 Add how-to guide
  dotcom-rendering/docs/contributing/README.md
  dotcom-rendering/docs/contributing/how-to.md
Labels: dotcom-rendering

#6988 Fix core-js chunk duplication
  dotcom-rendering/babel.config.js
Labels: dotcom-rendering

#6995 comment out config
  dotcom-rendering/src/model/enhanceTreats.ts
Labels: dotcom-rendering

#6971 Enforce tilde ranges for packages with type definitions
  .github/workflows/dcr-dependencies.yml
  dotcom-rendering/package.json
  scripts/deno/types-dependencies.ts
  yarn.lock
Labels: dotcom-rendering

#6783 Add Readme to generated stories
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/stories/generated/CardReadme.stories.jsx
  dotcom-rendering/stories/generated/LayoutReadme.stories.jsx
Labels: dotcom-rendering

#7005 Bump SWC bundle experiment to 10% - Adjust Sentry sampling
  dotcom-rendering/src/web/browser/sentryLoader/init.test.ts
  dotcom-rendering/src/web/browser/sentryLoader/init.ts
Labels: dotcom-rendering

#7010 Remove teads cookieless ab test
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/teads-cookieless.ts
Labels: commercial :moneybag:, dotcom-rendering

#6994 Move `CaptionIcon` Component To AR
  apps-rendering/src/components/BodyImage/BodyImage.defaults.tsx
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/CaptionIcon/CaptionIcon.stories.tsx
  apps-rendering/src/components/CaptionIcon/index.tsx
  apps-rendering/src/components/FigCaption/FigCaption.stories.tsx
  apps-rendering/src/components/FigCaption/index.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#7011 Move `Accordion` Component To AR
  apps-rendering/src/components/Accordion/Accordion.stories.tsx
  apps-rendering/src/components/Accordion/index.tsx
  apps-rendering/src/components/KeyEvents/index.tsx
Labels: apps-rendering

#6989 table of content in numberedList article
  apps-rendering/src/components/TableOfContents/TableOfContents.stories.tsx
  apps-rendering/src/components/TableOfContents/index.tsx
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/web/components/TableOfContents.importable.tsx
  dotcom-rendering/src/web/components/TableOfContents.stories.tsx
Labels: apps-rendering, dotcom-rendering

#7012 Move `FirstPublished` Component To AR
  apps-rendering/src/components/FirstPublished/FirstPublished.stories.tsx
  apps-rendering/src/components/FirstPublished/index.tsx
  apps-rendering/src/components/LiveBlock/index.tsx
  apps-rendering/src/components/LiveBlockContainer/index.tsx
  common-rendering/src/components/FirstPublished.tsx
Labels: apps-rendering, common-rendering

#6999 feat(metrics): record more overlapping metrics
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
Labels: enhancement, commercial :moneybag:, dotcom, dotcom-rendering

#7022 Remove ab test for outstream on desktop liveblogs
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/liveblog-desktop-outstream.ts
Labels: dotcom-rendering

#7020 refactor(Metrics): one Island for all metrics
  dotcom-rendering/src/web/components/ArticlePage.tsx
  dotcom-rendering/src/web/components/CommercialMetrics.importable.tsx
  dotcom-rendering/src/web/components/CoreVitals.importable.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/components/Metrics.importable.tsx
Labels: enhancement, dotcom-rendering

#7021 Add support for 2nd big boosted in `DynamicSlowMPU`
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
Labels: dotcom-rendering

#7019 Make headlines medium font-weight on all palettes
  dotcom-rendering/src/web/components/CardHeadline.tsx
Labels: dotcom-rendering

#7016 Update kicker colours
  dotcom-rendering/src/web/lib/decidePalette.ts
Labels: Design, dotcom-rendering, Fronts :newspaper:

#6993 Fix spacing in fronts layout
  dotcom-rendering/src/web/components/LeftColumn.tsx
  dotcom-rendering/src/web/components/Section.tsx
Labels: dotcom-rendering

#6959 Fronts: Media card play icon
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/web/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
Labels: dotcom-rendering

#7000 refactor: Use DCRFrontCard instead of TrailType
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/DynamicFast.tsx
  dotcom-rendering/src/web/components/DynamicPackage.tsx
  dotcom-rendering/src/web/components/DynamicSlow.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
  dotcom-rendering/src/web/lib/dynamicSlices.tsx
Labels: dotcom-rendering

#7027 Remove `common-rendering` Dark Mode Helper
  apps-rendering/src/components/Accordion/Accordion.stories.tsx
  apps-rendering/src/components/Accordion/index.tsx
  apps-rendering/src/components/BodyImage/BodyImage.defaults.tsx
  apps-rendering/src/components/BodyImage/BodyImage.stories.tsx
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/BodyImage/index.tsx
  apps-rendering/src/components/CaptionIcon/CaptionIcon.stories.tsx
  apps-rendering/src/components/CaptionIcon/index.tsx
  apps-rendering/src/components/Card/index.tsx
  apps-rendering/src/components/FigCaption/FigCaption.stories.tsx
  apps-rendering/src/components/FigCaption/index.tsx
  apps-rendering/src/components/FirstPublished/FirstPublished.stories.tsx
  apps-rendering/src/components/FirstPublished/index.tsx
  apps-rendering/src/components/ImgAlt/ImgAlt.stories.tsx
  apps-rendering/src/components/ImgAlt/index.tsx
  apps-rendering/src/components/KeyEvents/KeyEvents.stories.tsx
  apps-rendering/src/components/KeyEvents/index.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/LiveBlock/index.tsx
  apps-rendering/src/components/LiveBlockContainer/index.tsx
  apps-rendering/src/components/MainMedia/ImmersiveCaption.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/GalleryMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/ImmersiveMainMediaImage.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/MainMediaImage.defaults.tsx
  apps-rendering/src/components/MainMedia/MainMediaImage/NewsletterSignupMainMediaImage.tsx
  apps-rendering/src/components/Pagination/Pagination.stories.tsx
  apps-rendering/src/components/Pagination/index.tsx
  apps-rendering/src/components/editions/avatar/index.tsx
  apps-rendering/src/components/editions/galleryImage/index.tsx
  apps-rendering/src/components/editions/headerMedia/index.tsx
  apps-rendering/src/renderer.ts
  common-rendering/src/lib.ts
Labels: apps-rendering, common-rendering

#6841 FixedMediumSlowXIIMPU sublinks: add relevant cardwrappers and use for top row
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
Labels: dotcom-rendering

#6843 FixedSmallSlowIII sublinks: add relevant cardwrappers and use in container
  dotcom-rendering/src/web/components/FixedSmallSlowIII.tsx
Labels: dotcom-rendering

#7045 Upgrade Storybook Dependencies To `6.5.16`
  apps-rendering/yarn.lock
Labels: apps-rendering

#7047 Remove unused components
  dotcom-rendering/src/web/components/EditionDropdown.importable.tsx
Labels: dotcom-rendering

#7052 Bump SWC bundle experiment to 20% - Adjust Sentry sampling
  dotcom-rendering/src/web/browser/sentryLoader/init.test.ts
  dotcom-rendering/src/web/browser/sentryLoader/init.ts
Labels: dotcom-rendering

#6998 feat: Only add discussion count placeholder if isCommetable
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/trails.ts
  dotcom-rendering/src/web/components/Carousel.importable.tsx
Labels: dotcom-rendering

#7032 Remove the kicker slash
  dotcom-rendering/.storybook/preview.js
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/Kicker.tsx
  dotcom-rendering/src/web/components/LinkHeadline.stories.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

#7053 chore(ophan): track edition data in Ophan
  dotcom-rendering/src/web/browser/ophan/init.ts
  dotcom-rendering/src/web/browser/ophan/ophan.ts
Labels: dotcom-rendering

#7055 feat: bump server scaling group to 15/60 as an experiment
  dotcom-rendering/cloudformation.yml
Labels: dotcom-rendering

#7078 Move `span` To AR
  apps-rendering/src/span.test.ts
  apps-rendering/src/span.ts
Labels: apps-rendering

#7079 Move `common-rendering` `lib` To AR
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/lib.ts
  apps-rendering/src/server/page.tsx
  common-rendering/src/lib.ts
Labels: apps-rendering, common-rendering

#7051 Remove slashes from DCR
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/Kicker.tsx
  dotcom-rendering/src/web/components/LinkHeadline.stories.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering, DO NOT MERGE

#7082 Bump @guardian/libs to 12.0.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#6997 feat(islands): remove expedite pattern
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/components/Island.tsx
  dotcom-rendering/src/web/lib/extractIslands.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
Labels: dotcom-rendering

#7081 feat: Support `On page description` on DCR Fronts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#7006 Docs: Add how-tos for Islands, AJAX and Chromatic flakiness
  dotcom-rendering/docs/contributing/how-to.md
Labels: dotcom-rendering

#7050 Refactor kicker to block level component
  dotcom-rendering/src/web/components/Kicker.tsx
Labels: dotcom-rendering

#7076 Remove unused cmp tracking in GA
  dotcom-rendering/src/web/browser/bootCmp/init.ts
Labels: dotcom-rendering
