Repository guardian/dotcom-rendering, pull requests merged in 2023-02, with the labels that each got.

#7028 Fix comment ad slot sizing
  dotcom-rendering/docs/contracts/001-commercial-selectors.md
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/DiscussionLayout.tsx
  dotcom-rendering/src/web/components/Flex.tsx
  yarn.lock
Labels: dotcom-rendering

#7105 Add 100px margin to `whenVisible`
  dotcom-rendering/src/web/browser/islands/whenVisible.ts
Labels: question, dotcom-rendering

#6950 Dblatcher/screen reader promotion skip link
  dotcom-rendering/src/web/components/EmailSignup.tsx
  dotcom-rendering/src/web/components/InlineSkipToWrapper.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering, a11y

#7086 Single webpack entry
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/src/web/browser/atomIframe.ts
  dotcom-rendering/src/web/browser/atomIframe/init.ts
  dotcom-rendering/src/web/browser/bootCmp.ts
  dotcom-rendering/src/web/browser/debug/index.ts
  dotcom-rendering/src/web/browser/discussion.ts
  dotcom-rendering/src/web/browser/dynamicImport.ts
  dotcom-rendering/src/web/browser/embedIframe.ts
  dotcom-rendering/src/web/browser/embedIframe/init.ts
  dotcom-rendering/src/web/browser/index.ts
  dotcom-rendering/src/web/browser/islands/doHydration.tsx
  dotcom-rendering/src/web/browser/islands/index.ts
  dotcom-rendering/src/web/browser/newsletterEmbedIframe.ts
  dotcom-rendering/src/web/browser/ophan/index.ts
  dotcom-rendering/src/web/browser/relativeTime/index.ts
  dotcom-rendering/src/web/browser/sentryLoader/index.test.ts
  dotcom-rendering/src/web/browser/sentryLoader/index.ts
  dotcom-rendering/src/web/browser/startup.ts
  dotcom-rendering/src/web/components/UnsafeEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/web/layouts/Layout.stories.tsx
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering

#7111 Fix: font render on SignInGate privacy settings link
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/shared.tsx
Labels: dotcom-rendering

#7093 Move GA webpack entry to the main application entry
  dotcom-rendering/package.json
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/src/web/browser/bootCmp.ts
  dotcom-rendering/src/web/browser/ga/index.ts
  dotcom-rendering/src/web/browser/ga/init.ts
  dotcom-rendering/src/web/browser/index.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
  dotcom-rendering/src/web/server/pageTemplate.ts
  dotcom-rendering/window.guardian.d.ts
Labels: dotcom-rendering

#7097 LIVE-4863 Apps rendering: Always update videos after delay (to fix bug)
  apps-rendering/src/client/nativeCommunication.ts
Labels: apps-rendering

#7119 Bump @guardian/libs@^13.1.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7134 Enforce a minium accessibility score of 98
  dotcom-rendering/lighthouserc.js
Labels: dotcom-rendering, Health, a11y

#7131 Updating braze-components dependency to v9.0.1
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.stories.tsx
  yarn.lock
Labels: dotcom-rendering

#7136 Add `TypeError: Load failed` to Sentry ignore list
  dotcom-rendering/src/web/browser/sentryLoader/sentry.ts
Labels: dotcom-rendering

#7140 Remove common-rendering
  .github/labeler.yml
  .github/workflows/ar-chromatic.yml
  .github/workflows/cr-chromatic.yml
  .github/workflows/dcr-chromatic.yml
  README.md
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  apps-rendering/yarn.lock
  common-rendering/.prettierrc.json
  common-rendering/.storybook/fonts-css.ts
  common-rendering/.storybook/main.js
  common-rendering/.storybook/mocks/jsdom.js
  common-rendering/.storybook/preview-head.html
  common-rendering/.storybook/preview.js
  common-rendering/package.json
  common-rendering/src/__snapshots__/sizes.test.tsx.snap
  common-rendering/src/components/example.stories.tsx
  common-rendering/src/components/example.tsx
  common-rendering/src/example.test.ts
  common-rendering/src/example.ts
  common-rendering/tsconfig.json
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  package.json
  scripts/deno/peer-dependencies.ts
  storybooks/.storybook/main.js
  yarn.lock
Labels: apps-rendering, common-rendering, dotcom-rendering

#7141 Lighter font preloading
  dotcom-rendering/.storybook/preview-head.html
  dotcom-rendering/src/lib/fonts-css.ts
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering

#7142 fix: ImageTreat component uses picture element with sources
  dotcom-rendering/src/web/components/Treats.tsx
Labels: dotcom-rendering

#7145 Update braze-components dependency to v9.0.2
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7149 Remove `phar.gu-web.net` prefetch
  dotcom-rendering/src/web/server/pageTemplate.ts
Labels: dotcom-rendering

#7133 Special Report Alt: Background
  apps-rendering/src/components/ArticleBody/index.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/ImmersiveLayout.tsx
  apps-rendering/src/components/Layout/LetterLayout.tsx
  apps-rendering/src/palette/background.ts
Labels: apps-rendering

#7033 Allow animation of flashing dots for fronts
  dotcom-rendering/src/web/components/AnimatePulsingDots.importable.tsx
  dotcom-rendering/src/web/components/ArticleLastUpdated.tsx
  dotcom-rendering/src/web/components/ArticlePage.tsx
  dotcom-rendering/src/web/components/FrontPage.tsx
  dotcom-rendering/src/web/components/Kicker.tsx
  dotcom-rendering/src/web/components/PulsingDot.importable.tsx
  dotcom-rendering/src/web/components/PulsingDot.test.tsx
  dotcom-rendering/src/web/components/PulsingDot.tsx
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
Labels: dotcom-rendering

#7158 Add `immutable` to static assets `cache-control`
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#7157 refactor: AMP real time config
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/RegionalAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#7151 Provide helpful message when dev server encounters 'non-json' response
  dotcom-rendering/src/server/lib/get-content-from-url.js
Labels: dotcom-rendering

#7160 Update @guardian/ab-core to v3.1.0
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/SetABTests.importable.tsx
  dotcom-rendering/src/web/experiments/lib/ab-participations.ts
  dotcom-rendering/src/web/lib/useSignInGateSelector.ts
  yarn.lock
Labels: dotcom-rendering

#7139 Stop the DCR lockfile changing all the time
  .husky/post-merge
  dotcom-rendering/makefile
Labels: dotcom-rendering

#7031 Run lighthouse action in parallel
  .github/workflows/lighthouse.yml
  dotcom-rendering/lighthouserc.js
  scripts/deno/surface-lighthouse-results.ts
Labels: dotcom-rendering

#7108 feat: Use human readable IDs for sections instead of UUID
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#7172 add dev-debug target to the makefile
  dotcom-rendering/makefile
Labels: dotcom-rendering

#7128 Use CSS grid in `Section`
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/DiscussionLayout.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/components/Section.stories.tsx
  dotcom-rendering/src/web/components/Section.tsx
  dotcom-rendering/src/web/components/ShowHideButton.tsx
  dotcom-rendering/src/web/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/hiddenStyles.tsx
Labels: help wanted, dotcom-rendering

#7178 Revert "Use CSS grid in `Section`"
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/Discussion.tsx
  dotcom-rendering/src/web/components/DiscussionLayout.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/web/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/components/Section.stories.tsx
  dotcom-rendering/src/web/components/Section.tsx
  dotcom-rendering/src/web/components/ShowHideButton.tsx
  dotcom-rendering/src/web/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/hiddenStyles.tsx
Labels: dotcom-rendering

#7186 chore(riffraff): look up apps-rendering bucket name from ssm
  apps-rendering/riff-raff.yaml
Labels: apps-rendering

#7176 refactor(deno): turn each script to a step
  .github/workflows/deno.yml
  .github/workflows/lint.yml
  .github/workflows/scheduled.yml
  scripts/ci-deno.sh
  scripts/deno/README.md
  scripts/deno/deno.jsonc
  scripts/deno/github.ts
  scripts/deno/iframe-titles.ts
  scripts/deno/ophan-components.ts
  scripts/deno/peer-dependencies.ts
  scripts/deno/surface-lighthouse-results.ts
  scripts/deno/thrasher-tracker.ts
Labels: bug, Health

#7184 [Sentry] Don't log to sentry when window.ga doesn't exist
  dotcom-rendering/src/web/browser/ga/ga.ts
Labels: dotcom-rendering

#7182 Front containers using CSS grid
  dotcom-rendering/src/web/components/FrontContainer.stories.tsx
  dotcom-rendering/src/web/components/FrontContainer.tsx
Labels: enhancement, Design, dotcom-rendering, Fronts :newspaper:, Fronts container

#7124 Add Island documentation
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/islands/descriptions.mjs
  dotcom-rendering/scripts/islands/islands.html
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/AlreadyVisited.importable.tsx
  dotcom-rendering/src/web/components/AudioAtomWrapper.importable.tsx
  dotcom-rendering/src/web/components/Branding.importable.tsx
  dotcom-rendering/src/web/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/CommentCount.importable.tsx
  dotcom-rendering/src/web/components/FilterButton.importable.tsx
  dotcom-rendering/src/web/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/web/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/web/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/web/components/Liveness.importable.tsx
  dotcom-rendering/src/web/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/web/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.importable.tsx
  yarn.lock
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism

#7193 Special Report Alt: Headline
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7197 Special Report Alt: Series
  apps-rendering/src/components/Series/ImmersiveSeries.tsx
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7185 Add no-hoist rules for `@types/webpack` / `@types/react` / `types-fest`
  dotcom-rendering/package.json
  package.json
  yarn.lock
Labels: dotcom-rendering

#7183 Configure switches for test
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/plugins/index.js
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/web/lib/ArticleRenderer.tsx
  dotcom-rendering/src/web/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#7196 Switch off the variant build
  dotcom-rendering/scripts/webpack/bundles.js
Labels: dotcom-rendering

#7170 Use bucketSsmKey for static assets
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#7188 Add dynamic import / module loading failure to sentry ignores
  dotcom-rendering/src/web/browser/sentryLoader/sentry.ts
Labels: dotcom-rendering

#7030 Add SignInGate Copy ABTests
  dotcom-rendering/src/web/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateCopyTestJan2023.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/sign-in-gate-copy-test-jan2023.tsx
  dotcom-rendering/src/web/components/SignInGate/signInGate.ts
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-copy-test-variants.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#7194 Explicitly install transitive dependencies
  dotcom-rendering/package.json
  package.json
  yarn.lock
Labels: dotcom-rendering

#7189 wip
  dotcom-rendering/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: dotcom-rendering

#7187 Don't log to sentry for GA script loading errors
  dotcom-rendering/src/web/browser/ga/index.ts
Labels: dotcom-rendering

#7164 Move to node 16
  .github/workflows/pr-deployment.yml
  .github/workflows/typescript.yml
  .nvmrc
  apps-rendering/riff-raff.yaml
  apps-rendering/webpack.config.ts
  dotcom-rendering/package.json
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  dotcom-rendering/scripts/env/ensure.js
  dotcom-rendering/scripts/test/build-check.js
  yarn.lock
Labels: apps-rendering, dotcom-rendering, Health

#7207 Fix AMP ads regional classes to include New Zealand
  dotcom-rendering/src/amp/lib/region-classes.ts
Labels: commercial :moneybag:, :zap:AMP

#7198 Special Report Alt: Design Tag
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7202 Add Criteo Prebid server
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/BodyLiveblog.tsx
  dotcom-rendering/src/amp/components/RegionalAd.test.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#7206 Server side ad slots on liveblogs. 2nd 0% AB test
  dotcom-rendering/src/web/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/web/lib/liveblogAdSlots.ts
Labels: dotcom-rendering

#7205 feat(compress): only report on modern
  .github/workflows/compress.yml
Labels: github_actions, Health, :signal_strength: Open Journalism

#7208 Special Report Alt: Standfirst
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7209 Special Report Alt: Pullquote
  apps-rendering/src/palette/fill.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7118 Measure the number of times a browser goes offline
  dotcom-rendering/package.json
  dotcom-rendering/src/web/server/pageTemplate.ts
  yarn.lock
Labels: dotcom-rendering

#7217 Fix Deno scheduled task
  .github/workflows/deno.yml
  .github/workflows/lighthouse.yml
  .github/workflows/scheduled.yml
  scripts/deno/deno.lock
  scripts/deno/github.ts
  scripts/deno/iframe-titles.ts
  scripts/deno/surface-lighthouse-results.ts
  scripts/deno/thrasher-tracker.ts
Labels: bug, github_actions

#7200 DCR bundles for apps pages
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#7239 Migrate To `Optional` In `FigCaption`
  apps-rendering/src/components/BodyImage/BodyImage.defaults.tsx
  apps-rendering/src/components/BodyImage/BodyImage.stories.tsx
  apps-rendering/src/components/FigCaption/FigCaption.stories.tsx
  apps-rendering/src/components/FigCaption/index.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#7242 Add Profile and Timeline to design type
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/web/lib/decideDesign.ts
Labels: dotcom-rendering

#7221 Use SWC as the default compiler
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/web/browser/sentryLoader/index.test.ts
  dotcom-rendering/src/web/browser/sentryLoader/index.ts
Labels: dotcom-rendering

#7241 Fix loading of images on smaller viewports
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: bug, dotcom-rendering

#7245 Special Report Alt: Dropcaps
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7246 Special Report Alt: Tags
  apps-rendering/src/palette/background.ts
Labels: apps-rendering

#7199 feat(language): Handle languages other than English
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#7228 feat(apps): add apps article endpoints to dev and prod servers
  dotcom-rendering/src/apps/server/index.ts
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering

#7223 Do not load the commercial bundle for ad free users
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#7248 Special Report Alt: Lines
  apps-rendering/src/components/Layout/AnalysisLayout.tsx
  apps-rendering/src/components/Layout/CommentLayout.tsx
  apps-rendering/src/components/Layout/LabsLayout.tsx
  apps-rendering/src/components/Layout/LetterLayout.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/palette/fill.ts
  apps-rendering/src/styles.ts
Labels: apps-rendering

#7249 Special Report Alt: Figcaption
  apps-rendering/src/components/ArticleBody/index.tsx
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7226 Tidying up some fronts issues
  dotcom-rendering/src/web/components/Byline.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/web/components/Treats.tsx
  dotcom-rendering/src/web/lib/cardWrappers.tsx
Labels: dotcom-rendering

#7251 Revert "Do not load the commercial bundle for ad free users"
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#7201 refactor(Islands): report card part of build step
  dotcom-rendering/makefile
  dotcom-rendering/scripts/islands/descriptions.mjs
  dotcom-rendering/scripts/islands/island-descriptions.mjs
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: bug, dotcom-rendering, :signal_strength: Open Journalism

#7237 Add redhat yaml plugin to vscode recs
  .vscode/extensions.json
  .vscode/settings.json
  dotcom-rendering/cloudformation.yml
Labels: dotcom-rendering

#7116 Add external link icon
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/CardLink.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/SupportingContent.stories.tsx
Labels: dotcom-rendering

#7253 Group statistics files
  .github/workflows/bundle-analyser.yml
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.js
  dotcom-rendering/scripts/islands/island-descriptions.mjs
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: bug, dotcom-rendering

#7166 Drop `?url=` query in favour of paths
  .github/workflows/lighthouse.yml
  dotcom-rendering/README.md
  dotcom-rendering/cypress/e2e/parallel-1/article.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/article.elements.cy.js
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/e2e/parallel-2/banner.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/article.metaAndOphan.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-3/epic.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/commercial.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/consent.cy.js
  dotcom-rendering/cypress/paid.content.cy.js
  dotcom-rendering/cypress/snapshot/standard-layout.e2e.cy.js
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/development/run-prod-bundle-locally.md
  dotcom-rendering/lighthouserc.js
  dotcom-rendering/scripts/test/amp-validation.js
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/lib/get-content-from-url.js
  dotcom-rendering/src/server/lib/get-content-from-url.test.ts
  dotcom-rendering/src/server/prod-server.ts
  scripts/deno/surface-lighthouse-results.ts
Labels: enhancement, question, DevX, dotcom-rendering, Health

#7260 Fix the Island report card input location
  dotcom-rendering/scripts/islands/island-descriptions.mjs
Labels: dotcom-rendering

#7179 Create Snyk how-to document
  dotcom-rendering/docs/snyk/how-to.md
  dotcom-rendering/docs/snyk/snyk-dcr-structure.png
  dotcom-rendering/docs/snyk/snyk-history.png
  dotcom-rendering/docs/snyk/snyk-screenshot.png
  dotcom-rendering/docs/snyk/snyk_google_login.png
  dotcom-rendering/docs/snyk/snyk_google_sso.png
  dotcom-rendering/makefile
Labels: dotcom-rendering

#7173 SSR `TopicFilterBank`
  dotcom-rendering/src/web/components/FilterLink.stories.tsx
  dotcom-rendering/src/web/components/FilterLink.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.stories.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.test.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/lib/LiveBlogRenderer.tsx
Labels: dotcom-rendering, :signal_strength: Open Journalism

#7262 fix(TopicFilterBank): correct link logic
  dotcom-rendering/src/web/components/TopicFilterBank.tsx
Labels: bug, dotcom-rendering

#7258 Support the DCR apps article route in AR's server
  .github/workflows/ar-pr-deployment.yml
  apps-rendering/README.md
  apps-rendering/src/server/server.ts
  apps-rendering/webpack.config.ts
Labels: apps-rendering, DCAR

#7263 Special Report Alt: Dateline
  apps-rendering/src/components/Dateline/index.tsx
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7171 Add ad slot containers
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
  dotcom-rendering/src/web/components/TopRightAdSlot.importable.tsx
Labels: commercial :moneybag:, dotcom-rendering

#7266 Special Report Alt: Avatar And Follow
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7257 Don't output commercial placeholders on the server when user is ad-free
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#7267 Special Report Alt: Links
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/palette/text.ts
Labels: apps-rendering

#7269 Fix development server
  dotcom-rendering/scripts/test/amp-validation.js
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/lib/get-content-from-url.js
  dotcom-rendering/src/server/lib/get-content-from-url.test.ts
Labels: bug, dotcom-rendering

#7235 Set height of Most Viewed island to its content
  dotcom-rendering/src/web/components/MostViewedRightWrapper.importable.tsx
Labels: dotcom-rendering

#7259 refactor: one archive
  .github/workflows/bundle-analyser.yml
Labels: Health

#7265 feat(Metrics): near-zero sampling
  dotcom-rendering/src/web/components/Metrics.importable.tsx
Labels: dotcom-rendering, Health

#7181 Add path to logRendertime function
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering

#7270 Fix Horizontal Scrolling On Galleries
  apps-rendering/src/components/Footer/GalleryFooter.tsx
  apps-rendering/src/components/RelatedContent/GalleryRelatedContent.tsx
Labels: bug, apps-rendering

#7273 SWC apps webpack build
  dotcom-rendering/README.md
  dotcom-rendering/makefile
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: dotcom-rendering

#7283 feat: bump @guardian/commercial-core to v5.4.2
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7285 Handle SecureSignUpIframe FontFaceSet InvalidModificationError
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#7286 bump `@guardian/commercial-core` to `5.4.3`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7300 Reduce `OnwardsUpper` complexity and fix bug
  dotcom-rendering/src/web/components/OnwardsUpper.importable.test.tsx
  dotcom-rendering/src/web/components/OnwardsUpper.importable.tsx
Labels: bug, dotcom-rendering, Health

#7299 ShowMore button `small` -> `xsmall`
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
Labels: dotcom-rendering

#7310 Updated AWS Cloudwatch Client And Removed SSM Client
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7309 Add phone and email support to callouts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/web/components/Callout/FormField.tsx
Labels: dotcom-rendering

#7247 Apps skip links on newslettersignup
  apps-rendering/src/components/InlineSkipToWrapper/index.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
  apps-rendering/src/renderer.ts
Labels: apps-rendering
