Repository guardian/dotcom-rendering, pull requests merged in 2023-04, with the labels that each got.

#7469 Use Ozone Prebid server across all AMP content
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#7464 Add test for eager prebid
  dotcom-rendering/src/web/components/Metrics.importable.tsx
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/eager-prebid.ts
Labels: dotcom-rendering

#7506 eager-prebid ab test 5 -> 6%
  dotcom-rendering/src/web/experiments/tests/eager-prebid.ts
Labels: dotcom-rendering

#7514 Remove Cypress exception handling
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
Labels: bug, dotcom-rendering

#7515 Bump @guardian/braze-components@^12.0.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7524 fix: add ad label styles for mobile front ads
  dotcom-rendering/src/web/components/AdSlot.tsx
Labels: commercial :moneybag:, dotcom-rendering

#7512 Docs: Fix descent into `dotcom-rendering` folders in `Running instructions`
  dotcom-rendering/README.md
Labels: dotcom-rendering

#7509 Remove Unused `withKnobs` Decorators
  apps-rendering/src/components/EmbedWrapper/EmbedWrapper.stories.tsx
  apps-rendering/src/components/Footer/Footer.stories.tsx
  apps-rendering/src/components/Tags/Tags.stories.tsx
  apps-rendering/src/components/editions/avatar/avatar.stories.tsx
Labels: apps-rendering

#7510 Remove Usages Of `storybook/addon-knobs`
  apps-rendering/src/components/Anchor/Anchor.stories.tsx
  apps-rendering/src/components/Byline/Byline.stories.tsx
  apps-rendering/src/components/CommentCount/CommentCount.stories.tsx
  apps-rendering/src/components/Dateline/Dateline.stories.tsx
  apps-rendering/src/components/FootballScores/FootballScores.stories.tsx
  apps-rendering/src/components/Headline/Headline.stories.tsx
  apps-rendering/src/components/RichLink/RichLink.stories.tsx
  apps-rendering/src/components/Standfirst/Standfirst.stories.tsx
  apps-rendering/src/components/StarRating/StarRating.stories.tsx
  apps-rendering/src/components/editions/byline/byline.stories.tsx
  apps-rendering/src/components/editions/footballScores/footballScores.stories.tsx
  apps-rendering/src/components/editions/headline/headline.stories.tsx
  apps-rendering/src/components/editions/layout/layout.stories.tsx
  apps-rendering/src/components/editions/starRating/starRating.stories.tsx
Labels: apps-rendering

#7532 Remove `storybook/addon-knobs` Dependency
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  apps-rendering/yarn.lock
Labels: apps-rendering

#7368 Add new Braze newsletter banner
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.stories.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
  yarn.lock
Labels: dotcom-rendering

#7490 feat: add stories showing DropCaps on single and double letter words
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
Labels: apps-rendering, dotcom-rendering

#7538 Load commercial bundle in ad-free
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: commercial :moneybag:, dotcom-rendering

#7552 fix: Immersive headline displaying too far down
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

#7551 Don't server side render the `exclusion` ad slot
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
Labels: dotcom-rendering

#7507 email newsletter page
  dotcom-rendering/scripts/json-schema/check-schema.js
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/scripts/json-schema/get-schema.js
  dotcom-rendering/src/model/newsletter-page-schema.json
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/types/newslettersPage.ts
  dotcom-rendering/src/web/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/web/components/NewsletterList.tsx
  dotcom-rendering/src/web/components/NewsletterPageHeading.tsx
  dotcom-rendering/src/web/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/web/server/allEditorialNewslettersPageToHtml.tsx
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering

#7573 refactor: Remove un-used props from FrontSection
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/web/components/FrontSection.stories.tsx
  dotcom-rendering/src/web/components/FrontSection.tsx
  dotcom-rendering/src/web/components/NavList.stories.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#7591 Use `.storyName` To Name Stories: Story Objects
  dotcom-rendering/src/web/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/web/components/Caption.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/EmailSignup.stories.tsx
  dotcom-rendering/src/web/components/Footer.stories.tsx
  dotcom-rendering/src/web/components/FrontSection.stories.tsx
  dotcom-rendering/src/web/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/ReaderRevenueLinks.stories.tsx
  dotcom-rendering/src/web/components/Section.stories.tsx
  dotcom-rendering/src/web/components/Standfirst.stories.tsx
  dotcom-rendering/src/web/components/Toast.stories.tsx
  dotcom-rendering/src/web/components/VideoFacebookBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/VimeoBlockComponent.stories.tsx
Labels: dotcom-rendering

#7592 fix selected filter colour issue caused by global styles
  dotcom-rendering/src/web/components/FilterLink.tsx
Labels: dotcom-rendering

#7600 Move the 004-urlbox.md architecture decision from the root folder into the DCR docs folder
  dotcom-rendering/docs/architecture/3rd party technical review/004-urlbox.md
Labels: dotcom-rendering

#7604 refactor topicFilterBank to avoid mutating the array
  dotcom-rendering/src/web/components/TopicFilterBank.test.tsx
  dotcom-rendering/src/web/components/TopicFilterBank.tsx
Labels: dotcom-rendering

#7513 Storybook 7 Upgrade - DCR
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7622 Storybook 7 Upgrade - AR
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  apps-rendering/src/components/CommentCount/CommentCount.stories.tsx
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Pagination/Pagination.stories.tsx
  apps-rendering/yarn.lock
Labels: apps-rendering

#7621 Upgrade AR to React 18
  apps-rendering/config/jest.config.js
  apps-rendering/config/jestSetup.js
  apps-rendering/package.json
  apps-rendering/src/components/Deadline/index.tsx
  apps-rendering/src/renderer.ts
  apps-rendering/yarn.lock
Labels: apps-rendering

#7615 fix bug for submitting message us form
  dotcom-rendering/src/web/components/ArticleMeta.tsx
Labels: dotcom-rendering

#7442 Fix left padding in most viewed tabs
  dotcom-rendering/src/web/components/MostViewedFooterGrid.tsx
Labels: dotcom-rendering

#7617 Lower distance between ads for server-side liveblog ads AB test 3
  dotcom-rendering/src/web/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/web/lib/liveblogAdSlots.ts
Labels: dotcom-rendering

#7567 Achieve parity with frontend on merchandise high and mobile ads
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/getAdPositions.test.ts
  dotcom-rendering/src/web/lib/getAdPositions.ts
Labels: dotcom-rendering

#7627 Delete The `storybooks` Project
  dotcom-rendering/package.json
  package.json
  storybooks/.storybook/main.js
  storybooks/Readme.stories.jsx
  storybooks/package.json
  storybooks/readme.mdx
  yarn.lock
Labels: dotcom-rendering

#7649 fix: Use classname to target CMP Manage cookies button instead of button text
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/commercial.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/consent.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
Labels: dotcom-rendering

#7650 DCR - Parse HTML for blockquote element (No more unwrapping!)
  dotcom-rendering/.storybook/mocks/jsdom.js
  dotcom-rendering/src/web/components/BlockquoteBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/BlockquoteBlockComponent.tsx
Labels: dotcom-rendering

#7613 Upgrade DCR to React 18
  dotcom-rendering/package.json
  dotcom-rendering/src/web/browser/islands/doHydration.tsx
  dotcom-rendering/src/web/browser/islands/doStorybookHydration.js
  dotcom-rendering/src/web/components/CalloutEmbed/Form.test.tsx
  dotcom-rendering/src/web/components/Dropdown.test.tsx
  dotcom-rendering/src/web/components/FetchCommentCounts.importable.tsx
  yarn.lock
Labels: dotcom-rendering

#7499 feat: Bundle Server dependencies
  dotcom-rendering/Containerfile
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cloudformation.yml
  dotcom-rendering/package.json
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/lib/enhance.test.ts
  dotcom-rendering/src/amp/lib/enhance.ts
  dotcom-rendering/src/amp/server/index.tsx
  dotcom-rendering/src/server/prod-server.ts
  yarn.lock
Labels: dotcom-rendering

#7657 fix: Hydrate client side only islands correctly
  dotcom-rendering/src/web/browser/islands/doHydration.tsx
Labels: dotcom-rendering
