Repository guardian/dotcom-rendering, pull requests merged in 2023-08, with the labels that each got.

#8424 Use Fronts click through URL on carousel titles
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8418 Change merchandising high position for improved parity with frontend
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/getAdPositions.test.ts
  dotcom-rendering/src/lib/getAdPositions.ts
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#8388 Insert right ad in all variants of liveblog-right-column-ads AB test
  dotcom-rendering/package.json
  dotcom-rendering/src/components/LiveblogRightAdSlots.importable.tsx
  dotcom-rendering/src/components/LiveblogRightAdSlots.tsx
  dotcom-rendering/src/components/LiveblogRightMultipleAdSlots.importable.tsx
  dotcom-rendering/src/components/LiveblogRightMultipleAdSlots.test.tsx
  dotcom-rendering/src/components/TopRightAdSlot.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/liveblog-right-ad-constants.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8382 Start liveblog right column ads test
  dotcom-rendering/package.json
  dotcom-rendering/src/experiments/tests/liveblog-right-column-ads.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8436 Add OAuth scope to permit setting a username
  dotcom-rendering/src/lib/identity.ts
Labels: dotcom-rendering, run_chromatic

#8404 Use the scheduler to boot the app in 1% test
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/src/client/index.scheduled.ts
  dotcom-rendering/src/lib/scheduler.ts
Labels: dotcom-rendering, run_chromatic

#8445 Handle Safari 13 performance measure errors
  dotcom-rendering/src/client/islands/doHydration.tsx
  dotcom-rendering/src/client/startup.ts
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-jan2023.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/messagePicker.ts
  dotcom-rendering/src/lib/scheduler.ts
  dotcom-rendering/src/lib/startPerformanceMeasure.ts
Labels: bug, dotcom-rendering, run_chromatic

#8449 Run Cypress In TeamCity With More Memory
  dotcom-rendering/makefile
Labels: dotcom-rendering, run_chromatic

#8453 Bump @guardian/libs to v15.6.1
  dotcom-rendering/package.json
  dotcom-rendering/src/client/islands/doHydration.tsx
  dotcom-rendering/src/client/startup.ts
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-jan2023.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/messagePicker.ts
  dotcom-rendering/src/lib/scheduler.ts
  dotcom-rendering/src/lib/startPerformanceMeasure.ts
  yarn.lock
Labels: bug, dependencies, dotcom-rendering, Health, run_chromatic

#8448 Update palette colours on container grid lines
  dotcom-rendering/src/lib/decideContainerOverrides.ts
Labels: dotcom-rendering, run_chromatic

#8434 Newsletter page visual changes
  dotcom-rendering/src/components/CarouselForNewsletters.importable.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/components/NewsletterDetail.tsx
  dotcom-rendering/src/components/NewsletterPageHeading.tsx
  dotcom-rendering/src/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/SvgNewsletter.tsx
Labels: dotcom-rendering, run_chromatic

#8376 Dblatcher update newsletter groups
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#8457 Bump `@types/yarnpkg__lockfile` to v1.1.6
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  yarn.lock
Labels: dependencies, dotcom-rendering, Health, run_chromatic

#8446 Pass `idCookieSessionRefresh` option to `IdentityAuth` constructor
  dotcom-rendering/src/lib/identity.ts
Labels: dotcom-rendering, run_chromatic

#8451 Skip Cypress tests in TeamCity if `SKIP_CYPRESS` is set
  scripts/ci-dcr.sh
Labels: run_chromatic

#8458 fix: add data-link-name to image treats
  dotcom-rendering/src/components/Treats.tsx
Labels: dotcom-rendering, run_chromatic

#7955 API requests and ReCAPTCHA on all newsletters page
  dotcom-rendering/.storybook/preview.js
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.stories.tsx
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.test.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
  dotcom-rendering/src/model/newsletter-page-schema.json
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/types/newslettersPage.ts
Labels: dotcom-rendering, run_chromatic

#8464 Remove nodemon
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8461 Bump aws cdk lib
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8106 Ignore The `target` Directory For TS
  dotcom-rendering/tsconfig.json
Labels: Stale, dotcom-rendering, run_chromatic

#8426 AR `source-foundations` v13.0.0
  apps-rendering/package.json
  apps-rendering/src/components/Paragraph/index.tsx
  apps-rendering/yarn.lock
Labels: apps-rendering, run_chromatic

#8443 Add AB test for Public Good ad vendor
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/public-good.ts
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8439 use ab test switch for deeply read
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8471 docs: update LICENSE with owner
  LICENSE
Labels: documentation, run_chromatic

#8476 Prevent redeclaring variables (including eponymous types)
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8477 Remove CLS from Weather entirely
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8483 Bug Fix: add googleRecaptchaSiteKey to config
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/config.ts
Labels: dotcom-rendering, run_chromatic

#8491 Refine `constructQuery`'s parameter type
  dotcom-rendering/src/lib/querystring.test.ts
  dotcom-rendering/src/lib/querystring.ts
Labels: dotcom-rendering, Health, run_chromatic

#8487 Refactor CommonJS to prepare for ESM
  dotcom-rendering/.prettierignore
  dotcom-rendering/cypress.config.js
  dotcom-rendering/cypress/plugins/index.js
  dotcom-rendering/jest.config.js
  dotcom-rendering/scripts/json-schema/get-schema.js
Labels: dotcom-rendering, Health, run_chromatic

#8485 ESLint: Prefer `node:` protocol
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/cdk/lib/dotcom-rendering.ts
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/env/check-node.js
  dotcom-rendering/scripts/env/check-yarn.js
  dotcom-rendering/scripts/env/ensure.js
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/scripts/json-schema/check-schema.js
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/scripts/json-schema/get-schema.js
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/scripts/webpack/plugins/gu-stats-report-plugin.js
  dotcom-rendering/scripts/webpack/webpack.config.dev-server.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/lib/braze/checkBrazeDependencies.test.ts
  dotcom-rendering/src/lib/get-video-id.amp.ts
  dotcom-rendering/src/lib/messagePicker.test.tsx
  dotcom-rendering/src/model/decideBadge.ts
  dotcom-rendering/src/server/lib/aws/metrics-baseline.ts
  dotcom-rendering/src/server/lib/logging-store.ts
  dotcom-rendering/src/server/lib/logging.ts
  yarn.lock
Labels: dotcom-rendering, Health, run_chromatic

#8486 ESLint: lint JS scripts
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-node.js
  dotcom-rendering/scripts/env/check-yarn.js
  dotcom-rendering/scripts/perf/perf-test.js
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/scripts/webpack/plugins/gu-stats-report-plugin.js
  dotcom-rendering/scripts/webpack/webpack.config.js
Labels: dotcom-rendering, Health, run_chromatic

#8459 Fix sign in gate CTA button register link
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateCopyTestJan2023.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.tsx
  dotcom-rendering/src/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-jan2023.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8479 Prevent ad requests on reject all in tcfv2 on AMP
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: dotcom-rendering, run_chromatic

#7794 Delete recipe structured data experiment
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/temporaryRecipeStructuredData.ts
Labels: Stale, dotcom-rendering, run_chromatic

#8478 Explicit Header height
  dotcom-rendering/src/components/Header.tsx
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism, run_chromatic

#8462 bump pm2 and pm2/agent
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8465 Apps rendering: bump storybook to 7.2.0
  apps-rendering/package.json
  apps-rendering/yarn.lock
Labels: apps-rendering, run_chromatic

#8496 Update longRunningAlt grid border colour
  dotcom-rendering/src/lib/decideContainerOverrides.ts
Labels: dotcom-rendering, run_chromatic

#8254 Update CMP to "13.6.1"
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8508 Report all errors to Sentry if in the Okta experiment
  dotcom-rendering/src/client/sentryLoader/index.test.ts
  dotcom-rendering/src/client/sentryLoader/index.ts
Labels: dotcom-rendering, run_chromatic

#8509 Catch errors from `IdentityAuth`
  dotcom-rendering/src/lib/identity.ts
Labels: dotcom-rendering, run_chromatic

#8515 Bump `@guardian/commercial` to version 10.15
  dotcom-rendering/package.json
  yarn.lock
Labels: dependencies, commercial :moneybag:, dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8531 `Picture` Takes Precedence Over `Comment`
  apps-rendering/src/item.ts
Labels: apps-rendering, run_chromatic

#8539 Scheduler: measure module loading time
  dotcom-rendering/src/client/index.scheduled.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8524 Enable lazy-loading for most card’s pictures
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DecideContainerByTrails.stories.tsx
  dotcom-rendering/src/components/DecideContainerByTrails.tsx
  dotcom-rendering/src/components/DynamicFast.stories.tsx
  dotcom-rendering/src/components/DynamicFast.tsx
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
  dotcom-rendering/src/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/components/DynamicSlow.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/components/FixedLargeSlowXIV.tsx
  dotcom-rendering/src/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXI.tsx
  dotcom-rendering/src/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXII.tsx
  dotcom-rendering/src/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVI.tsx
  dotcom-rendering/src/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVII.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallFastVIII.tsx
  dotcom-rendering/src/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowI.tsx
  dotcom-rendering/src/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIII.tsx
  dotcom-rendering/src/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIV.tsx
  dotcom-rendering/src/components/FixedSmallSlowVHalf.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVHalf.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/Slideshow.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/components/TagFrontFastMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontFastMpu.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
  dotcom-rendering/src/lib/dynamicSlices.tsx
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism, run_chromatic

#8543 Stop covering Most Viewed hide button
  dotcom-rendering/src/components/AdSlot.tsx
Labels: dotcom-rendering, run_chromatic

#8518 Add key to BylineLink <span> element
  dotcom-rendering/src/components/BylineLink.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8554 Additional Tests For Media Article Parsing
  apps-rendering/src/item.test.ts
Labels: apps-rendering, run_chromatic

#8540 fix recaptcha component import
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8544 An improved and configurable Slideshow
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Slideshow.stories.tsx
  dotcom-rendering/src/components/Slideshow.tsx
Labels: dotcom-rendering, Fronts :newspaper:, Health, run_chromatic, Bugs from the Fronts migration

#8572 Switch off liveblog right column ads AB test
  dotcom-rendering/package.json
  dotcom-rendering/src/experiments/tests/liveblog-right-column-ads.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8481 AB Test: Fronts banners on network fronts
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#8571 Bump `@guardian/libs` to v15.6.4
  dotcom-rendering/package.json
  yarn.lock
Labels: bug, dependencies, dotcom-rendering, run_chromatic

#8579 Add missing merchandising-high slot under labs containers on fronts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8565 Make some cartoon element fields optional
  dotcom-rendering/src/components/CartoonComponent.mocks.ts
  dotcom-rendering/src/components/CartoonComponent.stories.tsx
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#8500 Performance measurements: `bootCmp` resolves after fully initialised
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/layouts/Layout.stories.tsx
  dotcom-rendering/src/lib/injectPrivacySettingsLink.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8164 Lint against `Array.prototype.forEach`
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/client/newsletterEmbedIframe.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/relativeTime/updateTimeElements.ts
  dotcom-rendering/src/client/updateIframeHeight.tsx
  dotcom-rendering/src/components/AnimatePulsingDots.importable.tsx
  dotcom-rendering/src/components/Callout/Form.tsx
  dotcom-rendering/src/components/Callout/MessageUs.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/components/Dropdown.tsx
  dotcom-rendering/src/components/FetchCommentCounts.importable.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/InteractiveContentsBlockComponent.importable.tsx
  dotcom-rendering/src/components/LightboxJavascript.importable.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/MediaMeta.test.tsx
  dotcom-rendering/src/components/RecipeMultiplier.importable.tsx
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/components/SendAMessage.importable.tsx
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/components/Snow.importable.tsx
  dotcom-rendering/src/lib/get-video-id.amp.test.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
  dotcom-rendering/src/lib/thrift/nativeConnection.ts
  dotcom-rendering/src/model/addImageIDs.ts
  dotcom-rendering/src/model/article-sections.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/enhance-newsletters-page.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/model/extractTrendingTopics.ts
  dotcom-rendering/src/model/groupTrailsByDates.ts
  dotcom-rendering/src/model/injectMpuIntoGroupedTrails.ts
  dotcom-rendering/src/model/slowOrFastByTrails.ts
  dotcom-rendering/src/model/validate.test.ts
  dotcom-rendering/src/server/lib/aws/aws-metrics.ts
  yarn.lock
Labels: dotcom-rendering, Health, run_chromatic

#8582 Bump `@guardian/identity-auth@0.5.0`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8584 Improve reliability of Cypress liveblog tests
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
Labels: dotcom-rendering, run_chromatic

#8596 Skip Cypress in TeamCity
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  scripts/ci-dcr.sh
Labels: dotcom-rendering, run_chromatic

#8588 Create a `decideUrl` function in `enhanceCards`
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8568 Scheduler: more meaningful measurements for `sentryLoader`
  dotcom-rendering/src/client/sentryLoader/index.test.ts
  dotcom-rendering/src/client/sentryLoader/index.ts
  dotcom-rendering/src/client/sentryLoader/loadSentry.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8578 refactor(scheduler): dynamicImport async method
  dotcom-rendering/src/client/dynamicImport.ts
Labels: dotcom-rendering, Health, run_chromatic

#8522 Adds `getOphan` and uses it to load Ophan
  dotcom-rendering/src/client/index.scheduled.ts
  dotcom-rendering/src/client/index.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/ophan/recordInitialPageEvents.ts
  dotcom-rendering/src/lib/useOphan.ts
Labels: dotcom-rendering, run_chromatic

#8590 Dblatcher newsletter page visual changes
  dotcom-rendering/src/components/NewsletterPageHeading.tsx
  dotcom-rendering/src/model/enhance-newsletters-page.ts
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#8601 Remove `.vscode/settings.json` from git
  .gitignore
  .vscode/settings.json.recommended
  .vscode/settings.json.required
Labels: run_chromatic

#8528 Performance measurements: `ga` resolves after fully initialised
  dotcom-rendering/src/client/ga/index.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8475 Small Weather types improvements
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
Labels: question, dotcom-rendering, Health, run_chromatic

#8581 Initialise Bridget service clients on access
  dotcom-rendering/src/lib/bridgetApi.ts
Labels: dotcom-rendering, run_chromatic

#8597 Use `@guardian/identity-auth-frontend`
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/identity.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8602 Scheduler: meaningful island boot times
  dotcom-rendering/src/client/islands/index.ts
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/components/Liveness.importable.tsx
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8608 Fix cartoon story
  dotcom-rendering/src/components/CartoonComponent.stories.tsx
Labels: dotcom-rendering, run_chromatic

#8609 Revert "Performance measurements: `ga` resolves after fully initialised"
  dotcom-rendering/src/client/ga/index.ts
Labels: dotcom-rendering, run_chromatic

#8591 Respect `rel` attribute on Links in articles
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#8610 added https to the example interactive url
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#8576 Migrate Discussion To `decidePalette`
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.stories.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.test.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.test.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.stories.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.test.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.tsx
  dotcom-rendering/src/components/Discussion/Filters.stories.tsx
  dotcom-rendering/src/components/Discussion/Filters.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.stories.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.tsx
  dotcom-rendering/src/components/Discussion/PillarButton.stories.tsx
  dotcom-rendering/src/components/Discussion/PillarButton.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/discussionPalette.ts
  dotcom-rendering/src/lib/pillarToString.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#8307 Unify comments count with (P)react & SWR
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardCommentCount.importable.stories.tsx
  dotcom-rendering/src/components/CardCommentCount.importable.tsx
  dotcom-rendering/src/components/CardCommentCount.stories.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/CommentCount.importable.tsx
  dotcom-rendering/src/components/Counts.stories.tsx
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/FetchCommentCounts.importable.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
  dotcom-rendering/src/lib/formatCount.test.ts
  dotcom-rendering/src/lib/formatCount.ts
  dotcom-rendering/src/lib/mockRESTCalls.ts
  dotcom-rendering/src/lib/useApi.tsx
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: dotcom-rendering, run_chromatic

#8612 Fronts banner ads AB test: don't insert ad above top container
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8566 infra: change definition of load balancer to GuCDK
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.ts
Labels: dotcom-rendering, run_chromatic

#8614 Refactor Guardian global object type for safety
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/client/ga/ga.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/window.guardian.ts
Labels: dotcom-rendering, Health, run_chromatic

#8615 Reinstate `ga` refactors
  dotcom-rendering/src/client/ga/index.ts
Labels: dotcom-rendering, run_chromatic

#8619 Upgrade Discussion API URL to HTTPS
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: bug, dotcom-rendering, run_chromatic

#8620 fix(palette): remove immersive styling from headlines
  dotcom-rendering/src/lib/decidePalette.ts
Labels: dotcom-rendering, run_chromatic

#8570 DCAR: Follow button
  dotcom-rendering/.storybook/main.js
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/BylineLink.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/FollowButton.test.tsx
  dotcom-rendering/src/components/FollowButton.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/HeadlineByline.stories.tsx
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8623 fix: remove refreshInterval and uniqueCommentCount increment on server for useCommentCount
  dotcom-rendering/src/lib/useCommentCount.ts
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering, run_chromatic

#8622 Drill Discussion API URL prop down
  dotcom-rendering/fixtures/manual/discussionApiUrl.ts
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/DecideContainerByTrails.stories.tsx
  dotcom-rendering/src/components/DynamicFast.stories.tsx
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVHalf.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/LabsSection.stories.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/components/NavList.stories.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/components/TagFrontFastMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/useCommentCount.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, Health, run_chromatic

#8621 Consider container border when calculating default height
  dotcom-rendering/src/components/HeaderAdSlot.tsx
Labels: dotcom-rendering, run_chromatic

#8617 Restrict width in fronts-banner ads
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8630 Cleanly crop long latest links
  dotcom-rendering/src/components/LatestLinks.importable.stories.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
Labels: bug, Design, dotcom-rendering, run_chromatic

#8618 fix sticky sign-up form on safari
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8342 Unify `PulsingDot` with the (P)react API
  dotcom-rendering/src/components/AnimatePulsingDots.importable.tsx
  dotcom-rendering/src/components/ArticleLastUpdated.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Kicker.tsx
  dotcom-rendering/src/components/PulsingDot.importable.tsx
  dotcom-rendering/src/components/PulsingDot.test.tsx
  dotcom-rendering/src/components/PulsingDot.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#8626 Simplify `useCommentCount` server logic
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: dotcom-rendering, Health, run_chromatic

#8633 Clear `localStorage` on every Story
  dotcom-rendering/.storybook/preview.js
Labels: bug, Health, run_chromatic

#8611 DCAR: Apps footer on `StandardLayout`
  dotcom-rendering/src/components/AppsFooter.importable.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/server/htmlPageTemplate.ts
Labels: dotcom-rendering, run_chromatic

#8641 Scheduler: more meaningful `performanceMonitoring`
  dotcom-rendering/src/client/performanceMonitoring.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8542 refactor(PrivacySettingsLink): use (P)react
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/PrivacySettingsLink.importable.tsx
  dotcom-rendering/src/layouts/Layout.stories.tsx
  dotcom-rendering/src/lib/injectPrivacySettingsLink.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8638 Tweak showcase layout for picture content type
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8652 Public good test to 10%
  dotcom-rendering/src/experiments/tests/public-good.ts
Labels: dotcom-rendering, run_chromatic

#8627 DCAR: Add basic (Live|Dead)Blog handling for apps
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
Labels: dotcom-rendering, run_chromatic

#8653 fix: remove refreshInterval from useCommentCount
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: dotcom-rendering, run_chromatic

#8658 fix: remove stray console.info from prod-server
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering, run_chromatic

#8660 Refactor `relativeTime` slightly
  dotcom-rendering/src/client/relativeTime/index.ts
Labels: dotcom-rendering, run_chromatic

#8654 Less work when loading `iframe`s
  dotcom-rendering/src/client/atomIframe.ts
  dotcom-rendering/src/client/embedIframe.ts
  dotcom-rendering/src/client/newsletterEmbedIframe.ts
  dotcom-rendering/src/client/updateIframeHeight.tsx
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism, run_chromatic

#8661 Scheduler: meaningful `initDiscussion` duration
  dotcom-rendering/src/client/discussion.ts
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism, run_chromatic

#8616 Reduce network calls for comments count
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: dotcom-rendering, run_chromatic

#8668 A single origin for iframes
  dotcom-rendering/src/client/newsletterEmbedIframe.ts
Labels: dotcom-rendering, run_chromatic

#8648 Scheduler for all
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8673 Bump `@guardian/libs` to enable perf logging
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8657 Prefetch script assets on HTML page responses
  dotcom-rendering/src/server/index.allEditorialNewslettersPage.web.ts
  dotcom-rendering/src/server/index.article.apps.ts
  dotcom-rendering/src/server/index.article.web.ts
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/server/lib/header.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8685 Bump `@guardian/identity-auth@1.1.0`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8688 S3: mark only hashed assets as immutable in frontend-static
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: bug, dotcom-rendering, Health, run_chromatic

#8686 Scheduler: always on for the adaptive site test
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
Labels: bug, dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8699 fix: avoid nodes embedded in non-root nodes dropping caps
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#8662 Dblatcher track newsletters with numerical
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
Labels: dotcom-rendering, run_chromatic

#8702 Perf improvements to `scheduler`
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/scheduler.test.ts
  dotcom-rendering/src/lib/scheduler.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8594 Fixed Dropcaps For New Line Heights
  apps-rendering/src/components/Paragraph/Paragraph.stories.tsx
  apps-rendering/src/components/Paragraph/index.tsx
  dotcom-rendering/src/components/DropCap.tsx
Labels: apps-rendering, dotcom-rendering, run_chromatic

#8687 Add support for Bridget method `sendTargetingParams` in DCR for Apps
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/SendTargetingParams.importable.tsx
  dotcom-rendering/src/lib/sendTargetingParams.apps.test.ts
  dotcom-rendering/src/lib/sendTargetingParams.apps.ts
Labels: dotcom-rendering, run_chromatic

#8713 Add slot targeting to AMP Ads
  dotcom-rendering/src/components/Ad.amp.tsx
  dotcom-rendering/src/components/InlineAd.amp.test.tsx
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering, run_chromatic
