Repository guardian/dotcom-rendering, pull requests merged in 2023-12, with the labels that each got.

#8991 🏝️ All islands must be rendered on the server for maximum safety and consistency 🤗
  dotcom-rendering/playwright/lib/islands.ts
  dotcom-rendering/playwright/tests/parallel-1/article.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-3/epic.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-4/atom.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-6/paid.content.e2e.spec.ts
  dotcom-rendering/src/client/islands/doHydration.tsx
  dotcom-rendering/src/client/islands/doStorybookHydration.js
  dotcom-rendering/src/components/CardCommentCount.importable.stories.tsx
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Island.tsx
  dotcom-rendering/src/components/LatestLinks.importable.stories.tsx
  dotcom-rendering/src/components/MostViewedFooterLayout.stories.tsx
  dotcom-rendering/src/components/SignInGate/README.md
  dotcom-rendering/src/layouts/Layout.stories.tsx
  dotcom-rendering/src/server/htmlPageTemplate.ts
Labels: dotcom-rendering

#9714 Do not render the carousel on Android devices
  dotcom-rendering/src/components/Carousel.importable.tsx
Labels: dotcom-rendering

#9645 Small code cleanup for Island
  dotcom-rendering/src/components/Island.tsx
Labels: dotcom-rendering

#9703 Add follow robert reich newsletter to AU, UK and US
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#9761 Auto-updating `RelativeTime` once hydrated
  dotcom-rendering/src/components/Liveness.importable.tsx
Labels: dotcom-rendering

#9773 Refactor `Form` to get rid of type assertion
  dotcom-rendering/src/components/Callout/Form.tsx
Labels: enhancement, dotcom-rendering

#9787 Support apps article scaling in Android
  dotcom-rendering/src/server/htmlPageTemplate.ts
Labels: dotcom-rendering

#9614 Dev Server Article Examples Table
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#9790 Fix Type Errors In Dev Server
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#9724 Move affiliate links disclaimer into article meta
  dotcom-rendering/src/components/Disclaimer.amp.tsx
  dotcom-rendering/src/components/Disclaimer.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/TopMetaNews.amp.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/article.amp.tsx
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering, run_chromatic

#9796 Fix asset paths when using `dev-nginx`
  dotcom-rendering/src/lib/assets.ts
Labels: dotcom-rendering, run_chromatic

#9765 Implement darkmode for Newsletter embeds
  dotcom-rendering/src/components/EmailSignup.tsx
  dotcom-rendering/src/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/components/SecureReCAPTCHASignup.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#9799 Article Examples Cross Browser
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#9794 Bump @guardian/commercial@11.25.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#9546 send consent through record, not through component event
  dotcom-rendering/src/client/bootCmp.ts
Labels: dotcom-rendering

#9817 Add note about enabling Corepack per Node to `preinstall` script
  scripts/preinstall.mjs
Labels: DevX

#9818 Change blockquotes colour for Labs to be same as body text in Light Mode
  dotcom-rendering/src/palette.ts
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9808 Fix "Most Viewed" scaling
  dotcom-rendering/src/components/BigNumber/1.svg
  dotcom-rendering/src/components/BigNumber/10.svg
  dotcom-rendering/src/components/BigNumber/2.svg
  dotcom-rendering/src/components/BigNumber/3.svg
  dotcom-rendering/src/components/BigNumber/4.svg
  dotcom-rendering/src/components/BigNumber/5.svg
  dotcom-rendering/src/components/BigNumber/6.svg
  dotcom-rendering/src/components/BigNumber/7.svg
  dotcom-rendering/src/components/BigNumber/8.svg
  dotcom-rendering/src/components/BigNumber/9.svg
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
Labels: dotcom-rendering, run_chromatic

#9822 Revert "Contain layout on Front sections"
  dotcom-rendering/src/components/FrontSection.tsx
Labels: dotcom-rendering

#9823 Only fetch liveblog epic once
  dotcom-rendering/src/lib/useSDC.ts
Labels: dotcom-rendering

#9824 Visually align `BigNumber` when stacked
  dotcom-rendering/src/components/BigNumber.stories.tsx
  dotcom-rendering/src/components/BigNumber.tsx
  dotcom-rendering/src/components/BigNumber/0.svg
  dotcom-rendering/src/components/BigNumber/1.svg
  dotcom-rendering/src/components/BigNumber/10.svg
  dotcom-rendering/src/components/BigNumber/2.svg
  dotcom-rendering/src/components/BigNumber/3.svg
  dotcom-rendering/src/components/BigNumber/4.svg
  dotcom-rendering/src/components/BigNumber/5.svg
  dotcom-rendering/src/components/BigNumber/6.svg
  dotcom-rendering/src/components/BigNumber/7.svg
  dotcom-rendering/src/components/BigNumber/8.svg
  dotcom-rendering/src/components/BigNumber/9.svg
  dotcom-rendering/src/components/BigNumber/BigNumber.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
Labels: dotcom-rendering

#9827 Migrate `atom.video` to Playwright
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/playwright/tests/parallel-5/atom.video.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-5/placeholder.e2e.spec.ts
Labels: dotcom-rendering

#9844 Set ID on newsletter field explicitly
  apps-rendering/src/components/EmailSignupForm/index.tsx
Labels: apps-rendering

#9849 Refactor usage of `cdk` to use makefile and current package manager
  dotcom-rendering/makefile
  dotcom-rendering/package.json
Labels: dotcom-rendering

#9837 Limit banner height
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering, run_chromatic

#9847 Stop sending alreadyVisited to SDC
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9758 Ld/ab test times of day freq
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/lib/mockDate.js
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SignInGate/signInGate.ts
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/cypress-switches.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-time-of-day.ts
  dotcom-rendering/src/lib/useSignInGateWillShow.ts
Labels: dotcom-rendering

#9857 Check consents for gu.alreadyVisited
  dotcom-rendering/src/components/AlreadyVisited.importable.tsx
  dotcom-rendering/src/lib/alreadyVisited.ts
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
Labels: dotcom-rendering

#9859 Use `tsx` instead of `ts-node`
  apps-rendering/cdk.json
  apps-rendering/config/tsconfig.cdk.json
  apps-rendering/package.json
  dotcom-rendering/cdk.json
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/tsconfig.cdk.json
  dotcom-rendering/tsconfig.json
  dotcom-rendering/tsconfig.test.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#9868 Pin AR dependencies to exact versions
  apps-rendering/package.json
  apps-rendering/src/components/PinnedPost/index.tsx
  yarn.lock
Labels: apps-rendering

#9873 Remove `uuid` package from DCR & AR
  apps-rendering/package.json
  apps-rendering/src/native/thrift/nativeConnection.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/thrift/nativeConnection.ts
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#9652 Use a single action to install node, deps etc in CI workflows
  .github/actions/setup-node-env/action.yml
  .github/workflows/amp.yml
  .github/workflows/ar-chromatic.yml
  .github/workflows/ar-ci.yml
  .github/workflows/ar-nodejs.yml
  .github/workflows/ar-pr-deployment.yml
  .github/workflows/build-check.yml
  .github/workflows/bundle-analyser.yml
  .github/workflows/compress.yml
  .github/workflows/container.yml
  .github/workflows/cypress.yml
  .github/workflows/dcr-chromatic.yml
  .github/workflows/jest.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-deployment.yml
  .github/workflows/prettier.yml
  .github/workflows/scheduled.yml
  .github/workflows/schema-check.yml
  .github/workflows/stories-check.yml
  .github/workflows/typescript.yml
  package.json
Labels: DevX

#9848 Enable darkmode for explainer atoms 🌞 🌚
  dotcom-rendering/src/components/ExplainerAtom.stories.tsx
  dotcom-rendering/src/components/ExplainerAtom.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#9862 Update merchandising-high and merchandising ad slot styles
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/DecideFrontsAdSlots.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/getLiveblogAdPositions.ts
  dotcom-rendering/src/lib/liveblogAdSlots.ts
Labels: dotcom-rendering, run_chromatic

#9722 Bump braze-components dependency
  dotcom-rendering/package.json
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.stories.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.stories.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9898 Reinstate `uuid` package in DCR & AR
  apps-rendering/package.json
  apps-rendering/src/native/thrift/nativeConnection.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/thrift/nativeConnection.ts
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/webpack/webpack.config.server.js
  yarn.lock
Labels: Dependencies, apps-rendering, dotcom-rendering

#9903 Align Bridget dependencies to 2.6.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#9889 Restrict max-width of merchandising ad slots to 1300px
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#9906 Align all React related deps in AR & DCR
  apps-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/components/TwitterBlockComponent.amp.tsx
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#9913 chore(deps): add direct dependency on node-int64
  apps-rendering/package.json
  yarn.lock
Labels: apps-rendering

#9917 Remove direct dependency on `express-serve-static-core` and its types
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#9916 Import `node-int64` from `thrift`
  apps-rendering/package.json
  apps-rendering/src/atoms.test.ts
  apps-rendering/src/atoms.ts
  apps-rendering/src/campaign.test.ts
  apps-rendering/src/item.test.ts
  yarn.lock
Labels: apps-rendering

#9899 Migrate `braze` to Playwright
  dotcom-rendering/cypress/e2e/parallel-2/braze.cy.js
  dotcom-rendering/playwright/lib/network.ts
  dotcom-rendering/playwright/tests/parallel-2/braze.e2e.spec.ts
Labels: dotcom-rendering

#9918 Add `@smithy/property-provider` as a direct dependency of `apps-rendering`
  apps-rendering/package.json
  yarn.lock
Labels: apps-rendering

#9921 Align webpack deps across AR and DCR
  apps-rendering/package.json
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#9920 Provide a typescript transpiler for `apps-rendering`'s webpack config
  apps-rendering/package.json
  yarn.lock
Labels: apps-rendering, DevX

#9922 include `.yaml` extensions in yaml formatting rules
  .editorconfig
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  dotcom-rendering/scripts/nginx/nginx-mappings.yaml
Labels: dotcom-rendering

#9858 Migrate `article.elements` to Playwright
  dotcom-rendering/cypress/e2e/parallel-1/article.elements.cy.js
  dotcom-rendering/playwright/lib/cmp.ts
  dotcom-rendering/playwright/lib/islands.ts
  dotcom-rendering/playwright/tests/parallel-1/article.embeds.e2e.spec.ts
Labels: dotcom-rendering

#9904 Align `@guardian/cdk` and `aws-cdk` deps accross AR & DCR
  apps-rendering/package.json
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering

#9934 Revert "Ld/ab test times of day freq (#9758)"
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/lib/mockDate.js
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SignInGate/signInGate.ts
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/cypress-switches.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-time-of-day.ts
  dotcom-rendering/src/lib/useSignInGateWillShow.ts
Labels: dotcom-rendering

#8777 Proposal for a new way of configuring webpack
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/README.md
  dotcom-rendering/configs/webpack/base.mjs
  dotcom-rendering/configs/webpack/bundle.apps.mjs
  dotcom-rendering/configs/webpack/bundle.server.dev.mjs
  dotcom-rendering/configs/webpack/bundle.server.mjs
  dotcom-rendering/configs/webpack/bundle.web.legacy.mjs
  dotcom-rendering/configs/webpack/bundle.web.mjs
  dotcom-rendering/configs/webpack/bundle.web.scheduled.mjs
  dotcom-rendering/configs/webpack/bundle.web.variant.mjs
  dotcom-rendering/configs/webpack/utils/env.mjs
  dotcom-rendering/webpack.config.mjs
Labels: dotcom-rendering, RFC

#9938 Warn on non-SSR friendly code
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/jest/setup.ts
  yarn.lock
Labels: dotcom-rendering

#9923 Modify NumberedList dark mode styles
  dotcom-rendering/src/components/NumberedTitleBlockComponent.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#9944 Lift state up in `Comments`
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.test.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering

#9939 Make Discussion server-safe with hooks
  dotcom-rendering/src/components/Discussion.tsx
Labels: dotcom-rendering

#9940 Awaited type in `SetABTest` rather than derived from window
  dotcom-rendering/src/components/SetABTests.importable.tsx
Labels: dotcom-rendering

#9941 Pass switches explicitely to `SlotBodyEnd`
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#9813 Dark Mode For Audio Atoms
  dotcom-rendering/src/components/AudioAtom/AudioAtom.stories.tsx
  dotcom-rendering/src/components/AudioAtom/AudioAtom.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#9950 Add light/dark mode stories to expanding atoms
  dotcom-rendering/src/components/GuideAtom/GuideAtom.stories.tsx
  dotcom-rendering/src/components/ProfileAtom.stories.tsx
  dotcom-rendering/src/components/QandaAtom.stories.tsx
  dotcom-rendering/src/components/TimelineAtom.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9951 Add darkmode to the expanding wrapper component
  dotcom-rendering/src/components/ExpandableAtom/Body.tsx
  dotcom-rendering/src/components/ExpandableAtom/Container.tsx
  dotcom-rendering/src/components/ExpandableAtom/Footer.tsx
  dotcom-rendering/src/components/ExpandableAtom/Summary.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#9953 Refactor Expanding Atoms
  dotcom-rendering/fixtures/manual/guideAtom.ts
  dotcom-rendering/fixtures/manual/qandaAtom.tsx
  dotcom-rendering/fixtures/manual/timelineAtom.tsx
  dotcom-rendering/src/components/ExpandableAtom/Body.tsx
  dotcom-rendering/src/components/ExpandableAtom/Container.tsx
  dotcom-rendering/src/components/ExpandableAtom/Footer.tsx
  dotcom-rendering/src/components/ExpandableAtom/Summary.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.tsx
  dotcom-rendering/src/components/ProfileAtom.importable.tsx
  dotcom-rendering/src/components/ProfileAtom.stories.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.importable.tsx
  dotcom-rendering/src/components/TimelineAtom.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#9636 Create AB test and additional sizes for MPU when no epic
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/mpu-when-no-epic.ts
Labels: Commercial :moneybag:, dotcom-rendering

#9930 add styling to detect merch billboard class
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#9962 No imperative DOM removal in Lightbox
  dotcom-rendering/src/components/Lightbox.stories.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/LightboxJavascript.importable.tsx
  dotcom-rendering/src/components/LightboxLoader.tsx
Labels: dotcom-rendering

#9960 Add Reclaim Your Brain newsletter to All Newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#9949 Refactor `useCommentCount` to rely on hook for window access
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: dotcom-rendering

#9967 Fix `doctoc` Scripts
  dotcom-rendering/package.json
Labels: dotcom-rendering

#9970 Hide video duration on card when zero
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, run_chromatic

#9926 Add `rp` (rendering-platform) ad targeting property to apps
  dotcom-rendering/src/lib/sendTargetingParams.apps.test.ts
  dotcom-rendering/src/lib/sendTargetingParams.apps.ts
Labels: dotcom-rendering

#9987 Make Lightbox images loading work better
  dotcom-rendering/src/components/Lightbox.stories.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/LightboxJavascript.importable.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering

#9986 Add SWC config schema
  dotcom-rendering/webpack/.swcrc.json
Labels: dotcom-rendering

#9965 Refactor sign in after co tests
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.test.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.tsx
  dotcom-rendering/src/lib/signInAfterCheckOutText.ts
Labels: dotcom-rendering

#9806 Add Support For Descriptions Of Article Examples
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#9981 Add titles to Chart Atoms
  dotcom-rendering/src/components/ChartAtom.importable.tsx
  dotcom-rendering/src/components/ChartAtom.test.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#9979 Pass interactive titles to their iframes
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/manual/InteractiveAtomBlockElement.ts
  dotcom-rendering/src/components/ChartAtom.importable.tsx
  dotcom-rendering/src/components/ChartAtom.test.tsx
  dotcom-rendering/src/components/InteractiveAtom.stories.tsx
  dotcom-rendering/src/components/InteractiveAtom.tsx
  dotcom-rendering/src/lib/enhance.amp.test.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#9989 Rely on `useCallback` instead of `useRef`
  dotcom-rendering/src/components/ChartAtom.stories.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering

#9992 Temporarily Increase Instance Startup Wait Time
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#9991 add updated classname for merch slot hide
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#9998 Remove dvh from banner wrapper
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering, run_chromatic

#10001 Fix Playwright `article.interactivity` nav tests
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Nav/ExpandedMenu/ExpandedMenu.tsx
Labels: dotcom-rendering

#10003 Allow typos in Youtube ids for AMP
  dotcom-rendering/src/components/VideoYoutubeBlockComponent.amp.tsx
  dotcom-rendering/src/lib/get-video-id.amp.test.ts
Labels: dotcom-rendering

#10005 AR: Only use drop cap on the first paragraph
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering, run_chromatic, Rota

#10002 Fix scrolling on banners
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#10009 feat: increase max-height on stickiness from 80 -> 95
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#10008 AR: Allow drop cap after section break
  apps-rendering/src/renderer.test.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering, run_chromatic
