Repository guardian/dotcom-rendering, pull requests merged in 2023-10, with the labels that each got.

#8952 Restrict fronts banner max height to 600px + label
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#8944 Island handle their own placeholders
  dotcom-rendering/cypress/e2e/parallel-3/article.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/components/DiscussionLayout.tsx
  dotcom-rendering/src/components/EmailSignUpSwitcher.tsx
  dotcom-rendering/src/components/Island.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/components/SecureSignup.tsx
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/useHydrated.ts
Labels: dotcom-rendering, Health, :signal_strength: Open Journalism, run_chromatic

#8876 Implement new ab testing copy
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateCopyTestRepeatSept2023.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SignInGate/gates/sign-in-gate-copy-test-repeat-sept2023.tsx
  dotcom-rendering/src/components/SignInGate/signInGate.ts
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/cypress-switches.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-copy-test-variants.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-control.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering, run_chromatic

#8963 fix: remove most of the .snyk file bar ignoring AGPL licensing for pm2
  dotcom-rendering/.snyk
Labels: run_chromatic

#8973 Surface front-level branding
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/lib/branding.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/types/branding.ts
  dotcom-rendering/src/types/front.ts
Labels: 🥒WiP, dotcom-rendering, run_chromatic

#8994 Add min-height to the fronts-banner ad slot
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#8933 Migrate AR over to guardian/fonts
  apps-rendering/config/rendered-items-assets-styles.ts
  apps-rendering/src/server/csp.ts
  apps-rendering/src/server/editionsPage.tsx
  apps-rendering/src/styles.ts
  apps-rendering/webpack.config.ts
Labels: apps-rendering, run_chromatic

#8986 Group Dependabot Storybook Updates In DCR And AR
  .github/dependabot.yml
Labels: run_chromatic

#9013 Add `ShowcaseLayout` for apps
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9025 Stop sending Okta errors to Sentry
  dotcom-rendering/src/lib/identity.ts
Labels: dotcom-rendering, run_chromatic

#9028 Ophan v2 for all
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/scripts/webpack/bundles.js
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/scripts/webpack/webpack.config.js
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  yarn.lock
Labels: dependencies, dotcom-rendering, run_chromatic

#8965 use `getOphan` everywhere
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/ophan/recordInitialPageEvents.ts
  dotcom-rendering/src/components/Dropdown.tsx
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/SecureReCAPTCHASignup.tsx
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/components/SetABTests.importable.tsx
  dotcom-rendering/src/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomSticky.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/messagePicker.test.tsx
  dotcom-rendering/src/lib/messagePicker.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
Labels: dotcom-rendering, run_chromatic

#9022 Add eager prebid test
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/eager-prebid.ts
Labels: dotcom-rendering, run_chromatic

#8969 Use DCR Image optimizer for YoutubeAtom
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/YoutubeAtom/Picture.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#8967 Adaptive site: refactor Island `defer` props
  dotcom-rendering/docs/lightbox.md
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticleLastUpdated.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DiscussionLayout.tsx
  dotcom-rendering/src/components/EmailSignUpSwitcher.tsx
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/GroupedNewsletterList.tsx
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Island.tsx
  dotcom-rendering/src/components/Kicker.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/components/SecureSignup.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  scripts/deno/ophan-components.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#9035 Do actually hydrate islands according to their priority...
  dotcom-rendering/src/client/islands/getPriority.ts
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/client/islands/onInteraction.ts
  dotcom-rendering/src/client/islands/whenVisible.ts
  dotcom-rendering/src/lib/scheduler.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#8966 Respect show video flag
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#9021 Adaptive site: hydrate islands according to their priority
  dotcom-rendering/src/client/islands/getPriority.ts
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/client/islands/onInteraction.ts
  dotcom-rendering/src/lib/scheduler.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#9037 Fix cluster mode logs
  dotcom-rendering/src/server/lib/logging.ts
Labels: dotcom-rendering, run_chromatic

#9036 Fix stretched IMA video container
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
Labels: dotcom-rendering, run_chromatic

#9051 Stop building the variant bundle
  dotcom-rendering/scripts/webpack/bundles.js
Labels: dotcom-rendering, run_chromatic

#9050 Adaptive site: recategorise some islands
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/cypress/e2e/parallel-5/atom.video.cy.js
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/LiveBlogRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#9038 Fix bug in `MostViewedDataFooter` when `section` is empty
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9072 Make `RichLinkComponent` safe with invalid URLs
  dotcom-rendering/src/components/RichLinkComponent.importable.test.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9024 Adaptive site: disable non-critical tasks for users in the `adaptive-site` test
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/client/index.ts
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#9077 Handle lack of `row-gap` support in `UL`’s flex column
  dotcom-rendering/src/components/Card/components/UL.tsx
Labels: bug, dotcom-rendering, run_chromatic, Bugs from the Fronts migration

#9030 Implement standard interactive layout for apps
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9079 add chart atom
  dotcom-rendering/fixtures/manual/chartAtoms.tsx
  dotcom-rendering/src/components/ChartAtom.importable.tsx
  dotcom-rendering/src/components/ChartAtom.test.tsx
  dotcom-rendering/src/components/ChartAtomWrapper.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#9091 Migrate explainer atom to DCR
  dotcom-rendering/src/components/ExplainerAtom.stories.tsx
  dotcom-rendering/src/components/ExplainerAtom.test.tsx
  dotcom-rendering/src/components/ExplainerAtom.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#9094 Add an apps interactive endpoint to DCR
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/index.article.apps.ts
  dotcom-rendering/src/server/prod-server.ts
Labels: dotcom-rendering, run_chromatic

#9098 Narrow branding types
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/decideBadge.test.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/types/branding.ts
Labels: dotcom-rendering, run_chromatic

#9095 Record site was adapted
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/ophan/recordInitialPageEvents.ts
  dotcom-rendering/src/client/poorPerformanceMonitoring.ts
Labels: dotcom-rendering, run_chromatic

#9107 Add video atom
  dotcom-rendering/src/components/VideoAtom.stories.tsx
  dotcom-rendering/src/components/VideoAtom.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#9106 Added the profile atom to this project
  dotcom-rendering/src/components/ProfileAtom.importable.tsx
  dotcom-rendering/src/components/ProfileAtom.stories.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/ProfileAtomWrapper.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#9105 Turn off cluster mode
  dotcom-rendering/makefile
Labels: dotcom-rendering, run_chromatic

#9114 Remove Section Fronts AB test
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#8728 feat: add front rendering app
  .github/workflows/publish.yml
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.ts
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.mjs
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering, run_chromatic

#9118 fix: use correct riff-raff dependency for front-web
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering, run_chromatic

#9120 fix: add compression of front-web app
  .github/workflows/publish.yml
Labels: run_chromatic

#9104 Lazy-load pictures on Fronts, except when in the first container
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#9080 Refactor relative time as an Island
  dotcom-rendering/src/client/index.apps.ts
  dotcom-rendering/src/client/index.ts
  dotcom-rendering/src/client/relativeTime/index.ts
  dotcom-rendering/src/client/relativeTime/updateTimeElements.test.tsx
  dotcom-rendering/src/client/relativeTime/updateTimeElements.ts
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/KeyEvents.tsx
  dotcom-rendering/src/components/KeyEventsContainer.test.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/PinnedPost.tsx
  dotcom-rendering/src/components/RelativeTime.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9122 Better alignment for `DropCap` on Safari
  dotcom-rendering/src/components/DropCap.tsx
Labels: dotcom-rendering, run_chromatic, Pick me up

#9123 Refactor DropCaps
  dotcom-rendering/src/components/DropCap.tsx
Labels: dotcom-rendering, run_chromatic

#9136 Defer `ShowHideContainers` island until idle
  dotcom-rendering/src/components/FrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#9132 Update AR And DCR To Node 18.18.2
  .nvmrc
  apps-rendering/riff-raff.yaml
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  scripts/check-node-versions.mjs
Labels: apps-rendering, dotcom-rendering, run_chromatic

#9142 Adaptive site: `Metrics` is critical
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: bug, dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#9145 Fix Sublinks on Supporting Content Extending Past Card Image
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering, run_chromatic

#9133 Migrate quiz atoms from atoms-rendering
  dotcom-rendering/cypress/e2e/parallel-4/atom.interactivity.cy.js
  dotcom-rendering/fixtures/manual/ensure.ts
  dotcom-rendering/fixtures/manual/knowledgeQuizAtom.ts
  dotcom-rendering/fixtures/manual/personalityQuizAtom.ts
  dotcom-rendering/fixtures/manual/sharingUrls.ts
  dotcom-rendering/src/components/Answers.stories.tsx
  dotcom-rendering/src/components/Answers.tsx
  dotcom-rendering/src/components/KnowledgeQuizAtom.importable.tsx
  dotcom-rendering/src/components/KnowledgeQuizAtom.stories.tsx
  dotcom-rendering/src/components/KnowledgeQuizAtom.test.tsx
  dotcom-rendering/src/components/KnowledgeQuizAtomWrapper.importable.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.importable.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.stories.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.test.tsx
  dotcom-rendering/src/components/PersonalityQuizAtomWrapper.importable.tsx
  dotcom-rendering/src/components/SharingIcons.stories.tsx
  dotcom-rendering/src/components/SharingIcons.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#9086 Support `ImmersiveLayout` in DCR for Apps
  dotcom-rendering/scripts/gen-stories/get-stories.js
  dotcom-rendering/src/components/AppsLightboxImage.importable.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9149 Adjust topic styling
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/components/TrendingTopics.tsx
Labels: dotcom-rendering, run_chromatic

#9151 Remove Google Analytics from apps articles
  dotcom-rendering/src/client/index.apps.ts
Labels: dotcom-rendering, run_chromatic

#9108 Allow drop cap for shorter text content
  dotcom-rendering/src/components/TextBlockComponent.stories.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#9152 Add a test for Islands rendering on the server
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/components/Island.test.tsx
Labels: dotcom-rendering, run_chromatic

#9124 Set eager prebid test audience to 0%
  dotcom-rendering/src/experiments/tests/eager-prebid.ts
Labels: dotcom-rendering, run_chromatic

#9162 Make `SetABTests` Island server safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SetABTests.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9164 Migrate Timeline atom from atoms-rendering
  dotcom-rendering/fixtures/manual/timelineAtom.tsx
  dotcom-rendering/src/components/TimelineAtom.importable.tsx
  dotcom-rendering/src/components/TimelineAtom.stories.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/TimelineAtomWrapper.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#9168 Migrate interactive atoms
  dotcom-rendering/fixtures/manual/InteractiveAtomBlockElement.ts
  dotcom-rendering/fixtures/manual/InteractiveLayoutAtom.ts
  dotcom-rendering/src/components/InteractiveAtom.stories.tsx
  dotcom-rendering/src/components/InteractiveAtom.tsx
  dotcom-rendering/src/components/InteractiveLayoutAtom.stories.tsx
  dotcom-rendering/src/components/InteractiveLayoutAtom.test.tsx
  dotcom-rendering/src/components/InteractiveLayoutAtom.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/lib/unifyPageContent.test.tsx
  dotcom-rendering/src/lib/unifyPageContent.tsx
Labels: dotcom-rendering, run_chromatic

#9167 Fix drop caps with invisible elements
  dotcom-rendering/src/components/TextBlockComponent.stories.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: bug, dotcom-rendering, run_chromatic

#9161 Enable refreshing on fronts banners
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#9143 Bump `@babel/core@7.23.2`
  apps-rendering/package.json
  apps-rendering/yarn.lock
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering, run_chromatic

#9144 Bump `source-react-components(-development-kitchen)`, `atoms-rendering`
  apps-rendering/package.json
  apps-rendering/yarn.lock
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering, run_chromatic

#9174 Refactor “drop cap” logic
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#9137 Remove `ophan-tracker-js` from webpack config
  dotcom-rendering/scripts/webpack/webpack.config.client.js
  dotcom-rendering/src/client/index.apps.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering, run_chromatic

#9179 Revert "Updates the Standfirst for Standard article/design"
  dotcom-rendering/src/components/Standfirst.tsx
Labels: dotcom-rendering, run_chromatic

#9178 Align inline2+ ad slots with slot=right
  dotcom-rendering/src/components/ArticleContainer.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#9182 Don't fail a consent.cy test when an uncaught exception is thrown from consentless ads
  dotcom-rendering/cypress/e2e/parallel-6/consent.cy.js
Labels: run_chromatic

#9217 Improve ReaderRevenueBanner types
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering, run_chromatic

#9121 Insert fronts banner ads on fronts
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/layouts/lib/decideAdSlots.test.ts
  dotcom-rendering/src/layouts/lib/decideAdSlots.tsx
  dotcom-rendering/src/lib/commercial-constants.ts
  dotcom-rendering/src/lib/frontsBannerAbTestAdPositions.ts
  dotcom-rendering/src/lib/frontsBannerExclusions.ts
  dotcom-rendering/src/types/commercial.ts
Labels: dotcom-rendering, run_chromatic

#9225 Don't apply flex-end alignment to fronts-banner containers
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#9222 Bump commercial to 11.16.2
  dotcom-rendering/package.json
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9229 Move full-width class to fronts-banner container
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#9233 Make `InteractiveSupportButton` Island server safe
  dotcom-rendering/src/components/InteractiveSupportButton.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
Labels: dotcom-rendering, run_chromatic

#9180 Fill article end slot via custom event
  dotcom-rendering/package.json
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9176 Replace useOnce with useEffect when no dependencies
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/LightboxHash.importable.tsx
  dotcom-rendering/src/components/PrivacySettingsLink.importable.tsx
  dotcom-rendering/src/components/RecipeMultiplier.importable.tsx
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/tuple.ts
  dotcom-rendering/src/lib/useHydrated.ts
  dotcom-rendering/src/lib/useOnce.ts
  dotcom-rendering/src/lib/useShouldAdapt.ts
Labels: dotcom-rendering, run_chromatic

#9243 Remove unused `useOphan` hook
  dotcom-rendering/src/lib/useOphan.ts
Labels: dotcom-rendering, run_chromatic

#9237 Stub Ophan `record` method in DCAR
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/client/index.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/ophan/recordInitialPageEvents.ts
  dotcom-rendering/src/client/poorPerformanceMonitoring.ts
  dotcom-rendering/src/components/BrazeMessaging.importable.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/Dropdown.tsx
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/components/ProfileAtom.importable.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.importable.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/SecureReCAPTCHASignup.tsx
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/TimelineAtom.importable.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomSticky.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/messagePicker.test.tsx
  dotcom-rendering/src/lib/messagePicker.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
  dotcom-rendering/src/lib/useBraze.ts
Labels: dotcom-rendering, run_chromatic

#9246 Update the footer platform label
  apps-rendering/src/components/FooterContent/index.tsx
  dotcom-rendering/README.md
  dotcom-rendering/src/components/AppsFooter.importable.tsx
  dotcom-rendering/src/components/FooterLabel.importable.tsx
Labels: apps-rendering, dotcom-rendering, run_chromatic

#9236 Make `LiveBlogEpic` Island server safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
Labels: dotcom-rendering, run_chromatic

#8670 Delete old DCR container images
  .github/workflows/delete-old-packages.yml
Labels: run_chromatic

#9139 Update Node To 18.18.2 In `Containerfile`
  dotcom-rendering/Containerfile
  scripts/check-node-versions.mjs
Labels: dotcom-rendering, run_chromatic

#9247 Message for beta apps user about missing dark mode
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/DarkModeMessage.tsx
Labels: dotcom-rendering, run_chromatic, DCR for Apps

#9253 Disable pinch to zoom in DCAR
  dotcom-rendering/src/server/htmlPageTemplate.ts
Labels: dotcom-rendering, run_chromatic, DCR for Apps

#9266 k6 load test scripts
  .gitignore
  dotcom-rendering/package.json
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/scripts/perf/k6/k6-install.sh
  dotcom-rendering/scripts/perf/k6/k6.mjs
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9234 Make `StickyBottomBanner` Island server safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering, run_chromatic

#9291 Fix `StickyBottomBanner` issues
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#9270 Move standfirst to appear above media in the Picture layout
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/src/layouts/PictureLayout.tsx
Labels: dotcom-rendering, run_chromatic

#9292 Update copy of dark mode message
  dotcom-rendering/src/components/DarkModeMessage.tsx
Labels: dotcom-rendering, run_chromatic

#9302 Update data-loading-strategy for AMP ads
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: dotcom-rendering, run_chromatic

#9023 Refactor the branding applied to collections
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/assert-unreachable.ts
  dotcom-rendering/src/lib/branding.test.ts
  dotcom-rendering/src/lib/branding.ts
  dotcom-rendering/src/lib/tuple.test.ts
  dotcom-rendering/src/lib/tuple.ts
  dotcom-rendering/src/model/decideBadge.test.ts
  dotcom-rendering/src/model/decideBadge.ts
  dotcom-rendering/src/model/decideEditorialBadge.test.ts
  dotcom-rendering/src/model/decideEditorialBadge.ts
  dotcom-rendering/src/model/decideSponsoredContentBranding.test.ts
  dotcom-rendering/src/model/decideSponsoredContentBranding.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/types/branding.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#9314 Allow GIFs in `ImageComponent`
  dotcom-rendering/src/components/ImageComponent.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#9336 Fix missing containers on tag fronts
  dotcom-rendering/src/model/injectMpuIntoGroupedTrails.ts
Labels: dotcom-rendering, run_chromatic

#9340 Fix tag fronts that were missing a bio/description
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/types/tag.ts
Labels: dotcom-rendering, run_chromatic

#9286 Format boundary for palettes 🎨
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/FormatBoundary.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/types/configContext.ts
Labels: dotcom-rendering, run_chromatic

#9261 Updated CMP and Commercial
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9318 Support using `yalc` for local development
  dotcom-rendering/scripts/env/check-deps.js
Labels: dotcom-rendering, run_chromatic

#9315 Use a strict boolean for dark mode available in Config
  dotcom-rendering/.storybook/decorators/configContextDecorator.tsx
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/KeyEventsContainer.test.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.amp.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/configContext.ts
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9313 Make `Metrics` Island server safe
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#9257 Darkmode – Avatar 👤
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/Avatar.stories.tsx
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/components/FormatBoundary.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlockContainer.tsx
  dotcom-rendering/src/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/MostViewedRightItem.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.test.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#9335 Bump crypto-js to 4.2.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#9344 Remove MPU injection into containers from tag fronts
  dotcom-rendering/src/components/TagFrontFastMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontFastMpu.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.stories.tsx
  dotcom-rendering/src/components/TagFrontSlowMpu.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/model/injectMpuIntoGroupedTrails.ts
  dotcom-rendering/src/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic, Tag Fronts

#9353 Make `SlotBodyEnd` Island server-safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/lib/useCountryCode.ts
Labels: dotcom-rendering, run_chromatic

#9343 Allow multimedia.guardianapis in the apps rendering csp
  apps-rendering/src/server/csp.ts
Labels: apps-rendering, run_chromatic

#9354 Only report on “web” bundle size
  .github/workflows/compress.yml
Labels: Bug, run_chromatic

#9358 Remove unused `window.scheduler.d.ts`
  dotcom-rendering/window.scheduler.d.ts
Labels: dotcom-rendering, run_chromatic

#9283 Darkmode – Follow button ⏺️
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/FollowButton.stories.tsx
  dotcom-rendering/src/components/FollowButton.test.tsx
  dotcom-rendering/src/components/FollowButton.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#9366 Make `Lightbox` Island server safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LightboxJavascript.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9367 Make `SignInGateSelector` Island server safe
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering, run_chromatic

#9370 Fix PageSkins overlay when expending nav
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#9357 prep identity and useAuthStatus modules for user-features addition
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.stories.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/lib/getBrazeUuid.ts
  dotcom-rendering/src/lib/identity.ts
  dotcom-rendering/src/lib/useAuthStatus.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic
