Repository guardian/dotcom-rendering, pull requests merged in 2023-06, with the labels that each got.

#7833 Consume `isNonNullable` from @guardian/libs
  dotcom-rendering/src/amp/components/Elements.tsx
  dotcom-rendering/src/amp/lib/scripts.ts
  dotcom-rendering/src/amp/lib/srcset-utils.ts
  dotcom-rendering/src/model/extractTrendingTopics.ts
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
Labels: dotcom-rendering, Health, run_chromatic

#7834 Do not show side borders in thrashers
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7764 Guardian Labs: sponsor badge
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/decideBadge.ts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/badge.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/palette.ts
  dotcom-rendering/src/web/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/web/components/ArticleTitle.tsx
  dotcom-rendering/src/web/components/Badge.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/FrontSection.tsx
  dotcom-rendering/src/web/components/MiniCard.tsx
  dotcom-rendering/src/web/components/NavList.tsx
  dotcom-rendering/src/web/components/Section.tsx
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
  dotcom-rendering/src/web/lib/decidePalette.ts
  dotcom-rendering/src/web/lib/verticalDivider.ts
  dotcom-rendering/src/web/lib/verticalDividerWithBottomOffset.ts
Labels: dotcom-rendering, run_chromatic

#7832 Only render ads on fronts if `renderAds` is true
  dotcom-rendering/src/web/components/HeaderAdSlot.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/getAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#7831 feat(bork): consistent degradation by browser
  dotcom-rendering/src/web/bork/fcp.ts
  dotcom-rendering/src/web/bork/fid.ts
  dotcom-rendering/src/web/bork/remap.test.ts
  dotcom-rendering/src/web/bork/remap.ts
  dotcom-rendering/src/web/server/htmlPageTemplate.ts
Labels: dotcom-rendering, run_chromatic

#7838 Fix article badge schema
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/decideBadge.ts
  dotcom-rendering/src/types/badge.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/web/components/ArticleTitle.tsx
  dotcom-rendering/src/web/components/FrontSection.tsx
  dotcom-rendering/src/web/components/SeriesSectionLink.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/server/index.article.web.ts
Labels: dotcom-rendering, run_chromatic

#7840 Adds missing newsletter treat and missing Qatar football treat
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/enhanceTreats.ts
Labels: dotcom-rendering, run_chromatic

#7853 Remove viewport grid line
  dotcom-rendering/src/web/components/FrontSection.tsx
Labels: dotcom-rendering, run_chromatic

#7849 Delete `important-files.md`
  dotcom-rendering/docs/important-files.md
Labels: dotcom-rendering, run_chromatic

#7859 fix(cypress): update article URL for paid content test
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
Labels: dotcom-rendering, run_chromatic

#7858 refactor(startup): remove generic type and helpers parameter from `startup`
  dotcom-rendering/src/web/client/index.ts
  dotcom-rendering/src/web/client/startup.ts
Labels: dotcom-rendering, run_chromatic

#7864 Increase Inline Merch test participation to `10%`
  dotcom-rendering/src/web/experiments/tests/limit-inline-merch.ts
Labels: dotcom-rendering, run_chromatic

#7852 `Slideshow`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/Slideshow.tsx
Labels: dotcom-rendering, run_chromatic

#7868 Fix SpecialReportAlt card straight lines
  dotcom-rendering/src/web/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/web/lib/decideContainerOverrides.ts
Labels: dotcom-rendering, run_chromatic

#7872 Make `imageCaption` optional in fronts schema
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/CardPicture.tsx
Labels: dotcom-rendering, run_chromatic

#7874 Delegate handling errors to Expresse's ErrorRequestHandler
  dotcom-rendering/src/web/server/index.allEditorialNewslettersPage.web.ts
  dotcom-rendering/src/web/server/index.article.apps.ts
  dotcom-rendering/src/web/server/index.article.web.ts
  dotcom-rendering/src/web/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic

#7844 Remove README References To Arch Diagram
  dotcom-rendering/README.md
Labels: dotcom-rendering, run_chromatic

#7829 add most popular component
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/web/components/FrontMostViewed.tsx
  dotcom-rendering/src/web/components/MostPopularFooterGrid.stories.tsx
  dotcom-rendering/src/web/components/MostPopularFooterGrid.tsx
  dotcom-rendering/src/web/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic

#7883 refactor(formatCount): use `Intl.NumberFormat`
  dotcom-rendering/src/lib/formatCount.ts
  dotcom-rendering/src/lib/formatters.ts
Labels: dotcom-rendering, run_chromatic

#7886 Reinstate `startup` task names as arguments
  dotcom-rendering/src/client/index.ts
  dotcom-rendering/src/client/startup.ts
Labels: dotcom-rendering, run_chromatic

#7887 Disable AMP for articles that have a VideoYoutubeBlockElement containing Playlist
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering, run_chromatic

#7882 refactor(ArticleHeadline): remove no-op `curly` function
  dotcom-rendering/src/components/ArticleHeadline.tsx
Labels: dotcom-rendering, run_chromatic

#7875 Remove Cotton Capital edge case
  dotcom-rendering/src/components/Snap.stories.tsx
  dotcom-rendering/src/components/Snap.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7847 Poor web page performance monitoring
  dotcom-rendering/package.json
  dotcom-rendering/src/client/index.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/performanceMonitoring.ts
  dotcom-rendering/src/client/startup.ts
  yarn.lock
Labels: dotcom-rendering, :signal_strength: Open Journalism, run_chromatic

#7891 Respect container palette colours
  dotcom-rendering/src/components/ContainerTitle.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/Treats.tsx
Labels: dotcom-rendering, run_chromatic

#7889 Dont amplify if article has quiz atoms
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering, run_chromatic

#7841 Set `z-index: 1` in `VeggieBurgerMenu`
  dotcom-rendering/src/components/Nav/ExpandedMenu/VeggieBurgerMenu.tsx
Labels: dotcom-rendering, run_chromatic

#7894 Use new Command constructor
  .github/workflows/deno.yml
  scripts/deno/deno.jsonc
  scripts/deno/eslint.ts
  scripts/deno/github.ts
  scripts/deno/peer-dependencies.ts
Labels: run_chromatic

#7890 Run `gen-fixtures`
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
Labels: dotcom-rendering, run_chromatic

#7877 Refactor `gen-fixtures`
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/match-report.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Labels: dotcom-rendering, run_chromatic

#7899 Lower TTFB threshold for poor page performance
  dotcom-rendering/src/client/performanceMonitoring.ts
Labels: dotcom-rendering, 📊 Data, :signal_strength: Open Journalism, run_chromatic

#7893 Ophan components name
  dotcom-rendering/cypress/e2e/parallel-3/article.metaAndOphan.e2e.cy.js
  dotcom-rendering/cypress/e2e/parallel-4/signedin.cy.js
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/GuardianRoundel.tsx
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/HeaderTopBarPrintSubscriptions.tsx
  dotcom-rendering/src/components/HeaderTopBarSearchCapi.tsx
  dotcom-rendering/src/components/HeaderTopBarSearchJobs.tsx
  dotcom-rendering/src/components/InteractiveSupportButton.importable.tsx
  dotcom-rendering/src/components/Logo.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/CollapseColumnButton.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ShowMoreMenu.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/VeggieBurgerMenu.tsx
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/components/Pillars.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/SkipTo.tsx
  dotcom-rendering/src/components/SubNav.importable.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/decideTrail.ts
  dotcom-rendering/src/lib/getDataLinkName.ts
  dotcom-rendering/src/lib/ophan-helpers.test.ts
  dotcom-rendering/src/lib/ophan-helpers.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/groupCards.ts
  scripts/deno/deno.lock
  scripts/deno/ophan-components.ts
Labels: dotcom-rendering, run_chromatic

#7905 Support light team colours for goal attempts
  dotcom-rendering/src/components/GoalAttempts.tsx
Labels: dotcom-rendering, run_chromatic

#7904 Use the Labs header on paid fronts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, Fronts :newspaper:, run_chromatic

#7825 Dblatcher newsletters page enhancements
  dotcom-rendering/src/components/GroupedNewsletterList.tsx
  dotcom-rendering/src/components/NewsletterList.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/model/enhance-newsletters-page.ts
  dotcom-rendering/src/model/newsletter-grouping.ts
  dotcom-rendering/src/server/index.allEditorialNewslettersPage.web.ts
  dotcom-rendering/src/types/newslettersPage.ts
Labels: dotcom-rendering, run_chromatic

#7917 Increase inline merch test participation to 20%
  dotcom-rendering/src/experiments/tests/limit-inline-merch.ts
Labels: dotcom-rendering, run_chromatic

#7918 Bump CMP 13.3.1
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#7919 Fix id for first inline advert on fronts
  dotcom-rendering/src/components/AdSlot.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7916 Newsletter page select and submit components
  dotcom-rendering/src/components/GroupedNewsletterList.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.stories.tsx
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
  dotcom-rendering/src/components/NewsletterPageHeading.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7911 Refactor Emotion usage in `ElementContainer`
  dotcom-rendering/src/components/ElementContainer.tsx
Labels: dotcom-rendering, Health, run_chromatic

#7914 Support latest links in Dynamic containers
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, Fronts :newspaper:, run_chromatic

#7908 Consider only FCP & TTFB for page performance
  dotcom-rendering/src/client/performanceMonitoring.ts
Labels: dotcom-rendering, run_chromatic

#7903 Add missing `data-component` values
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7909 Fix `data-link-name` in various places
  dotcom-rendering/src/components/BackToTop.tsx
  dotcom-rendering/src/components/ContainerTitle.tsx
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/components/Treats.tsx
  dotcom-rendering/src/components/TrendingTopics.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7915 Use a labelled badge on paid for fronts
  dotcom-rendering/src/components/Badge.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, Fronts :newspaper:, run_chromatic

#7948 update node to 18.16.0
  .nvmrc
  apps-rendering/package.json
  apps-rendering/riff-raff.yaml
  apps-rendering/yarn.lock
  dotcom-rendering/Containerfile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  yarn.lock
Labels: apps-rendering, dotcom-rendering, run_chromatic

#7971 fix(FrontLayout): add key prop to fragments
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, Health, run_chromatic

#7643 Initial implementation of guardian/identity-auth
  dotcom-rendering/package.json
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/identity.ts
  dotcom-rendering/src/lib/useBraze.ts
  dotcom-rendering/src/lib/useSignedInStatus.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#7960 Add `width: 100%` to UL used in Fronts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/components/UL.tsx
Labels: dotcom-rendering, run_chromatic

#7985 Rectify prod redirectUri variable
  dotcom-rendering/src/lib/identity.ts
Labels: dotcom-rendering, run_chromatic

#7978 Upgrade @guardian/braze-components to v13.3.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#7964 Snaps `data-link-name`
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Snap.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/getDataLinkName.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#7979 Fix ad slot indexing on DCR Fronts
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/getAdPositions.test.ts
  dotcom-rendering/src/lib/getAdPositions.ts
Labels: dotcom-rendering, run_chromatic

#7990 Remove underline from `nav/list` and `nav/media-list`
  dotcom-rendering/src/components/MiniCard.tsx
Labels: dotcom-rendering, run_chromatic

#7994 Reserve 10px height for comment count
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, run_chromatic

#7996 Use `faciaCard.properties.byline` for setting Card byline
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering, run_chromatic

#7991 Always apply `flex-grow` to Card content
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
Labels: dotcom-rendering, run_chromatic

#7987 Includes SignInGateSelector component in identityAuth test
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering, run_chromatic

#7988 `data-link-name` ignore list
  dotcom-rendering/src/components/Nav/ExpandedMenu/CollapseColumnButton.tsx
  scripts/deno/ophan-components.ts
Labels: dotcom-rendering, run_chromatic

#7984 Add Australia state switcher
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.stories.tsx
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/guard.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/server/lib/get-content-from-url.js
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/territory.ts
Labels: dotcom-rendering, Fronts :newspaper:, run_chromatic

#8001 Fix trending topics overflow
  dotcom-rendering/src/components/TrendingTopics.tsx
Labels: bug, dotcom-rendering, Fronts :newspaper:, run_chromatic

#8003 Removes paid for by from cards on labs fronts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8000 Dblatcher newsletters page header
  dotcom-rendering/src/components/NewsletterPageHeading.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7999 Use `.map` In Place Of `.either`
  apps-rendering/src/newsletter.ts
Labels: apps-rendering, run_chromatic

#7871 Fronts Page skins
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/ElementContainer.tsx
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/components/LeftColumn.tsx
  dotcom-rendering/src/components/Logo.tsx
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/components/Section.stories.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/lib/pageSkin.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8020 Dynamo only if there’s a container palette
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
Labels: dotcom-rendering, run_chromatic

#7992 Use type guard for string unions
  dotcom-rendering/src/components/ContentABTest.amp.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/lib/edition.ts
  dotcom-rendering/src/lib/guard.ts
Labels: dotcom-rendering, Health, run_chromatic

#8026 Wrap Snaps in Cards with SnapCssSandbox
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, run_chromatic

#7884 Fixed/Video container
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/components/SubNav.importable.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#8029 Add fluid full width styles to the mobile-front ad slot
  dotcom-rendering/src/components/AdSlot.tsx
Labels: dotcom-rendering, run_chromatic

#8031 Modify ophan components script
  scripts/deno/deno.lock
  scripts/deno/ophan-components.ts
Labels: run_chromatic

#8033 Fix video container when has page skin
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#8032 Updated Node To v18.16.1
  .nvmrc
  apps-rendering/package.json
  apps-rendering/yarn.lock
  dotcom-rendering/Containerfile
  dotcom-rendering/package.json
  yarn.lock
Labels: apps-rendering, dotcom-rendering, run_chromatic

#7752 `/TagFront` - Tag fronts on DCR!
  dotcom-rendering/scripts/json-schema/check-schema.js
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/scripts/json-schema/get-schema.js
  dotcom-rendering/src/components/DecideContainerByTrails.tsx
  dotcom-rendering/src/components/FrontPagination.stories.tsx
  dotcom-rendering/src/components/FrontPagination.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/components/TagFrontHeader.stories.tsx
  dotcom-rendering/src/components/TagFrontHeader.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/cardWrappers.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/extractTrendingTopics.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/groupTrailsByDates.test.ts
  dotcom-rendering/src/model/groupTrailsByDates.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/model/slowOrFastByTrails.ts
  dotcom-rendering/src/model/tag-front-schema.json
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/dev-server.ts
  dotcom-rendering/src/server/index.front.web.ts
  dotcom-rendering/src/server/prod-server.ts
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/tag.ts
  dotcom-rendering/src/types/tagFront.ts
Labels: dotcom-rendering, run_chromatic

#8043 fix: quick subnav fix for tag layout
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7961 Handle true ratio of Immersive media on mobile
  dotcom-rendering/src/components/Picture.tsx
Labels: bug, dotcom-rendering, run_chromatic

#7998 Ensure node versions are aligned (bis)
  .github/workflows/lint.yml
  apps-rendering/riff-raff.yaml
  dotcom-rendering/Containerfile
  dotcom-rendering/makefile
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  scripts/check-node-versions.mjs
Labels: apps-rendering, dotcom-rendering, Health, run_chromatic

#8028 Remove business liveblogs contribution epic test
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/remove-business-liveblog-epics.ts
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/server/render.article.web.tsx
Labels: commercial :moneybag:, dotcom-rendering, run_chromatic

#7982 Migrate DCR user data and API calls to use Okta/OAuth tokens
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/components/DiscussionWhenSignedIn.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/getBrazeUuid.ts
  dotcom-rendering/src/lib/identity.ts
  dotcom-rendering/src/lib/useSignedInAuthState.ts
  dotcom-rendering/src/lib/useSignedInStatus.ts
Labels: dotcom-rendering, run_chromatic

#8008 Cmp bump node18
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8036 Do not allow branded containers on paid fronts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic

#8049 Fix yarn.lock prebid.js entry for snyk
  yarn.lock
Labels: run_chromatic

#8034 Tidy up the ad slot and ad container styles
  dotcom-rendering/src/components/AdSlot.tsx
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
Labels: commercial :moneybag:, run_chromatic

#8046 Ophan components ID parity for video container
  dotcom-rendering/src/components/Carousel.importable.tsx
  scripts/deno/ophan-components.ts
Labels: dotcom-rendering, run_chromatic

#8035 Media Palette
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/LI.tsx
  dotcom-rendering/src/components/Card/components/UL.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decideContainerOverrides.ts
  dotcom-rendering/src/lib/verticalDivider.ts
  dotcom-rendering/src/lib/verticalDividerWithBottomOffset.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering, run_chromatic

#8063 feat(SubNav): show top border
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: bug, dotcom-rendering, run_chromatic

#8042 Guardian Labs: Tracking
  dotcom-rendering/src/components/LabsSection.tsx
Labels: dotcom-rendering, run_chromatic

#8011 Updates to TrendingTopics tag selection
  dotcom-rendering/src/components/TrendingTopics.tsx
  dotcom-rendering/src/model/extractTrendingTopics.test.ts
  dotcom-rendering/src/model/extractTrendingTopics.ts
  dotcom-rendering/src/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic

#8058 Dblatcher newsletter carousel tracking
  dotcom-rendering/src/components/CarouselForNewsletters.importable.tsx
  dotcom-rendering/src/components/GroupedNewsletterList.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
Labels: dotcom-rendering, run_chromatic

#8061 refactor: Rely on `containerType` not `title`
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#7967 Deformatify the NAV
  dotcom-rendering/src/components/Footer.stories.tsx
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ExpandedMenu.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ShowMoreMenu.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/VeggieBurgerMenu.tsx
  dotcom-rendering/src/components/Nav/Nav.mock.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/components/Pillars.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/Layout.stories.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagFrontLayout.tsx
  dotcom-rendering/src/lib/decideNavPillar.ts
  dotcom-rendering/src/lib/layoutHelpers.ts
  dotcom-rendering/src/lib/themeToPillar.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#8090 fix typo in FixedMediumSlowXIIMPU
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.tsx
Labels: dotcom-rendering, run_chromatic

#8074 Update browserlist
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/browser-targets.test.ts
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8080 Refactor card image types
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/AvatarContainer.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/components/Card/components/HeadlineWrapper.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Slideshow.tsx
Labels: dotcom-rendering, Health, run_chromatic

#8076 Fix Data validation errors with WitnessBlockElement
  dotcom-rendering/src/components/WitnessBlockComponent.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#8010 Bump Source React components to v14
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, Health, run_chromatic

#8093 add vertical video to fronts container type
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#8083 Kickers in pressed and tag fronts
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/server/index.front.web.ts
Labels: dotcom-rendering, run_chromatic

#8101 Remove `prettier-eslint`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering, run_chromatic

#8105 Fix page skin click throughs
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: run_chromatic
