Repository guardian/dotcom-rendering, pull requests merged in 2023-03, with the labels that each got.

#7306 Scope the webpack rules to just the file we are importing
  dotcom-rendering/cypress/plugins/index.js
Labels: dotcom-rendering

#7277 Distinguish `collectionId` from `containerId` in `ShowMore.importable`
  dotcom-rendering/src/web/components/ShowMore.importable.tsx
  dotcom-rendering/src/web/components/ShowMore.stories.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#7279 Add Ozone Prebid server to AMP
  dotcom-rendering/src/amp/components/Ad.tsx
  dotcom-rendering/src/amp/components/Blocks.tsx
  dotcom-rendering/src/amp/components/BodyArticle.tsx
  dotcom-rendering/src/amp/components/InlineAd.test.tsx
  dotcom-rendering/src/amp/components/InlineAd.tsx
  dotcom-rendering/src/amp/components/StickyAd.tsx
  dotcom-rendering/src/amp/lib/real-time-config.ts
Labels: commercial :moneybag:, :zap:AMP, dotcom-rendering

#7322 Catch and ignore FontFaceSet InvalidModificationError
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
Labels: dotcom-rendering

#7271 Basic apps article page template
  dotcom-rendering/src/apps/server/articleToHtml.tsx
  dotcom-rendering/src/apps/server/index.ts
  dotcom-rendering/src/apps/server/pageTemplate.ts
  dotcom-rendering/src/web/server/index.ts
Labels: dotcom-rendering, DCAR

#7278 set `lang` and `dir` attrs on showcase and full page interactive layouts
  dotcom-rendering/src/web/components/ArticleBody.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/lib/lang.test.ts
  dotcom-rendering/src/web/lib/lang.ts
Labels: dotcom-rendering

#7323 Create 0% Elements Manager AB test
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
  dotcom-rendering/src/web/experiments/ab-tests.ts
  dotcom-rendering/src/web/experiments/tests/elements-manager.ts
Labels: dotcom-rendering

#7195 Rename and use frontcontainer.tsx
  dotcom-rendering/src/web/components/ContainerTitle.tsx
  dotcom-rendering/src/web/components/DynamicFast.stories.tsx
  dotcom-rendering/src/web/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/web/components/FrontSection.stories.tsx
  dotcom-rendering/src/web/components/FrontSection.tsx
  dotcom-rendering/src/web/components/NavList.stories.tsx
  dotcom-rendering/src/web/components/Palettes.stories.tsx
  dotcom-rendering/src/web/components/ShowHideButton.tsx
  dotcom-rendering/src/web/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#7313 Only show quotes on headline if showQuotedHeadline is true
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
Labels: dotcom-rendering

#7312 Do not load the commercial bundle for ad free users (take 2)
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#7320 Add page id to callout submission
  dotcom-rendering/fixtures/manual/calloutCampaign.ts
  dotcom-rendering/fixtures/manual/calloutCampaignV2.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/web/components/Callout/Callout.tsx
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Callout/FormField.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.importable.tsx
  dotcom-rendering/src/web/components/CalloutBlockComponent.stories.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.test.tsx
  dotcom-rendering/src/web/lib/renderElement.tsx
Labels: dotcom-rendering

#7337 Collect metrics for users inside the server-side liveblog inline ad test
  dotcom-rendering/src/web/components/Metrics.importable.tsx
Labels: dotcom-rendering

#7222 Personalise sign in gate copy to subscribers and supporters
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/cypress/plugins/index.js
  dotcom-rendering/src/web/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/web/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.tsx
  dotcom-rendering/src/web/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/web/components/SignInGate/types.ts
  dotcom-rendering/src/web/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/web/lib/parser/jsonParser.ts
  dotcom-rendering/src/web/lib/parser/parseCheckoutOutCookieData.test.ts
  dotcom-rendering/src/web/lib/parser/parseCheckoutOutCookieData.ts
Labels: dotcom-rendering

#7304 Fix unstyled text in container description
  dotcom-rendering/src/web/components/ContainerTitle.tsx
Labels: dotcom-rendering

#7343 Fix showhide button by correcting its sectionId
  dotcom-rendering/src/web/components/FrontSection.tsx
Labels: dotcom-rendering

#7338 Remove Babel loaders from Webpack
  dotcom-rendering/scripts/webpack/browser-targets.js
  dotcom-rendering/scripts/webpack/webpack.config.browser.js
  dotcom-rendering/scripts/webpack/webpack.config.server.js
Labels: dotcom-rendering

#7333 Upgrade @guardian/braze-components to v10.0.0
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7327 Adjust dynamicslowmpu if adfree
  dotcom-rendering/src/web/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#7339 Ad-free layout for FixedMediumSlowXIIMPU
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
  dotcom-rendering/src/web/lib/DecideContainer.tsx
Labels: dotcom-rendering

#7351 Added vertical dividers to FixedMedium SlowVI and FastXII containers
  dotcom-rendering/src/web/components/FixedMediumFastXII.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowVI.tsx
Labels: dotcom-rendering

#7336 Bump @guardian/eslint-plugin-source-react-components 10.x -> 14.0.0
  dotcom-rendering/package.json
  dotcom-rendering/src/web/components/Callout/MessageUs.tsx
  dotcom-rendering/src/web/components/CalloutEmbed/Form.tsx
  dotcom-rendering/src/web/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/web/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  yarn.lock
Labels: dotcom-rendering

#7329 Update @guardian packages to latest
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/webpack/browser-targets.js
  dotcom-rendering/scripts/webpack/browser-targets.test.ts
  yarn.lock
Labels: dotcom-rendering

#7355 Proposal: Add all fronts config to `window.guardian.config.page`
  dotcom-rendering/src/model/window-guardian.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering, RFC

#7308 refactor(Emotion 11): back to basics
  dotcom-rendering/src/web/components/BlockquoteBlockComponent.tsx
  dotcom-rendering/src/web/components/HighlightBlockComponent.tsx
  dotcom-rendering/src/web/components/RewrappedComponent.tsx
  dotcom-rendering/src/web/components/TextBlockComponent.tsx
Labels: dotcom-rendering, Health

#7348 Replace `ts-jest` with `@swc/jest`
  dotcom-rendering/jest.config.js
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7360 Fix missing mobile ads on DCR Fronts
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#7361 Add labels to inline ads on fronts, and fix padding
  dotcom-rendering/src/web/components/AdSlot.tsx
  dotcom-rendering/src/web/components/DynamicSlowMPU.tsx
  dotcom-rendering/src/web/components/FixedMediumSlowXIIMPU.tsx
Labels: commercial :moneybag:, dotcom-rendering

#7347 Fix callout checkbox group
  apps-rendering/package.json
  apps-rendering/src/components/Callout/calloutForm.tsx
  apps-rendering/src/components/Callout/formFields.tsx
  apps-rendering/src/components/CheckboxInput/index.tsx
  apps-rendering/yarn.lock
  dotcom-rendering/src/web/components/Callout/Form.tsx
  dotcom-rendering/src/web/components/Callout/FormField.tsx
Labels: apps-rendering, dotcom-rendering

#7363 fix: use SetABTests on FrontPage
  dotcom-rendering/src/web/components/FrontPage.tsx
Labels: dotcom-rendering

#7373 feat: add newspaper of the year logo
  dotcom-rendering/src/web/components/Logo.tsx
  dotcom-rendering/src/web/components/SvgGuardianBestNewspaperLogo.tsx
Labels: dotcom-rendering

#7374 Remove `discussion-rendering` From AR
  apps-rendering/package.json
  apps-rendering/src/capi.test.ts
  apps-rendering/src/capi.ts
  apps-rendering/src/client/article.ts
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/fixtures/live.ts
  apps-rendering/src/item.ts
  apps-rendering/src/native/nativeApi.ts
  apps-rendering/src/server/csp.ts
  apps-rendering/yarn.lock
Labels: apps-rendering

#7358 Update @guardian packages across apps-rendering
  apps-rendering/config/.eslintrc.js
  apps-rendering/package.json
  apps-rendering/src/client/newsletterEmbeds.ts
  apps-rendering/src/components/Callout/calloutContact.tsx
  apps-rendering/src/components/Callout/calloutForm.tsx
  apps-rendering/src/components/Callout/formFields.tsx
  apps-rendering/src/components/Callout/shareLink.tsx
  apps-rendering/src/components/EmailSignupForm/index.tsx
  apps-rendering/src/palette/text.ts
  apps-rendering/yarn.lock
  yarn.lock
Labels: apps-rendering

#7321 Fix Problem With Some Onward Content Images Not Loading
  apps-rendering/src/image.test.ts
  apps-rendering/src/image/srcsets.test.ts
  apps-rendering/src/image/srcsets.ts
Labels: apps-rendering

#7382 Switch off sign in gate copy test
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-copy-test-variants.ts
  dotcom-rendering/src/web/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#7376 Smaller Non-PROD AR Instances
  apps-rendering/cdk/bin/cdk.ts
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.test.ts
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
Labels: apps-rendering

#7408 fix: update amp footer links
  dotcom-rendering/src/amp/components/Footer.tsx
  dotcom-rendering/src/lib/footer-links.ts
Labels: dotcom-rendering

#7407 Hide empty ad slots for `poorDeviceConnectivityVariant`
  dotcom-rendering/src/web/layouts/CommentLayout.tsx
  dotcom-rendering/src/web/layouts/FrontLayout.tsx
  dotcom-rendering/src/web/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/web/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/web/layouts/LiveLayout.tsx
  dotcom-rendering/src/web/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/web/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/web/layouts/StandardLayout.tsx
  dotcom-rendering/src/web/lib/canRenderAds.test.ts
  dotcom-rendering/src/web/lib/canRenderAds.ts
  dotcom-rendering/src/web/server/articleToHtml.tsx
  dotcom-rendering/src/web/server/frontToHtml.tsx
Labels: dotcom-rendering

#7405 Update Webpack To 5.76.1
  yarn.lock
Labels: dotcom-rendering

#7365 Update subscribe cta masthead interactive article
  dotcom-rendering/src/web/components/InteractiveSupportButton.importable.tsx
  dotcom-rendering/src/web/components/Nav/Nav.tsx
  dotcom-rendering/src/web/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

#7354 Use `lint-staged` to prettify commits
  .husky/pre-commit
  .husky/pre-push
  dotcom-rendering/makefile
  dotcom-rendering/package.json
Labels: dotcom-rendering

#7359 Introduce `RenderingTarget` type and `CombinedProps` pattern
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/docs/architecture/031-rendering-type.md
  dotcom-rendering/src/types/renderingTarget.ts
  dotcom-rendering/src/web/components/Callout/FormField.tsx
  dotcom-rendering/src/web/components/Carousel.importable.tsx
Labels: dotcom-rendering

#7445 Updated Special Report Alt Avatar Background
  apps-rendering/src/palette/background.ts
Labels: apps-rendering

#7446 Record all core web vitals for PDC cohort
  dotcom-rendering/src/web/components/Metrics.importable.tsx
Labels: bug, dotcom-rendering

#7452 Add hover/active state to message us button
  dotcom-rendering/src/web/components/SendAMessage.importable.tsx
Labels: dotcom-rendering

#6991 Add Timeline & Profile designs to DCR and AR
  apps-rendering/src/components/DesignTag/index.tsx
  apps-rendering/src/components/Headline/Headline.defaults.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/Standfirst/index.tsx
  apps-rendering/src/item.ts
  dotcom-rendering/src/web/components/ArticleHeadline.tsx
  dotcom-rendering/src/web/components/DesignTag.stories.tsx
  dotcom-rendering/src/web/components/DesignTag.tsx
  dotcom-rendering/src/web/components/Standfirst.tsx
Labels: apps-rendering, dotcom-rendering

#7428 Special Report Alt Atom
  apps-rendering/src/atoms.test.ts
  apps-rendering/src/atoms.ts
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/bodyElementKind.ts
  apps-rendering/src/components/SpecialReportAltAtom/SpecialReportAltAtom.stories.tsx
  apps-rendering/src/components/SpecialReportAltAtom/index.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/palette/background.ts
  apps-rendering/src/palette/border.ts
  apps-rendering/src/palette/hover.ts
  apps-rendering/src/palette/text.ts
  apps-rendering/src/renderer.ts
Labels: apps-rendering

#7451 Revert PR #6844
  dotcom-rendering/cypress/e2e/parallel-6/paid.content.cy.js
  dotcom-rendering/cypress/paid.content.cy.js
  dotcom-rendering/makefile
Labels: dotcom-rendering

#7463 Feat: only render on live blogs not dead blogs
  dotcom-rendering/src/web/components/ArticleMeta.tsx
Labels: dotcom-rendering

#7381 Disable braze messages if not Taylor report
  dotcom-rendering/src/web/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/web/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/web/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/web/lib/braze/taylorReport.ts
Labels: dotcom-rendering

#7457 Add Bridget for communication with the native apps
  dotcom-rendering/package.json
  dotcom-rendering/src/apps/client/bridgetApi.ts
  dotcom-rendering/src/apps/client/thrift/nativeConnection.ts
  dotcom-rendering/src/apps/client/thrift/protocols.ts
  yarn.lock
Labels: dotcom-rendering, DCAR

#7473 fix: Obtain consent for commercial Cypress test
  dotcom-rendering/cypress/e2e/parallel-6/commercial.cy.js
Labels: dotcom-rendering

#7409 Use PascalCase for SecureDrop
  dotcom-rendering/src/amp/components/Footer.tsx
Labels: dotcom-rendering

#7334 CDK
  dotcom-rendering/.gitignore
  dotcom-rendering/cdk.json
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.test.ts
  dotcom-rendering/cdk/lib/dotcom-rendering.ts
  dotcom-rendering/jest.config.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/tsconfig.cdk.json
  yarn.lock
Labels: dotcom-rendering

#7487 build(deps): bump `babel-plugin-module-resolver`
  dotcom-rendering/package.json
  yarn.lock
Labels: dotcom-rendering

#7471 chore(deps): remove `bundlesize` dependency
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  scripts/ci-dcr.sh
  yarn.lock
Labels: dotcom-rendering

#7425 feat: add action to build container image
  .github/workflows/dcr-container.yml
  dotcom-rendering/Containerfile
Labels: dotcom-rendering

#7495 AR Designs For Immersive Comment Pieces
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/index.tsx
  apps-rendering/src/components/WithAgeWarning/index.tsx
  apps-rendering/src/fixtures/item.ts
Labels: apps-rendering
