Repository guardian/dotcom-rendering, pull requests merged in 2024-08, with the labels that each got.

#12029 Abbreviate the edition switcher labels
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
Labels: dotcom-rendering, fairground

#12050 Bump aws-sdk
  apps-rendering/package.json
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12046 [Fairground 🎡] Align first carousel card of carousel
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12052 Remove border-radius from top corners of tag link component
  dotcom-rendering/src/components/TagLink.tsx
Labels: dotcom-rendering

#12042 Changes for Epic choice cards v2 - single contributions test
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicCtas.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.ts
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#12048 [Fairground 🎡] Carousel scroll padding
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12055 [Fairground 🎡] [Highlights] Tablet alignment
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#12060 Fix Headline Byline On Interview Articles In Dark Mode
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/palette.ts
Labels: Bug, dotcom-rendering

#12064 Remove `updateLogoAdPartnerSwitch` from the logic
  dotcom-rendering/.storybook/decorators/configContextDecorator.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/Badge.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/DateTime.stories.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/FooterReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.test.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.test.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.amp.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/configContext.ts
Labels: Commercial :moneybag:, dotcom-rendering

#12065 Update `ArticleMeta` Stories To Component Story Format v3
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.web.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.web.test.tsx
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#12074 Bump ophan-tracker-js to v2.2.2
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11835 Parse the Weather API response
  dotcom-rendering/src/components/Weather.stories.tsx
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
  dotcom-rendering/src/types/weather.ts
Labels: enhancement, Suggestion, dotcom-rendering, Newbie friendly, Weather Widget

#12077 Add new Mehdi Hasan newsletter on US only
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#12078 [Fairground 🎡] QA Carousel fixes
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#12067 [Fairground 🎡] Add component event tracking to highlights
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12089 [Fairground 🎡] Refactor the titlepiece script to make it easier to reason about
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.tsx
Labels: dotcom-rendering

#12091 Remove colour scheme logging
  dotcom-rendering/src/components/Metrics.importable.tsx
Labels: dotcom-rendering

#12094 [Fairground 🎡] Infer pulsing dot from format on cards
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#12096 Remove Topic Filters From Liveblogs
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/FilterLink.stories.tsx
  dotcom-rendering/src/components/FilterLink.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/TopicFilterBank.stories.tsx
  dotcom-rendering/src/components/TopicFilterBank.test.tsx
  dotcom-rendering/src/components/TopicFilterBank.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering

#12099 Make pull quotes full width at mobile breakpoints
  dotcom-rendering/src/components/PullQuoteBlockComponent.tsx
Labels: dotcom-rendering

#12095 Removed Usage Of `isUndefined` From Dev Index
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#12014 Filter out Highlights container from ad slot calculations on fronts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fairground

#12034 amend test alignto centre
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#12102 Nudge ad label text down a few pixels
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#12103 Update the CTA url for Epic single contribution test
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
Labels: dotcom-rendering

#12110 Make `VideoAssets.mimeType` optional
  dotcom-rendering/src/components/GuVideoBlockComponent.amp.tsx
  dotcom-rendering/src/components/VideoAtom.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#12113 Remove fit-content from top-above-nav ad
  dotcom-rendering/src/components/HeaderAdSlot.tsx
Labels: dotcom-rendering

#12100 [Fairground 🎡] Card layout tweaks
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#12083 Fix Titlepiece dropdown menus alignment
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/VeggieBurger.tsx
  dotcom-rendering/src/components/TopBarMyAccount.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering, fairground

#12119 Give masthead dropdowns higher z-indices
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering, fairground

#12122 Fix Container Button Wrapping
  dotcom-rendering/src/components/ShowMore.importable.tsx
Labels: Bug, dotcom-rendering

#12107 Turn dropdown in an island, hydrated in titlepiece edition dropdown
  dotcom-rendering/src/components/Dropdown.importable.tsx
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
  dotcom-rendering/src/components/TopBarMyAccount.tsx
  dotcom-rendering/src/lib/linkNotificationCount.test.ts
  dotcom-rendering/src/lib/linkNotificationCount.ts
  dotcom-rendering/src/lib/notification.ts
Labels: dotcom-rendering, fairground

#12111 Remove `URL.canParse` from the client
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
Labels: dotcom-rendering

#12116 [Fairground 🎡] Add edge case stories for highlights container
  dotcom-rendering/fixtures/manual/highlights-trails.ts
  dotcom-rendering/src/components/HighlightsContainer.stories.tsx
Labels: dotcom-rendering, fairground

#12131 [Fairground 🎡] Nav menu on firefox
  dotcom-rendering/src/components/Masthead/Titlepiece/SubNav.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.tsx
Labels: dotcom-rendering

#12129 Allow y scrolling when hovering over highlights container
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12140 Update epic choice cards copy
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.ts
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#12104 Remove `inline-merchandising`/`im` slot
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/config.ts
Labels: Commercial :moneybag:, dotcom-rendering

#12134 [Fairground 🎡] Subnav fade
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.tsx
Labels: fairground

#12143 Add 0% test for spacefinder inline1 changes
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/optimise-spacefinder-inline.ts
Labels: Commercial :moneybag:, dotcom-rendering

#12130 Migrate SDC banner components to DCR
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/banners/common/PaymentCards.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/BannerText.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/CustomArticleCountCopy.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCount.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCountOptOut.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerBody.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCloseButton.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerReminder.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerReminderSignedOut.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerTicker.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardsSupportCta.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/styles/buttonStyles.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/styles/templateStyles.ts
  dotcom-rendering/src/components/marketing/banners/signInPrompt/SignInPromptBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/signInPrompt/SignInPromptBanner.tsx
  dotcom-rendering/src/components/marketing/banners/utils/localStorage.ts
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/banners/utils/withCloseable.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/components/marketing/hooks/useEscapeShortcut.ts
  dotcom-rendering/src/components/marketing/hooks/useReminder.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  dotcom-rendering/src/components/marketing/shared/ResponsiveImage.tsx
  dotcom-rendering/src/lib/useMatchMedia.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12126 Use web mobile ads insertion strategy for dcar apps
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/lib/useReportNativeElementPositionChanges.ts
Labels: dotcom-rendering

#12138 [Fairground 🎡] Z-index titlepiece
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering

#12133 Titlepiece logo click area
  dotcom-rendering/src/components/Masthead/Titlepiece/Pillars.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.tsx
Labels: dotcom-rendering, fairground

#12137 [Fairground 🎡] Add support and layout for flexible special container
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fairground

#12154 Remove tag link experiment
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#12157 Update `AustralianTerritorySwitcher` Stories To Component Story Format v3
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.stories.tsx
Labels: dotcom-rendering

#12158 Update `ArticleTitle` Stories To Component Story Format v3
  dotcom-rendering/.storybook/decorators/splitThemeDecorator.tsx
  dotcom-rendering/.storybook/decorators/themeDecorator.tsx
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
Labels: dotcom-rendering

#12164 Remove old default choice in favour of the new 3 tier choice cards
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#12162 [Fairground 🎡] Display media icon on relevant highlight cards
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: fairground

#12141 Reduce right-column to `300px` and increase gap for wide breakpoint
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#12170 [Fairground 🎡] Edition label in titlepiece
  dotcom-rendering/src/components/Masthead/Masthead.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.importable.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/Titlepiece.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: dotcom-rendering

#12176 Add edition label map to edition switcher
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
  dotcom-rendering/src/lib/edition.ts
  dotcom-rendering/src/model/extract-nav.ts
Labels: dotcom-rendering

#12178 Remove discussion-frontend URL
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#12188 Use short title only for label not drop down list
  dotcom-rendering/src/components/Dropdown.importable.tsx
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
Labels: dotcom-rendering

#12190 Immersives Should Include Labs Header On Apps
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

#12184 [Fairground 🎡]  Add 5:4 aspect ratio for card pictures
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12194 Set Spacefinder optimisation test to 5%
  dotcom-rendering/src/experiments/tests/optimise-spacefinder-inline.ts
Labels: Commercial :moneybag:, dotcom-rendering

#12197 Temporarily disable failing or flaky header interactivity tests
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
Labels: dotcom-rendering, fairground

#12199 Remove the cookie if user opts out of dark mode
  dotcom-rendering/src/components/Accessibility.importable.tsx
Labels: dotcom-rendering

#12114 DCAR: YouTubeAtom for apps
  dotcom-rendering/package.json
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubePlayer.ts
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#12210 Test.skip header interactivity tests instead of commenting out
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
Labels: dotcom-rendering

#12214 Skip two more header interactivity tests
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
Labels: dotcom-rendering, fairground

#12206 Restyle and refactor card footer
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/CardCommentCount.importable.tsx
Labels: dotcom-rendering

#12208 [Fairground 🎡] Render sublinks in flexible special splash card
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12212 Remove headline cleaner from DCR
  dotcom-rendering/src/components/CardHeadline.tsx
Labels: dotcom-rendering

#12211 Enable opt out in banner article count
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/CustomArticleCountCopy.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCount.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
Labels: dotcom-rendering

#12177 DCAR: Implement YoutubeAtom `sendvideoevent` Bridget method for apps
  apps-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/useInsertVideo.ts
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12209 [Fairground 🎡] Maintain aspect ratio on images
  dotcom-rendering/src/components/CardPicture.tsx
Labels: dotcom-rendering, fairground

#12220 Show highlights container in preview
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fairground

#12227 Remove Unused `html` Parameter
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#12219 [Fairground 🎡] Determine flexible splash headline position from image size and container type.
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12225 Add `onFullscreenToggled` listener for Android
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubePlayer.ts
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Labels: dotcom-rendering

#12229 [Fairground 🎡]  Reintroduce the video media icon
  dotcom-rendering/src/components/MediaMeta.tsx
Labels: dotcom-rendering, fairground

#12228 Tidy up banner storybook
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
Labels: dotcom-rendering

#12242 Move sticky tag from Olympics to Paralympics coverage
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#12232 Fix immersive main media height with the updated header
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

#12246 Temporarily Skip Commercial Test
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Labels: dotcom-rendering

#12252 Fix gap in immersive articles when there is no main media
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

#12249 Fix lightbox on explainers
  dotcom-rendering/src/model/buildLightboxImages.ts
Labels: dotcom-rendering

#12254 Revert "Fix immersive main media height with the updated header"
  dotcom-rendering/src/components/Nav/Nav.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering
