Repository guardian/dotcom-rendering, pull requests merged in 2024-10, with the labels that each got.

#12451 Ensure flexible general is counted as a flexible container in card component
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fairground

#12452 Adjust flex general gigaboosted splash properties
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12480 Update paid content e2e test
  dotcom-rendering/playwright/lib/ophan.ts
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#12474 Update Source to 8.0.0
  apps-rendering/package.json
  apps-rendering/src/components/EmailSignupForm/index.tsx
  apps-rendering/src/components/Layout/LiveLayout.tsx
  apps-rendering/src/components/LiveDateline/index.tsx
  apps-rendering/src/components/PinnedPost/index.tsx
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Answers.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12494 Reinstate sticky liveblog ask component into Liveblog
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#12478 Add support for new scrollable and static containers #27508
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, Pending-on-PROD, fairground

#12454 Medium headlines for news pillar
  dotcom-rendering/src/components/ArticleHeadline.tsx
Labels: dotcom-rendering

#12499 Revert "Ticker Update"
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerTicker.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicTicker.tsx
  dotcom-rendering/src/components/marketing/hooks/useTicker.ts
  dotcom-rendering/src/lib/useIsInView.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12479 Update Ophan to 2.2.5
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#12505 Discount choice cards
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Labels: dotcom-rendering

#12489 Show trail text on flex general splash on mobile breakpoints
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12508 Revert "Revert "Ticker Update""
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerTicker.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicTicker.tsx
  dotcom-rendering/src/components/marketing/hooks/useTicker.ts
  dotcom-rendering/src/lib/useIsInView.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12481 Update to ticker with size prop
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#12506 [Fairground 🎡] Decide image size of splash based on boost level
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: fairground

#12510 [Fairground 🎡] Flexible General dividing lines
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12516 Update `@guardian/commercial@22.3.0`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#12515 Small story carousel 'chevron' button positioning
  dotcom-rendering/src/components/ScrollableSmallContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12525 Use isFlexSplash to determine sublink background fill
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering, fairground

#12523 Small story carousel: Navigation button state
  dotcom-rendering/src/components/ScrollableSmallContainer.importable.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12519 Trail text font size
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12513 Move Ticker on banner
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/styles/templateStyles.ts
Labels: dotcom-rendering

#12527 Make all of Epic choice card clickable
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#12528 [Fairground 🎡] Add a split top bar variant for containers
  dotcom-rendering/src/components/Card/components/UL.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering

#12521 Create US marketing card component
  dotcom-rendering/src/components/ExpandableMarketingCard.stories.tsx
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/static/logos/red-blue-banner-bottom.svg
  dotcom-rendering/src/static/logos/red-blue-banner-faded.svg
  dotcom-rendering/src/static/logos/red-blue-banner-top.svg
Labels: dotcom-rendering

#12524 Update boosted headline font sizes
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12520 Inline EditorialButton and EditorialLinkButton into DCR
  dotcom-rendering/src/components/EditorialButton/EditorialButton.stories.tsx
  dotcom-rendering/src/components/EditorialButton/EditorialButton.tsx
  dotcom-rendering/src/components/EditorialButton/EditorialLinkButton.stories.tsx
  dotcom-rendering/src/components/EditorialButton/EditorialLinkButton.tsx
  dotcom-rendering/src/components/EditorialButton/styles.ts
  dotcom-rendering/src/components/EditorialButton/types.ts
  dotcom-rendering/src/components/Toast.tsx
Labels: dotcom-rendering

#12541 Update `BlockquoteBlockComponent` Stories To Component Story Format v3
  dotcom-rendering/src/components/BlockquoteBlockComponent.stories.tsx
Labels: dotcom-rendering

#12264 Remove `ArticleDesign.PrintShop`
  apps-rendering/src/articleFormat.ts
  apps-rendering/src/components/Layout/Layout.stories.tsx
  apps-rendering/src/components/Layout/StandardLayout.tsx
  apps-rendering/src/fixtures/item.ts
  apps-rendering/src/item.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/fe-articles/PrintShop.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/lib/decideDesign.ts
  dotcom-rendering/src/lib/format.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/frontend.ts
Labels: apps-rendering, dotcom-rendering

#12538 Update `Avatar` Stories To Match Others In The Codebase
  dotcom-rendering/src/components/Avatar.stories.tsx
Labels: dotcom-rendering

#12530 Add expandable marketing card component to standard articles on desktop behind 0% test
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/usa-expandable-marketing-card.ts
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12547 Do Not Support List Elements On AMP
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering

#12483 Update @guardian/libs and @guardian/commercial for usnat framework
  dotcom-rendering/package.json
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/components/PrivacySettingsLink.importable.tsx
  dotcom-rendering/src/lib/braze/hasRequiredConsents.test.ts
  dotcom-rendering/src/lib/contributions.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12546 Small story carousel spacing and grid alignment
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fairground

#12548 Request 5:4 crops from fastly directly
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/image.ts
Labels: dotcom-rendering, fairground

#12558 Position headline based on live links
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fairground

#12561 [Fairground 🎡] Allow consumer and live links to control sublink positioning
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12554 Move `ArticleFormat` Decision Functions Into `format.ts`
  dotcom-rendering/src/components/BodyArticle.amp.tsx
  dotcom-rendering/src/components/BodyLiveblog.amp.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/lib/decideDesign.ts
  dotcom-rendering/src/lib/decideDisplay.ts
  dotcom-rendering/src/lib/decideFormat.ts
  dotcom-rendering/src/lib/decideTheme.ts
  dotcom-rendering/src/lib/decideTrail.ts
  dotcom-rendering/src/lib/format.ts
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/article.ts
Labels: dotcom-rendering

#12559 [Fairground 🎡]  decorative latest links header
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LatestLinks.importable.stories.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12543 Improve docs
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/code-style.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/contributing/how-to.md
  dotcom-rendering/docs/patterns/decide-layout.md
  dotcom-rendering/docs/patterns/enhancers.md
  dotcom-rendering/makefile
Labels: dotcom-rendering

#12536 Palettify editorial button colours
  dotcom-rendering/src/components/EditorialButton/EditorialButton.stories.tsx
  dotcom-rendering/src/components/EditorialButton/EditorialButton.tsx
  dotcom-rendering/src/components/EditorialButton/EditorialLinkButton.stories.tsx
  dotcom-rendering/src/components/EditorialButton/EditorialLinkButton.tsx
  dotcom-rendering/src/components/EditorialButton/styles.ts
  dotcom-rendering/src/components/EditorialButton/types.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/Toast.stories.tsx
  dotcom-rendering/src/components/Toast.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12567 Move the US Expandable Marketing Card out of the grid
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#12564 [Fairground 🎡] live link design
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
Labels: dotcom-rendering, fairground

#12551 Replace fetch-mock dependency with custom fetch mock utility
  apps-rendering/package.json
  apps-rendering/src/components/Callout/Callout.stories.tsx
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/CalloutBlockComponent.stories.tsx
  dotcom-rendering/src/components/CalloutEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/LatestLinks.importable.stories.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.stories.tsx
  dotcom-rendering/src/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  dotcom-rendering/src/components/TopBar.stories.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
  dotcom-rendering/src/lib/mockRESTCallsInJest.ts
  dotcom-rendering/src/lib/newsletter-sign-up-requests.test.ts
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12534 US Expandable Marketing Card component on small screens
  dotcom-rendering/src/components/ExpandableMarketingCard.stories.tsx
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/static/logos/red-blue-large-banner-bottom.svg
  dotcom-rendering/src/static/logos/red-blue-large-banner-faded.svg
  dotcom-rendering/src/static/logos/red-blue-large-banner-top.svg
  dotcom-rendering/src/static/logos/red-blue-small-banner-bottom.svg
  dotcom-rendering/src/static/logos/red-blue-small-banner-faded.svg
  dotcom-rendering/src/static/logos/red-blue-small-banner-top.svg
Labels: dotcom-rendering

#12569 Changes for the Live Blog Epic colour change AB test
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
Labels: dotcom-rendering

#12579 Rename useUserPreferredEdition file to match export
  dotcom-rendering/src/components/EditionSwitcherBanner.importable.tsx
  dotcom-rendering/src/components/FrontSubNav.importable.tsx
  dotcom-rendering/src/components/Titlepiece.importable.tsx
  dotcom-rendering/src/lib/useEditionSwitcherBanner.ts
Labels: dotcom-rendering

#12576 Adjust carousel spacing to allow for media cards
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fairground

#12580 Scrollable small container: support for special palettes
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Labels: fairground

#12575 Trailtext: pad top only if the header is "inner"
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
Labels: dotcom-rendering, fairground

#12573 Make flexible general standard sublinks always vertically stacked
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12552 Add podcast meta to the audio page
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/PodcastMeta.stories.tsx
  dotcom-rendering/src/components/PodcastMeta.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/tag.ts
Labels: dotcom-rendering

#12574 Make scrollable small carousel more generic
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableCarousel.Importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.tsx
Labels: dotcom-rendering, fairground

#12588 US marketing card component - Swipe to dismiss
  dotcom-rendering/src/components/ExpandableMarketingCard.stories.tsx
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardSwipeable.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
Labels: dotcom-rendering

#12553 Update `CalloutBlockComponent` Stories To Component Story Format v3
  dotcom-rendering/src/components/CalloutBlockComponent.stories.tsx
Labels: dotcom-rendering

#12590 US marketing card component - design updates
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
  dotcom-rendering/src/static/logos/red-blue-large-banner-bottom.svg
Labels: dotcom-rendering

#12597 Set US Banner AB test audience to 15%
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
  dotcom-rendering/src/experiments/tests/usa-expandable-marketing-card.ts
Labels: dotcom-rendering

#12584 Rework trail text visibility logic & show on all breakpoints in flexible/general
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12593 Reader Revenue message on US front
  dotcom-rendering/src/components/UsEoy2024.stories.tsx
  dotcom-rendering/src/components/UsEoy2024Wrapper.importable.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#12625 Add one time param to banner cta url
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
Labels: dotcom-rendering

#12585 Article epic styling for US EOY 2024
  dotcom-rendering/src/components/marketing/epics/BylineWithHeadshot.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
Labels: dotcom-rendering

#12661 Fix trail text rendering
  dotcom-rendering/src/components/Card/components/TrailText.tsx
Labels: dotcom-rendering, fairground

#12628 Scrollable medium setup
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering, fairground

#12614 5:4 video images
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/MaintainAspectRatio.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Labels: dotcom-rendering, fairground

#12667 Adds Feast App to supporter plus benefits in 3-tier choice cards
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
Labels: dotcom-rendering

#12571 [Fairground 🎡] Card Headline sizing refactor
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/ScrollableMedium.tsx
  dotcom-rendering/src/components/ScrollableSmall.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
Labels: dotcom-rendering, fairground

#12671 Audio player reduce usecallbacks
  dotcom-rendering/src/components/AudioPlayer/AudioPlayer.tsx
Labels: dotcom-rendering

#12673 Fix scrollable containers by adjusting islands logic
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Labels: dotcom-rendering, fairground

#12568 Add support for podcast image i n Picture.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering

#12670 add a waveform to the `AudioPlayer` component
  dotcom-rendering/src/components/AudioPlayer/AudioPlayer.tsx
  dotcom-rendering/src/components/AudioPlayer/components/ProgressBar.tsx
  dotcom-rendering/src/components/AudioPlayer/components/WaveForm.tsx
Labels: dotcom-rendering

#12680 Compress the fake audio data
  dotcom-rendering/src/components/AudioPlayer/components/WaveForm.tsx
Labels: dotcom-rendering

#12681 Simplify the waveform creation
  dotcom-rendering/src/components/AudioPlayer/components/WaveForm.tsx
Labels: dotcom-rendering

#12306 Datawrapper embed styling
  dotcom-rendering/README.md
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/components/InteractiveBlockComponent.stories.tsx
Labels: dotcom-rendering

#12539 Remove ad slot support message from apps
  apps-rendering/src/adSlot.tsx
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/components/AdSlot.apps.stories.tsx
  dotcom-rendering/src/components/AdSlot.apps.tsx
Labels: apps-rendering, dotcom-rendering

#12676 Add new layout for audio page
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/AudioPlayerWrapper.importable.tsx
  dotcom-rendering/src/components/PodcastCoverImage.tsx
  dotcom-rendering/src/components/PodcastMeta.stories.tsx
  dotcom-rendering/src/components/PodcastMeta.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/lib/audio-data.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12679 Scrollable Small: apply smaller headline size on mobile
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fairground

#12688 Remove volume controls from `AudioPlayer`
  dotcom-rendering/src/components/AudioPlayer/AudioPlayer.stories.tsx
  dotcom-rendering/src/components/AudioPlayer/AudioPlayer.tsx
  dotcom-rendering/src/components/AudioPlayer/components/Volume.tsx
  dotcom-rendering/src/components/AudioPlayer/components/Wrapper.tsx
Labels: dotcom-rendering

#12572 Support fixing image sizes at tablet and desktop
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Labels: dotcom-rendering, fairground

#12684 Remove Deprecated Article Model From `ArticlePage`
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering

#12695 Move shared carousel styles into base component
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fairground

#12668 [Fairground 🎡] Increase headline when image supressed
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12696 [Fairground 🎡] Add the `static/medium/four` container to DCR
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/StaticMediumFour.stories.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
Labels: dotcom-rendering, fairground

#12702 fix text colour for the audio articles dark mode
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12690 YoutubeAtom fullscreen support for iOS
  dotcom-rendering/package.json
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12701 Bump commercial to 23.2.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#12694 [Fairground 🎡] Reduce gap size if the image is jumbo
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fairground

#12699 Fix `mostpop` ad alignment in wide breakpoint
  dotcom-rendering/src/components/MostViewedFooterLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#12717 Add The Long Wave and The Filter to all newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#12700 Create A `Lightbox` Component
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/Lightbox.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#12722 Don't render empty flexible rows
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12716 Fix Picture Layout Onwards Content section colour
  dotcom-rendering/src/layouts/PictureLayout.tsx
Labels: dotcom-rendering
