Repository guardian/dotcom-rendering, pull requests merged in 2024-12, with the labels that each got.

#12917 Group Editions Crosswords By Date
  dotcom-rendering/fixtures/manual/editionsCrossword.ts
  dotcom-rendering/src/components/CrosswordSelect.editions.stories.tsx
  dotcom-rendering/src/components/CrosswordSelect.editions.tsx
  dotcom-rendering/src/components/Crosswords.editions.stories.tsx
  dotcom-rendering/src/components/Crosswords.editions.tsx
  dotcom-rendering/src/model/editions-crossword-schema.json
  dotcom-rendering/src/types/editionsCrossword.ts
Labels: dotcom-rendering

#12919 Mini profiles tweaks
  dotcom-rendering/src/components/MiniProfile.tsx
  dotcom-rendering/src/components/MiniProfiles.stories.tsx
  dotcom-rendering/src/components/MiniProfiles.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#12940 Fix the labs header text colour
  dotcom-rendering/src/components/LabsHeader.tsx
Labels: dotcom-rendering

#12897 Use aspect ratio for new containers
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.stories.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fairground

#12946 Remove liveblog sticky ask
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#12952 Readd Liveblog sticky ask
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#12916 Remove italic byline and coloured cutouts on apps articles
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/components/LiveBlockContainer.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12873 Use card headline fonts for card byline
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/LinkHeadline.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#12949 Media cards: Pill component
  dotcom-rendering/src/components/Pill.stories.tsx
  dotcom-rendering/src/components/Pill.tsx
  dotcom-rendering/src/components/SvgMediaControlsPlay.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12960 Carousels: Prevent vertical scrolling
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/SlideshowCarousel.importable.tsx
Labels: fairground

#12836 Add touch start and end events for key events carousel
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12948 Fix labs card branding for dynamic containers
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#12978 Bump `@swc/cli` To Latest
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#12944 Onwards content gallery-style AB test
  dotcom-rendering/src/components/BigSixOnwardsContent.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/onwards-content-article.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#12951 Rework container level spacing for beta containers
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#12981 Three Tier on Mobile (V1)
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#12985 Remove decidePalette from CalloutEmbedBlock component
  dotcom-rendering/src/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/components/CalloutEmbedBlockComponent.stories.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#12995 Include card index in Onwards Content AB Test
  dotcom-rendering/src/components/BigSixOnwardsContent.tsx
Labels: dotcom-rendering

#12879 Dark mode for table block
  dotcom-rendering/src/components/TableBlockComponent.stories.tsx
  dotcom-rendering/src/components/TableBlockComponent.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#12983 Remove lastOneOffContributionDate and isRecurringContributor from payload sent to SDC
  dotcom-rendering/package.json
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/lib/contributions.test.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12996 Pass gallery count to card
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fairground

#13003 Start Onwards Content AB test
  dotcom-rendering/src/experiments/tests/onwards-content-article.ts
Labels: dotcom-rendering

#12984 Update not-thrasher copy, colour for USEOY 'final countdown' sub-campaign
  dotcom-rendering/src/components/UsEoy2024.stories.tsx
  dotcom-rendering/src/components/UsEoy2024Wrapper.importable.tsx
Labels: dotcom-rendering

#13006 Fix images in cards for old articles in Onwards Content AB test
  dotcom-rendering/src/components/BigSixOnwardsContent.tsx
Labels: dotcom-rendering

#13016 Fix types for podcast images
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fairground

#13022 Big Six AB test: Adds padding above top row
  dotcom-rendering/src/components/BigSixOnwardsContent.tsx
Labels: dotcom-rendering

#13024 Only use podcast type if its a beta container
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering

#13023 Rework inline play behaviour
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/components/SupportingContent.stories.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
Labels: dotcom-rendering, fairground

#12980 Media Cards: Update palette
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/lib/cardHelpers.test.ts
  dotcom-rendering/src/lib/cardHelpers.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fairground

#13008 Reduce article stack size from 36 to 30
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13036 Change the highlight text colour and CTA hover colour
  dotcom-rendering/src/components/UsEoy2024Wrapper.importable.tsx
Labels: dotcom-rendering

#13039 Add 1:1 padding option for card picture
  dotcom-rendering/src/components/CardPicture.tsx
Labels: dotcom-rendering, fairground

#13040 Media card alignment
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
Labels: dotcom-rendering, fairground

#13043 December updates to All Newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#13048 Update Comments and DocumentBlock stories to CSF v3
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/DocumentBlockComponent.stories.tsx
Labels: dotcom-rendering

#13035 Media Cards: Replace media icons with pills
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
Labels: dotcom-rendering, fairground

#13017 Skip flaky Chromatic tests
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/DocumentBlockComponent.stories.tsx
  dotcom-rendering/src/components/VimeoBlockComponent.stories.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
Labels: dotcom-rendering

#13056 Use Share Button in Quiz Atoms
  dotcom-rendering/fixtures/manual/sharingUrls.ts
  dotcom-rendering/src/components/KnowledgeQuizAtom.importable.tsx
  dotcom-rendering/src/components/KnowledgeQuizAtom.stories.tsx
  dotcom-rendering/src/components/KnowledgeQuizAtom.test.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.importable.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.stories.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.test.tsx
  dotcom-rendering/src/components/SharingIcons.stories.tsx
  dotcom-rendering/src/components/SharingIcons.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#13060 Remove superfluous space from headlines container
  dotcom-rendering/src/components/FrontSection.tsx
Labels: dotcom-rendering
