Repository guardian/dotcom-rendering, pull requests merged in 2024-04, with the labels that each got.

#11038 Play icon sizes
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Labels: dotcom-rendering

#11040 Follow Emotion best practice for `Flex`
  dotcom-rendering/src/components/Flex.tsx
Labels: dotcom-rendering

#11058 Increase capacity of `FaciaRendering-PROD`
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#11043 Refactor play icon component
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
Labels: dotcom-rendering

#11061 Track clicks on (article meta) sponsor logos in Ophan
  dotcom-rendering/playwright/lib/ophan.ts
  dotcom-rendering/playwright/tests/ophan.e2e.spec.ts
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/lib/labs.test.ts
  dotcom-rendering/src/lib/labs.ts
Labels: dotcom-rendering

#11068 Fix Article Meta Multiple Contributors story
  dotcom-rendering/makefile
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
Labels: dotcom-rendering

#11017 Commercial Q4 mega test
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/section-ad-density.ts
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/model/enhance-ad-placeholders_AB_TEST_CONTROL.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/server/handler.article.web.ts
Labels: dotcom-rendering

#11069 refactor: Use OnwardsSource type in card components
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
Labels: dotcom-rendering

#11070 Track clicks on sponsor logos in related content
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/lib/labs.test.ts
  dotcom-rendering/src/lib/labs.ts
Labels: dotcom-rendering

#11077 Fix Spacefinder timeout hit with interactives
  dotcom-rendering/src/client/islands/whenIdle.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Island.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#11078 Set same timeout for intervals of whenIdle
  dotcom-rendering/src/client/islands/whenIdle.ts
Labels: Commercial :moneybag:, dotcom-rendering

#11080 Remove unnecessary video caption margin
  dotcom-rendering/src/components/Caption.tsx
Labels: dotcom-rendering

#11088 Chromatic ignore flaky images
  apps-rendering/src/components/ImgAlt/index.tsx
  apps-rendering/src/components/editions/layout/layout.stories.tsx
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/CardPicture.tsx
Labels: apps-rendering, dotcom-rendering

#11086 Amend interaction test to Lightbox story to fix flakiness
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Lightbox.stories.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11090 Update discussion preview spout's background colour
  dotcom-rendering/src/components/Discussion/Preview.tsx
Labels: dotcom-rendering

#11081 DCAR Discussion: recommend comment
  dotcom-rendering/package.json
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11100 Add stories for new adblock ask components
  dotcom-rendering/src/components/AdBlockAsk.stories.tsx
  dotcom-rendering/src/components/AdBlockAsk.tsx
  dotcom-rendering/src/static/logos/hands-small.svg
  dotcom-rendering/src/static/logos/hands.svg
Labels: dotcom-rendering

#10923 cmp from libs
  dotcom-rendering/package.json
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/client/ga/ga-with-consent.ts
  dotcom-rendering/src/components/AudioAtomWrapper.importable.tsx
  dotcom-rendering/src/components/PrivacySettingsLink.importable.tsx
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/alreadyVisited.ts
  dotcom-rendering/src/lib/braze/hasRequiredConsents.test.ts
  dotcom-rendering/src/lib/braze/hasRequiredConsents.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/window.guardian.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11104 Make comment ID a simple `string`
  dotcom-rendering/fixtures/manual/comment.ts
  dotcom-rendering/fixtures/manual/discussion-no-top-comments.ts
  dotcom-rendering/fixtures/manual/discussion.ts
  dotcom-rendering/fixtures/manual/discussionWithNoComments.ts
  dotcom-rendering/fixtures/manual/discussionWithTwoComments.ts
  dotcom-rendering/fixtures/manual/legacyDiscussionWithoutThreading.ts
  dotcom-rendering/fixtures/manual/short-discussion.ts
  dotcom-rendering/fixtures/manual/topPicks.ts
  dotcom-rendering/src/components/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.stories.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.test.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.tsx
  dotcom-rendering/src/components/Discussion/Timestamp.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
  dotcom-rendering/src/components/DispatchContext.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
Labels: dotcom-rendering

#11134 Use Ophan terms `impression` and `additional` in e2e tests
  dotcom-rendering/playwright/lib/ophan.ts
  dotcom-rendering/playwright/tests/ophan.e2e.spec.ts
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#11138 Remove AMP CMP server side test
  dotcom-rendering/src/components/AdConsent.amp.tsx
  dotcom-rendering/src/components/ArticlePage.amp.tsx
Labels: dotcom-rendering

#11105 Add a data attribute to indicate areas within blocks where ads may be inserted (Ads in Key Takeaways)
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/KeyTakeaway.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#11152 fix: remove disableAmpTest from fixtures
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
Labels: dotcom-rendering

#11160 Drill isTimeline context to image and caption
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/Figure.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Timeline.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#11158 Update `ProfileAtom` Stories To Component Story Format v3
  dotcom-rendering/src/components/ProfileAtom.stories.tsx
Labels: dotcom-rendering

#11159 Update `SharingIcons` Stories To Component Story Format v3
  dotcom-rendering/src/components/SharingIcons.stories.tsx
Labels: dotcom-rendering

#11139 Storybook Toolbar Item To Set Colour Scheme
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/.storybook/toolbar/globalColourScheme.ts
  dotcom-rendering/src/components/AudioAtom/AudioAtom.stories.tsx
Labels: dotcom-rendering

#11107 Grid Decorators
  dotcom-rendering/.storybook/decorators/grid.ts
  dotcom-rendering/.storybook/decorators/gridDecorators.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
Labels: dotcom-rendering

#11136 Remove global styles and retain for picture essay
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
Labels: dotcom-rendering

#11050 Render Timeline Elements
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/Figure.tsx
  dotcom-rendering/src/components/Heading.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Timeline.stories.tsx
  dotcom-rendering/src/components/Timeline.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/enhanceTimeline.test.ts
  dotcom-rendering/src/model/enhanceTimeline.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11166 Expand clickable area on Table of Contents links
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Labels: dotcom-rendering

#11154 Add class name to Interactive grid
  dotcom-rendering/docs/contracts/003-extra-classes-for-interactives.md
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/lib/interactiveLegacyStyling.ts
Labels: dotcom-rendering

#11173 Refactor bridget comment response parsing
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
Labels: dotcom-rendering

#11161 Update `VideoAtom` Stories To Component Story Format v3
  dotcom-rendering/src/components/VideoAtom.stories.tsx
Labels: dotcom-rendering

#11169 Check total elements before showing separator line
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#11185 Fix banner playwright test
  dotcom-rendering/playwright/tests/banner.e2e.spec.ts
Labels: dotcom-rendering

#11178 Treat Discussion responses as opaque JSON string while in flight via Briget
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11184 Wrap `CommentForm` buttons when overflowing
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Row.tsx
Labels: dotcom-rendering

#11183 Refactor timeline stories to make use of chromatic modes and decorators
  dotcom-rendering/src/components/Timeline.stories.tsx
Labels: dotcom-rendering

#11124 Add a `0%` test for the new `AdBlockAsk` (AKA shady pie)
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AdBlockAsk.importable.tsx
  dotcom-rendering/src/components/AdBlockAsk.stories.tsx
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/TopRightAdSlot.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/ad-block-ask.ts
  dotcom-rendering/src/lib/useAdBlockAsk.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11187 Rename `allModes` members to match docs
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/AudioAtom/AudioAtom.stories.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/Timeline.stories.tsx
Labels: dotcom-rendering

#11133 DCAR Discussion: Comment, Reply, UserProfile
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.stories.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.tsx
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/tsconfig.json
  pnpm-lock.yaml
Labels: Design, dotcom-rendering

#11135 Revert paragraph spacing and move margin top to article body
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#11189 Add canonical links for Fronts and Tag Pages
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/tagPage.ts
Labels: dotcom-rendering

#11198 Enable sign-in for DCAR via Bridget
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignedInAs.stories.tsx
  dotcom-rendering/src/components/SignedInAs.tsx
Labels: dotcom-rendering, Discussion

#11181 User consent passed through to SDC
  dotcom-rendering/package.json
  dotcom-rendering/playwright/tests/banner.e2e.spec.ts
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11205 Guardian news provider of the year
  dotcom-rendering/src/components/Logo.tsx
  dotcom-rendering/src/components/SvgGuardianNewsProviderLogo.tsx
Labels: dotcom-rendering

#11200 Use the `carousel` image size in onward carousel
  dotcom-rendering/src/components/Carousel.importable.tsx
Labels: dotcom-rendering

#11207 Timeline article format: align left border with article grid line
  dotcom-rendering/src/components/Timeline.tsx
Labels: dotcom-rendering

#11174 (potentially) adapt the site for everyone
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/client/poorPerformanceMonitoring.ts
  dotcom-rendering/src/client/sentryLoader/loadSentry.ts
Labels: dotcom-rendering

#11197 Revert Block supporter revenue messaging in the Sport section
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/block-supporter-revenue-messaging-sport.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering

#11212 Put the adaptive site behind a switch
  dotcom-rendering/src/client/adaptiveSite.ts
Labels: dotcom-rendering

#10850 Isolate global styles in function outside ArticlePage class
  dotcom-rendering/src/components/ArticlePage.tsx
Labels: dotcom-rendering

#11201 Get new elements to use the new subheading styles
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/Subheading.tsx
  dotcom-rendering/src/components/SubheadingBlockComponent.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11218 Use `isOneOf` for custom type predicates
  dotcom-rendering/src/client/islands/getPriority.ts
  dotcom-rendering/src/components/ContentABTest.amp.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/edition.ts
  dotcom-rendering/src/lib/guard.ts
  dotcom-rendering/src/lib/scheduler.ts
  dotcom-rendering/src/types/territory.ts
Labels: dotcom-rendering

#11186 Stop considering aborted in-flight request as network errors
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering

#11041 Document outline epic (subheadings and dropcaps)
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/DropCap.tsx
  dotcom-rendering/src/components/Dropcap.stories.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/InteractiveContentsBlockComponent.importable.tsx
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/Subheading.tsx
  dotcom-rendering/src/components/SubheadingBlockComponent.stories.tsx
  dotcom-rendering/src/components/SubheadingBlockComponent.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/lib/format.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11220 Stop newsletter embeds recurring in nested list elements
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
Labels: dotcom-rendering

#11221 Bump `browserslist` to v4.23.0
  dotcom-rendering/package.json
  dotcom-rendering/webpack/browser-targets.test.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11236 Remove regex for video ids
  dotcom-rendering/src/components/VideoVimeoBlockComponent.amp.tsx
  dotcom-rendering/src/components/VideoYoutubeBlockComponent.amp.tsx
  dotcom-rendering/src/lib/get-video-id.amp.test.ts
  dotcom-rendering/src/lib/get-video-id.amp.ts
Labels: dotcom-rendering

#11233 Ignore <CardPicture /> image in Chromatic
  dotcom-rendering/src/components/CardPicture.tsx
Labels: dotcom-rendering

#11214 Position bullet points correctly
  dotcom-rendering/src/components/Figure.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Timeline.tsx
Labels: dotcom-rendering

#11243 Simplify `getIdFromUrl` logic
  dotcom-rendering/src/lib/get-video-id.amp.test.ts
  dotcom-rendering/src/lib/get-video-id.amp.ts
Labels: dotcom-rendering

#11244 Enforce consistent curly brackets style with ESLint
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/components/Callout/CalloutComponents.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/InteractiveContentsBlockComponent.importable.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/MediaDuration.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/PrivacySettingsLink.importable.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/SpotifyBlockComponent.importable.tsx
  dotcom-rendering/src/components/TopMeta.amp.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomSticky.tsx
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/transparentColour.ts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/model/enhance-dividers.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/extractTrendingTopics.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/static/icons/Star.tsx
Labels: dotcom-rendering

#11235 Filter unsupported roles from the body
  dotcom-rendering/src/components/Timeline.stories.tsx
  dotcom-rendering/src/model/enhanceTimeline.test.ts
  dotcom-rendering/src/model/enhanceTimeline.ts
Labels: dotcom-rendering

#11196 Account for supporter and signed in status before showing AdBlockAsk
  dotcom-rendering/src/components/AdBlockAsk.importable.tsx
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/lib/useAdBlockAsk.ts
Labels: dotcom-rendering

#11249 Bump some `@guardian/*` packages to their latest versions
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11250 Use custom styling for a timeline showcase image
  dotcom-rendering/src/components/Figure.tsx
Labels: dotcom-rendering

#11256 Pass isMainMedia prop from timeline to article element
  dotcom-rendering/src/components/Figure.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Timeline.stories.tsx
  dotcom-rendering/src/components/Timeline.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#11199 Update follow redirects dependency
  pnpm-lock.yaml
Labels: DCR Dependency, AR Dependency

#11255 fix tag front branding add badge
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/DecideContainerByTrails.stories.tsx
  dotcom-rendering/src/components/DynamicFast.stories.tsx
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/components/DynamicSlowMPU.stories.tsx
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/FixedLargeSlowXIV.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXI.stories.tsx
  dotcom-rendering/src/components/FixedMediumFastXII.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVI.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowVII.stories.tsx
  dotcom-rendering/src/components/FixedMediumSlowXIIMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallFastVIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowI.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIII.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowIV.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVHalf.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVMPU.stories.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.stories.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Header.stories.tsx
  dotcom-rendering/src/components/HeaderTopBar.stories.tsx
  dotcom-rendering/src/components/HeaderTopBarEditionDropdown.stories.tsx
  dotcom-rendering/src/components/InlineAd.amp.test.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/LabsSection.stories.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/NavList.stories.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/components/PinnedPost.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.stories.tsx
  dotcom-rendering/src/components/Section.stories.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  dotcom-rendering/src/components/WitnessBlockComponent.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/server/handler.front.web.ts
Labels: dotcom-rendering

#11270 Show newsletter embeds after nested list elements
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#11274 Hide "Skip to navigation" link on apps article pages
  dotcom-rendering/src/components/ArticlePage.tsx
Labels: dotcom-rendering

#11175 Node 20.12.2 Iron (LTS)
  .nvmrc
  apps-rendering/riff-raff.yaml
  dotcom-rendering/Containerfile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/check-node-versions.mjs
  dotcom-rendering/scripts/deploy/riff-raff.yaml
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#11287 Speed up cached ESLint checks
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/src/server/lib/get-content-from-url.js
  dotcom-rendering/webpack/webpack.config.dev-server.js
Labels: enhancement, DevX, dotcom-rendering

#11291 Fix import in AdBlockAsk
  dotcom-rendering/src/components/AdBlockAsk.importable.tsx
Labels: dotcom-rendering

#11297 Load Discussion more eagerly on Apps
  dotcom-rendering/src/components/DiscussionLayout.tsx
Labels: enhancement, dotcom-rendering, Discussion

#11267 Bump source foundations
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Subheading.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11301 Bump Storybook to latest v7
  apps-rendering/package.json
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: DCR Dependency, AR Dependency, apps-rendering, dotcom-rendering

#11302 Remove deprecated Babel packages
  dotcom-rendering/babel.config.js
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: DCR Dependency, dotcom-rendering

#11303 Remove stub `@types/parse5`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: DCR Dependency, dotcom-rendering

#11308 chore: bump support-dotcom-components
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11285 Match frontend rendered video pages
  dotcom-rendering/fixtures/generated/dcr-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Video.ts
  dotcom-rendering/fixtures/generated/fe-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/fe-articles/Video.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/AppsEpic.importable.tsx
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/BylineLink.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/enhance-videos.test.ts
  dotcom-rendering/src/model/enhance-videos.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/config.ts
Labels: dotcom-rendering
