Repository guardian/dotcom-rendering, pull requests merged in 2024-02, with the labels that each got.

#10432 Refactor Discussion’s `onRecommend` to be part of the `user` prop
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10402 Dependencies | Update `identity-auth` and `identity-auth-frontend`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10427 Add `userNameMissing` `CommentForm` state to the `Discussion` reducer
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10421 Show the notification buttons on large ipad
  dotcom-rendering/src/components/BylineLink.tsx
Labels: dotcom-rendering, run_chromatic

#10449 Reverted cmp and commerical
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10428 Refactor and simplify the discussion API Comment Response parsing
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10165 Use built-in `@guardian/ab-core` server-side test registration to Ophan
  dotcom-rendering/src/client/ophan/ophan.test.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/ophan/recordInitialPageEvents.ts
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SetABTests.importable.tsx
  dotcom-rendering/src/components/TagFrontPage.tsx
Labels: dotcom-rendering, run_chromatic

#10470 Dedupe deps
  pnpm-lock.yaml
Labels: run_chromatic

#10471 Fix media queries
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10462 Move `pick` and `unPick` into the user object
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10480 Add `addUsername` Method To `user`
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10477 Fix `Pagination` thread count in Discussion
  dotcom-rendering/fixtures/manual/discussionWithTwoComments.ts
  dotcom-rendering/fixtures/manual/short-discussion.ts
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Filters.stories.tsx
  dotcom-rendering/src/components/Discussion/Filters.tsx
  dotcom-rendering/src/components/Discussion/Pagination.stories.tsx
  dotcom-rendering/src/components/Discussion/Pagination.test.tsx
  dotcom-rendering/src/components/Discussion/Pagination.tsx
Labels: dotcom-rendering, run_chromatic

#10484 Unify Android check with custom hook
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/lib/useIsAndroid.ts
Labels: Bug, dotcom-rendering, run_chromatic

#10472 Clearer comment batch rendering
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering, run_chromatic, Pick me up

#10474 Pass `canRender` to braze messages
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10385 Fix Apps Article Metadata Branding Styles
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10467 Only build Lightbox images once
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/src/components/CartoonComponent.mocks.ts
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Lightbox.stories.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/lib/lightbox.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/addImageIDs.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10425 Test new Ophan version that enables tracking of clicks on external links
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10453 Set The Same Load Balancer Timeout In AR As In DCR
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
Labels: apps-rendering, run_chromatic

#10483 Add reportAbuse field to User
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.stories.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.test.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10494 Playwright local tweaks
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/tsconfig.json
Labels: dotcom-rendering, run_chromatic

#10481 Reduce article rendering min instance count to 15
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#10499 Fix permalinks on collapsed threads
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/lib/getCommentContext.ts
Labels: dotcom-rendering, run_chromatic, Rota

#10504 Extend expiry for mpuWhenNoEpic AB test to set back live
  dotcom-rendering/src/experiments/tests/mpu-when-no-epic.ts
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10501 Add Constructors For `Result`
  dotcom-rendering/src/components/Discussion/AbuseReportForm.stories.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.test.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/lib/json.ts
  dotcom-rendering/src/lib/result.ts
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#9835 Enable scrolly articles in sandboxed `iframe`
  dotcom-rendering/src/components/InteractiveAtom.stories.tsx
  dotcom-rendering/src/components/InteractiveAtom.tsx
  dotcom-rendering/src/components/InteractiveAtomMessenger.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: enhancement, dotcom-rendering, run_chromatic

#10516 Upgrade @guardian/commercial@14.4.1
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10529 Remove rogue Discussion log
  dotcom-rendering/src/components/Discussion.tsx
Labels: dotcom-rendering, run_chromatic, Pick me up

#10530 Move `discussion` Out Of `types` Into `lib`
  dotcom-rendering/fixtures/manual/comment.ts
  dotcom-rendering/fixtures/manual/discussion-no-top-comments.ts
  dotcom-rendering/fixtures/manual/discussion.ts
  dotcom-rendering/fixtures/manual/discussionWithNoComments.ts
  dotcom-rendering/fixtures/manual/discussionWithTwoComments.ts
  dotcom-rendering/fixtures/manual/short-discussion.ts
  dotcom-rendering/fixtures/manual/topPicks.ts
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.stories.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.test.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.tsx
  dotcom-rendering/src/components/Discussion/Filters.stories.tsx
  dotcom-rendering/src/components/Discussion/Filters.tsx
  dotcom-rendering/src/components/Discussion/Pagination.stories.tsx
  dotcom-rendering/src/components/Discussion/Pagination.test.tsx
  dotcom-rendering/src/components/Discussion/Pagination.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.stories.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/SignedInAs.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering, run_chromatic

#10517 Reduce article rendering min instance count to 12
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#10508 Improve comment context with shared Discussion state
  dotcom-rendering/src/components/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering, run_chromatic

#10531 Fix `CommentForm` laggy input
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/lib/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10550 Bump pre-release Ophan version in A/B test
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10545 Handle YouTube IMA script loading error and refactor loadYouTubeApi
  dotcom-rendering/src/components/YoutubeAtom/loadYouTubeApi.ts
Labels: dotcom-rendering, run_chromatic

#10554 Show caption and credit on Labs main media
  dotcom-rendering/src/model/enhance-images.ts
Labels: dotcom-rendering, run_chromatic, Rota

#10511 Add `AbortController` to Discussion for guaranteed data freshness
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering, run_chromatic

#10564 Additional version bump for Ophan test version
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10568 Fix discussion app hydration bug
  dotcom-rendering/src/client/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10570 Prevent CLS in `SecureSignup` for newsletter when signed in
  dotcom-rendering/src/components/EmailSignUpWrapper.stories.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#10577 Fix `SecureSignup` grid areas
  dotcom-rendering/src/components/SecureSignup.importable.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#10578 Better `--interactive-block-background` integration
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic, Pick me up

#10580 Added Background Colours For Interactive Elements
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10584 Require reason to report comment with "Other" category
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
Labels: dotcom-rendering, run_chromatic

#10563 Distinguish top-level comments
  dotcom-rendering/fixtures/manual/discussion.ts
  dotcom-rendering/fixtures/manual/discussionWithTwoComments.ts
  dotcom-rendering/fixtures/manual/legacyDiscussionWithoutThreading.ts
  dotcom-rendering/fixtures/manual/short-discussion.ts
  dotcom-rendering/fixtures/manual/topPicks.ts
  dotcom-rendering/src/components/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/TopPick.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.stories.tsx
  dotcom-rendering/src/components/Discussion/TopPicks.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering, Discussion, run_chromatic

#10589 No comments batch loading
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering, run_chromatic

#10592 Only jump to comment when fully loaded
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#10585 No space between the end of right column and advert in liveblogs
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10599 Fix Reply & Comment parsing
  dotcom-rendering/src/components/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comment.stories.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/lib/discussion.ts
Labels: Bug, dotcom-rendering, run_chromatic

#10590 Improve CLS for article-end slot in UK
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10605 Stop Auto-generating Web Layout Stories
  dotcom-rendering/.storybook/decorators/themeDecorator.tsx
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/HydratedLayoutWrapper.tsx
  dotcom-rendering/stories/generated/Layout.apps.stories.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10604 Make scrollies work!
  dotcom-rendering/src/components/InteractiveAtom.tsx
  dotcom-rendering/src/components/InteractiveAtomMessenger.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10620 Bump the testing-library group with 5 updates
  dotcom-rendering/package.json
  dotcom-rendering/scripts/jest/setup.ts
  dotcom-rendering/src/components/AudioAtom/AudioAtom.test.tsx
  dotcom-rendering/src/components/ChartAtom.test.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.test.tsx
  dotcom-rendering/src/components/ExplainerAtom.test.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.test.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10628 Change AMP data-block-on-consent var from _till_accepted to till_responded
  dotcom-rendering/src/components/Ad.amp.tsx
  dotcom-rendering/src/components/Analytics.amp.tsx
  dotcom-rendering/src/components/AnalyticsIframe.amp.tsx
  dotcom-rendering/src/components/Permutive.amp.tsx
  dotcom-rendering/src/components/VideoYoutubeBlockComponent.amp.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.amp.tsx
Labels: dotcom-rendering, run_chromatic

#10595 Bump support-dotcom-components
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10623 Display max file size warning for callout file inputs
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Callout/FormField.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10619 Tweak DCR stack scaling
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: dotcom-rendering, run_chromatic

#10636 Give Card comment count an accessible name
  dotcom-rendering/src/components/CardCommentCount.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10040 Record consent via ophan amp
  dotcom-rendering/src/components/Analytics.amp.tsx
Labels: dotcom-rendering, run_chromatic

#10642 Include valibot in webpack client transpilation
  dotcom-rendering/webpack/webpack.config.client.js
Labels: dotcom-rendering, run_chromatic

#10646 Update @guardian/browserslist-config@6.1.0
  dotcom-rendering/package.json
  dotcom-rendering/webpack/browser-targets.test.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10645 Add Swift Notes in the all newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#10648 Rearrange all newsletters page for US edition
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering, run_chromatic

#10649 Add badges to tag pages
  dotcom-rendering/makefile
  dotcom-rendering/src/components/ContainerTitle.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/lib/branding.test.ts
  dotcom-rendering/src/lib/branding.ts
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/types/tagPage.ts
Labels: dotcom-rendering, run_chromatic

#10608 Stop Auto-generating Apps Layout Stories
  dotcom-rendering/.storybook/decorators/themeDecorator.tsx
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/HydratedLayoutWrapper.tsx
  dotcom-rendering/stories/generated/Layout.apps.stories.tsx
  dotcom-rendering/stories/generated/LayoutReadme.stories.jsx
Labels: dotcom-rendering, run_chromatic

#10674 Add `ShareButton` description
  dotcom-rendering/src/components/ShareButton.importable.tsx
Labels: dotcom-rendering, documentation, run_chromatic

#10681 Test `Discussion` for server-side friendliness
  dotcom-rendering/src/components/Island.test.tsx
Labels: dotcom-rendering, run_chromatic

#10657 Update newsletters documentation
  dotcom-rendering/docs/email-newsletters-page.md
Labels: dotcom-rendering, run_chromatic

#10689 Add `gnm-archive/gnm-archive` tag in `tagsWithoutAgeWarning`
  dotcom-rendering/src/lib/age-warning.ts
Labels: dotcom-rendering, run_chromatic

#10694 Simplify `OnwardsUpper` by removing its placeholder
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Labels: enhancement, dotcom-rendering, run_chromatic

#10682 Exclude Storybook From Webpack Dependency Group
  .github/dependabot.yml
Labels: run_chromatic

#10690 Removed Ambient Types For `ArticleDesign` And `ArticleDisplay`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/lib/format.ts
Labels: dotcom-rendering, run_chromatic

#10676 Deeply Read - Explainer Link
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
Labels: dotcom-rendering, run_chromatic

#10688 Update braze components dependency to v18.1.0
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.stories.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10715 Fix height in Immersive article main media
  dotcom-rendering/src/components/ImageComponent.tsx
Labels: dotcom-rendering, run_chromatic

#10686 Show ads on mobile discussion
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/DiscussionLayout.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10706 Remove `format` Parameter From `enhanceTableOfContents`
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/enhanceTableOfContents.test.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
Labels: dotcom-rendering, run_chromatic

#10702 Remove `format` Field From `NumberedTitleBlockElement`
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10723 Bump consent-management-platform to version 13.11.1
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10712 Remove deeply read switch check and enable permanently
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, run_chromatic

#10707 Use `ArticleFormat` In `BlockEnhancer`
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/enhance-blockquotes.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/server/handler.article.web.ts
Labels: dotcom-rendering, run_chromatic

#10658 Hook `onRecommend` to Bridget
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
Labels: dotcom-rendering, run_chromatic

#10740 Use dark mode colours on discussion button background
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10747 Update the URL for "reuse this content" for new form
  dotcom-rendering/src/components/SubMeta.tsx
Labels: dotcom-rendering, run_chromatic

#10761 Update deeply read explainer link
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
Labels: dotcom-rendering, run_chromatic

#10751 Dependencies | Update `@guardian/commercial`, `@guardian/identity-auth` and `@guardian/identity-auth-frontend`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#10762 Use web handler to report abuse in apps
  dotcom-rendering/src/components/DiscussionApps.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10768 Discussion add on button : Match border to background
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Labels: dotcom-rendering, run_chromatic
