Repository guardian/dotcom-rendering, pull requests merged in 2024-01, with the labels that each got.

#10017 Fix reader revenue e2e check for support text
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
Labels: dotcom-rendering

#9943 Make `ManyNewsletterSignUp` use props instead of the window global
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.stories.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
Labels: dotcom-rendering

#9971 Apply Labs styling if all cards are paid content
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/branding.test.ts
  dotcom-rendering/src/lib/branding.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/branding.ts
Labels: dotcom-rendering

#10022 Make `Picture` loading explicit
  dotcom-rendering/src/components/AppsLightboxImage.importable.tsx
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering

#10011 Create a lightbox for cartoon elements in the app
  dotcom-rendering/src/components/CartoonComponent.tsx
Labels: dotcom-rendering

#9476 `yarn` → `pnpm`
  .github/actions/setup-node-env/action.yml
  .github/workflows/ar-chromatic.yml
  .github/workflows/ar-ci.yml
  .github/workflows/ar-nodejs.yml
  .github/workflows/cypress.yml
  .github/workflows/dcr-chromatic.yml
  .github/workflows/jest.yml
  .github/workflows/playwright.yml
  .github/workflows/prettier.yml
  .github/workflows/typescript.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .npmrc
  .prettierignore
  .vscode/settings.json.recommended
  .yarnrc.yml
  README.md
  apps-rendering/README.md
  apps-rendering/cdk.json
  apps-rendering/package.json
  dotcom-rendering/README.md
  dotcom-rendering/cdk.json
  dotcom-rendering/docs/contributing/code-style.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/contributing/how-to.md
  dotcom-rendering/docs/contributing/where-should-my-code-live.md
  dotcom-rendering/docs/snyk/how-to.md
  dotcom-rendering/docs/testing.md
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/src/components/SignInGate/README.md
  dotcom-rendering/tsconfig.json
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/preinstall.mjs
  yarn.lock
Labels: apps-rendering, DevX, dotcom-rendering

#10030 chore(deps): bump construct to compatible version
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: Dependencies, apps-rendering

#10031 Remove `doctoc` from dotcom-rendering
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/code-style.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/contributing/how-to.md
  dotcom-rendering/docs/contributing/where-should-my-code-live.md
  dotcom-rendering/package.json
  package.json
  pnpm-lock.yaml
Labels: DevX, dotcom-rendering

#10032 Remove snyk
  .github/workflows/snyk.yml
  dotcom-rendering/README.md
  dotcom-rendering/docs/development/detecting-and-correcting-vulnerabilities-with-snyk.md
  dotcom-rendering/docs/snyk/how-to.md
  dotcom-rendering/docs/snyk/snyk-dcr-structure.png
  dotcom-rendering/docs/snyk/snyk-history.png
  dotcom-rendering/docs/snyk/snyk-screenshot.png
  dotcom-rendering/docs/snyk/snyk_google_login.png
  dotcom-rendering/docs/snyk/snyk_google_sso.png
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: DevX, dotcom-rendering

#10027 Use native `node:crypto` implementation over `crypto-js`
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ContentABTest.amp.tsx
  package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#10024 Remove dependency on `uuid` from `nativeConnection`
  apps-rendering/package.json
  apps-rendering/src/native/thrift/nativeConnection.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/thrift/nativeConnection.ts
  package.json
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#10025 Upgrade SWC
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#10026 Upgrade `@playwright/test@1.40.1`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#10033 Update webpack config proposal to match current config
  dotcom-rendering/.eslintignore
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/README.md
  dotcom-rendering/configs/webpack/base.mjs
  dotcom-rendering/configs/webpack/bundle.apps.mjs
  dotcom-rendering/configs/webpack/bundle.server.mjs
  dotcom-rendering/configs/webpack/bundle.web.scheduled.mjs
  dotcom-rendering/webpack.config.mjs
Labels: dotcom-rendering

#10035 Re introduce run_chromatic label
  .github/workflows/ar-chromatic.yml
  .github/workflows/dcr-chromatic.yml
Labels: run_chromatic

#10043 Only one `make build`
  dotcom-rendering/package.json
  package.json
Labels: dotcom-rendering, run_chromatic

#9978 Create separate Layout Stories for Apps rendering target
  dotcom-rendering/fixtures/generated/articles/LiveBlogSingleContributor.ts
  dotcom-rendering/scripts/gen-stories/get-stories.mjs
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/layouts/Layout.stories.tsx
  dotcom-rendering/stories/generated/Layout.apps.stories.tsx
  dotcom-rendering/stories/generated/Layout.stories.tsx
Labels: dotcom-rendering, run_chromatic

#9994 Prevent usage of `localStorage`
  dotcom-rendering/.eslintrc.js
  dotcom-rendering/src/components/SignInGate/dismissGate.ts
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/marketing/lib/articleCountOptOut.ts
  dotcom-rendering/src/components/marketing/lib/viewLog.ts
  dotcom-rendering/src/lib/alreadyVisited.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/dailyArticleCount.test.ts
  dotcom-rendering/src/lib/dailyArticleCount.ts
  dotcom-rendering/src/lib/getCommentContext.ts
  dotcom-rendering/src/lib/hasCurrentBrazeUser.ts
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
Labels: dotcom-rendering, run_chromatic

#10054 Refactor `dailyArticleCount` to `@guardian/libs/storage`
  dotcom-rendering/src/lib/dailyArticleCount.ts
Labels: dotcom-rendering, run_chromatic

#10060 Simplify ad placeholder test
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
Labels: dotcom-rendering, run_chromatic

#10063 Add test for maximum number of ad placeholders
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
Labels: dotcom-rendering, run_chromatic

#9983 Bump `screenfull` to v6
  dotcom-rendering/jest.config.js
  dotcom-rendering/package.json
  dotcom-rendering/webpack/webpack.config.server.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10065 feat: remove unused PR deployments
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ar-pr-deployment.yml
  .github/workflows/pr-deployment.yml
Labels: run_chromatic

#10069 Fix weather component chevron direction
  dotcom-rendering/src/components/Weather.tsx
Labels: dotcom-rendering, run_chromatic

#10067 Lower sticky banner height
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering, run_chromatic

#10050 Modernise stylelint
  dotcom-rendering/.stylelintrc
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Epic.amp.tsx
  dotcom-rendering/stylelint.config.mjs
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#9957 Make `useIsInView` custom hook more robust and reactive
  dotcom-rendering/src/lib/useIsInView.ts
Labels: dotcom-rendering, run_chromatic

#10077 Show `YoutubeAtom` placeholder reliably
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#10004 Migrate lightbox e2e test to Playwright
  .github/workflows/cypress.yml
  dotcom-rendering/cypress/e2e/parallel-2/lightbox.cy.js
  dotcom-rendering/playwright/tests/parallel-2/lightbox.e2e.spec.ts
Labels: dotcom-rendering, run_chromatic

#10080 Enable Lightbox when in test
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering, run_chromatic

#10051 Bump github slug actions to v.4.4.1
  .github/workflows/container.yml
Labels: run_chromatic

#10038 add styling for keeping slot for mobile device
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#10084 Align Webpack configs perfectly
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/base.mjs
  dotcom-rendering/configs/webpack/client.apps.mjs
  dotcom-rendering/configs/webpack/client.web.legacy.mjs
  dotcom-rendering/configs/webpack/client.web.mjs
  dotcom-rendering/configs/webpack/client.web.variant.mjs
  dotcom-rendering/configs/webpack/server.dev.mjs
  dotcom-rendering/configs/webpack/server.mjs
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
Labels: dotcom-rendering, run_chromatic

#10090 Only show Lightbox on web & in test variant
  dotcom-rendering/playwright/tests/parallel-2/lightbox.e2e.spec.ts
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/CartoonComponent.stories.tsx
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/frontend.ts
Labels: Bug, dotcom-rendering, run_chromatic

#10019 Migrate `liveblog.interactivity` to Playwright
  .github/workflows/cypress.yml
  dotcom-rendering/cypress/e2e/parallel-5/liveblog.interactivity.cy.js
  dotcom-rendering/playwright/fixtures/manual/cricket-match.js
  dotcom-rendering/playwright/fixtures/manual/tweet-block.js
  dotcom-rendering/playwright/lib/iframe.ts
  dotcom-rendering/playwright/tests/parallel-1/article.embeds.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-5/liveblog.interactivity.e2e.spec.ts
Labels: dotcom-rendering, run_chromatic

#10107 Add CSTI to CODEOWNERS file
  .github/CODEOWNERS
Labels: DevX, run_chromatic

#10114 Ensure server-side tests are available where required
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#10089 Request lightbox fullscreen earlier
  dotcom-rendering/playwright/tests/parallel-2/lightbox.e2e.spec.ts
  dotcom-rendering/src/components/LightboxJavascript.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10115 Only show web lightbox in test variant
  dotcom-rendering/playwright/tests/parallel-2/lightbox.e2e.spec.ts
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: Bug, dotcom-rendering, New Feature, run_chromatic

#9783 DCAR: Create ArticleMeta.apps component
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/BylineLink.tsx
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/components/Dateline.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10123 Use storage api in article count
  dotcom-rendering/src/components/marketing/lib/articleCountOptOut.ts
Labels: dotcom-rendering, run_chromatic

#10128 Fix liveblog epic ophan view event
  dotcom-rendering/src/components/marketing/epics/utils/ophan.ts
Labels: dotcom-rendering, run_chromatic

#9993 Move Some Test Articles Into Examples Table
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#10130 Style for tablet
  dotcom-rendering/src/components/AdSlot.apps.tsx
Labels: dotcom-rendering, run_chromatic

#10134 Fix labs link
  dotcom-rendering/src/components/LabsSection.tsx
Labels: dotcom-rendering, run_chromatic

#10135 Add epic tests
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.test.tsx
Labels: dotcom-rendering, run_chromatic

#10131 Fix rendering of notification badge in expanded dropdown
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Dropdown.tsx
Labels: dotcom-rendering, run_chromatic

#10138 Migrate `sign-in-gate` to Playwright
  .github/workflows/cicd.yml
  .github/workflows/cypress.yml
  dotcom-rendering/cypress/e2e/parallel-1/sign-in-gate.cy.js
  dotcom-rendering/playwright/lib/cmp.ts
  dotcom-rendering/playwright/tests/parallel-1/sign-in-gate.e2e.spec.ts
Labels: dotcom-rendering, run_chromatic

#10144 Enable `video` element to maintain aspect ratio
  dotcom-rendering/src/components/MaintainAspectRatio.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#10112 Handle optional `abTests` in Blocks endpoint
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/frontend.ts
Labels: Bug, dotcom-rendering, run_chromatic

#10117 Bump braze-components dependency to v16.3.0
  dotcom-rendering/package.json
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.stories.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10129 Remove "most commented" and "most shared"
  dotcom-rendering/fixtures/manual/most-read.ts
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/MostViewed.mocks.ts
  dotcom-rendering/src/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/components/MostViewedFooterSecondTierItem.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, run_chromatic

#10145 Bump follow-redirects to 1.15.4
  pnpm-lock.yaml
Labels: run_chromatic

#10155 Narrower Edition from ID
  dotcom-rendering/src/lib/edition.ts
Labels: dotcom-rendering, run_chromatic, Pick me up

#10153 Component to display date & time uniformly
  dotcom-rendering/src/components/DateTime.stories.tsx
  dotcom-rendering/src/components/DateTime.tsx
Labels: dotcom-rendering, run_chromatic, Pick me up

#9447 Add reminder to add `run_chromatic` label
  .github/workflows/chromatic-label-helper.yml
Labels: run_chromatic

#10151 Migrate `alreadyVisited` to new localStorage API
  dotcom-rendering/src/lib/alreadyVisited.ts
Labels: dotcom-rendering, run_chromatic

#10082 Reduce ASG size to 24 instances
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#10158 Fix Dropdown story so that expanded state is toggleable
  dotcom-rendering/src/components/Dropdown.tsx
Labels: dotcom-rendering, run_chromatic

#10133 Scaling Decision Record
  dotcom-rendering/docs/architecture/029-scaling-policy-decision-record.md
Labels: dotcom-rendering, run_chromatic

#10163 Add remaining darkmode styles for onwards
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10159 Update deeply read test
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
Labels: dotcom-rendering, run_chromatic

#10047 Refactor Dismiss Gate to use `@guardian/libs` storage
  dotcom-rendering/src/components/SignInGate/dismissGate.ts
Labels: dotcom-rendering, run_chromatic

#10164 Remove Cypress #1
  .github/workflows/cypress.yml
  .gitignore
  dotcom-rendering/cypress.config.js
  dotcom-rendering/cypress/.eslintrc.js
  dotcom-rendering/cypress/e2e/PLACE-SPECS-IN-ONE-OF-THESE-FOLDERS
  dotcom-rendering/cypress/fixtures/manual/cricket-match.js
  dotcom-rendering/cypress/fixtures/manual/most-read-geo.js
  dotcom-rendering/cypress/fixtures/manual/most-read.js
  dotcom-rendering/cypress/fixtures/manual/standard-article.js
  dotcom-rendering/cypress/fixtures/manual/tweet-block.js
  dotcom-rendering/cypress/fixtures/richLink.json
  dotcom-rendering/cypress/fixtures/shareCount.json
  dotcom-rendering/cypress/lib/cmpIframe.js
  dotcom-rendering/cypress/lib/disableCMP.js
  dotcom-rendering/cypress/lib/mocks.js
  dotcom-rendering/cypress/lib/privacySettingsIframe.js
  dotcom-rendering/cypress/lib/setLocalBaseUrl.js
  dotcom-rendering/cypress/lib/setUrlFragment.js
  dotcom-rendering/cypress/lib/time.js
  dotcom-rendering/cypress/support/commands.js
  dotcom-rendering/cypress/support/e2e.js
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
  dotcom-rendering/docs/testing.md
  dotcom-rendering/fixtures/config-overrides.js
  dotcom-rendering/fixtures/manual/guideAtom.ts
  dotcom-rendering/fixtures/manual/qandaAtom.tsx
  dotcom-rendering/fixtures/manual/timelineAtom.tsx
  dotcom-rendering/fixtures/switch-overrides.js
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/playwright/lib/locators.ts
  dotcom-rendering/playwright/tests/parallel-1/sign-in-gate.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-5/atom.video.e2e.spec.ts
  dotcom-rendering/playwright/tests/parallel-6/commercial.e2e.spec.ts
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/SetABTests.importable.tsx
  dotcom-rendering/src/experiments/cypress-switches.ts
  dotcom-rendering/src/model/enhance-switches.ts
  dotcom-rendering/tsconfig.json
  dotcom-rendering/window.guardian.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10152 Enable more onwards journeys on apps articles
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering, run_chromatic

#10169 Bump `ts-jest` to to v29
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, run_chromatic

#10156 Use `DateTime` in `LastUpdated`
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/DateTime.stories.tsx
  dotcom-rendering/src/components/DateTime.tsx
  dotcom-rendering/src/components/LastUpdated.stories.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#10175 Refactor `DateTime` to enable showing only date or time
  dotcom-rendering/src/components/DateTime.stories.tsx
  dotcom-rendering/src/components/DateTime.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
Labels: dotcom-rendering, run_chromatic

#10176 Use `DateTime` in `WitnessBlockComponent`
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/WitnessBlockComponent.stories.tsx
  dotcom-rendering/src/components/WitnessBlockComponent.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#10171 Update border colours in dark mode
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/components/MostViewedRightItem.tsx
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#9990 Newsletter Signup embeds: Remove email input field and autofill email instead for signed in users on WEB
  dotcom-rendering/src/components/SecureSignupIframe.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/BrazeEpic.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/lib/contributions.test.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/fetchEmail.test.ts
  dotcom-rendering/src/lib/fetchEmail.ts
  dotcom-rendering/src/model/guardian.ts
Labels: dotcom-rendering, run_chromatic

#10177 Use `DateTime` in `CricketScoreboard`
  dotcom-rendering/src/components/CricketScoreboard.stories.tsx
  dotcom-rendering/src/components/CricketScoreboard.tsx
  dotcom-rendering/src/components/GetCricketScoreboard.importable.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering, run_chromatic

#10192 Refactor comment context to use storage api
  dotcom-rendering/src/lib/getCommentContext.ts
Labels: dotcom-rendering, run_chromatic

#10189 "More on this story" darkmode updates
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10140 Update chromatic docs to always point to main
  dotcom-rendering/README.md
Labels: dotcom-rendering, run_chromatic

#10179 Add project to our issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/request-for-change.md
Labels: run_chromatic

#10199 Fix bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: run_chromatic

#10209 Catch Bridget errors
  dotcom-rendering/src/components/AdPortals.importable.tsx
  dotcom-rendering/src/lib/useReportNativeElementPositionChanges.ts
Labels: run_chromatic

#10194 Port the `devServer` to the new Webpack config
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/server.dev.mjs
  dotcom-rendering/webpack.config.mjs
Labels: dotcom-rendering, run_chromatic

#10048 Refactor contributions to use `@guardian/libs` storage
  dotcom-rendering/src/lib/contributions.ts
Labels: dotcom-rendering, run_chromatic

#10034 Remove signup iframe
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/__mocks__/SecureSignupMock.tsx
  dotcom-rendering/src/components/AppEmailSignUp.importable.tsx
  dotcom-rendering/src/components/EmailSignUpSwitcher.tsx
  dotcom-rendering/src/components/EmailSignUpWrapper.tsx
  dotcom-rendering/src/components/EmailSignup.stories.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/NewsletterSignupForm.stories.tsx
  dotcom-rendering/src/components/NewsletterSignupForm.tsx
  dotcom-rendering/src/components/SecureReCAPTCHASignup.tsx
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/components/SecureSignup.stories.tsx
  dotcom-rendering/src/components/SecureSignup.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#10221 Make `YoutubeAtom` test more robust
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
Labels: dotcom-rendering, run_chromatic

#10186 Simpify assets path selection
  dotcom-rendering/src/client/decidePublicPath.test.ts
  dotcom-rendering/src/client/decidePublicPath.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
Labels: dotcom-rendering, run_chromatic

#10243 Bump commercial to 12.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10218 Refactor `YoutubeAtom` so it does not rely on an external `elementId`
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/mainMedia.ts
Labels: dotcom-rendering, run_chromatic

#10244 Use interaction test in Dropdown story
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Dropdown.tsx
Labels: dotcom-rendering, run_chromatic

#10252 Remove `elementId` from `YoutubeAtom`
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/lib/liveblogAdSlots.test.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/mainMedia.ts
Labels: dotcom-rendering, run_chromatic

#10137 Simplify the Lightbox DOM tree
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Lightbox.stories.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/components/LightboxJavascript.tsx
  dotcom-rendering/src/components/LightboxLayout.importable.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering, run_chromatic

#10251 Reintroduce Article Metadata From `leftCol` Breakpoint Upwards On Apps
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Bug, dotcom-rendering, run_chromatic

#10255 Make `id` required in `Video`
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/mainMedia.ts
Labels: dotcom-rendering, run_chromatic

#10219 Remove margin if no input text
  dotcom-rendering/src/components/SecureSignup.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10178 Fold `RelativeTime` into `DateTime`
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/CricketScoreboard.tsx
  dotcom-rendering/src/components/DateTime.stories.tsx
  dotcom-rendering/src/components/DateTime.tsx
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/PinnedPost.tsx
  dotcom-rendering/src/components/WitnessBlockComponent.tsx
Labels: dotcom-rendering, run_chromatic

#10269 `font-size` And `line-height` Should Be In `rem`
  dotcom-rendering/src/components/ArticleHeadline.tsx
Labels: dotcom-rendering, run_chromatic

#10262 Bump @guardian/braze-components to v17
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10239 Refactor page state in discussions
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.test.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering, run_chromatic

#10279 `CartoonComponent`: Only show lightbox toggle if in experiment
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#10264 Comments duplicated filters
  dotcom-rendering/playwright/tests/parallel-3/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.test.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Filters.stories.tsx
  dotcom-rendering/src/components/Discussion/Filters.tsx
  dotcom-rendering/src/lib/getCommentContext.ts
Labels: dotcom-rendering, run_chromatic

#10261 Reduce Article Stack Instance Count
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#10241 Fix AMP consent in ROW
  dotcom-rendering/src/components/AdConsent.amp.tsx
Labels: dotcom-rendering, run_chromatic

#10280 Fix Dev Server Static Assets Path
  dotcom-rendering/webpack/webpack.config.dev-server.js
Labels: dotcom-rendering, run_chromatic

#10240 Refactor `DiscussionContainer` to get user directly
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/components/DiscussionWhenSignedIn.tsx
Labels: dotcom-rendering, run_chromatic

#10286 Change min instance count for article-rendering to 18
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#10287 Increase scale down threashold
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: dotcom-rendering, run_chromatic

#10289 Make Liveness server-safe with hooks
  dotcom-rendering/src/components/Liveness.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10277 Set flex direction of column for follow buttons
  dotcom-rendering/src/components/FollowWrapper.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10284 Refactor mute state
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering, run_chromatic

#10296 Bump guardian/libs to fix local storage expiry
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/contributions.test.ts
  dotcom-rendering/src/lib/contributions.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10304 fix: reinstate `assertUnreachable`
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/lib/assert-unreachable.ts
  dotcom-rendering/src/lib/branding.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/branding.ts
Labels: dotcom-rendering

#10270 Remove puzzles banner
  dotcom-rendering/fixtures/config.js
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Dead.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Feature.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/playwright/fixtures/manual/standard-article.js
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/lib/stickiness.tsx
  dotcom-rendering/src/lib/useSDC.ts
Labels: dotcom-rendering, run_chromatic

#10274 Remove editorial badges
  dotcom-rendering/fixtures/generated/articles/Analysis.ts
  dotcom-rendering/fixtures/generated/articles/Audio.ts
  dotcom-rendering/fixtures/generated/articles/Comment.ts
  dotcom-rendering/fixtures/generated/articles/Editorial.ts
  dotcom-rendering/fixtures/generated/articles/Explainer.ts
  dotcom-rendering/fixtures/generated/articles/Gallery.ts
  dotcom-rendering/fixtures/generated/articles/Interview.ts
  dotcom-rendering/fixtures/generated/articles/Labs.ts
  dotcom-rendering/fixtures/generated/articles/Letter.ts
  dotcom-rendering/fixtures/generated/articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/articles/Picture.ts
  dotcom-rendering/fixtures/generated/articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/articles/Quiz.ts
  dotcom-rendering/fixtures/generated/articles/Recipe.ts
  dotcom-rendering/fixtures/generated/articles/Review.ts
  dotcom-rendering/fixtures/generated/articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/articles/Standard.ts
  dotcom-rendering/fixtures/generated/articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/lib/branding.test.ts
  dotcom-rendering/src/lib/branding.ts
  dotcom-rendering/src/model/__mocks__/badges.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/badges.ts
  dotcom-rendering/src/model/decideEditorialBadge.test.ts
  dotcom-rendering/src/model/decideEditorialBadge.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/types/badge.ts
  dotcom-rendering/src/types/branding.ts
Labels: dotcom-rendering, run_chromatic

#10307 Support non boot interactives in apps articles
  dotcom-rendering/src/server/render.article.apps.tsx
Labels: dotcom-rendering, run_chromatic

#10310 Reaveal Discussion instantly
  dotcom-rendering/src/components/Discussion.tsx
Labels: dotcom-rendering, run_chromatic

#10238 YouTube Player and IMA SDK integration
  dotcom-rendering/playwright/tests/parallel-5/atom.video.e2e.spec.ts
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubePlayer.ts
  dotcom-rendering/src/components/YoutubeAtom/ima.d.ts
  dotcom-rendering/src/components/YoutubeAtom/loadYouTubeApi.ts
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/window.guardian.ts
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10257 Make `discussionApi` functions async
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering, run_chromatic

#10290 Error on SSR-unfriendly scripts
  dotcom-rendering/.eslintrc.js
Labels: dotcom-rendering, run_chromatic

#10245 Fix fronts badges size in all breakpoints
  dotcom-rendering/src/components/Badge.tsx
  dotcom-rendering/src/components/LabsSection.tsx
Labels: dotcom-rendering, run_chromatic

#10299 Lift comment state into discussion
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/lib/useDiscussion.ts
Labels: dotcom-rendering, run_chromatic

#10315 Temporarily Make All AMP Interactives Not Renderable
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#10324 Bump to commercial v13
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10330 Replace `ophan-tracker-js` with `@guardian/ophan-tracker-js@2.0.4`
  dotcom-rendering/configs/webpack/client.apps.mjs
  dotcom-rendering/package.json
  dotcom-rendering/playwright/tests/parallel-5/atom.video.e2e.spec.ts
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/webpack/webpack.config.client.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10329 Make Lightbox a switch and enable by default for all
  dotcom-rendering/fixtures/generated/articles/Live.ts
  dotcom-rendering/fixtures/generated/articles/PhotoEssay.ts
  dotcom-rendering/playwright/tests/parallel-2/lightbox.e2e.spec.ts
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/CartoonComponent.stories.tsx
  dotcom-rendering/src/components/CartoonComponent.tsx
  dotcom-rendering/src/components/ImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.stories.tsx
  dotcom-rendering/src/components/MultiImageBlockComponent.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#10222 Change RFC template to yml for consistency
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/request-for-change.md
  .github/ISSUE_TEMPLATE/request-for-change.yml
Labels: run_chromatic

#10345 Temporarily force a protocol on prebid
  package.json
  pnpm-lock.yaml
Labels: DevX, run_chromatic

#10343 Lower scale down threshold for asrticle rendering app in PROD
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: dotcom-rendering, run_chromatic

#10333 Don't override user preferences in local storage
  dotcom-rendering/src/components/Discussion.tsx
Labels: dotcom-rendering, run_chromatic

#10327 Lift state for `userNameMissing` to `Comments`
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
Labels: dotcom-rendering, run_chromatic

#10347 Bump `pnpm` and remove `prebid` protocol override
  package.json
  pnpm-lock.yaml
Labels: DevX, run_chromatic

#10349 HTTP3 for all
  dotcom-rendering/src/lib/fonts-css.ts
  dotcom-rendering/src/lib/getHttp3Url.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering, run_chromatic

#10342 Re-introduce interactivity in `CommentForm` stories
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10350 Increase instance count
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, run_chromatic

#10362 Reintroduce interactivity in `CommentForm` story with errors
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10360 Increase latency evaluation period
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: dotcom-rendering, run_chromatic

#10359 Ophan e2e tests and remove Ophan request cancellation
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/parallel-4/ophan.e2e.spec.ts
Labels: run_chromatic

#10361 Refactor `getDiscussion`
  dotcom-rendering/fixtures/manual/discussion-no-top-comments.ts
  dotcom-rendering/fixtures/manual/discussion.ts
  dotcom-rendering/fixtures/manual/discussionWithNoComments.ts
  dotcom-rendering/fixtures/manual/discussionWithTwoComments.ts
  dotcom-rendering/fixtures/manual/short-discussion.ts
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/lib/json.ts
  dotcom-rendering/src/lib/result.ts
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10364 Parse Comment & Abuse responses of the Discussion API
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10291 Interactive Atoms Use Light Background In Dark Mode
  dotcom-rendering/src/components/InteractiveAtom.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10365 URI Encode Branding `src` To Make Sure It's Valid
  dotcom-rendering/src/components/Branding.importable.tsx
Labels: dotcom-rendering, run_chromatic

#10298 Interactive Atoms `in-app` Class
  dotcom-rendering/src/components/InteractiveAtom.tsx
  dotcom-rendering/src/lib/unifyPageContent.test.tsx
  dotcom-rendering/src/lib/unifyPageContent.tsx
Labels: dotcom-rendering, run_chromatic

#10373 Lift `previewBody` state from `FirstCommentWelcome`
  dotcom-rendering/src/components/Discussion/CommentContainer.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.test.tsx
  dotcom-rendering/src/components/Discussion/CommentContainer.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.stories.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.stories.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.tsx
Labels: dotcom-rendering, run_chromatic

#10374 Parse discussion response for top comments
  dotcom-rendering/fixtures/manual/topPicks.ts
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering, run_chromatic

#10351 Only build fonts CSS once
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/src/lib/fonts-css.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.article.amp.tsx
Labels: dotcom-rendering, run_chromatic

#10377 Use `Preview` component for `FirstCommentWelcome`
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.stories.tsx
  dotcom-rendering/src/components/Discussion/FirstCommentWelcome.tsx
  dotcom-rendering/src/components/Discussion/Preview.stories.tsx
  dotcom-rendering/src/components/Discussion/Preview.tsx
Labels: dotcom-rendering, run_chromatic

#10381 Remove `UserProfile` ambient type
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/DiscussionContainer.importable.tsx
  dotcom-rendering/src/components/DiscussionMeta.importable.tsx
  dotcom-rendering/src/components/HeaderTopBarMyAccount.tsx
  dotcom-rendering/src/components/SignedInAs.tsx
Labels: dotcom-rendering, run_chromatic

#10387 Fix type of Discussion API response
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10384 Reduce number of ambient types
  dotcom-rendering/fixtures/generated/match-report.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/Card/components/LI.tsx
  dotcom-rendering/src/components/LinkHeadline.tsx
  dotcom-rendering/src/components/ReaderRevenueButton.amp.tsx
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/matchReport.ts
Labels: dotcom-rendering, run_chromatic

#10388 Improve naming of discussion mapping function
  dotcom-rendering/src/components/Discussion.tsx
Labels: dotcom-rendering, run_chromatic

#10380 Parse identity POST user name response in discussion
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: dotcom-rendering, run_chromatic

#10231 Update old article banner logic
  dotcom-rendering/src/lib/age-warning.test.ts
  dotcom-rendering/src/lib/age-warning.ts
Labels: dotcom-rendering, run_chromatic

#10410 YouTube tests override `youtube-ima` switch to false
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/parallel-5/atom.video.e2e.spec.ts
Labels: dotcom-rendering, run_chromatic

#10409 Fix `pick` & `unpick` discussion API response
  dotcom-rendering/src/components/Discussion/Comment.tsx
  dotcom-rendering/src/lib/discussionApi.tsx
  dotcom-rendering/src/types/discussion.ts
Labels: Bug, dotcom-rendering, run_chromatic
