Repository guardian/dotcom-rendering, pull requests merged in 2024-06, with the labels that each got.

#11502 Add padding to main media video component captions
  dotcom-rendering/src/components/Caption.tsx
Labels: dotcom-rendering

#11481 Update `YoutubeAtom` stories to Component Story Format v3
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
Labels: dotcom-rendering

#11516 Replace YouTube main media e2e test
  dotcom-rendering/playwright/tests/atom.video.e2e.spec.ts
Labels: dotcom-rendering

#11503 Tighter grid on article layouts
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/rootStyles.ts
Labels: dotcom-rendering

#11507 Cc/choice cards live blog
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#11515 StickyBottomBanner on tag pages
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceTags.test.ts
  dotcom-rendering/src/model/enhanceTags.ts
Labels: dotcom-rendering

#11519 Less `grid-area` specificity
  dotcom-rendering/src/components/GridItem.tsx
Labels: Bug, dotcom-rendering

#11513 Refresh all AMP ad slots every 30s
  dotcom-rendering/src/components/Ad.amp.tsx
Labels: dotcom-rendering

#11525 RR Banner: Send abandoned basket last closed
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11527 fix: interactive expect no right column
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Labels: Bug, dotcom-rendering, Interactives :chart_with_upwards_trend:, visual bug

#11528 Remove `darkModeInApps` switch
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
Labels: dotcom-rendering

#11531 Narrower Edition
  dotcom-rendering/src/lib/edition.ts
Labels: enhancement, dotcom-rendering

#11536 Unique Liveblog blocks
  dotcom-rendering/src/components/Liveness.importable.tsx
Labels: Bug, Liveblogs, dotcom-rendering

#11532 More consistent `<time>` element
  dotcom-rendering/src/components/DateTime.tsx
  dotcom-rendering/src/components/RelativeTime.importable.test.tsx
  dotcom-rendering/src/components/RelativeTime.importable.tsx
Labels: dotcom-rendering

#11538 Improve `Liveness` debugging
  dotcom-rendering/src/components/Liveness.importable.tsx
Labels: dotcom-rendering

#11534 Fix match Deadblogs series colour
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11540 Pass star rating to carousel cards
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/trails.ts
Labels: dotcom-rendering

#11449 Add Tag Link component for big events test
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/TagLink.stories.tsx
  dotcom-rendering/src/components/TagLink.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11556 Unique Liveblog blocks (bis)
  dotcom-rendering/src/components/Liveness.importable.tsx
Labels: Bug, dotcom-rendering

#11557 No optional props, more sensible defauts.
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering

#11552 Prefer overflow-x: clip for ad-slot-container
  dotcom-rendering/src/lib/rootStyles.ts
Labels: dotcom-rendering

#11257 Update colours 🎨, spacing and font for headlines and standfirst
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11559 No `div#top-of-blog` for live updates
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
Labels: Bug, Liveblogs, dotcom-rendering

#11568 No HTML comment
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
Labels: Bug, dotcom-rendering

#11573 Tag Link: Use lowercase
  dotcom-rendering/src/components/TagLink.tsx
Labels: dotcom-rendering

#11574 Article Formats: Immersive byline fixes
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11575 DCR Video pages don't actually support AMP
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering

#11579 Make tag link server test web only
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#11517 add spacefinder data attribute for detection
  dotcom-rendering/src/components/QAndAExplainer.tsx
Labels: dotcom-rendering

#11582 Formats: Opionion and Analysis style fixes
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11584 Epic: always use targeted article count
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicArticleCountAboveWithOptOut.tsx
Labels: dotcom-rendering

#11585 Fix Pinned Post overlay
  dotcom-rendering/src/components/EnhancePinnedPost.importable.tsx
Labels: Bug, dotcom-rendering

#11571 Fix palette styling on Labs video pages
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11581 Tag Link Tracking
  dotcom-rendering/src/components/TagLink.tsx
Labels: dotcom-rendering

#11580 Manually enable CMP in banner dev util
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
Labels: dotcom-rendering

#11578 Use correct article background colour in tag link
  dotcom-rendering/src/components/TagLink.tsx
Labels: dotcom-rendering

#11592 Add top padding to tag link
  dotcom-rendering/src/components/TagLink.tsx
Labels: dotcom-rendering

#11496 Create placeholders for relocating Source NPM packages to DCR
  apps-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  libs/@guardian/source-development-kitchen/README.md
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/react-components.cjs
  libs/@guardian/source-development-kitchen/react-components.d.ts
  libs/@guardian/source-development-kitchen/react-components.js
  libs/@guardian/source/README.md
  libs/@guardian/source/foundations.cjs
  libs/@guardian/source/foundations.d.ts
  libs/@guardian/source/foundations.js
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components.cjs
  libs/@guardian/source/react-components.d.ts
  libs/@guardian/source/react-components.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps-rendering, dotcom-rendering

#11590 Disable RR banner on Android webview
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering

#11577 Reducing banner size
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#11470 Prepare code to remove `GA` from Web and AMP
  dotcom-rendering/docs/duplication.md
  dotcom-rendering/docs/principles/browser-support.md
  dotcom-rendering/docs/tracking/000-google-analytics.md
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/playwright/tests/consent.e2e.spec.ts
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
  dotcom-rendering/src/client/ga/ga-with-consent.ts
  dotcom-rendering/src/client/ga/ga.ts
  dotcom-rendering/src/client/main.web.ts
  dotcom-rendering/src/client/poorPerformanceMonitoring.ts
  dotcom-rendering/src/components/Analytics.amp.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/model/extract-ga.test.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/render.article.amp.test.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/window.guardian.ts
  pnpm-lock.yaml
Labels: Commercial :moneybag:, dotcom-rendering

#11586 remove unused `storybook-addon-turbo-build`
  dotcom-rendering/.storybook/main.ts
Labels: dotcom-rendering

#11602 Remove references to redplanet switch
  dotcom-rendering/fixtures/config.js
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
Labels: dotcom-rendering

#11612 Add timestamps to tag page cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/DecideContainerByTrails.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
Labels: dotcom-rendering

#11616 Remove console.log
  dotcom-rendering/src/components/DecideContainerByTrails.tsx
Labels: dotcom-rendering

#11608 Upgrade to storybook 8
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/FormatBoundary.tsx
  package.json
  patches/webpack-manifest-plugin@5.0.0.patch
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#11638 Add stickiness to tag link in liveblogs
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/TagLink.stories.tsx
  dotcom-rendering/src/components/TagLink.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11603 Add Storybook to the updated logo styling for "Advertising partner"
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.stories.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#11644 Increase RR banner max-height to 70%
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#11646 Use getZindex to correctly order tag link
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering

#11653 Disable liveblog tag test
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#11614 Override showVideo toggle behaviour when we should not show an image
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
Labels: dotcom-rendering

#11657 Adjust standfirst padding for mobile to left col
  dotcom-rendering/src/components/Standfirst.tsx
Labels: dotcom-rendering

#11595 Update `AgeWarning` Stories To Component Story Format v3
  dotcom-rendering/src/components/AgeWarning.stories.tsx
Labels: dotcom-rendering

#11662 Update padding and default colours for tag link
  dotcom-rendering/src/components/TagLink.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11668 Set fallback data for `MatchNav` on live blogs
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/Score.tsx
Labels: enhancement, Liveblogs, dotcom-rendering, Sportblogs, Sport

#11675 Cleaner, more spacious `MatchNav` placeholder
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/MatchNav.tsx
Labels: Design, dotcom-rendering, Sportblogs, Sport

#11664 Use the same canonical URL for network fronts
  dotcom-rendering/src/server/render.front.web.tsx
Labels: dotcom-rendering

#11677 Handle missing video ID gracefully
  dotcom-rendering/src/components/VideoVimeoBlockComponent.amp.tsx
  dotcom-rendering/src/components/VideoYoutubeBlockComponent.amp.tsx
  dotcom-rendering/src/lib/get-video-id.amp.test.ts
  dotcom-rendering/src/lib/get-video-id.amp.ts
Labels: Bug, dotcom-rendering

#11679 Apply Comment headline/standfirst styles to letter tone
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/Standfirst.tsx
Labels: dotcom-rendering

#11678 Show date on tag pages if its after 12 hours
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
Labels: dotcom-rendering

#11695 Fix scheduled jobs
  .github/workflows/deno.yml
  .github/workflows/scheduled.yml
  scripts/deno/bots.ts
  scripts/deno/deno.json
  scripts/deno/deno.lock
  scripts/deno/github.ts
  scripts/deno/surface-lighthouse-results.ts
Labels: Bug

#11649 Adding Newsletter sign ups to Live Blog Epics
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11700 Increase banner height to 90%
  dotcom-rendering/src/layouts/lib/stickiness.tsx
Labels: dotcom-rendering

#11701 Updating Live Blog epic model
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#11703 Fix stickiness for right slot on video pages
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#11698 Reduce CLS for inline1 when Teads passback - step 2
  dotcom-rendering/src/components/ArticleContainer.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#11709 Create Three Tier Support Choice Cards
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicCtas.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/utils/threeTierChoiceCardAmounts.ts
Labels: dotcom-rendering

#11696 Remove custom AU decade logo
  dotcom-rendering/src/components/Logo.tsx
  dotcom-rendering/src/components/SvgGuardianAustraliaLogo.tsx
Labels: dotcom-rendering

#11714 Add the new three tier choice cards to article Epic
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/utils/threeTierChoiceCardAmounts.ts
Labels: dotcom-rendering

#11673 Add football crests to tag pages
  dotcom-rendering/src/components/TagPageHeader.stories.tsx
  dotcom-rendering/src/components/TagPageHeader.tsx
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/server/handler.front.web.test.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/types/tag.ts
Labels: dotcom-rendering

#11706 Update `AdBlockAsk` Stories To Component Story Format v3
  dotcom-rendering/src/components/AdBlockAsk.stories.tsx
  dotcom-rendering/src/components/AdBlockAskLeaderboard.stories.tsx
  dotcom-rendering/src/components/AdBlockAskMPU.stories.tsx
Labels: dotcom-rendering

#11707 Update `AdSlot.apps` Stories To Component Story Format v3
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/AdSlot.apps.stories.tsx
Labels: dotcom-rendering

#11713 Revert alternative wording sign in gate A/B test
  dotcom-rendering/src/components/SignInGate/signInGate.ts
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-alternative-wording.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#11745 Update thrift to v0.20.0
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering
