Repository guardian/dotcom-rendering, pull requests merged in 2024-09, with the labels that each got.

#12255 Remove Custom Headline Colour For Print Shop
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12257 Remove Extra Media Query
  dotcom-rendering/src/components/ArticleMeta.web.tsx
Labels: dotcom-rendering

#12263 Changes in all newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#12281 Install `@guardian/source*` from NPM directly again
  apps-rendering/package.json
  dotcom-rendering/package.json
  libs/@guardian/source-development-kitchen/README.md
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/react-components.cjs
  libs/@guardian/source-development-kitchen/react-components.d.ts
  libs/@guardian/source-development-kitchen/react-components.js
  libs/@guardian/source/README.md
  libs/@guardian/source/foundations.cjs
  libs/@guardian/source/foundations.d.ts
  libs/@guardian/source/foundations.js
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components.cjs
  libs/@guardian/source/react-components.d.ts
  libs/@guardian/source/react-components.js
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12247 [Fairground] Roll out updated header design
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: dotcom-rendering, fairground

#12294 Add audio section title colours to palette
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12189 [Fairground 🎡] Card gap sizing
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
Labels: dotcom-rendering, fairground

#12295 Move titlepiece component to components folder to ensure hydration
  dotcom-rendering/src/components/Masthead/Masthead.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
  dotcom-rendering/src/components/Titlepiece.importable.tsx
  dotcom-rendering/src/components/Titlepiece.stories.tsx
Labels: dotcom-rendering, fairground

#12291 Restore/fix e2e header tests
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/article.metaAndOphan.e2e.spec.ts
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
  dotcom-rendering/playwright/tests/signedin.e2e.spec.ts
Labels: dotcom-rendering, fairground

#12279 Move And Rename `DCRArticle`
  dotcom-rendering/fixtures/generated/dcr-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Audio.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Comment.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Dead.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Feature.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Interview.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Labs.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Letter.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Live.ts
  dotcom-rendering/fixtures/generated/dcr-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/dcr-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Picture.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Review.ts
  dotcom-rendering/fixtures/generated/dcr-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Standard.ts
  dotcom-rendering/fixtures/generated/dcr-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Video.ts
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/TableOfContents.importable.tsx
  dotcom-rendering/src/components/TableOfContents.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/layoutHelpers.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/article.ts
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering

#12307 Fix Incorrect Imports In `gen-fixtures`
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Labels: Bug, dotcom-rendering

#12290 Epic choice card test variants
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.ts
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#12310 Remove Sticky Tag Link component
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/components/TagLink.stories.tsx
  dotcom-rendering/src/components/TagLink.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12298 Manually set textblock color for audio articles
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/MiniProfiles.stories.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
  dotcom-rendering/src/lib/format.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12325 [Fairground 🎡] Set state of live links on cards to be splash only
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12299 Move full page interactive header wrapper z-index up
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/lib/stickiness.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering, Pending-on-PROD, fairground

#12280 Add custom tag support to reportError function
  dotcom-rendering/src/client/sentryLoader/loadSentry.ts
  dotcom-rendering/src/client/sentryLoader/sentry.ts
Labels: dotcom-rendering

#12336 Add ab test to highlights insert tracking
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, run_chromatic

#12338 Use carousel component type
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering

#12339 Limit highlights trails to 6 cards
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12316 Create A New `Article` Type
  dotcom-rendering/fixtures/generated/dcr-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Audio.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Comment.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Dead.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Feature.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Interview.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Labs.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Letter.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Live.ts
  dotcom-rendering/fixtures/generated/dcr-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/dcr-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Picture.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Review.ts
  dotcom-rendering/fixtures/generated/dcr-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Standard.ts
  dotcom-rendering/fixtures/generated/dcr-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Video.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/Footer.stories.tsx
  dotcom-rendering/src/components/InteractiveContentsBlockComponent.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.test.ts
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/layoutHelpers.ts
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/article.ts
Labels: dotcom-rendering

#12323 [Fairground 🎡] Flexible special trail
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12350 Set the background colour of unselected choice cards
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering, Pending-on-PROD

#12324 [Fairground 🎡] Flexible special boost styles
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12356 Transparent Background Only On Interactive Articles
  dotcom-rendering/src/lib/rootStyles.ts
  dotcom-rendering/src/palette.ts
Labels: Bug, dotcom-rendering

#12352 bump express
  apps-rendering/package.json
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12363 Use source headlineMedium64 in boostedFontStyles
  dotcom-rendering/src/components/CardHeadline.tsx
Labels: dotcom-rendering, fairground

#12355 Revert "Limit highlights trails to 6 cards"
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12368 Set reminder button to have white background
  dotcom-rendering/src/components/marketing/epics/EpicButton.tsx
Labels: dotcom-rendering

#12376 Remove `decidePalette` from `CricketScoreboard`
  dotcom-rendering/src/components/CricketScoreboard.stories.tsx
  dotcom-rendering/src/components/CricketScoreboard.tsx
  dotcom-rendering/src/components/GetCricketScoreboard.importable.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#12351 Different choice cards shown to non VAT countries
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicCtas.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#12387 Choice Card variant variable
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#12380 Hard coding AB test on background colour for Liveblog Epic
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#12392 Refactor epic ctas
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminder.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminderSignedIn.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminderSignedOut.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
Labels: dotcom-rendering

#12393 Remove dynamo from supporting content
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering, fairground

#12394 [Fairground 🎡] Remove top align on card footer
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
Labels: dotcom-rendering, fairground

#12378 Remove `decidePalette` from `ArticleHeadline`
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#12397 Remove liveblog sticky ask
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#12373 CLS busting: reserve space for MostViewed component on Showcase articles
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
Labels: dotcom-rendering

#12357 Create new `PodcastMeta` component
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/PodcastMeta.stories.tsx
  dotcom-rendering/src/components/PodcastMeta.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/tag.ts
Labels: dotcom-rendering

#12398 Update reportError Function to support Custom Tags in window Object
  dotcom-rendering/src/client/sentryLoader/loadSentry.ts
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/client/sentryLoader/sentryLoader.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/types/sentry.ts
Labels: dotcom-rendering

#12377 Remove `decidePalette` from `ImageComponent` and `LightboxCaption`
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/Lightbox.stories.tsx
  dotcom-rendering/src/components/LightboxCaption.tsx
  dotcom-rendering/src/components/LightboxImages.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#12408 Revert "Remove dynamo from supporting content"
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering

#12405 YoutubeAtom refactors - pass index, extract components and event emitters
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomExpiredOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/eventEmitters.ts
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#12370 Move `format` Into `Article`
  dotcom-rendering/fixtures/generated/dcr-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Audio.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Comment.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Dead.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Feature.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Interview.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Labs.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Letter.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Live.ts
  dotcom-rendering/fixtures/generated/dcr-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/dcr-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Picture.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PrintShop.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Review.ts
  dotcom-rendering/fixtures/generated/dcr-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Standard.ts
  dotcom-rendering/fixtures/generated/dcr-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Video.ts
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/article.ts
Labels: dotcom-rendering

#12410 [Fairground 🎡] Add container top bar as well as card topbar
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/Card/components/UL.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12413 Remove `surveys` switch
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#12409 [Fairground 🎡] Flexible/general container layout
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.test.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#12403 Use product and ratePlan qs params over amounts for support epic
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.ts
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/utils/threeTierChoiceCardAmounts.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12425 Do not use url from SDC
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
Labels: dotcom-rendering

#12412 [Fairground 🎡] Style cards differently if card isFlexSplash
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fairground

#12437 refactor: use product qs params for banner CTAs
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/utils/threeTierChoiceCardAmounts.ts
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
Labels: dotcom-rendering

#12436 Update background colour for hard coded test, added similar for heading.
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#12435 [Fairground 🎡]  Sublinks redesign
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12445 [Fairground 🎡] Flexible Container QA Tweaks
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/Card/components/TrailTextWrapper.tsx
  dotcom-rendering/src/components/Card/components/UL.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12444 Fix issue with transparent fronts containers when a pageskin is active
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FrontSection.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12467 Hide newsletter count on Australia edition
  dotcom-rendering/src/components/NewsletterPageHeading.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
Labels: dotcom-rendering

#12465 Remove remaining uses of typography API and misuse of `css` prop
  apps-rendering/package.json
  apps-rendering/src/components/Callout/calloutContact.tsx
  apps-rendering/src/components/Callout/calloutForm.tsx
  apps-rendering/src/components/Callout/shareLink.tsx
  apps-rendering/src/components/ClickToView/index.tsx
  apps-rendering/src/components/KeyEvents/index.tsx
  apps-rendering/src/components/LiveblogHeader/index.tsx
  apps-rendering/src/components/SpecialReportAltAtom/index.tsx
  apps-rendering/src/components/editions/byline/index.tsx
  apps-rendering/src/components/editions/headline/index.tsx
  apps-rendering/src/components/editions/standfirst/index.tsx
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AppsFooter.importable.tsx
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/Callout/MessageUs.tsx
  dotcom-rendering/src/components/CalloutEmbed/FormFields/TextArea.tsx
  dotcom-rendering/src/components/CalloutEmbed/FormFields/TextInput.tsx
  dotcom-rendering/src/components/CalloutEmbedBlockComponent.importable.tsx
  dotcom-rendering/src/components/ClickToView.tsx
  dotcom-rendering/src/components/ContainerTitle.tsx
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/DropCap.tsx
  dotcom-rendering/src/components/ExpandableAtom/Summary.tsx
  dotcom-rendering/src/components/HighlightBlockComponent.tsx
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/ManyNewsletterSignUp.importable.tsx
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
  dotcom-rendering/src/components/NewsletterCard.tsx
  dotcom-rendering/src/components/PrivacySettingsLink.importable.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/components/ShareButton.importable.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateCustomizableText.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.tsx
  dotcom-rendering/src/components/TimelineAtom.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomExpiredOverlay.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/CustomArticleCountCopy.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCount.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerArticleCountOptOut.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerBody.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerReminderSignedOut.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerTicker.tsx
  dotcom-rendering/src/components/marketing/banners/signInPrompt/SignInPromptBanner.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminderSignedOut.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
  dotcom-rendering/src/components/marketing/header/SignInPromptHeader.tsx
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#12449 Changes for US ONLY - AB test new choice card journey to landing page
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/lib/tracking.ts
Labels: dotcom-rendering
