Repository guardian/dotcom-rendering, pull requests merged in 2024-05, with the labels that each got.

#11304 Drop `@swc/register` in favour of `tsx`
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: AR Dependency, apps-rendering

#11300 Remove margin and add min height on interactive epic
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Labels: dotcom-rendering

#11328 Record prefers color scheme
  dotcom-rendering/src/components/Metrics.importable.tsx
Labels: dotcom-rendering

#11331 Only adapt the PROD website
  dotcom-rendering/src/client/adaptiveSite.ts
Labels: dotcom-rendering, Pick me up

#11347 Fix broken lockfile
  pnpm-lock.yaml
Labels: Bug

#11264 Fix links on Guardian Labs logos not directing users to US and AUS Labs when viewed from those editions
  dotcom-rendering/src/components/LabsHeader.stories.tsx
  dotcom-rendering/src/components/LabsHeader.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/labs.ts
Labels: dotcom-rendering

#11341 Dark mode on web
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/DarkModeMessage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/TagPage.tsx
  dotcom-rendering/src/server/dev-index.html
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/configContext.ts
Labels: dotcom-rendering

#11346 Refactor `mvtId` logic for clarity
  dotcom-rendering/src/components/SetABTests.importable.tsx
Labels: dotcom-rendering

#11349 Use new Storybook testing library
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.stories.tsx
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11350 Formats: Headline Font Weights
  dotcom-rendering/src/components/ArticleHeadline.tsx
Labels: dotcom-rendering

#11333 DCAR: Update dark mode colour for Match Stats background and % icon
  dotcom-rendering/src/components/Doughnut.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11374 Extract shared global/root styles
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/TagPage.tsx
  dotcom-rendering/src/lib/rootStyles.ts
Labels: enhancement, dotcom-rendering

#11334 DCAR: dark mode colour for match nav
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/palette.ts
Labels: Design, dotcom-rendering

#11376 Use `palette` colours in `SubNav.importable.tsx`
  dotcom-rendering/fixtures/manual/nav-international.ts
  dotcom-rendering/fixtures/manual/nav-world.ts
  dotcom-rendering/src/components/SubNav.importable.tsx
  dotcom-rendering/src/components/SubNav.stories.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11379 Stop forcing only light colour scheme
  dotcom-rendering/src/lib/rootStyles.ts
Labels: dotcom-rendering

#11356 Correcting the space around the lines in Q&A and Key Takeaways
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
Labels: dotcom-rendering, Rota

#11354 Formats: Standfirst Spacing
  dotcom-rendering/src/components/Standfirst.tsx
Labels: dotcom-rendering

#11353 Additional checks for AdBlockAsk
  dotcom-rendering/src/lib/useAdBlockAsk.ts
Labels: dotcom-rendering, Pending-on-PROD

#11357 Add articles with Tone type tags in weeklyArticleHistory
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/articleCount.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11384 @swc/core@1.5.3
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11377 Formats: Standfirst Font Weights
  dotcom-rendering/src/components/Standfirst.tsx
Labels: dotcom-rendering

#11387 Set adblock ask test to 10%
  dotcom-rendering/src/experiments/tests/ad-block-ask.ts
Labels: dotcom-rendering

#11392 Rearrange detection logic in `useAdBlockAsk`
  dotcom-rendering/package.json
  dotcom-rendering/src/lib/useAdBlockAsk.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11383 Add hreflang links to Fronts and Tag Pages
  dotcom-rendering/src/components/DateTime.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/lib/alternate-lang-links.test.ts
  dotcom-rendering/src/lib/alternate-lang-links.ts
  dotcom-rendering/src/lib/edition.test.ts
  dotcom-rendering/src/lib/edition.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#11395 Onwards Journeys experiment
  dotcom-rendering/.storybook/preview.ts
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/onward-journeys.ts
Labels: dotcom-rendering

#11400 Separate adblock detection logic from adblock ask and record in `Metrics`
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/lib/detect-adblock.ts
  dotcom-rendering/src/lib/useAdBlockAsk.ts
  dotcom-rendering/src/lib/useDetectAdBlock.ts
Labels: dotcom-rendering

#11403 Remove commercial mega test
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/enhance-ad-placeholders_AB_TEST_CONTROL.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/server/handler.article.web.ts
Labels: Commercial :moneybag:, dotcom-rendering

#11413 Reduce scale-up evaluation interval to a single minute
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: Infrastructure, review after launch

#11415 Update spacing around timeline events
  dotcom-rendering/src/components/Timeline.tsx
Labels: dotcom-rendering

#11417 Remove darkmode example stories
  dotcom-rendering/src/components/HeadlineExample.stories.tsx
  dotcom-rendering/src/components/HeadlineExample.tsx
Labels: dotcom-rendering

#11230 Add credit and caption in Photo Essay main media
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11211 Update height of AMP CMP Banner
  dotcom-rendering/src/components/AdConsent.amp.tsx
Labels: dotcom-rendering

#11421 Create stacks for rendering tag pages
  .github/workflows/publish.yml
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/renderingStack.ts
  dotcom-rendering/scripts/deploy/build-riffraff-bundle.mjs
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#11420 Stable `id` between input and label in `ExpandedMenu`’s search
  dotcom-rendering/src/components/Nav/ExpandedMenu/Columns.tsx
Labels: dotcom-rendering

#11433 Initialise AB tests when no MVT cookie
  dotcom-rendering/src/components/SetABTests.importable.tsx
Labels: dotcom-rendering

#11436 Handle media designs for branded link colour
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11435 Align `@guardian/*` packages
  apps-rendering/package.json
  apps-rendering/src/components/editions/cartoon/cartoon.stories.tsx
  pnpm-lock.yaml
Labels: apps-rendering

#11443 Remove `minimatch` direct dependency
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11299 Add deeply read right ab test
  dotcom-rendering/playwright/tests/article.e2e.spec.ts
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/MostViewedRight.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.importable.tsx
  dotcom-rendering/src/components/MostViewedRightWrapper.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/deeply-read-right-column.ts
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/useDeeplyReadTestVariant.tsx
Labels: dotcom-rendering

#11445 Revert "Add deeply read right ab test"
  dotcom-rendering/playwright/tests/article.e2e.spec.ts
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/MostViewedRight.stories.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/MostViewedRight.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.tsx
  dotcom-rendering/src/components/MostViewedRightWrapper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/deeply-read-right-column.ts
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/useDeeplyReadTestVariant.tsx
Labels: dotcom-rendering

#11367 Sort `palette` keys naturally
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11453 Fix Paid Content Playwright tests
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#11451 Big Events: Remove expired onward journeys
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/onward-journeys.ts
Labels: dotcom-rendering

#11450 Fix Cotton Capital onwards content cards colours
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11217 Update Logo styling for advertising partner
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/Badge.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.test.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.test.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.amp.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/configContext.ts
Labels: Commercial :moneybag:, dotcom-rendering

#11459 Update wording of affiliates disclaimer
  dotcom-rendering/src/components/AffiliateDisclaimer.tsx
Labels: dotcom-rendering

#11471 Send abandoned basket data to support-dotcom-components server
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#11454 Typography preset instances requiring style overrides and manual review
  apps-rendering/src/components/Blockquote/index.tsx
  apps-rendering/src/components/BodyImage/GalleryBodyImage.tsx
  apps-rendering/src/components/Byline/GalleryByline.tsx
  apps-rendering/src/components/Dateline/index.tsx
  apps-rendering/src/components/DesignTag/index.tsx
  apps-rendering/src/components/EmailSignupForm/index.tsx
  apps-rendering/src/components/FootballScores/index.tsx
  apps-rendering/src/components/HeadlineByline/index.tsx
  apps-rendering/src/components/KeyEvents/index.tsx
  apps-rendering/src/components/LiveDateline/index.tsx
  apps-rendering/src/components/NewsletterSignup/PrivacyWording.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
  apps-rendering/src/components/Paragraph/index.tsx
  apps-rendering/src/components/Series/index.tsx
  apps-rendering/src/components/editions/footballScores/index.tsx
  apps-rendering/src/components/editions/pullquote/index.tsx
  apps-rendering/src/components/media/articleSeries.tsx
  dotcom-rendering/src/components/AffiliateDisclaimer.tsx
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/CardCommentCount.importable.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.tsx
  dotcom-rendering/src/components/Discussion/RecommendationCount.tsx
  dotcom-rendering/src/components/Discussion/Timestamp.tsx
  dotcom-rendering/src/components/EmailSignup.tsx
  dotcom-rendering/src/components/ExplainerAtom.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/Column.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/MoreColumn.tsx
  dotcom-rendering/src/components/Nav/ExpandedMenu/ReaderRevenueLinks.tsx
  dotcom-rendering/src/components/NewsletterDetail.tsx
  dotcom-rendering/src/components/NewsletterPrivacyMessage.tsx
  dotcom-rendering/src/components/PullQuoteBlockComponent.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/Sidebar.amp.tsx
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/components/Subheading.tsx
  dotcom-rendering/src/components/TableOfContents.importable.tsx
  dotcom-rendering/src/components/Timeline.tsx
  dotcom-rendering/src/components/TopicFilterBank.tsx
  dotcom-rendering/src/components/TrendingTopics.tsx
Labels: apps-rendering, dotcom-rendering

#11480 Bump @guardian/braze-components to v20.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11490 Do not show avatar in contributors tag pages
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering

#11468 Narrower star rating type
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/ImageBlockComponent.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/components/StarRating/StarRating.tsx
  dotcom-rendering/src/components/StarRatingBlockComponent.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/frontend.ts
Labels: enhancement, dotcom-rendering

#11476 Hide epic payment icons when url not to support
  dotcom-rendering/src/components/Epic.amp.tsx
Labels: dotcom-rendering

#11485 Set live updated logo styling for Advertising Partner
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/Badge.tsx
  dotcom-rendering/src/components/Branding.importable.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTitle.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.test.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.test.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.amp.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/configContext.ts
Labels: Commercial :moneybag:, dotcom-rendering

#11497 Round server times
  dotcom-rendering/src/components/DateTime.tsx
Labels: dotcom-rendering

#11482 `Accordion` Stories Use Colour Scheme And Modes
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/Accordion.stories.tsx
Labels: dotcom-rendering

#11498 Slower updates on recent relative times
  dotcom-rendering/src/components/RelativeTime.importable.tsx
Labels: dotcom-rendering
