Repository guardian/dotcom-rendering, pull requests merged in 2024-03, with the labels that each got.

#10790 Fix deeply read link hover colour
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
Labels: dotcom-rendering, run_chromatic

#10798 AMP Handlers Use `ArticleFormat`
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#10800 `extractGA` Uses `ArticleFormat`
  dotcom-rendering/src/model/extract-ga.test.ts
  dotcom-rendering/src/model/extract-ga.ts
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering, run_chromatic

#10805 Update `testing.md` following migration to Playwright
  dotcom-rendering/README.md
  dotcom-rendering/docs/images/logo-cypress.png
  dotcom-rendering/docs/images/logo-playwright.svg
  dotcom-rendering/docs/testing.md
  dotcom-rendering/src/lib/polyfill.io.ts
Labels: dotcom-rendering, run_chromatic

#10808 Validate Blocks Only When Needed
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/server/handler.article.web.ts
Labels: dotcom-rendering, run_chromatic

#10766 add banner to tablet front
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering, run_chromatic

#10811 Simplify `enhanceBlocks`
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/enhance-blockquotes.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
Labels: dotcom-rendering, run_chromatic

#10783 Remove mobileDiscussionAds switch and commercial comments event
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/Discussion.tsx
  dotcom-rendering/src/components/Discussion/Comments.stories.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/DiscussionLayout.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10827 Correctly stack and space text formatting buttons
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
Labels: dotcom-rendering, run_chromatic

#10821 Enhance Elements More Often Than Enhancing Blocks
  dotcom-rendering/src/components/InteractiveContentsBlockComponent.stories.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/model/enhance-H2s.test.ts
  dotcom-rendering/src/model/enhance-H2s.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/enhance-blockquotes.ts
  dotcom-rendering/src/model/enhance-dividers.test.ts
  dotcom-rendering/src/model/enhance-dividers.ts
  dotcom-rendering/src/model/enhance-dots.test.ts
  dotcom-rendering/src/model/enhance-dots.ts
  dotcom-rendering/src/model/enhance-embeds.test.ts
  dotcom-rendering/src/model/enhance-embeds.ts
  dotcom-rendering/src/model/enhance-images.test.ts
  dotcom-rendering/src/model/enhance-images.ts
  dotcom-rendering/src/model/enhance-interactive-contents-elements.ts
  dotcom-rendering/src/model/enhance-numbered-lists.test.ts
  dotcom-rendering/src/model/enhance-numbered-lists.ts
  dotcom-rendering/src/model/enhance-tweets.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.test.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
Labels: dotcom-rendering, run_chromatic

#10767 AB sign in gates tests: alternative wording with offers
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateCustomizableText.tsx
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-guardian-live.tsx
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-saturday-edition.tsx
  dotcom-rendering/src/components/SignInGate/signInGate.ts
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-alternative-wording.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
  dotcom-rendering/src/lib/useSignInGateWillShow.ts
Labels: dotcom-rendering, run_chromatic

#10847 Remove `ophan-tracker-js-next` test and and bump to `2.1.0`
  dotcom-rendering/package.json
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10844 Create advert density by section AB test
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/section-ad-density.ts
Labels: dotcom-rendering, run_chromatic

#10857 Remove last reference to ophan-next test
  dotcom-rendering/webpack/webpack.config.client.js
Labels: dotcom-rendering, run_chromatic

#10662 Optimise DCAR ad insertion for articles with many images
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10860 Remove `babel-plugin-px-to-rem`
  dotcom-rendering/babel.config.js
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10870 Make reason required for "Legal Issue"
  dotcom-rendering/src/components/Discussion/AbuseReportForm.tsx
Labels: dotcom-rendering, run_chromatic

#10795 Add Support For `ListBlockElement`
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/enhanceLists.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10863 Delete The `guardian` Dependabot Group
  .github/dependabot.yml
Labels: run_chromatic

#10882 Remove Global Storybook Autodocs
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10880 Update `Accordion` Stories To Component Story Format v3
  dotcom-rendering/src/components/Accordion.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10846 Key takeaways components
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10760 clearer quickstart based on my experience
  dotcom-rendering/README.md
Labels: dotcom-rendering, run_chromatic

#10894 Q and A Explainer Components
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10905 Bump @guardian/ophan-tracker-js@2.1.1
  dotcom-rendering/package.json
  dotcom-rendering/playwright/lib/load-page.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10892 Remove Byline Social Media Links - Web And AMP
  dotcom-rendering/src/components/Contributor.tsx
  dotcom-rendering/src/components/TopMetaAnalysis.amp.tsx
  dotcom-rendering/src/components/TopMetaExtras.amp.tsx
  dotcom-rendering/src/components/TopMetaLiveblog.amp.tsx
  dotcom-rendering/src/components/TopMetaNews.amp.tsx
  dotcom-rendering/src/components/TopMetaOpinion.amp.tsx
  dotcom-rendering/src/components/TopMetaPaidContent.amp.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10912 Pick the correct cartoon for lightbox
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhance-images.ts
Labels: dotcom-rendering, run_chromatic

#10881 Flatten list elements with nested elements in apps-rendering
  apps-rendering/package.json
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/item.test.ts
  pnpm-lock.yaml
Labels: apps-rendering, run_chromatic

#10918 AB tests: add control to alternative wording sign-in gate AB test
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-control.tsx
  dotcom-rendering/src/components/SignInGate/signInGate.ts
Labels: dotcom-rendering, run_chromatic

#10925 Add AbTest fields to Epic View
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
Labels: dotcom-rendering, run_chromatic

#10904 Affiliates disclaimer
  dotcom-rendering/src/components/Disclaimer.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/enhance-disclaimer.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/server/handler.article.web.ts
Labels: dotcom-rendering, run_chromatic

#10901 Track clicks on logos on Labs containers
  dotcom-rendering/src/components/Badge.tsx
  dotcom-rendering/src/components/LabsSection.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#10924 Remove Direct Dependency On `prop-types`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, run_chromatic

#10914 Integrate Key Takeaways
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10929 Update `Answers` Stories To Component Story Format v3
  dotcom-rendering/src/components/Answers.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10930 Update `AppsEpic` Stories To Component Story Format v3
  dotcom-rendering/src/components/AppsEpic.importable.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10931 Update `AppsFooter` Stories To Component Story Format v3
  dotcom-rendering/src/components/AppsFooter.importable.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10932 Update `InteractiveAtom` Stories To Component Story Format v3
  dotcom-rendering/src/components/InteractiveAtom.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10933 Update `InteractiveLayoutAtom` Stories To Component Story Format v3
  dotcom-rendering/src/components/InteractiveLayoutAtom.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10935 Update Quiz Atom Stories To Component Story Format v3
  dotcom-rendering/src/components/KnowledgeQuizAtom.stories.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10946 Revert List Element Headings To Existing Heading Styles
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
Labels: dotcom-rendering, run_chromatic

#10947 Add `QAndAExplainers` To `renderElement`
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering, run_chromatic

#10949 Simplify Key Takeaways Stories
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10950 Simplify Q And A Explainers Stories
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10952 SectionAdDensity test to 5%
  dotcom-rendering/src/experiments/tests/section-ad-density.ts
Labels: dotcom-rendering, run_chromatic

#10953 Key takeaways design variations
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
Labels: dotcom-rendering, run_chromatic

#10978 Add Examples Of Articles With Subheadings To Dev Server
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#10979 Change The Order Of Article Example Links
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering, run_chromatic

#10984 Remove Drop Caps From List Elements
  dotcom-rendering/fixtures/generated/articles/NewsletterSignup.ts
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
  dotcom-rendering/src/components/TextBlockComponent.stories.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhance-dividers.test.ts
  dotcom-rendering/src/model/enhance-dividers.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, run_chromatic

#10971 Affiliate disclaimer updates
  dotcom-rendering/src/components/AffiliateDisclaimer.amp.tsx
  dotcom-rendering/src/components/AffiliateDisclaimer.tsx
  dotcom-rendering/src/components/Disclaimer.tsx
  dotcom-rendering/src/components/DisclaimerBlockComponent.amp.tsx
  dotcom-rendering/src/components/DisclaimerBlockComponent.stories.tsx
  dotcom-rendering/src/components/DisclaimerBlockComponent.tsx
  dotcom-rendering/src/components/TopMetaNews.amp.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, run_chromatic

#10995 Tidy new elements
  dotcom-rendering/src/components/KeyTakeaways.stories.tsx
  dotcom-rendering/src/components/QAndAExplainer.tsx
  dotcom-rendering/src/components/QAndAExplainers.stories.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
Labels: dotcom-rendering, run_chromatic

#10996 Add `TimelineAtomBlockElement`
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/TimelineAtom.amp.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: run_chromatic

#10975 Make pagination available on the frontend model
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/types/tag.ts
  dotcom-rendering/src/types/tagPage.ts
Labels: dotcom-rendering

#11012 Make Discussion chevrons nicer
  dotcom-rendering/src/components/Discussion/Pagination.tsx
Labels: Design, dotcom-rendering

#11015 Fix `Pagination.tsx` typos
  dotcom-rendering/src/components/Discussion/Pagination.tsx
Labels: dotcom-rendering, Pick me up

#11020 Epic: support url querystring
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/lib/tracking.test.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
Labels: dotcom-rendering

#11022 Playwright uses DEV server locally and starts the server
  .github/workflows/playwright.yml
  dotcom-rendering/docs/testing.md
  dotcom-rendering/makefile
  dotcom-rendering/package.json
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11016 Fix miss-aligned right ads on apps tablet
  dotcom-rendering/src/components/AdPortals.importable.tsx
Labels: dotcom-rendering

#11024 Make getting started README more generic
  dotcom-rendering/README.md
Labels: dotcom-rendering

#10970 Block supporter revenue messaging in the Sport section
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/block-supporter-revenue-messaging-sport.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/render.article.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering, run_chromatic

#11002 Align mostpop advert within Most Viewed section on fronts and articles
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/MostViewedFooterLayout.tsx
Labels: dotcom-rendering

#11035 Minor most-viewed section spacing improvements
  dotcom-rendering/src/components/MostViewedFooterLayout.tsx
Labels: dotcom-rendering

#11044 Extend mpuWhenNoEpic AB test
  dotcom-rendering/src/experiments/tests/mpu-when-no-epic.ts
Labels: Commercial :moneybag:, dotcom-rendering

#11011 Add A Model For Timeline Elements
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/TimelineAtom.amp.tsx
  dotcom-rendering/src/components/TimelineAtom.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/enhanceTimelines.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#11047 Pullquote Uses `RoleType`
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering
