Repository guardian/dotcom-rendering, pull requests merged in 2024-07, with the labels that each got.

#11733 Increase tier two prices in new choice card designs
  dotcom-rendering/src/components/marketing/epics/utils/threeTierChoiceCardAmounts.ts
Labels: dotcom-rendering

#11730 Conditionally render new `liveblog-top` ad slot
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/types/config.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11723 Adds a new sticky liveblog support ask
  dotcom-rendering/src/components/StickyLiveblogAsk.stories.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/sticky-liveblog-ask.ts
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#11778 Improved `PinnedPost` gradient & dark scheme support
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/components/PinnedPost.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/palette.ts
Labels: Liveblogs, dotcom-rendering

#11788 Set ASG max instances to 10x of min
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#11742 Improve the Config context
  dotcom-rendering/src/client/discussion.ts
  dotcom-rendering/src/client/islands/getConfig.ts
  dotcom-rendering/src/client/islands/initHydration.ts
  dotcom-rendering/src/components/ArticleMeta.test.tsx
  dotcom-rendering/src/components/BylineLink.test.tsx
  dotcom-rendering/src/components/ConfigContext.test.tsx
  dotcom-rendering/src/components/Contributor.test.tsx
  dotcom-rendering/src/components/Discussion/Discussion.test.tsx
  dotcom-rendering/src/components/Dropdown.test.tsx
  dotcom-rendering/src/components/GuideAtom/GuideAtom.test.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Island.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/MostViewedFooter.test.tsx
  dotcom-rendering/src/components/MostViewedRight.test.tsx
  dotcom-rendering/src/components/Nav/Nav.test.tsx
  dotcom-rendering/src/components/ProfileAtom.test.tsx
  dotcom-rendering/src/components/QandaAtom.test.tsx
  dotcom-rendering/src/components/ReaderRevenueLinks.test.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.test.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMainCheckoutComplete.test.tsx
  dotcom-rendering/src/components/TimelineAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.amp.tsx
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/configContext.ts
Labels: enhancement, dotcom-rendering

#11783 Bump commercial to 19.10.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11691 [Fairground 🎡] Expanded nav alignment and styling
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/CollapseSectionButton.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/ExpandedNav.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/MoreSection.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/Pillar.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/ReaderRevenueLinks.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/SearchBar.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/Sections.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/TitlepieceSearchBar.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#11781 UK election 2024 scaling
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering, DO NOT MERGE

#11799 Fix original choice card selection params
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicCtas.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
Labels: dotcom-rendering

#11800 Right column at wide breakpoint right to the edge
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Bug, dotcom-rendering

#11808 New polyfill URL
  dotcom-rendering/src/lib/polyfill.io.ts
Labels: dotcom-rendering, documentation

#11809 Revert "UK election 2024 scaling"
  dotcom-rendering/cdk/bin/cdk.ts
Labels: DO NOT MERGE

#11372 Basic dark scheme support for Fronts
  dotcom-rendering/src/components/Card/components/LI.tsx
  dotcom-rendering/src/components/Card/components/UL.tsx
  dotcom-rendering/src/components/ContainerTitle.tsx
  dotcom-rendering/src/components/DecideFrontsAdSlots.tsx
  dotcom-rendering/src/components/DynamicSlow.stories.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/Treats.tsx
  dotcom-rendering/src/components/TrendingTopics.tsx
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11797 Use edition context for datetime
  dotcom-rendering/.storybook/decorators/configContextDecorator.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/CricketScoreboard.stories.tsx
  dotcom-rendering/src/components/CricketScoreboard.tsx
  dotcom-rendering/src/components/DateTime.stories.tsx
  dotcom-rendering/src/components/DateTime.tsx
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/GetCricketScoreboard.importable.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/LastUpdated.stories.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/PinnedPost.tsx
  dotcom-rendering/src/components/WitnessBlockComponent.stories.tsx
  dotcom-rendering/src/components/WitnessBlockComponent.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#11798 Remove message us
  dotcom-rendering/fixtures/manual/message-us-form.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/Callout/FormField.tsx
  dotcom-rendering/src/components/SendAMessage.importable.tsx
  dotcom-rendering/src/components/SendAMessage.stories.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/palette.ts
Labels: dotcom-rendering

#11793 Change the `mobile-sticky` ad to be full width
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#11805 For Immersive Comment Pieces Prefer Comment To Immersive
  dotcom-rendering/src/lib/decideDesign.ts
  dotcom-rendering/src/lib/decideDisplay.ts
Labels: dotcom-rendering

#11818 Fix Treats so they uses the palette properly
  dotcom-rendering/src/components/Treats.stories.tsx
  dotcom-rendering/src/components/Treats.tsx
  dotcom-rendering/src/palette.ts
Labels: Bug, dotcom-rendering

#11820 Only Log When The Video ID Is Missing
  dotcom-rendering/src/components/VideoVimeoBlockComponent.amp.tsx
  dotcom-rendering/src/components/VideoYoutubeBlockComponent.amp.tsx
Labels: dotcom-rendering

#11823 Add partner code to weather widget link
  dotcom-rendering/src/components/Weather.stories.tsx
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
  dotcom-rendering/src/types/weather.ts
Labels: dotcom-rendering

#11838 Remove unused dependencies
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11817 Update `ArticleHeadline` Stories To Component Story Format v3
  dotcom-rendering/src/components/ArticleHeadline.stories.tsx
  dotcom-rendering/src/lib/format.ts
Labels: dotcom-rendering

#11840 Fix footer RR links url
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: dotcom-rendering

#11830 Remove the gallery from the match report layout story
  apps-rendering/src/fixtures/item.ts
Labels: apps-rendering

#11763 Edition switcher banner
  dotcom-rendering/playwright/tests/edition-switcher-banner.e2e.spec.ts
  dotcom-rendering/src/components/EditionSwitcherBanner.importable.tsx
  dotcom-rendering/src/components/EditionSwitcherBanner.stories.tsx
  dotcom-rendering/src/components/EditionSwitcherBanner.test.tsx
  dotcom-rendering/src/components/FrontSubNav.importable.tsx
  dotcom-rendering/src/components/Header.tsx
  dotcom-rendering/src/components/HeaderTopBar.importable.tsx
  dotcom-rendering/src/components/HeaderTopBarEditionDropdown.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/edition.ts
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/lib/useUserPreferredEdition.ts
Labels: dotcom-rendering

#11842 Update To Node 20.15.1
  .nvmrc
  dotcom-rendering/package.json
  dotcom-rendering/scripts/check-node-versions.mjs
  pnpm-lock.yaml
Labels: dotcom-rendering

#11851 Fix tag pages date grouping logic
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/model/groupTrailsByDates.test.ts
  dotcom-rendering/src/model/groupTrailsByDates.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/types/tagPage.ts
Labels: Bug, dotcom-rendering

#11438 Ophan tracker JS does its own types
  dotcom-rendering/package.json
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/client/ophan/recordInitialPageEvents.ts
  dotcom-rendering/src/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/messagePicker.ts
  dotcom-rendering/window.guardian.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#11852 [Fairground 🎡] Add shape options to avatar
  dotcom-rendering/src/components/Avatar.stories.tsx
  dotcom-rendering/src/components/Avatar.tsx
Labels: dotcom-rendering, fairground

#11855 Update `ArticleLastUpdated` Stories To Component Story Format v3
  dotcom-rendering/src/components/ArticleLastUpdated.stories.tsx
Labels: dotcom-rendering

#11863 `fetch-mock` 9 Requires `node-fetch`
  dotcom-rendering/jest.config.js
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11870 Type `useApi` parameters improve docs
  dotcom-rendering/src/lib/useApi.ts
  dotcom-rendering/src/lib/useApi.tsx
  dotcom-rendering/src/lib/useCommentCount.ts
Labels: enhancement, dotcom-rendering

#11869 Rich links support multiple contributors
  dotcom-rendering/src/components/RichLink.stories.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.tsx
Labels: Bug, dotcom-rendering, visual bug

#11888 Refactor isSignedIn checks in RR components
  dotcom-rendering/src/components/FooterReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/InteractiveSupportButton.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/useAuthStatus.ts
Labels: dotcom-rendering

#11889 Fix `Carousel` arrows background in dark mode
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/palette.ts
Labels: visual bug

#11890 Fix stickyness background colour
  dotcom-rendering/src/layouts/lib/stickiness.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, visual bug

#11874 Bump commercial to v 19.12.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11880 Update `ArticleMeta.apps` Stories To Component Story Format v3
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/ArticleMeta.apps.stories.tsx
Labels: dotcom-rendering

#11895 Upgrade to TypeScript 5.5
  apps-rendering/package.json
  apps-rendering/src/video.test.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/PersonalityQuizAtom.importable.tsx
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#11898 Ensure `SlotBodyEnd` colours are explicit
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
Labels: dotcom-rendering, visual bug

#11900 Fix `Weather` full forecast icon colour
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, visual bug

#11860 [Fairground] Setup highlights card and story
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
Labels: dotcom-rendering, fairground

#11914 Update SDC to 2.6.1
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#11912 Changed the success message to reflect the transition from instant signup to a confirmation email
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
Labels: dotcom-rendering

#11911 Move global sport types to regular `.ts` file
  dotcom-rendering/fixtures/manual/cricket-scoreboard.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/CricketScoreboard.test.tsx
  dotcom-rendering/src/components/CricketScoreboard.tsx
  dotcom-rendering/src/components/GetCricketScoreboard.importable.tsx
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/components/Lineup.stories.tsx
  dotcom-rendering/src/components/Lineup.tsx
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/matchReport.ts
  dotcom-rendering/src/types/sport.ts
Labels: dotcom-rendering

#11920 LiveBlogEpic - useIsSignedIn
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
Labels: dotcom-rendering

#11837 Add p90 CPU Utilization step scaling policy
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.test.ts
  dotcom-rendering/cdk/lib/renderingStack.test.ts
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: dotcom-rendering

#11922 Revert "Add p90 CPU Utilization step scaling policy"
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.test.ts
  dotcom-rendering/cdk/lib/renderingStack.test.ts
  dotcom-rendering/cdk/lib/renderingStack.ts
Labels: dotcom-rendering

#11919 Ensure data-spacefinder-role is on all block types
  dotcom-rendering/src/components/BlockquoteBlockComponent.tsx
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/CodeBlockComponent.tsx
  dotcom-rendering/src/components/DividerBlockComponent.tsx
  dotcom-rendering/src/components/Island.tsx
  dotcom-rendering/src/components/PullQuoteBlockComponent.tsx
  dotcom-rendering/src/components/StarRatingBlockComponent.tsx
  dotcom-rendering/src/components/VideoAtom.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#11932 feat: Switch to using IMDSv2
  dotcom-rendering/cdk/lib/__snapshots__/dotcom-rendering.test.ts.snap
  dotcom-rendering/cdk/lib/dotcom-rendering.ts
Labels: dotcom-rendering

#11939 Skip `paid.content` e2e test
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#11938 test(paid.content.e2e): Update paid content page
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#11936 Simplify grid styles for page skins
  dotcom-rendering/src/components/Masthead/Titlepiece/Grid.tsx
Labels: dotcom-rendering

#11903 Simplify Most Popular/Viewed Footer grid
  dotcom-rendering/src/components/FrontMostViewed.tsx
  dotcom-rendering/src/components/MostPopularFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooter.importable.tsx
  dotcom-rendering/src/components/MostViewedFooterGrid.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/components/MostViewedFooterLayout.stories.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11946 Add Olympics Briefing to the All Newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#11947 Update article min instances to 36
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#11949 Update `Palette` to Component Story Format v3
  dotcom-rendering/src/components/Palettes.stories.tsx
Labels: dotcom-rendering

#11811 Do not show support messages after sign in
  dotcom-rendering/src/components/FooterReaderRevenueLinks.importable.tsx
  dotcom-rendering/src/components/InteractiveSupportButton.importable.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/lib/contributions.test.ts
  dotcom-rendering/src/lib/contributions.ts
Labels: dotcom-rendering

#11902 Simplify Byline props
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/LinkHeadline.stories.tsx
  dotcom-rendering/src/components/LinkHeadline.tsx
  dotcom-rendering/src/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/components/MostViewedRightItem.tsx
Labels: dotcom-rendering

#11953 Remove data-spacefinder-role from hr element
  dotcom-rendering/src/components/DividerBlockComponent.tsx
Labels: dotcom-rendering

#11954 Lower trigger for CPU scaling to 60% p90 CPU
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#11923 Add mini profiles element
  dotcom-rendering/src/components/KeyTakeaway.tsx
  dotcom-rendering/src/components/MiniProfile.tsx
  dotcom-rendering/src/components/MiniProfiles.stories.tsx
  dotcom-rendering/src/components/MiniProfiles.tsx
  dotcom-rendering/src/components/Subheading.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceLists.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/model/insertPromotedNewsletter.ts
  dotcom-rendering/src/palette.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#11969 Remove use of small mobile headline prop
  dotcom-rendering/src/lib/cardWrappers.tsx
Labels: dotcom-rendering, fairground

#11966 [Fairground 🎡] Highlights container carousel
  dotcom-rendering/fixtures/manual/highlights-trails.ts
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.tsx
  dotcom-rendering/src/components/Masthead/Masthead.tsx
Labels: dotcom-rendering, fairground

#11975 Colour straight lines with the palette
  dotcom-rendering/src/components/AllEditorialNewslettersPage.tsx
  dotcom-rendering/src/components/ArticleMeta.tsx
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FormatBoundary.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/FrontSubNav.importable.tsx
  dotcom-rendering/src/components/GuardianLabsLines.tsx
  dotcom-rendering/src/components/TagPage.tsx
  dotcom-rendering/src/components/TrendingTopics.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: enhancement, dotcom-rendering

#11945 Fix various issues with ordered and unordered lists styling
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#11962 Using tags to hide sticky from olympics liveblog
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#11983 [Fairground 🎡] Fix width of highlight card in the card component for desktop and above
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.tsx
Labels: dotcom-rendering, fairground

#11965 Refactor `ContainerOverrides` logic and behaviour
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/components/Card/components/LI.tsx
  dotcom-rendering/src/components/Card/components/UL.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/ContainerTitle.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/Details.tsx
  dotcom-rendering/src/components/Discussion.stories.tsx
  dotcom-rendering/src/components/DynamicFast.tsx
  dotcom-rendering/src/components/ElementContainer.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/Kicker.stories.tsx
  dotcom-rendering/src/components/LabsSection.tsx
  dotcom-rendering/src/components/LatestLinks.importable.stories.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/MiniCard.tsx
  dotcom-rendering/src/components/NavList.tsx
  dotcom-rendering/src/components/Section.stories.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/ShowHideButton.tsx
  dotcom-rendering/src/components/TagPageHeader.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/decideContainerOverrides.ts
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11985 Fix Dotted Lines by making them CSS-only
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
  dotcom-rendering/src/components/DecideLines.tsx
Labels: Bug, dotcom-rendering, visual bug

#11986 Fix the syndication button colours
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, visual bug

#11982 Enable opting out of dark mode and force light colour scheme
  dotcom-rendering/src/lib/rootStyles.ts
  dotcom-rendering/src/server/htmlPageTemplate.ts
  dotcom-rendering/src/server/render.article.apps.tsx
  dotcom-rendering/src/server/render.article.web.tsx
Labels: dotcom-rendering

#11972 Tag link component for Olympics on articles
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/TagLink.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#11989 Add TagLink switch
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#11976 Offer dark colour scheme beta preference on Accessbility Help page
  dotcom-rendering/src/components/Accessibility.importable.tsx
Labels: enhancement, Design, dotcom-rendering, DO NOT MERGE, a11y

#11915 [Fairground] Add basic picture to HighlightsCard
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.tsx
Labels: dotcom-rendering, fairground

#11991 Tag link component for Olympics on liveblogs
  dotcom-rendering/src/components/TagLink.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#11992 Apply hover state to highlights cards
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#11984 Fix styling for right ad to avoid seeing the background-colour
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#12002 Add CardLink component to highlights card
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.tsx
Labels: dotcom-rendering, fairground

#12005 Support quoted headlines in HighlightsCard
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.tsx
Labels: dotcom-rendering, fairground

#11968 [Fairground] Add small card headline setting on mobile
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fairground

#12009 [Fairground 🎡] Add chevron navigation to the highlights container
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsContainer.tsx
  dotcom-rendering/src/components/Masthead/Masthead.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12036 Add heatphan indicator to the carousel
  dotcom-rendering/docs/contracts/004-heatphan-selectors.md
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/CarouselForNewsletters.importable.tsx
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground

#12038 Remove conditions when sticky liveblog ask is hidden owing to AB test.
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
Labels: dotcom-rendering

#12040 Remove Sticky Liveblog Ask AB test elements
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/sticky-liveblog-ask.ts
Labels: dotcom-rendering

#12030 [Fairground 🎡][Highlights] Hide nav buttons depending on visible cards
  dotcom-rendering/src/components/HighlightsContainer.importable.tsx
Labels: dotcom-rendering, fairground
