Repository guardian/dotcom-rendering, pull requests merged in 2024-11, with the labels that each got.

#12730 adds interactive content type to mobileStickyContainer
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#12743 US election 2024 scaling
  apps-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/bin/cdk.ts
Labels: apps-rendering, dotcom-rendering

#12753 Carousels: add padding around content
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Labels: fairground

#12765 Update US election banner header and kicker for both variants
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
Labels: dotcom-rendering

#12768 Revert "US election 2024 scaling"
  apps-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/bin/cdk.ts
Labels: apps-rendering, dotcom-rendering

#12754 Carousels: button hover states for special palette variations
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12771 Exclude us-news tagged articles from amp
  dotcom-rendering/playwright/tests/article.embeds.e2e.spec.ts
  dotcom-rendering/scripts/test/amp-validation.js
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering

#12776 Exclude us-news/us-elections-2024 tagged articles from amp
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering

#12773 Carousels: Update disabled button styles
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12780 Remove vertical rule from Primary and Secondary containers
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Labels: dotcom-rendering, fairground

#12766 Carousels: add fixed divider and update alignment
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Labels: dotcom-rendering, fairground

#12755 Fix pagination and key events app links
  dotcom-rendering/src/components/KeyEventCard.stories.tsx
  dotcom-rendering/src/components/KeyEventCard.tsx
  dotcom-rendering/src/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/components/KeyEventsCarousel.stories.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/Pagination.stories.tsx
  dotcom-rendering/src/components/Pagination.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#12705 YoutubeAtom implement fullscreen for Android
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
Labels: dotcom-rendering

#12789 us-news and us-elections-2024 should amplify
  dotcom-rendering/src/components/Elements.amp.tsx
Labels: dotcom-rendering

#12750 Tidy ad slot styles
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/DiscussionLayout.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/adStyles.ts
  dotcom-rendering/src/lib/rootStyles.ts
Labels: dotcom-rendering

#12769 Support multi-bylines in `apps-rendering`
  apps-rendering/src/bodyElement.ts
  apps-rendering/src/item.test.ts
Labels: apps-rendering

#12787 Carousels: Align navigation with container title and grid
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Labels: dotcom-rendering, fairground

#12810 Fix Table Element Dark Mode Text
  dotcom-rendering/src/components/TableBlockComponent.tsx
Labels: dotcom-rendering

#12812 Update `CalloutEmbedBlockComponent` Stories To CSF v3
  dotcom-rendering/src/components/CalloutEmbed/Form.stories.tsx
  dotcom-rendering/src/components/CalloutEmbedBlockComponent.stories.tsx
Labels: dotcom-rendering

#12781 Adjust ad insertion after images on apps
  dotcom-rendering/src/model/enhance-ad-placeholders.test.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
Labels: dotcom-rendering

#12813 Update `Caption` Stories To Component Story Format v3
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/Caption.stories.tsx
Labels: dotcom-rendering

#12815 Handle nested images in TimelineBlockElement
  dotcom-rendering/src/model/buildLightboxImages.ts
Labels: dotcom-rendering

#12791 Move Validation Out Of `enhanceArticleType`
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/article.ts
Labels: dotcom-rendering

#12824 Fix US Marketing Card `expand` analytics event
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
Labels: dotcom-rendering

#12822 Scaffold slideshow carousel component
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/components/SlideshowCarousel.tsx
Labels: dotcom-rendering, fairground

#12827 Carousels: Revert change to disabled button border opacity
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12737 Support vertical card layout with avatar on mobile
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
Labels: dotcom-rendering, fairground

#12832 Remove X / Twitter from AMP footer
  dotcom-rendering/src/components/Footer.amp.tsx
Labels: dotcom-rendering

#12833 Fix SDC
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/components/marketing/shared/ModuleWrapper.tsx
Labels: dotcom-rendering

#12816 Move commercial and reader revenue types out of `index.d.ts`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Ad.amp.tsx
  dotcom-rendering/src/components/Blocks.amp.tsx
  dotcom-rendering/src/components/BodyArticle.amp.tsx
  dotcom-rendering/src/components/BodyLiveblog.amp.tsx
  dotcom-rendering/src/components/Elements.amp.tsx
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/ReaderRevenueLinks.tsx
  dotcom-rendering/src/components/ReaderRevenueButton.amp.tsx
  dotcom-rendering/src/components/SetAdTargeting.importable.tsx
  dotcom-rendering/src/components/TopMeta.amp.tsx
  dotcom-rendering/src/components/TopMetaAnalysis.amp.tsx
  dotcom-rendering/src/components/TopMetaNews.amp.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.amp.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/lib/ad-json.amp.test.ts
  dotcom-rendering/src/lib/ad-json.amp.ts
  dotcom-rendering/src/lib/ad-targeting.ts
  dotcom-rendering/src/lib/useAdTargeting.ts
  dotcom-rendering/src/model/extract-nav.ts
  dotcom-rendering/src/types/commercial.ts
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering

#12834 Bump support-dotcom-components to v3.1.0
  dotcom-rendering/package.json
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/UsEoy2024Wrapper.importable.tsx
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/utils/localStorage.ts
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/banners/utils/withCloseable.tsx
  dotcom-rendering/src/components/marketing/epics/BylineWithHeadshot.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.test.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicNewsletterSignup.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicReminder.tsx
  dotcom-rendering/src/components/marketing/epics/utils/storybook.ts
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/components/marketing/hooks/useContributionsReminderSignup.ts
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  dotcom-rendering/src/components/marketing/shared/ModuleWrapper.tsx
  dotcom-rendering/src/lib/articleCount.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/useSDC.ts
  dotcom-rendering/window.guardian.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12817 Move Block types out of `index.d.ts`
  dotcom-rendering/fixtures/manual/live-blog-key-events.ts
  dotcom-rendering/fixtures/manual/liveBlock.ts
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/Blocks.amp.tsx
  dotcom-rendering/src/components/KeyEvents.amp.tsx
  dotcom-rendering/src/components/KeyEventsCarousel.importable.tsx
  dotcom-rendering/src/components/LiveBlock.stories.tsx
  dotcom-rendering/src/components/LiveBlock.tsx
  dotcom-rendering/src/components/LiveBlogBlocksAndAdverts.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/PinnedPost.stories.tsx
  dotcom-rendering/src/components/PinnedPost.tsx
  dotcom-rendering/src/lib/getLiveblogAdPositions.test.ts
  dotcom-rendering/src/lib/getLiveblogAdPositions.ts
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/enhanceTableOfContents.test.ts
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/types/article.amp.tsx
  dotcom-rendering/src/types/article.ts
  dotcom-rendering/src/types/blocks.ts
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering

#12837 Slideshow: Add navigation controls
  dotcom-rendering/src/components/SlideshowCarousel.tsx
Labels: dotcom-rendering, fairground

#12838 Ensure correct tracking of ExpandableMarketingCard component
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardSwipeable.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
Labels: dotcom-rendering

#12839 Remove `randomUUID` From Lightbox
  dotcom-rendering/src/model/buildLightboxImages.ts
Labels: dotcom-rendering

#12821 Move remaining types out of `index.d.ts`
  dotcom-rendering/index.d.ts
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/CarouselForNewsletters.importable.tsx
  dotcom-rendering/src/components/LeftColumn.tsx
  dotcom-rendering/src/components/LinkHeadline.tsx
  dotcom-rendering/src/components/Liveness.importable.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/components/Pagination.amp.stories.tsx
  dotcom-rendering/src/components/Pagination.amp.tsx
  dotcom-rendering/src/components/RichLink.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/ShareIcons.amp.tsx
  dotcom-rendering/src/components/SubMeta.amp.tsx
  dotcom-rendering/src/components/TopMetaExtras.amp.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/lib/getDataLinkName.ts
  dotcom-rendering/src/lib/sharing-urls.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/article-sections.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/types/article.amp.tsx
  dotcom-rendering/src/types/config.ts
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/layout.ts
  dotcom-rendering/src/types/liveBlog.ts
  dotcom-rendering/src/types/newslettersPage.ts
  dotcom-rendering/window.guardian.ts
Labels: dotcom-rendering

#12844 Slideshow: add pagination dots
  dotcom-rendering/src/components/SlideshowCarousel.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12831 datawrapper: Use dark background in dark mode
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

#12843 Switch To "fe-articles" Fixtures In `canRenderAds` Tests
  dotcom-rendering/src/lib/canRenderAds.test.ts
Labels: dotcom-rendering

#12842 Switch To "fe-articles" Fixtures In `DecideLayout` Stories
  dotcom-rendering/src/layouts/DecideLayout.stories.tsx
Labels: dotcom-rendering

#12857 Update UsaExpandableMarketingCard test
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
  dotcom-rendering/src/experiments/tests/usa-expandable-marketing-card.ts
Labels: dotcom-rendering

#12858 Delete The "dcr-articles" Fixtures
  dotcom-rendering/fixtures/generated/dcr-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Audio.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Comment.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Dead.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Feature.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Interview.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Labs.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Letter.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Live.ts
  dotcom-rendering/fixtures/generated/dcr-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/dcr-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/dcr-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/dcr-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Picture.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Review.ts
  dotcom-rendering/fixtures/generated/dcr-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Standard.ts
  dotcom-rendering/fixtures/generated/dcr-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/dcr-articles/Video.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Labels: dotcom-rendering

#12852 Slideshow: allow carousel interaction in cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/SlideshowCarousel.importable.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
Labels: dotcom-rendering, fairground

#12861 Move Types And Functions Out Of `article.ts`
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/TableOfContents.importable.tsx
  dotcom-rendering/src/components/TableOfContents.stories.tsx
  dotcom-rendering/src/model/enhanceTableOfContents.ts
  dotcom-rendering/src/model/pinnedPost.ts
  dotcom-rendering/src/types/article.ts
Labels: dotcom-rendering

#12877 Slideshow: Scrolling dot animation
  dotcom-rendering/src/components/SlideshowCarousel.importable.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/components/SlideshowCarouselScrollingDots.tsx
Labels: dotcom-rendering, fairground

#12869 Hide Match Tab when no data
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
Labels: dotcom-rendering

#12884 Slideshows: Special palette overrides
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
Labels: dotcom-rendering, fairground

#12894 Slideshow: Reduce gradient height and hide buttons on mobile
  dotcom-rendering/src/components/SlideshowCarousel.importable.tsx
Labels: dotcom-rendering, fairground

#12895 make table of contents sticky if it has more than 5 items
  dotcom-rendering/src/components/TableOfContents.importable.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering

#12900 Refactor `getZIndex`
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/components/Card/components/CardLink.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/CarouselForNewsletters.importable.tsx
  dotcom-rendering/src/components/Details.tsx
  dotcom-rendering/src/components/Dropdown.importable.tsx
  dotcom-rendering/src/components/EditionSwitcherBanner.importable.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardSwipeable.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/InteractiveContentsBlockComponent.importable.tsx
  dotcom-rendering/src/components/LightboxLayout.importable.tsx
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/EditionDropdown.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/ExpandedNav.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/VeggieBurger.tsx
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TableOfContents.importable.tsx
  dotcom-rendering/src/components/TopBarMyAccount.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/lib/stickiness.tsx
  dotcom-rendering/src/lib/getZIndex.test.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering

#12901 simplify inner scrolling behaviour, use overflow auto to hide scrollbars
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Labels: dotcom-rendering

#12882 Update color for AUS EOY ticker
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
Labels: dotcom-rendering, Pending-on-PROD

#12878 Add aspect ratio to model
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/MaintainAspectRatio.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#12898 Giving Tuesday: Update Thrasher colour/copy
  dotcom-rendering/src/components/UsEoy2024.stories.tsx
  dotcom-rendering/src/components/UsEoy2024Wrapper.importable.tsx
Labels: dotcom-rendering

#12908 FeatureCard: Update spacing between text elements
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: dotcom-rendering, fairground

#12896 Reader Revenue message on AU front
  dotcom-rendering/src/components/AuEoy2024Wrapper.importable.tsx
  dotcom-rendering/src/components/AusEoy2024.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#12865 Opinion card design updates
  dotcom-rendering/src/components/Avatar.stories.tsx
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/Byline.tsx
  dotcom-rendering/src/components/BylineLink.tsx
  dotcom-rendering/src/components/HeadlineByline.tsx
  dotcom-rendering/src/components/LiveBlockContainer.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground

#12912 Remove italic byline on web
  dotcom-rendering/src/components/RichLink.tsx
Labels: dotcom-rendering, fairground

#12748 Update article count logic and registration wall behaviour
  dotcom-rendering/src/components/SignInGate/displayRule.ts
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/lib/articleCount.ts
  dotcom-rendering/src/lib/contributions.ts
Labels: dotcom-rendering

#12906 Update to `@guardian/libs@19.2.1`
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#12902 Feature Cards: Add gradient mask to background blur
  dotcom-rendering/src/components/FeatureCard.tsx
Labels: dotcom-rendering, fairground

#12914 adds logic to include aus in the enabled analytic state
  dotcom-rendering/src/components/Analytics.amp.tsx
Labels: dotcom-rendering

#12923 Carousels: Optimise updating button state
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/SlideshowCarousel.importable.tsx
Labels: dotcom-rendering, fairground

#12918 Feature Cards: Add default background colour
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering, fairground
