Repository guardian/dotcom-rendering, pull requests merged in 2025-02, with the labels that each got.

#13260 Add more button to football match list
  dotcom-rendering/src/components/FootballLiveMatches.stories.tsx
  dotcom-rendering/src/components/FootballLiveMatches.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13265 upgrade auxia sign in gate interface
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13254 Remove stray underline in byline
  dotcom-rendering/src/components/MultiByline.tsx
Labels: dotcom-rendering

#13267 Auxia Integration (Experimental) Part 5: update get treatments proxy url
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13271 Football pages - Add support for all match types in Match list
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13274 Added comments to the football match list
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13278 Added football match live status and styles
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13280 Auxia Integration (Experimental) Part 6: call proxy log treatment interaction
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13281 Use SDC prop types when fetching data
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/useSDC.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#12795 use email-newsletter layout data from frontend
  dotcom-rendering/docs/email-newsletters-page.md
  dotcom-rendering/src/model/enhance-newsletters-page.ts
  dotcom-rendering/src/model/newsletter-grouping.ts
  dotcom-rendering/src/model/newsletter-page-schema.json
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/newslettersPage.ts
Labels: dotcom-rendering

#13286 Add logic and styles for links from football matches using smart redirect
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13288 Test logic for whether to render a match link
  dotcom-rendering/src/components/FootballMatchList.test.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
Labels: dotcom-rendering

#13290 Auxia Integration (Experimental) Part 7: send all log treatment interactions
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13269 Add experiment headers to logging
  dotcom-rendering/src/server/lib/logging-middleware.ts
  dotcom-rendering/src/server/lib/logging-store.ts
  dotcom-rendering/src/server/lib/logging.ts
Labels: dotcom-rendering, fronts + curation

#13295 Fix image override field name for multi-bylines
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/enhanceLists.test.ts
  dotcom-rendering/src/model/enhanceLists.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#13270 Rename and move the StickyLiveblogAsk component and associated Story into /marketing
  dotcom-rendering/src/components/StickyLiveblogAsk.stories.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/components/marketing/gutters/StickyLiveblogAsk.stories.tsx
  dotcom-rendering/src/components/marketing/gutters/gutterAsk.tsx
  dotcom-rendering/src/components/marketing/gutters/utils/storybook.ts
  dotcom-rendering/src/components/marketing/gutters/utils/types.ts
Labels: dotcom-rendering

#13291 Update secondary section title colour to neutral 20
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13296 Auxia Integration (Experiement) Part 9: clarify the difference between interactionType(s) and actionName(s)
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13303 Update react crossword canary version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13289 handle more button when there are no more matches to load
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
Labels: dotcom-rendering

#13321 Football match list: Add dark mode styling for More button
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13302 Epic choice card US only Test 2025
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Labels: dotcom-rendering

#13323 Create football competition select component
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13324 Remove colour tests on epic
  dotcom-rendering/src/components/marketing/epics/BylineWithHeadshot.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/EpicButton.tsx
Labels: dotcom-rendering

#13293 Show divider between cards on static feature two container
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: fronts + curation

#13292 Enrich RRCP component tracking client-side
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/LiveBlogRenderer.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
Labels: dotcom-rendering

#13241 Reserve MPU height for mobile inlines
  dotcom-rendering/src/lib/adStyles.ts
Labels: dotcom-rendering

#13327 Auxia Integration (Experiment) Part 10: decide auxia payloads
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/lib/contributions.ts
Labels: dotcom-rendering

#13332 Pass clientName to marketing components
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
Labels: dotcom-rendering

#13335 Auxia Experiment (Part 12): better fake browserId
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13339 Auxia Experiment (Part 13): upgrade to new get-treatments answer schema
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13340 Fix tracking in epic + banner props
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering

#13345 Auxia Experiment (Part 14): gate signature and content update
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
Labels: dotcom-rendering

#13333 Create Football match page component
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.importable.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13347 Auxia Experiment (Part 15): put auxia behind consent check
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13346 Stop sending tracking data to SDC
  dotcom-rendering/package.json
  dotcom-rendering/playwright/tests/banner.e2e.spec.ts
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/utils/storybook.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#13353 Auxia Experiment: remove a confusing redirection
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13334 Clean up highlight test tracking
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Labels: dotcom-rendering, fronts + curation

#13356 Move highlights carousel buttons above card links
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering, fronts + curation

#13358 Splash card headline sizing
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fronts + curation

#13277 New Supporter Revenue cookie lifecycle
  dotcom-rendering/src/client/userFeatures/cookies/adFree.ts
  dotcom-rendering/src/client/userFeatures/cookies/allowRejectAll.ts
  dotcom-rendering/src/client/userFeatures/cookies/cookieHelpers.ts
  dotcom-rendering/src/client/userFeatures/cookies/hideSupportMessaging.ts
  dotcom-rendering/src/client/userFeatures/cookies/userBenefitsExpiry.ts
  dotcom-rendering/src/client/userFeatures/cookies/userFeaturesExpiry.ts
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
  dotcom-rendering/src/lib/contributions.test.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/readerRevenueDevUtils.ts
  dotcom-rendering/src/lib/useAdBlockAsk.ts
Labels: dotcom-rendering

#13331 Refactor JSON Schema Scripts
  .github/workflows/schema-check.yml
  dotcom-rendering/makefile
  dotcom-rendering/scripts/json-schema/check-schema.js
  dotcom-rendering/scripts/json-schema/gen-schema.js
  dotcom-rendering/scripts/json-schema/get-schema.js
  dotcom-rendering/scripts/jsonSchema/checkSchemas.mjs
  dotcom-rendering/scripts/jsonSchema/genSchemas.mjs
  dotcom-rendering/scripts/jsonSchema/schema.mjs
Labels: dotcom-rendering

#13364 Added Schema For `FEFootballDataPage`
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/feFootballDataPage.ts
  dotcom-rendering/src/model/fe-football-data-page-schema.json
Labels: dotcom-rendering

#13352 Design changes to Edition Switcher Banner
  dotcom-rendering/src/components/EditionSwitcherBanner.importable.tsx
Labels: dotcom-rendering

#13368 auxia experiment: send api gate variant to Ophan
  dotcom-rendering/src/components/SignInGate/componentEventTracking.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13361 Hide trail text on feature cards
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: dotcom-rendering, fronts + curation

#13379 auxia experiment: await for async log treatment API calls
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
Labels: dotcom-rendering

#13384 auxia experiment: Use default GU data in case of non consenting reader
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13388 auxia experiment: Enrich abTest value for better tracking of the Auxia variant
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13396 auxia experiment: send editionId
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#13372 Move And Rename `TagPage` Types
  .prettierignore
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/TagPage.tsx
  dotcom-rendering/src/frontend/README.md
  dotcom-rendering/src/frontend/feTagPage.ts
  dotcom-rendering/src/frontend/schemas/feTagPage.json
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/tagPage.ts
Labels: dotcom-rendering

#13389 Fix Storybook Build Errors And Warnings
  dotcom-rendering/.storybook/main.ts
Labels: dotcom-rendering

#13398 signin gates edit: remove the privacy settings sentence in both legacy and auxia gates
  dotcom-rendering/playwright/tests/sign-in-gate.e2e.spec.ts
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateMain.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13387 Add football live fixture data
  dotcom-rendering/fixtures/generated/football-live.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/feFootballDataPage.ts
  dotcom-rendering/src/model/fe-football-data-page-schema.json
  dotcom-rendering/src/model/validate.ts
Labels: dotcom-rendering

#13370 Prioritise image hide over other image settings
  dotcom-rendering/src/model/enhanceCards.ts
Labels: fronts + curation

#13371 Remove trail text from standard, non-boosted cards in flexible/genera…
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fronts + curation

#13362 new canary version of crossword
  dotcom-rendering/package.json
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#13318 Play Youtube video within Feature Cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FeatureCardCardAge.tsx
  dotcom-rendering/src/components/FeatureCardCommentCount.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.stories.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/image.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13405 Force test ads on failing tests
  dotcom-rendering/playwright/tests/article.embeds.e2e.spec.ts
Labels: dotcom-rendering

#13406 Update react crossword version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13414 Fix multi-byline contributor links
  dotcom-rendering/src/components/MultiByline.tsx
Labels: dotcom-rendering

#13383 Reduce PROD article-rendering stack from 30 to 27 instances
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13418 auxia experiment: call SignInGateAuxia as component, not function
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13410 Set the Auxia Experiment audience to 10%
  dotcom-rendering/src/experiments/tests/auxia-sign-in-gate.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#13373 Create Football data page layout
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballDataPage.tsx
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/server/server.dev.ts
Labels: dotcom-rendering

#13419 Improve and clean up crossword layout
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
Labels: dotcom-rendering

#13426 Identity | Add instructions on developing with okta/sign in local dev
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13411 Set the Auxia Experiment audience to 20%
  dotcom-rendering/src/experiments/tests/auxia-sign-in-gate.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#13429 Show audio content on feature cards in static feature two container
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: dotcom-rendering, fronts + curation

#13408 Update trail text colour
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/DynamicPackage.tsx
  dotcom-rendering/src/components/FixedSmallSlowVThird.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/lib/cardWrappers.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13415 Update e2e lib `loadPage` to enforce adtest query param
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/article.e2e.spec.ts
  dotcom-rendering/playwright/tests/article.embeds.e2e.spec.ts
  dotcom-rendering/playwright/tests/article.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/article.metaAndOphan.e2e.spec.ts
  dotcom-rendering/playwright/tests/atom.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/banner.e2e.spec.ts
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
  dotcom-rendering/playwright/tests/edition-switcher-banner.e2e.spec.ts
  dotcom-rendering/playwright/tests/epic.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/liveblog.interactivity.e2e.spec.ts
  dotcom-rendering/playwright/tests/ophan.e2e.spec.ts
  dotcom-rendering/playwright/tests/paid.content.e2e.spec.ts
Labels: dotcom-rendering

#13430 Use new video and container for loop video test
  dotcom-rendering/src/components/LoopVideoABTest.tsx
  dotcom-rendering/src/lib/loop-video-ab-test-data.ts
Labels: dotcom-rendering, fronts + curation

#13428 Align right ad with crossword container
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
Labels: dotcom-rendering

#13434 Update react-crossword version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13199 Enable consent or pay banner
  dotcom-rendering/package.json
  dotcom-rendering/playwright/lib/cmp.ts
  dotcom-rendering/playwright/tests/atom.video.e2e.spec.ts
  dotcom-rendering/playwright/tests/ophan.e2e.spec.ts
  dotcom-rendering/src/client/bootCmp.ts
  dotcom-rendering/src/components/TopBarMyAccount.tsx
  dotcom-rendering/src/lib/identity.ts
  dotcom-rendering/src/lib/useAuthStatus.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#13412 Set the Auxia experiment audience to 35%
  dotcom-rendering/src/experiments/tests/auxia-sign-in-gate.ts
  dotcom-rendering/src/experiments/tests/sign-in-gate-main-variant.ts
Labels: dotcom-rendering

#13266 Rename fastlyRequestId to requestId
  dotcom-rendering/src/server/lib/logging-middleware.ts
  dotcom-rendering/src/server/lib/logging-store.ts
  dotcom-rendering/src/server/lib/logging.ts
Labels: dotcom-rendering

#13421 Align Opinion Card Avatars
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13422 Refactor "splitTheme" Decorator
  dotcom-rendering/.storybook/decorators/splitThemeDecorator.tsx
  dotcom-rendering/src/components/ShareButton.stories.tsx
Labels: dotcom-rendering

#13462 Use neutral 38 on media card trail text
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13461 Handle Apps In Liveblog Timestamp Links
  dotcom-rendering/src/components/FirstPublished.tsx
Labels: dotcom-rendering

#13390 Update `EmailSignup` Stories To Component Story Format v3
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/EmailSignup.stories.tsx
Labels: dotcom-rendering

#13481 pass through quoted headline prop
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: dotcom-rendering, fronts + curation

#13438 Add mobile crossword banner slot until phablet breakpoint
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#13486 Update epic choice cards design
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#13476 Pass container level for top bar decision making
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13488 Disable chromatic for interactive block component
  dotcom-rendering/src/components/InteractiveBlockComponent.stories.tsx
Labels: dotcom-rendering

#13326 Connect the Liveblog Gutter Ask to SDC
  dotcom-rendering/package.json
  dotcom-rendering/src/components/LiveblogGutterAskWrapper.importable.tsx
  dotcom-rendering/src/components/StickyLiveblogAskWrapper.importable.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.stories.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/gutters/utils/storybook.ts
  dotcom-rendering/src/components/marketing/gutters/utils/types.ts
  dotcom-rendering/src/layouts/LiveLayout.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#13489 Bump @guardian/libs to 21.4.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13492 Changes to hide the support revenue messages in info pages
  dotcom-rendering/package.json
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
  dotcom-rendering/src/components/LiveblogGutterAskWrapper.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#13491 Add a description and title to football page html
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
Labels: dotcom-rendering
