Repository guardian/dotcom-rendering, pull requests merged in 2025-01, with the labels that each got.

#13007 Added `StackedProgress` election tracker component
  dotcom-rendering/src/components/ElectionTrackers/StackedProgress.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/StackedProgress.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13064 Delete `decidePalette`
  dotcom-rendering/src/lib/decidePalette.ts
  dotcom-rendering/src/lib/pillars.ts
Labels: dotcom-rendering

#13063 Remove Ad free as a benefit on epic and live blog epic choice cards
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
Labels: dotcom-rendering

#13062 Fix targeting by signed in status in Liveblog
  dotcom-rendering/src/components/LiveBlogEpic.importable.tsx
Labels: dotcom-rendering

#13066 Fix Submeta Scaling
  dotcom-rendering/src/components/SubMeta.tsx
Labels: dotcom-rendering

#13077 Remove US Banner AB test
  dotcom-rendering/src/components/ExpandableMarketingCard.stories.tsx
  dotcom-rendering/src/components/ExpandableMarketingCard.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardSwipeable.tsx
  dotcom-rendering/src/components/ExpandableMarketingCardWrapper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/usa-expandable-marketing-card.ts
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/static/logos/red-blue-large-banner-bottom.svg
  dotcom-rendering/src/static/logos/red-blue-large-banner-faded.svg
  dotcom-rendering/src/static/logos/red-blue-large-banner-top.svg
  dotcom-rendering/src/static/logos/red-blue-small-banner-bottom.svg
  dotcom-rendering/src/static/logos/red-blue-small-banner-faded.svg
  dotcom-rendering/src/static/logos/red-blue-small-banner-top.svg
Labels: dotcom-rendering

#13081 Remove digital subscription cookie
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
Labels: dotcom-rendering

#13071 Hide trail text on podcast cards
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fairground

#13073 Add 8px padding to beta media card images
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering, fairground

#13076 Pad content based on card properties
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
Labels: dotcom-rendering, fairground

#13079 Remove Onwards Content (big six) AB test
  dotcom-rendering/src/components/BigSixOnwardsContent.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/onwards-content-article.ts
Labels: dotcom-rendering

#13033 Remove play icon if a video does not play inline
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering, fairground

#13097 Remove the action required cookie
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
Labels: dotcom-rendering

#13103 Bump commercial to 24.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#12964 Remove Weather component
  dotcom-rendering/src/components/Weather.stories.tsx
  dotcom-rendering/src/components/Weather.tsx
  dotcom-rendering/src/components/WeatherSlot.tsx
  dotcom-rendering/src/components/WeatherWrapper.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/types/weather.ts
Labels: dotcom-rendering

#13109 Remove weatherapiurl from schema and FEFrontConfigType
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#13072 Podcast series image on cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering, fairground

#13104 Render star rating on highlights card
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Labels: dotcom-rendering, fairground

#13087 Correctly align outer sublinks and livelinks
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fairground

#13098 Remove the front containers in DCR created for 2024 US EOY and AUS Campaigns
  dotcom-rendering/src/components/AuEoy2024Wrapper.importable.tsx
  dotcom-rendering/src/components/AusEoy2024.stories.tsx
  dotcom-rendering/src/components/UsEoy2024.stories.tsx
  dotcom-rendering/src/components/UsEoy2024Wrapper.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#13099 Use `id` from `AudioBlockElement` for `media-id` if available
  dotcom-rendering/src/lib/audio-data.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

#13107 Media Cards: Enable pills in beta containers
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fairground

#13080 Kicker images on cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/Kicker.stories.tsx
  dotcom-rendering/src/components/Kicker.tsx
Labels: dotcom-rendering, fairground

#13082 Media cards: Show waveform on podcast cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/SvgWaveform.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fairground

#13111 Refactor Right Ad label styles
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/MostViewedRightWithAd.importable.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13083 Add crossword design
  dotcom-rendering/src/lib/articleFormat.ts
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering

#13100 Remove unused article format functions
  dotcom-rendering/src/lib/articleFormat.test.ts
  dotcom-rendering/src/lib/articleFormat.ts
  dotcom-rendering/src/types/frontend.ts
Labels: dotcom-rendering

#13124 Fix to prevent clipping of Epic Byline Image
  dotcom-rendering/src/components/marketing/epics/BylineWithHeadshot.tsx
Labels: dotcom-rendering

#13125 Fix primary container overlap bug
  dotcom-rendering/src/components/FrontSection.tsx
Labels: dotcom-rendering, fronts + curation

#13127 Fix separator styling for list elements
  dotcom-rendering/src/components/KeyTakeaways.tsx
  dotcom-rendering/src/components/MiniProfiles.tsx
  dotcom-rendering/src/components/MultiBylines.tsx
  dotcom-rendering/src/components/QAndAExplainers.tsx
Labels: dotcom-rendering

#12938 [Fairground 🎡] Avatar Sizing
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/AvatarContainer.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fairground

#13113 Prepare DCR for an AB test between user benefits api & members data api
  dotcom-rendering/src/client/userFeatures/cookies/adFree.ts
  dotcom-rendering/src/client/userFeatures/cookies/hideSupportMessaging.ts
  dotcom-rendering/src/client/userFeatures/cookies/userFeaturesExpiry.ts
  dotcom-rendering/src/client/userFeatures/fetchJson.ts
  dotcom-rendering/src/client/userFeatures/membersDataApi.ts
  dotcom-rendering/src/client/userFeatures/user-features-lib.ts
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
  dotcom-rendering/src/lib/useAdBlockAsk.ts
Labels: dotcom-rendering

#13140 Replace hardcoded blog colours in palette
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13123 Better loading container for Most Viewed component at end of articles
  dotcom-rendering/src/components/MostViewedFooterData.importable.tsx
  dotcom-rendering/src/components/MostViewedFooterPlaceholder.stories.tsx
  dotcom-rendering/src/components/MostViewedFooterPlaceholder.tsx
Labels: dotcom-rendering

#13143 Create stories for web ad slots
  dotcom-rendering/src/components/AdSlot.web.stories.tsx
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#13144 Refactor Quiz Atom Stories
  dotcom-rendering/src/components/KnowledgeQuizAtom.stories.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.stories.tsx
Labels: dotcom-rendering

#13135 Bump end value of standard cards slice in flex gen
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering

#13165 Revert changes to remove ad free as a benefit
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
Labels: dotcom-rendering

#13041 Three Tier on Banner (V1)
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Labels: dotcom-rendering

#13169 Quiz Atom Dark Mode
  dotcom-rendering/src/components/KnowledgeQuizAtom.importable.tsx
  dotcom-rendering/src/components/PersonalityQuizAtom.importable.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#12925 Handle crossword articles
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-deps.js
  dotcom-rendering/src/components/Crossword.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/model/buildCrosswordBlock.ts
  dotcom-rendering/src/model/enhanceBlocks.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/newsletter-page-schema.json
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/article.ts
  dotcom-rendering/src/types/content.ts
  dotcom-rendering/src/types/frontend.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#13166 Bump @guardian/libs to 20.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13178 Remove show hide toggle switch test
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
Labels: dotcom-rendering, fronts + curation

#13119 Media Cards: Special palette variations for podcast waveform
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
Labels: dotcom-rendering, DO NOT MERGE, fairground

#13179 Feature card gallery footer
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: dotcom-rendering

#13137 Use user benefits abtest
  dotcom-rendering/playwright/tests/user.features.e2e.spec.ts
  dotcom-rendering/src/client/userFeatures/membersDataApi.ts
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
  dotcom-rendering/src/client/userFeatures/userBenefitsApi.ts
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/user-benefits-api.ts
  dotcom-rendering/src/model/guardian.ts
Labels: dotcom-rendering

#13172 @guardian/commercial@25.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13177 Change crossword component name to fix renaming issue with build
  dotcom-rendering/src/components/Crossword.importable.tsx
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#13163 Apply padding to immersive image captions
  dotcom-rendering/src/components/Caption.stories.tsx
  dotcom-rendering/src/components/Caption.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
Labels: dotcom-rendering

#13126 Change vertical gap to 4px in beta containers
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13183 Add code to check whether a user is allowed to reject all on the CMP
  dotcom-rendering/src/client/userFeatures/cookies/allowRejectAll.ts
  dotcom-rendering/src/client/userFeatures/membersDataApi.ts
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
  dotcom-rendering/src/client/userFeatures/userBenefitsApi.ts
Labels: dotcom-rendering

#13162 Carousel container portal navigation
  dotcom-rendering/src/components/CarouselNavigationButtons.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/ShowHideButton.tsx
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13112 update apps-rendering-api-models and content-api-models
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering

#13182 Add media cards to highlights container
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Pill.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13185 Remove members-data-api from user-features code
  dotcom-rendering/playwright/tests/user.features.e2e.spec.ts
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
  dotcom-rendering/src/client/userFeatures/membersDataApi.ts
  dotcom-rendering/src/client/userFeatures/user-features.test.ts
  dotcom-rendering/src/client/userFeatures/user-features.ts
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/model/tag-page-schema.json
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering

#13180 Feature card audio image and footer
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardBranding.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/Pill.stories.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/lib/cardHelpers.test.ts
  dotcom-rendering/src/lib/cardHelpers.ts
  dotcom-rendering/src/lib/decideLogo.ts
  dotcom-rendering/src/lib/getZIndex.ts
Labels: dotcom-rendering, fronts + curation

#13189 Stop sending epic view events
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
Labels: dotcom-rendering

#13191 Use formatTime for time-related functions
  dotcom-rendering/src/components/AudioAtom/AudioAtom.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/MediaDuration.tsx
  dotcom-rendering/src/components/MediaMeta.test.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/lib/formatTime.test.ts
  dotcom-rendering/src/lib/formatTime.ts
Labels: dotcom-rendering, fronts + curation

#13190 Feature Card video time pill
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
Labels: dotcom-rendering, fronts + curation

#13193 Fix imports
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
Labels: dotcom-rendering

#13186 Don't load Most Viewed placeholder when page is adapted
  dotcom-rendering/src/components/MostViewedFooterPlaceholder.tsx
Labels: dotcom-rendering

#13197 Upgrade ab-test.ts ABTest[] with auxiaSignInGate
  dotcom-rendering/src/experiments/ab-tests.ts
  dotcom-rendering/src/experiments/tests/auxia-sign-in-gate.js
Labels: dotcom-rendering

#12987 Remove useIsAndroid Hook and add Support for Horizontal Scrolling
  dotcom-rendering/src/components/Carousel.importable.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/useIsAndroid.ts
  dotcom-rendering/src/lib/useIsBridgetCompatible.ts
  dotcom-rendering/src/lib/useIsHorizontalScrollingSupported.ts
Labels: dotcom-rendering, DO NOT MERGE

#13176 hide show hide if user is not signed in
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/ShowHideButton.tsx
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13195 Highlight card design updates
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fronts + curation

#13205 Use the pill component on highlights cards
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13208 Video timestamp pills on cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
  dotcom-rendering/src/lib/formatTime.ts
Labels: dotcom-rendering, fronts + curation

#13194 Podcast series image on highlights cards
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Labels: dotcom-rendering, fronts + curation

#13198 Auxia Integration (Experimental)
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/experiments/tests/auxia-sign-in-gate.ts
  dotcom-rendering/src/lib/ArticleRenderer.tsx
Labels: dotcom-rendering

#13230 Use article's contributionsServiceUrl
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#13231 Fix SVG duplication in pill
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Pill.tsx
Labels: dotcom-rendering, fronts + curation

#13233 Update react crossword version
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13236 update express to 4.21.2
  apps-rendering/package.json
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#13237 Auxia Integration (Experimental) (Part 2)
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13207 Get fastly id from header and add it to all logs
  dotcom-rendering/src/server/lib/logging-middleware.ts
  dotcom-rendering/src/server/lib/logging-store.ts
  dotcom-rendering/src/server/lib/logging.ts
Labels: dotcom-rendering

#13238 Add Football Matches
  dotcom-rendering/src/components/FootballLiveMatches.stories.tsx
  dotcom-rendering/src/components/FootballLiveMatches.tsx
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13192 Add play icon on Feature Cards
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13243 improve ab-test documentation to remove ambiguity
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
Labels: dotcom-rendering

#13247 Auxia Integration (Experimental) (Part 3)
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13253 Reverts "Add play icon on Feature Cards"
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13245 Highlights container tracking
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/ophan-helpers.ts
Labels: dotcom-rendering, fronts + curation

#13248 Updates to US Newsletters page
  dotcom-rendering/src/model/newsletter-grouping.ts
Labels: dotcom-rendering

#13252 Show / Hide alignment
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/ShowHideButton.tsx
Labels: dotcom-rendering, fronts + curation

#13244 Applied Styles To The Football Match List
  dotcom-rendering/.storybook/decorators/gridDecorators.tsx
  dotcom-rendering/src/components/FootballLiveMatches.stories.tsx
  dotcom-rendering/src/components/FootballLiveMatches.tsx
  dotcom-rendering/src/grid.ts
  dotcom-rendering/src/lib/edition.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering
