Repository guardian/dotcom-rendering, pull requests merged in 2025-10, with the labels that each got.

#14579 Fix image width for gallery inline images
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering

#14590 Update sign-in gate treatmentType
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#14559 Apply news.800 for both the kicker and the quote on News Feature cards
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#14601 Remove chalk dependency
  dotcom-rendering/package.json
  dotcom-rendering/webpack/webpack.config.dev-server.js
  pnpm-lock.yaml
  scripts/log.js
Labels: dotcom-rendering

#14604 Log or report to Sentry json parsing errors in `InteractiveBlockComponent`
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#14592 Fix header grid rows for gallery
  dotcom-rendering/src/components/Caption.tsx
Labels: dotcom-rendering

#14589 Ensure galleries only render one secondary onward container
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
Labels: dotcom-rendering

#14606 Only log JSON.parse errors in InteractiveBlockComponent
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#14533 Handle subtitles asset type
  apps-rendering/package.json
  apps-rendering/src/atoms.test.ts
  apps-rendering/src/atoms.ts
  apps-rendering/src/video.test.ts
  apps-rendering/src/video.ts
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
  dotcom-rendering/src/model/enhanceCards.test.ts
  dotcom-rendering/src/model/enhanceCards.ts
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#14611 `LeftColumn` should not use `section`
  dotcom-rendering/src/components/LeftColumn.tsx
Labels: dotcom-rendering

#14622 Add padding top on the first image of the gallery
  dotcom-rendering/src/components/GalleryCaption.tsx
  dotcom-rendering/src/components/GalleryImage.tsx
Labels: dotcom-rendering

#14619 Gallery Sub-Components: `GalleryLabsHeader`
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Labels: dotcom-rendering

#14625 Remove keyline above date on gallery app
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
Labels: dotcom-rendering

#14631 Update gallery byline colour in dark mode
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#14640 Track treatmentType of sign-in gates
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#14627 Add quadrule and border bottom in galleries submeta
  dotcom-rendering/src/components/SubMeta.tsx
Labels: dotcom-rendering

#14634 Gallery Sub-Components: `MerchandisingHigh`
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Labels: dotcom-rendering

#14642 Fix ab-testing deploy workflows
  .github/workflows/ab-testing-checks.yml
  .github/workflows/ab-testing-deploy-code.yml
  .github/workflows/ab-testing-deploy-prod.yml
  .github/workflows/ab-testing-deploy.yml
  ab-testing/abTest.ts
  ab-testing/deno.json
Labels: fix
