Repository guardian/dotcom-rendering, pull requests merged in 2025-08, with the labels that each got.

#14330 Add `top-above-nav` grey background width for tablet
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#14304 Add an extra story to flexible general
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
Labels: fronts + curation

#14316 Enable L2A visibility
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
Labels: dotcom-rendering

#14341 Remove AdYouLike code
  dotcom-rendering/fixtures/config.js
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/fixtures/generated/fe-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/fe-articles/Audio.ts
  dotcom-rendering/fixtures/generated/fe-articles/Comment.ts
  dotcom-rendering/fixtures/generated/fe-articles/Dead.ts
  dotcom-rendering/fixtures/generated/fe-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/fe-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/fe-articles/Feature.ts
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/fe-articles/GalleryLabs.ts
  dotcom-rendering/fixtures/generated/fe-articles/Interview.ts
  dotcom-rendering/fixtures/generated/fe-articles/Labs.ts
  dotcom-rendering/fixtures/generated/fe-articles/Letter.ts
  dotcom-rendering/fixtures/generated/fe-articles/Live.ts
  dotcom-rendering/fixtures/generated/fe-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/fe-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/fe-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/fe-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/fe-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/fe-articles/Picture.ts
  dotcom-rendering/fixtures/generated/fe-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/fe-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/fe-articles/Review.ts
  dotcom-rendering/fixtures/generated/fe-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/fe-articles/Standard.ts
  dotcom-rendering/fixtures/generated/fe-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/fe-articles/Video.ts
  dotcom-rendering/fixtures/generated/football-live.ts
  dotcom-rendering/scripts/perf/k6/article-nier-automata.json
Labels: Commercial :moneybag:, dotcom-rendering

#14299 Insert ads in Galleries
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/GalleryAdSlots.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/lib/getGalleryAdPositions.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: Commercial :moneybag:, dotcom-rendering

#14326 Don't display audio icon if looping video doesn't have audio
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: dotcom-rendering, fronts + curation

#14354 Remove podcast palette as this is no longer used by production
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/Carousel.stories.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/Kicker.stories.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.stories.tsx
  dotcom-rendering/src/components/StaticMediumFour.stories.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/cardHelpers.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#14355 Remove media palette
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/CardHeadline.stories.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/Kicker.stories.tsx
  dotcom-rendering/src/components/Palettes.stories.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/components/ScrollableMedium.stories.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.stories.tsx
  dotcom-rendering/src/components/StaticMediumFour.stories.tsx
  dotcom-rendering/src/lib/cardHelpers.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#14359 Scrollable highlights: Use colour for quote icon
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#14350 Improve list item text wrapping
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#14357 Check node types match node version
  dotcom-rendering/scripts/check-node-versions.mjs
Labels: dotcom-rendering

#14365 Remove no boosts AB test
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#14376 Fix the broken headline due to main media bug
  dotcom-rendering/src/components/MainMediaGallery.tsx
Labels: dotcom-rendering

#14385 Add more viewports to Scrollable Highlights stories
  dotcom-rendering/src/components/ScrollableHighlights.stories.tsx
Labels: dotcom-rendering, fronts + curation

#14386 Hide mostpop ad slot on liveblogs at the leftcol breakpoint
  dotcom-rendering/src/components/MostViewedFooterLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
Labels: dotcom-rendering

#14397 Add `linkTo` prop to LoopVideo for navigation tracking
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Labels: fronts + curation

#14300 Video atom as main media in articles - poster image fix
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#14399 Refactor headline positioning logic
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fronts + curation

#14403 Add a snap link story for flexible special
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
Labels: fronts + curation

#14401 Remove pauseOffScreen prop from Card
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Carousel.importable.tsx
Labels: dotcom-rendering, fronts + curation

#14396 Add ads in galleries on both web and app
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/lib/getGalleryAdPositions.ts
  dotcom-rendering/src/model/enhance-ad-placeholders.ts
  dotcom-rendering/src/types/article.ts
Labels: Commercial :moneybag:, dotcom-rendering

#14414 Filter out m3u8 assets until supported by DCR
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/model/enhanceCards.test.ts
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering

#14423 refactor getGateDisplayCount
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#14422 Prevent sign-in gate for Filter articles
  dotcom-rendering/src/components/SignInGate/displayRules.ts
Labels: dotcom-rendering

#14282 Adds tracking to front sections
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTracker.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, fronts + curation

#14405 Add docs for front containers
  dotcom-rendering/src/components/FrontContainers.mdx
Labels: dotcom-rendering

#14421 Playwright tests use POST endpoints
  dotcom-rendering/playwright.config.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/playwright/tests/atom.video.e2e.spec.ts
  dotcom-rendering/playwright/tests/lightbox.e2e.spec.ts
  dotcom-rendering/playwright/tests/signed-out.e2e.spec.ts
Labels: dotcom-rendering

#14432 2-step banner: hide ticker + image when collapsed
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
Labels: dotcom-rendering

#14439 Update font sizes at mobile breakpoints
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/ScrollableHighlights.stories.tsx
Labels: dotcom-rendering, fronts + curation

#14447 clarify and ensure sign-in gate specs
  dotcom-rendering/src/components/SignInGate/displayRules.ts
Labels: dotcom-rendering

#14452 Reduce blur of avatars on fronts
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCardImage.tsx
Labels: dotcom-rendering, fronts + curation
