Repository guardian/dotcom-rendering, pull requests merged in 2025-03, with the labels that each got.

#13442 port/rewrite of the `sIndicator` browser extension, as DCR feature
  dotcom-rendering/src/client/main.web.ts
  dotcom-rendering/src/client/sIndicator.ts
  dotcom-rendering/src/client/userFeatures/cookies/sIndicatorCapiKey.ts
Labels: dotcom-rendering

#13487 Football Data Page Ads
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/grid.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
Labels: dotcom-rendering

#13502 Parsing Football data - wire up to the component on page
  dotcom-rendering/src/components/FootballDataPage.tsx
  dotcom-rendering/src/feFootballDataPage.ts
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/model/guardian.ts
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
Labels: dotcom-rendering

#13503 Use frontend filters for competition selector
  dotcom-rendering/fixtures/generated/football-live.ts
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/feFootballDataPage.ts
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/model/fe-football-data-page-schema.json
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
Labels: dotcom-rendering

#13509 Setup prod endpoint for football page
  dotcom-rendering/src/feFootballDataPage.ts
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/model/fe-football-data-page-schema.json
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#13485 Sublinks Grey Bounding Box
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering, fronts + curation

#13506 Add storybook for the Football data page layout
  dotcom-rendering/src/layouts/FootballDataPageLayout.stories.tsx
Labels: dotcom-rendering

#13508 Expect grouped cards for flex gen
  dotcom-rendering/src/model/groupCards.ts
Labels: dotcom-rendering, fronts + curation

#13523 Increase number of facia instances
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13522 Revert "Revert "Expect grouped cards for flex gen""
  dotcom-rendering/src/model/groupCards.ts
Labels: dotcom-rendering, fronts + curation

#13524 auxia experiment: move ophan view notification
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13516 Football Data Pages - Selected Nav Pillar
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
Labels: dotcom-rendering

#13534 Bump @guardian/libs to 21.6.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13507 Crosswords: scrollable clue list
  dotcom-rendering/package.json
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#13536 Support league specific pages
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
Labels: dotcom-rendering

#13475 Use lighter font for Cartoon front cards
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardHeadline.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#13518 Football Pages - Add the correct name for Jagiellonia Białystok
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13533 auxia experiment: upgrade payload of GetTreatments
  dotcom-rendering/src/components/SignInGate/dismissGate.ts
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13551 Temporarily skip Playwright reject all cookies test
  dotcom-rendering/playwright/tests/ophan.e2e.spec.ts
Labels: dotcom-rendering

#13555 Remove epic slot from crossword layout
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
Labels: dotcom-rendering

#13549 Crossword: Print layout improvements
  dotcom-rendering/package.json
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#13548 Add waveform to podcast feature card
  dotcom-rendering/src/components/AudioPlayer/components/ProgressBar.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/WaveForm.stories.tsx
  dotcom-rendering/src/components/WaveForm.tsx
  dotcom-rendering/src/model/article-schema.json
  dotcom-rendering/src/model/front-schema.json
  dotcom-rendering/src/types/mainMedia.ts
Labels: dotcom-rendering, fronts + curation

#13559 Bump @guardian/react-crossword: increase strikethrough contrast
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13529 Show horizontal line on all sublinks
  dotcom-rendering/src/components/SupportingContent.tsx
Labels: dotcom-rendering, fronts + curation

#13562 Update dependencies for auxia request hook
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13547 Football Data Pages - Use ISO string instead of dates
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13572 Do not await auxia tracking events
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13575 Refactor auxia isSignedIn check
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13574 Add scrolling="no" attribute to iframe for Datawrapper iframes
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#13558 Enable sticky ads in football data pages
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
Labels: dotcom-rendering

#13580 Remove Lightbox Deduplication Logic
  dotcom-rendering/src/model/buildLightboxImages.ts
Labels: dotcom-rendering

#13479 Reduce font size on Edition Switcher Banner
  dotcom-rendering/src/components/EditionSwitcherBanner.importable.tsx
Labels: dotcom-rendering

#13407 Revert "Display test loop video container when in 0% AB test"
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/LoopVideoABTest.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/loop-video-ab-test-data.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#13550 Football Fixtures/Results Pages - Get More!
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
Labels: dotcom-rendering

#13589 On card hover, stop background colour covering padding of image
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
Labels: fronts + curation

#13588 Limit allowed ad size in football-right slot
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#13519 Migrate article to new, bigger subnets
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#13607 Test c8g instances for facia-rendering
  dotcom-rendering/cdk/bin/cdk.ts
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13608 Football data pages - league selector ordering
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/server/handler.footballDataPage.web.test.ts
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
  dotcom-rendering/src/server/render.footballDataPage.web.tsx
Labels: dotcom-rendering

#13535 Immersive feature splash
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
Labels: dotcom-rendering, fronts + curation

#13611 Revert facia-rendering back to c7g
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13617 Make sure slot containers have correct class applied
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: dotcom-rendering

#13623 Bump crossword to 4.1.0 (check all disappearing letters)
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13625 Revert "Test moving all large stacks to c8g"
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13616 Football data pages: also clean team name in comments
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13618 Crossword dark mode support
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13579 Card gap sizing amendments
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering, fronts + curation

#13360 Stop sending browserId to SDC
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd/ReaderRevenueEpic.tsx
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering

#13630 Set aspect ratio of images in highlights card to 1:1
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fronts + curation

#13629 Make score optional in football matches
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering

#13638 Add the form to the football table
  dotcom-rendering/src/components/FootballTable.stories.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableForm.stories.tsx
  dotcom-rendering/src/components/FootballTableForm.tsx
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13622 Move And Rename `Front` Types
  dotcom-rendering/fixtures/manual/show-more-trails.ts
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/ShowMore.importable.tsx
  dotcom-rendering/src/feFootballDataPage.ts
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/feTagPage.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/lib/getDataLinkName.ts
  dotcom-rendering/src/model/decideContainerPalette.ts
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/model/enhanceCollections.ts
  dotcom-rendering/src/model/enhanceSnaps.ts
  dotcom-rendering/src/model/enhanceTreats.ts
  dotcom-rendering/src/model/fe-football-data-page-schema.json
  dotcom-rendering/src/model/groupCards.ts
  dotcom-rendering/src/model/slowOrFastByTrails.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/types/front.ts
  dotcom-rendering/src/types/tagPage.ts
Labels: dotcom-rendering

#13624 Add table of contents support to timelines
  dotcom-rendering/src/components/Timeline.tsx
  dotcom-rendering/src/model/enhanceTableOfContents.ts
Labels: dotcom-rendering

#13619 Model timeline with one named section as sectioned
  dotcom-rendering/src/model/enhanceTimeline.test.ts
  dotcom-rendering/src/model/enhanceTimeline.ts
Labels: dotcom-rendering

#13627 Revert back to using default SSM parameter
  dotcom-rendering/scripts/deploy/riff-raff.yaml
Labels: dotcom-rendering

#13632 Crosswords: improved print layout
  dotcom-rendering/src/components/CrosswordComponent.importable.tsx
  dotcom-rendering/src/components/ElementContainer.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/static/css/print.css
Labels: dotcom-rendering

#13637 Disable dark mode for Datawrapper embeds on web
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#13645 Relocate print style to avoid caching
  dotcom-rendering/src/lib/rootStyles.ts
  dotcom-rendering/src/static/css/print.css
Labels: dotcom-rendering

#13646 Add `navigator.canShare` check in `ShareButton.importable.tsx`
  dotcom-rendering/src/components/ShareButton.importable.tsx
Labels: dotcom-rendering

#13643 Create Football table list components
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballTable.stories.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableForm.tsx
  dotcom-rendering/src/components/FootballTableList.stories.tsx
  dotcom-rendering/src/components/FootballTableList.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/components/FootballTablesPageWrapper.importable.tsx
  dotcom-rendering/src/footballTables.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13654 Add support for sentry 'extra' contexts to reportError
  dotcom-rendering/src/client/sentryLoader/loadSentry.ts
  dotcom-rendering/src/client/sentryLoader/sentry.ts
  dotcom-rendering/src/client/sentryLoader/sentryLoader.ts
  dotcom-rendering/src/types/sentry.ts
Labels: dotcom-rendering

#13621 Update `CardCommentCount` Stories To CSF v3
  dotcom-rendering/src/components/CardCommentCount.importable.stories.tsx
Labels: dotcom-rendering

#13648 Support crosswords in Safari 13
  apps-rendering/package.json
  apps-rendering/src/components/Deadline/index.tsx
  apps-rendering/src/components/Layout/NewsletterSignUpLayout.tsx
  apps-rendering/src/components/NewsletterSignup/index.tsx
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Callout/Deadline.tsx
  dotcom-rendering/src/components/NewsletterDetail.tsx
  dotcom-rendering/src/components/NewsletterFrequency.tsx
  dotcom-rendering/src/lib/useMatchMedia.ts
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#13663 Upgrade to @guardian/react-crossword v6
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13665 Revert "Test updating to c8g with reduced ASG sizes"
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13633 Media card pills - updated designs
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/CardAge.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.stories.tsx
  dotcom-rendering/src/components/Card/components/CardFooter.tsx
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.stories.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
  dotcom-rendering/src/components/Pill.stories.tsx
  dotcom-rendering/src/components/Pill.tsx
  dotcom-rendering/src/components/SvgMediaControlsPlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomOverlay.tsx
Labels: dotcom-rendering, fronts + curation

#13652 Display line between cards in secondary Flexible General containers on mobile
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fronts + curation

#13670 Give slideshow navigation background colour
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/SlideshowCarousel.importable.tsx
  dotcom-rendering/src/components/SlideshowCarousel.stories.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13675 Render immersive feature media cards
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/MaintainAspectRatio.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Labels: dotcom-rendering, fronts + curation

#13691 Update all DCR stacks from c7g to c8g
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13692 Reduce ASG sizes after upgrading to c8g
  dotcom-rendering/cdk/bin/cdk.ts
Labels: dotcom-rendering

#13639 Create Football Table component
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballTable.stories.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableForm.stories.tsx
  dotcom-rendering/src/components/FootballTableForm.tsx
  dotcom-rendering/src/components/FootballTableList.stories.tsx
  dotcom-rendering/src/components/FootballTableList.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/components/FootballTablesPageWrapper.importable.tsx
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/footballTables.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13697 Fix football table Typescript errors after merge
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/footballTables.ts
Labels: dotcom-rendering

#13674 Football tables - pass the current date through components
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/layouts/FootballDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/FootballDataPageLayout.tsx
  dotcom-rendering/src/server/handler.footballDataPage.web.ts
Labels: dotcom-rendering

#13696 Upgrade react-crossword v6.2.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13695 Update Emotion Libraries To 11.14.0
  apps-rendering/package.json
  dotcom-rendering/package.json
  dotcom-rendering/src/components/FollowButtons.tsx
  dotcom-rendering/src/components/marketing/lib/ReactComponent.tsx
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#13694 Football tables - reorder the heading in the DOM
  dotcom-rendering/src/components/FootballTableList.tsx
Labels: dotcom-rendering

#13701 Football tables - only hydrate the competition select
  dotcom-rendering/src/components/FootballTablesCompetitionSelect.importable.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/components/FootballTablesPageWrapper.importable.tsx
Labels: dotcom-rendering
