Repository guardian/dotcom-rendering, pull requests merged in 2025-05, with the labels that each got.

#13878 Add webm story for loops
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Labels: dotcom-rendering, fronts + curation

#13851 Use Express Router In Dev Server
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/webpack/webpack.config.dev-server.js
Labels: dotcom-rendering

#13887 Fix typo in Loop Video story
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Labels: dotcom-rendering, fronts + curation

#13838 Upgrade to `@guardian/cdk@61.4.0`
  apps-rendering/cdk/lib/__snapshots__/mobile-apps-rendering.test.ts.snap
  apps-rendering/cdk/lib/mobile-apps-rendering.ts
  apps-rendering/package.json
  dotcom-rendering/cdk/lib/__snapshots__/renderingStack.test.ts.snap
  dotcom-rendering/cdk/lib/userData.ts
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, dotcom-rendering

#13892 Shorten banner choice card benefits on desktop
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#13664 Remove legacy build
  .github/workflows/bundle-analyser.yml
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/client.web.legacy.mjs
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/makefile
  dotcom-rendering/scripts/test/build-check.js
  dotcom-rendering/src/lib/assets.test.ts
  dotcom-rendering/src/lib/assets.ts
  dotcom-rendering/src/server/render.allEditorialNewslettersPage.web.tsx
  dotcom-rendering/src/server/render.article.web.tsx
  dotcom-rendering/src/server/render.front.web.tsx
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
  dotcom-rendering/webpack/webpack.config.server.js
Labels: dotcom-rendering

#13890 Limit banner height to 60vh if ios banner detected
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#13855 add pageId to frontend sports models
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/fixtures/generated/football-live.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/footballMatches.test.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
Labels: dotcom-rendering

#13893 Switch to React for server-side rendering
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Labels: dotcom-rendering

#13853 Convert `get-content-from-url` To TypeScript
  dotcom-rendering/src/server/lib/get-content-from-url.ts
Labels: dotcom-rendering

#13888 Backfilled cards should be treated according to their allocated group
  dotcom-rendering/src/model/groupCards.ts
Labels: dotcom-rendering

#13901 Switch back to Preact for server-side rendering
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Labels: dotcom-rendering

#13907 Show standfirst in immersive Youtube feature cards
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fronts + curation

#13910 Skip `commercial.e2e.spec.ts`
  dotcom-rendering/playwright/tests/commercial.e2e.spec.ts
Labels: dotcom-rendering

#13913 Feature & Immersive cards video toggle
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13905 Insert an extra ad on desktop fronts in certain conditions
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/lib/frontsBannerAdExclusions.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: Commercial :moneybag:, dotcom-rendering, fronts + curation

#13914 Add byline to immersive youtube cards
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
Labels: fronts + curation

#13917 Remove test switch from highlights
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering

#13915 Update hardcoded list of container ids
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Labels: dotcom-rendering

#13912 Crop immersive youtube images to 5:3 with a top center offset
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
Labels: dotcom-rendering, fronts + curation

#13918 Configure rules on inserting an ad after the first container in beta fronts
  dotcom-rendering/fixtures/manual/frontCollections.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: Commercial :moneybag:, dotcom-rendering, fronts + curation

#13889 Fix banner layout issues
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#13904 Fix images on CODE
  dotcom-rendering/src/lib/image.ts
Labels: dotcom-rendering

#13926 Fix banner cta stickiness
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#13868 Add "pages" And "targets" To Dev Server
  dotcom-rendering/src/devServer/docs/doc.tsx
  dotcom-rendering/src/devServer/docs/pages.tsx
  dotcom-rendering/src/devServer/docs/targets.tsx
  dotcom-rendering/src/devServer/routers/pages.ts
  dotcom-rendering/src/devServer/routers/targets.ts
  dotcom-rendering/src/devServer/send.tsx
  dotcom-rendering/src/server/server.dev.ts
Labels: dotcom-rendering

#13782 Remove Babel
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/babel.config.js
  dotcom-rendering/docs/resources.md
  dotcom-rendering/package.json
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/tsconfig.json
  dotcom-rendering/webpack/webpack.config.client.js
  pnpm-lock.yaml
Labels: dotcom-rendering

#13931 Revert "Switch back to Preact for server-side rendering"
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Labels: dotcom-rendering

#13774 Test client-side rendering with React
  dotcom-rendering/webpack/bundles.js
  dotcom-rendering/webpack/webpack.config.client.js
Labels: dotcom-rendering

#13819 Bump immersive card headline size from small to medium on desktop
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fronts + curation

#13938 Send GU_mvt_id to SDC
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13941 add mvtId to the payload of get-treatments
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13861 [AB Testing PoC] Add script to upload dictionaries
  .github/workflows/ab-testing.yml
  .vscode/settings.json.required
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/scripts/deploy/env.ts
  ab-testing/scripts/deploy/fastly-api.test.ts
  ab-testing/scripts/deploy/fastly-api.ts
  ab-testing/scripts/deploy/index.ts
  ab-testing/scripts/deploy/read-built-dictionaries.ts
  deno.lock
Labels: Commercial :moneybag:

#13943 Update new front dark mode: highlights container and feature cards
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, Pending-on-PROD, fronts + curation

#13928 Apply `interactiveGlobalStyles` to app and web interactives
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Labels: dotcom-rendering

#13795 Designable banner refactor
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/BannerText.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerVisual.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Labels: dotcom-rendering

#13942 Update loop video styles
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13950 decideShouldShowLegacyGate
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13814 Secondary level title font size
  dotcom-rendering/src/components/ContainerTitle.tsx
Labels: dotcom-rendering, fronts + curation

#13869 Add "targets" Docs To Dev Server
  dotcom-rendering/src/devServer/docs/amp.tsx
  dotcom-rendering/src/devServer/docs/dotcom.tsx
  dotcom-rendering/src/devServer/docs/editionsApp.tsx
  dotcom-rendering/src/devServer/docs/liveApps.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/editionsApp.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/targets.ts
Labels: dotcom-rendering

#13952 use auxia gate component for non auxia audience
  dotcom-rendering/playwright/tests/sign-in-gate.e2e.spec.ts
  dotcom-rendering/src/components/Island.test.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/lib/ArticleRenderer.tsx
  dotcom-rendering/src/lib/withSignInGateSlot.tsx
Labels: dotcom-rendering

#13766 Further changes to tables of contents
  dotcom-rendering/src/components/TableOfContents.importable.tsx
Labels: dotcom-rendering

#13958 Update ticker colour
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
Labels: dotcom-rendering

#13960 Fix missing background colour on choice cards container
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#13957 Responsive colour scheme for DCAR interactive apps
  dotcom-rendering/src/server/render.article.apps.tsx
Labels: dotcom-rendering

#13956 Remove flex basis from podcast image
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
Labels: dotcom-rendering, fronts + curation

#13903 implement football more button for when js is disabled
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.stories.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Labels: dotcom-rendering

#13962 Add Gallery Layout
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
Labels: dotcom-rendering

#13947 Bump @guardian/libs to 22.4.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13965 Remove age warning from filter articles
  dotcom-rendering/src/lib/age-warning.ts
Labels: dotcom-rendering

#13964 Fix for CTA unsticking from bottom of screen in smaller mobile devices
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#13935 Use choiceCardsSettings in epic and banner
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/banners/common/types.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.test.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
  dotcom-rendering/src/components/marketing/lib/storybook.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#13920 `ValuesWithChange` Election Trackers Component
  dotcom-rendering/src/components/ElectionTrackers/StackedProgress.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ValuesWithChange.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13985 Fix banner headline colour override
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#13897 [AB Testing PoC] Build ab-testing config into key-values
  .github/workflows/ab-testing.yml
  ab-testing/abTest.ts
  ab-testing/deno.json
  ab-testing/deno.lock
  ab-testing/docs/config-build-example.md
  ab-testing/scripts/build/build-ab-tests-dict.ts
  ab-testing/scripts/build/build-mvt-dict.test.ts
  ab-testing/scripts/build/build-mvt-dict.ts
  ab-testing/scripts/build/index.ts
  ab-testing/scripts/lib.ts
  ab-testing/scripts/validation/limitServerSide.test.ts
  ab-testing/scripts/validation/validExpiration.test.ts
  ab-testing/scripts/validation/variantOverlap.test.ts
  ab-testing/scripts/validation/variantOverlap.ts
  ab-testing/types.ts
Labels: Commercial :moneybag:

#13974 Add Editions App Docs To Dev Server
  dotcom-rendering/src/devServer/docs/available.tsx
  dotcom-rendering/src/devServer/docs/editionsCrosswords.tsx
  dotcom-rendering/src/devServer/routers/editionsApp.ts
Labels: dotcom-rendering

#13973 Improve ticker animation
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13966 Loop video fixes
  dotcom-rendering/src/components/Card/components/CardLayout.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: dotcom-rendering, fronts + curation

#14012 Hide mobile highlights test
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, Pending-on-PROD, fronts + curation

#14006 Add `ios`/`android` classes to DCAR interactives on app via Bridget
  dotcom-rendering/.storybook/mocks/bridgetApi.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/InteractivesNativePlatformWrapper.importable.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/lib/bridgetApi.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#14015 Make choice cards pill colours configurable
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering
