Repository guardian/dotcom-rendering, pull requests merged in 2025-07, with the labels that each got.

#14153 Bump @guardian/libs to 23.0.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#14166 Revert "Football nav atom for women's euros 2025"
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/components/FootballNavAtom.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/footballNavAtom.ts
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/feFootballNavAtom.ts
  dotcom-rendering/src/frontend/feFootballTablesPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/sportDataPage.ts
Labels: dotcom-rendering

#14142 Mute other Looping Videos when playing audio
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#14170 Add A Nav For Football Competitions
  dotcom-rendering/.storybook/modes.ts
  dotcom-rendering/src/components/FootballCompetitionNav.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionNav.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballTablesPage.stories.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
Labels: dotcom-rendering

#14141 Tidy unused DesignableBanner code
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/common/PaymentCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCloseButton.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerHeader.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardInteractive.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCards.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/choiceCards/ChoiceCardsSupportCta.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/settings.ts
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/hooks/useChoiceCards.ts
  dotcom-rendering/src/components/marketing/hooks/useReminder.ts
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
  dotcom-rendering/src/components/marketing/shared/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#14186 Fix looping video autoplay bug on Safari
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: dotcom-rendering, fronts + curation

#14185 Update mediaAtom schema to match frontend
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
Labels: dotcom-rendering, fronts + curation

#14190 Remove switch logic for DesignableBannerV2
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
Labels: dotcom-rendering

#14193 Fix ad iframe whitespace
  dotcom-rendering/src/lib/adStyles.ts
Labels: dotcom-rendering

#14156 Add looping video `data-` tracking for ophan
  dotcom-rendering/package.json
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/mainMedia.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, fronts + curation

#14196 Check flashing preferences before allowing autoplaying looping videos
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Labels: dotcom-rendering, run_chromatic, fronts + curation

#13909 Adding new Filter Button component
  dotcom-rendering/src/components/ProductLinkButton.stories.tsx
  dotcom-rendering/src/components/ProductLinkButton.tsx
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/model/block-schema.json
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering, The Filter

#14210 Fix Loop Video fallback image
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: fronts + curation

#14198 Test reserving 250px for top-above-nav
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
  dotcom-rendering/src/lib/adStyles.ts
Labels: dotcom-rendering

#14212 Fix incorrect `stroke-width` attribute
  dotcom-rendering/src/components/Card/components/SvgWaveform.tsx
Labels: dotcom-rendering

#14123 Remove legacy media meta
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/ContainerOverrides.tsx
  dotcom-rendering/src/components/MediaMeta.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#14208 Revamp READMEs
  README.md
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/docs/images/logo-swc.png
  dotcom-rendering/docs/images/logo-webpack.png
  dotcom-rendering/docs/testing.md
Labels: dotcom-rendering

#14211 Add loop video UI tests to flexible containers
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Labels: dotcom-rendering, fronts + curation

#14220 Handle state when browser pauses video
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: dotcom-rendering, fronts + curation

#14219 Accessibility preferences
  dotcom-rendering/src/components/Accessibility.importable.stories.tsx
  dotcom-rendering/src/components/Accessibility.importable.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Labels: dotcom-rendering, fronts + curation

#14204 [A/B Testing POC] Add first-pass Ophan reporting for client-side AB tests using the new framework
  dotcom-rendering/src/components/SetABTests.importable.tsx
  dotcom-rendering/src/experiments/lib/beta-ab-tests.ts
  dotcom-rendering/src/lib/useAB.ts
  dotcom-rendering/src/model/guardian.ts
Labels: dotcom-rendering

#14229 refactor choice cards
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/shared/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#14230 Rename `@guardian/commercial` back to `@guardian/commercial-core`
  dotcom-rendering/package.json
  dotcom-rendering/src/client/sentryLoader/loadSentry.ts
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/Discussion/Comments.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/components/Metrics.importable.tsx
  dotcom-rendering/src/components/SlotBodyEnd.importable.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPlayer.tsx
  dotcom-rendering/src/experiments/utils.ts
  dotcom-rendering/src/lib/adStyles.ts
  dotcom-rendering/src/lib/useAdBlockInUse.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#14202 New Sign In Gate Phase 1
  dotcom-rendering/fixtures/manual/sign-in-gate.ts
  dotcom-rendering/src/components/AuthProviderButtons/AuthProviderButtons.stories.tsx
  dotcom-rendering/src/components/AuthProviderButtons/AuthProviderButtons.tsx
  dotcom-rendering/src/components/AuthProviderButtons/types.ts
  dotcom-rendering/src/components/ExternalLink/ExternalLink.tsx
  dotcom-rendering/src/components/InformationBox/InformationBox.stories.tsx
  dotcom-rendering/src/components/InformationBox/InformationBox.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxiaV1.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/Terms/Terms.stories.tsx
  dotcom-rendering/src/components/Terms/Terms.tsx
  dotcom-rendering/src/components/ThemedLink/ThemedLink.stories.tsx
  dotcom-rendering/src/components/ThemedLink/ThemedLink.tsx
  dotcom-rendering/src/lib/routeUtils.ts
Labels: dotcom-rendering

#14243 refactor sign-in gate styles move signInGateContainer to shared and a…
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxiaV1.tsx
Labels: dotcom-rendering

#14245 Text wrap for product button
  dotcom-rendering/src/components/ProductLinkButton.stories.tsx
  dotcom-rendering/src/components/ProductLinkButton.tsx
Labels: dotcom-rendering

#14247 Add section colours for Pillar sections
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#14240 Remove `data-print-layout` from `Section`
  dotcom-rendering/src/components/FrontsAdSlots.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: dotcom-rendering

#14256 Looping video: Use a fallback image for replacement video
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering, fronts + curation

#14158 Fix apps-rendering README.md install dependencies instruction
  apps-rendering/README.md
Labels: apps-rendering

#14258 Set play icon when autoplay fails
  dotcom-rendering/src/components/LoopVideo.importable.tsx
Labels: dotcom-rendering

#14250 Add xcust to skimlinks on app
  dotcom-rendering/src/components/ArticlePage.tsx
Labels: dotcom-rendering, The Filter

#14266 Ignore video element in Chromatic
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: dotcom-rendering, fronts + curation

#14259 Tweak the default section heading colour
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#14253 Use correct image size for Flexible containers in half-width slot
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/AvatarContainer.tsx
  dotcom-rendering/src/components/Card/components/ContentWrapper.tsx
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
Labels: dotcom-rendering, fronts + curation

#14251 Fix poster image for MAM-generated video articles
  dotcom-rendering/src/components/MainMedia.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/renderElement.tsx
Labels: dotcom-rendering

#14174 Add ophan attention tracking to looping video
  dotcom-rendering/package.json
  dotcom-rendering/src/client/ophan/ophan.ts
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, fronts + curation

#14278 Remove unused enhanced json endpoints
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/handler.front.web.ts
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#14281 refactoring: avoid using negatives in sign-in gate's behaviour names
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#14283 Bump support-dotcom-components for CTA hover removal from CtaDesign type
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/utils/storybook.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#14285 Loop videos: Reduce size of poster image
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Labels: dotcom-rendering, fronts + curation

#14290 Hide arrow when at end of Scrollable highlights container
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
Labels: dotcom-rendering, fronts + curation

#14276 Add audio duration to L2A button
  dotcom-rendering/package.json
  dotcom-rendering/src/components/ArticleMeta.apps.tsx
  dotcom-rendering/src/components/ListenToArticle.importable.tsx
  dotcom-rendering/src/components/ListenToArticle.test.tsx
  dotcom-rendering/src/components/ListenToArticleButton.stories.tsx
  dotcom-rendering/src/components/ListenToArticleButton.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering

#14292 `sendReact` takes node not component
  dotcom-rendering/src/devServer/routers/amp.tsx
  dotcom-rendering/src/devServer/routers/dotcom.tsx
  dotcom-rendering/src/devServer/routers/editionsApp.tsx
  dotcom-rendering/src/devServer/routers/liveApps.tsx
  dotcom-rendering/src/devServer/routers/pages.tsx
  dotcom-rendering/src/devServer/routers/targets.tsx
  dotcom-rendering/src/devServer/send.tsx
Labels: dotcom-rendering

#14308 feat: add focus management for interactive choice cards in DesignableBanner
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
Labels: dotcom-rendering

#14301 Dev server page - remove AMP and tidy up
  dotcom-rendering/src/server/dev-index.html
Labels: dotcom-rendering

#14321 Newsletter cards need spacing on desktop
  dotcom-rendering/src/components/Card/Card.tsx
Labels: dotcom-rendering, fronts + curation

#14320 Add `top-above-nav` background placeholder
  dotcom-rendering/src/components/AdSlot.web.tsx
Labels: Commercial :moneybag:, dotcom-rendering
