Repository guardian/dotcom-rendering, pull requests merged in 2025-09, with the labels that each got.

#14462 [sign-in gate] decideHideSupportMessagingTimestamp
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#14383 Remove GET endpoints from PROD server
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#14469 Implements All Newsletters visible reCAPTCHA design changes
  dotcom-rendering/src/components/ManyNewslettersForm.tsx
  dotcom-rendering/src/components/ManyNewslettersFormFields.tsx
Labels: dotcom-rendering

#14474 Debounce atom messenger scroll listener
  dotcom-rendering/src/components/InteractiveAtomMessenger.importable.tsx
Labels: dotcom-rendering

#14470 Bump @guardian/libs to 25.3.0
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#14473 Enable per-test configuration to force metrics collection for A/B tests under the new framework
  ab-testing/abTest.ts
  ab-testing/index.ts
  ab-testing/package.json
  ab-testing/types.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Metrics.importable.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dotcom-rendering

#14481 Show the correct image size in mega-boosted Opinion cards in Flexible General
  dotcom-rendering/src/components/Avatar.tsx
  dotcom-rendering/src/components/Card/components/AvatarContainer.tsx
Labels: dotcom-rendering, fronts + curation

#14475 feat 2-step dismissible banner v2
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtas.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
Labels: dotcom-rendering

#14488 Hide trail text when in hide-trails AB test
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#14438 Google One Tap: New Client IDs, Ophan Tracking, and Email-only redirect
  dotcom-rendering/src/components/ArticlePage.tsx
  dotcom-rendering/src/components/FrontPage.tsx
  dotcom-rendering/src/components/GoogleOneTap.importable.tsx
  dotcom-rendering/src/components/GoogleOneTap.test.tsx
  dotcom-rendering/src/components/TagPage.tsx
Labels: dotcom-rendering

#14504 fix(google-one-tap): Use browser supported `atob` function to parse Base64
  dotcom-rendering/src/components/GoogleOneTap.importable.tsx
Labels: dotcom-rendering

#14506 Replace `execa` with Node.js' built in function `execFileSync`
  dotcom-rendering/package.json
  dotcom-rendering/scripts/env/check-files.js
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  pnpm-lock.yaml
Labels: dotcom-rendering

#14507 [auxia] update the determination of mandatoriness
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxiaV1.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
Labels: dotcom-rendering

#14510 Rollout the `top-above-nav` 250px reservation
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/HeaderAdSlot.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: Commercial :moneybag:, dotcom-rendering

#14514 Revert 'Adds tracking to front sections'
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/FrontSectionTracker.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#14515 Remove ios app banner check
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
Labels: dotcom-rendering

#14528 Fix story package background colour in `CommentLayout`
  dotcom-rendering/src/layouts/CommentLayout.tsx
Labels: dotcom-rendering

#14496 Soft Opt-in of Similar Guardian Product for the Single and embedded Newsletter
  dotcom-rendering/src/components/SecureSignup.importable.tsx
  dotcom-rendering/src/lib/newsletter-sign-up-requests.ts
Labels: dotcom-rendering

#14536 Replace `load-json-file` with native node method
  dotcom-rendering/package.json
  dotcom-rendering/scripts/test/build-check.js
  pnpm-lock.yaml
Labels: dotcom-rendering

#14561 Add US masthead to articles
  dotcom-rendering/src/components/Masthead/Masthead.stories.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/AudioLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/CrosswordLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: dotcom-rendering, fronts + curation

#14565 Add data-component attr to ProductLinkButton
  dotcom-rendering/src/components/ProductLinkButton.tsx
Labels: dotcom-rendering, The Filter

#14368 Sign-in gate v2
  dotcom-rendering/fixtures/manual/sign-in-gate.ts
  dotcom-rendering/src/components/AuthProviderButtons/AuthProviderButtons.tsx
  dotcom-rendering/src/components/SignInGate/SignInGate.stories.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxia.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxiaV1.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateAuxiaV2.tsx
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
  dotcom-rendering/src/components/StickyBottomBanner/SignInGatePortal.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/lib/has-string.ts
Labels: dotcom-rendering
