Repository guardian/dotcom-rendering, pull requests merged in 2025-04, with the labels that each got.

#13708 Prevent mobile front ads from being placed before a labs container
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: dotcom-rendering

#13710 Enforce pseudo element double colon syntax
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/BackToTop.tsx
  dotcom-rendering/src/components/Bio.tsx
  dotcom-rendering/src/components/Blocks.amp.tsx
  dotcom-rendering/src/components/BodyArticle.amp.tsx
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/Discussion/CommentReplyPreview.tsx
  dotcom-rendering/src/components/Discussion/Dropdown.tsx
  dotcom-rendering/src/components/Discussion/Filters.tsx
  dotcom-rendering/src/components/Discussion/LoadingPicks.tsx
  dotcom-rendering/src/components/Discussion/TopPick.tsx
  dotcom-rendering/src/components/Dropdown.importable.tsx
  dotcom-rendering/src/components/Expandable.amp.tsx
  dotcom-rendering/src/components/ExpandableAtom/Body.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/Footer.amp.tsx
  dotcom-rendering/src/components/Footer.tsx
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Header.amp.tsx
  dotcom-rendering/src/components/ImageComponent.tsx
  dotcom-rendering/src/components/LatestLinks.importable.tsx
  dotcom-rendering/src/components/LeftColumn.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/CollapseSectionButton.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/MoreSection.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/Pillar.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/ExpandedNav/SearchBar.tsx
  dotcom-rendering/src/components/Masthead/Titlepiece/Pillars.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/components/PaidForBand.amp.tsx
  dotcom-rendering/src/components/PulsingDot.importable.tsx
  dotcom-rendering/src/components/ShowMoreButton.amp.tsx
  dotcom-rendering/src/components/Sidebar.amp.tsx
  dotcom-rendering/src/components/SignInGate/gateDesigns/SignInGateFakeSocial.tsx
  dotcom-rendering/src/components/Standfirst.amp.tsx
  dotcom-rendering/src/components/Standfirst.tsx
  dotcom-rendering/src/components/SubMeta.amp.tsx
  dotcom-rendering/src/components/SubNav.importable.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/components/TextBlockComponent.amp.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
  dotcom-rendering/src/components/TimelineAtom.amp.tsx
  dotcom-rendering/src/components/Titlepiece.importable.tsx
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopMetaLiveblog.amp.tsx
  dotcom-rendering/src/components/TwitterBlockComponent.amp.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpicArticleCountAboveWithOptOut.tsx
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
  dotcom-rendering/src/layouts/lib/interactiveLegacyStyling.ts
  dotcom-rendering/src/lib/verticalDivider.ts
  dotcom-rendering/src/lib/verticalDividerWithBottomOffset.ts
  dotcom-rendering/stylelint.config.mjs
Labels: dotcom-rendering

#13714 Remove browser version comments in `browser-targets.js`
  dotcom-rendering/webpack/browser-targets.js
Labels: dotcom-rendering, Pending-on-PROD

#13594 Add crests to football matches
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/footballMatches.ts
Labels: dotcom-rendering, Pending-on-PROD

#13709 Update types to expect "isImmersive" value
  dotcom-rendering/fixtures/manual/highlights-trails.ts
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/DynamicPackage.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.stories.tsx
  dotcom-rendering/src/components/ScrollableFeature.stories.tsx
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/frontend/schemas/feTagPage.json
  dotcom-rendering/src/model/enhanceCards.ts
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#13693 Fix sublink hover styles
  dotcom-rendering/src/components/Card/components/CardWrapper.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
Labels: dotcom-rendering, fronts + curation

#13685 Give sublinks grey background on media cards
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/Card/Card.stories.tsx
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/SupportingContent.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13683 Create Cricket Scorecard component
  dotcom-rendering/src/components/CricketScorecard.stories.tsx
  dotcom-rendering/src/components/CricketScorecard.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableList.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13715 add country data to auxia payload
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13703 Move And Rename `Article` Types
  dotcom-rendering/fixtures/generated/fe-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/fe-articles/Audio.ts
  dotcom-rendering/fixtures/generated/fe-articles/Comment.ts
  dotcom-rendering/fixtures/generated/fe-articles/Dead.ts
  dotcom-rendering/fixtures/generated/fe-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/fe-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/fe-articles/Feature.ts
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/fe-articles/Interview.ts
  dotcom-rendering/fixtures/generated/fe-articles/Labs.ts
  dotcom-rendering/fixtures/generated/fe-articles/Letter.ts
  dotcom-rendering/fixtures/generated/fe-articles/Live.ts
  dotcom-rendering/fixtures/generated/fe-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/fe-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/fe-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/fe-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/fe-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/fe-articles/Picture.ts
  dotcom-rendering/fixtures/generated/fe-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/fe-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/fe-articles/Review.ts
  dotcom-rendering/fixtures/generated/fe-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/fe-articles/Standard.ts
  dotcom-rendering/fixtures/generated/fe-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/fe-articles/Video.ts
  dotcom-rendering/playwright/lib/load-page.ts
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/AdSlot.web.tsx
  dotcom-rendering/src/components/ArticleMeta.web.tsx
  dotcom-rendering/src/components/RichLinkComponent.importable.tsx
  dotcom-rendering/src/frontend/feArticle.ts
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/lib/articleFormat.ts
  dotcom-rendering/src/model/buildCrosswordBlock.ts
  dotcom-rendering/src/model/buildLightboxImages.ts
  dotcom-rendering/src/model/enhance-blockquotes.test.ts
  dotcom-rendering/src/model/validate.test.ts
  dotcom-rendering/src/model/validate.ts
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/handler.article.apps.ts
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/article.amp.tsx
  dotcom-rendering/src/types/article.ts
  dotcom-rendering/src/types/frontend.ts
  dotcom-rendering/src/types/onwards.ts
  dotcom-rendering/src/types/trails.ts
Labels: dotcom-rendering

#13680 Immersive features in non splash slots
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.test.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fronts + curation

#13647 Add `dark=false` param for in-house interactive embeds
  dotcom-rendering/playwright/lib/iframe.ts
  dotcom-rendering/playwright/tests/article.embeds.e2e.spec.ts
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#13515 correct the link on the sIndicator roundel
  dotcom-rendering/src/client/sIndicator.ts
Labels: dotcom-rendering

#13717 Update `browserslist` to latest version
  dotcom-rendering/package.json
  dotcom-rendering/webpack/browser-targets.js
  dotcom-rendering/webpack/browser-targets.test.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#13602 Three tier choice card on Banners
  dotcom-rendering/src/components/StickyBottomBanner/ReaderRevenueBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#13729 Remove no longer relevant todo from `SvgMediaControlsPlay` icon
  dotcom-rendering/src/components/SvgMediaControlsPlay.tsx
Labels: dotcom-rendering

#13731 Update `browser-support` doc with the last run of `@guardian/browserslist`
  dotcom-rendering/docs/principles/browser-support.md
Labels: dotcom-rendering

#13730 Upgrade SWC dependencies
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13686 Create Football Match summary component
  dotcom-rendering/src/components/FootballMatchSummary.stories.tsx
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/GetMatchStats.importable.tsx
  dotcom-rendering/src/components/GoalAttempts.stories.tsx
  dotcom-rendering/src/components/GoalAttempts.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/MatchStats.stories.tsx
  dotcom-rendering/src/components/MatchStats.tsx
Labels: dotcom-rendering

#13718 Upgrading Braze SDK from web-sdk-core@3.5.1 to web-sdk@5.8.1
  dotcom-rendering/package.json
  dotcom-rendering/src/components/StickyBottomBanner/BrazeBanner.tsx
  dotcom-rendering/src/lib/braze/buildBrazeMessaging.ts
  dotcom-rendering/src/lib/braze/initialiseAppboy.ts
  dotcom-rendering/src/lib/braze/initialiseBraze.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, Do not merge :warning:

#13739 Crop YouTube overlay image to fit aspect ratio
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomPicture.tsx
Labels: dotcom-rendering, Pending-on-PROD

#13740 Shorter benefits copy on banner choice cards
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Labels: dotcom-rendering

#13750 Bump @guardian/libs to 22.2.0 and ophan-tracker-js to 2.2.10
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13707 Feature cards: Reinstate podcast image above blur
  dotcom-rendering/src/components/FeatureCard.stories.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
Labels: dotcom-rendering, fronts + curation

#13762 Fix clashing choice cards
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
Labels: dotcom-rendering

#13761 Add a comment to link to gateway's persistUserBenefitsCookies
  dotcom-rendering/src/client/userFeatures/user-features.ts
Labels: dotcom-rendering

#13756 Implement interactive URL darkmode fix for additional path groups
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#13747 add support for new crossword type sunday-quick
  dotcom-rendering/package.json
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/model/block-schema.json
  pnpm-lock.yaml
Labels: dotcom-rendering

#13754 fix the fixture generation script and regenerate
  dotcom-rendering/fixtures/generated/fe-articles/Analysis.ts
  dotcom-rendering/fixtures/generated/fe-articles/Audio.ts
  dotcom-rendering/fixtures/generated/fe-articles/Comment.ts
  dotcom-rendering/fixtures/generated/fe-articles/Dead.ts
  dotcom-rendering/fixtures/generated/fe-articles/Editorial.ts
  dotcom-rendering/fixtures/generated/fe-articles/Explainer.ts
  dotcom-rendering/fixtures/generated/fe-articles/Feature.ts
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/fixtures/generated/fe-articles/Interview.ts
  dotcom-rendering/fixtures/generated/fe-articles/Labs.ts
  dotcom-rendering/fixtures/generated/fe-articles/Letter.ts
  dotcom-rendering/fixtures/generated/fe-articles/Live.ts
  dotcom-rendering/fixtures/generated/fe-articles/LiveBlogSingleContributor.ts
  dotcom-rendering/fixtures/generated/fe-articles/MatchReport.ts
  dotcom-rendering/fixtures/generated/fe-articles/NewsletterSignup.ts
  dotcom-rendering/fixtures/generated/fe-articles/NumberedList.ts
  dotcom-rendering/fixtures/generated/fe-articles/PhotoEssay.ts
  dotcom-rendering/fixtures/generated/fe-articles/Picture.ts
  dotcom-rendering/fixtures/generated/fe-articles/Quiz.ts
  dotcom-rendering/fixtures/generated/fe-articles/Recipe.ts
  dotcom-rendering/fixtures/generated/fe-articles/Review.ts
  dotcom-rendering/fixtures/generated/fe-articles/SpecialReport.ts
  dotcom-rendering/fixtures/generated/fe-articles/Standard.ts
  dotcom-rendering/fixtures/generated/fe-articles/StandardWithVideo.ts
  dotcom-rendering/fixtures/generated/fe-articles/Video.ts
  dotcom-rendering/fixtures/generated/images.ts
  dotcom-rendering/fixtures/generated/match-report.ts
  dotcom-rendering/fixtures/generated/series.ts
  dotcom-rendering/fixtures/generated/story-package.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
Labels: dotcom-rendering

#13764 Add isImmersive to getFrontsAdPositions.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: dotcom-rendering, fronts + curation

#13733 Add FE schema and parser for cricket match data
  dotcom-rendering/fixtures/generated/cricket-match.ts
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/CricketScorecard.tsx
  dotcom-rendering/src/cricketMatch.test.ts
  dotcom-rendering/src/cricketMatch.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/model/validate.ts
Labels: dotcom-rendering

#13742 Apply padding to immersive interactive captions
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#13780 Create Cricket Match Page Layout and dev endpoint
  dotcom-rendering/fixtures/manual/footballData.ts
  dotcom-rendering/src/components/CricketScorecardPage.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.stories.tsx
  dotcom-rendering/src/components/FootballCompetitionSelect.tsx
  dotcom-rendering/src/components/FootballMatchList.tsx
  dotcom-rendering/src/components/FootballMatchesPage.stories.tsx
  dotcom-rendering/src/components/FootballMatchesPage.tsx
  dotcom-rendering/src/components/FootballMatchesPageWrapper.importable.tsx
  dotcom-rendering/src/components/FootballTable.tsx
  dotcom-rendering/src/components/FootballTableList.tsx
  dotcom-rendering/src/components/FootballTablesCompetitionSelect.importable.tsx
  dotcom-rendering/src/components/FootballTablesPage.tsx
  dotcom-rendering/src/components/SportDataPageComponent.tsx
  dotcom-rendering/src/cricketMatch.ts
  dotcom-rendering/src/frontend/feCricketMatchPage.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/schemas/feCricketMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/layouts/FootballDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.stories.tsx
  dotcom-rendering/src/layouts/SportDataPageLayout.tsx
  dotcom-rendering/src/lib/canRenderAds.ts
  dotcom-rendering/src/lib/contributions.ts
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.test.ts
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
  dotcom-rendering/src/server/render.sportDataPage.web.tsx
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
  dotcom-rendering/src/sportDataPage.ts
Labels: dotcom-rendering

#13784 Flexible Special : Align live update vertically at boost and mega boost
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
Labels: dotcom-rendering, fronts + curation

#13789 Scrollable small stacked redesign
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.stories.tsx
Labels: dotcom-rendering, fronts + curation

#13792 Add cricket match scorecard endpoint to server.prod.ts
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#13804 Fix US Annual Discount for April
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/lib/choiceCards.ts
Labels: dotcom-rendering

#13797 Football Match Summary parser
  dotcom-rendering/scripts/jsonSchema/schema.mjs
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/MatchStats.stories.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/sportDataPage.ts
Labels: dotcom-rendering

#13801 Football tables ad - grid row
  dotcom-rendering/src/components/FootballTablesPage.tsx
Labels: dotcom-rendering

#13815 Update height of scrollable small in getFrontsAdPositions.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: dotcom-rendering, fronts + curation

#13809 Add 50% europe beta test
  dotcom-rendering/src/client/adaptiveSite.ts
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#13802 Add option to provide an image crop offset to fastly image resizer
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Picture.tsx
  dotcom-rendering/src/lib/image.ts
Labels: dotcom-rendering, fronts + curation

#13812 Separate left border carousel styles
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fronts + curation

#13813 Allow consumers to control the column and row gap sizing on scrollable carousels
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fronts + curation

#13817 Don't reserve nav button space for tablet scrollable/small and scrollable/medium
  dotcom-rendering/src/components/FrontSection.tsx
Labels: dotcom-rendering, fronts + curation

#13785 Add Observer footer
  dotcom-rendering/src/components/ArticleBody.tsx
  dotcom-rendering/src/components/TextBlockComponent.tsx
Labels: dotcom-rendering

#13822 Remove top ad on mobile beta fronts
  dotcom-rendering/src/lib/getFrontsAdPositions.test.ts
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: dotcom-rendering, fronts + curation

#13821 Use `cleanTeamName` everywhere we parse football team names
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/footballMatches.ts
  dotcom-rendering/src/footballTables.ts
  dotcom-rendering/src/sportDataPage.ts
Labels: dotcom-rendering

#13825 Use correct image size for highlights card
  dotcom-rendering/src/components/Card/components/ImageWrapper.tsx
  dotcom-rendering/src/components/CardPicture.tsx
  dotcom-rendering/src/components/Masthead/HighlightsCard.tsx
Labels: dotcom-rendering, fronts + curation

#13818 Support scores above ten in the match nav
  dotcom-rendering/src/components/Score.stories.tsx
  dotcom-rendering/src/components/Score.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#13823 [Commercial AB Testing PoC] Expand on the readme and add the VCL
  ab-testing/README.md
  ab-testing/ab-test.vcl
  ab-testing/abTest.ts
  ab-testing/types.ts
Labels: Commercial :moneybag:

#13816 Make score optional for match summaries
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
  dotcom-rendering/src/components/MatchStats.tsx
  dotcom-rendering/src/footballMatch.ts
  dotcom-rendering/src/frontend/feFootballDataPage.ts
  dotcom-rendering/src/frontend/feFootballMatchListPage.ts
  dotcom-rendering/src/frontend/feFootballMatchPage.ts
  dotcom-rendering/src/frontend/feFootballTablesPage.ts
  dotcom-rendering/src/frontend/schemas/feFootballMatchListPage.json
  dotcom-rendering/src/frontend/schemas/feFootballMatchPage.json
  dotcom-rendering/src/frontend/schemas/feFootballTablesPage.json
  dotcom-rendering/src/server/handler.sportDataPage.web.ts
Labels: dotcom-rendering

#13834 Add tables and match summary to prod server
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#13831 Update k6 load testing utility and add README
  dotcom-rendering/scripts/perf/k6/README.md
  dotcom-rendering/scripts/perf/k6/k6-install.sh
  dotcom-rendering/scripts/perf/k6/k6.mjs
Labels: dotcom-rendering

#13786 Add a script to summarise garbage collection reports using `node --trace-gc`
  dotcom-rendering/scripts/perf/gc/gc-report.js
Labels: dotcom-rendering

#13840 Revert "Remove heatphan carousel tracking for the scrollable carousel"
  dotcom-rendering/src/components/ScrollableCarousel.tsx
Labels: dotcom-rendering

#13811 Loop video component
  dotcom-rendering/src/components/Card/components/PlayIcon.tsx
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
  dotcom-rendering/src/components/LoopVideoProgressBar.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/lib/getZIndex.ts
  dotcom-rendering/src/lib/useIsInView.ts
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering, fronts + curation

#13843 Don't autoplay if user prefers reduced motion
  dotcom-rendering/src/components/LoopVideo.importable.tsx
  dotcom-rendering/src/components/LoopVideo.stories.tsx
  dotcom-rendering/src/components/LoopVideoPlayer.tsx
Labels: dotcom-rendering, fronts + curation

#13837 Only add `MatchNav` scoreboard placeholders for articles
  dotcom-rendering/src/components/FootballMatchSummary.tsx
  dotcom-rendering/src/components/GetMatchNav.importable.tsx
  dotcom-rendering/src/components/MatchNav.stories.tsx
  dotcom-rendering/src/components/MatchNav.tsx
Labels: dotcom-rendering

#13846 Update endpoint path that serves football match list pages
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#13845 Update `browser-support.md` to mention ES6 module support
  dotcom-rendering/docs/principles/browser-support.md
Labels: dotcom-rendering

#13847 Football match list page - remove old endpoint from prod server
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#13859 Revert "Use React for server-side rendering"
  dotcom-rendering/webpack/webpack.config.client.js
  dotcom-rendering/webpack/webpack.config.js
Labels: dotcom-rendering

#13844 Add in My Guardian to Follow Buttons
  dotcom-rendering/src/components/FollowButtons.test.tsx
  dotcom-rendering/src/components/FollowButtons.tsx
Labels: dotcom-rendering

#13860 Shorten choice cards copy on banner
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCardData.tsx
  dotcom-rendering/src/components/marketing/epics/ThreeTierChoiceCards.tsx
Labels: dotcom-rendering

#13862 deny /tips from being gated
  dotcom-rendering/README.md
  dotcom-rendering/docs/contributing/detailed-setup-guide.md
  dotcom-rendering/src/components/SignInGate/displayRule.test.ts
  dotcom-rendering/src/components/SignInGate/displayRules.test.ts
  dotcom-rendering/src/components/SignInGate/displayRules.ts
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-control.tsx
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-guardian-live.tsx
  dotcom-rendering/src/components/SignInGate/gates/alternative-wording-saturday-edition.tsx
  dotcom-rendering/src/components/SignInGate/gates/fake-social-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-control.ts
  dotcom-rendering/src/components/SignInGate/gates/main-mandatory-variant.tsx
  dotcom-rendering/src/components/SignInGate/gates/main-variant.tsx
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#13857 Don't bump Opinion cards headline size when no image
  dotcom-rendering/fixtures/manual/trails.ts
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
Labels: dotcom-rendering, fronts + curation

#13657 Full-page interactives in DCAR apps
  dotcom-rendering/src/layouts/DecideLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
Labels: dotcom-rendering

#13865 Refactor Flexible General stories
  dotcom-rendering/src/components/FlexibleGeneral.stories.tsx
Labels: dotcom-rendering, fronts + curation

#13875 Changes to support configurable goal copy
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBanner.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBanner.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.stories.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsLiveblogEpic.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering
