Repository guardian/dotcom-rendering, pull requests merged in 2025-06, with the labels that each got.

#13959 Banner layout simplification
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/components/DesignableBannerCtasV2.tsx
Labels: dotcom-rendering

#14024 Prelude to the Ireland opening
  dotcom-rendering/src/components/SignInGate/types.ts
  dotcom-rendering/src/components/SignInGateSelector.importable.tsx
Labels: dotcom-rendering

#14002 Reset error and preview body.
  dotcom-rendering/src/components/Discussion/CommentForm.tsx
  dotcom-rendering/src/lib/discussion.ts
  dotcom-rendering/src/lib/discussionApi.tsx
Labels: dotcom-rendering

#14029 Improve header levels in AB testing doc
  dotcom-rendering/docs/development/ab-testing-in-dcr.md
Labels: dotcom-rendering, Pending-on-PROD

#14037 Remove vertical video container
  dotcom-rendering/src/frontend/feFront.ts
  dotcom-rendering/src/frontend/schemas/feFront.json
  dotcom-rendering/src/lib/getFrontsAdPositions.ts
Labels: dotcom-rendering, fronts + curation

#14035 Refactor Dateline Text Colour
  dotcom-rendering/src/components/Dateline.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#14022 Remove legacy perf test routes and handlers
  dotcom-rendering/makefile
  dotcom-rendering/scripts/perf/perf-test.js
  dotcom-rendering/src/server/handler.article.amp.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

#13921 `ChangeBars` Election Trackers Component
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.stories.tsx
  dotcom-rendering/src/components/ElectionTrackers/ChangeBars.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#14048 Extend gradient overlay on immersive feature cards
  dotcom-rendering/src/components/FeatureCard.tsx
Labels: dotcom-rendering, fronts + curation

#14047 Update LiveBlock Datetime Colour
  dotcom-rendering/src/components/FirstPublished.tsx
  dotcom-rendering/src/components/LastUpdated.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#14019 Add gallery headline
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ArticleHeadline.tsx
  dotcom-rendering/src/components/MainMediaGallery.tsx
  dotcom-rendering/src/frontend/feArticle.ts
  dotcom-rendering/src/frontend/schemas/feArticle.json
  dotcom-rendering/src/layouts/GalleryLayout.stories.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
  dotcom-rendering/src/types/article.ts
Labels: dotcom-rendering

#14052 Remove unused webpack config
  dotcom-rendering/configs/webpack/.test.mjs
  dotcom-rendering/configs/webpack/README.md
  dotcom-rendering/configs/webpack/base.mjs
  dotcom-rendering/configs/webpack/client.apps.mjs
  dotcom-rendering/configs/webpack/client.web.mjs
  dotcom-rendering/configs/webpack/client.web.variant.mjs
  dotcom-rendering/configs/webpack/server.dev.mjs
  dotcom-rendering/configs/webpack/server.mjs
  dotcom-rendering/configs/webpack/utils/env.mjs
  dotcom-rendering/webpack.config.mjs
Labels: Pending-on-PROD

#14063 Change DCAR interactives platform identifier from class to data attribute
  dotcom-rendering/src/components/InteractivesNativePlatformWrapper.importable.tsx
Labels: dotcom-rendering, Seen-on-PROD

#14067 Remove font boost from image supression for standard non-boosted cards in a flexible general
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/model/enhanceCards.ts
Labels: dotcom-rendering, fronts + curation

#14074 Limit interactives body copy colour override to apps
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Labels: dotcom-rendering

#14071 Use promoCodes field in support message links
  dotcom-rendering/package.json
  dotcom-rendering/src/components/marketing/banners/common/BannerWrapper.tsx
  dotcom-rendering/src/components/marketing/epics/ContributionsEpic.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicButtons.tsx
  dotcom-rendering/src/components/marketing/epics/ctas/ContributionsEpicCtasContainer.tsx
  dotcom-rendering/src/components/marketing/gutters/GutterAskWrapper.tsx
  dotcom-rendering/src/components/marketing/header/HeaderWrapper.tsx
  dotcom-rendering/src/components/marketing/lib/tracking.test.ts
  dotcom-rendering/src/components/marketing/lib/tracking.ts
  pnpm-lock.yaml
Labels: dotcom-rendering

#14076 Move interactive override to right place
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
Labels: dotcom-rendering

#14056 Move from img to background url on div for svg images on gutter support ask
  dotcom-rendering/src/components/marketing/gutters/GutterAsk.tsx
  dotcom-rendering/src/components/marketing/gutters/utils/storybook.ts
Labels: dotcom-rendering

#14080 Fix main image story for DesignableBannersV2
  dotcom-rendering/src/components/marketing/banners/designableBanner/stories/DesignableBannerV2.stories.tsx
Labels: dotcom-rendering

#14099 Remove Stacked Carousels AB test
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
Labels: dotcom-rendering, fronts + curation

#14060 Add series for gallery
  dotcom-rendering/fixtures/generated/fe-articles/Gallery.ts
  dotcom-rendering/scripts/test-data/gen-fixtures.js
  dotcom-rendering/src/components/ArticleTitle.stories.tsx
  dotcom-rendering/src/components/ArticleTitle.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#14101 Fix typo on looping video test
  dotcom-rendering/src/server/handler.front.web.ts
Labels: dotcom-rendering

#14102 Scroll to a card in a carousel when focused
  dotcom-rendering/src/components/ScrollableCarousel.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableHighlights.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
Labels: dotcom-rendering, fronts + curation

#14107 Set if looping videos can play inline on a front
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
Labels: dotcom-rendering, fronts + curation

#14108 Setup Hide Trails AB test
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/Card/components/TrailText.tsx
  dotcom-rendering/src/components/DecideContainer.tsx
  dotcom-rendering/src/components/FeatureCard.tsx
  dotcom-rendering/src/components/FlexibleGeneral.tsx
  dotcom-rendering/src/components/FlexibleSpecial.tsx
  dotcom-rendering/src/components/FrontCard.tsx
  dotcom-rendering/src/components/ScrollableFeature.importable.tsx
  dotcom-rendering/src/components/ScrollableMedium.importable.tsx
  dotcom-rendering/src/components/ScrollableSmall.importable.tsx
  dotcom-rendering/src/components/StaticFeatureTwo.tsx
  dotcom-rendering/src/components/StaticMediumFour.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtom.tsx
  dotcom-rendering/src/components/YoutubeAtom/YoutubeAtomFeatureCardOverlay.tsx
  dotcom-rendering/src/components/YoutubeBlockComponent.importable.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/types/front.ts
Labels: dotcom-rendering, fronts + curation

#14112 Rejig interactives `disableArticleSwipe` implementation
  dotcom-rendering/src/components/InteractivesDisableArticleSwipe.importable.tsx
Labels: dotcom-rendering

#14121 Update Loop Video stories
  dotcom-rendering/src/components/LoopVideo.stories.tsx
Labels: dotcom-rendering, fronts + curation

#14120 Remove the trail that has branding from trail list if user is ad free
  dotcom-rendering/src/components/FetchOnwardsData.importable.tsx
  dotcom-rendering/src/components/OnwardsUpper.importable.tsx
Labels: dotcom-rendering

#14084 Add Article Docs To Dev Server
  dotcom-rendering/src/devServer/docs/article.tsx
  dotcom-rendering/src/devServer/routers/amp.ts
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/liveApps.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Labels: dotcom-rendering

#14092 Add Tag Page Docs To Dev Server
  dotcom-rendering/src/devServer/docs/tagPage.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Labels: dotcom-rendering

#14132 Fix choice card width from desktop
  dotcom-rendering/src/components/marketing/banners/ThreeTierChoiceCardsV2.tsx
  dotcom-rendering/src/components/marketing/banners/designableBanner/DesignableBannerV2.tsx
Labels: dotcom-rendering

#14139 Rejig Datawrapper dark mode flag check
  dotcom-rendering/src/components/InteractiveBlockComponent.importable.tsx
Labels: dotcom-rendering

#14096 Add Football Docs To Dev Server
  dotcom-rendering/src/devServer/docs/footballFixtures.tsx
  dotcom-rendering/src/devServer/docs/footballLive.tsx
  dotcom-rendering/src/devServer/docs/footballMatchSummary.tsx
  dotcom-rendering/src/devServer/docs/footballResults.tsx
  dotcom-rendering/src/devServer/docs/footballTables.tsx
  dotcom-rendering/src/devServer/routers/dotcom.ts
  dotcom-rendering/src/devServer/routers/pages.ts
Labels: dotcom-rendering

#14137 Add gallery sub meta
  dotcom-rendering/src/components/SubMeta.stories.tsx
  dotcom-rendering/src/components/SubMeta.tsx
  dotcom-rendering/src/layouts/GalleryLayout.tsx
  dotcom-rendering/src/paletteDeclarations.ts
Labels: dotcom-rendering

#14095 Add Editions Crosswords To Pages Router
  dotcom-rendering/src/devServer/routers/pages.ts
Labels: dotcom-rendering
